---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=ABC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '47'
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"type":"https://api.va.gov/services/direct-deposit-management/v1/api-schema/errors/constraint-violation","title":"Invalid
        field value","status":400,"detail":"getDirectDeposit.icn size must be between
        17 and 17, getDirectDeposit.icn must match \"^\\d{10}V\\d{6}$\"","instance":"98943542-d84e-48d4-abe7-873070c6a0fd","errorCodes":[]}'
  recorded_at: Mon, 20 Feb 2023 18:45:14 GMT
recorded_with: VCR 6.1.0
