---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '7'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"paymentAccount":{"accountType":"CHECKING","accountNumber":"1234567890","financialInstitutionRoutingNumber":"031000503","financialInstitutionName":"WELLS
        FARGO BANK"},"controlInformation":{"canUpdateDirectDeposit":false,"isCorpAvailable":true,"isCorpRecFound":true,"hasNoBdnPayments":true,"hasIndentity":true,"hasIndex":true,"isCompetent":false,"hasMailingAddress":true,"hasNoFiduciaryAssigned":false,"isNotDeceased":false,"hasPaymentAddress":true}}'
  recorded_at: Thu, 23 Feb 2023 21:47:59 GMT
recorded_with: VCR 6.1.0
