---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '12'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://api.va.gov/services/direct-deposit-management/errors/generic/not-found","title":"Person
        for ICN not found","status":404,"detail":"No data found for ICN","instance":"d85cfe9b-b45b-11ed-b321-67bbb4ad9331"}'
  recorded_at: Fri, 24 Feb 2023 15:56:49 GMT
recorded_with: VCR 6.1.0
