---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments/42081
    body:
      encoding: UTF-8
      string: '{"status":"cancelled","cancellationReason":"test cancellation"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - e46197780b765eed-e52c800c0708ed27-1
      X-Vamf-Build:
      - e208742
      X-Vamf-Timestamp:
      - '2021-08-03T18:59:01+0000'
    body:
      encoding: UTF-8
      string: '{"id":"42081","kind":"clinic","status":"cancelled","serviceType":"type","patientIcn":"1012845331V153043","locationId":"983","reason":"5","requestedPeriods":[{"start":"2021-09-09T12:00:00Z","end":"2021-09-09T23:59:59.999Z"}],"contact":{"telecom":[{"type":"phone","value":"111-222-333"}]},"cancellable":true}'
  recorded_at: Wed, 11 Aug 2021 01:50:18 GMT
recorded_with: VCR 6.0.0
