---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments?end=2022-07-03T04:00:00Z&pageSize=0&start=2021-06-04T04:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html
      Etag:
      - '"601db677-1493"'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 400,
          "message" : "missing required parameter",
          "errorCode" : 1001,
          "detail" : "end",
          "meta" : { }
        }
  recorded_at: Mon, 24 May 2021 22:35:19 GMT
recorded_with: VCR 6.0.0