---
http_interactions:
  - request:
      method: get

      uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments?end=2022-12-01T19:45:00Z&pageSize=0&start=2022-01-01T19:25:00Z
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.14.1
        B3:
          - 8c17e441da8d346f6934d442b0a0ac7c-e1581452019f7fc4-0
        X-Vamf-Build:
          - 20a82ca
        X-Vamf-Timestamp:
          - '2021-11-26T16:29:10+0000'
      body:
        encoding: UTF-8
        string: '{"data": [
          {
            "id":"76131",
            "identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id", "value":"28b565a0-64ef-4e13-82c5-aec4c41071c5"}],
            "kind":"clinic",
            "status":"booked",
             "location_id":"438",
             "clinic":"16",
             "start":"2022-01-23T21:03:00Z",
             "end":"2022-01-23T21:23:00Z",
             "minutes_duration":20,
             "comment":"Test2 - 1/23/2022 - CLINIC_BASED - Farid",
             "cancellable":true,
             "patient_instruction":"this is a test of instruction",
             "telehealth":{"group":false, "vvs_kind":"CLINIC_BASED"},
             "extension":{"cc_location":{"address":{}}}
            },
            {
              "id":"76132",
              "identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id", "value":"deda8593-5500-4a7c-ab75-ad266d6af8e8"}],
              "kind":"cc",
              "status":"proposed",
              "patient_icn":"1012853802V084487",
              "location_id":"442",
              "clinic":"5079",
              "practitioners":[{"identifier":[{"system":"us-npi", "value":"1407938061"}]}],
              "start":"2022-01-24T21:03:00Z",
              "end":"2022-01-24T21:23:00Z",
              "minutes_duration":20,
              "comment":"Test3 - 1/23/2022 - CLINIC_BASED - Farid", "cancellable":true, "patient_instruction":"this is a test of instruction",
              "telehealth":{"group":false, "vvs_kind":"CLINIC_BASED"},
              "extension":{"cc_location":{"address":{}}}
            },
            {
              "id":"76133",
              "identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id", "value":"ed1c8182-c92f-403f-8eac-104f9eb79963"}],
              "kind":"clinic",
              "status":"booked",
              "service_type":"optometry",
              "patient_icn":"1012853802V084487",
              "location_id":"984",
              "clinic":"1184",
              "practitioners":[{"identifier":[{"system":"dfn-983", "value":"520647609"}], "name":{"family":"ENGHAUSER", "given":["MATTHEW"]}, "practice_name":"Site #983"}],
              "start":"2022-01-25T21:03:00Z",
              "end":"2022-01-25T21:23:00Z",
              "minutes_duration":20,
              "comment":"Test4 - 1/23/2022 - CLINIC_BASED - Farid",
              "cancellable":true,
              "patient_instruction":"this is a test of instruction",
              "telehealth":{"group":false, "vvs_kind":"CLINIC_BASED"},
              "extension":{"cc_location":{"address":{}}}
            }
        ]}'
    recorded_at: Mon, 13 Dec 2021 23:28:26 GMT
recorded_with: VCR 6.0.0