---
http_interactions:
- request:
    method: get
    uri: <VA_MOBILE_URL>/vaos/v1/patients/1012846043V576341/appointments/70060
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.14.1
      B3:
      - 8c17e441da8d346f6934d442b0a0ac7c-e1581452019f7fc4-0
      X-Vamf-Build:
      - 20a82ca
      X-Vamf-Timestamp:
      - '2021-11-26T16:29:10+0000'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"70060","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/ars/id","value":"8a4890c47da65e2b017db59b20500000"}],"kind":"clinic","status":"booked","serviceType":"socialWork","reasonCode":{"text":"text"},"patientIcn":"1012846043V576341","locationId":"983GB","created":"2021-12-13T14:03:02Z","start":"2023-10-13T15:00:00Z","end":"2023-10-13T16:00:00Z","contact":{"telecom":[{"type":"email","value":"C_Natalie.Yun@cerner.com"},{"type":"phone","value":"2566832029"}]},"preferredTimesForPhoneCall":["Morning"],"cancellationReason":{"code":"other"},"cancellable":true,"extension":{"ccLocation":{"address":{}}}}}'
  recorded_at: Mon, 13 Dec 2021 23:28:26 GMT
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983GB",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone": {
              "zoneId": "America/New_York",
              "abbreviation": "EDT"
          },
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
- request:
    method: get
    uri: https://oitdvrappclin04.r01.med.va.gov/avs/api/avs-by-appointment/983/11667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":null,"stationNo":"983","dateCreated":1698866335429,"dateModified":null,"sid":"C46E12AA7582F5714716988663350853","generatedDate":"2023-11-01T18:18:55Z","appointmentIens":["11667"],"icn":"1012845331","data":null}]'
  recorded_at: Thu, 30 Nov 2023 21:21:44 GMT
recorded_with: VCR 6.0.0
