---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments?end=2022-12-01T19:45:00Z&pageSize=0&start=2022-01-01T19:25:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - eyJhbGciOiJSUzUxMiJ9.eyJhdXRoZW50aWNhdGVkIjp0cnVlLCJsYXN0TmFtZSI6Ik1vcnJpc29uIiwic3ViIjoiMTAxMjg0NTMzMVYxNTMwNDMiLCJhdXRoZW50aWNhdGlvbkF1dGhvcml0eSI6Imdvdi52YS52YW9zIiwiZ2VuZGVyIjoiRkVNQUxFIiwiaXNzIjoiZ292LnZhLnZhbWYudXNlcnNlcnZpY2UudjIiLCJ2YW1mLmF1dGgucmVzb3VyY2VzIjpbIl4uKihcLyk_c2l0ZVtzXT9cLyhkZm4tKT85ODRcL3BhdGllbnRbc10_XC81NTIxNjEwNTBcL2FwcG9pbnRtZW50cyhcLy4qKT8kIiwiXi4qKFwvKT9zaXRlW3NdP1wvKGRmbi0pPzk4M1wvcGF0aWVudFtzXT9cLzcyMTY2OTFcL2FwcG9pbnRtZW50cyhcLy4qKT8kIiwiXi4qKFwvKT9wYXRpZW[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=1081
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
      Etag:
      - '"5fa5087d-3d6"'
    body:
      encoding: UTF-8
      string: '<html>\r\n<head><title>500 Internal Server Error</title></head>\r\n<body>\r\n<center><h1>500 Internal Server Error/html>\r\n'
  recorded_at: Wed, 28 Apr 2021 19:07:17 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=621
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - 767bf549f7976703-4d836145f32de0f1-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true}]}'
  recorded_at: Fri, 14 May 2021 03:20:45 GMT
[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/984/clinics?clinicIds=3009
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - 767bf549f7976703-4d836145f32de0f1-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true}]}'
  recorded_at: Fri, 14 May 2021 03:20:45 GMT
  recorded_with: VCR 6.0.0
