---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments?end=2022-07-03T04:00:00Z&pageSize=0&start=2021-05-04T04:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.6.0
      B3:
      - 5f31a12369db0823-95f66e05e7e0d3b3-1
      X-Vamf-Build:
      - 36e545f
      X-Vamf-Timestamp:
      - '2021-05-29T19:44:21+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"20953","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2021-05-04T14:00:00Z","end":"2021-05-04T14:15:00Z","minutesDuration":15,"slot":{"id":"3230323130353034313430303A323032313035303431343135","start":"2021-05-04T14:00:00Z","end":"2021-05-04T14:15:00Z"}},{"id":"20954","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2021-05-04T14:15:00Z","end":"2021-05-04T14:30:00Z","minutesDuration":15,"slot":{"id":"3230323130353034313431353A323032313035303431343330","start":"2021-05-04T14:15:00Z","end":"2021-05-04T14:30:00Z"}},{"id":"20955","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"457","start":"2021-05-04T18:00:00Z","end":"2021-05-04T18:20:00Z","minutesDuration":20,"slot":{"id":"3230323130353034313830303A323032313035303431383230","start":"2021-05-04T18:00:00Z","end":"2021-05-04T18:20:00Z"},"comment":"New
        issue: dsgdfg"},{"id":"20956","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"308","start":"2021-05-04T20:00:00Z","end":"2021-05-04T20:20:00Z","minutesDuration":20,"slot":{"id":"3230323130353034323030303A323032313035303432303230","start":"2021-05-04T20:00:00Z","end":"2021-05-04T20:20:00Z"},"comment":"Medication
        concern: ddgf"},{"id":"20957","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2021-05-05T14:15:00Z","end":"2021-05-05T14:30:00Z","minutesDuration":15,"slot":{"id":"3230323130353035313431353A323032313035303531343330","start":"2021-05-05T14:15:00Z","end":"2021-05-05T14:30:00Z"}},{"id":"20958","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"981","start":"2021-05-05T16:15:00Z","end":"2021-05-05T16:45:00Z","minutesDuration":30,"slot":[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments?end=2022-07-03T04:00:00Z&pageSize=0&start=2021-05-04T04:00:00Z&statuses=proposed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.6.0
      B3:
      - d34edd70f0f2d131-acc6d48c9133f596-1
      X-Vamf-Build:
      - 36e545f
      X-Vamf-Timestamp:
      - '2021-05-29T19:44:21+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"23952","kind":"cc","status":"proposed","patientIcn":"1012845331V153043","locationId":"983","practitioners":[],"requestedPeriods":[{"start":"2021-05-26T15:12:00Z"}],"contact":{"telecom":[{"type":"phone","value":"123-123-1234"},{"type":"email","value":"foo@foo.com"}]}},{"id":"24955","kind":"cc","status":"proposed","patientIcn":"1012845331V153043","locationId":"983","practitioners":[],"requestedPeriods":[{"start":"2021-06-15T16:00:00Z"}],"contact":{"telecom":[{"type":"phone","value":"2125688889"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]}},{"id":"25954","kind":"cc","status":"proposed","patientIcn":"1012845331V153043","locationId":"983","practitioners":[],"requestedPeriods":[{"start":"[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments?end=2022-07-03T04:00:00Z&pageSize=0&start=2021-05-04T04:00:00Z&statuses=proposed,booked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.7.0
      B3:
      - e09b1dbe9a202fc8-7d20c2bac61205b5-1
      X-Vamf-Build:
      - e5ba679
      X-Vamf-Timestamp:
      - '2021-07-06T21:32:07+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"32075","kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","telehealth":{"url":"https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000415415@care2.evn.va.gov&pin=869715#&aid=a5dffa35-c805-4db9-9281-6d247c54cfa9"},"start":"2021-06-02T19:50:00Z","end":"2021-06-02T20:10:00Z","minutesDuration":20},{"id":"32076","kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","telehealth":{"url":"https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000415416@care2.evn.va.gov&pin=824734#&aid=189faec6-2506-4547-[...]
