---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/users/v2/session?processRules=true
    body:
      encoding: US-ASCII
      string: stubbed_token
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Vamf-Version:
      - 2.21.0
      B3:
      - c82f6fc4c2cea59d2e38549f7fabce4a-22b181c02b890f40-0
      X-Vamf-Build:
      - 2f031a0
      X-Vamf-Timestamp:
      - '2022-09-13T04:28:02+0000'
    body:
      encoding: UTF-8
      string: stubbed_token
  recorded_at: Thu, 08 Dec 2022 18:25:14 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/vaos/v1/patients/1012846043V576341/appointments/95058
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.24.6
      B3:
      - 38ab4e478c9287565d67a6d5170f649d-b8ef647b3f582620-0
      X-Vamf-Build:
      - b8a8e1d
      X-Vamf-Timestamp:
      - '2022-12-07T19:37:27+0000'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"95058","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/hsrm/id","value":"256471||226||1"},{"system":"http://hl7.org/fhir/sid/us-npi","value":"1346206547"}],"kind":"cc","status":"cancelled","serviceTypes":[{"text":"Eye
        Care Examination SEOC 1.3.10 PRCT"}],"description":"Eye Care Examination SEOC
        1.3.10 PRCT","patientIcn":"1012846043V576341","locationId":"984","practitioners":[{"name":{"family":"HEALTH
        CARE PROFS","given":["A & D"]}}],"start":"2022-04-29T15:30:00Z","created":"2022-04-14T20:24:44Z","cancelationReason":{"coding":[{"system":"http://terminology.hl7.org/CodeSystem/appointment-cancellation-reason","code":"prov","display":"The
        appointment was cancelled by the community provider"}]},"cancellable":false,"extension":{"ccLocation":{"address":{"line":["1601
        Needmore Rd Ste 1"],"city":"Dayton","state":"OH","postalCode":"45414","text":"1601
        Needmore Rd Ste 1\nDayton OH 45414"},"telecom":[{"system":"phone","value":"9372366750"}]},"hsrmTaskId":"","hsrmConsultId":"984_643675","ccTreatingSpecialty":"Home
        Health"}}}'
  recorded_at: Thu, 08 Dec 2022 18:25:15 GMT
recorded_with: VCR 6.1.0
