---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments?end=2121-09-02T00:00:00Z&pageSize=0&start=1921-09-02T00:00:00Z
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.12.1
        B3:
          - fb5e01cb7d2f4995-d9e83a83cc4e7326-1
        X-Vamf-Build:
          - 661c259
        X-Vamf-Timestamp:
          - "2021-11-01T15:35:46+0000"
      body:
        encoding: UTF-8
        string: '{
          "data":[
            {
              "id":"37060",
              "identifier":[
                {
                  "system":"http://med.va.gov/fhir/urn/vaos/vista/984/appointment/id",
                  "value":"3583;20210902.100000"
                }
              ],
              "referralID": "ref-122",
              "kind":"clinic",
              "status":"cancelled",
              "created":"2021-09-01T12:00:00Z",
              "serviceType":"audiology",
              "patientIcn":"1012845331V153043",
              "locationId":"984",
              "clinic":"3583",
              "start":"2021-09-02T14:00:00Z",
              "cancellationReason":{"code":"other"},
              "cancelationReason":{
                "coding":[
                  {
                    "system":"http://terminology.hl7.org/CodeSystem/appointment-cancellation-reason",
                    "code":"pat","display":"The appointment was cancelled by the patient"
                  }
                ]
              },
              "cancellable":false
            },
            {
              "id":"32237",
              "identifier":[
                {
                  "system":"http://med.va.gov/fhir/urn/vaos/vista/983/appointment/id",
                  "value":"707;20210903.094500"
                }
              ],
              "referralID": "ref-121",
              "kind":"clinic",
              "status":"cancelled",
              "created":"2021-09-01T12:00:00Z",
              "serviceType":"foodAndNutrition",
              "pat[...]
