---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/users/v2/session?processRules=true
    body:
      encoding: US-ASCII
      string: stubbed_token
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Vamf-Version:
      - 2.21.0
      B3:
      - c8f3e6e6237e7a16b3ac89339a03bbae-398ca2be15a91b5f-0
      X-Vamf-Build:
      - 2f031a0
      X-Vamf-Timestamp:
      - '2022-09-13T04:28:02+0000'
    body:
      encoding: UTF-8
      string: stubbed_token
  recorded_at: Thu, 08 Dec 2022 18:19:07 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/vaos/v1/patients/1012846043V576341/appointments?end=2022-12-01T19:45:00Z&pageSize=0&start=2022-01-01T19:25:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.24.6
      B3:
      - 44c12299b32c4f5468c059f37c9f312d-ef31f287e09c64d6-0
      X-Vamf-Build:
      - b8a8e1d
      X-Vamf-Timestamp:
      - '2022-12-07T19:37:27+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"71083","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"5b5085c9-93c3-4db0-9966-898aeae4956f"}],"kind":"telehealth","status":"booked","patientIcn":"1012846043V576341","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520647592"}],"name":{"family":"Killingsworth","given":["Rachel"]},"practiceName":"Cheyenne
        VA Medical Center"}],"start":"2022-01-03T16:30:00Z","end":"2022-01-03T16:50:00Z","minutesDuration":20,"cancellable":true,"patientInstruction":"","telehealth":{"url":"https://dev.care.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000417967@dev.care.va.gov&pin=231674&aid=5b5085c9-93c3-4db0-9966-898aeae4956f#","group":true,"vvsKind":"ADHOC"},"extension":{"ccLocation":{"address":{}}}},{"id":"71084","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"d86a6b5b-b8c4-4f65-b927-813dab3bd292"}],"kind":"telehealth","status":"booked","patientIcn":"1012846043V576341","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520647592"}],"name":{"family":"Killingsworth","given":["Rachel"]},"practiceName":"Cheyenne
        VA Medical Center"}],"start":"2022-01-03T23:35:00Z","end":"2022-01-03T23:55:00Z","minutesDuration":20,"cancellable":[...]
