---
http_interactions:
- request:
    method: get
    uri: <VA_MOBILE_URL>/vaos/v1/patients/1012845331V153043/appointments?end=2023-10-13T17:45:00Z&pageSize=0&start=2023-10-13T14:25:00Z&statuses=booked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"192308","identifier":[{"system":"Appointment/","value":"413938333131363637"},{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_84","value":"983:11667"}],"kind":"clinic","status":"booked","serviceType":"outpatientMentalHealth","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code":"outpatientMentalHealth"}]}],"serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"SERVICE
        CONNECTED","display":"SERVICE CONNECTED"}],"text":"SERVICE CONNECTED"}],"patientIcn":"1012845331V153043","locationId":"983","clinic":"1049","start":"2023-10-13T15:00:00Z","end":"2023-10-13T16:00:00Z","minutesDuration":60,"slot":{"id":"3230323331303133313530303A323032333130313331363030","start":"2023-10-13T15:00:00Z","end":"2023-10-13T16:00:00Z"},"created":"2023-11-01T00:00:00Z","cancellable":true,"extension":{"ccLocation":{"address":{}},"vistaStatus":["CHECKED
        OUT"],"preCheckinAllowed":false,"eCheckinAllowed":true}}]}'
  recorded_at: Thu, 30 Nov 2023 21:21:43 GMT
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone" : {
            "timeZoneId" : "America/Denver"
          },
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Thu, 30 Nov 2023 21:21:43 GMT
- request:
    method: get
    uri: https://oitdvrappclin04.r01.med.va.gov/avs/api/avs-by-appointment/983/11667
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":null,"stationNo":"983","dateCreated":1698866335429,"dateModified":null,"sid":"C46E12AA7582F5714716988663350853","generatedDate":"2023-11-01T18:18:55Z","appointmentIens":["11667"],"icn":"1012845331","data":null}]'
  recorded_at: Thu, 30 Nov 2023 21:21:44 GMT
recorded_with: VCR 6.2.0
