---
http_interactions:
- request:
    method: get
    uri: <VA_MOBILE_URL>/vaos/v1/patients/1012846043V576341/appointments?end=2022-12-01T19:45:00Z&pageSize=0&start=2022-01-01T19:25:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - e1836f37ef12a997-bd3cba28a9b29067-1
      X-Vamf-Build:
      - e208742
      X-Vamf-Timestamp:
      - '2021-08-03T18:59:01+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"32066","kind":"clinic","status":"cancelled","patientIcn":"1012846043V576341","locationId":"983","clinic":"1081","start":"2021-05-20T14:00:00Z","cancellable":false},{"id":"32067","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"621","start":"2021-05-20T14:10:00Z","end":"2021-05-20T14:20:00Z","minutesDuration":10,"slot":{"id":"3230323130353230313431303A323032313035323031343230","start":"2021-05-20T14:10:00Z","end":"2021-05-20T14:20:00Z"},"cancellable":true},{"id":"32068","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2021-05-25T14:30:00Z","end":"2021-05-25T14:45:00Z","minutesDuration":15,"slot":{"id":"3230323130353235313433303A323032313035323531343435","start":"2021-05-25T14:30:00Z","end":"2021-05-25T14:45:00Z"},"cancellable":true},{"id":"32069","kind":"clinic","status":"cancelled","patientIcn":"1012845331V153043","locationId":"983","clinic":"455","start":"2021-05-26T16:15:00Z","cancellable":false},{"id":"32070","kind":"clinic","patientIcn":"1012845331V153043","locationId":"983","clinic":"455","start":"2021-05-26T20:15:00Z","end":"2021-05-26T21:15:00Z","minutesDuration":60,"slot":{"id":"3230323130353236323031353A323032313035323632313135","start":"2021-05-26T20:15:00Z","end":"2021-05-26T21:15:00Z"},"comment":"testing","cancellable":true},{"id":"32071","kind":"clinic","status":"cancelled","patientIcn":"1012845331V153043","locationId":"983","clinic":"707","start":"2021-05-28T16:45:00Z","cancellable":false},{"id":"32072","kind":"clinic","status":"cancelled","patientIcn":"1012845331V153043","locationId":"983","clinic":"3009","start":"2021-06-01T18:00:00Z","cancellable":false},{"id":"32073","kind":"clinic","status":"cancelled","patientIcn":"1012845331V153043","locationId":"983","clinic":"408","start":"2021-06-02T16:00:00Z","cancellable":false},{"id":"32074","kind":"clinic","status":"cancelled","patientIcn":"1012845331V153043","locationId":"983","clinic":"1111","start":"2021-06-02T16:30:00Z","cancellable":false},{"id":"32075","kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","telehealth":{"url":"https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000415415@care2.evn.va.gov&pin=869715#&aid=a5dffa35-c805-4db9-9281-6d247c54cfa9"},"practitioners":[{"id":{"system":"dfn-983","value":"520647797"},"firstName":"ELIZABETH","lastName":"WODZINSKI","practiceName":"CHEYENNE
        VAMC"}],"start":"2021-06-02T19:50:00Z","end":"2021-06-02T20:10:00Z","minutesDuration":20,"cancellable":true},{"id":"32076","kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","telehealth":{"url":"https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000415416@care2.evn.va.gov&pin=824734#&aid=189faec6-2506-4547-abff-fe641bba21aa"},"practitioners":[{"id":{"system":"dfn-983","value":"520647797"},"firstName":"ELIZABETH","las[...]
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
        - application/json
      X-Vamf-Jwt:
        - stubbed_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
        - text/html
      Etag:
        - '"5fa5087d-3d6"'
    body:
      encoding: UTF-8
      string: '<html>\r\n<head><title>500 Internal Server Error</title></head>\r\n<body>\r\n<center><h1>500 Internal Server Error/html>\r\n'
  recorded_at: Wed, 28 Apr 2021 19:07:17 GMT
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "984",
          "vistaSite" : "984",
          "vastParent" : "984",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
recorded_with: VCR 6.0.0
