---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments?end=2022-12-01T19:45:00Z&pageSize=0&start=2022-01-01T19:25:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.26.0
      X-Vamf-Build:
      - 943102a
      X-Vamf-Timestamp:
      - '2023-02-21T16:43:02+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"111086","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"cb9d2736-043b-494f-b5bf-620747b00cd7"}],"kind":"telehealth","status":"booked","patientIcn":"1012846043V576341","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520648527"}],"name":{"family":"Vyas","given":["Bhavna"]},"practiceName":"Cheyenne
        WY VAMC"}],"start":"2022-06-27T19:05:00Z","end":"2022-06-27T19:25:00Z","minutesDuration":20,"comment":"PID","cancellable":true,"patientInstruction":"","telehealth":{"url":"https://dev.care.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC000420273@dev.care.va.gov&pin=693528&aid=cb9d2736-043b-494f-b5bf-620747b00cd7#","group":false,"vvsKind":"ADHOC"},"extension":{"ccLocation":{"address":{}}}},{"id":"121113","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"faa4c70d-a5f5-4cb1-bc7c-1a7ceed279e2"}],"kind":"telehealth","status":"booked","patientIcn":"1012846043V576341","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520648527"}],"name":{"family":"Vyas","given":["Bhavna"]},"practiceName":"Cheyenne
        WY VAMC"}],"start":"2022-08-01T20:20:00Z","end":"2022-08-01T20:40:00Z","minutesDuration":20,"comment":"PID test","cancellabl[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone": {
            "zoneId": "America/New_York",
            "abbreviation": "EDT"
          },
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983GC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vam[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vam[...]
[...]
