---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments/20029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed-token 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.5.0
      B3:
      - c2a3004a1beb43de-deb64eb06ddd3f21-1
      X-Vamf-Build:
      - d8af5ed
      X-Vamf-Timestamp:
      - '2021-05-24T22:00:44+0000'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20029","kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","telehealth":{"url":"https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VAC00064863@care2.evn.va.gov&pin=2059245058#"},"start":"2020-06-18T17:00:00Z","end":"2020-06-18T17:20:00Z","minutesDuration":20}}'
  recorded_at: Wed, 26 May 2021 22:11:30 GMT
recorded_with: VCR 6.0.0
