---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments?end=2023-10-13T17:45:00Z&pageSize=0&start=2023-10-13T14:25:00Z&statuses=booked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.12.1
      B3:
      - 565aaaf5cfb58329-a1b19247ccdeab16-1
      X-Vamf-Build:
      - 661c259
      X-Vamf-Timestamp:
      - '2021-11-01T15:35:46+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"159472","identifier":[{"system":"urn:va.gov:masv2:cerner:appointment","value":"523938333130383130"}],"kind":"clinic","status":"booked","serviceType":"socialWork","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code":"socialWork"}]}],
        "patientIcn":"1012845331V153043","locationId":"983","start":"2023-02-04T00:00:00Z","created":"2023-02-03T00:00:00Z","requestedPeriods":[{"start":"2023-02-04T00:00:00Z","end":"2023-02-04T00:00:00Z"}],"cancellable":true},{"id":"159473","identifier":[{"system":"http://vista-scheduling-provider-v1.sqa/vistasp/v1/Appointment/","value":"523938333130383130"}],"kind":"clinic","status":"proposed","serviceType":"covid","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code":"primaryCare"}]}],"serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"REGULAR",
        "display":"REGULAR"}],"text":"REGULAR"}],
        "patientIcn":"1012845331V153043","locationId":"983","start":"2023-02-04T00:00:00Z","created":"2021-09-01T00:00:00Z","requestedPeriods":[{"start":"2023-02-04T00:00:00Z","end":"2023-02-04T00:00:00Z"}],"cancellable":true}]}'
  recorded_at: Thu, 04 Nov 2021 20:02:42 GMT
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/984GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:[...]
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983HK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:[...]
- request:
    method: get
    uri: <VA_MOBILE_URL>/facilities/v2/facilities/983GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:[...]
- request:
    method: get
    uri: <MHV_UHD_HOST>/v1/medicalrecords/appointments/159472/avs?patientId=1012846043V576341
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
            "apptId" : "12345",
            "id" : "15249638961",
            "name" : "Ambulatory Visit Summary",
            "loincCodes" : %w[4189669 96345-4],
            "noteType" : "ambulatory_patient_summary",
            "contentType" : "application/pdf",
            }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
recorded_with: VCR 6.0.0