---
http_interactions:
- request:
    method: get
    uri: <VA_MOBILE_URL>/vaos/v1/patients/care-nav-patient-casey/appointments?end=2022-09-02T00:00:00Z&pageSize=0&start=2020-09-02T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.26.0
      X-Vamf-Build:
      - 943102a
      X-Vamf-Timestamp:
      - '2023-02-21T16:43:02+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"91114","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"82fe6aff-7cf1-49ed-b493-bbda69c86146"}],"kind":"telehealth","status":"booked","patientIcn":"1012846043V576341","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520647614"}],"name":{"family":"Parker","given":["Dale"]},"practiceName":"Cheyenne
        VA Medical Center"}],"start":"2022-04-07T18:50:00Z","end":"2022-04-07T19:10:00Z","minutesDuration":20,"cancellable":true,"patientInstruction":"","telehealth":{"url":"https://pexip.mapsandbox.net/vvc-app/?join=1&media=1&escalate=1&conference=VAC000419282@pexip.mapsandbox.net&pin=110019&aid=82fe6aff-7cf1-49ed-b493-bbda69c86146#","group":true,"vvsKind":"ADHOC"},"extension":{"ccLocation":{"address":{}}}},{"id":"153426","identifier":[{"system":"Appointment/","value":"4139383337353435"}],"kind":"clinic","status":"cancelled","serviceType":"optometry","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code":"optometry"}]}],"serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"REGULAR","display":"REGULAR"}],"text":"REGULAR"}],"patientIcn":"1012846043V576341","locationId":"983","clinic":"408","start":"2022-04-13T16:25:00Z","end":"2022-04-13T16:55:00Z","cancelationReason":{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409.2","code":"pat","display":"The
        appointment was cancelled by the patient"}]},"cancellable":false,"extension":{"ccLocation":{"address":{}}}},{"id":"153427","identifier":[{"system":"Appointment/","value":"4139383337353434"}],"kind":"clinic","status":"cancelled","serviceType":"outpatientMentalHealth","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code"[...]
