---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/care-nav-patient-casey/appointments?end=2121-09-02T00:00:00Z&pageSize=0&start=1921-09-02T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":401,"status":401,"message":"JWT validation failed","id":"84881c88-0079-47c2-bcf6-6c9a81c258ed","traceId":"e8e27ba550e34ebf0deddc4674f39291"}'
  recorded_at: Thu, 02 Sep 2021 14:00:00 GMT
recorded_with: VCR 6.3.1
