---
http_interactions:
- request:
    method: post
    uri: <VA_MOBILE_URL>/vpg/v1/patients/1012846043V576341/appointments
    body:
      encoding: UTF-8
      string: '{"kind":"clinic","status":"booked","locationId":"983","clinic":"999","slot":{"id":"3230323231313330323034353A323032323131333032313030"},"reasonCode":{"text":"testing","coding":[{"code":"Routine
        Follow-up"}]},"extension":{"desiredDate":"2022-11-29T17:00:00-07:00"},"patientIcn":"1012846043V576341"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.23.1
      B3:
      - 9386e780c6e24ce819013350157327bc-3637f2cce7a14a9d-0
      X-Vamf-Build:
      - 31af686
      X-Vamf-Timestamp:
      - '2022-10-20T16:55:11+0000'
    body:
      encoding: UTF-8
      string: '{"id":"139064","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vista/983/appointment/id","value":"999;20221130.134500"}],"kind":"clinic","status":"booked","serviceType":"optometry","serviceTypes":[{"coding":[{"system":"http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type","code":"optometry"}]}],"serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"REGULAR","display":"REGULAR"}],"text":"REGULAR"}],"reasonCode":{"text":"Routine Follow-up: testing"},"patientIcn":"1012846043V576341","locationId":"983","clinic":"455","start":"2022-11-30T20:45:00Z","end":"2022-11-30T21:00:00Z","minutesDuration":15,"slot":{"id":"3230323231313330323034353A323032323131333032313030","start":"2022-11-30T20:45:00Z","end":"2022-11-30T21:00:00Z"},"comment":"Routine Follow-up: testing","cancellable":true, "telehealth":{"url":"https://pexip.mapsandbox.net/vvc-app/?join=1&media=1&escalate=1&conference=VAC000420576@pexip.mapsandbox.net&pin=955191&aid=d9824ec6-1cd2-4875-b8d1-1775c4322572#","atlas":{"siteCode":"VFW-VA-20151-05","confirmationCode":"788926","address":{"streetAddress":"14850 Conference Center Dr","city":"Chantilly","state":"VA","zipCode":"20151","country":"USA","latitutde":38.87426,"longitude":-77.46,"additionalDetails":""}},"group":false,"vvsKind":"ADHOC"}, "extension":{"ccLocation":{"address":{}}}}'
  recorded_at: Thu, 20 Oct 2022 22:21:59 GMT
recorded_with: VCR 6.1.0
