---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/users/v2/session?processRules=true
    body:
      encoding: US-ASCII
      string: stubbed_token
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Vamf-Version:
      - 2.17.0
      B3:
      - fc96f6dfe52e150cd80457c66f877859-e4e357b812cb2dae-0
      X-Vamf-Build:
      - c1d728e
      X-Vamf-Timestamp:
      - '2022-01-26T00:17:41+0000'
    body:
      encoding: UTF-8
      string: stubbed_token 
  recorded_at: Tue, 22 Feb 2022 16:44:15 GMT
- request:
    method: post
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments
    body:
      encoding: UTF-8
      string: '{"kind":"cc","status":"proposed","locationId":"983","contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"serviceType":"podiatry","requestedPeriods":[{"start":"2021-06-15T12:00:00.000+00:00","end":"2021-06-15T23:59:00.000+00:00"}],"preferredLanguage":"English","preferredTimesForPhoneCall":["Morning"],"preferredLocation":{"city":"Helena","state":"MT"},"comment":"test","patientIcn":"1012846043V576341"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.15.2
      B3:
      - 7b067f9bb4ccf1298960b1c0a93050b2-c3797f966ce1a49e-0
      X-Vamf-Build:
      - c9a85ac
      X-Vamf-Timestamp:
      - '2022-01-28T19:18:54+0000'
    body:
      encoding: UTF-8
      string: '{"id":"81053","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/hsrm/id","value":"11990"}],"kind":"cc","status":"proposed","serviceType":"podiatry","patientIcn":"1012846043V576341","locationId":"983","created":"2022-02-22T16:44:00Z","requestedPeriods":[{"start":"2021-06-15T12:00:00Z"}],"contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"preferredLocation":{"city":"Helena","state":"MT"},"cancellationReason":{"code":"other"},"comment":"test","preferredLanguage":"English","cancellable":true,"extension":{"ccLocation":{"address":{}}}}'
  recorded_at: Tue, 22 Feb 2022 16:44:36 GMT
recorded_with: VCR 6.0.0
