---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments
    body:
      encoding: UTF-8
      string: '{"kind":"clinic","status":"booked","locationId":"983","clinic":"1020","slot":{"id":"3230323230313236313530303A323032323031323631363030"},"extension":{"desiredDate":"2022-01-20T00:00:00+00:00"},"patientIcn":"1012846043V576341"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.14.1
      B3:
      - c84348edcd96e433-f89e3637ae93b244-1
      X-Vamf-Build:
      - 20a82ca
      X-Vamf-Timestamp:
      - '2021-11-26T16:29:10+0000'
    body:
      encoding: UTF-8
      string: '{"code":403,"message":"User is not authorized to access requested resource.","traceId":"c84348edcd96e433"}'
  recorded_at: Fri, 14 Jan 2022 18:23:59 GMT
recorded_with: VCR 6.0.0
