---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments
    body:
      encoding: UTF-8
      string: '{"kind":"cc","status":"proposed","locationId":"983","contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"serviceType":"podiatry","requestedPeriods":[{"start":"2021-06-15T12:00:00.000+00:00","end":"2021-06-15T23:59:00.000+00:00"}],"preferredLanguage":"English","practitioners":[{"identifier":[{"system":"http://hl7.org/fhir/sid/us-npi","value":"1407938061"}],"address":{"type":"postal","line":["38143
        Martha Ave"],"city":"Fremont","state":"CA","postalCode":"94536","country":"USA","text":"test"}}],"preferredTimesForPhoneCall":["Morning"],"preferredLocation":{"city":"Helena","state":"MT"},"description":"details","comment":"test","patientIcn":"1012846043V576341"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.16.0
      B3:
      - ce9a36164206a70fe2055c76b4026fa1-ddbbc966d35aec22-0
      X-Vamf-Build:
      - a527c78
      X-Vamf-Timestamp:
      - '2022-02-25T14:31:55+0000'
    body:
      encoding: UTF-8
      string: '{"id":"82087","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/hsrm/id","value":"12007"}],"kind":"cc","status":"proposed","serviceType":"podiatry","patientIcn":"1012846043V576341","locationId":"983","created":"2022-02-28T18:33:00Z","requestedPeriods":[{"start":"2021-06-15T12:00:00Z"}],"contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"preferredLocation":{"city":"Helena","state":"MT"},"cancellationReason":{"code":"other"},"comment":"test","preferredLanguage":"English","cancellable":true,"extension":{"ccLocation":{"address":{}},"hsrmTaskId":"12007"}}'
  recorded_at: Mon, 28 Feb 2022 18:33:42 GMT
recorded_with: VCR 6.0.0
