---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012846043V576341/appointments
    body:
      encoding: UTF-8
      string: '{"kind":"cc","status":"proposed","locationId":"983","contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"serviceType":"podiatry","requestedPeriods":[{"start":"2021-06-15T12:00:00.000+00:00","end":"2021-06-15T23:59:00.000+00:00"}],"preferredLanguage":"English","practitioners":[{"identifier":[{"system":"test","value":"test"},{"system":"test2","value":"test2"}],"name":{"family":"test","given":["test"]},"firstName":"deprecated","lastName":"deprecated","practiceName":"deprecated"}],"preferredLocation":{"city":"Helena","state":"MT"},"comment":"test","patientIcn":"1012845331V153043"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.15.0
      B3:
      - eac7783ecc4945822d673eef6ab31276-6315445baabcc2b1-0
      X-Vamf-Build:
      - 6a7a966
      X-Vamf-Timestamp:
      - '2021-12-21T15:40:26+0000'
    body:
      encoding: UTF-8
      string: '{"id":"71080","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/hsrm/id","value":"11787"}],"kind":"cc","status":"proposed","serviceType":"podiatry","patientIcn":"1012845331V153043","locationId":"983","practitioners":[],"created":"2022-01-03T17:07:14.058317Z","requestedPeriods":[{"start":"2021-06-15T12:00:00Z"}],"contact":{"telecom":[{"type":"phone","value":"2125688887"},{"type":"email","value":"judymorisooooooooooooon@gmail.com"}]},"preferredLocation":{"city":"Helena","state":"MT"},"cancellationReason":{"code":"other"},"comment":"test","preferredLanguage":"English","cancellable":true,"extension":{"ccLocation":{"address":{}}}}'
  recorded_at: Mon, 03 Jan 2022 17:07:14 GMT
recorded_with: VCR 6.0.0
