---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments/1121
    body:
      encoding: UTF-8
      string: '{"status":"pending"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>400 Bad Request</title></head>\r\n<body>\r\n<center><h1>400
        Bad Request</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 10 May 2021 17:26:36 GMT
recorded_with: VCR 6.0.0
