---
http_interactions:
- request:
    method: post
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/2.16.840.1.113883.4.349/1012852978V019884%5ENI%5E200M%5EUSVHA%5EP"
    body:
      encoding: UTF-8
      string: '{"bio":{"sourceDate":"2018-04-09T17:52:03Z"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
        "bio":{
          "vet360Id":323,
          "addresses":[],
          "telephones":[],
          "emails":[],
          "sourceSystem":"VET360-TEST-PARTNER",
          "sourceDate":"2018-04-21T19:51:43Z"
        }
      }'
  recorded_at: Wed, 25 Apr 2018 17:17:06 GMT
recorded_with: VCR 3.0.3
