---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/power-of-attorney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '119'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Reset:
      - '48'
      X-Git-Sha:
      - db04366355debd8256ff9eb53bb5ef62c8417d22
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Not authorized","status":"401","detail":"Not authorized"}]}'
  recorded_at: Mon, 01 Apr 2024 00:47:13 GMT
recorded_with: VCR 6.2.0
