---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/1012666073V986297/power-of-attorney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '119'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Reset:
      - '37'
      X-Git-Sha:
      - 11de6c4d9dc0e22795b79e94395598e9c7e0fc3c
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Not authorized","status":"401","detail":"Not authorized"}]}'
  recorded_at: Tue, 02 Apr 2024 14:18:24 GMT
recorded_with: VCR 6.2.0
