---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/power-of-attorney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '119'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Unprocessable entity","status":"422","detail":"Could not retrieve Power of Attorney due to multiple representatives with code: A1Q","source":{"pointer":"/modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb:112:in `representative`"}}]}'
  recorded_at: Tue, 02 Apr 2024 14:30:58 GMT
recorded_with: VCR 6.2.0
