---
http_interactions:
  - request:
      method: get
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/1/addresses/status/1f450c8e-4bb2-4f5d-a5f3-0d907941625a
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Vet360txauditid:
          - 1f450c8e-4bb2-4f5d-a5f3-0d907941625a
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
          	"tx_audit_id": "1f450c8e-4bb2-4f5d-a5f3-0d907941625a",
          	"status": "COMPLETED_SUCCESS",
          	"tx_status": "COMPLETED_SUCCESS",
          	"tx_type": "PUSH",
          	"tx_interaction_type": "ATTENDED",
          	"tx_push_input": {
          		"source_date": "2020-12-04T18:58:35Z",
          		"originating_source_system": "VETSGOV",
          		"source_system_user": "1012829932V238054",
          		"effective_start_date": "2020-12-04T18:58:35Z",
          		"vet360_id": 1411910,
          		"address_id": 199433,
          		"address_type": "DOMESTIC",
          		"address_pou": "CORRESPONDENCE",
          		"address_line1": "531 Arbolado Dr",
          		"city_name": "Fullerton",
          		"state_code": "CA",
          		"zip_code5": "92835",
          		"county": {
          		},
          		"country_name": "United States",
          		"country_code_iso3": "USA"
          	},
          	"tx_output": [
          		{
          			"create_date": "2020-10-02T20:02:57Z",
          			"update_date": "2020-12-04T18:58:36Z",
          			"tx_audit_id": "1f450c8e-4bb2-4f5d-a5f3-0d907941625a",
          			"source_system": "VETSGOV",
          			"source_date": "2020-12-04T18:58:35Z",
          			"originating_source_system": "VETSGOV",
          			"source_system_user": "1012829932V238054",
          			"effective_start_date": "2020-12-04T18:58:35Z",
          			"vet360_id": 1411910,
          			"address_id": 199433,
          			"address_type": "Domestic",
          			"address_pou": "CORRESPONDENCE",
          			"address_line1": "531 Arbolado Dr",
          			"city_name": "Fullerton",
          			"state_code": "CA",
          			"zip_code5": "92835",
          			"zip_code4": "1803",
          			"county": {
          				"county_name": "Orange County",
          				"county_code": "06059"
          			},
          			"country_name": "United States",
          			"country_code_fips": "US",
          			"country_code_iso2": "US",
          			"country_code_iso3": "USA",
          			"confidence_score": "100",
          			"latitude": "33.9093",
          			"longitude": "-117.9221",
          			"geocode_precision": "31",
          			"geocode_date": "2020-12-04T18:58:36Z"
          		}
          	]
          }
    recorded_at: Thu, 16 Jan 2020 03:26:45 GMT
recorded_with: VCR 5.0.0
