---
http_interactions:
  - request:
      method: get
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/status/d8951c96-5b8c-42ea-9fbe-e656941b7236
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Vet360txauditid:
          - bff7b3ab-acd7-4bf4-bebc-389c8ec65588
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
          	"txAuditId": "d8951c96-5b8c-42ea-9fbe-e656941b7236",
          	"status": "COMPLETED_SUCCESS",
            "tx_status": "COMPLETED_SUCCESS",
            "tx_type": "PUSH",
          	"txInteractionType": "ATTENDED",
          	"txPushInput": {
              "source_date": "2021-03-03T09:18:38Z"
          	}
          }
    recorded_at: Thu, 16 Jan 2020 03:15:06 GMT
recorded_with: VCR 5.0.0
