---
http_interactions:
  - request:
      method: post
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/addresses
      body:
        encoding: UTF-8
        string: '{"bio":{"addressId":null,"addressLine1":"1493 Martin Luther King Rd","addressLine2":null,"addressLine3":null,"addressPOU":"RESIDENCE/CHOICE","addressType":"DOMESTIC","cityName":"Fulton","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"MS","zipCode5":"38843","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Vet360txauditid:
          - 329c5738-54a8-4f4c-aebf-05050bb6cd0e
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
            "tx_audit_id": "1f450c8e-4bb2-4f5d-a5f3-0d907941625a",
            "status":"RECEIVED"
          }
    recorded_at: Fri, 10 Jan 2020 20:54:35 GMT
recorded_with: VCR 5.0.0
