---
http_interactions:
  - request:
      method: post
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/telephones
      body:
        encoding: UTF-8
        string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":"VETSGOV","phoneNumber":"5551234","phoneNumberExt":null,"phoneType":"MOBILE","sourceDate":"2018-04-09T11:52:03.000-06:00","sourceSystemUser":"1234","telephoneId":null,"textMessageCapableInd":true,"textMessagePermInd":true,"ttyInd":true,"vet360Id":"1","voiceMailAcceptableInd":true,"effectiveStartDate":null,"effectiveEndDate":null}}'
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Vet360txauditid:
          - fec22ac8-a201-4857-ac53-dfcfcdbede4b
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
          	"txAuditId": "c3c6502d-f660-409c-9bc9-a7b7ce4f0bc5",
          	"status": "RECEIVED"
          }
    recorded_at: Fri, 10 Jan 2020 20:54:24 GMT
recorded_with: VCR 5.0.0
