---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Location/393833
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.4.0
      X-Vamf-Build:
      - 648792d
      X-Vamf-Timestamp:
      - '2020-05-10T21:31:24+0000'
      Content-Location:
      - https://veteran.apps-staging.va.gov/vsp/v1/Location/393833
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Location",
          "id": "393833",
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier</td><td>983</td></tr><tr><td>Identifier</td><td>urn:va:facility:983</td></tr><tr><td>Name</td><td>Cheyenne VA Medical Center</td></tr><tr><td>Description</td><td></td></tr></tbody></table></div>"
          },
          "identifier": [
            {
              "system": "urn:oid:2.16.840.1.113883.6.233",
              "value": "983"
            },
            {
              "system": "http://med.va.gov/fhir/urn",
              "value": "urn:va:facility:983"
            }
          ],
          "name": "Cheyenne VA Medical Center",
          "telecom": [
            {
              "system": "phone",
              "value": "307-778-7550"
            },
            {
              "system": "other",
              "value": "https://www.cheyenne.va.gov/locations/directions.asp"
            }
          ],
          "address": {
            "line": [
              "2360 East Pershing Boulevard"
            ],
            "city": "Cheyenne",
            "state": "WY",
            "postalCode": "82001-5356"
          },
          "managingOrganization": {
            "reference": "Organization/393833"
          }
        }
  recorded_at: Tue, 19 May 2020 02:42:53 GMT
recorded_with: VCR 5.1.0
