---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Location/353000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.4.0
      X-Vamf-Build:
      - 648792d
      X-Vamf-Timestamp:
      - '2020-05-10T21:31:24+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "OperationOutcome",
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Resource https://veteran.apps-staging.va.gov/vsp/v1/Location/353000 is not known</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
          },
          "issue": [
            {
              "severity": "error",
              "code": "processing",
              "diagnostics": "Resource https://veteran.apps-staging.va.gov/vsp/v1/Location/353000 is not known"
            }
          ]
        }
  recorded_at: Tue, 19 May 2020 02:54:46 GMT
recorded_with: VCR 5.1.0
