apiVersion: v2
name: vets-api
description: A Helm chart for Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

# 0.7.8 version is only for helm101-prod. DO NOT USE THIS VERSION FOR ANY OTHER ENV.
# 0.9.0 clamav
# 0.9.11 broken
# 0.9.14 remove cors
# 0.10.0 sidekiq datadog hpa
# 0.10.14 - only for dev
# 0.10.17 - web services maxReplicas and maxSurge
# 0.10.22 - Use readiness http host and allow disabling the livenessProbe
# 0.11.00 - Enabled cron jobs
# 0.11.04 - add terminationGracePeriodSeconds for server
# 0.11.05 - add configmap for readiness probe - pod saturation
# 0.11.09 - add startup probe
# 0.11.12 - TCP liveness probe
# 0.11.13 - Remove host from IngressRoute matches
# 0.11.16 - Service Container names
# 0.11.17 - puma scaling
# 0.11.22 - puma scaling - averageTargetValue
# 0.11.23 - puma scaling - targetValue - Works!
# 0.11.24 - sidekiq scaling - targetValue - USE THIS VERSION
# 0.11.25 - sidekiq postStart command
# 0.11.26 - Trying clamav mirror
# 0.11.27 - Removed sidekiq postStart command
# 0.11.28 - clamav volumes
# 0.11.29 - Remove volumes - http readiness
# 0.11.32 - removed sticky session value
# 0.11.33 - preStop lifecycle hook
# 0.11.34 - preStop command
# 0.11.36 - startupProbe
# 0.11.37 - prometheus scrape annotations
# 0.11.38 - prometheus scrape annotations syntax fix
# 0.11.39 - cronjob volumes and mounts - donot use
# 0.11.40 - fix cronjob
version: 0.11.40

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.0.0"
