apiVersion: v2
name: vets-api
description: A Helm chart for Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

# 0.7.8 version is only for helm101-prod. DO NOT USE THIS VERSION FOR ANY OTHER ENV.
# 0.9.0 clamav
# 0.9.11 broken
# 0.9.14 remove cors
# 0.10.0 sidekiq datadog hpa
# 0.10.14 - only for dev
# 0.10.17 - web services maxReplicas and maxSurge 0.10.22 - Use readiness http host and allow disabling the livenessProbe
# 0.11.00 - Enabled cron jobs
# 0.11.04 - add terminationGracePeriodSeconds for server
# 0.11.05 - add configmap for readiness probe - pod saturation
# 0.11.09 - add startup probe
# 0.11.12 - TCP liveness probe
# 0.11.13 - Remove host from IngressRoute matches
# 0.11.16 - Service Container names
# 0.11.17 - puma scaling
# 0.11.22 - puma scaling - averageTargetValue
# 0.11.23 - puma scaling - targetValue - Works!
# 0.11.24 - sidekiq scaling - targetValue - USE THIS VERSION
# 0.11.25 - sidekiq postStart command
# 0.11.26 - Trying clamav mirror
# 0.11.27 - Removed sidekiq postStart command
# 0.11.28 - clamav volumes
# 0.11.29 - Remove volumes - http readiness
# 0.11.32 - removed sticky session value
# 0.11.33 - preStop lifecycle hook
# 0.11.34 - preStop command
# 0.11.36 - startupProbe
# 0.11.37 - prometheus scrape annotations
# 0.11.38 - prometheus scrape annotations syntax fix
# 0.11.39 - cronjob volumes and mounts - donot use
# 0.11.41 - fix cronjob
# 0.11.41 - use min for pool capacity
# 0.11.42 - stabilization
# 0.11.43 - stabilization version
# 0.11.44 - UNDO
# 0.11.45 - Sum the hpa threads
# 0.11.46 - Values clean up
# 0.11.47 - Remove Sidekiq resource limits
# 0.11.48 - Sidekiq failurethresholds
# 0.11.49 - Sidekiq Alive unique queue names
# 0.11.50 - Sidekiq Alive unique queue names for server pods
# 0.11.51 - Set startupProbe to false
# 0.11.52 - ClamAV Private Mirror
# 0.11.53 - Manual pod roll annotation
# 0.11.54 - Fix pod roll annotation
# 0.11.55 - ClamAV Command. Removed roll annotation.
# 0.12.00 - ClamAV Mirror service and deployment.
# 0.12.01 - ClamAV Mirror Network Policy
# 0.12.02 - Fixed clamav mirror bugs
# 0.12.03 - Removed clamav mirror volume mounts
# 0.12.04 - Allow to disable clamav mirror socat proxy
# 0.12.05 - Remove clamav mirror volumes
# 0.12.06 - Remove clamav command
# 0.12.07 - update traefik name for preview-environment - broken do not use
# 0.12.08 - update traefik name for preview-environment
# 0.12.09 - Removed clamav mirror
# 0.12.10 - sync preStop with terminationGracePeriodSeconds
# 0.12.11 - Fixed HPA metrics
# 0.12.12 - Attempt #2 for rollup HPA metrics
# 0.12.13 - Attempt #3 for rollup HPA metrics
# 0.12.14 - Reverted rollup HPA metrics
# 0.12.15 - Reverted 12.07 and 12.08 IngressRoute modifications
# 0.12.16 - HPA autoscaling/v2
# 0.12.17 - SUM HPA metrics
# 0.12.18 - Disable common configmaps
# 0.12.19 - Condensed value secrets
# 0.12.20 - Reverted 12.18 and 12.19 modifications
# 0.12.21 - Implemented parent null values
# 0.12.22 - datadog metric prune false
# 0.12.23 - datadog metric delete false
# 0.12.24 - datadog metric delete/prune false
# 0.12.25 - datadog metric remove presync
# 0.12.26 - testing datadog metric change - DO NOT USE
# 0.12.27 - Resources added to bulk head web services pod containers reverted 0.12.26
# 0.12.28 - HPA settings to scale up quickly, and down slowly for web apps
# 0.12.29 - Parameterize HPA settings for scaling up and scaling down
# 0.12.30 - Correct HPA references
# 0.13.0  - New readinessProbe: is_ready command
# 0.13.1  - Add BACKLOG_POD for a 20% chance of always ready
# 0.13.2  - HPA settings to scale up quickly, and down slowly for workers
# 0.13.3  - Sidekiq Utilization HPA
# 0.13.4  - Set KUBE_DEPLOYMENT ENV Var to bulkhead name
# 0.13.5  - Fix bulkhead env var field value not supported
# 0.14.0  - Update HPA to only account for available replicas
# 0.14.1  - Allow scaleUp/scaleDown to fallback to default
# 0.15.0  - Inject normalized parameter store approach
# 0.15.1  - Debug version for testing common external secret
# 0.15.2  - adjust env var method to create relative path base3d on var name - add all 477 SSM environment vars
# 0.15.3  - adjust postman domain to be a direct URL pass in & removed SSM variables not in all environments
# 0.15.4  - fix expiry-scanner to use common volume mounts
# 0.15.5  - move dbMigrate, Clamav and mockData to Parent Helm chart
# 0.15.6  - move socat proxy definition to parent helm chart
# 0.15.7  - adjust common secret to pull from env_vars sub path
# 0.15.8  - adjust ImageMagick default Policy via volumes/volumeMount approach
# 0.15.9  - Fix issue with ImageMagick initContainers command
# 0.15.10  - Fix issue with ImageMagick initContainers command bin/rails
# 0.15.11  - Reformat initContainers command and args
# 0.15.12  - Discard ImageMagick k8s changes
# 0.15.13  - Add external secret that removes SETTINGS__ prefix for env var injection
# 0.15.14  - remove secret with SETTINGS__ prefix, as no longer used
# 0.15.15  - Add branch selector to mockData 
# 0.15.16  - Fix branch selector to mockData
# 0.15.17  - Set appname for all deployments
# 0.15.18  - traefik api version settable through values.yaml
# 0.15.19  - Set web.Service for all deployments
# 0.15.20  - Set web.socatProxyEnabled
# 0.15.21  - Move image value and pullPolicy to Parent Helm Chart
version: 0.15.21

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.0.0"
