---
http_interactions:
- request:
    method: post
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/claimType/Chapter1606/claimants/claimantId
    body:
      encoding: UTF-8
      string: '{"ssn":"796121200"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"claimantId":600000001}'
  recorded_at: Wed, 09 Feb 2022 12:00:00 GMT
- request:
    method: get
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/claimant/600000001/effectiveDate/2021-02-09/eligibility
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"veteranIsEligible":true,"chapter":"Chapter33"},{"veteranIsEligible":false,"chapter":"Chapter30"},{"veteranIsEligible":false,"chapter":"Chapter1606"}]'
  recorded_at: Mon, 11 Jul 2022 20:49:28 GMT
recorded_with: VCR 6.1.0
