---
http_interactions:
- request:
    method: post
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/claimType/Chapter1606/claimants
    body:
      encoding: UTF-8
      string: '{"ssn":"796126859"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"claimant":{"claimantId":600010259,"suffix":"","dateOfBirth":"1990-08-01","firstName":"Hector","lastName":"Allen","middleName":"James","notificationMethod":"NONE","contactInfo":{"addressLine1":"1291
        Boston Post Rd","addressLine2":"","city":"Madison","zipcode":"06443","emailAddress":"testing@test.com","addressType":"DOMESTIC","mobilePhoneNumber":"1231231234","homePhoneNumber":"1231231234","countryCode":"US","stateCode":"CT"},"preferredContact":null},"serviceData":[{"branchOfService":"Air
        Force","beginDate":"2010-06-01","endDate":"2020-06-01","characterOfService":"Honorable","reasonForSeparation":"Expiration
        Term Of Service","exclusionPeriods":[],"trainingPeriods":[]}]}'
  recorded_at: Mon, 11 Jul 2022 20:49:28 GMT
recorded_with: VCR 6.1.0
