---
http_interactions:
- request:
    method: post
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/utility/checkDuplicateContacts
    body:
      encoding: UTF-8
      string: '{"emails":["test@test.com"],"phones":["8013090123"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"emails": [{ "address": "test@test.com", "dupe": "false" }], "phones": [{ "number": "8013090123", "dupe": "false" }]}'
  recorded_at: Fri, 23 Jun 2023 13:06:30 GMT
recorded_with: VCR 6.1.0


