---
http_interactions:
- request:
    method: get
    uri: <LIGHTHOUSE_DIRECT_DEPOSIT_HOST>/services/direct-deposit-management/v1/direct-deposit?icn=123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '7'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"paymentAccount":{"accountType":"CHECKING","accountNumber":"1234567890","financialInstitutionRoutingNumber":"031000503","financialInstitutionName":"WELLS
        FARGO BANK"},"controlInformation":{"canUpdateDirectDeposit":true,"hasCpClaim":true,"hasCpAward":true,"isCorpAvailable":true,"isCorpRecFound":true,"hasNoBdnPayments":true,"hasIndentity":true,"hasIndex":true,"isCompetent":true,"hasMailingAddress":true,"hasNoFiduciaryAssigned":true,"isNotDeceased":true,"hasPaymentAddress":true,"isEduClaimAvailable":true}}'
  recorded_at: Thu, 23 Feb 2023 21:47:59 GMT
- request:
    method: post
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/claimType/Chapter33/claimsubmission
    body:
      encoding: UTF-8
      string: '{"claimant":{"claimantId":99900000200000000,"suffix":"","dateOfBirth":"1970-01-01","firstName":"Hoover","lastName":"Hoover","middleName":"Hoover","notificationMethod":"EMAIL","contactInfo":{"addressLine1":"503
        upper park","addressLine2":"","city":"falls church","zipcode":"22046","emailAddress":"hhover@test.com","addressType":"DOMESTIC","mobilePhoneNumber":"4409938894","homePhoneNumber":null,"countryCode":"US","stateCode":"VA"},"preferredContact":"EMAIL"},"relinquishedBenefit":{"effRelinquishDate":"2021-10-15","relinquishedBenefit":"Chapter30"},"additionalConsiderations":{"activeDutyKicker":"N/A","reserveKicker":"N/A","academyRotcScholarship":"YES","seniorRotcScholarship":"YES","activeDutyDodRepayLoan":"YES","terminalLeave":null},"comments":{"disagreeWithServicePeriod":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Dec 2021 14:30:12 GMT
recorded_with: VCR 6.1.0