---
http_interactions:
- request:
    method: post
    uri: https://jenkins.ld.afsp.io:32512/vets-service/v1/enrollment-verification
    body:
      encoding: UTF-8
      string: '{"enrollment_verifications": {"claimantId": 600000000,"enrollmentCertifyRequests": [{"claimantId": 600000000,"certifiedPeriodBeginDate": "2021-08-01","certifiedPeriodEndDate": "2021-08-31","certifiedThroughDate": "2021-08-31","certificationMethod": "MEB"},{"claimantId": 600000000,"certifiedPeriodBeginDate": "2021-09-01","certifiedPeriodEndDate": "2021-09-30","certifiedThroughDate": "2021-09-30","certificationMethod": "MEB"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"claimantId": 600000000,"enrollmentCertifyResponses": [{"claimantId": 600000000,"certifiedPeriodBeginDate": "2020-02-01","certifiedPeriodEndDate": "2020-02-31","certifiedThroughDate": "2022-01-31","certificationMethod": "MEB"},{"claimantId": 600000000,"certifiedPeriodBeginDate": "2020-01-01","certifiedPeriodEndDate": "2020-01-31","certifiedThroughDate": "2022-01-31","certificationMethod": "MEB"}]}'
  recorded_at: Tue, 22 Feb 2022 18:05:20 GMT
recorded_with: VCR 6.0.0