---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>5de66c7a-8c6d-4508-b4ce-83bea2900039</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISmilitaryOccupationRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1606109357</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISmilitaryOccupationRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getMilitaryOccupation/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
        xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
        xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v1"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>5de66c7a-8c6d-4508-b4ce-83bea2900039</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISmilitaryOccupationResponse
        xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1"><NS5:militaryOccupation
        xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v1">1606109357</NS6:edipi><NS7:keyData
        xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS7:personnelOrganizationCode>12</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>A</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>1</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:militaryOccupationData
        xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS8:occupationSegmentIdentifier>1</NS8:occupationSegmentIdentifier><NS8:dodOccupationType>101200</NS8:dodOccupationType><NS8:occupationType>D</NS8:occupationType><NS8:serviceSpecificOccupationType>3P031</NS8:serviceSpecificOccupationType><NS8:serviceOccupationDate>2003-08-31</NS8:serviceOccupationDate></NS8:militaryOccupationData></NS5:militaryOccupation></NS4:eMISmilitaryOccupationResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 19 Apr 2017 19:17:24 GMT
recorded_with: VCR 3.0.3
