---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/vba_documents/v1/uploads/report
    body:
      encoding: UTF-8
      string: '{"ids":[null,null]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Reset:
      - '43'
      Ratelimit-Limit:
      - '60'
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
      X-Git-Sha:
      - b301dea82b1e829ce5d29f356639a0539ddd97b7
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6d8433c1-cd55-4c24-affd-f592287a7572","type":"document_upload","attributes":{"guid":"6d8433c1-cd55-4c24-affd-f592287a7572","status":"vbms","code":"string","detail":"string","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/id-path-doesnt-matter","updated_at":"2018-07-30T17:31:15.958Z","uploaded_pdf":null}}]}'
  recorded_at: Tue, 12 Dec 2023 20:37:18 GMT
recorded_with: VCR 6.2.0
