---
http_interactions:
  - request:
      method: get
      uri: https://something.fake.va.gov/avs/9A7AF40B2BC2471EA116891839113252
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
          { 
            "data": {
              "header": {
                "timeZone": "US/Pacific"
              },
              "patientInfo": {
                "icn": "999999999999999"
              }
            }
          }
    recorded_at: Thu, 19 Nov 2020 16:45:03 GMT
recorded_with: VCR 6.0.0
