---
http_interactions:
  - request:
      method: get
      uri: https://api.wellhive.com/care-navigation/v1/appointments?patientId=1012846043V576341
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Wellhive-Trace-Id:
          - c9182a0e90280e7cc9ea83a192c1b787
      body:
        encoding: UTF-8
        string: '{
          "count": 4,
          "appointments": [
            {
              "id": "1hYAeJdx",
              "state": "completed",
              "patientId": "care-nav-patient-casey"
            },
            {
              "id": "-cvFNDP-",
              "state": "completed",
              "patientId": "care-nav-patient-casey"
            },
            {
              "id": "yyQYn7be",
              "state": "submitted",
              "patientId": "care-nav-patient-casey",
              "referral": {
                "referralNumber": "12345"
              },
              "providerServiceId": "DBKQ-123",
              "networkId": "sandbox-network-5vuTac8v",
              "slotIds": [
                "5vuTac8v-practitioner-8-role-1|9783e46c-efe2-462c-84a1-7af5f5f6613a|2024-11-18T13:30:00Z|30m0s|1733338893365|ov"
              ],
              "appointmentDetails": {
                "status": "booked",
                "start": "2024-11-18T13:30:00Z",
                "isLatest": false,
                "lastRetrieved": "2025-01-29T16:30:25Z"
              }
            },
            {
              "id": "AnODPGWR",
              "state": "completed",
              "patientId": "care-nav-patient-casey"
            },
            {
              "id": "w9L8qVbC",
              "state": "submitted",
              "patientId": "care-nav-patient-casey",
              "referral": {
                "referralNumber": "12345"
              },
              "providerServiceId": "DBKQ-456",
              "networkId": [...]
