---
http_interactions:
  - request:
      method: get
      uri: <VAOS_CCRA_API_URL>/vpg/v1/patients/1012846043V576341/appointments?end=2022-07-03T04:00:00Z&pageSize=0&start=2021-06-04T04:00:00Z
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.12.1
        B3:
          - fb5e01cb7d2f4995-d9e83a83cc4e7326-1
        X-Vamf-Build:
          - 661c259
        X-Vamf-Timestamp:
          - '2021-11-01T15:35:46+0000'
      body:
        encoding: UTF-8
        string: '{
          "data": [
            {
              "id": "186",
              "identifier": [
                {
                  "system": "http://med.va.gov/fhir/urn/vaos/vista/984/appointment/id",
                  "value": "3583;20210902.100000"
                }
              ],
              "kind": "clinic",
              "status": "booked",
              "created": "2021-09-01T12:00:00Z",
              "serviceType": "audiology",
              "patientIcn": "1012845331V153043",
              "locationId": "984",
              "clinic": "3583",
              "start": "2024-11-18T13:30:00Z",
              "cancellationReason": {
                "code": "other"
              },
              "cancelationReason": {
                "coding": [
                  {
                    "system": "http://terminology.hl7.org/CodeSystem/appointment-cancellation-reason",
                    "code": "pat",
                    "display": "The appointment was cancelled by the patient"
                  }
                ]
              },
              "cancellable": false,
              "referral": {
                "referralNumber": "1234567890"
              }
            },
            {
              "id": "32237",
              "identifier": [
                {
                  "system": "http://med.va.gov/fhir/urn/vaos/vista/983/appointment/id",
                  "value": "707;20210903.094500"
                }
              ],
              "kind": "clinic",
              "status": "booked",
              "created": "2021-09-01T12:00:00Z",
              "serviceType": "foodAndNutrition",
              "patientIcn": [...]
  - request:
      method: get
      uri: https://veteran.apps.va.gov/facilities/v2/facilities/983
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 2.8.0
        B3:
          - 531af1d2054d758c-b79b44f980a35120-0
        X-Vamf-Build:
          - '6026315'
        X-Vamf-Timestamp:
          - '2021-07-06T17:59:37+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "id" : "983",
            "vistaSite" : "983",
            "vastParent" : "983",
            "type" : "va_facilities",
            "name" : "Cheyenne VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone": {
                "zoneId": "America/New_York",
                "abbreviation": "EDT"
            },
            "lat" : 39.744507,
            "long" : -104.830956,
            "website" : "https://www.denver.va.gov/locations/directions.asp",
            "phone" : {
              "main" : "307-778-7550",
              "fax" : "307-778-7381",
              "pharmacy" : "866-420-6337",
              "afterHours" : "307-778-7550",
              "patientAdvocate" : "307-778-7550 x7517",
              "mentalHealthClinic" : "307-778-7349",
              "enrollmentCoordinator" : "307-778-7550 x7579"
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "2360 East Pershing Boulevard" ],
              "city" : "Cheyenne",
              "state" : "WY",
              "postalCode" : "82001-5356"
            },
            "mobile" : false,
            "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
            "operatingStatus" : {
              "code" : "NORMAL"
            }
          }
    recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
[...]
