---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v1/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Ssn:
      - '111223333'
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46b178ad8bb4e05c7320f42c3f5fa9fc"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"123C","type":"appeals","attributes":{"type":"original","active":true,"requested_hearing_type":null,"prior_decision_date":null,"events":[{"type":"ssoc","date":"2017-05-28"},{"type":"bva_final_decision","date":"2017-05-31"},{"type":"nod","date":"2017-06-04"},{"type":"form9","date":"2017-06-04"},{"type":"ssoc","date":"2017-06-04"},{"type":"soc","date":"2017-06-06"}]},"relationships":{"scheduled_hearings":{"data":[]}}}]}'
  recorded_at: Thu, 08 Jun 2017 14:21:02 GMT
recorded_with: VCR 3.0.3
