---
http_interactions:
  - request:
      method: post
      uri: https://vetext1.r01.med.va.gov/api/vetext/pub/mobile/push/send
      body:
        encoding: UTF-8
        string: '{"appSid":"mobile-app-sid","icn":"1008596379V859838","templateSid":"0EF7C8C9390847D7B3B521426EFF5814","personalization":{"%APPOINTMENT_DATE%":"DEC 14","%APPOINTMENT_TIME%":"10:00"}}'
      headers:
        Content-Type: "application/json"
    response:
      status:
        code: 200
        message: OK
      headers:
        content-language:
          - en-US
        content-type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
            "success": true
          }
    recorded_at: Tue, 15 Dec 2020 21:52:29 GMT
recorded_with: VCR 5.0.0
