<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Hello <%= user_hash['first_name'] %> <%= user_hash['last_name'] %></p>
    <p>You recently submitted an application to add or remove dependents from your VA benefits (VA Form 28-686c/674) on
      VA.gov. We’re sorry. Your application didn’t go through because of a technical problem on our end. You'll need to go
      back and apply again: https://va.gov/view-change-dependents/add-remove-form-686c/.</p>
    <p>Because of the issue, we won't be able to retrieve your application. If you have general questions about adding or
      removing dependents, you can call our toll-free hotline at 800-827-1000. We’re here Monday through Friday, 8:00 am to
      9:00 pm ET.</p>
    <p><i>Note: This is an automated message sent from an unmonitored email account.</i></p>
  </body>
</html>
