<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Dear <%= user.first_name %> <%= user.last_name %></p>
    <%= t( 'dependency_claim_failure_mailer.body_html' ) %>
  </body>
</html>
