<table>
  <tr>
    <th>File path</th>
    <th>Meta data</th>
    <th>Upload date</th>
  </tr>
  <% @failed_uploads.each do |failed_upload| %>
    <tr>
      <td>
        <%= ERB::Util.html_escape(failed_upload[:file_path]) %>
      </td>
      <td>
        <% if failed_upload[:document_hash].blank? %>
          Metadata not available
        <% else %>
          <ul>
            <% failed_upload[:document_hash].each do |k, v| %>
              <li>
                <%= ERB::Util.html_escape(k) %>:
                <%= ERB::Util.html_escape(v) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td>
        <%= ERB::Util.html_escape(failed_upload[:last_modified].to_s) %>
      </td>
    </tr>
  <% end %>
</table>
