<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Thank you for applying for VA health care benefits. We wanted to let you know that we got your application—and tell you about what happens next.
    </p>

    <h2>Information to keep for your records</h2>
    <b>We received your Application for VA Health Benefits (VA Form 10-10EZ) on: <%= ERB::Util.html_escape(DateTime.parse(@received_at).strftime('%A, %B %d, %Y at %I:%M:%S %p %Z')) %></b>
    <br>
    <b>Your confirmation number is: <%= ERB::Util.html_escape(@confirmation_number.to_s) %></b>
    <h2>When to expect your application decision</h2>
    <p>
    We’ll send you a letter in the mail to let you know if we’ve approved your application. This is called your decision notice. If your application is approved, we’ll also give you a call to welcome you to VA health care. 
    We usually make a decision in less than 1 week. If more than a week passes and you haven’t heard from us, please don’t apply again. Call our toll-free hotline at 1-877-222-VETS (1-877-222-8387). We’re here Monday through Friday, 8:00 a.m. to 8:00 p.m. (ET).
    </p>

    <h2>What to do after you get your decision notice</h2>
    <p>
    Visit Vets.gov to find out what to do after you get your notice.
    From our website, you can download a sample Veterans Health Benefits Handbook, find out what to do next, and learn more about your health benefits and services. You can also learn about what to do if your application isn’t approved and you disagree with the decision.
    <a href='https://www.vets.gov/health-care/after-you-apply/'>Find out what to do next</a>.
    </p>

    <p>
    Note: This is an automated email, so you can’t reply to us here. If you need to reach us, call us at 1-877-222-VETS (1-877-222-8387), Monday through Friday, 8:00 a.m. to 8:00 p.m. (ET).
    </p>
  </body>
</html>