<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We’re sorry. Your application for VA health care benefits didn’t go through, and you'll need to start over. Please go back to <a href="https://www.vets.gov/health-care/apply/application/introduction">Vets.gov</a> and apply again.
    </p>
	  <p>We’ll send you an email when we receive your application.</p>

	  <p><strong>Note:</strong> This is an automated email, so you can’t reply to us here. If you need to reach us, call us at <a href="tel:1-877-222-8387">1-877-222-VETS</a> (1-877-222-8387), Monday through Friday, 8:00 a.m. to 8:00 p.m. (ET).</p>
  </body>
</html>
