<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% if @submission.form_json.include? "VAMC_Hypertension_Rapid_Decision_Evidence.pdf" %>
        A single-issue hypertension claim for increase was submitted on va.gov.<br/>
        A health summary PDF was generated and added to the claim's documentation.
      <% else %>
        A single-issue hypertension claim for increase was submitted on va.gov.<br/>
        There was not sufficient data to generate a health summary PDF associated with this claim. 
      <% end %>
    </p>
      <table border="1" cellspacing="1" cellpadding="5">
        <thead>
          <tr>
            <td>Submission ID</td>
            <td>Benefit Claim Id</td>
            <td>Time Submission Was Made</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @submission.id %></td>
            <td><%= @submission.submitted_claim_id %></td>
            <td><%= @submission.created_at %></td>
          </tr>
        </tbody>
      </table>
    <p>
      
    </p>
  </body>
</html>
