<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A single-issue <%= @disability_code %> claim for increase was submitted on va.gov.<br/>
      <% case @rrd_status
         when :processed %>
        A health summary PDF was generated and added to the claim's documentation.
      <% when :pending_ep %>
        There was already a pending EP 020 for the veteran associated with this claim.
      <% when :insufficient_data %>
        There was not sufficient data to generate a health summary PDF associated with this claim. 
      <% end %>
    </p>
    <table border="1" cellspacing="1" cellpadding="5">
      <thead>
        <tr>
          <td>Benefit Claim Id</td>
          <td>Submission Date</td>
          <td>Submission Time</td>
          <td>Submission ID</td>
          <td>Number of BP readings</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @submission.submitted_claim_id %></td>
          <td><%= @submission.created_at.to_date %></td>
          <td><%= @submission.created_at.strftime '%H:%M:%S' %></td>
          <td><%= @submission.id %></td>
          <td><%= @bp_readings_count %></td>
        </tr>
      </tbody>
    </table>

    <p>
      (Note the time zone for Submission Date and Time: <%= @submission.created_at %>)
    </p>
  </body>
</html>
