<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Environment: <%= Settings.vsp_environment %><br/>
    Form526Submission.id: <%= @id %><br/>
    <br/>
    <%= @message %><br/>

    <br/>
    <%= "Error backtrace:\n #{@error.backtrace.join(",<br/>\n ")}" if @error %>
  </body>
</html>
