<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Environment: <%= Settings.vsp_environment %><br/>
    <p>
      A single-issue <%= @disability_struct[:label] %> (<%= @disability_code %>) claim for increase was submitted on va.gov.<br/>
      <% case @rrd_status
         when :processed %>
        A health summary PDF was generated and added to the claim's documentation.
      <% when :pending_ep %>
        There was already a pending EP 020 for the veteran associated with this claim.
      <% when :insufficient_data %>
        There was not sufficient data to generate a health summary PDF associated with this claim. 
      <% end %>
    </p>
    <table border="1" cellspacing="1" cellpadding="5">
      <thead>
        <tr>
          <td>Benefit Claim Id</td>
          <td>Submission Date</td>
          <td>Submission Time</td>
          <td>Submission ID</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @submission.submitted_claim_id %></td>
          <td><%= @submission.created_at.to_date %></td>
          <td><%= @submission.created_at.strftime '%H:%M:%S' %></td>
          <td><%= @submission.id %></td>
        </tr>
      </tbody>
    </table>

    <p>
      (Note the time zone for Submission Date and Time: <%= @submission.created_at %>)
    </p>
    <p>
      <li>Number of BP readings: <%= @bp_readings_count %></li>
      <li>RRD PDF created? <%= @submission.rrd_pdf_created? %></li>
      <li>RRD PDF uploaded to S3? <%= @submission.rrd_pdf_uploaded_to_s3? %>
          <% if @submission.rrd_pdf_uploaded_to_s3? %>
            -- S3 id: <%= @pdf_guid %>
          <% end %>
      </li>
      <li>RRD PDF to be uploaded? <%= @submission.rrd_pdf_added_for_uploading? %></li>
      <li>RRD special issue set? <%= @submission.rrd_special_issue_set? %></li>
    </p>
  </body>
</html>
