<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear VA School Certifying Official,</p>

    <p>
    A student enrolled at your school or training facility has applied for the Edith Nourse Rogers STEM Scholarship. The student will also receive a copy of this letter. We can't make a formal determination on the student's eligibility for the STEM Scholarship until we receive the following information from you.
    </p>

    <p>
      <b>Rogers STEM Scholarship Applicant</b>
      <br>
      Student's name: <%= first_initial_last_name(@applicant.veteranFullName) %>
      <br>
      Student's school email address: <%= @applicant.schoolEmailAddress %>
      <br>
      Student's school ID number: <%= @applicant.schoolStudentId %>
    </p>

    <p>
      <b>If the applicant is an undergraduate</b>
      <br>
      If the student is currently enrolled in an undergraduate program, please provide the following:
      <ul>
        <li>
        Is the student pursuing a bachelor's degree in an approved STEM program?
          (<a href="https://www.va.gov/resources/approved-fields-of-study-for-the-stem-scholarship?utm_source=confirmation_email&utm_medium=email&utm_campaign=stem_approved_programs">Programs approved for the Rogers STEM Scholarship</a>)
        </li>
        <li>Name of STEM program student is enrolled in:</li>
        <li>6-digit CIP Code for the program:</li>
        <li>Credit hours completed toward this STEM program (specify semester or quarter and exclude in-progress credits):</li>
        <li>Total required credits for STEM degree program (specify semester or quarter):</li>
      </ul>
    </p>
    <p>
    Note: If the student is enrolled in a dual degree program, at least one of the degrees must
      include an undergraduate degree in an approved STEM field. For dual degree programs, please provide
      the total credit hours required for the dual degree program as well as the credits completed toward
      the dual degree program when responding above.
    </p>

    <p>
      <b>If the applicant is a teaching certificate candidate</b>
      <br>
        If the student already has an undergraduate degree and is seeking a teaching certification, please provide the following:
        <ul>
        <li>
          Has the student earned a bachelor's degree in an approved STEM program?
          (<a href="https://www.va.gov/resources/approved-fields-of-study-for-the-stem-scholarship?utm_source=confirmation_email&utm_medium=email&utm_campaign=stem_approved_programs">Programs approved for the Rogers STEM Scholarship</a>)
        </li>
        <li>Name of STEM program of degree conferred:</li>
        <li>6-digit CIP Code of degree conferred:</li>
        <li>Is the student currently enrolled in a program leading to a teaching certification?</li>
        </ul>
    </p>
    <p>
      <b>If the applicant is in a clinical training program for health care professionals</b>
      </br>
      If the student already has a bachelor's or graduate degree and is pursuing a clinical training program, please provide the following:
      <ul>
        <li>
          Has the student earned a bachelor’s or graduate degree in an approved STEM program?
          (<a href="https://www.va.gov/resources/approved-fields-of-study-for-the-stem-scholarship?utm_source=confirmation_email&utm_medium=email&utm_campaign=stem_approved_programs">Programs approved for the Rogers STEM Scholarship</a>)
        </li>
        <li>Name of STEM program of degree conferred:</li>
        <li>
          Is the student currently pursuing a covered clinical training program for health care professionals?
          (<a href="https://www.va.gov/resources/approved-fields-of-study-for-the-stem-scholarship?utm_source=confirmation_email&utm_medium=email&utm_campaign=stem_approved_programs">Programs approved for the Rogers STEM Scholarship</a>)
        </li>
        <li>Total length of clinical training program (in months or years):</li>
        <li>Amount of clinical training program completed to date (in months or years):</li>
      </ul>
    </p>

    <p>
      <b>A reply is requested as soon as possible, preferably within 14 days.</b>
      Please submit your response to <a href="mailto:STEM.VBABUF@va.gov">STEM.VBABUF@va.gov</a>. If we don't receive a response, we won't be able to process the student's application for the Rogers STEM Scholarship, and we may follow up for the required information.
    </p>

    <p>Please submit any questions or concerns to <a href="mailto:STEM.VBABUF@va.gov">STEM.VBABUF@va.gov</a>.  Please account for the 14-day time request when submitting questions.</p>

    <p>Thank you,</p>

    <p>
      Rogers STEM Scholarship Team<br>
      VA Buffalo Regional Processing Office<br>
      <br>
      <br>
      VA Form Number: 22-10203<br>
      Respondent Burden: 15 minutes<br>
      OMB Control Number: 2900-0878<br>
      OMB Expiration Date: 6/30/2023<br>
      <a href="https://www.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/introduction#privacy_policy/?utm_source=confirmation_email&utm_medium=email&utm_campaign=privacy_policy">Privacy Act Statement (available online)</a><br>
    </p>
  </body>
</html>
