<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear STEM Scholarship applicant,</p>

    <p>Thank you for applying for the Edith Nourse Rogers STEM Scholarship.</p>

    <p>To check your application status, go to <a href="<%= your_claims_status_url %>"><%= your_claims_status_url %></a> and sign into our claim status tool.</p>

    <div style="background-color: #f1f1f1; display: inline-block; padding: 1em;">
      <p>
        <b>Your application details are below:</b>
        <p>Rogers STEM Scholarship application</p>
      </p>
      <p>
        <b>Date submitted</b>
        <br />
        <p><%= application_date %></p>
      </p>
    </div>

    <p>
      <p>Thank you for your service,</p>
      <p>Rogers STEM Scholarship Team</p>
      <p>VA Buffalo Regional Processing Office</p>
    </p>

    <hr>
    <p>You are receiving this email because we've made a decision on your application for the Rogers STEM Scholarship. Please do not reply to this email. If you need to contact us, please visit <a href="https://va.gov">https://va.gov</a>.</p>
  </body>
</html>
