<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= first_and_last_name(@applicant.veteranFullName) %>,</p>

    <p>We sent the email below to the School Certifying Official (SCO) at <%= @applicant.schoolName %> to gather information for your Edith Nourse Rogers STEM Scholarship application.</p>

    <p>We’ll follow-up with the SCO for any additional information we need when we process your application.</p>

    <p>Thank you,</p>

    <p>
      Rogers STEM Scholarship Team<br>
      VA Buffalo Regional Processing Office
    </p>

    <hr>
    <%= template(SchoolCertifyingOfficialsMailer::TEMPLATE) %>

  </body>
</html>
