<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear STEM Scholarship applicant,</p>

    <p>Thank you for applying for the Edith Nourse Rogers STEM Scholarship.</p>

    <p>To check your application status, go to <%= your_claims_status_url %> and sign into our claim status tool.</p>

    <div style="background: #f1f1f1">
      <p>
        <b>Your application details are below:</b>
        <p>Rogers STEM Scholarship application</p>
      </p>
      <p>
        <b>Date submitted</b>
        <br />
        <p><%= application_date %></p>
      </p>
    </div>

    <p>
      <p>Thank you for your service,</p>
      <p>Rogers STEM Scholarship Team</p>
      <p>VA Buffalo Regional Processing Office</p>
    </p>
  </body>
</html>
