<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <b>Submitted Application</b><br>
      Veteran's PID: <%= @pid %><br>
      Type of Form Submitted: 28-1900<br>
      Submitted Date: <%= @submission_date %><br>
    </p>
    <p>Sent from: VA.gov</p>
    <p><i>Note: This is an automated message sent from an unmonitored email account.</i></p>
  </body>
</html>
