---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>3f96ecd5-9e0e-492c-8182-73c663969c00</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISserviceEpisodeRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1005079124</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISserviceEpisodeRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getMilitaryServiceEpisodes/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:inputHeaderInfo
        xmlns:NS2="http://viers.va.gov/cdi/CDI/commonService/v1"><NS2:userId>vets.gov</NS2:userId><NS2:sourceSystemName>vets.gov</NS2:sourceSystemName><NS2:transactionId>3f96ecd5-9e0e-492c-8182-73c663969c00</NS2:transactionId></NS2:inputHeaderInfo></NS1:Header><NS1:Body><NS3:eMISserviceEpisodeResponse
        xmlns:NS3="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1"></NS3:eMISserviceEpisodeResponse></NS1:Body></NS1:Envelope>
  recorded_at: Thu, 08 Oct 2020 18:21:02 GMT
recorded_with: VCR 6.0.0
