---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>7587b425-7f07-4a03-b5e0-b85ad76f7ac5</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISserviceEpisodeRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1005123832</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISserviceEpisodeRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getMilitaryServiceEpisodes/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
        xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
        xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v1"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>7587b425-7f07-4a03-b5e0-b85ad76f7ac5</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISserviceEpisodeResponse
        xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1"><NS5:militaryServiceEpisode
        xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v1">1005123832</NS6:edipi><NS7:keyData
        xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS7:personnelOrganizationCode>11</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>A</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>2</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:militaryServiceEpisodeData
        xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS8:serviceEpisodeStartDate>1990-11-02</NS8:serviceEpisodeStartDate><NS8:serviceEpisodeTerminationReason>W</NS8:serviceEpisodeTerminationReason><NS8:branchOfServiceCode>A</NS8:branchOfServiceCode><NS8:personnelStatusChangeTransactionTypeCode>313</NS8:personnelStatusChangeTransactionTypeCode><NS8:narrativeReasonForSeparationCode>999</NS8:narrativeReasonForSeparationCode><NS8:mgadLossCategoryCode>11</NS8:mgadLossCategoryCode><NS8:payPlanCode>MO</NS8:payPlanCode><NS8:payGradeCode>05</NS8:payGradeCode><NS8:serviceRankNameCode>LTCOL</NS8:serviceRankNameCode><NS8:payGradeDate>2005-11-09</NS8:payGradeDate><NS8:activeDutyServiceAgreementQuantity>1</NS8:activeDutyServiceAgreementQuantity></NS8:militaryServiceEpisodeData></NS5:militaryServiceEpisode><NS9:militaryServiceEpisode
        xmlns:NS9="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS10:edipi xmlns:NS10="http://viers.va.gov/cdi/eMIS/commonService/v1">1005123832</NS10:edipi><NS11:keyData
        xmlns:NS11="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS11:personnelOrganizationCode>11</NS11:personnelOrganizationCode><NS11:personnelCategoryTypeCode>A</NS11:personnelCategoryTypeCode><NS11:personnelSegmentIdentifier>1</NS11:personnelSegmentIdentifier></NS11:keyData><NS12:militaryServiceEpisodeData
        xmlns:NS12="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS12:serviceEpisodeStartDate>1983-02-23</NS12:serviceEpisodeStartDate><NS12:serviceEpisodeEndDate>1988-10-04</NS12:serviceEpisodeEndDate><NS12:serviceEpisodeTerminationReason>S</NS12:serviceEpisodeTerminationReason><NS12:branchOfServiceCode>A</NS12:branchOfServiceCode><NS12:personnelStatusChangeTransactionTypeCode>313</NS12:personnelStatusChangeTransactionTypeCode><NS12:narrativeReasonForSeparationCode>999</NS12:narrativeReasonForSeparationCode><NS12:mgadLossCategoryCode>11</NS12:mgadLossCategoryCode><NS12:payPlanCode>MO</NS12:payPlanCode><NS12:payGradeCode>03</NS12:payGradeCode><NS12:serviceRankNameCode>CAPT</NS12:serviceRankNameCode><NS12:payGradeDate>1983-02-23</NS12:payGradeDate><NS12:activeDutyServiceAgreementQuantity>1</NS12:activeDutyServiceAgreementQuantity></NS12:militaryServiceEpisodeData></NS9:militaryServiceEpisode></NS4:eMISserviceEpisodeResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 29 Nov 2017 19:53:43 GMT
recorded_with: VCR 3.0.3
