---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>245e2072-c7a6-48f0-a429-549355af5cf9</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISserviceEpisodeRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1607472595</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISserviceEpisodeRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getMilitaryServiceEpisodes/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
        xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
        xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v1"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>245e2072-c7a6-48f0-a429-549355af5cf9</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISserviceEpisodeResponse
        xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1"><NS5:militaryServiceEpisode
        xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v1">1607472595</NS6:edipi><NS7:keyData
        xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS7:personnelOrganizationCode>22</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>V</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>1</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:militaryServiceEpisodeData
        xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS8:serviceEpisodeStartDate>2007-04-01</NS8:serviceEpisodeStartDate><NS8:serviceEpisodeEndDate>2016-06-01</NS8:serviceEpisodeEndDate><NS8:serviceEpisodeTerminationReason>S</NS8:serviceEpisodeTerminationReason><NS8:branchOfServiceCode>F</NS8:branchOfServiceCode><NS8:retirementTypeCode>B</NS8:retirementTypeCode><NS8:personnelProjectedEndDate>1990-02-22</NS8:personnelProjectedEndDate><NS8:personnelProjectedEndDateCertaintyCode>U</NS8:personnelProjectedEndDateCertaintyCode><NS8:dischargeCharacterOfServiceCode>K</NS8:dischargeCharacterOfServiceCode><NS8:honorableDischargeForVaPurposeCode>K</NS8:honorableDischargeForVaPurposeCode><NS8:personnelStatusChangeTransactionTypeCode>137</NS8:personnelStatusChangeTransactionTypeCode><NS8:narrativeReasonForSeparationCode>033</NS8:narrativeReasonForSeparationCode><NS8:post911GIBillLossCategoryCode>06</NS8:post911GIBillLossCategoryCode><NS8:mgadLossCategoryCode>08</NS8:mgadLossCategoryCode><NS8:activeDutyServiceAgreementQuantity>3</NS8:activeDutyServiceAgreementQuantity><NS8:initialEntryTrainingEndDate>1987-05-30</NS8:initialEntryTrainingEndDate><NS8:uniformServiceInitialEntryDate>1986-07-01</NS8:uniformServiceInitialEntryDate><NS8:militaryAccessionSourceCode>00</NS8:militaryAccessionSourceCode><NS8:personnelBeginDateSource>7</NS8:personnelBeginDateSource><NS8:personnelTerminationDateSourceCode>8</NS8:personnelTerminationDateSourceCode><NS8:activeFederalMilitaryServiceBaseDate>1987-02-22</NS8:activeFederalMilitaryServiceBaseDate><NS8:mgsrServiceAgreementDurationYearQuantityCode>4</NS8:mgsrServiceAgreementDurationYearQuantityCode><NS8:dodBeneficiaryTypeCode>07</NS8:dodBeneficiaryTypeCode><NS8:reserveUnderAge60Code>N</NS8:reserveUnderAge60Code></NS8:militaryServiceEpisodeData></NS5:militaryServiceEpisode><NS9:militaryServiceEpisode
        xmlns:NS9="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS10:edipi xmlns:NS10="http://viers.va.gov/cdi/eMIS/commonService/v1">1607472595</NS10:edipi><NS11:keyData
        xmlns:NS11="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS11:personnelOrganizationCode>22</NS11:personnelOrganizationCode><NS11:personnelCategoryTypeCode>V</NS11:personnelCategoryTypeCode><NS11:personnelSegmentIdentifier>1</NS11:personnelSegmentIdentifier></NS11:keyData><NS12:militaryServiceEpisodeData
        xmlns:NS12="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS12:serviceEpisodeStartDate>2000-02-01</NS12:serviceEpisodeStartDate><NS12:serviceEpisodeEndDate>2004-06-14</NS12:serviceEpisodeEndDate><NS12:serviceEpisodeTerminationReason>S</NS12:serviceEpisodeTerminationReason><NS12:branchOfServiceCode>F</NS12:branchOfServiceCode><NS12:retirementTypeCode>B</NS12:retirementTypeCode><NS12:personnelProjectedEndDate>1980-02-22</NS12:personnelProjectedEndDate><NS12:personnelProjectedEndDateCertaintyCode>U</NS12:personnelProjectedEndDateCertaintyCode><NS12:dischargeCharacterOfServiceCode>K</NS12:dischargeCharacterOfServiceCode><NS12:honorableDischargeForVaPurposeCode>K</NS12:honorableDischargeForVaPurposeCode><NS12:personnelStatusChangeTransactionTypeCode>137</NS12:personnelStatusChangeTransactionTypeCode><NS12:narrativeReasonForSeparationCode>033</NS12:narrativeReasonForSeparationCode><NS12:post911GIBillLossCategoryCode>06</NS12:post911GIBillLossCategoryCode><NS12:mgadLossCategoryCode>08</NS12:mgadLossCategoryCode><NS12:activeDutyServiceAgreementQuantity>3</NS12:activeDutyServiceAgreementQuantity><NS12:initialEntryTrainingEndDate>1987-05-30</NS12:initialEntryTrainingEndDate><NS12:uniformServiceInitialEntryDate>1986-07-01</NS12:uniformServiceInitialEntryDate><NS12:militaryAccessionSourceCode>00</NS12:militaryAccessionSourceCode><NS12:personnelBeginDateSource>7</NS12:personnelBeginDateSource><NS12:personnelTerminationDateSourceCode>8</NS12:personnelTerminationDateSourceCode><NS12:activeFederalMilitaryServiceBaseDate>1987-02-22</NS12:activeFederalMilitaryServiceBaseDate><NS12:mgsrServiceAgreementDurationYearQuantityCode>4</NS12:mgsrServiceAgreementDurationYearQuantityCode><NS12:dodBeneficiaryTypeCode>07</NS12:dodBeneficiaryTypeCode><NS12:reserveUnderAge60Code>N</NS12:reserveUnderAge60Code></NS12:militaryServiceEpisodeData></NS9:militaryServiceEpisode></NS4:eMISserviceEpisodeResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 19 Apr 2017 19:17:26 GMT
recorded_with: VCR 3.0.3
