---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointment-requests/system/var/id/8a4886886e4c8e22016ef6a8b1bf0396/messages
    body:
      encoding: UTF-8
      string: '{"messageText":"this is my third message","url":"","senderId":"1012845331V153043","appointmentRequestId":"8a4886886e4c8e22016ef6a8b1bf0396","messageDateTime":"","messageSent":true,"isLastMessage":true,"AppointmentRequestId":"8a4886886e4c8e22016ef6a8b1bf0396"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "requestObject" : {
            "dataIdentifier" : {
              "uniqueId" : "8a4886886e4c8e22016ef6a8b1bf0396",
              "systemId" : "var"
            },
            "patientIdentifier" : {
              "uniqueId" : "1012845331V153043",
              "assigningAuthority" : "ICN"
            },
            "surrogateIdentifier" : { },
            "messageText" : "this is my third message",
            "messageDateTime" : "12/11/2019 15:41:36",
            "senderId" : "1012845331V153043",
            "appointmentRequestId" : "8a4886886e4c8e22016ef6a8b1bf0396",
            "date" : "2019-12-11T15:41:36.534+0000",
            "patientId" : "1012845331V153043",
            "uniqueId" : "8a4886886e4c8e22016ef6a8b1bf0396",
            "assigningAuthority" : "ICN",
            "systemId" : "var",
            "objectType" : "VARAppointmentRequestMessage",
            "link" : [ ]
          },
          "errors" : [ {
            "fieldName" : "error",
            "errorMessage" : "Maximum allowed number of messages for this appointment request reached."
          } ],
          "objectType" : "ValidationErrors",
          "empty" : false
        }
  recorded_at: Wed, 11 Dec 2019 20:41:36 GMT
