---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointment-requests/system/var/id/8a4886886e4c8e22016ef6a8b1bf0396/messages
    body:
      encoding: UTF-8
      string: '{"messageText":"I want to see doctor Jeckyl please.","url":"","senderId":"1012845331V153043","appointmentRequestId":"8a4886886e4c8e22016ef6a8b1bf0396","messageDateTime":"","messageSent":true,"isLastMessage":true,"AppointmentRequestId":"8a4886886e4c8e22016ef6a8b1bf0396"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "dataIdentifier" : {
            "uniqueId" : "8a4886886e4c8e22016ef6b0b26a039b"
          },
          "patientIdentifier" : {
            "uniqueId" : "1012845331V153043",
            "assigningAuthority" : "ICN"
          },
          "surrogateIdentifier" : { },
          "messageText" : "I want to see doctor Jeckyl please.",
          "messageDateTime" : "12/11/2019 15:40:05",
          "senderId" : "1012845331V153043",
          "appointmentRequestId" : "8a4886886e4c8e22016ef6a8b1bf0396",
          "date" : "2019-12-11T15:40:05.007+0000",
          "patientId" : "1012845331V153043",
          "uniqueId" : "8a4886886e4c8e22016ef6b0b26a039b",
          "assigningAuthority" : "ICN",
          "objectType" : "VARAppointmentRequestMessage",
          "link" : [ ]
        }
  recorded_at: Wed, 11 Dec 2019 20:40:05 GMT
