---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://claimstatus.services.ebenefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findBenefitClaimsStatusByPtcpntId">
        <part name="parameters" element="tns:findBenefitClaimsStatusByPtcpntId"/>
        </message>
        <message name="findBenefitClaimsStatusByPtcpntIdResponse">
        <part name="parameters" element="tns:findBenefitClaimsStatusByPtcpntIdResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findBenefitClaimDetailsByBnftClaimId">
        <part name="parameters" element="tns:findBenef[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.2.19</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>6406228963</vaws:ExternalUid>
            <vaws:ExternalKey>6406228963</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findBenefitClaimDetailsByBnftClaimId><bnftClaimId>600236068</bnftClaimId></tns:findBenefitClaimDetailsByBnftClaimId></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findBenefitClaimDetailsByBnftClaimId"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMi4yOQAA</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimDetailsByBnftClaimIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimDetailsDTO><attentionNeeded>Yes</attentionNeeded><baseEndPrdctTypeCd>020</baseEndPrdctTypeCd><benefitClaimId>600236068</benefitClaimId><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-10-07</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-08-19</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:49:04</phaseChngdDt><phaseType>Gathering
        of Evidence</phaseType><phaseTypeChangeInd>23</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-05-20</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-05-12</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:47:20</phaseChngdDt><phaseType>Under
        Review</phaseType><phaseTypeChangeInd>12</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-05-08</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-05-06</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:46:59</phaseChngdDt><phaseType>Claim
        Received</phaseType><phaseTypeChangeInd>N</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimTypeCd>020CLMINC</bnftClaimTypeCd><claimDt>2021-01-01</claimDt><claimStatus>PEND</claimStatus><claimStatusType>Compensation</claimStatusType><contentions>Low
        back strain (New)</contentions><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>Yes</developmentLetterSent><endPrdctTypeCd>020</endPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><maxEstClaimCompleteDt>2021-11-14</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-09-04</minEstClaimCompleteDt><programType>CPL</programType><ptcpntClmantId>600934166</ptcpntClmantId><ptcpntVetId>600934166</ptcpntVetId><regionalOfficeJrsdctn>National
        Work Queue</regionalOfficeJrsdctn><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><tempRegionalOfficeJrsdctn></tempRegionalOfficeJrsdctn><wsyswwn><addressLine1>National
        Work Queue</addressLine1><addressLine2>810 Vermont Avenue NW</addressLine2><addressLine3></addressLine3><city>Washington</city><state>DC</state><zip>20420</zip></wsyswwn><wwr><dateOpen>2021-05-05</dateOpen><dateRcvd>2022-06-07</dateRcvd><dvlpmtItemId>293445</dvlpmtItemId><items>Please
        complete and return the enclosed VA Form 21-4142, Authorization to Disclose
        Information, so that we can obtain the authorization to request treatment
        records from your private medical sources listed on the received VA Form 21-4142a,
        General Release for Medical Provider Information.</items></wwr><wwr><dateOpen>2021-05-05</dateOpen><dateRcvd>2022-06-07</dateRcvd><dvlpmtItemId>293448</dvlpmtItemId><items>Send
        verification that you engaged in combat.  B[...]
