---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/534
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.23.0
      B3:
      - e02d6f201bb723b1-bf1c05721cd79d8c-0
      X-Vamf-Build:
      - 8118a26
      X-Vamf-Timestamp:
      - '2020-11-24T14:50:36+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "534",
          "facilitiesApiId" : "vha_534",
          "vistaSite" : "534",
          "vastParent" : "534",
          "type" : "va_health_facility",
          "name" : "Ralph H. Johnson Department of Veterans Affairs Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone" : {
            "timeZoneId" : "America/New_York"
          },
          "lat" : 32.78447,
          "long" : -79.95415,
          "website" : "https://www.va.gov/charleston-health-care/locations/ralph-h-johnson-department-of-veterans-affairs-medical-center/",
          "phone" : {
            "main" : "843-577-5011",
            "fax" : "843-937-6100",
            "pharmacy" : "843-577-5011",
            "afterHours" : "888-878-6884",
            "patientAdvocate" : "843-789-6066",
            "mentalHealthClinic" : "843-577-5011",
            "enrollmentCoordinator" : "843-789-6898"
          },
          "hoursOfOperation" : [ {
            "daysOfWeek" : "sun",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "mon",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "tue",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "wed",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "thu",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "fri",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          }, {
            "daysOfWeek" : "sat",
            "openingTime" : "24/7",
            "closingTime" : "24/7"
          } ],
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "109 Bee Street", null, null ],
            "city" : "Charleston",
            "state" : "SC",
            "postalCode" : "29401-5799"
          },
          "mobile" : false,
          "healthService" : [ "Anesthesia", "Audiology", "BariatricSurgery", "Cancer", "Cardiology", "CaregiverSupport", "Covid19Vaccine", "Dermatology", "EmergencyCare", "Gastroenterology", "Geriatrics", "Gynecology", "Hematology", "Homeless", "Hospice", "Lgbtq", "MentalHealth", "MinorityCare", "MyHealtheVetCoordinator", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "PainManagement", "PatientAdvocates", "Pharmacy", "Podiatry", "PrimaryCare", "Rehabilitation", "SleepMedicine", "Smoking", "SocialWork", "SuicidePrevention", "TransitionCounseling", "UrgentCare", "Urology", "WeightManagement", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          },
          "visn" : "7"
        }
  recorded_at: Thu, 07 Jan 2021 21:09:58 GMT
recorded_with: VCR 6.0.0
