---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-RateLimit-Limit-minute:
          - 60
        X-RateLimit-Remaining-minute:
          - 59
      body:
        encoding: UTF-8
        string: |-
          {
          	"data": [
          		],
          	"links": {
          		"self": "https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442&page=1&per_page=10",
          		"first": "https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442&page=1&per_page=10",
          		"prev": null,
          		"next": null,
          		"last": "https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442&page=1&per_page=10"
          	},
          	"meta": {
          		"pagination": {
          			"current_page": 1,
          			"per_page": 10,
          			"total_pages": 1,
          			"total_entries": 2
          		},
          		"distances": [

          		]
          	}
          }
    recorded_at: Wed, 16 Dec 2020 17:02:24 GMT
recorded_with: VCR 5.1.0
