---
http_interactions:
- request:
    method: get
    uri: http://sandbox.lighthouse.va.gov/schemas/ids/topic-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - e1836f37ef12a997-bd3cba28a9b29067-1
      X-Vamf-Build:
      - e208742
      X-Vamf-Timestamp:
      - '2021-08-03T18:59:01+0000'
    body:
      encoding: UTF-8
      string: '{
                "subject": "submission_trace_mock_dev-value",
                "version": 1,
                "id": 6,
                "schema": "{\"type\":\"record\",\"name\":\"TestRecord2\",\"namespace\":\"gov.va.eventbus.test.data\",\"fields\":[{\"name\":\"data\",\"type\":{\"type\":\"map\",\"values\":\"string\"},\"default\":{}}]}"
              }'
  recorded_at: Tue, 10 Aug 2021 15:55:41 GMT
recorded_with: VCR 6.0.0