---
http_interactions:
- request:
    method: post
    uri: <CONTENTION_CLASSIFICATION_API_URL>expanded-contention-classification
    body:
      encoding: UTF-8
      string: '{"claim_id":366,"form526_submission_id":366,"contentions":[{"contention_text":"Asthma,
        bronchial","contention_type":"INCREASE","diagnostic_code":6602},{"contention_text":"plantar
        fasciitis","contention_type":"NEW"},{"contention_text":"additional free text
        entry","contention_type":"NEW","diagnostic_code":9999}]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - <VRO_API_KEY>
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statusCode":500,"responseBody":{"error":true}}'
  recorded_at: Mon, 22 May 2023 23:33:43 GMT
- request:
    method: post
    uri: https://viccs-api-test.ibm-intelligent-automation.com/pca/api/test/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&scope=openid&client_id=va_gov_test&client_<DMC_TOKEN>=<LIGHTHOUSE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: OK
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - EyA1xjuYPHMEPZg=
    body:
      encoding: UTF-8
      string: '{"statusCode":500,"responseBody":{"error":true}}'
  recorded_at: Mon, 22 May 2023 23:33:43 GMT
recorded_with: VCR 6.1.0
