---
http_interactions:
- request:
    method: post
    uri: <CONTENTION_CLASSIFICATION_API_URL>expanded-contention-classification
    body:
      encoding: UTF-8
      string: '{"claim_id":366,"form526_submission_id":366,"contentions":[{"contention_text":"Asthma,
        bronchial","contention_type":"INCREASE","diagnostic_code":6602},{"contention_text":"plantar
        fasciitis","contention_type":"NEW"},{"contention_text":"additional free text
        entry","contention_type":"NEW","diagnostic_code":9999}, {"contention_text":"acl tear in right knee","contention_type":"NEW"}]}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - <VRO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.004929065704345703'
    body:
      encoding: UTF-8
      string: '{"contentions":[{"classification_code":9012,"classification_name":"Respiratory","diagnostic_code":6602,"contention_type":"INCREASE"},{"classification_code":8994,"classification_name":"Musculoskeletal
        - Foot","diagnostic_code":null,"contention_type":"NEW"},{"classification_code":null,"classification_name":null,"diagnostic_code":9999,"contention_type":"NEW"}, {"classification_code":8997,"classification_name":"Musculoskeletal - Knee","contention_type":"NEW"}],"claim_id":366,"form526_submission_id":366,"is_fully_classified":false,"num_processed_contentions":4,"num_classified_contentions":3}'
  recorded_at: Wed, 13 Nov 2024 18:34:17 GMT
- request:
    method: post
    uri: https://viccs-api-test.ibm-intelligent-automation.com/pca/api/test/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&scope=openid&client_id=va_gov_test&client_<DMC_TOKEN>=<LIGHTHOUSE_API_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Apigw-Requestid:
      - YmP6ujKWvHMEJbQ=
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"Invalid client
        <DMC_TOKEN>"}'
  recorded_at: Thu, 30 May 2024 18:34:18 GMT
recorded_with: VCR 6.2.0
