---
http_interactions:
- request:
    method: post
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/oauth2/health-care-costs-coverage/system/v1/token"
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=<CLIENT_ASSERTION>&scope=system%2FChargeItem.read+system%2FInvoice.read+system%2FPaymentReconciliation.read+system%2FMedicationDispense.read+system%2FEncounter.read+system%2FAccount.read+system%2FMedication.read+system%2FOrganization.read+launch&launch=<LAUNCH>%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '239'
      Ratelimit-Limit:
      - '240'
      Ratelimit-Remaining:
      - '239'
      Ratelimit-Reset:
      - '51'
      X-Ratelimit-Limit-Minute:
      - '240'
      Etag:
      - W/"598-v8PeRpsJTMmIenchBXkcQLcOtLM:dtagent10323250822043923XVuO"
      Correlation-Id:
      - 5b8af9cc-be5c-4d5d-935e-adf5d51b6738#2601520
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake_client_id","token_type":"Bearer","scope":"launch
        system/PaymentReconciliation.read system/Account.read system/ChargeItem.read
        system/Encounter.read system/Medication.read system/Invoice.read system/MedicationDispense.read system/Organization.read","expires_in":300,"state":null,"patient":"32000551"}'
  recorded_at: Wed, 25 Feb 2026 04:54:10 GMT
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice/4-1abZUKu7LnbcQc"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '60'
      Content-Language:
      - en-US
      Correlation-Id:
      - 9690de36-4102-49a7-a37b-da7b183433b5#2647559
    body:
      encoding: UTF-8
      string: '{"resourceType":"Invoice","id":"4-1abZUKu7LnbcQc","meta":{"lastUpdated":"2025-08-29T00:00:00Z"},"identifier":[{"type":{"text":"Bill
        Number"},"value":"573-K3FDEC0"}],"status":"issued","_status":{"url":"http://hl7.org/fhir/StructureDefinition/alternate-codes","valueCodeableConcept":{"coding":[{"system":"http://va.gov/terminology/vistaDefinedTerms/430.3","code":"16","display":"ACTIVE"}],"text":"ACTIVE"}},"subject":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Patient/32000551","display":"Kirlin939,
        Ivory697"},"date":"2025-03-01T21:49:43Z","issuer":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Organization/4-5pFm5Av0PHt","display":"TEST
        VAMC"},"account":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account/4-Nsb4VwsletHs"},"lineItem":[{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-1bKirHw3FXgAka","display":"PSO
        NSC RX COPAY NEW"},"priceComponent":[{"type":"base","code":{"text":"Total
        Charge"},"amount":{"value":86.21}}]},{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-1bKirHw3FXgJH8","display":"INTEREST/ADM.
        CHARGE"},"priceComponent":[{"type":"surcharge","code":{"text":"Interest Charged"},"amount":{"value":1.01}},{"type":"surcharge","code":{"text":"Administrative
        Charged"},"amount":{"value":0.61}},{"type":"informational","code":{"text":"Total
        Charge"},"amount":{"value":1.62}}]},{"chargeItemReferenc[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account?_id=4-Nsb4VwsletHs"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '56'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '56'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '48'
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Language:
      - en-US
      Correlation-Id:
      - 200eae4d-19a0-4725-9a99-7c570ca19579#2593871
    body:
      encoding: UTF-8
      string: '{"resourceType":"Bundle","type":"searchset","total":1,"link":[{"relation":"first","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account?_count=100&_id=4-6Z8ZnAptcHIIsFU&page=1"},{"relation":"self","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account?_count=100&_id=4-6Z8ZnAptcHIIsFU&page=1"},{"relation":"last","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account?_count=100&_id=4-6Z8ZnAptcHIIsFU&page=1"}],"entry":[{"fullUrl":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account/4-Nsb4VwsletHs","resource":{"resourceType":"Account","id":"4-Nsb4VwsletHs","meta":{"lastUpdated":"2024-05-28T00:00:00Z"},"extension":[{"url":"http://va.gov/fhir/StructureDefinition/account-statementGeneratedDay","valueInteger":0}],"identifier":[{"type":{"coding":[{"system":"http://terminology.hl7.org/CodeSystem/v2-0203","code":"AN","display":"Account
        number"}],"text":"Account number"},"value":"5730000000038703KIRLI"}],"status":"active","subject":[{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Patient/32000551"}]},"search":{"mode":"match"}}]}'
  recorded_at: Wed, 25 Feb 2026 04:54:12 GMT
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem?_count=100&patient=32000551"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '57'
      X-Ratelimit-Limi[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/PaymentReconciliation?_count=100&patient=32000551"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '58'
      Ratel[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Organization?_id=4-5pFm5Av0PHt"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '55'
      X-Ratelimit-Limit-Minute[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Patient?_id=32000551"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '54'
      Ratelimit-Limit:
      - '60'
    [...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice?_count=50&page=1&patient=32000551"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '53'
      Ratelimit-Lim[...]
[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/MedicationDispense?_id=4-1abU4wmNqJSELr"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '51'
      Ratelimit-Limit[...]
- request:
    method: get
    uri: "<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Medication?_id=4-1abOXGgQXfojCN"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '50'
      X-Ratelimit-Limit-Minut[...]
