---
http_interactions:
- request:
    method: post
    uri: "<LIGHTHOUSE_HCC_HOST>/oauth2/health-care-costs-coverage/system/v1/token"
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=<CLIENT_ASSERTION>&scope=system%2FChargeItem.read+system%2FInvoice.read+system%2FPaymentReconciliation.read+system%2FMedicationDispense.read+system%2FEncounter.read+system%2FAccount.read+system%2FMedication.read+launch&launch=<LAUNCH>%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '239'
      X-Ratelimit-Limit-Minute:
      - '240'
      Ratelimit-Remaining:
      - '239'
      Ratelimit-Limit:
      - '240'
      Ratelimit-Reset:
      - '44'
      Etag:
      - W/"<ETAG>"
      Correlation-Id:
      - <CORRELATION_ID>
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake_client_id","token_type":"Bearer","scope":"launch
        system/PaymentReconciliation.read system/Account.read system/ChargeItem.read
        system/Encounter.read system/Medication.read system/Invoice.read system/MedicationDispense.read","expires_in":300,"state":null,"patient":"123"}'
  recorded_at: Wed, 05 Nov 2025 00:28:17 GMT
- request:
    method: get
    uri: "https://test-api.va.gov/services/health-care-costs-coverage/v0/r4/Invoice?_count=10&page=1&patient=123"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '43'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Language:
      - en-US
      Correlation-Id:
      - 92ecfef1-b402-4f67-96e3-ffd9362e08ca#1268150
    body:
      encoding: UTF-8
      string: '{"resourceType":"Bundle","type":"searchset","total":10,"link":[{"relation":"first","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice?_count=50&patient=123&page=1"},{"relation":"self","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice?_count=50&patient=123&page=1"},{"relation":"last","url":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice?_count=50&patient=123&page=1"}],"entry":[{"fullUrl":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice/4-1abZUKu7xIvIw6","resource":{"resourceType":"Invoice","id":"4-1abZUKu7xIvIw6","meta":{"lastUpdated":"2025-08-29T00:00:00Z"},"identifier":[{"type":{"text":"Bill
        Number"},"value":"675-K3FE4D1"}],"status":"cancelled","_status":{"url":"http://hl7.org/fhir/StructureDefinition/alternate-codes","valueCodeableConcept":{"coding":[{"system":"http://va.gov/terminology/vistaDefinedTerms/430.3","code":"39","display":"CANCELLATION"}],"text":"CANCELLATION"}},"subject":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Patient/123PATIENT_ID>","display":"Jaskolski867,
        Janessa317"},"date":"2024-04-30T08:51:47Z","issuer":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Organization/4-O3d8XK44ejMS","display":"TEST
        VAMC"},"account":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Account/4-Nsb4Vwsulhk8"},"lineItem":[{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-6c9ZE23XQm5VawK","display":"DG
        OPT COPAY NEW"},"priceComponent":[{"type":"base","code":{"text":"Total Charge"},"amount":{"value":65.71}}]},{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-6c9ZE23XQjlIGfQ","display":"DG
        OPT COPAY CANCEL"},"priceComponent":[{"type":"base","code":{"text":"Total
        Charge"},"amount":{"value":-65.71}}]},{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-6c9ZE23XQm6cp0D","display":"INTEREST/ADM.
        CHARGE"},"priceComponent":[{"type":"surcharge","code":{"text":"Interest Charged"},"amount":{"value":1.78}},{"type":"surcharge","code":{"text":"Administrative
        Charged"},"amount":{"value":0.78}},{"type":"informational","code":{"text":"Total
        Charge"},"amount":{"value":2.56}}]},{"chargeItemReference":{"reference":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/ChargeItem/4-6c9ZE23XQjlITSD","display":"EXEMPT
        INT/ADM. COST"},"priceComponent":[{"type":"surcharge","code":{"text":"Interest
        Charged"},"amount":{"value":-1.78}},{"type":"surcharge","code":{"text":"Administrative
        Charged"},"amount":{"value":-0.78}},{"type":"informational","code":{"text":"Total
        Charge"},"amount":{"value":-2.56}}]}],"totalPriceComponent":[{"type":"informational","code":{"text":"Original
        Amount"},"amount":{"value":65.71}},{"type":"base","code":{"text":"Principal
        Balance"},"amount":{"value":0.0}},{"type":"surcharge","code":{"text":"Interest
        Balance"},"amount":{"value":0.0}},{"type":"surcharge","code":{"text":"Administrative
        Cost Balance"},"amount":{"value":0.0}}]},"search":{"mode":"match"}},{"fullUrl":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/health-care-costs-coverage/v0/r4/Invoice/4-1abZUKu7xIv1t4","resource":{"resourceType":"Invoice","id":"4-1abZUKu7xIv1t4","meta":{"lastUpdated":"2025-08-29T00:00:00Z"},"identifier":[{"type":{"text":"Bill
        Number"},"value":"675-K3FD983"}],"status":"balanced","_status":{"url":"http://hl7.org/fhir/StructureDefinition/alternate-codes","valueCodeableConcept":{"coding":[{"system":"http://va.gov/terminology/vistaDefinedTerms/430.3","code"[...]
