---
http_interactions:
- request:
    method: get
    uri: https://staff.apps.va.gov/ppms/v1/providers/1407938061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.10.0
      B3:
      - cb9c50235cfad84d-5c00879195fa36e7-1
      X-Vamf-Build:
      - 58ec2e2
      X-Vamf-Timestamp:
      - '2021-08-18T13:44:12+0000'
    body:
      encoding: UTF-8
      string: '{"id":"c195c4c2-f5b7-4ea3-8358-f6ad8b129c23","code":500,"errorCode":7007,"traceId":"cb9c50235cfad84d",
        message":"failed"}'
  recorded_at: Mon, 11 Oct 2021 18:52:33 GMT
recorded_with: VCR 6.0.0

