---
http_interactions:
- request:
    method: get
    uri: https://staff.apps.va.gov/ppms/v1/providers/1407938061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.5.0
      B3:
      - 22eeb5357ba8af64f64a3f50bd3b23d9-627b00942858be32-0
      X-Vamf-Build:
      - 6f04a27
      X-Vamf-Timestamp:
      - '2022-05-24T19:59:38+0000'
    body:
      encoding: UTF-8
      string: '{"providerIdentifier":"1407938061","providerIdentifierType":"NPI","name":"DEHGHAN,
        AMIR ","providerType":"Individual","email":"DRDEHGHAN@COMCAST.NET","providerStatusReason":"Active","primaryCarePhysician":false,"isAcceptingNewPatients":true,"providerGender":"Male","isExternal":true,"canCreateHealthCareOrders":false,"contactMethodEmail":false,"contactMethodFax":false,"contactMethodVirtuPro":false,"contactMethodHSRM":false,"contactMethodPhone":false,"contactMethodMail":false,"contactMethodRefDoc":false,"bulkEmails":false,"bulkMails":true,"emails":false,"mails":false,"phoneCalls":false,"faxes":false,"preferredMeansReceivingReferralHSRM":false,"preferredMeansReceivingReferralSecuredEmail":false,"preferredMeansReceivingReferralMail":false,"preferredMeansReceivingReferralFax":false,"modifiedOnDate":"2021-08-26T21:03:42Z"}'
  recorded_at: Wed, 01 Jun 2022 18:19:46 GMT
[...]
- request:
    method: get
    uri: https://staff.apps.va.gov/ppms/v1/providers/520647611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token 
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.5.0
      B3:
      - 22eeb5357ba8af64f64a3f50bd3b23d9-627b00942858be32-0
      X-Vamf-Build:
      - 6f04a27
      X-Vamf-Timestamp:
      - '2022-05-24T19:59:38+0000'
    body:
      encoding: UTF-8
      string: '{"providerIdentifier":"520647611","providerIdentifierType":"NPI","name":"DEHGHAN, AMIR ","providerType":"Individual","email":"DRDEHGHAN@COMCAST.NET","providerStatusReason":"Active","primaryCarePhysician":false,"isAcceptingNewPatients":true,"providerGender":"Male","isExternal":true,"canCreateHealthCareOrders":false,"contactMethodEmail":false,"contactMethodFax":false,"contactMethodVirtuPro":false,"contactMethodHSRM":false,"contactMethodPhone":false,"contactMethodMail":false,"contactMethodRefDoc":false,"bulkEmails":false,"bulkMails":true,"emails":false,"mails":false,"phoneCalls":false,"faxes":false,"preferredMeansReceivingReferralHSRM":false,"preferredMeansReceivingReferralSecuredEmail":false,"preferredMeansReceivingReferralMail":false,"preferredMeansReceivingReferralFax":false,"modifiedOnDate":"2021-08-26T21:03:42Z"}'
  recorded_at: Wed, 01 Jun 2022 18:19:46 GMT
recorded_with: VCR 6.1.0
