# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/backend-review-group and @department-of-veterans-affairs/va-api-engineers will be requested for
# review when someone opens a pull request.

*       @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/va-api-engineers

# Explicitly require BE-Tools Review
rakelib/prod/                         @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group

# Experiment for isolating VFS teams
modules/vaos/                        @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group
spec/support/*/vaos/                 @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group

lib/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group
spec/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group

modules/mobile/                      @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group
spec/support/*/mobile/               @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group

rakelib/form526.rake @department-of-veterans-affairs/benefits-team-1-backend @department-of-veterans-affairs/backend-review-group
spec/rakelib/form526_spec.rb @department-of-veterans-affairs/benefits-team-1-backend @department-of-veterans-affairs/backend-review-group

# authentication
app/controllers/*/sessions_controller.rb @department-of-veterans-affairs/vsp-identity
spec/controllers/*/sessions_controller_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/account.rb @department-of-veterans-affairs/vsp-identity
spec/models/account_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/user_account.rb @department-of-veterans-affairs/vsp-identity
spec/models/user_account_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/user_verification.rb @department-of-veterans-affairs/vsp-identity
spec/models/user_verification_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/deprecated_user_account.rb @department-of-veterans-affairs/vsp-identity
spec/models/deprecated_user_account_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/saml_request_tracker.rb @department-of-veterans-affairs/vsp-identity
spec/models/saml_request_tracker_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/user.rb @department-of-veterans-affairs/vsp-identity
spec/models/user_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/user_identity.rb @department-of-veterans-affairs/vsp-identity
app/models/user_session_form.rb @department-of-veterans-affairs/vsp-identity
spec/models/user_session_form_spec.rb @department-of-veterans-affairs/vsp-identity

lib/saml/ @department-of-veterans-affairs/vsp-identity
spec/lib/saml/ @department-of-veterans-affairs/vsp-identity
lib/mpi/ @department-of-veterans-affairs/vsp-identity
spec/lib/mpi/ @department-of-veterans-affairs/vsp-identity

# sign_in service
lib/sign_in/ @department-of-veterans-affairs/vsp-identity
spec/lib/sign_in/ @department-of-veterans-affairs/vsp-identity
app/services/sign_in/ @department-of-veterans-affairs/vsp-identity
spec/services/sign_in/ @department-of-veterans-affairs/vsp-identity
app/controllers/v0/sign_in_controller.rb @department-of-veterans-affairs/vsp-identity
spec/controllers/v0/sign_in_controller_spec.rb @department-of-veterans-affairs/vsp-identity

# mocked sign in service authentication
modules/mocked_authentication/ @department-of-veterans-affairs/vsp-identity

# inherited proofing
app/controllers/inherited_proofing_controller.rb @department-of-veterans-affairs/vsp-identity
spec/controllers/inherited_proofing_controller_spec.rb @department-of-veterans-affairs/vsp-identity
app/models/inherited_proofing/ @department-of-veterans-affairs/vsp-identity
app/models/inherited_proof_verified_user_account.rb @department-of-veterans-affairs/vsp-identity
spec/models/inherited_proofing/ @department-of-veterans-affairs/vsp-identity
spec/models/inherited_proof_verified_user_account_spec.rb @department-of-veterans-affairs/vsp-identity
lib/inherited_proofing/ @department-of-veterans-affairs/vsp-identity
spec/lib/inherited_proofing/ @department-of-veterans-affairs/vsp-identity

# identity workers
app/workers/identity/ @department-of-veterans-affairs/vsp-identity
spec/jobs/identity/ @department-of-veterans-affairs/vsp-identity

# covid_vaccine product
modules/covid_vaccine @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group
spec/support/*/covid_vaccine @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group
rakelib/covid_vaccine.rake @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group

# health_quest product
modules/health_quest  @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/health_quest/ @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group

# check_in product
modules/check_in  @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/patient-check-in
spec/support/*/check_in/ @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/patient-check-in

# facilities product
modules/facilities_api @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/facilities @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/lighthouse @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group

# debts product
modules/debts_api  @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/support/*/debts_api/ @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group


# DHP connected devices
modules/dhp_connected_devices/ @department-of-veterans-affairs/digital-health-platform @department-of-veterans-affairs/backend-review-group

# test user dashboard product
modules/test_user_dashboard @department-of-veterans-affairs/vsp-identity @department-of-veterans-affairs/qa-standards

# Debt Resolution
app/controllers/v0/debt_letters_controller.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
app/controllers/v0/debts_controller.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
app/controllers/v0/financial_status_reports_controller.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
app/services/medical_copays @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
app/swagger/swagger/requests/medical_copays.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
lib/debt_management_center @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
lib/vbs @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/controllers/v0/debt_letters_controller_spec.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/controllers/v0/financial_status_reports_controller_spec.rb @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/lib/debt_management_center @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/lib/vbs @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/services/medical_copays @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/support/medical_copays @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/fixtures/medical_copays @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group
spec/support/vcr_cassettes/debts @department-of-veterans-affairs/vsa-debt-resolution @department-of-veterans-affairs/backend-review-group

# Benefits Intake API product
modules/vba_documents @department-of-veterans-affairs/lighthouse-banana-peels @department-of-veterans-affairs/backend-review-group

# Benefits APIs shared services and utilities
lib/central_mail @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels
lib/pdf_info.rb @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels
lib/pdf_utilities/pdf_validator.rb @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels
spec/lib/central_mail @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels
spec/lib/pdf_info @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels
spec/lib/pdf_utilities/pdf_validator @department-of-veterans-affairs/va-api-engineers @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels

# Decision Reviews (Appeals) API product
modules/appeals_api @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/lighthouse-banana-peels

# Disability Benefits Experience support
lib/disability_compensation @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/bdex