---
http_interactions:
- request:
    method: get
    uri: https://qacrmdac.np.crm.vrm.vba.va.gov/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/1234?noFilter=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorOccurred":true,"ErrorMessage":"An unexpected error occurred processing request!","Status":"Error","DebugInfo":"Invalid CRM Webpart URL parameters. Invalid client name.","Data":[]}'
  recorded_at: Fri, 20 Jul 2018 15:38:45 GMT
recorded_with: VCR 3.0.3
