---
http_interactions:
- request:
    method: get
    uri: https://qacrmdac.np.crm.vrm.vba.va.gov/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/1234?noFilter=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorOccurred":false,"ErrorMessage":null,"Status":null,"DebugInfo":null,"Data":[{"DateTime":"199601120812","DateTimeDate":"1996-01-12T08:12:00","AssigningFacility":"","ClinicCode":"409","ClinicName":"ZZCHY
        WID BACK","FacilityCode":"442","FacilityName":"CHEYENNE VAMC","OtherInformation":"","StatusCode":"2","StatusName":"CHECKED
        OUT","TypeCode":"9","TypeName":"REGULAR","AppointmentStatusCode":"","AppointmentStatusName":"","LocalID":"2960112.0812"}]}'
  recorded_at: Fri, 20 Jul 2018 15:38:45 GMT
recorded_with: VCR 3.0.3
