---
http_interactions:
- request:
    method: get
    uri: https://qacrmdac.np.crm.vrm.vba.va.gov/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/1234?noFilter=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorOccurred":false,"ErrorMessage":null,"Status":null,"DebugInfo":null,"Data":[{"DateTime":"199601120812","DateTimeDate":"1996-01-12T08:12:00","AssigningFacility":null,"ClinicCode":"409","ClinicName":"ZZCHY
        WID BACK","FacilityCode":"442","FacilityName":"CHEYENNE VAMC","OtherInformation":"","StatusCode":"2","StatusName":"CHECKED
        OUT","TypeCode":"9","TypeName":"REGULAR","AppointmentStatusCode":null,"AppointmentStatusName":null,"LocalID":"2960112.0812"},{"DateTime":"199610041315","DateTimeDate":"1996-10-04T13:15:00","AssigningFacility":null,"ClinicCode":"409","ClinicName":"ZZCHY
        WID BACK","FacilityCode":"442","FacilityName":"CHEYENNE VAMC","OtherInformation":"","StatusCode":"2","StatusName":"CHECKED
        OUT","TypeCode":"9","TypeName":"REGULAR","AppointmentStatusCode":null,"AppointmentStatusName":null,"LocalID":"2961004.1315"},{"DateTime":"199610071430","DateTimeDate":"1996-10-07T14:30:00","AssigningFacility":null,"Cl[...]
