---
http_interactions:
- request:
    method: get
    uri: https://qacrmdac.np.crm.vrm.vba.va.gov/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
        - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorOccurred":false,"ErrorMessage":null,"Status":null,"Data":[{"ClinicCode":"409","ClinicName":"ZZCHY WID BACK","DateTimeDate":"1996-01-12T08:12:00","TypeName":"REGULAR","StatusName":"CHECKED OUT","StatusCode":"2","OtherInformation":"","TypeCode":"9","DateTime":"199601120812","AppointmentStatusCode":null,"LocalID":"2960112.0812","AppointmentStatusName":null,"AssigningFacility":null,"FacilityName":"CHEYENNE VAMC","FacilityCode":"442"},{"StatusCode":"2","StatusName":"CHECKED OUT","TypeName":"REGULAR","DateTimeDate":"1996-10-04T13:15:00","ClinicName":"ZZCHY WID BACK","ClinicCode":"409","FacilityCode":"442","FacilityName":"CHEYENNE VAMC","LocalID":"2961004.1315","AppointmentStatusName":null,"AssigningFacility":null,"DateTime":"199610041315","AppointmentStatusCode":null,"TypeCode":"9","OtherInformation":""},{"StatusCode":"2","StatusName":"CHECKED OUT","TypeName":"REGULAR","DateTimeDate":"1996-10-07T14:30:00","ClinicName":"[...]
