---
http_interactions:
- request:
    method: get
    uri: https://qacrmdac.np.crm.vrm.vba.va.gov/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Data":[{"TypeName":"REGULAR","AppointmentStatusCode":null,"ClinicName":"CHY AUDIO CONSULT KIM","TypeCode":"9","AppointmentStatusName":null,"OtherInformation":"","DateTimeDate":"2003-06-09T16:00:00","DateTime":"200306091600","FacilityName":"CHEYENNE VAMC","StatusCode":"2","ClinicCode":"4","StatusName":"CHECKED OUT","FacilityCode":"442","AssigningFacility":null,"LocalID":"3030609.16"}],"Status":null,"ErrorOccurred":false,"DebugInfo":null,"ErrorMessage":null}'
  recorded_at: Mon, 09 Apr 2018 17:52:03 GMT
recorded_with: VCR 3.0.3<Paste>
