---
http_interactions:
- request:
    method: post
    uri: <LIGHTHOUSE_BENEFITS_DISCOVERY_URL>/benefits-discovery-service/v0/recommendations
    body:
      encoding: US-ASCII
      string: '"{\"dateOfBirth\":\"2000-06-15\",\"dischargeStatus\":\"HONORABLE_DISCHARGE\",\"branchOfService\":\"NAVY\",\"disabilityRating\":60,\"serviceDates\":[{\"startDate\":\"2018-01-01\",\"endDate\":\"2022-01-01\"}]}"'
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '118'
      Ratelimit-Reset:
      - '3'
      X-Ratelimit-Limit-Minute:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '118'
      Ratelimit-Limit:
      - '120'
      Etag:
      - W/"7fb9d166d1a15bce0b9f085f3818946f"
      X-Git-Sha:
      - 77911592048236d8eccb0f39f5e9f758564e282b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"data":{"undetermined":[], "recommended": [{"benefit_name":"Life Insurance (VALife)", "benefit_url":"https://www.va.gov/life-insurance/"}, {"benefit_name":"Health", "benefit_url":"https://www.va.gov/health-care/"}], "not_recommended": []}}'
  recorded_at: Mon, 02 Jun 2025 17:46:00 GMT
recorded_with: VCR 6.2.0
