---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/vrm-ws/PaymentInformationService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vrm.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vrm.benefits.vba.va.gov/" name="PaymentInformationService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://ws.vrm.benefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/vrm-ws/PaymentInformationService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
        <xsd:import namespace="http://gov.va.vba.benefits.ws/data" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/vrm-ws/PaymentInformationService?xsd=2"/>
        </xsd:schema>
        </types>
        <message name="retrieveReturnedPaymentSummaryFilter">
        <part name="parameters" element="tns:retrieveReturnedPaymentSummaryFilter"/>
        </message>
        <message name="retrieveReturnedPaymentSummaryFilterResponse">
        <part name="parameters" element="tns:retrieveReturnedPaymentSummaryFilterResponse"/>
        </message>
        <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException"/>
        </message>
        <message name="DataValidationException">
        <part name="fault" element="tns:DataValidationFa[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/vrm-ws/PaymentInformationService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ws.vrm.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>97303646461511360</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:retrievePaymentSummaryWithBDN><ParticipantId>600061742</ParticipantId><FileNumber>796043735</FileNumber><PayeeCode>00</PayeeCode></tns:retrievePaymentSummaryWithBDN></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"retrievePaymentSummaryWithBDN"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
           <env:Header />
           <S:Body>
              <ns0:retrievePaymentSummaryWithBDNResponse xmlns:ns0="http://ws.vrm.benefits.vba.va.gov/">
                 <PaymentSummaryResponse>
                    <payments>
                       <payment>
                          <beneficiaryParticipantID>600061742</beneficiaryParticipantID>
                          <fileNumber>796043735</fileNumber>
                          <payeeType>Veteran</payeeType>
                          <paymentAmount>3444.7</paymentAmount>
                          <paymentDate>2019-12-31T00:00:00-06:00</paymentDate>
                          <paymentStatus>Scheduled</paymentStatus>
                          <paymentType>Compensation &amp; Pension - Recurring</paymentType>
                          <paymentTypeCode>1</paymentTypeCode>
                          <programType>Compensation</programType>
                          <recipientName>WESLEYFORD</recipientName>
                          <recipientParticipantID>600061742</recipientParticipantID>
                          <scheduledDate>2019-12-12T00:00:00-06:00</scheduledDate>
                          <veteranName>WESLEYFORD</veteranName>
                          <veteranParticipantID>600061742</veteranParticipantID>
                          <addressEFT>
                             <accountNumber>123456</accountNumber>
                             <accountType>Checking</accountType>
                             <bankName>BANK OF AMERICA, N.A.</bankName>
                             <routingNumber>111000025</routingNumber>
                          </addressEFT>
                          <checkAddress>
                             <addressLine1 />
                             <addressLine2 />
                             <addressLine3 />
                             <addressLine4 />
                             <addressLine5 />
                             <addressLine6 />
                             <addressLine7 />
                             <zipCode />
                          </checkAddress>
                          <paymentRecordIdentifier>
                             <paymentID>11213114</paymentID>
                          </paymentRecordIdentifier>
                          <returnPayment>
                             <checkTraceNumber>0123456789</checkTraceNumber>
                             <returnReason>Other Reason</returnReason>
                          </returnPayment>
                       </payment>
                       <payment>
                          <beneficiaryParticipantID>600061742</beneficiaryParticipantID>
                          <fileNumber>796043735</fileNumber>
                          <payeeType>Veteran</payeeType>
                          <paymentAmount>113.99</paymentAmount>
                          <paymentDate>2019-12-02T00:00:00-06:00</paymentDate>
            [...]
