---
http_interactions:
- request:
    method: post
    uri: https://fwdproxy-staging.vfs.va.gov:4436/esr-ws/spring-ws/getEESummary
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://jaxws.webservices.esr.med.va.gov/schemas">
          <SOAP-ENV:Header>
            <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" SOAP-ENV:mustUnderstand="1">
              <wsse:UsernameToken xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="XWSSGID-1281117217796-43574433">
                <wsse:Username>HCASvcUsr</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"><EE_PASS></wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </SOAP-ENV:Header>
          <SOAP-ENV:Body>
            <sch:getEESummaryRequest>
              <sch:key>1012829228V424035</sch:key>
              <sch:requestName>HCAData</sch:requestName>
            </sch:getEESummaryRequest>
          </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      X-Oracle-Dms-Rid:
      - '0'
      X-Oracle-Dms-Ecid:
      - 8f63e1ad-f123-4446-ad8c-9c4f0031d6e7-00000c93
      Soapaction:
      - '""'
      X-Oneagent-Js-Injection:
      - 'true'
      Ssl-Env:
      - 'On'
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><env:Body><getEESummaryResponse
        xmlns="http://jaxws.webservices.esr.med.va.gov/schemas"><eesVersion>5.12.0.05003</eesVersion><summary><insuranceList><insurance><companyName>Delta
        33</companyName><policyHolderName>Eric Bishop</policyHolderName><policyNumber>354778098</policyNumber><lastEditedDate>2024-03-31T21:35:50.000-05:00</lastEditedDate><insuredRelationship>Veteran</insuredRelationship></insurance></insuranceList><eligibilityVerificationInfo><eligibilityStatus>VERIFIED</eligibilityStatus><eligibilityStatusDate>20231121</eligibilityStatusDate><verificationMethod>dd214</verificationMethod></eligibilityVerificationInfo><purpleHeart><indicator>false</indicator><status>Rejected</status></purpleHeart><enrollmentDeterminationInfo><priorityGroup>Group
        2</priorityGroup><calculationSource>HEC</calculationSource><enrollmentStatus>Verified</enrollmentStatus><enrollmentDate>2023-11-21T13:24:21.000-06:00</enrollmentDate><effectiveDate>2024-07-01T13:27:46.000-05:00</effectiveDate><eligibleForMedicaid>false</eligibleForMedicaid><applicationDate>2022-04-25T00:00:00.000-05:00</applicationDate><veteran>true</veteran><primaryEligibility><type>SC
        LESS THAN 50%</type><indicator>P</indicator><eligibilityReportDate>2023-11-21T13:24:20.000-06:00</eligibilityReportDate></primaryEligibility><secondaryEligibilities><eligibility><type>ALLIED
        VETERAN</type><indicator>S</indicator><eligibilityReportDate>2024-07-01T13:27:46.000-05:00</eligibilityReportDate></eligibility><eligibility><type>Clinical
        Evaluation</type><indicator>S</indicator><eligibilityReportDate>2023-11-21T13:24:20.000-06:00</eligibilityReportDate></eligibility></secondaryEligibilities><monetaryBenefitAwardInfo><monetaryBenefits><monetaryBenefit><type>Disability
        Compensation</type><monetaryBenefitIndicator>false</monetaryBenefitIndicator><monetaryBenefitReportDate>2023-11-21T13:24:20.000-06:00</monetaryBenefitReportDate></monetaryBenefit><monetaryBenefit><type>VA
        Pension</type><monetaryBenefitIndicator>false</monetaryBenefitIndicator><monetaryBenefitReportDate>2023-11-21T13:24:20.000-06:00</monetaryBenefitReportDate></monetaryBenefit><monetaryBenefit><type>Housebound</type><monetaryBenefitIndicator>false</monetaryBenefitIndicator><monetaryBenefitReportDate>2023-11-21T13:24:20.000-06:00</monetaryBenefitReportDate></monetaryBenefit><monetaryBenefit><type>Aid
        And Attendance</type><monetaryBenefitIndicator>false</monetaryBenefitIndicator><monetaryBenefitReportDate>2023-11-21T13:24:20.000-06:00</monetaryBenefitReportDate></monetaryBenefit></monetaryBenefits></monetaryBenefitAwardInfo><militarySexualTraumaInfo><status>Unknown,
        Not Screened</status></militarySexualTraumaInfo><serviceConnectionAward><serviceConnectedPercentage>40</serviceConnectedPercentage><serviceConnectedIndicator>true</serviceConnectedIndicator><unemployable>false</unemployable><permanentAndTotal>false</permanentAndTotal><ratedDisabilities><ratedDisability><disability>6711-Lung
        condition</disability><percentage>40</percentage><recordModifiedDate>2023-11-21T13:24:20.000-06:00</recordModifiedDate><disabilityCode>6711</disabilityCode></ratedDisability></ratedDisabilities><scReportDate>2024-07-01T13:27:46.000-05:00</scReportDate></serviceConnectionAward><medicaidLastModifiedDate>2024-06-27T17:39:00.000-05:00</medicaidLastModifiedDate><recordCreatedDate>2019-09-17T19:21:22.000-05:00</recordCreatedDate><recordModifiedDate>2024-07-01T13:27:46.000-05:00</recordModifiedDate><enrollmentCategoryName>Enrolled</enrollmentCategoryName></enrollmentDeterminationInfo><associations><association><contactType>Emergency
        Contact</contactType><givenName>ETHAN</givenName><middleName>JEREMY</middleName><familyName>BISHOP</familyName><relationship>BROTHER</relationship><address><line1>9758
        TEST AVE</line1><city>ALBUQUERQUE</city><county>BERNALILLO</county><state>NM</state><zipCode>87109</zipCode><country>USA</country></address><primaryPhone>(439)573-8274</primaryPhone><lastUpdateDate>2023-12-08T11:01:23.000-06:00</lastUpdateDate></association><association><contactType>Power
        of Attorney</contactType><givenName>FREDRIKSON</givenName><middleName>JEREMYAYA</middleName><familyName>MCKENZY</familyName><relationship>FRIEND</relationship><organizationName>JACOBITE</organizationName><address><line1>678
        SOMERSTOWER</line1><city>ALBUQUERQUE</city><county>BERNALILLO</county><state>NM</state><zipCode>87109</zipCode><country>USA</country></address><primaryPhone>(302)445-6908</primaryPhone><lastUpdateDate>2024-03-25T15:55:08.000-05:00</lastUpdateDate></association><association><contactType>Power
        of Attorney</contactType><givenName>MARK</givenName><middleName>L</middleName><familyName>GRANT</familyName><relationship>FRIEND</relationship><organizationName>TESTING
        TEST</organizationName><address><line1>1 HERE ST</line1><city>AUSTIN</city><state>TX</state><zipCode>73301</zipCode><zipPlus4>0001</zipPlus4><country>USA</country></address><lastUpdateDate>2024-03-25T15:55:20.000-05:00</lastUpdateDate></association><association><contactType>Primary
        Next of Kin</contactType><givenName>JANE</givenName><familyName>BISHOP</familyName><relationship>MOTHER</relationship><address><line1>823
        SE 2ND ST</line1><line2>BLDG 2</line2><line3>UNIT 163</line3><city>GUADALAJARA</city><postalCode>44100</postalCode><country>MEX</country></address><primaryPhone>(202)394-6688</primaryPhone><lastUpdateDate>2024-03-06T10:51:15.000-06:00</lastUpdateDate></association><association><contactType>Designee</contactType><givenName>MARGOSHAR</givenName><middleName>COT</middleName><familyName>BISHOP</familyName><relationship>EXTENDED
        FAMILY MEMBER</relationship><address><line1>9758 TEST AVE</line1><city>ALBUQUERQUE</city><county>BERNALILLO</county><state>NM</state><zipCode>87109</zipCode><coun[...]
