---
http_interactions:
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - sjvlB75caM-O37hRpkDxV
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - RCxYgFX+o64=RqSeDuA+bXJ9IF7pD/dsp5W7rrBo6qEJW+SNTxHfWSY=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:17:40 GMT
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/folder
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - RCxYgFX+o64=RqSeDuA+bXJ9IF7pD/dsp5W7rrBo6qEJW+SNTxHfWSY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"folder":[{"id":0,"name":"Inbox","count":2,"unreadCount":0,"systemFolder":true},{"id":-2,"name":"Drafts","count":30,"unreadCount":27,"systemFolder":true},{"id":-1,"name":"Sent","count":83,"unreadCount":0,"systemFolder":true},{"id":-3,"name":"Deleted","count":1,"unreadCount":1,"systemFolder":true},{"id":610965,"name":"AATestKhan","count":1,"unreadCount":0,"systemFolder":false},{"id":573077,"name":"MY
        PRESCRIPTION","count":0,"unreadCount":0,"systemFolder":false},{"id":609400,"name":"test
        folder create name 1","count":0,"unreadCount":0,"systemFolder":false},{"id":609787,"name":"test
        folder create name 160804135012","count":0,"unreadCount":0,"systemFolder":false},{"id":609883,"name":"test
        folder create name 160804140458","count":0,"unreadCount":0,"systemFolder":false},{"id":610046,"name":"test
        folder create name 160804155318","count":0,"unreadCount":0,"systemFolder":false},{"id":610056,"name":"test
        folder create name 160804160233","count":0,"unreadCount":0,"systemFolder":false},{"id":610078,"name":"test
        folder create name 160805101218","count":0,"unreadCount":0,"systemFolder":false},{"id":610347,"name":"test
        folder create name 160808142222","count":0,"unreadCount":0,"systemFolder":false},{"id":610354,"name":"test
        folder create name 160808142330","count":0,"unreadCount":0,"systemFolder":false}]}'
  recorded_at: Fri, 09 Sep 2016 16:17:40 GMT
recorded_with: VCR 3.0.3
