---
http_interactions:
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - a-fake-app-token
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - 1R2pfU7V+mo=biJD5ns8ATZfstsDKVvtP9K0PWpLjYEeq9OStP8rELM=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:17:40 GMT
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/folder/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - 1R2pfU7V+mo=biJD5ns8ATZfstsDKVvtP9K0PWpLjYEeq9OStP8rELM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":0,"name":"Inbox","count":2,"unreadCount":0,"systemFolder":true}'
  recorded_at: Fri, 09 Sep 2016 16:17:41 GMT
recorded_with: VCR 3.0.3
