language: ruby
rvm:
- 2.3.0
addons:
  postgresql: '9.4'
branches:
  only:
  - master
  - production
before_script:
- export HOSTNAME="www.example.com"
- export SAML_CERTIFICATE_FILE="spec/support/certificates/ruby-saml.crt"
- export SAML_KEY_FILE="spec/support/certificates/ruby-saml.key"
- export SAML_RELAY="http://localhost:3001/auth/login/callback"
- export SAML_LOGOUT_RELAY="http://localhost:3001/logout"
- export REDIS_HOST="localhost"
- export REDIS_PORT="6379"
- export MHV_HOST='https://mock-prescriptions-api.herokuapp.com'
- export MHV_APP_TOKEN='fake-app-token'
- export DB_ENCRYPTION_KEY='f01ff8ebd1a2b053ad697ae1f0d86adb48ebb708021e4c76c3807d37f6b4e389d5aa45ea171f2f5074222784c1ee2bb8272390d1b9517a7a6987c22733ef00b2'
- export MHV_SM_HOST='https://test.vets.gov'
- export MHV_SM_APP_TOKEN='fake-app-token'
- export EVSS_BASE_URL='https://test.vets.gov'
- 'export EVSS_SAMPLE_CLAIMANT_USER=''{"uuid": "1234", "first_name": "Jane","last_name":
  "Doe","edipi": "1105051936","participant_id": "123456789"}'''
- export MVI_OPEN_TIMEOUT='2'
- export MVI_TIMEOUT='10'
- export MVI_CLIENT_CERT_PATH='/fake/client/cert/path'
- export MVI_CLIENT_KEY_PATH='/fake/client/key/path'
- export MVI_PROCESSING_CODE='T'
- export EVSS_S3_UPLOADS=false
- export VHA_MAPSERVER_URL='https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0'
- export NCA_MAPSERVER_URL='https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0'
- export VBA_MAPSERVER_URL='https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0'
- export MOCK_MVI_SERVICE=false
- export GOV_DELIVERY_SERVER='stage-tms.govdelivery.com'
- export ES_URL='https://test.vets.gov'
- export ES_CLIENT_CERT_PATH='/fake/client/cert/path'
- export ES_CLIENT_KEY_PATH='/fake/client/key/path'

script:
- bundle exec rake db:create db:schema:load ci
bundler_args: "--without development"
cache:
- bundler
notifications:
  email: false
env:
  matrix:
    secure: LwDoc5kU9cYbQdHkttOfFOTEpVbBLX28CVBDvPCM0oEenIoutIEE9mli0Opp/1KoLyPU+K8HURyl0nTDuteaRGPLK38e8L1Blr2T+eiJsp1iBRc5KTDJXgIviujZpNrlX9FS11W9LlfIr0+9zJI2J/u8PVihBC73CminVSmuCIMOfKsV2Q9sxcUl6iqvGJradVtibcP/R0jGJsyNF23LOY2I86bgaYFrDTRWbqGLYKnUz5IIxQunQC1vB1dTJp2TaXojD96tHZb4cJHkf5UZ3KYPLktcyh9tqiLSALKDfWOYMliyZ6w+fQFrZQTnKnOAXoqSQiDbWQ49cNZTniu5JXdQuolkkQe/Ep0o27ooAicx/Xvze1ykG4X3YhqlZFdXS5svORAMVDn/AcO/lXpMYPKmnlGpqNwvk4XNm7MZzXGJQ/J9abBRG39qrR3I8AnOK1LklhENZWp6SmOe+kgp6J+v2gtjNEqvb+UVBCuPKi+//eje0bxRk1NeLVpOYaW378U50tE+hhVrs+ox4LbE5JaDOlf6ogdm5LJzrh/FoTotOUdywr6X+iSMeRkak1psKsPujdbzgjgSKQ0UkoHXw3kK/EkUExVGIuZpTW4/cRRM0N7sEX1az9xee/TwR2E3DbXwRHX0S3S2MWAjtNMfxQcRf7aytZL391dVdXuXunE=
