language: ruby
rvm:
  - 2.3.0

addons:
  postgresql: "9.4"

branches:
    only:
        - master

before_script:
  - export HOSTNAME="www.example.com"
  - export CERTIFICATE_FILE="spec/support/certificates/ruby-saml.crt"
  - export KEY_FILE="spec/support/certificates/ruby-saml.key"
  - export REDIS_HOST="localhost"
  - export REDIS_PORT="6379"
  - export MHV_HOST='https://mock-prescriptions-api.herokuapp.com'
  - export MHV_APP_TOKEN='fake-app-token'
  - export MHV_USER_ID='1435525'
  - export DB_ENCRYPTION_KEY='f01ff8ebd1a2b053ad697ae1f0d86adb48ebb708021e4c76c3807d37f6b4e389d5aa45ea171f2f5074222784c1ee2bb8272390d1b9517a7a6987c22733ef00b2'
  - export MHV_SM_HOST='https://test.vets.gov'
  - export MHV_SM_APP_TOKEN='fake-app-token'
  - export MHV_SM_USER_ID='10616687'
  - export EVSS_CLAIMS_BASE_URL='http://csraciapp6.evss.srarad.com:7003/wss-claims-services-web-3.1/rest'
  - export EVSS_DOCUMENTS_BASE_URL='http://csraciapp6.evss.srarad.com:7003/wss-document-services-web-3.1/rest/'
  - "export EVSS_SAMPLE_CLAIMANT_USER='{\"first_name\": \"Jane\",\"last_name\": \"Doe\",\"issue_instant\": \"2015-04-17T14:52:48Z\",\"edipi\": \"1105051936\",\"participant_id\": \"123456789\"}'"

script:
  - bundle exec rake db:create db:schema:load ci

bundler_args: "--without development"
cache:
  - bundler

notifications:
  email: false
