language: ruby
rvm:
  - 2.3.0

addons:
  postgresql: "9.4"

branches:
    only:
        - master

before_script:
  - export CERTIFICATE_FILE="spec/support/certificates/ruby-saml.crt"
  - export KEY_FILE="spec/support/certificates/ruby-saml.key"
  - export REDIS_HOST="localhost"
  - export REDIS_PORT="6379"
  - psql -c 'create database vets_api_test;' -U postgres

script:
  - bundle exec rake

bundler_args: "--without development"
cache:
  - bundler

notifications:
  email: false
