language: ruby
rvm:
  - 2.3.0

addons:
  postgresql: "9.4"

branches:
    only:
        - master

before_script:
  - export HOSTNAME="www.example.com"
  - export CERTIFICATE_FILE="spec/support/certificates/ruby-saml.crt"
  - export KEY_FILE="spec/support/certificates/ruby-saml.key"
  - export REDIS_HOST="localhost"
  - export REDIS_PORT="6379"
  - export MHV_HOST='https://mock-prescriptions-api.herokuapp.com'
  - export MHV_APP_TOKEN='fake-app-token'
  - export MHV_USER_ID='1435525'
  - export DB_ENCRYPTION_KEY='f01ff8ebd1a2b053ad697ae1f0d86adb48ebb708021e4c76c3807d37f6b4e389d5aa45ea171f2f5074222784c1ee2bb8272390d1b9517a7a6987c22733ef00b2'
  - export MHV_SM_HOST='https://test.vets.gov'
  - export MHV_SM_APP_TOKEN='fake-app-token'
  - export MHV_SM_USER_ID='10616687'
  - export EVSS_BASE_URL='https://test.vets.gov'
  - "export EVSS_SAMPLE_CLAIMANT_USER='{\"uuid\": \"1234\", \"first_name\": \"Jane\",\"last_name\": \"Doe\",\"edipi\": \"1105051936\",\"participant_id\": \"123456789\"}'"
  - export MVI_URL= 'http://see.project.readme.for.instructions.org'
  - export MVI_CLIENT_CERT_PATH= '/fake/client/cert/path'
  - export MVI_CLIENT_KEY_PATH= '/fake/client/key/path'
  - export EVSS_S3_UPLOADS=false
  - export VHA_MAPSERVER_URL='https://maps.va.gov/server/rest/services/PROJECTS/Facility_Locator/MapServer'
  - export VHA_MAPSERVER_LAYER='0'
  - export MOCK_MVI_SERVICE=false

script:
  - bundle exec rake db:create db:schema:load ci

bundler_args: "--without development"
cache:
  - bundler

notifications:
  email: false
