--title "Vets API"
--protected
--private
--verbose
--no-cache
--no-save
--output-dir .yardoc/output
--exclude /spec/
--exclude /swagger/
--readme README.md
--files CONTRIBUTING.md,LICENSE.md,SECURITY.md
