version: '3.4'
services:
  redis:
    image: redis:6.2-alpine
    ports:
      - "63790:6379"
  postgres:
    image: mdillon/postgis:11-alpine
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
    volumes:
      - ./data:/var/lib/postgresql/data:cached
    ports:
      - "54320:5432"

