version: '3.8'

x-app: &common
  build:
    args:
      BUNDLE_ENTERPRISE__CONTRIBSYS__COM: "${BUNDLE_ENTERPRISE__CONTRIBSYS__COM}"
    context: .
  environment:
    BUNDLE_ENTERPRISE__CONTRIBSYS__COM: "${BUNDLE_ENTERPRISE__CONTRIBSYS__COM}"
    "Settings.database_url": "postgis://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DATABASE:-vets_api_development}?pool=4"
    "Settings.test_database_url": "postgis://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DATABASE:-vets_api_test}"
    "Settings.redis.app_data.url": "redis://redis:6379"
    "Settings.redis.sidekiq.url": "redis://redis:6379"
    "Settings.redis.rails_cache.url": "redis://redis:6379"
  image: vets-api:${DOCKER_IMAGE:-latest}
  volumes:
    - "../vets-api-mockdata:/cache"
    - .:/app:cached
  working_dir: /app
  depends_on:
    - clamav
    - postgres
    - redis
  links:
    - clamav
    - postgres
    - redis

services:
  clamav:
    image: clamav/clamav
    ports:
      - 33100:3310
  redis:
    image: redis:5.0-alpine
    ports:
      - 63790:6379
  postgres:
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c max_connections=200
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
      PGDATA: /tmp
    image: mdillon/postgis:11-alpine
    ports:
      - 54320:5432
    volumes:
      - ./data:/var/lib/postgresql/data:cached
  web:
    <<: *common
    ports:
      - 3000:3000
  worker:
    <<: *common
    command: bundle exec sidekiq -q critical,4 -q tasker,3 -q default,2 -q low,1
