services:
  redis:
    image: redis:6.2-alpine
    ports:
      - "63790:6379"
  postgres:
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c max_connections=200
    image: postgis/postgis:15-3.5-alpine
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
    volumes:
      - ./data:/var/lib/postgresql/data:cached
    ports:
      - "54320:5432"
  clamav:
    volumes:
     - shared-vol:/vets-api
    image: clamav/clamav
    ports:
      - 33100:3310
    platform: linux/amd64
volumes:
 shared-vol:
