version: '3'
services:
  redis:
    image: redis:3.2-alpine
  postgres:
    image: mdillon/postgis:9.6-alpine
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
  vets-api:
    build:
      context: .
      args:
        sidekiq_license: "${BUNDLE_ENTERPRISE__CONTRIBSYS__COM}"
        danger_github_api_token: "${DANGER_GITHUB_API_TOKEN}"
    image: "vets-api:${DOCKER_IMAGE:-latest}"
    volumes:
      - ".:/src/vets-api"
      - bundle:/bundle
    environment:
      "Settings.database_url": "postgis://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DATABASE:-vets_api_development}?pool=4"
      "Settings.test_database_url": "postgis://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DATABASE:-vets_api_test}?pool=4"
      "Settings.saml.cert_path": "/src/vets-api/spec/support/certificates/ruby-saml.crt"
      "Settings.saml.key_path": "/src/vets-api/spec/support/certificates/ruby-saml.key"
      "Settings.redis.host": "redis"
      "Settings.redis.port": "6379"
      "Settings.binaries.clamdscan": "clamscan"           # Not running a separate process within the container for clamdscan, so we use clamscan which requires no daemon
      POSTGRES_HOST: "${POSTGRES_HOST:-postgres}"
      POSTGRES_PORT: "${POSTGRES_PORT:-5432}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      CI:
      RAILS_ENV: test
      CC_TEST_REPORTER_ID: '0c396adc254b0317e2c3a89a1c929fd61270b133c944d3e9c0f13b3937a7ce45'
      CHANGE_ID:           "${CHANGE_ID}"
      JENKINS_URL:         "${JENKINS_URL}"
      GIT_URL:             "${GIT_URL}"
      GIT_BRANCH:          "${GIT_BRANCH}"
      GIT_COMMIT:          "${GIT_COMMIT}"
      GIT_PREVIOUS_COMMIT: "${GIT_PREVIOUS_COMMIT}"
    depends_on:
      - postgres
      - redis
    links:
      - postgres
      - redis
volumes:
  bundle:
