---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/disability_rating/123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '55'
      X-Ratelimit-Limit-Minute:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/veteran_verification/v2/disability_rating/123498767V234859\"\n}\n"
  recorded_at: Fri, 29 Sep 2023 14:26:05 GMT
recorded_with: VCR 6.2.0
