---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/disability_rating/123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblech
  response:
    status:
      code: 504
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Reset:
      - '9'
      X-Ratelimit-Remaining-Minute:
      - '119'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: |
        <html>
        <head><title>504 Gateway Time-out</title></head>
        <body>
        <center><h1>504 Gateway Time-out</h1></center>
        </body>
        </html>
  recorded_at: Thu, 29 Jun 2023 14:50:51 GMT
recorded_with: VCR 6.2.0
