---
http_interactions:
- request:
    method: get
    uri: https://www2.cdc.gov/vaccines/iis/iisstandards/XML.asp?rpt=vax2vg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<VGCodes>\r\n <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n
        <Value>COVID-19 LAV Non-US Vaccine (COVIVAC)</Value>\r\n <Name>CVXCode</Name>\r\n <Value>503 </Value>\r\n
        <Name>Status</Name>\r\n <Value>Non-US</Value>\r\n <Name>Vaccine Group Name</Name>\r\n
        <Value>COVID-19</Value>\r\n <Name>CVX for Vaccine Group</Name>\r\n <Value>213</Value>\r\n
        </CVXVGInfo>\r\n
        <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n <Value>DTaP-Hep B-IPV</Value>\r\n
        <Name>CVXCode</Name>\r\n <Value>110        </Value>\r\n <Name>Status</Name>\r\n
        <Value>Active</Value>\r\n <Name>Vaccine Group Name</Name>\r\n <Value>DTAP</Value>\r\n
        <Name>CVX for Vaccine Group</Name>\r\n <Value>107</Value>\r\n </CVXVGInfo>\r\n
        <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n <Value>DTaP-Hep B-IPV</Value>\r\n
        <Name>CVXCode</Name>\r\n <Value>110        </Value>\r\n <Name>Status</Name>\r\n
        <Value>Active</Value>\r\n <Name>Vaccine Group Name</Name>\r\n <Value>HepB</Value>\r\n
        <Name>CVX for Vaccine Group</Name>\r\n <Value>45</Value>\r\n </CVXVGInfo>\r\n
        <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n <Value>COVID-19, mRNA, LNP-S, PF, 100 mcg
        or 50 mcg dose</Value>\r\n <Name>CVXCode</Name>\r\n <Value>207       </Value>\r\n
        <Name>Status</Name>\r\n <Value>Active</Value>\r\n <Name>Vaccine Group Name</Name>\r\n
        <Value>COVID-19</Value>\r\n <Name>CVX for Vaccine Group</Name>\r\n <Value>213</Value>\r\n
        </CVXVGInfo>\r\n </VGCodes>\r\n"
  recorded_at: Thu, 18 Nov 2021 04:06:23 GMT
recorded_with: VCR 6.0.0
