---
http_interactions:
- request:
    method: get
    uri: https://www2a.cdc.gov/vaccines/iis/iisstandards/XML.asp?rpt=tradename
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<productnames>\r\n
      <prodInfo>\r\n <Name>CDC Product Name</Name>\r\n <Value>Moderna
      COVID-19 Vaccine (non-US Spikevax)</Value>\r\n <Name>Short Description</Name>\r\n
      <Value>COVID-19, mRNA, LNP-S, PF, 100 mcg or 50 mcg dose</Value>\r\n <Name>CVXCode</Name>\r\n
      <Value>207       </Value>\r\n <Name>Manufacturer</Name>\r\n <Value>Moderna US, Inc.</Value>\r\n
      <Name>MVX Code</Name>\r\n <Value>MOD       </Value>\r\n <Name>MVX Status</Name>\r\n
      <Value>Active</Value>\r\n <Name>Product name Status</Name>\r\n <Value>Active</Value>\r\n
      <Name>Last Updated</Name>\r\n <Value>7/13/2021</Value>\r\n </prodInfo>\r\n
      <prodInfo>\r\n<Name>CDC Product Name</Name>\r\n <Value>PEDIARIX</Value>\r\n
      <Name>Short Description</Name>\r\n <Value>DTaP-Hep B-IPV</Value>\r\n <Name>CVXCode</Name>\r\n
      <Value>110</Value>\r\n <Name>Manufacturer</Name>\r\n <Value>GlaxoSmithKline</Value>\r\n
      <Name>MVX Code</Name>\r\n <Value>SKB </Value>\r\n <Name>MVX Status</Name>\r\n
      <Value>Active</Value>\r\n <Name>Product name Status</Name>\r\n <Value>Active</Value>\r\n
      <Name>Last Updated</Name>\r\n <Value>5/28/2010</Value>\r\n </prodInfo>\r\n </productnames>\r\n"
  recorded_at: Thu, 18 Nov 2021 04:06:24 GMT
recorded_with: VCR 6.0.0
