---
http_interactions:
- request:
    method: get
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/10101V964144/status/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"agreementSigned":true,"optOut":false,"cernerProvisioned":false,"bypassEligible":false}'
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
- request:
    method: post
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/10101V964144/agreements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
[...]
- request:
    method: put
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/1012667145V762142/provisioning/cerner
    body:
      encoding: UTF-8
      string: '{"provisionUser":true,"gcids":"1012667145V762142^NI^200M^USVHA^P|1005490754^NI^200DOD^USDOD^A|600043201^PI^200CORP^USVBA^A|123456^PI^200ESR^USVHA^A|123456^PI^648^USVHA^A|123456^PI^200BRLS^USVBA^A","firstName":"Tamara","lastName":"Ellis"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"agreementSigned":true,"optOut":false,"cernerProvisioned":false,"bypassEligible":false}'
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
recorded_with: VCR 6.1.0
