---
http_interactions:
  - request:
      method: put
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/telephones
      body:
        encoding: UTF-8
        string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":"VETSGOV","phoneNumber":"5551234","phoneNumberExt":null,"phoneType":"MOBILE","sourceDate":"2018-06-06T15:35:55.000Z","sourceSystemUser":"64762895576664260","telephoneId":42,"textMessageCapableInd":true,"textMessagePermInd":true,"ttyInd":true,"vet360Id":"123456789","voiceMailAcceptableInd":true,"effectiveStartDate":"2018-06-06T15:35:55.000Z","effectiveEndDate":"2018-06-06T15:35:55.000Z"}}'
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"txAuditId":"c3c6502d-f660-409c-9bc9-a7b7ce4f0bc5","status":"RECEIVED"}'
    recorded_at: Wed, 25 Apr 2018 21:32:21 GMT
recorded_with: VCR 3.0.3
