---
http_interactions:
  - request:
      method: get
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/1/addresses/status/1f450c8e-4bb2-4f5d-a5f3-0d907941625a
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 404
        message: ''
      headers:
        Vet360txauditid:
          - 6d90a453-36ba-4cf1-a887-f910111e1d34
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria 1f450c8e-4bb2-4f5d-a5f3-0d907941625a could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
    recorded_at: Fri, 10 Jan 2020 20:54:26 GMT
recorded_with: VCR 5.0.0
