---
http_interactions:
  - request:
      method: put
      uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/emails
      body:
        encoding: UTF-8
        string: '{"bio":{"emailAddressText":"person42@example.com","emailId":8087,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: ''
      headers:
        Vet360txauditid:
          - f218b0e1-acb2-45a5-be4f-847dc91d7271
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: |-
          {
          	"messages": [
          		{
          			"code": "CORE110",
          			"key": "_CUF_SOURCE_DATE_VERSION_VIOLATION",
          			"severity": "WARN",
          			"text": "Source dates are outdated for Type EmailDio with a ID of 8087.  Previous source date was 2018-09-06 17:41:00.596 but received new source date of Mon Apr 09 17:52:03 UTC 2018. Source dates may not be null, and new must be greater than the previous. Please correct your request and try again!"
          		},
          		{
          			"code": "CORE104",
          			"key": "_CUF_NO_CHANGES_DETECTED",
          			"severity": "INFO",
          			"text": "Your request was received and processed without error, however no differences were detected between current data and the data you sent.  This message is informational only, please verify your request if you believe you sent actual changes that should be applied."
          		}
          	],
          	"txAuditId": "d1018742-9df9-467f-88b6-f7af9e2c9894",
          	"status": "COMPLETED_NO_CHANGES_DETECTED"
          }
    recorded_at: Tue, 14 Jan 2020 06:14:02 GMT
recorded_with: VCR 5.0.0
