---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        </definitions>
  recorded_at: Tue, 08 Aug 2023 20:49:10 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Body>
            <tns:findBenefitClaimDetailsByBnftClaimId>
              <bnftClaimId>600397218</bnftClaimId>
            </tns:findBenefitClaimDetailsByBnftClaimId>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMy4xMgAA</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimDetailsByBnftClaimIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimDetailsDTO><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>400</baseEndPrdctTypeCd><benefitClaimId>600397218</benefitClaimId><bnftClaimLcStatus><phaseChngdDt>2023-04-14T08:54:55</phaseChngdDt><phaseType>Under
        Review</phaseType><phaseTypeChangeInd>12</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><phaseChngdDt>2023-04-14T08:54:33</phaseChngdDt><phaseType>Claim
        Received</phaseType><phaseTypeChangeInd>N</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimTypeCd>400SUPP</bnftClaimTypeCd><claimDt>2023-04-14</claimDt><claimStatus>PEND</claimStatus><claimStatusType>Compensation</claimStatusType><contentions>Hot
        Pockets (Increase)</contentions><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>No</developmentLetterSent><endPrdctTypeCd>400</endPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><poa>ITALIAN
        AMERICAN WAR VETERANS OF THE US, INC.</poa><programType>CPL</programType><ptcpntClmantId>8513206676</ptcpntClmantId><ptcpntVetId>8513206676</ptcpntVetId><regionalOfficeJrsdctn>National
        Work Queue</regionalOfficeJrsdctn><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><tempRegionalOfficeJrsdctn>St.
        Petersburg</tempRegionalOfficeJrsdctn><wsyswwn><addressLine1>National Work
        Queue</addressLine1><addressLine2>810 Vermont Avenue NW</addressLine2><addressLine3></addressLine3><city>Washington</city><state>DC</state><zip>20420</zip></wsyswwn></BenefitClaimDetailsDTO></ns0:findBenefitClaimDetailsByBnftClaimIdResponse></S:Body></S:Envelope>
  recorded_at: Tue, 08 Aug 2023 20:49:10 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://person.services.vetsnet.vba.va.gov/" name="PersonWebService">
        </definitions>
  recorded_at: Tue, 08 Aug 2023 20:49:37 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Body>
            <tns:findPersonBySSN>
              <ssn>796378782</ssn>
            </tns:findPersonBySSN>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMy4xMgAA</work:WorkContext></env:Header><S:Body><ns0:findPersonBySSNResponse
        xmlns:ns0="http://person.services.vetsnet.vba.va.gov/"><PersonDTO><brthdyDt>1948-10-30T00:00:00-06:00</brthdyDt><deathHistInd>N</deathHistInd><depNbr>11</depNbr><emailAddr></emailAddr><fileNbr>796378782</fileNbr><firstNm>RALPH</firstNm><firstNmKey>-2</firstNmKey><genderCd>M</genderCd><insFileNbr></insFileNbr><jrnDt>2023-04-27T08:42:45-05:00</jrnDt><jrnExtnlApplcnNm>VAgovAPI</jrnExtnlApplcnNm><jrnExtnlKeyTxt>va.api.user+idme.007@gmail.com</jrnExtnlKeyTxt><jrnExtnlUserId>lighthouse-vets-api</jrnExtnlUserId><jrnLctnId>281</jrnLctnId><jrnObjId>VAGOVAPI  -
        BUPD</jrnObjId><jrnPersonId>218113830</jrnPersonId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAGOVAPI</jrnUserId><lastNm>LEE</lastNm><lastNmKey>-1</lastNmKey><middleNm>E</middleNm><middleNmKey>-1</middleNmKey><mltyPersonInd>Y</mltyPersonInd><ptcpntDTO><blockAutoEnrlmtCd>U</blockAutoEnrlmtCd><blockCaddInd>U</blockCaddInd><ptcpntId>600045025</ptcpntId><ptcpntTypeNm>Person</ptcpntTypeNm></ptcpntDTO><ptcpntId>600045025</ptcpntId><sbstncAmt>0.0</sbstncAmt><spinaBifidaInd>N</spinaBifidaInd><ssnNbr>796378782</ssnNbr><ssnVrfctnStatusTypeCd>0</ssnVrfctnStatusTypeCd><stationOfJurisdiction>317</stationOfJurisdiction><termnlDigitNbr>82</termnlDigitNbr><vetInd>Y</vetInd></PersonDTO></ns0:findPersonBySSNResponse></S:Body></S:Envelope>
  recorded_at: Tue, 08 Aug 2023 20:49:38 GMT
- request:
    method: post
    uri: https://staging-api.va.gov/services/benefits-documents/v1/documents/search
    body:
      encoding: UTF-8
      string: '{"data":{"claimId":"600397218","fileNumber":"796378782"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"documents":[{"documentId":"6A40E389-EB12-473C-8C23-D1D6C996C544","originalFileName":"RALPH_LEE_600397218_526.pdf","documentTypeLabel":"VA
        21-526EZ, Fully Developed Claim (Compensation)","uploadedDateTime":"2023-04-14T13:55:00Z"},{"documentId":"29421740-dc43-4634-be42-17dfabf3502e","documentTypeLabel":"533","uploadedDateTime":"2023-04-14T13:54:52Z"}]}}'
  recorded_at: Tue, 08 Aug 2023 20:49:49 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="TrackedItemService">
        </definitions>
  recorded_at: Tue, 08 Aug 2023 20:49:50 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Body>
            <tns:findTrackedItems>
              <claimId>600397218</claimId>
            </tns:findTrackedItems>
          </env:Body>
          </env:Envelope>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdJABF3ZWJsb2dpYy5hcHAubWFwZAAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABzEuMTcuODYAAA==</work:WorkContext></env:Header><S:Body><ns0:findTrackedItemsResponse
        xmlns:ns0="http://services.mapd.benefits.vba.va.gov/"><BenefitClaim><name>BenefitClaim</name></BenefitClaim></ns0:findTrackedItemsResponse></S:Body></S:Envelope>
  recorded_at: Tue, 08 Aug 2023 20:49:51 GMT
recorded_with: VCR 6.2.0
