---
http_interactions:
- request:
    method: post
    uri: https://vaww.esrdev30.aac.va.gov:8433/voa/voaSvc?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://va.gov/schema/esr/voa/v1"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://va.gov/service/esr/voa/v1"><soap:Body><ns1:retrieveFormSubmissionStatusRequest><ns1:formSubmissionId>377609264</ns1:formSubmissionId></ns1:retrieveFormSubmissionStatusRequest></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 302
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <HTML><HEAD><TITLE> Page Unavailable </TITLE> </HEAD><BODY> https://vaww.esrdev1.aac.va.gov/status/ESR_Unavailable.html is unavailable, please contact system administrator. </BODY></HTML>
  recorded_at: Mon, 12 Dec 2016 14:06:08 GMT
recorded_with: VCR 3.0.3
