---
http_interactions:
- request:
    method: post
    uri: https://vaww.esrdev30.aac.va.gov:8433/voa/voaSvc?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://va.gov/schema/esr/voa/v1"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://va.gov/service/esr/voa/v1"><soap:Body><ns1:retrieveFormSubmissionStatusRequest><ns1:formSubmissionId>377609264</ns1:formSubmissionId></ns1:retrieveFormSubmissionStatusRequest></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><retrieveFormSubmissionStatusResponse
        xmlns:ns2="http://jaxws.webservices.esr.med.va.gov/schemas" xmlns="http://va.gov/schema/esr/voa/v1"><formSubmissionId>377609264</formSubmissionId><message/><timeStamp>2016-12-12T08:06:08.423-06:00</timeStamp></retrieveFormSubmissionStatusResponse></S:Body></S:Envelope>
  recorded_at: Mon, 12 Dec 2016 14:06:08 GMT
recorded_with: VCR 3.0.3
