---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Ssn:
      - '120495723'
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab470b0240e45ddd9bd220cdea147828"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"HLR2423","type":"higherLevelReview","attributes":{"appealIds":["HLR2423"],"updated":"2024-04-11T10:19:54-04:00","incompleteHistory":false,"active":true,"description":"7 compensation issues","location":"aoj","aoj":"vba","programArea":"compensation","status":{"type":"hlr_received","details":{}},"alerts":[],"issues":[{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null},{"active":true,"lastAction":null,"date":null,"description":"Compensation issue","diagnosticCode":null}],"events":[{"type":"hlr_request","date":"2020-05-01"}],"evidence":[]}}]}'
  recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
