---
http_interactions:
- request:
    method: post
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_review/higher_level_reviews
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","attributes":{"receiptDate":"2019-07-10","informalConference":true,"sameOffice":false,"legacyOptInApproved":true,"benefitType":"compensation","veteran":{"fileNumberOrSsn":"872958715"}}},"included":[{"type":"ContestableIssue","attributes":{"ratingIssueId":"826209597423"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Location:
      - http://localhost:3000/api/v3/decision_review/intake_statuses/a6b24b87-2dd3-4bbf-ab39-2dc62ba39ec8
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","id":"a6b24b87-2dd3-4bbf-ab39-2dc62ba39ec8","attributes":{"status":"submitted"}}}'
  recorded_at: Mon, 20 Jan 2020 21:20:24 GMT
recorded_with: VCR 5.0.0
