---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_reviews/legacy_appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
      X-Va-File-Number:
      - '328723195'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77bd8aa6465ba4224528ad36204a61e5"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3019752","type":"legacyAppeal","attributes":{"issues":[{"summary":"Service
        connection, hearing loss"},{"summary":"Service connection, tooth loss"},{"summary":"Increased
        rating, sleep apnea"},{"summary":"Effective date, rating"},{"summary":"Service
        connection, limitation of ankle motion"},{"summary":"Service connection, hemic
        or lymphatic disability"},{"summary":"Service connection, foot or leg muscle
        injury"},{"summary":"Service connection, ringworm"},{"summary":"Service connection,
        limitation of thigh motion (flexion)"},{"summary":"Service connection, lumbosacral
        or cervical strain"}],"veteranFullName":"Milford Y Kutch","decisionDate":null,"latestSocSsocDate":"2021-06-12"}}]}'
  recorded_at: Fri, 06 Aug 2021 18:29:35 GMT
recorded_with: VCR 6.0.0
