---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_reviews/legacy_appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
      X-Va-Ssn:
      - '242292129'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"460f2ce561c6a388cfb15e752480a037"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"legacyAppeal","attributes":{"assignedAttorney":null,"assignedJudge":null,"readableHearingRequestType":"Travel","readableOriginalHearingRequestType":"Travel","issues":[{"levels":["Schedular","Cartilage,
        semilunar, removal of, symptomatic"],"program":"02","type":"12","codes":["04","5259"],"disposition":"F","close_date":"2018-02-17T00:00:00.000Z","note":"Aut
        temporibus non sit eum.","vacols_sequence_id":7,"labels":["Compensation","Increased
        rating","Schedular","Cartilage, semilunar, removal of, symptomatic"],"readjudication":false,"remand_reasons":[]},{"levels":["Schedular","Myositis"],"program":"02","type":"12","codes":["04","5021"],"disposition":"6","close_date":"2021-06-13T00:00:00.000Z","note":"Aut
        temporibus non sit eum.","vacols_sequence_id":6,"labels":["Compensation","Increased
        rating","Schedular","Myositis"],"readjudication":false,"remand_reasons":[]},{"levels":["All
        Others","Tinnitus, recurrent"],"program":"02","type":"15","codes":["03","6260"],"disposition":"1","close_date":"2021-06-13T00:00:00.000Z","not[...]
