---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_reviews/legacy_appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
      X-Va-Ssn:
      - '502628285'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e58b86ede2dc965ef08c3595c66f86e"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2760964","type":"legacyAppeal","attributes":{"issues":[{"summary":"Service
        connection, pancreatitis"}],"veteranFullName":"Elda Z Quigley","decisionDate":"2021-05-04T00:00:00.000Z","latestSocSsocDate":"2021-06-12"}}]}'
  recorded_at: Fri, 06 Aug 2021 18:29:32 GMT
recorded_with: VCR 6.0.0
