---
http_interactions:
- request:
    method: post
    uri: "https://int.services.eauth.va.gov:9303/psim_webservice/dev/IdMSSOeWebService"
    body:
      encoding: UTF-8
      string: "<nobeuno></nobeuno>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - PRPA_IN201305UV02
  response:
    status:
      code: 400
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml
      X-Backside-Transport:
      - FAIL FAIL
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' ?>
        <env:Envelope xmlns:env='http://schemas.xmlsoap.org/soap/envelope/'>
          <env:Body>
            <env:Fault>
              <faultcode>env:Client</faultcode>
              <faultstring>Internal Error</faultstring>
            </env:Fault>
          </env:Body>
        </env:Envelope>
  recorded_at: Wed, 14 Aug 2019 19:01:59 GMT
recorded_with: VCR 3.0.3
