{{- $root := . -}}
{{- range $name, $service := $root.Values.web.webServices }}
{{- if $service.autoscaling.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $name }}
  namespace: {{ $root.Release.Namespace }}
spec:
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
      - type: Pods
        value: 3
        periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Pods
        value: 1
        periodSeconds: 60
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $name }}
  minReplicas: {{ $service.autoscaling.minReplicas | default $root.Values.web.autoscaling.minReplicas }}
  maxReplicas: {{ $service.autoscaling.maxReplicas | default $root.Values.web.autoscaling.maxReplicas }}
  metrics:
  - type: External
    external:
      metric:
        name: "datadogmetric@{{ $root.Release.Namespace }}:puma-backlog-{{ $name }}"
      target:
        type: Value
        value: {{ $service.autoscaling.targetValue | default $root.Values.web.autoscaling.targetValue }}
{{- end }}
{{- end }}


{{- if .Values.worker.autoscaling.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.appName }}-sidekiq
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.appName }}-sidekiq
  minReplicas: {{ .Values.worker.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.worker.autoscaling.maxReplicas }}
  metrics:
  - type: External
    external:
      metric:
        name: "datadogmetric@{{ $root.Release.Namespace }}:sidekiq-enqueued-jobs"
      target:
        type: Value
        value: {{ .Values.worker.autoscaling.targetValue }}
{{- end }}
