---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://benefitclaim.services.vetsnet.vba.va.gov/" name="BenefitClaimWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://benefitclaim.services.vetsnet.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/BenefitClaimWebServiceBean/BenefitClaimWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findBnftClaimSpeclIssue">
        <part name="parameters" element="tns:findBnftClaimSpeclIssue"/>
        </message>
        <message name="findBnftClaimSpeclIssueResponse">
        <part name="parameters" element="tns:findBnftClaimSpeclIssueResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="insertBnftClaimSpeclIssue">
        <part name="parameters" element="tns:insertBnftClaimSpeclIssue"/>
        </message>
  [...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>VAgovAPI</wsse:Username>
            </wsse:UsernameToken>
            <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
              <vaws:CLIENT_MACHINE>192.168.86.122</vaws:CLIENT_MACHINE>
              <vaws:STN_ID>281</vaws:STN_ID>
              <vaws:applicationName>VAgovAPI</vaws:applicationName>
              <vaws:ExternalUid>600043201</vaws:ExternalUid>
              <vaws:ExternalKey>600043201</vaws:ExternalKey>
            </vaws:VaServiceHeaders>
          </wsse:Security>
        </env:Header>

          <env:Body>
            <tns:findBnftClaim>
              <bnftClaimId>600098193</bnftClaimId>

            </tns:findBnftClaim>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findBnftClaim"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdTAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTMuMy44AAA=</work:WorkContext></env:Header><S:Body><ns0:findBnftClaimResponse
        xmlns:ns0="http://benefitclaim.services.vetsnet.vba.va.gov/"><BnftClaimDTO><bnftClaimId>600098193</bnftClaimId><bnftClaimTypeCd>400PREDSCHRG</bnftClaimTypeCd><bnftClaimTypeLabel>Compensation</bnftClaimTypeLabel><bnftClaimTypeNm>eBenefits
        526EZ-Pre Discharge (400)</bnftClaimTypeNm><bnftClaimUserDisplay>YES</bnftClaimUserDisplay><claimJrsdtnLctnId>123725</claimJrsdtnLctnId><claimRcvdDt>2017-05-02T00:00:00-05:00</claimRcvdDt><claimSuspnsDt>2017-06-01T11:56:23-05:00</claimSuspnsDt><cpClaimEndPrdctTypeCd>404</cpClaimEndPrdctTypeCd><intakeJrsdtnLctnId>98282</intakeJrsdtnLctnId><jrnDt>2017-10-18T08:23:35-05:00</jrnDt><jrnLctnId>317</jrnLctnId><jrnObjId>SHARE  -
        PCAN</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VBACOREEHEE</jrnUserId><payeeTypeCd>00</payeeTypeCd><payeeTypeNm>Veteran</payeeTypeNm><pgmTypeCd>CPL</pgmTypeCd><pgmTypeNm>Compensation-Pension
        Live</pgmTypeNm><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntClmantNm>ELLIS
        TAMARA</ptcpntClmantNm><ptcpntMailAddrsId>15064337</ptcpntMailAddrsId><ptcpntPymtAddrsId>14906550</ptcpntPymtAddrsId><ptcpntVetId>600043201</ptcpntVetId><ptcpntVsrId>600093804</ptcpntVsrId><stationOfJurisdiction>499</stationOfJurisdiction><statusTypeCd>CAN</statusTypeCd><statusTypeNm>Cancelled</statusTypeNm><submtrApplcnTypeCd>EBN</submtrApplcnTypeCd><submtrRoleTypeCd>VET</submtrRoleTypeCd><svcTypeCd>CP</svcTypeCd><termnlDigitNbr>15</termnlDigitNbr></BnftClaimDTO></ns0:findBnftClaimResponse></S:Body></S:Envelope>
  recorded_at: Thu, 13 Jul 2023 15:27:38 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.86.122</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>600043201</vaws:ExternalUid>
            <vaws:ExternalKey>600043201</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:updateBnftClaim><bnftClaimDTO><bnftClaimId>600098193</bnftClaimId><bnftClaimTypeCd>400PREDSCHRG</bnftClaimTypeCd><bnftClaimTypeLabel>Compensation</bnftClaimTypeLabel><bnftClaimTypeNm>eBenefits 526EZ-Pre Discharge (400)</bnftClaimTypeNm><bnftClaimUserDisplay>YES</bnftClaimUserDisplay><claimJrsdtnLctnId>123725</claimJrsdtnLctnId><claimRcvdDt>2017-05-02T00:00:00-05:00</claimRcvdDt><claimSuspnsDt>2017-06-01T11:56:23-05:00</claimSuspnsDt><cpClaimEndPrdctTypeCd>404</cpClaimEndPrdctTypeCd><intakeJrsdtnLctnId>98282</intakeJrsdtnLctnId><jrnDt>2017-10-18T08:23:35-05:00</jrnDt><jrnLctnId>317</jrnLctnId><jrnObjId>SHARE  - PCAN</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VBACOREEHEE</jrnUserId><payeeTypeCd>00</payeeTypeCd><payeeTypeNm>Veteran</payeeTypeNm><pgmTypeCd>CPL</pgmTypeCd><pgmTypeNm>Compensation-Pension Live</pgmTypeNm><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntClmantNm>ELLIS TAMARA</ptcpntClmantNm><ptcpntMailAddrsId>15064337</ptcpntMailAddrsId><ptcpntPymtAddrsId>14906550</ptcpntPymtAddrsId><ptcpntVetId>600043201</ptcpntVetId><ptcpntVsrId>600093804</ptcpntVsrId><stationOfJurisdiction>499</stationOfJurisdiction><statusTypeCd>CAN</statusTypeCd><statusTypeNm>Cancelled</statusTypeNm><submtrApplcnTypeCd>EBN</submtrApplcnTypeCd><submtrRoleTypeCd>VET</submtrRoleTypeCd><svcTypeCd>CP</svcTypeCd><termnlDigitNbr>15</termnlDigitNbr><filed5103WaiverInd>Y</filed5103WaiverInd></bnftClaimDTO></tns:updateBnftClaim></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"updateBnftClaim"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas[...]
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/ClaimManagementService/ClaimManagementService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/ClaimManagementService/ClaimManagementService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>VAgovAPI</wsse:Username>
            </wsse:UsernameToken>
            <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
              <vaws:CLIENT_MACHINE>192.168.86.122</vaws:CLIENT_MACHINE>
              <vaws:STN_ID>281</vaws:STN_ID>
              <vaws:applicationName>VAgovAPI</vaws:applicationName>
              <vaws:ExternalUid>600043201</vaws:ExternalUid>
              <vaws:ExternalKey>600043201</vaws:ExternalKey>
            </vaws:VaServiceHeaders>
          </wsse:Security>
        </env:Header>

          <env:Body>
            <tns:findClaimLevelSuspense>
              <claimId>600098193</claimId>

            </tns:findClaimLevelSuspense>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findClaimLevelSuspense"'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Ecid:
      - 561d70ec-2ba1-4c12-bd40-49cd46361f05-00014fac
      X-Oracle-Dms-Rid:
      - '0'
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdJABF3ZWJsb2dpYy5hcHAubWFwZAAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABzEuMTcuODYAAA==</work:WorkContext></env:Header><S:Body><ns0:findClaimLevelSuspenseResponse
        xmlns:ns0="http://services.mapd.benefits.vba.va.gov/"><ClaimLevelSuspense><name>ClaimLevelSuspense</name><benefitClaim><callId>17</callId><jrnDt>2017-03-23T12:31:03-05:00</jrnDt><jrnLctnId>283</jrnLctnId><jrnObjId>VBMS  -
        CEST</jrnObjId><jrnSttTc>I</jrnSttTc><jrnUserId>VBMSSYSACCT</jrnUserId><name>BenefitClaim</name><rowCnt>1</rowCnt><rowId>106340</rowId><bnftClmTc>400PREDSCHRG</bnftClmTc><bnftClmTn>eBenefits
        526EZ-Pre Discharge (400)</bnftClmTn><claimRcvdDt>2017-05-02T00:00:00-05:00</claimRcvdDt><claimSuspnsDt>2017-10-18T08:23:35-05:00</claimSuspnsDt><clmId>600098193</clmId><clmSuspnsCd>056</clmSuspnsCd><lcSttRsnTc>CAN</lcSttRsnTc><lcSttRsnTn>Cancelled</lcSttRsnTn><lctnId>123725</lctnId><nonMedClmDesc>eBenefits
        526EZ-Pre Discharge (400)</nonMedClmDesc><notesInd>1</notesInd><prirty>0</prirty><ptcpntIdClmnt>600043201</ptcpntIdClmnt><ptcpntIdVet>600043201</ptcpntIdVet><ptcpntIdVsr>600093804</ptcpntIdVsr><ptcpntSuspnsId>600065506</ptcpntSuspnsId><sojLctnId>337</sojLctnId><stationProfile><callId>17</callId><jrnDt>2010-10-29T15:21:58-05:00</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>cd_stn_prfil_pkg.do_update</jrnObjId><jrnSttTc>U</jrnSttTc><jrnUserId>CAPJBACH</jrnUserId><name>StationProfile</name><rowCnt>1</rowCnt><rowId>8</rowId><lctnId>322</lctnId><notfcnPrflTc>LASTSUSPNS</notfcnPrflTc><stnNm>Austin
        SDC</stnNm><suspnsInd>C</suspnsInd></stationProfile><suspnsActnDt>2017-10-18T08:23:35-05:00</suspnsActnDt><suspnsRsnTxt>Cancelled</suspnsRsnTxt></benefitClaim><errorLevel>0</errorLevel></ClaimLevelSuspense></ns0:findClaimLevelSuspenseResponse></S:Body></S:Envelope>
  recorded_at: Thu, 13 Jul 2023 15:27:41 GMT
[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/ClaimManagementService/ClaimManagementService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>VAgovAPI</wsse:Username>
            </wsse:UsernameToken>
            <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
              <vaws:CLIENT_MACHINE>192.168.86.122</vaws:CLIENT_MACHINE>
              <vaws:STN_ID>281</vaws:STN_ID>
              <vaws:applicationName>VAgovAPI</vaws:applicationName>
              <vaws:ExternalUid>600043201</vaws:ExternalUid>
              <vaws:ExternalKey>600043201</vaws:ExternalKey>
            </vaws:VaServiceHeaders>
          </wsse:Security>
        </env:Header>

          <env:Body>
            <tns:updateClaimLevelSuspense>
              <benefitClaim>
          <callId>17</callId>
          <jrnDt>2017-03-23T12:31:03-05:00</jrnDt>
          <jrnLctnId>283</jrnLctnId>
          <jrnObjId>VBMS  - CEST</jrnObjId>
          <jrnSttTc>I</jrnSttTc>
          <jrnUserId>VBMSSYSACCT</jrnUserId>
          <name>BenefitClaim</name>
          <rowCnt>1</rowCnt>
          <rowId>106340</rowId>
          <bnftClmTc>400PREDSCHRG</bnftClmTc>
          <bnftClmTn>eBenefits 526EZ-Pre Discharge (400)</bnftClmTn>
          <claimRc[...]
