openapi: 3.0.0
info:
  version: 1.0.0
  title: VA My Health APIs
  license:
    name: CC0 1.0 Universal
  description: |
    The Department of Veterans Affairs My Health APIs. All paths are relative to https://api.va.gov/my_health.
servers:
  - url: https://api.va.gov/my_health
security:
  - CookieAuth: []
paths:
  /v1/medical_records/allergies:
    get:
      description: List patient allergies
      operationId: list_allergies
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing AllergyIntolerance objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.allergyIntolerance.html'>Allergies</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/allergies
  /v1/medical_records/allergies/{id}:
    get:
      description: Get a patient allergy
      operationId: get_allergy
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR AllergyIntolerance. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.allergyIntolerance.html'>Allergies</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/allergies/{id}
  /v1/medical_records/bbmi_notification/status:
    get:
      description: Show the current user's preference setting for BBMI email notifications.
      operationId: bbmi_notification_status
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  flag:
                    type: boolean
                    description: Indicates whether the BBMI email preference is enabled (`true`) or disabled (`false`).
                example:
                  flag: true
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/bbmi_notification/status
  /v1/medical_records/ccd/generate:
    get:
      description: Generate a Continuity of Care Document for a patient to later download.
      operationId: generate_ccd
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsCcdGenerateStatus'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/ccd/generate
  /v1/medical_records/ccd/download.{format}:
    get:
      summary: Download Continuity of Care Document (CCD)
      description: |
        Download the Continuity of Care Document (CCD) specified by the `date` parameter.

        The response format is indicated by the path extension — for example:
        - `/v1/medical_records/ccd/download.xml`
        - `/v1/medical_records/ccd/download.html`
        - `/v1/medical_records/ccd/download.pdf`

        If the format extension is not included, the default is XML.
      operationId: download_ccd
      parameters:
        - name: date
          in: query
          required: true
          description: |
            Date of the desired CCD, as pulled verbatim from the `generate` endpoint response.
          schema:
            type: string
            format: date
        - name: format
          in: path
          description: |
            The format of the returned CCD document. Can be `xml`, `html`, or `pdf`.
          schema:
            type: string
            enum:
              - xml
              - html
              - pdf
            default: xml
      responses:
        '200':
          description: Successful download
          content:
            application/xml:
              schema:
                type: string
                description: |
                  XML-formatted Continuity of Care Document (CCD).
            text/html:
              schema:
                type: string
                description: |
                  HTML-formatted Continuity of Care Document (CCD).
            application/pdf:
              schema:
                type: string
                format: binary
                description: |
                  PDF-formatted Continuity of Care Document (CCD).
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v1/medical_records/clinical_notes:
    get:
      description: List patient clinical notes
      operationId: list_clinical_notes
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing DocumentReference objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.note.html'>Care Summaries and Notes</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/clinical_notes
  /v1/medical_records/clinical_notes/{id}:
    get:
      description: Get a clinical note
      operationId: get_clinical_note
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR DocumentReference. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.note.html'>Care Summaries and Notes</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/clinical_notes/{id}
  /v1/medical_records/conditions:
    get:
      description: List patient health conditions
      operationId: list_conditions
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Condition objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.condition.html'>Health Conditions</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/conditions
  /v1/medical_records/conditions/{id}:
    get:
      description: Get a patient health condition
      operationId: get_condition
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Condition. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.condition.html'>Health Conditions</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/conditions/{id}
  /v1/medical_records/imaging:
    get:
      description: Get a list of MHV radiology reports from CVIX for the current user. These results do not include VIA reports.
      operationId: list_imaging_studies
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsImagingStudyList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging
  /v1/medical_records/imaging/status:
    get:
      description: Get the statuses of all available CVIX study jobs for the current user.
      operationId: list_study_job_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecordsStudyJobStatus'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging
  /v1/medical_records/imaging/{studyId}/dicom:
    get:
      description: Returns a ZIP file containing DICOM images for the specified study.
      operationId: download_dicom
      parameters:
        - name: studyId
          in: path
          required: true
          description: Unique identifier for the imaging study
          schema:
            type: string
      responses:
        '200':
          content:
            application/zip:
              schema:
                type: string
                format: binary
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging/{studyId}/dicom
  /v1/medical_records/imaging/{studyId}/images/{seriesId}/{imageId}:
    get:
      description: Returns a JPG image for the provided study, series, and image.
      operationId: download_image
      parameters:
        - name: studyId
          in: path
          required: true
          description: Unique identifier for the imaging study
          schema:
            type: string
        - name: seriesId
          in: path
          required: true
          description: Study-scoped identifier for the image series
          schema:
            type: string
        - name: imageId
          in: path
          required: true
          description: Study-scoped identifier for the image within the series
          schema:
            type: string
      responses:
        '200':
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging/{studyId}/images/{seriesId}/{imageId}
  /v1/medical_records/imaging/{studyId}/request:
    get:
      description: Request that MHV download an imaging study from CVIX. This will initiate the transfer of the images into MHV for later retrieval from vets-api as DICOM or JPGs.
      operationId: request_study
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsStudyJobStatus'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not Found
      summary: /v1/medical_records/imaging/{studyId}/request
  /v1/medical_records/imaging/{studyId}/images:
    get:
      description: Get a list of images for the provided CVIX radiology study
      operationId: list_images
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Filename representing an image in a specific series.
                example:
                  - Series 01 - Image 01.jpg
                  - Series 02 - Image 01.jpg
                  - Series 03 - Image 01.jpg
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not Found
      summary: /v1/medical_records/imaging/{studyId}/images
  /v1/medical_records/labs_and_tests:
    get:
      description: |
        List patient labs and tests. This API call runs three separate backend calls, then merges the results. It returns results for the Chemistry/Hematology, EKG, Microbiology, Pathology, and Radiology domains.
      operationId: list_labs_and_tests
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing DiagnosticReport and DocumentReference objects. The schemas can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.chReport.html'>Chemistry/Hematology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.ecg.html'>EKG</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.labReport.html'>Microbiology and Pathology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.imaging.html'>Radiology</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/labs_and_tests
  /v1/medical_records/labs_and_tests/{id}:
    get:
      description: |
        Get a patient labs and tests record of type DiagnosticReport.
      operationId: get_labs_and_tests_diagrep
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR DiagnosticReport. The schemas can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.chReport.html'>Chemistry/Hematology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.labReport.html'>Microbiology and Pathology</a> <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.ecg.html'>EKG</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.imaging.html'>Radiology</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/labs_and_tests/{id}
  /v1/medical_records/military_service:
    get:
      description: Get the current user's military service
      operationId: get_military_service
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                description: A long string containing the user's military service report
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/military_service
  /v1/medical_records/patient:
    get:
      description: Get the current user's patient account information, including a list of treatment facilities.
      operationId: get_patient
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  The returned object is a <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-common-api/blob/development/src/main/java/gov/va/med/mhv/common/api/dto/PatientDTO.java'>PatientDTO object</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/patient
  /v1/medical_records/patient/demographic:
    get:
      description: Get the current user's self-entered demographic information.
      operationId: get_patient_demographic
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  The returned object is a <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-bluebutton-api/blob/development/mhv-bluebutton-portal-data-jpa/src/main/java/gov/va/med/mhv/bluebutton/model/phr/PhrDemographics.java'>PhrDemographics object</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/patient/demographic
  /v1/medical_records/radiology:
    get:
      description: Get the current user's non-FHIR-ized list of radiology reports from VIA (through MHV).
      operationId: get_mhv_radiology
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsPhrRadiologyList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/radiology
  /v1/medical_records/self_entered:
    get:
      description: Get the current user's self-entered information.
      operationId: get_patient
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    description: |
                      A list of self-entered health information objects. Each object will be a self-entered type, such as:
                      - <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-getcare-api/blob/development/mhv-getcare-portal-api/src/main/java/gov/va/med/mhv/getcare/common/dto/HealthInsuranceDTO.java'>HealthInsuranceDTO</a>
                      - <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-health-history-api/blob/development/mhv-health-history-portal-api/src/main/java/gov/va/med/mhv/health/dto/MilitaryHistoryDTO.java'>MilitaryHistoryDTO</a>
                      - <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-health-history-api/blob/development/mhv-health-history-portal-api/src/main/java/gov/va/med/mhv/health/dto/ImmunizationDTO.java'>ImmunizationDTO</a>
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        source_date:
                          type: string
                          format: date
                        note:
                          type: string
                  errors:
                    type: array
                    description: |
                      An array of errors encountered while retrieving the records, if any.
                      Each object may include a code and a human-readable message.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                required:
                  - responses
                  - errors
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/self_entered
  /v1/medical_records/session:
    get:
      description: Creates a session to the upstream MHV APIs. Note that any MR API call will do this as well. This endpoint ONLY creates a session.
      operationId: post_session
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/session
  /v1/medical_records/session/status:
    get:
      description: Returns the PHR Refresh status for the current user.
      operationId: get_session_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsPatientExtractStatus'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/session/status
  /v1/medical_records/vaccines:
    get:
      description: List patient vaccines
      operationId: list_vaccines
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Immunization objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.immunization.html'>Immunization</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vaccines
  /v1/medical_records/vaccines/{id}:
    get:
      description: Get a patient vaccine
      operationId: get_vaccine
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Immunization. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.immunization.html'>Immunization</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vaccines/{id}
  /v1/medical_records/vitals:
    get:
      description: List patient vital records
      operationId: list_vitals
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Observation objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.vitals.html'>Vitals</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vitals
  /v1/medical_records/vitals/{id}:
    get:
      description: Get a patient vital record
      operationId: get_vitals
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Observation. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.vitals.html'>Vitals</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vitals/{id}
  /v1/messaging/folders:
    get:
      description: List available secure messaging folders
      operationId: get_folders
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolders'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders
  /v1/messaging/folders/{id}:
    get:
      description: Get a secure messaging folder
      operationId: get_folder
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolder'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}
    put:
      description: Rename an existing folder
      operationId: post_rename_folder
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Name for Folder
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolder'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}
  /v1/messaging/folders/{id}/threads:
    get:
      description: List threads in a secure messaging folder.
      operationId: get_folder_threads
      parameters:
        - description: The id of the folder that threads are being retrieved from
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: The size of the pagination you want
          in: query
          name: pageSize,
          required: true
          schema:
            type: string
        - description: The page number to get based on your page size
          in: query
          name: pageNumber,
          required: true
          schema:
            type: string
        - description: The field to sort the results by
          in: query
          name: sortField,
          required: true
          schema:
            type: string
            enum:
              - SENDER_NAME
              - RECIPIENT_NAME
              - SENT_DATE
              - DRAFT_DATE
        - description: The order to sort the results by
          in: query
          name: sortOrder,
          required: true
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageThreadList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}/threads
  /v1/messaging/folders/{id}/search:
    post:
      description: |
        Search messages in a secure messaging folder. If multiple search criteria are specified, each returned search
        result will match ALL criteria. Pagination is supported and is handled by the upstream MHV server.

        When listing messages, the response for each message will include most but not all of the message attributes.
        Specifically, the message body and attachment information is not included. Those attributes can be obtained by
        getting the specific message resource.
      operationId: search_folder
      parameters:
        - description: The page of results to be returned (passed through to MHV API)
          in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
        - description: The number of results per page (passed through to MHV API)
          in: query
          name: per_page,
          required: false
          schema:
            type: integer
            default: 250
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageSearchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSearch'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}/search
  /v1/messaging/message_drafts:
    post:
      description: Save a new draft message
      operationId: post_create_message_draft
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/message_drafts/{id}:
    put:
      description: Update an existing draft message
      operationId: post_create_message_draft
      parameters:
        - description: The id of the draft that is to be updated
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              example:
                body: the updated message
              type: object
        required: true
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{id}
  /v1/messaging/message_drafts/{reply_id}/replydraft:
    post:
      description: Save a new draft message as a reply to an existing message
      operationId: post_create_message_draft_reply
      parameters:
        - description: The id of the message that will be replied to
          in: path
          name: reply_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{reply_id}/replydraft
  /v1/messaging/message_drafts/{reply_id}/replydraft/{draft_id}:
    post:
      description: Edit a draft message that was a reply to an existing message
      operationId: post_create_message_draft_reply
      parameters:
        - description: The id of the message that will be replied to
          in: path
          name: reply_id
          required: true
          schema:
            type: string
        - description: The id of the draft that is to be updated
          in: path
          name: draft_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              example:
                body: the updated message
              type: object
        required: true
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{reply_id}/replydraft/{draft_id}
  /v1/messaging/messages:
    post:
      description: Send a new secure message
      operationId: post_create_message
      parameters:
        - description: Indicates if this message is for an OH triage group (allows larger attachments)
          in: query
          name: is_oh_triage_group
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          multipart/form-data:
            schema:
              properties:
                message:
                  description: Stringified JSON with same parameters as if this was an application/json request (e.g. '{"category":"OTHER","recipient_id":1763526,"body":"test message"}')
                  type: string
                uploads[]:
                  description: |
                    One or more message attachments.

                    <strong>NOTES:</strong>
                    <ul>
                    <li>A single message may have a maximum of 4 attachments (10 for OH triage groups).</li>
                    <li>A single attachment cannot exceed 6 MB (25 MB for OH triage groups)</li>
                    <li>All attachments combined cannot exceed 10 MB (25 MB for OH triage groups)</li>
                    <li>Supported file types/extensions: DOC, DOCX, GIF, JPG, JPEG, PDF, PNG, RTF, TXT, XLS, XLSX, JFIF, PJPEG, PJP (OH triage groups also support: BMP, TIFF, TIF, PPT, PPTX, PPS, PPSX, ODT, MP4, M4V, MOV, WMV, MPG).</li>
                    </ul>
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
        description: |
          New message body.

          <strong>NOTES:</strong>
          <ul>
            <li>If a subject isn't included, default subject will be "{{Category}} Inquiry" (e.g. Medication Inquiry)</li>
            <li>Messages can only be replied to for 45 days.  After that, the message is considered "expired"</li>
            <li>If sending a draft, include the draft's ID in the request body as `draft_id`. Draft will be deleted once sent. Any fields included in request body will overwrite original draft contents.
            <li>If including file attachments, this request must be sent as <i>multipart/form-data</i></li>
            <li>
              File attachment restrictions (as imposed by MHV):
              <ul>
                <li>User may attach up to 4 files (10 files for OH triage groups)</li>
                <li>Single attachment cannot exceed 6 MB (25 MB for OH triage groups)</li>
                <li>Total attachment cannot exceed 10 MB (25 MB for OH triage groups)</li>
                <li>Accepted formats: DOC, DOCX, GIF, JPG, JPEG, PDF, PNG, RTF, TXT, XLS, XLSX, JFIF, PJPEG, PJP (OH triage groups also support: BMP, TIFF, TIF, PPT, PPTX, PPS, PPSX, ODT, MP4, M4V, MOV, WMV, MPG)</li>
              </ul>
            </li>
          </ul>
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: |-
            Bad Request - Oracle Health message send failed. This can occur when:
            - Message status polling returns FAILED or INVALID status
            - Error code SM98 will be returned in the response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages
  /v1/messaging/messages/categories:
    get:
      description: List available message categories
      operationId: get_categories
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageCategories'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/categories
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/messages/{id}:
    delete:
      description: Moves a secure message to the "Deleted" folder
      operationId: delete_message
      parameters:
        - description: The id of the message that is to be deleted
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message was deleted successfully
        '400':
          content:
            application/json:
              example:
                errors:
                  - code: SM114
                    detail: Unable to move message
                    status: '400'
                    title: Operation failed
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              example:
                errors:
                  - code: '401'
                    detail: IAM user session is inactive
                    status: '401'
                    title: Not authorized
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                errors:
                  - code: '403'
                    detail: You do not have access to messaging
                    status: '403'
                    title: Forbidden
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}
    get:
      description: |
        Get a secure message <strong>and mark the message as read</strong>.

        <strong>NOTES:</strong>
        <ul>
          <li>Unlike listing messages in a folder, the message resource returned from this operation will include
        the message body and attachment information.</li>
          <li>This GET operation is not fully idempotent and will set readReceipt field as 'READ'</li>
          <li>If message has an attachment included, attachmentSize is displayed in bytes</li>
        </ul>
      operationId: get_message
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
    patch:
      description: Moves a secure message to a specified folder
      operationId: post_move_message
      parameters:
        - description: The id of the message that is to be moved
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The id of the folder that the message is to be moved to
          in: query
          name: folder_id,
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message was moved successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/move
  /v1/messaging/messages/{id}/attachments/{attachment_id}:
    get:
      description: |
        Get a secure message attachment content as a direct binary download. Secure messaging supports the following file types/extensions: doc, docx, gif, jpg, pdf, png, rtf, txt, xls, xlsx.
      operationId: get_attachment
      parameters:
        - description: ID of the message that we are retrieving attachments of
          in: path
          name: id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
          headers:
            Content-Disposition:
              description: |
                This header will have the value of "attachment", and a "filename" parameter containing the original filename of the attached content.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/attachments/{attachment_id}
  /v1/messaging/messages/{id}/reply:
    post:
      description: |
        Send reply to a secure message

        <strong>NOTE:</strong> If including file attachments, this request must be sent as <i>multipart/form-data</i>

        File attachment restrictions (as imposed by MHV):
        <ul>
          <li>User may attach up to 4 files (10 files for OH triage groups)</li>
          <li>Accepted formats: DOC, DOCX, GIF, JPG, JPEG, PDF, PNG, RTF, TXT, XLS, XLSX, JFIF, PJPEG, PJP (OH triage groups also support: BMP, TIFF, TIF, PPT, PPTX, PPS, PPSX, ODT, MP4, M4V, MOV, WMV, MPG)</li>
          <li>Single attachment cannot exceed 6 MB (25 MB for OH triage groups)</li>
          <li>Total attachment cannot exceed 10 MB (25 MB for OH triage groups)</li>
        </ul>
      operationId: post_create_message_reply
      parameters:
        - description: ID of the message that is being replied to
          in: path
          name: id
          required: true
          schema:
            type: integer
        - description: Indicates if this message is for an OH triage group (allows larger attachments)
          in: query
          name: is_oh_triage_group
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageReplyRequest'
          multipart/form-data:
            schema:
              properties:
                message:
                  description: Stringified JSON with same parameters as if this was an application/json request (e.g. '{"body":"test body with attachment"}')
                  type: string
                uploads[]:
                  description: |
                    One or more message attachments.

                    <strong>NOTES:</strong>
                    <ul>
                    <li>A single message may have a maximum of 4 attachments (10 for OH triage groups).</li>
                    <li>A single attachment cannot exceed 6 MB (25 MB for OH triage groups)</li>
                    <li>All attachments combined cannot exceed 10 MB (25 MB for OH triage groups)</li>
                    <li>Supported file types/extensions: DOC, DOCX, GIF, JPG, JPEG, PDF, PNG, RTF, TXT, XLS, XLSX, JFIF, PJPEG, PJP (OH triage groups also support: BMP, TIFF, TIF, PPT, PPTX, PPS, PPSX, ODT, MP4, M4V, MOV, WMV, MPG).</li>
                    </ul>
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
        description: Reply message body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: |
            Bad Request - Oracle Health message send failed. This can occur when:
            <ul>
              <li>Message status polling returns FAILED or INVALID status</li>
              <li>Error code SM98 will be returned in the response</li>
            </ul>
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/reply
  /v1/messaging/messages/{id}/thread:
    get:
      description: |
        Gets a list of message summaries that are related to the message of the passed id.
      operationId: get_messages_for_thread
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SecureMessageListInThread'
                  - $ref: '#/components/schemas/SecureMessageListInThreadWithFullBody'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/thread
      parameters:
        - name: full_body
          in: query
          description: Include the full body of the messages and attachments meta in the response
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/recipients:
    get:
      description: List available recipients to which messages may be sent
      operationId: get_triage_teams
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingRecipients'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/recipients
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/allrecipients:
    get:
      description: List available recipients to which messages may be sent with advanced attributes
      operationId: get_all_triage_teams
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingAllRecipients'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/allrecipients
  /v1/messaging/threads/{id}/move:
    patch:
      description: Moves all received messages in a secure message thread to a specified folder. Sent messages, draft messages, and deleted messages will not be moved.
      operationId: post_move_thread
      parameters:
        - description: The id of the thread that is to be moved
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The id of the folder that the message is to be moved to
          in: query
          name: folder_id,
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message thread was moved successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/threads/{id}/move
  /v1/messaging/preferences/recipients:
    post:
      description: Update recipients `preferredTeam` value
      operationId: update_triage_team_preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessagingUpdateTriageTeamRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              type: string
              example: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/recipients
  /v1/messaging/preferences/signature:
    get:
      description: Gets user message signature preferences
      operationId: get_signature
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSignature'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/signature
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
    post:
      description: Update user message signature preferences
      operationId: update_signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageSignatureUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSignature'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/signature
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/prescriptions:
    get:
      description: List medications.
      operationId: get_prescriptions
      parameters:
        - description: One refill status to filter on
          in: query
          name: refill_status
          required: false
          schema:
            type: string
        - description: The page number to get based on your page size
          in: query
          name: page
          required: false
          schema:
            type: string
        - description: The size of the pagination you want
          in: query
          name: per_page
          required: false
          schema:
            type: string
        - description: The attribute to sort on, negated for descending
          in: query
          name: sort
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions
  /v1/prescriptions/{id}:
    get:
      description: Get prescription.
      operationId: get_prescription
      parameters:
        - description: prescription id
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/{id}
  /v1/prescriptions/{id}/refill:
    patch:
      description: Refill the prescription
      operationId: patch_refill_prescription
      parameters:
        - description: The id of the prescription
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/{id}/refill
  /v1/prescriptions/list_refillable_prescriptions:
    get:
      description: List refillable medications.
      operationId: get_list_refillable_prescriptions
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/list_refillable_prescriptions
  /v1/prescriptions/refill_prescriptions:
    patch:
      description: Refill the prescriptions
      operationId: patch_refill_prescription
      parameters:
        - description: Array of the prescription ids
          in: query
          name: ids
          required: true
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/refill_prescriptions
  /v1/prescriptions/get_prescription_image/{cmopNdcNumber}:
    get:
      description: Get prescription image.
      operationId: get_prescription_image
      parameters:
        - description: cmopNdcNumber
          in: path
          name: cmopNdcNumber
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: base64-encoded file contents
                    type: string
                    format: byte
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/list_refillable_prescriptions
  /v1/tooltips:
    get:
      description: Retrieve tooltips settings for mhv-medications In-Product Education (IPE)
      operationId: get_tooltips
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tooltip'
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      description: Create tooltip setting for mhv-medications In-Product Education (IPE)
      operationId: post_tooltip
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TooltipParams'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tooltip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    summary: /v1/tooltips
  /v1/tooltips/{id}:
    patch:
      description: Update tooltip setting for mhv-medications In-Product Education (IPE), typically used for setting 'hidden' attribute
      operationId: patch_tooltip
      parameters:
        - description: The id of the tooltip
          in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: increment_counter
          required: false
          schema:
            type: boolean
          description: Value indicates if counter will be incremented
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TooltipParams'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tooltip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    summary: /v1/tooltips/{id}
  /v1/unique_user_metrics:
    post:
      description: |
        Log unique user metrics events for analytics tracking. Accepts multiple events in a single batch operation
        and buffers them for asynchronous processing by a background job.

        This endpoint is used for tracking unique user interactions with MHV Portal features to provide
        opt-out-free analytics that are more accurate than Google Analytics.

        <strong>Asynchronous Processing:</strong> Events are buffered and processed in batches by a background job.
        The response indicates which events were accepted for processing, not whether they are new unique events.
        Duplicate events (same user + event combination) are handled during background processing.

        <strong>Valid Event Names:</strong> Event names must be from the approved registry of valid events.
        See <a href='https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/unique_user_events/event_registry.rb'>EventRegistry</a>
        for the complete list. Invalid event names are silently filtered out.
      operationId: log_unique_user_metrics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniqueUserMetricsRequest'
        description: |
          Array of event names to log for the authenticated user.

          <strong>NOTES:</strong>
          <ul>
            <li>Events are buffered for asynchronous batch processing</li>
            <li>Event names must be from the approved registry - see <a href='https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/unique_user_events/event_registry.rb'>EventRegistry</a></li>
            <li>Invalid event names are silently filtered out</li>
            <li>Maximum 50 characters per event name</li>
            <li>At least one event name must be provided</li>
          </ul>
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniqueUserMetricsResponse'
              example:
                buffered_events: []
          description: OK - No events were buffered (feature disabled or all events were invalid)
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniqueUserMetricsResponse'
              example:
                buffered_events:
                  - mhv_landing_page_accessed
                  - secure_messaging_accessed
                  - prescriptions_accessed
          description: Accepted - Events were accepted and buffered for asynchronous processing
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request - Invalid request parameters (missing event_names, not an array, or empty array)
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
      summary: /v1/unique_user_metrics
  /v2/labs_and_tests:
    get:
      description: |
        Get lab results and test information for the current user within a specified date range.
        This endpoint provides structured lab and test data with FHIR path mappings for each data element.
      operationId: getLabsAndTests
      parameters:
        - name: start_date
          in: query
          description: Start date for lab results query (format YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date for lab results query (format YYYY-MM-DD)
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Lab results and test information response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabsAndTestsResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden - user not authorized for lab results
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: No lab results found
      summary: /v2/labs_and_tests
  /v2/prescriptions:
    get:
      description: |
        List medications for the current user. This endpoint uses the Unified Health Data (Oracle Health) backend
        and requires the `mhv_medications_cerner_pilot` feature flag to be enabled.

        Supports filtering, sorting, and pagination. Results can be filtered by prescription status and sorted
        by various attributes. Pending (PD) prescriptions are included based on the `mhv_medications_display_pending_meds`
        feature flag.
      operationId: get_v2_prescriptions
      parameters:
        - description: Filter prescriptions by disp_status (comma-separated for multiple values, e.g., "Active,Expired")
          in: query
          name: filter[disp_status][eq]
          required: false
          schema:
            type: string
            example: Active
        - description: The page number for pagination
          in: query
          name: page
          required: false
          schema:
            type: integer
            minimum: 1
            example: 1
        - description: The number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            example: 20
        - description: |
            The attribute to sort by. Prefix with "-" for descending order. 
            Supported values: "alphabetical-rx-name", "last-fill-date", or field names like "disp_status", "prescription_name", "dispensed_date"
          in: query
          name: sort
          required: false
          schema:
            type: string
            example: alphabetical-rx-name
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden - Feature not available or user not authorized
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      summary: /v2/prescriptions
  /v2/prescriptions/list_refillable_prescriptions:
    get:
      description: |
        List refillable medications for the current user. This endpoint returns prescriptions that can be refilled,
        including those marked as refillable or renewable (Active/Expired within 120 days).

        Uses the Unified Health Data (Oracle Health) backend and requires the `mhv_medications_cerner_pilot` feature flag.
      operationId: get_v2_list_refillable_prescriptions
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrescriptionDetail'
                  meta:
                    type: object
                    required:
                      - recently_requested
                    properties:
                      recently_requested:
                        type: array
                        description: |
                          List of prescriptions with status "Active: Refill in Process"  or "Active: Submitted"
                        items:
                          type: object
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden - Feature not available or user not authorized
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      summary: /v2/prescriptions/list_refillable_prescriptions
  /v2/prescriptions/refill:
    post:
      description: |
        Refill one or more prescriptions in a batch operation. This endpoint accepts an array of prescription orders,
        each containing a station number and prescription ID. Returns detailed results for each refill attempt,
        including successful refills and any errors encountered.

        Uses the Unified Health Data (Oracle Health) backend and requires the `mhv_medications_cerner_pilot` feature flag.

        <strong>NOTES:</strong>
        <ul>
          <li>All orders are processed in a single batch operation</li>
          <li>Partial failures are allowed - some prescriptions may succeed while others fail</li>
          <li>Each order must include both stationNumber and id fields</li>
          <li>At least one order must be provided</li>
          <li>Results include separate lists for successful and failed refills</li>
        </ul>
      operationId: post_v2_refill_prescriptions
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionRefillRequest'
        description: Array of prescription orders to refill
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionRefillResponse'
          description: OK - Refill operation completed (may include partial failures)
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request - Invalid request format or missing required fields
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden - Feature not available or user not authorized
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Internal Server Error
      summary: /v2/prescriptions/refill
components:
  securitySchemes:
    CookieAuth:
      type: apiKey
      name: api_session
      in: cookie
      description: An authenticated session is established using the Sessions Controller to initiate federated authentication with an external credential provider, after which an API session token is established in the api_session cookie.
  parameters:
    InflectionHeader:
      in: header
      name: X-Key-Inflection
      required: false
      schema:
        type: string
        enum:
          - camel
          - snake
      description: Instructs the API to return camelCase keys rather than snake_case
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    Error:
      type: object
      required:
        - title
        - detail
        - code
        - status
      properties:
        title:
          type: string
        detail:
          type: string
        code:
          type: string
        status:
          type: string
        source:
          type: string
        meta:
          type: object
          required:
            - messages
          properties:
            messages:
              type: array
              items:
                type: object
                required:
                  - key
                  - severity
                  - text
                properties:
                  key:
                    type: string
                  severity:
                    type: string
                  text:
                    type: string
    Errors:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    MedicalRecordsCcdGenerateStatus:
      type: array
      items:
        type: object
        properties:
          dateGenerated:
            type: string
            format: date-time
            description: Timestamp when the document status was generated (ISO 8601 format with timezone).
          status:
            type: string
            description: Status of the CCD generation.
            enum:
              - COMPLETE
              - ERROR
          patientId:
            type: string
            description: Unique ICN identifier of the patient.
      example:
        - dateGenerated: 2024-11-20T11:57:07.000-0500
          status: COMPLETE
          patientId: 1012740024V936776
        - dateGenerated: 2024-11-19T14:29:54.000-0500
          status: ERROR
          patientId: 1012740024V936776
    MedicalRecordsImagingStudyList:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unique identifier for the study.
          stationNumber:
            type: string
            description: VA facility station number where the study was performed.
          procedureName:
            type: string
            description: Name of the radiology procedure.
          event:
            type: string
            description: Type of imaging event (e.g., "COMPUTED TOMOGRAPHY", "DIGITAL RADIOGRAPHY").
          patientId:
            type: integer
            format: int64
            description: Unique identifier for the patient.
          studyIdUrn:
            type: string
            description: Unique study identifier in URN format.
          imageCount:
            type: integer
            description: Number of images generated by the study.
          performedDatePrecise:
            type: integer
            format: int64
            description: Timestamp when the procedure was performed (UNIX epoch in milliseconds).
          performedDateImprecise:
            type: string
            nullable: true
            description: An imprecise date representation of the performed date, if applicable.
          studyJob:
            type: object
            nullable: true
            description: Associated study job metadata (currently null).
          performedDateStr:
            type: string
            description: Human-readable formatted date string.
          reportOnly:
            type: boolean
            nullable: true
            description: Indicates whether this is a report-only study.
          cvixOnly:
            type: boolean
            nullable: true
            description: Indicates whether this study is CVIX-only.
          reportText:
            type: string
            description: The radiology report text including findings, impressions, and diagnostic codes.
          phrRadiologyId:
            type: integer
            description: Unique identifier for the PHR (Personal Health Record) radiology entry.
      example:
        - id: 24647611
          stationNumber: '451'
          procedureName: CT THORAX W/O CONT
          event: COMPUTED TOMOGRAPHY
          patientId: 11382904
          studyIdUrn: 451-72913365
          imageCount: 213
          performedDatePrecise: 1296052104901
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 26 Jan 2011 @ 09<span class="usa-sr-only">:</span>28
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^CT THORAX W/O CONT^PATIENTLAST,JOHN
            Group ID# 72913365...
          phrRadiologyId: 0
        - id: 24647612
          stationNumber: '453'
          procedureName: KNEE 4 OR MORE VIEWS (LEFT)
          event: DIGITAL RADIOGRAPHY
          patientId: 11382904
          studyIdUrn: 453-2487450
          imageCount: 4
          performedDatePrecise: 1712264604902
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 04 Apr 2024 @ 17<span class="usa-sr-only">:</span>03
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^KNEE 4 OR MORE VIEWS (LEFT)^PATIENTLAST,JOHN
            Group ID# 2487450...
          phrRadiologyId: 0
        - id: 24647613
          stationNumber: '453'
          procedureName: CT THORAX W/CONT
          event: COMPUTED TOMOGRAPHY
          patientId: 11382904
          studyIdUrn: 453-2487448
          imageCount: 1
          performedDatePrecise: 1712264064902
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 04 Apr 2024 @ 16<span class="usa-sr-only">:</span>54
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^CT THORAX W/CONT^PATIENTLAST,JOHN
            Group ID# 2487448...
          phrRadiologyId: 0
    MedicalRecordsStudyJobStatus:
      type: object
      properties:
        status:
          type: string
          description: Current status of the study job (e.g., "NEW", "PROCESSING", "COMPLETE", "ERROR").
        statusText:
          type: string
          description: String representation of percentage complete.
        studyIdUrn:
          type: string
          description: Unique identifier for the study.
        percentComplete:
          type: integer
          nullable: true
          description: Percentage complete of the study download.
        fileSize:
          type: string
          nullable: true
          description: Human-readable file size (e.g., "20MB", "1.5GB").
        fileSizeNumber:
          type: integer
          format: int64
          nullable: true
          description: Numeric file size in bytes.
        startDate:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the study job started.
        endDate:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the study job ended.
      example:
        - status: COMPLETE
          statusText: '100'
          studyIdUrn: 5df3a7b7-7ead-45ff-b466-8b29a01ba94d
          percentComplete: 100
          fileSize: 253.91 KB
          fileSizeNumber: 260003
          startDate: 1734360572036
          endDate: 1734360578627
    MedicalRecordsPhrRadiologyList:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unique identifier for the radiology record.
          reasonForStudy:
            type: string
            nullable: true
            description: The reason for conducting the study.
          radiologist:
            type: string
            description: Name of the radiologist.
          clinicalHistory:
            type: string
            nullable: true
            description: Clinical history related to the radiology procedure.
          comments:
            type: string
            nullable: true
            description: Additional comments on the study.
          createdDate:
            type: string
            format: date-time
            description: Timestamp when the record was created (ISO 8601 format).
          impressionText:
            type: string
            nullable: true
            description: Impression section from the radiology report.
          inPatientOutPatient:
            type: string
            nullable: true
            description: Indicates whether the patient was an inpatient or outpatient.
          oplock:
            type: integer
            description: Versioning control number for the record.
          stationNumber:
            type: string
            description: Station number where the procedure was performed.
          patientId:
            type: integer
            format: int64
            description: Unique identifier for the patient.
          procedureName:
            type: string
            description: Name of the radiology procedure performed.
          status:
            type: string
            description: The status of the radiology report (e.g., "Verified").
          requestingProvider:
            type: string
            nullable: true
            description: Name of the requesting healthcare provider.
          reportText:
            type: string
            description: Full radiology report.
          performingLocationStNum:
            type: string
            nullable: true
            description: Station number of the performing location.
          eventDate:
            type: string
            format: date-time
            description: Timestamp of the event date (ISO 8601 format).
          examDate:
            type: string
            format: date-time
            nullable: true
            description: Timestamp of the exam date (ISO 8601 format).
          performingLocation:
            type: string
            nullable: true
            description: Name of the location where the study was performed.
      example:
        - id: 5621490
          reasonForStudy: null
          radiologist: DOE,JOHN
          clinicalHistory: this is 71 yr old pt had ab test in the past so he need to have recheck again.
          comments: null
          createdDate: '2020-11-13T20:52:28-05:00'
          impressionText: 1. Osteopenia of the left forearm...
          inPatientOutPatient: null
          oplock: 0
          stationNumber: '994'
          patientId: 616827
          procedureName: DEXA, PERIPHERAL STUDY
          status: Verified
          requestingProvider: DOE,JANE
          reportText: '1/6/04  STEWART, EARL H. SR. #404-42-7209...'
          performingLocationStNum: '994'
          eventDate: '2004-01-06T19:27:00-05:00'
          examDate: null
          performingLocation: DAYT3
        - id: 5621491
          reasonForStudy: null
          radiologist: DOE,JOHN
          clinicalHistory: Pt with hx of dizzy spells, occ vision problems.
          comments: null
          createdDate: '2020-11-13T20:52:28-05:00'
          impressionText: No hemodynamic changes to suggest significant diameter stenosis.
          inPatientOutPatient: null
          oplock: 0
          stationNumber: '994'
          patientId: 616827
          procedureName: CAROTID DOPPLER (BILATERAL)
          status: Verified
          requestingProvider: DOE,JANE
          reportText: CAROTID DOPPLER (REFERENCE VALUES)...
          performingLocationStNum: '994'
          eventDate: '2001-02-16T18:16:00-05:00'
          examDate: null
          performingLocation: DAYT3
    MedicalRecordsPatientExtractStatus:
      type: object
      properties:
        patient:
          type: object
          description: Patient identifier details.
          properties:
            identifier:
              type: string
              description: Unique identifier of the patient.
            assigningFacility:
              type: string
              description: The assigning facility for the identifier.
            assigningAuthority:
              type: string
              description: The assigning authority for the identifier.
            typeCode:
              type: string
              description: The type of identifier.
            icn:
              type: boolean
              description: Indicates if the identifier is an ICN.
        retrievedDate:
          type: integer
          format: int64
          description: Timestamp when the status was retrieved.
        lastRefreshDate:
          type: integer
          format: int64
          nullable: true
          description: Timestamp of the last refresh date (null if not refreshed).
        facilityExtractStatusList:
          type: array
          description: List of extract status entries for each facility and data domain.
          items:
            type: object
            properties:
              icn:
                type: string
                description: Patient ICN associated with the extract.
              stationNumber:
                type: string
                description: Facility identifier.
              extract:
                type: string
                description: Type of data (e.g., "Appointments", "Allergy", "ImagingStudy").
              lastModified:
                type: integer
                format: int64
                description: Timestamp of the last modification of the extract.
              recordCount:
                type: integer
                description: Number of records retrieved in the last extract.
              lastRequested:
                type: integer
                format: int64
                description: Timestamp of the last extract request.
              lastCompleted:
                type: integer
                format: int64
                description: Timestamp when the last request was fully processed.
              loadStatus:
                type: string
                enum:
                  - OK
                  - ERROR
                description: Status of the extract process.
              errorMessage:
                type: string
                nullable: true
                description: Error message if the extract failed.
              lastSuccessfulCompleted:
                type: integer
                format: int64
                nullable: true
                description: Timestamp of the last successful extract.
              upToDate:
                type: boolean
                description: Indicates if the extract is current.
      example:
        patient:
          identifier: 1012664643V006744
          assigningFacility: 200M
          assigningAuthority: USVHA
          typeCode: NI
          icn: true
        retrievedDate: 1732138027402
        lastRefreshDate: null
        facilityExtractStatusList:
          - icn: 1012664643V006744
            stationNumber: '0'
            extract: AppointmentsReminder
            lastModified: 1587054285453
            recordCount: 0
            lastRequested: 1587054283492
            lastCompleted: 1587054285453
            loadStatus: OK
            errorMessage: null
            lastSuccessfulCompleted: 1587054285453
            upToDate: true
[...]
