openapi: 3.0.0
info:
  version: 1.0.0
  title: VA My Health APIs
  license:
    name: CC0 1.0 Universal
  description: |
    The Department of Veterans Affairs My Health APIs. All paths are relative to https://api.va.gov/my_health.
servers:
  - url: https://api.va.gov/my_health
security:
  - CookieAuth: []
paths:
  /v1/medical_records/allergies:
    get:
      description: List patient allergies
      operationId: list_allergies
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing AllergyIntolerance objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.allergyIntolerance.html'>Allergies</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/allergies
  /v1/medical_records/allergies/{id}:
    get:
      description: Get a patient allergy
      operationId: get_allergy
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR AllergyIntolerance. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.allergyIntolerance.html'>Allergies</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/allergies/{id}
  /v1/medical_records/bbmi_notification/status:
    get:
      description: Show the current user's preference setting for BBMI email notifications.
      operationId: bbmi_notification_status
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  flag:
                    type: boolean
                    description: Indicates whether the BBMI email preference is enabled (`true`) or disabled (`false`).
                example:
                  flag: true
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/bbmi_notification/status
  /v1/medical_records/ccd/generate:
    get:
      description: Generate a Continuity of Care Document for a patient to later download.
      operationId: generate_ccd
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsCcdGenerateStatus'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/ccd/generate
  /v1/medical_records/ccd/download:
    get:
      description: Download the Continuity of Care Document specified by the date parameter.
      operationId: download_ccd
      parameters:
        - name: date
          in: query
          required: true
          description: Date of the desired study, as pulled verbatim from the generate endpoint response
          schema:
            type: string
      responses:
        '200':
          content:
            application/xml:
              schema:
                type: object
                description: |
                  The returned document is an XML file representing the patient's Continuity of Care Document.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/ccd/download
  /v1/medical_records/clinical_notes:
    get:
      description: List patient clinical notes
      operationId: list_clinical_notes
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing DocumentReference objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.note.html'>Care Summaries and Notes</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/clinical_notes
  /v1/medical_records/clinical_notes/{id}:
    get:
      description: Get a clinical note
      operationId: get_clinical_note
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR DocumentReference. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.note.html'>Care Summaries and Notes</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/clinical_notes/{id}
  /v1/medical_records/conditions:
    get:
      description: List patient health conditions
      operationId: list_conditions
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Condition objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.condition.html'>Health Conditions</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/conditions
  /v1/medical_records/conditions/{id}:
    get:
      description: Get a patient health condition
      operationId: get_condition
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Condition. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.condition.html'>Health Conditions</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/conditions/{id}
  /v1/medical_records/imaging:
    get:
      description: Get a list of MHV radiology reports from CVIX for the current user. These results do not include VIA reports.
      operationId: list_imaging_studies
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsImagingStudyList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging
  /v1/medical_records/imaging/status:
    get:
      description: Get the statuses of all available CVIX study jobs for the current user.
      operationId: list_study_job_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecordsStudyJobStatus'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging
  /v1/medical_records/imaging/{studyId}/dicom:
    get:
      description: Returns a ZIP file containing DICOM images for the specified study.
      operationId: download_dicom
      parameters:
        - name: studyId
          in: path
          required: true
          description: Unique identifier for the imaging study
          schema:
            type: string
      responses:
        '200':
          content:
            application/zip:
              schema:
                type: string
                format: binary
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging/{studyId}/dicom
  /v1/medical_records/imaging/{studyId}/images/{seriesId}/{imageId}:
    get:
      description: Returns a JPG image for the provided study, series, and image.
      operationId: download_image
      parameters:
        - name: studyId
          in: path
          required: true
          description: Unique identifier for the imaging study
          schema:
            type: string
        - name: seriesId
          in: path
          required: true
          description: Study-scoped identifier for the image series
          schema:
            type: string
        - name: imageId
          in: path
          required: true
          description: Study-scoped identifier for the image within the series
          schema:
            type: string
      responses:
        '200':
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/imaging/{studyId}/images/{seriesId}/{imageId}
  /v1/medical_records/imaging/{studyId}/request:
    get:
      description: Request that MHV download an imaging study from CVIX. This will initiate the transfer of the images into MHV for later retrieval from vets-api as DICOM or JPGs.
      operationId: request_study
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsStudyJobStatus'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not Found
      summary: /v1/medical_records/imaging/{studyId}/request
  /v1/medical_records/imaging/{studyId}/images:
    get:
      description: Get a list of images for the provided CVIX radiology study
      operationId: list_images
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Filename representing an image in a specific series.
                example:
                  - Series 01 - Image 01.jpg
                  - Series 02 - Image 01.jpg
                  - Series 03 - Image 01.jpg
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not Found
      summary: /v1/medical_records/imaging/{studyId}/images
  /v1/medical_records/labs_and_tests:
    get:
      description: |
        List patient labs and tests. This API call runs three separate backend calls, then merges the results. It returns results for the Chemistry/Hematology, EKG, Microbiology, Pathology, and Radiology domains.
      operationId: list_labs_and_tests
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing DiagnosticReport and DocumentReference objects. The schemas can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.chReport.html'>Chemistry/Hematology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.ecg.html'>EKG</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.labReport.html'>Microbiology and Pathology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.imaging.html'>Radiology</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/labs_and_tests
  /v1/medical_records/labs_and_tests/{id}:
    get:
      description: |
        Get a patient labs and tests record of type DiagnosticReport.
      operationId: get_labs_and_tests_diagrep
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR DiagnosticReport. The schemas can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.chReport.html'>Chemistry/Hematology</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.labReport.html'>Microbiology and Pathology</a> <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.ecg.html'>EKG</a>, <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.imaging.html'>Radiology</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/labs_and_tests/{id}
  /v1/medical_records/military_service:
    get:
      description: Get the current user's military service
      operationId: get_military_service
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                description: A long string containing the user's military service report
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/military_service
  /v1/medical_records/patient:
    get:
      description: Get the current user's patient account information, including a list of treatment facilities.
      operationId: get_patient
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  The returned object is a  <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-common-api/blob/development/src/main/java/gov/va/med/mhv/common/api/dto/PatientDTO.java'>PatientDTO object</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/patient
  /v1/medical_records/patient/demographic:
    get:
      description: Get the current user's self-entered demographic information.
      operationId: get_patient_demographic
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  The returned object is a  <a target="_blank" href='https://github.com/department-of-veterans-affairs/mhv-np-bluebutton-api/blob/development/mhv-bluebutton-portal-data-jpa/src/main/java/gov/va/med/mhv/bluebutton/model/phr/PhrDemographics.java'>PhrDemographics object</a>.
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/patient/demographic
  /v1/medical_records/radiology:
    get:
      description: Get the current user's non-FHIR-ized list of radiology reports from VIA (through MHV).
      operationId: get_mhv_radiology
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsPhrRadiologyList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/radiology
  /v1/medical_records/session:
    get:
      description: Creates a session to the upstream MHV APIs. Note that any MR API call will do this as well. This endpoint ONLY creates a session.
      operationId: post_session
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/session
  /v1/medical_records/session/status:
    get:
      description: Returns the PHR Refresh status for the current user.
      operationId: get_session_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordsPatientExtractStatus'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/session/status
  /v1/medical_records/vaccines:
    get:
      description: List patient vaccines
      operationId: list_vaccines
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Immunization objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.immunization.html'>Immunization</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vaccines
  /v1/medical_records/vaccines/{id}:
    get:
      description: Get a patient vaccine
      operationId: get_vaccine
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Immunization. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.immunization.html'>Immunization</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vaccines/{id}
  /v1/medical_records/vitals:
    get:
      description: List patient vital records
      operationId: list_vitals
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Bundle containing Observation objects. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.vitals.html'>Vitals</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vitals
  /v1/medical_records/vitals/{id}:
    get:
      description: Get a patient vital record
      operationId: get_vitals
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: |
                  FHIR Observation. The schema can be found at <a href='https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition-VA.MHV.PHR.vitals.html'>Vitals</a>
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
      summary: /v1/medical_records/vitals/{id}
  /v1/messaging/folders:
    get:
      description: List available secure messaging folders
      operationId: get_folders
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolders'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
        - name: requires_oh_messages
          in: query
          description: Count of folder messages includes Oracle Health messages if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
  /v1/messaging/folders/{id}:
    get:
      description: Get a secure messaging folder
      operationId: get_folder
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolder'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
        - name: requires_oh_messages
          in: query
          description: Count of folder messages includes Oracle Health messages if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
    put:
      description: Rename an existing folder
      operationId: post_rename_folder
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Name for Folder
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingFolder'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}
  /v1/messaging/folders/{id}/messages:
    get:
      description: |
        List messages in a secure messaging folder.

        When listing messages, the response for each message will include most but not all of the message attributes.
        Specifically, the message body and attachment information is not included. Those attributes can be obtained by
        getting the specific message resource.
      operationId: get_folder_messages
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}/messages
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/folders/{id}/threads:
    get:
      description: List threads in a secure messaging folder.
      operationId: get_folder_threads
      parameters:
        - description: The id of the folder that threads are being retrieved from
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: The size of the pagination you want
          in: query
          name: pageSize,
          required: true
          schema:
            type: string
        - description: The page number to get based on your page size
          in: query
          name: pageNumber,
          required: true
          schema:
            type: string
        - description: The field to sort the results by
          in: query
          name: sortField,
          required: true
          schema:
            type: string
            enum:
              - SENDER_NAME
              - RECIPIENT_NAME
              - SENT_DATE
              - DRAFT_DATE
        - description: The order to sort the results by
          in: query
          name: sortOrder,
          required: true
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: requires_oh_messages
          in: query
          description: Includes Oracle Health threads if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageThreadList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}/threads
  /v1/messaging/folders/{id}/search:
    post:
      description: |
        Search messages in a secure messaging folder. If multiple search criteria are specified, each returned search
        result will match ALL criteria. Pagination is supported and is handled by the upstream MHV server.

        When listing messages, the response for each message will include most but not all of the message attributes.
        Specifically, the message body and attachment information is not included. Those attributes can be obtained by
        getting the specific message resource.
      operationId: search_folder
      parameters:
        - description: The page of results to be returned (passed through to MHV API)
          in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
        - description: The number of results per page (passed through to MHV API)
          in: query
          name: per_page,
          required: false
          schema:
            type: integer
            default: 250
        - name: requires_oh_messages
          in: query
          description: Includes Oracle Health messages in search results if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageSearchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSearch'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/folders/{id}/search
  /v1/messaging/message_drafts:
    post:
      description: Save a new draft message
      operationId: post_create_message_draft
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/message_drafts/{id}:
    put:
      description: Update an existing draft message
      operationId: post_create_message_draft
      parameters:
        - description: The id of the draft that is to be updated
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              example:
                body: the updated message
              type: object
        required: true
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{id}
  /v1/messaging/message_drafts/{reply_id}/replydraft:
    post:
      description: Save a new draft message as a reply to an existing message
      operationId: post_create_message_draft_reply
      parameters:
        - description: The id of the message that will be replied to
          in: path
          name: reply_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{reply_id}/replydraft
  /v1/messaging/message_drafts/{reply_id}/replydraft/{draft_id}:
    post:
      description: Edit a draft message that was a reply to an existing message
      operationId: post_create_message_draft_reply
      parameters:
        - description: The id of the message that will be replied to
          in: path
          name: reply_id
          required: true
          schema:
            type: string
        - description: The id of the draft that is to be updated
          in: path
          name: draft_id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              example:
                body: the updated message
              type: object
        required: true
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/message_drafts/{reply_id}/replydraft/{draft_id}
  /v1/messaging/messages:
    post:
      description: Send a new secure message
      operationId: post_create_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageNewMessageRequest'
          multipart/form-data:
            schema:
              properties:
                message:
                  description: Stringified JSON with same parameters as if this was an application/json request (e.g. '{"category":"OTHER","recipient_id":1763526,"body":"test message"}')
                  type: string
                uploads[]:
                  description: |
                    One or more message attachments.

                    <strong>NOTES:</strong>
                    <ul>
                    <li>A single message may have a maximum of 4 attachments.</li>
                    <li>A single attachment cannot exceed 3 MB</li>
                    <li>All attachments combined cannot exceed 6 MB</li>
                    <li>Supported file types/extensions: doc, docx, gif, jpg, pdf, png, rtf, txt, xls, xlsx.</li>
                    </ul>
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
        description: |
          New message body.

          <strong>NOTES:</strong>
          <ul>
            <li>If a subject isn't included, default subject will be "{{Category}} Inquiry" (e.g. Medication Inquiry)</li>
            <li>Messages can only be replied to for 120 days.  After that, the message is considered "expired"</li>
            <li>If sending a draft, include the draft's ID in the request body as `draft_id`. Draft will be deleted once sent. Any fields included in request body will overwrite original draft contents.
            <li>If including file attachments, this request must be sent as <i>multipart/form-data</i></li>
            <li>
              File attachment restrictions (as imposed by MHV):
              <ul>
                <li>User may attach up to 4 files</li>
                <li>Accepted formats: doc, docx, jpg, pdf, png, rtf, txt, xls, xlsx</li>
                <li>Single attachment cannot exceed 3 MB</li>
                <li>Total attachment cannot exceed 6 MB</li>
              </ul>
            </li>
          </ul>
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/messages/categories:
    get:
      description: List available message categories
      operationId: get_categories
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageCategories'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/categories
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/messages/{id}:
    delete:
      description: Moves a secure message to the "Deleted" folder
      operationId: delete_message
      parameters:
        - description: The id of the message that is to be deleted
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message was deleted successfully
        '400':
          content:
            application/json:
              example:
                errors:
                  - code: SM114
                    detail: Unable to move message
                    status: '400'
                    title: Operation failed
              schema:
                $ref: '#/components/schemas/Errors'
          description: Bad Request
        '401':
          content:
            application/json:
              example:
                errors:
                  - code: '401'
                    detail: IAM user session is inactive
                    status: '401'
                    title: Not authorized
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                errors:
                  - code: '403'
                    detail: You do not have access to messaging
                    status: '403'
                    title: Forbidden
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}
    get:
      description: |
        Get a secure message <strong>and mark the message as read</strong>.

        <strong>NOTES:</strong>
        <ul>
          <li>Unlike listing messages in a folder, the message resource returned from this operation will include
        the message body and attachment information.</li>
          <li>This GET operation is not fully idempotent and will set readReceipt field as 'READ'</li>
          <li>If message has an attachment included, attachmentSize is displayed in bytes</li>
        </ul>
      operationId: get_message
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
    patch:
      description: Moves a secure message to a specified folder
      operationId: post_move_message
      parameters:
        - description: The id of the message that is to be moved
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The id of the folder that the message is to be moved to
          in: query
          name: folder_id,
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message was moved successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/move
  /v1/messaging/messages/{id}/attachments/{attachment_id}:
    get:
      description: |
        Get a secure message attachment content as a direct binary download. Secure messaging supports the following file types/extensions: doc, docx, gif, jpg, pdf, png, rtf, txt, xls, xlsx.
      operationId: get_attachment
      parameters:
        - description: ID of the message that we are retrieving attachments of
          in: path
          name: id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
          headers:
            Content-Disposition:
              description: |
                This header will have the value of "attachment", and a "filename" parameter containing the original filename of the attached content.
              schema:
                type: string
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/attachments/{attachment_id}
  /v1/messaging/messages/{id}/reply:
    post:
      description: |
        Send reply to a secure message

        <strong>NOTE:</strong> If including file attachments, this request must be sent as <i>multipart/form-data</i>

        File attachment restrictions (as imposed by MHV):
        <ul>
          <li>User may attach up to 4 files</li>
          <li>Accepted formats: doc, docx, jpg, pdf, png, rtf, txt, xls, xlsx</li>
          <li>Single attachment cannot exceed 3 MB</li>
          <li>Total attachment cannot exceed 6 MB</li>
        </ul>
      operationId: post_create_message_reply
      parameters:
        - description: ID of the message that is being replied to
          in: path
          name: id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageReplyRequest'
          multipart/form-data:
            schema:
              properties:
                message:
                  description: Stringified JSON with same parameters as if this was an application/json request (e.g. '{"body":"test body with attachment"}')
                  type: string
                uploads[]:
                  description: |
                    One or more message attachments.

                    <strong>NOTES:</strong>
                    <ul>
                    <li>A single message may have a maximum of 4 attachments.</li>
                    <li>A single attachment cannot exceed 3 MB</li>
                    <li>All attachments combined cannot exceed 6 MB</li>
                    <li>Supported file types/extensions: doc, docx, gif, jpg, pdf, png, rtf, txt, xls, xlsx.</li>
                    </ul>
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
        description: Reply message body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageDetail'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/reply
  /v1/messaging/messages/{id}/thread:
    get:
      description: |
        Gets a list of message summaries that are related to the message of the passed id.
      operationId: get_messages_for_thread
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SecureMessageListInThread'
                  - $ref: '#/components/schemas/SecureMessageListInThreadWithFullBody'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/messages/{id}/thread
      parameters:
        - name: full_body
          in: query
          description: Include the full body of the messages and attachments meta in the response
          required: false
          schema:
            type: boolean
        - name: requires_oh_messages
          in: query
          description: Includes Oracle Health messages if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/recipients:
    get:
      description: List available recipients to which messages may be sent
      operationId: get_triage_teams
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingRecipients'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/recipients
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/messaging/allrecipients:
    get:
      description: List available recipients to which messages may be sent with advanced attributes
      operationId: get_all_triage_teams
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessagingAllRecipients'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/allrecipients
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
        - name: requires_oh
          in: query
          description: Includes Oracle Health recipients if set to "1"
          required: false
          schema:
            type: string
            enum:
              - '0'
              - '1'
  /v1/messaging/threads/{id}/move:
    patch:
      description: Moves all received messages in a secure message thread to a specified folder. Sent messages, draft messages, and deleted messages will not be moved.
      operationId: post_move_thread
      parameters:
        - description: The id of the thread that is to be moved
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The id of the folder that the message is to be moved to
          in: query
          name: folder_id,
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: The message thread was moved successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/threads/{id}/move
  /v1/messaging/preferences/recipients:
    post:
      description: Update recipients `preferredTeam` value
      operationId: update_triage_team_preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessagingUpdateTriageTeamRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              type: string
              example: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/recipients
  /v1/messaging/preferences/signature:
    get:
      description: Gets user message signature preferences
      operationId: get_signature
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSignature'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/signature
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
    post:
      description: Update user message signature preferences
      operationId: update_signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecureMessageSignatureUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureMessageSignature'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/messaging/preferences/signature
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
  /v1/prescriptions:
    get:
      description: List medications.
      operationId: get_prescriptions
      parameters:
        - description: One refill status to filter on
          in: query
          name: refill_status
          required: false
          schema:
            type: string
        - description: The page number to get based on your page size
          in: query
          name: page
          required: false
          schema:
            type: string
        - description: The size of the pagination you want
          in: query
          name: per_page
          required: false
          schema:
            type: string
        - description: The attribute to sort on, negated for descending
          in: query
          name: sort
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions
  /v1/prescriptions/{id}:
    get:
      description: Get prescription.
      operationId: get_prescription
      parameters:
        - description: prescription id
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/{id}
  /v1/prescriptions/{id}/refill:
    patch:
      description: Refill the prescription
      operationId: patch_refill_prescription
      parameters:
        - description: The id of the prescription
          in: path
          name: id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/{id}/refill
  /v1/prescriptions/list_refillable_prescriptions:
    get:
      description: List refillable medications.
      operationId: get_list_refillable_prescriptions
      parameters:
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/list_refillable_prescriptions
  /v1/prescriptions/refill_prescriptions:
    patch:
      description: Refill the prescriptions
      operationId: patch_refill_prescription
      parameters:
        - description: Array of the prescription ids
          in: query
          name: ids
          required: true
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '204':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/refill_prescriptions
  /v1/prescriptions/get_prescription_image/{cmopNdcNumber}:
    get:
      description: Get prescription image.
      operationId: get_prescription_image
      parameters:
        - description: cmopNdcNumber
          in: path
          name: cmopNdcNumber
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: base64-encoded file contents
                    type: string
                    format: byte
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Not authorized for access to secure messages
      summary: /v1/prescriptions/list_refillable_prescriptions
components:
  securitySchemes:
    CookieAuth:
      type: apiKey
      name: api_session
      in: cookie
      description: An authenticated session is established using the Sessions Controller to initiate federated authentication with an external credential provider, after which an API session token is established in the api_session cookie.
  parameters:
    InflectionHeader:
      in: header
      name: X-Key-Inflection
      required: false
      schema:
        type: string
        enum:
          - camel
          - snake
      description: Instructs the API to return camelCase keys rather than snake_case
    RequiresOHMessages:
      name: requires_oh_messages
      in: query
      required: false
      schema:
        type: string
        enum:
          - '0'
          - '1'
  schemas:
    Error:
      type: object
      required:
        - title
        - detail
        - code
        - status
      properties:
        title:
          type: string
        detail:
          type: string
        code:
          type: string
        status:
          type: string
        source:
          type: string
        meta:
          type: object
          required:
            - messages
          properties:
            messages:
              type: array
              items:
                type: object
                required:
                  - key
                  - severity
                  - text
                properties:
                  key:
                    type: string
                  severity:
                    type: string
                  text:
                    type: string
    Errors:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    MedicalRecordsCcdGenerateStatus:
      type: array
      items:
        type: object
        properties:
          dateGenerated:
            type: string
            format: date-time
            description: Timestamp when the document status was generated (ISO 8601 format with timezone).
          status:
            type: string
            description: Status of the CCD generation.
            enum:
              - COMPLETE
              - ERROR
          patientId:
            type: string
            description: Unique ICN identifier of the patient.
      example:
        - dateGenerated: 2024-11-20T11:57:07.000-0500
          status: COMPLETE
          patientId: 1012740024V936776
        - dateGenerated: 2024-11-19T14:29:54.000-0500
          status: ERROR
          patientId: 1012740024V936776
    MedicalRecordsImagingStudyList:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unique identifier for the study.
          stationNumber:
            type: string
            description: VA facility station number where the study was performed.
          procedureName:
            type: string
            description: Name of the radiology procedure.
          event:
            type: string
            description: Type of imaging event (e.g., "COMPUTED TOMOGRAPHY", "DIGITAL RADIOGRAPHY").
          patientId:
            type: integer
            format: int64
            description: Unique identifier for the patient.
          studyIdUrn:
            type: string
            description: Unique study identifier in URN format.
          imageCount:
            type: integer
            description: Number of images generated by the study.
          performedDatePrecise:
            type: integer
            format: int64
            description: Timestamp when the procedure was performed (UNIX epoch in milliseconds).
          performedDateImprecise:
            type: string
            nullable: true
            description: An imprecise date representation of the performed date, if applicable.
          studyJob:
            type: object
            nullable: true
            description: Associated study job metadata (currently null).
          performedDateStr:
            type: string
            description: Human-readable formatted date string.
          reportOnly:
            type: boolean
            nullable: true
            description: Indicates whether this is a report-only study.
          cvixOnly:
            type: boolean
            nullable: true
            description: Indicates whether this study is CVIX-only.
          reportText:
            type: string
            description: The radiology report text including findings, impressions, and diagnostic codes.
          phrRadiologyId:
            type: integer
            description: Unique identifier for the PHR (Personal Health Record) radiology entry.
      example:
        - id: 24647611
          stationNumber: '451'
          procedureName: CT THORAX W/O CONT
          event: COMPUTED TOMOGRAPHY
          patientId: 11382904
          studyIdUrn: 451-72913365
          imageCount: 213
          performedDatePrecise: 1296052104901
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 26 Jan 2011 @ 09<span class="usa-sr-only">:</span>28
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^CT THORAX W/O CONT^PATIENTLAST,JOHN
            Group ID# 72913365...
          phrRadiologyId: 0
        - id: 24647612
          stationNumber: '453'
          procedureName: KNEE 4 OR MORE VIEWS (LEFT)
          event: DIGITAL RADIOGRAPHY
          patientId: 11382904
          studyIdUrn: 453-2487450
          imageCount: 4
          performedDatePrecise: 1712264604902
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 04 Apr 2024 @ 17<span class="usa-sr-only">:</span>03
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^KNEE 4 OR MORE VIEWS (LEFT)^PATIENTLAST,JOHN
            Group ID# 2487450...
          phrRadiologyId: 0
        - id: 24647613
          stationNumber: '453'
          procedureName: CT THORAX W/CONT
          event: COMPUTED TOMOGRAPHY
          patientId: 11382904
          studyIdUrn: 453-2487448
          imageCount: 1
          performedDatePrecise: 1712264064902
          performedDateImprecise: null
          studyJob: null
          performedDateStr: 04 Apr 2024 @ 16<span class="usa-sr-only">:</span>54
          reportOnly: null
          cvixOnly: null
          reportText: |-
            1^CT THORAX W/CONT^PATIENTLAST,JOHN
            Group ID# 2487448...
          phrRadiologyId: 0
    MedicalRecordsStudyJobStatus:
      type: object
      properties:
        status:
          type: string
          description: Current status of the study job (e.g., "NEW", "PROCESSING", "COMPLETE", "ERROR").
        statusText:
          type: string
          description: String representation of percentage complete.
        studyIdUrn:
          type: string
          description: Unique identifier for the study.
        percentComplete:
          type: integer
          nullable: true
          description: Percentage complete of the study download.
        fileSize:
          type: string
          nullable: true
          description: Human-readable file size (e.g., "20MB", "1.5GB").
        fileSizeNumber:
          type: integer
          format: int64
          nullable: true
          description: Numeric file size in bytes.
        startDate:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the study job started.
        endDate:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the study job ended.
      example:
        - status: COMPLETE
          statusText: '100'
          studyIdUrn: 5df3a7b7-7ead-45ff-b466-8b29a01ba94d
          percentComplete: 100
          fileSize: 253.91 KB
          fileSizeNumber: 260003
          startDate: 1734360572036
          endDate: 1734360578627
    MedicalRecordsPhrRadiologyList:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unique identifier for the radiology record.
          reasonForStudy:
            type: string
            nullable: true
            description: The reason for conducting the study.
          radiologist:
            type: string
            description: Name of the radiologist.
          clinicalHistory:
            type: string
            nullable: true
            description: Clinical history related to the radiology procedure.
          comments:
            type: string
            nullable: true
            description: Additional comments on the study.
          createdDate:
            type: string
            format: date-time
            description: Timestamp when the record was created (ISO 8601 format).
          impressionText:
            type: string
            nullable: true
            description: Impression section from the radiology report.
          inPatientOutPatient:
            type: string
            nullable: true
            description: Indicates whether the patient was an inpatient or outpatient.
          oplock:
            type: integer
            description: Versioning control number for the record.
          stationNumber:
            type: string
            description: Station number where the procedure was performed.
          patientId:
            type: integer
            format: int64
            description: Unique identifier for the patient.
          procedureName:
            type: string
            description: Name of the radiology procedure performed.
          status:
            type: string
            description: The status of the radiology report (e.g., "Verified").
          requestingProvider:
            type: string
            nullable: true
            description: Name of the requesting healthcare provider.
          reportText:
            type: string
            description: Full radiology report.
          performingLocationStNum:
            type: string
            nullable: true
            description: Station number of the performing location.
          eventDate:
            type: string
            format: date-time
            description: Timestamp of the event date (ISO 8601 format).
          examDate:
            type: string
            format: date-time
            nullable: true
            description: Timestamp of the exam date (ISO 8601 format).
          performingLocation:
            type: string
            nullable: true
            description: Name of the location where the study was performed.
      example:
        - id: 5621490
          reasonForStudy: null
          radiologist: DOE,JOHN
          clinicalHistory: this is 71 yr old pt had ab test in the past so he need to have recheck again.
          comments: null
          createdDate: '2020-11-13T20:52:28-05:00'
          impressionText: 1. Osteopenia of the left forearm...
          inPatientOutPatient: null
          oplock: 0
          stationNumber: '994'
          patientId: 616827
          procedureName: DEXA, PERIPHERAL STUDY
          status: Verified
          requestingProvider: DOE,JANE
          reportText: '1/6/04  STEWART, EARL H. SR. #404-42-7209...'
          performingLocationStNum: '994'
          eventDate: '2004-01-06T19:27:00-05:00'
          examDate: null
          performingLocation: DAYT3
        - id: 5621491
          reasonForStudy: null
          radiologist: DOE,JOHN
          clinicalHistory: Pt with hx of dizzy spells, occ vision problems.
          comments: null
          createdDate: '2020-11-13T20:52:28-05:00'
          impressionText: No hemodynamic changes to suggest significant diameter stenosis.
          inPatientOutPatient: null
          oplock: 0
          stationNumber: '994'
          patientId: 616827
          procedureName: CAROTID DOPPLER (BILATERAL)
          status: Verified
          requestingProvider: DOE,JANE
          reportText: CAROTID DOPPLER (REFERENCE VALUES)...
          performingLocationStNum: '994'
          eventDate: '2001-02-16T18:16:00-05:00'
          examDate: null
          performingLocation: DAYT3
    MedicalRecordsPatientExtractStatus:
      type: object
      properties:
        patient:
          type: object
          description: Patient identifier details.
          properties:
            identifier:
              type: string
              description: Unique identifier of the patient.
            assigningFacility:
              type: string
              description: The assigning facility for the identifier.
            assigningAuthority:
              type: string
              description: The assigning authority for the identifier.
            typeCode:
              type: string
              description: The type of identifier.
            icn:
              type: boolean
              description: Indicates if the identifier is an ICN.
        retrievedDate:
          type: integer
          format: int64
          description: Timestamp when the status was retrieved.
        lastRefreshDate:
          type: integer
          format: int64
          nullable: true
          description: Timestamp of the last refresh date (null if not refreshed).
        facilityExtractStatusList:
          type: array
          description: List of extract status entries for each facility and data domain.
          items:
            type: object
            properties:
              icn:
                type: string
                description: Patient ICN associated with the extract.
              stationNumber:
                type: string
                description: Facility identifier.
              extract:
                type: string
                description: Type of data (e.g., "Appointments", "Allergy", "ImagingStudy").
              lastModified:
                type: integer
                format: int64
                description: Timestamp of the last modification of the extract.
              recordCount:
                type: integer
                description: Number of records retrieved in the last extract.
              lastRequested:
                type: integer
                format: int64
                description: Timestamp of the last extract request.
              lastCompleted:
                type: integer
                format: int64
                description: Timestamp when the last request was fully processed.
              loadStatus:
                type: string
                enum:
                  - OK
                  - ERROR
                description: Status of the extract process.
              errorMessage:
                type: string
                nullable: true
                description: Error message if the extract failed.
              lastSuccessfulCompleted:
                type: integer
                format: int64
                nullable: true
                description: Timestamp of the last successful extract.
              upToDate:
                type: boolean
                description: Indicates if the extract is current.
      example:
        patient:
          identifier: 1012664643V006744
          assigningFacility: 200M
          assigningAuthority: USVHA
          typeCode: NI
          icn: true
        retrievedDate: 1732138027402
        lastRefreshDate: null
        facilityExtractStatusList:
          - icn: 1012664643V006744
            stationNumber: '0'
            extract: AppointmentsReminder
            lastModified: 1587054285453
            recordCount: 0
            lastRequested: 1587054283492
            lastCompleted: 1587054285453
            loadStatus: OK
            errorMessage: null
            lastSuccessfulCompleted: 1587054285453
            upToDate: true
          - icn: 1012664643V006744
            stationNumber: '0'
            extract: ImagingStudy
            lastModified: 1732137958411
            recordCount: 0
            lastRequested: 1732137957157
            lastCompleted: 1732137958411
            loadStatus: ERROR
            errorMessage: Failed query id 24816394 Error getting Studies with Filter. site Id&#x3a; 991
            lastSuccessfulCompleted: null
            upToDate: true
    SecureMessagingFolder:
      type: object
      required:
        - id
        - type
        - attributes
        - links
      properties:
        id:
          type: string
          example: '0'
        type:
          type: string
          example: folders
        attributes:
          type: object
          required:
            - folderId
            - name
            - count
            - unreadCount
            - systemFolder
          properties:
            folderId:
              type: integer
              example: 0
              description: |
                Unique folder identifier. Note that folder IDs may be negative integers.
            name:
              type: string
              example: Inbox
              description: Folder name.
            count:
              type: integer
              example: 15
              description: Number of total messages (read + unread) in folder.
            unreadCount:
              type: integer
              example: 2
              descripton: Number of unread messages in folder.
            systemFolder:
              type: boolean
              example: true
              description: |
                Indicates whether the folder is one of the fixed, system-generated folders, or a custom user-created folder.
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders/0
    SecureMessagingFolders:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecureMessagingFolder'
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders?page=2&per_page=10
            first:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders?page=1&per_page=10
            prev:
              type: string
              nullable: true
              example: https://api.va.gov/my_health/v1/messaging/folders?page=1&per_page=10
            next:
              type: string
              nullable: true
              example: https://api.va.gov/my_health/v1/messaging/folders?page=3&per_page=10
            last:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders?page=3&per_page=10
        meta:
          type: object
          required:
            - pagination
          properties:
            pagination:
              type: object
              required:
                - currentPage
                - perPage
                - totalPages
                - totalEntries
              properties:
                currentPage:
                  type: integer
                  example: 1
                perPage:
                  type: integer
                  example: 10
                totalPages:
                  type: integer
                  example: 2
                totalEntries:
                  type: integer
                  example: 15
    SecureMessageSummary:
      type: object
      required:
        - type
        - id
        - attributes
        - links
      properties:
        type:
          type: string
          example: messages
        id:
          type: string
          example: '123789'
        attributes:
          type: object
          required:
            - messageId
            - category
            - subject
            - body
            - attachment
            - sentDate
            - senderId
            - senderName
            - recipientId
            - recipientName
            - readReceipt
          properties:
            messageId:
              type: integer
              example: 123789
            category:
              type: string
              enum:
                - OTHER
                - COVID
                - APPOINTMENTS
                - MEDICATIONS
                - TEST_RESULTS
                - EDUCATION
              example: MEDICATIONS
            subject:
              type: string
              example: Medication Inquiry
            body:
              type: string
              nullable: true
              example: 2
            attachment:
              type: boolean
              example: false
            sentDate:
              type: string
              example: '2017-09-01T16:09:56.000Z'
            senderId:
              type: integer
              example: 541200
            senderName:
              type: string
              example: DOE, JANE
            recipientId:
              type: integer
              example: 399955
            recipientName:
              type: string
              example: ROE, RICHARD
            readReceipt:
              type: string
              nullable: true
              enum:
                - READ
                - null
            triageGroupName:
              type: string
              nullable: true
              example: Triage_Group_5
            proxySenderName:
              type: string
              nullable: true
              example: SMITH, JOHN
            suggestedNameDisplay:
              type: string
              example: Robert J. Dole VA Medical And Regional Office Center | Pharmacy | Ask a pharmacist | SLC10 - Madison, James
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/messages/123789
    SecureMessageList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecureMessageSummary'
        links:
          type: object
          properties:
            self:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders/0/messages?page=2&per_page=10
            first:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders/0/messages?page=1&per_page=10
            prev:
              type: string
              nullable: true
              example: https://api.va.gov/my_health/v1/messaging/folders/0/messages?page=1&per_page=10
            next:
              type: string
              nullable: true
              example: https://api.va.gov/my_health/v1/messaging/folders/0/messages?page=3&per_page=10
            last:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/folders/0/messages?page=3&per_page=10
        meta:
          type: object
          required:
            - sort
            - pagination
          properties:
            sort:
              type: object
              required: sentDate
              properties:
                sentDate:
                  type: string
                  enum:
                    - DESC
                    - ASC
            pagination:
              type: object
              required:
                - currentPage
                - perPage
                - totalPages
                - totalEntries
              properties:
                currentPage:
                  type: integer
                  example: 1
                perPage:
                  type: integer
                  example: 10
                totalPages:
                  type: integer
                  example: 2
                totalEntries:
                  type: integer
                  example: 15
    SecureMessageThread:
      type: object
      required:
        - threadId
        - folderId
        - messageId
        - threadPageSize
        - messageCount
        - category
        - subject
        - triageGroupName
        - sentDate
        - draftDate
        - senderId
        - senderName
        - recipientName
        - recipientId
        - proxySenderName
        - hasAttachment
        - unsentDrafts
        - unreadMessages
        - isOhMessage
        - suggestedNameDisplay
      properties:
        threadId:
          type: integer
          example: 1234567
        folderId:
          type: integer
          example: 0
        messageId:
          type: integer
          example: 1234567
        threadPageSize:
          type: integer
          example: 123
        messageCount:
          type: integer
          example: 123
        category:
          type: string
          enum:
            - OTHERS
            - COVID
            - APPOINTMENTS
            - MEDICATIONS
            - TEST_RESULT
            - EDUCATION
          example: MEDICATIONS
        subject:
          type: string
          example: Medication Inquiry
        triageGroupName:
          type: string
          nullable: true
          example: Triage_Group_5
        sentDate:
          type: string
          nullable: true
          example: '2017-09-01T16:09:56.000Z'
        draftDate:
          type: string
          nullable: true
          example: '2017-09-01T16:09:56.000Z'
        senderId:
          type: integer
          example: 541200
        senderName:
          type: string
          example: DOE, JANE
        recipientId:
          type: integer
          example: 399955
        recipientName:
          type: string
          example: ROE, RICHARD
        proxySenderName:
          type: string
          nullable: true
          example: SMITH, JOHN
        hasAttachment:
          type: boolean
          example: false
        unsentDrafts:
          type: boolean
          example: false
        unreadMessages:
          type: boolean
          example: true
        isOhMessage:
          type: boolean
          example: false
        suggestedNameDisplay:
          type: string
          example: Robert J. Dole VA Medical And Regional Office Center | Pharmacy | Ask a pharmacist | SLC10 - Madison, James
    SecureMessageThreadList:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecureMessageThread'
    SecureMessageSearchRequest:
      type: object
      properties:
        message_id:
          type: integer
          example: 1112233
        sender:
          type: string
          example: Alice
        recipient:
          type: string
          example: Bob
        category:
          type: string
          example: COVID
        subject:
          type: string
          example: My Test Results
        from_date:
          type: string
          description: Search for messages sent after this date
          example: '2022-01-01'
        to_date:
          type: string
          description: Search for messages sent before this date
          example: '2022-12-31'
        exact_match:
          type: boolean
          description: |
            If true, search exact strings for subject, sender, and recipient fields; otherwise search for the string as a
            substring within those fields
    SecureMessageSearch:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecureMessageSummary'
    SecureMessageNewMessageRequest:
      type: object
      required:
        - recipient_id
        - category
        - body
      properties:
        recipient_id:
          type: integer
          description: |
            The message recipient. This must be a valid recipient id that is assigned to the user. The list of valid
            recipients for a user can be obtained from the <pre>/v1/messaging/recipients</pre> endpoint.
          example: 1763526
        category:
          type: string
          description: |
            Message category. This must be one of the values returned by the 
            <pre>/v1/messaging/messages/categories</pre> endpoint.
          example: OTHER
        body:
          type: string
          example: What is the proper dosage and how long should I take this medication?
        subject:
          type: string
          example: Question about my medication
        draft_id:
          type: integer
          description: |
            Specifies draft message ID to send.  Draft message is deleted once sent. Note that the recipient_id, category, body, and subject included with this post will overwrite any of original values of the draft.
    SecureMessageAttachment:
      type: object
      required:
        - id
        - type
        - attributes
        - links
      properties:
        id:
          type: string
          example: 7775443
        type:
          type: string
          example: attachments
        attributes:
          type: object
          required:
            - name
            - messageId
            - attachmentSize
          properties:
            name:
              type: string
              example: bb_report.pdf
            messageId:
              type: integer
              example: 123789
            attachmentSize:
              type: integer
              example: 225457
        links:
          type: object
          required:
            - download
          properties:
            download:
              type: string
              format: url
              example: https://api.va.gov/my_health/v1/messaging/messages/123789/attachments/7775443
    SecureMessageDetail:
      type: object
      required:
        - type
        - id
        - attributes
        - relationships
        - links
      properties:
        type:
          type: string
          example: messages
        id:
          type: string
          example: '123789'
        attributes:
          type: object
          required:
            - messageId
            - category
            - subject
            - body
            - attachment
            - sentDate
            - senderId
            - senderName
            - recipientId
            - recipientName
            - readReceipt
          properties:
            messageId:
              type: integer
              example: 123789
            category:
              type: string
              enum:
                - OTHER
                - COVID
                - APPOINTMENTS
                - MEDICATIONS
                - TEST_RESULTS
                - EDUCATION
              example: MEDICATIONS
            subject:
              type: string
              example: Medication Inquiry
            body:
              type: string
              example: "Your prescription is ready for refill\r\nThanks,\r\n,Dr. Doe"
            attachment:
              type: boolean
              example: true
            sentDate:
              type: string
              format: datetime
              example: '2017-09-01T16:09:56.000Z'
            senderId:
              type: integer
              example: 541200
            senderName:
              type: string
              example: DOE, JANE
            recipientId:
              type: integer
              example: 399955
            recipientName:
              type: string
              example: ROE, RICHARD
            readReceipt:
              type: string
              nullable: true
              enum:
                - READ
                - null
            triageGroupName:
              type: string
              nullable: true
              example: Triage_Group_5
            proxySenderName:
              type: string
              nullable: true
              example: SMITH, JOHN
        relationships:
          type: object
          required:
            - attachments
          properties:
            attachments:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - type
                    properties:
                      id:
                        type: string
                        example: '7775443'
                      type:
                        type: string
                        example: attachments
        links:
          type: object
          required:
            - self
          properties:
            self:
              type: string
              example: https://api.va.gov/my_health/v1/messaging/messages/123789
        included:
          type: array
          items:
            $ref: '#/components/schemas/SecureMessageAttachment'
    SecureMessageCategories:
      properties:
        data:
          type: object
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              example: '0'
            type:
              type: string
[...]
