---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v2/server/scopes/benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"claim.read", "displayName":"Read Claim Information", "description":"Read claim access"}, {"name":"claim.write", "displayName":"Submit Claims", "description":"Submit claims access"}]'
  recorded_at: Mon, 08 Mar 2021 16:42:21 GMT 