---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/logs?filter=eventType%20eq%20%22app.oauth2.as.consent.grant%22&since=2020-12-23T19:47:05Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X@o2OV-yJc-s@XxOuH61CwAADzs
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Remaining:
      - '48'
      X-Rate-Limit-Reset:
      - '1609184885'
      Link:
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T19%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.consent.grant%22&after=1608761686074_1>;
        rel="next"
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T19%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.consent.grant%22>;
        rel="self"
    body:
      encoding: ASCII-8BIT
      string: '[{"actor":{"id":"00u5qnsdwiFfu6tk22p7","type":"User","alternateId":"2b6669d5cf094246915d1e49b959973d","displayName":"Herbert
        Gardner","detailEntry":null},"client":{"userAgent":{"rawUserAgent":"Mozilla/5.0
        (X11; Ubuntu; Linux x86_64; rv:83.0) Gecko/20100101 Firefox/83.0","os":"Ubuntu","browser":"FIREFOX"},"zone":"null","device":"Computer","id":null,"ipAddress":"71.196.193.56","geographicalContext":{"city":"Denver","state":"Colorado","country":"United
        States","postalCode":"80228","geolocation":{"lat":39.6888,"lon":-105.156}}},"authenticationContext":{"authenticationProvider":null,"credentialProvider":null,"credentialType":null,"issuer":null,"interface":null,"authenticationStep":0,"externalSessionId":"1024olUo1pvS2GouQWGH29zdw"},"displayMessage":"Consent
        granted","eventType":"app.oauth2.as.consent.grant","outcome":{"result":"SUCCESS","reason":null},"published":"2020-12-23T21:47:03.448Z","securityContext":{"asNumber":7922,"asOrg":"comcast","isp":"comcast
        cable communications  llc","domain":"comcast.net","isProxy":false},"severity":"INFO","debugContext":{"debugData":{"authorizationServerName":"default","authorizationServer":"aus1bptuzqo48Ut942p7","requestId":"X@O611sVfxbahZ6pMA@APAAAAmc","requestUri":"/api/v1/authn/consent","threatSuspected":"false","url":"/api/v1/authn/consent?"}},"legacyEventType":"app.oauth2.as.consent.grant_success","transaction":{"type":"WEB","id":"X@O611sVfxbahZ6pMA@APAAAAmc","detail":{}},"uuid":"64c501c6-4568-11eb-8734-8539fa555daa","version":"0","request":{"ipChain":[{"ip":"71.196.193.56","geographicalContext":{"city":"Denver","state":"Colorado","country":"United
        States","postalCode":"80228","geolocation":{"lat":39.6888,"lon":-105.156}},"version":"V4","source":null}]},"target":[{"id":"oagnhue9y5HBzoAOp2p6","type":"ConsentGrant","alternateId":null,"displayName":"launch/patient","detailEntry":{"publicclientapp":"0oa7rb3qjbKyi6j7O2p7","authorizationserver":"aus1bptuzqo48Ut942p7","user":"00u5qnsdwiFfu6tk22p7"}}]},{"actor":{"id":"00u5rdym2aZXVmkEg2p7","type":"User","alternateId":"7d3fb678dd154560bf8a352c6cc5fbec","displayName":"Luke
        Stephens","detailEntry":null},"client":{"userAgent":{"rawUserAgent":"Mozilla/5.0
        (X11; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0","os":"Linux","browser":"FIREFOX"},"zone":"null","device":"Computer","id":null,"ipAddress":"71.196.193.56","geographicalContext":{"city":"Denver","state":"Colorado","country":"United
        States"[...]
