---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7/grants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      Content-Type:
      - application/json;charset=UTF-8
      X-Okta-Request-Id:
      - W9oF-ZeV3ELpWAMO@QkawgAABTk
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1541015056'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"oag3a9vx1R6fHLivj2p6","status":"ACTIVE","created":"2018-10-29T13:04:46.000Z","lastUpdated":"2018-10-29T13:04:46.000Z","issuer":"https://deptva-eval.okta.com/oauth2/default","clientId":"0oa2ey2m6kEL2897N2p7","userId":"00u2el40t6EF3DwEn2p7","scopeId":"scp2bvhy20aJcLgHy2p7","_links":{"app":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7","title":"TestGrantRevoke"},"authorizationServer":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default","title":"default"},"scope":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/scopes/scp2bvhy20aJcLgHy2p7","title":"Disability
        Rating"},"self":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7/grants/oag3a9vx1R6fHLivj2p6","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://deptva-eval.okta.com/oauth2/v1/clients/0oa2ey2m6kEL2897N2p7","title":"TestGrantRevoke"},"user":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7","title":"Alex
        Teal"}}},{"id":"oag3a9vx2fd79VrTm2p6","status":"ACTIVE","created":"2018-10-29T13:04:46.000Z","lastUpdated":"2018-10-29T13:04:46.000Z","issuer":"https://deptva-eval.okta.com/oauth2/default","clientId":"0oa2ey2m6kEL2897N2p7","userId":"00u2el40t6EF3DwEn2p7","scopeId":"scp2bvhy3jLMtDLif2p7","_links":{"app":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7","title":"TestGrantRevoke"},"authorizationServer":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default","title":"default"},"scope":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/scopes/scp2bvhy3jLMtDLif2p7","title":"Military
        Service History"},"self":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7/grants/oag3a9vx2fd79VrTm2p6","hints":{"allow":["GET","DELETE"]}},"client":{"href":"https://deptva-eval.okta.com/oauth2/v1/clients/0oa2ey2m6kEL2897N2p7","title":"TestGrantRevoke"},"user":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7","title":"Alex
        Teal"}}}]'
  recorded_at: Wed, 31 Oct 2018 19:43:57 GMT
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      Content-Type:
      - application/json;charset=UTF-8
      X-Okta-Request-Id:
      - W9oF-lvCUAjtwjC-QFm7tAAAAHU
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '498'
      X-Rate-Limit-Reset:
      - '1541015056'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0oa2ey2m6kEL2897N2p7","name":"oidc_client","label":"TestGrantRevoke","status":"ACTIVE","lastUpdated":"2018-10-29T13:04:08.000Z","created":"2018-10-29T13:04:08.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"FKHfbEAUXleNQzw0de1ci1qSRZqz4hQx2QbOMC163TQ"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa2ey2m6kEL2897N2p7","token_endpoint_auth_method":"none"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://localhost:8080/implicit/callback"],"response_types":["id_token","token"],"grant_types":["implicit"],"application_type":"browser","consent_method":"REQUIRED"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://deptva-eval.okta.com/home/oidc_client/0oa2ey2m6kEL2897N2p7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7/groups"},"logo":[{"name":"medium","href":"https://ok6static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7/users"},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa2ey2m6kEL2897N2p7/lifecycle/deactivate"}}}'
  recorded_at: Wed, 31 Oct 2018 19:43:58 GMT
- request:
    method: delete
    uri: https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7/grants/oag3a9vx1R6fHLivj2p6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - W9oF-kDTD02owqvz@U7fhAAAHEc
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1541015056'
      X-Okta-Backend:
      - ok6-apiapp05a.aue2p.internal
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 19:43:58 GMT
- request:
    method: delete
    uri: https://deptva-eval.okta.com/api/v1/users/00u2el40t6EF3DwEn2p7/grants/oag3a9vx2fd79VrTm2p6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - W9oF-kDTD02owqvz@U7fiwAAHOA
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '596'
      X-Rate-Limit-Reset:
      - '1541015056'
      X-Okta-Backend:
      - ok6-apiapp04c.aue2p.internal
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 19:43:58 GMT
recorded_with: VCR 3.0.3
