---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/apps?filter=status%20eq%20%22ACTIVE%22&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X2kCB7e-yo@kicHJbEySaAAABpY
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1600717379'
      Link:
      - <https://deptva-eval.okta.com/api/v1/apps?after=0oa4dj59w3fIT7dqB2p7&limit=200&filter=status+eq+%22ACTIVE%22>;
        rel="next"
      - <https://deptva-eval.okta.com/api/v1/apps?limit=200&filter=status+eq+%22ACTIVE%22>;
        rel="self"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"0oa1c01m77heEXUZt2p7","name":"oidc_client","label":"LocalReact","status":"ACTIVE","lastUpdated":"2020-09-02T00:40:03.000Z","created":"2018-06-08T02:57:13.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"FKHfbEAUXleNQzw0de1ci1qSRZqz4hQx2QbOMC163TQ"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa1c01m77heEXUZt2p7","token_endpoint_auth_method":"none"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":null,"logo_uri":"https://ok6static.oktacdn.com/fs/bcg/4/gfs1c02wbjMqc9Em42p7","redirect_uris":["http://localhost:8080/implicit/callback","https://sandbox-api.va.gov/oauth2/redirect/"],"response_types":["token","id_token"],"grant_types":["implicit"],"initiate_login_uri":"http://localhost:8080/implicit/callback","application_type":"browser","consent_method":"REQUIRED","issuer_mode":"ORG_URL"}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://deptva-eval.okta.com/home/oidc_client/0oa1c01m77heEXUZt2p7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa1c01m77heEXUZt2p7/groups"},"logo":[{"name":"medium","href":"https://ok6static.oktacdn.com/fs/bco/4/fs02uatzunrnJwC552p7","type":"image/png"}],"users":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa1c01m77heEXUZt2p7/users"},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa1c01m77heEXUZt2p7/lifecycle/deactivate"}}},{"id":"0oa2dmpuz9fMYIujw2p7","name":"oidc_client","label":"HealthApp","status":"ACTIVE","lastUpdated":"2020-05-01T18:52:35.000Z","created":"2018-10-24T00:06:35.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"FKHfbEAUXleNQzw0de1ci1qSRZqz4hQx2QbOMC163TQ"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa2dmpuz9fMYIujw2p7","token_endpoint_auth_method":"client_<DEBTS_TOKEN>_basic"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["localhost:8080/callback","localhost:3001/callback","http://localhost:8080/implicit/callback","https://app/after-auth","http://localhost:7100/oauth2/redirect","http://localhost:8080/auth/cb","https://sandbox-api.va.gov/oauth2/redirect/"],"response_types":["code"],"grant_types":["authorization_code"],"initiate_[...]
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/apps?after=0oa4dj59w3fIT7dqB2p7&filter=status%20eq%20%22ACTIVE%22&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVv[...]
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/apps?after=0oa5ythma5H1Lebwu2p7&filter=status%20eq%20%22ACTIVE%22&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVv[...]
