---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/logs?filter=eventType%20eq%20%22app.oauth2.as.token.revoke%22&since=2020-12-23T19:47:05Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X@o2OQzkdH4iWDJwdkS@4gAACag
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Remaining:
      - '49'
      X-Rate-Limit-Reset:
      - '1609184885'
      Link:
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T19%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.token.revoke%22&after=1608767453727_1>;
        rel="next"
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T19%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.token.revoke%22>;
        rel="self"
    body:
      encoding: ASCII-8BIT
      string: '[{"actor":{"id":"0oa7rb3qjbKyi6j7O2p7","type":"PublicClientApp","alternateId":"0oa7rb3qjbKyi6j7O2p7","displayName":"LibertyITSMarkwordt-2020-07-14T16:37:31.039Z","detailEntry":null},"client":{"userAgent":{"rawUserAgent":"curl/7.68.0","os":"Unknown","browser":"UNKNOWN"},"zone":"null","device":"Unknown","id":"0oa7rb3qjbKyi6j7O2p7","ipAddress":"71.196.193.56","geographicalContext":{"city":"Denver","state":"Colorado","country":"United
        States","postalCode":"80228","geolocation":{"lat":39.6888,"lon":-105.156}}},"authenticationContext":{"authenticationProvider":null,"credentialProvider":null,"credentialType":null,"issuer":null,"interface":null,"authenticationStep":0,"externalSessionId":"unknown"},"displayMessage":"OAuth2
        token revocation request","eventType":"app.oauth2.as.token.revoke","outcome":{"result":"FAILURE","reason":"request_missing_token"},"published":"2020-12-23T23:50:53.153Z","securityContext":{"asNumber":7922,"asOrg":"comcast","isp":"comcast
        cable communications  llc","domain":"comcast.net","isProxy":false},"severity":"WARN","debugContext":{"debugData":{"requestId":"X@PX3cV5MzW9wJNiyqsCpAAAD-I","requestUri":"/oauth2/default/v1/revoke","threatSuspected":"false","url":"/oauth2/default/v1/revoke?"}},"legacyEventType":"app.oauth2.as.token.revoke_failure","transaction":{"type":"WEB","id":"X@PX3cV5MzW9wJNiyqsCpAAAD-I","detail":{}},"uuid":"b1380523-4579-11eb-8235-539d6a6bdeac","version":"0","request":{"ipChain":[{"ip":"71.196.193.56","geographicalContext":{"city":"Denver","state":"Colorado","country":"United
        States","postalCode":"80228","geolocation":{"lat":39.6888,"lon":-105.156}},"version":"V4","source":null}]},"target":[{"id":"default","type":"AuthorizationServer","alternateId":null,"displayName":"Org
        Authorization Server","detailEntry":null}]}]'
  recorded_at: Mon, 28 Dec 2020 19:47:05 GMT
recorded_with: VCR 6.0.0
