---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/logs?filter=eventType%20eq%20%22app.oauth2.as.consent.grant%22&since=2020-12-23T18:47:05Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X-NcHSsW0q0nOknvAM5rTgAAAD4
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Remaining:
      - '49'
      X-Rate-Limit-Reset:
      - '1609784409'
      Link:
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T18%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.consent.grant%22&after=1609613834655_1>;
        rel="next"
      - <https://deptva-eval.okta.com/api/v1/logs?since=2020-12-23T18%3A47%3A05Z&filter=eventType+eq+%22app.oauth2.as.consent.grant%22>;
        rel="self"
    body:
      encoding: ASCII-8BIT
      string: '[{"actor":{"id":"00u2sjmfpj7jQm5Qr2p7","type":"User","alternateId":"2380e699de694b3f8b77f257d905083f","displayName":"Reynaldo722
        Simonis280","detailEntry":null},"client":{"userAgent":{"rawUserAgent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)
        Chrome/87.0.4280.88 Safari/537.36","os":"Mac OS X","browser":"CHROME"},"zone":"null","device":"Computer","id":null,"ipAddress":"73.134.228.147","geographicalContext":{"city":"Sykesville","state":"Maryland","country":"United
        States","postalCode":"21784","geolocation":{"lat":39.4567,"lon":-76.9696}}},"authenticationContext":{"authenticationProvider":null,"credentialProvider":null,"credentialType":null,"issuer":null,"interface":null,"authenticationStep":0,"externalSessionId":"102BNMy167wSmeOQ5PHNH70rg"},"displayMessage":"Consent
        granted","eventType":"app.oauth2.as.consent.grant","outcome":{"result":"SUCCESS","reason":null},"published":"2020-12-23T19:28:40.465Z","securityContext":{"asNumber":7922,"asOrg":"comcast","isp":"comcast
        cable communications  llc","domain":"comcast.net","isProxy":false},"severity":"INFO","debugContext":{"debugData":{"authorizationServerName":"default","authorizationServer":"aus1bptuzqo48Ut942p7","requestId":"X@OaaJpUdN4ofH1u02g0RwAADYg","requestUri":"/api/v1/authn/consent","threatSuspected":"false","url":"/api/v1/authn/consent?"}},"legacyEventType":"app.oauth2.as.consent.grant_success","transaction":{"type":"WEB","id":"X@OaaJpUdN4ofH1u02g0RwAADYg","detail":{}},"uuid":"0fce58e0-4555-11eb-a022-03c52390ebf9","version":"0","request":{"ipChain":[{"ip":"73.134.228.147","geographicalContext":{"city":"Sykesville","state":"Maryland","country":"United
        States","postalCode":"21784","geolocation":{"lat":39.4567,"lon":-76.9696}},"version":"V4","source":null}]},"target":[{"id":"oagnhof8zmNIiBXMe2p6","type":"ConsentGrant","alternateId":null,"displayName":"patient/CoverageEligibilityResponse.read","detailEntry":{"publicclientapp":"0oa9agtnc5aUKdgtJ2p7","authorizationserver":"aus1bptuzqo48Ut942p7","user":"00u2sjmfpj7jQm5Qr2p7"}},{"id":"oagnhof8vtnjk5Jvb2p6","type":"ConsentGrant","alternateId":null,"displayName":"patient/MedicationOrder.read","detailEntry":{"publicclientapp":"0oa9agtnc5aUKdgtJ2p7","authorizationserver":"aus1bptuzqo48Ut942p7","user":"00u2sjmfpj7jQm5Qr2p7"}},{"id":"oagnhof8tJD6JY4e92p6","type":"ConsentGrant","alternateId":null,"displayName":"patient/DiagnosticReport.read","detailEntry":{"publicclientapp":"0oa9agtnc5aUKdgtJ2p7","authorizationserver":"aus1bptuzqo48Ut942p7","user":"00[...]
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/apps/0oa9agtnc5aUKdgtJ2p7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X-NcTqtSrB3W68x2BOf9ogAADlg
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1609784458'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0oa9agtnc5aUKdgtJ2p7","name":"oidc_client","label":"SoftramsKarumuri-2020-12-22T16:58:53.173Z","status":"ACTIVE","lastUpdated":"2020-12-22T16:58:55.000Z","created":"2020-12-22T16:58:54.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"FKHfbEAUXleNQzw0de1ci1qSRZqz4hQx2QbOMC163TQ"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa9agtnc5aUKdgtJ2p7","token_endpoint_auth_method":"client_<DMC_TOKEN>_basic"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://localhost:4200/secure/account-settings","https://sandbox-api.va.gov/oauth2/redirect/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","refresh_token","implicit"],"initiate_login_uri":"https://sandbox-api.va.gov/oauth2/redirect/","application_type":"web","consent_method":"REQUIRED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]}}},"_links":{"appLinks":[{"name":"oidc_client_link","href":"https://deptva-eval.okta.com/home/oidc_client/0oa9agtnc5aUKdgtJ2p7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa9agtnc5aUKdgtJ2p7/groups"},"logo":[{"name":"medium","href":"https://ok6static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa9agtnc5aUKdgtJ2p7/users"},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/apps/0oa9agtnc5aUKdgtJ2p7/lifecycle/deactivate"}}}'
  recorded_at: Wed, 23 Dec 2020 19:47:05 GMT
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X-NcTxfEov7spcUbtfU99gAAEsg
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '998'
      X-Rate-Limit-Reset:
      - '1609784422'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u2sjmfpj7jQm5Qr2p7","status":"ACTIVE","created":"2018-12-14T19:27:37.000Z","activated":"2018-12-14T19:27:37.000Z","statusChanged":"2018-12-14T19:27:37.000Z","lastLogin":"2021-01-04T18:19:13.000Z","lastUpdated":"2021-01-04T18:19:13.000Z","<EE_PASS>Changed":null,"type":{"id":"oty1bpuo75x4e9uHl2p7"},"profile":{"last_login_type":"http://idmanagement.gov/ns/assurance/loa/3","firstName":"Reynaldo722","lastName":"Simonis280","idme_loa":"3","mobilePhone":null,"icn":"47000289","secondEmail":null,"login":"2380e699de694b3f8b77f257d905083f","email":"va.api.user+idme.183@gmail.com","loa":3},"credentials":{"provider":{"type":"FEDERATION","name":"FEDERATION"}},"_links":{"suspend":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://deptva-eval.okta.com/api/v1/meta/schemas/user/osc1bpuo75x4e9uHl2p7"},"resetPassword":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7/lifecycle/reset_<EE_PASS>","method":"POST"},"changeRecoveryQuestion":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7"},"type":{"href":"https://deptva-eval.okta.com/api/v1/meta/types/user/oty1bpuo75x4e9uHl2p7"},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2sjmfpj7jQm5Qr2p7/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Wed, 23 Dec 2020 19:47:05 GMT
recorded_with: VCR 6.0.0
