---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X6HcBatSrB3W68x2BOeIZQAADng
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1604443201'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u2fqgvbyT23TZNm2p7","status":"ACTIVE","created":"2018-10-31T16:57:53.000Z","activated":"2018-10-31T16:57:54.000Z","statusChanged":"2018-10-31T16:57:54.000Z","lastLogin":"2018-11-07T14:54:39.000Z","lastUpdated":"2019-02-20T00:57:40.000Z","<EE_PASS>Changed":null,"type":{"id":"oty1bpuo75x4e9uHl2p7"},"profile":{"last_login_type":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","firstName":null,"lastName":null,"idme_loa":"3","mobilePhone":null,"secondEmail":null,"login":"1847a3eb4b904102882e24e4ddf12ff3","email":"arteal@oddball.io","loa":3},"credentials":{"provider":{"type":"FEDERATION","name":"FEDERATION"}},"_links":{"suspend":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://deptva-eval.okta.com/api/v1/meta/schemas/user/osc1bpuo75x4e9uHl2p7"},"resetPassword":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/lifecycle/reset_<EE_PASS>","method":"POST"},"changeRecoveryQuestion":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7"},"type":{"href":"https://deptva-eval.okta.com/api/v1/meta/types/user/oty1bpuo75x4e9uHl2p7"},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Tue, 03 Nov 2020 22:39:01 GMT
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/grants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X6HcBt2b24iseOlek1CEPwAAEYI
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1604443202'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Tue, 03 Nov 2020 22:39:02 GMT
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/users/00u2fqgvbyT23TZNm2p7/grants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - X6HcBj6sb70LCFhx1F6s@wAAFGw
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1604443202'
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Tue, 03 Nov 2020 22:39:02 GMT
recorded_with: VCR 6.0.0
