---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/authorizationServers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YEZXvZr4HiaNflm2bklDMAAADIE
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1615222777'
      Link:
      - <https://deptva-eval.okta.com/api/v1/authorizationServers?after=ausa6g29u50OhqAdv2p7&limit=200>;
        rel="next"
      - <https://deptva-eval.okta.com/api/v1/authorizationServers?limit=200>; rel="self"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"aus1bptuzqo48Ut942p7","name":"default","description":"Default
        Authorization Server for your Applications","audiences":["api://default"],"issuer":"https://deptva-eval.okta.com/oauth2/default","issuerMode":"ORG_URL","status":"ACTIVE","created":"2018-06-07T11:22:52.000Z","lastUpdated":"2018-06-07T11:22:52.000Z","credentials":{"signing":{"kid":"QHfkUnEReKG1C5TEiCPHUDxvcDw_aq59Z-HVdjzDoZQ","rotationMode":"AUTO","lastRotated":"2021-03-01T03:00:53.000Z","nextRotation":"2021-05-30T03:00:53.000Z"}},"_links":{"rotateKey":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://deptva-eval.okta.com/oauth2/default/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://deptva-eval.okta.com/oauth2/default/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"id":"aus7y0lyttrObgW622p7","name":"claims","description":"Benefits
        APIs","audiences":["https://sandbox-api.va.gov/services/claims"],"issuer":"https://deptva-eval.okta.com/oauth2/aus7y0lyttrObgW622p7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2020-08-04T17:12:07.000Z","lastUpdated":"2020-11-12T00:40:53.000Z","credentials":{"signing":{"kid":"WozFU9os3cy3[...]
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/authorizationServers/aus7y0sefudDrg2HI2p7/scopes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <OKTA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YEZXvba4HHOfWu@oVgxA5QAADzQ
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
      X-Rate-Limit-Reset:
      - '1615222777'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"scp7y0uka1r3VPIw92p7","name":"disability_rating.read","displayName":"Disability
        Rating","description":"Severity rating of a Veteran''s disability as a percentage
        from 0-100% (Read-only)","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","default":false,"_links":{"self":{"href":"https://deptva-eval.okta.com/api/v1/authorizationServers/aus7y0sefudDrg2HI2p7/scopes/scp7y0uka1r3VPIw92p7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"scp7y0ukb7EP1Cbe72p7","name":"service_history.read","displayName":"Military
        Service History","description":"Veteran''s military service history including
        dates and rank information (Read-only)","system":false,"metadataPublish":"ALL_CLIENTS","consent":"REQUIRED","default":false,"_links":{"self"[...]
