---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=44.20493&lng=-123.54782
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_653BY","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}},{"id":"vha_653QA","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}}]}'
  recorded_at: Thu, 10 Dec 2020 19:30:56 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=44.20493&long=-123.54782&per_page=30&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_653QA","type":"va_facilities","attributes":{"name":"Downtown
        Eugene VA Clinic","facility_type":"va_health_facility","classification":"Other
        Outpatient Services (OOS)","website":"https://www.roseburg.va.gov/locations/eugene_downtown.asp","lat":44.05248,"long":-123.089373,"address":{"mailing":{},"physical":{"zip":"97401-2722","city":"Eugene","state":"OR","address_1":"211
        East 7th Avenue","address_2":null,"address_3":"Suite 220"}},"phone":{"fax":"541-465-6610","main":"541-242-0440","pharmacy":"541-440-1000","after_hours":"541-440-1000","patient_advocate":"541-440-1000
        x41206","enrollment_coordinator":"541-440-1000 x44024"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"services":{"other":[],"health":["MentalHealthCare"],"last_updated":"2020-11-30"},"satisfaction":{"health":{},"effective_date":null},"wait_times":{"health":[{"service":"MentalHealthCare","new":7.0,"established":1.081818}],"effective_date":"2020-11-30"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"20"}},{"id":"vha_653BY","type":"va_facilities","attributes":{"name":"Eugene
        VA Clinic","facility_type":"va_health_facility","classification":"Health Care
        Center (HCC)","website":"https://www.roseburg.va.gov/locations/eugene.asp","lat":44.088462,"long":-123.052518,"address":{"mailing":{},"physical":{"zip":"97408-7426","city":"Eugene","state":"OR","address_1":"3355
        Chad Drive","address_2":null,"address_3":null}},"phone":{"fax":"541-607-7573","main":"541-607-0897","pharmacy":"541-440-1000
        x41261","after_hours":"541-440-1000","patient_advocate":"541-440-1000 x44239","mental_health_clinic":"541-242-0440","enrollment_coordinator":"541-440-1000
        x44575"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"services":{"other":[],"health":["Audiology","DentalServices","Dermatology","Gastroenterology","MentalHealthCare","Ophthalmology","Optometry","Orthopedics","Podiatry","PrimaryCare","SpecialtyCare","Urology"],"last_updated":"2020-11-30"},"satisfaction":{"health":{"primary_care_urgent":0.7900000214576721,"primary_care_routine":0.8999999761581421},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"Audiology","new":70.933333,"established":17.519685},{"service":"Dermatology","new":22.4,"established":16.833333},{"service":"Gastroenterology","new":9.5,"established":1.0},{"service":"MentalHealthCare","new":3.055555,"established":1.357142},{"service":"Ophthalmology","new":15.0,"established":4.411764},{"service":"Optometry","new":66.35955,"established":3.160256},{"service":"Orthopedics","new":89.391304,"establ[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=45.544236&lng=-122.643468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_648","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648A4","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648GE","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648GI","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648GF","type":"nearby_facility","attributes":{"min_time":20,"max_time":30}},{"id":"vha_648GG","type":"nearby_facility","attributes":{"min_time":20,"max_time":30}},{"id":"vha_648GB","type":"nearby_facility","attributes":{"min_time":60,"max_time":70}},{"id":"vha_648GJ","type":"nearby_facility","attributes":{"min_time":80,"max_time":90}},{"id":"vha_663GD","type":"nearby_facility","attributes":{"min_time":80,"max_time":90}}]}'
  recorded_at: Fri, 11 Dec 2020 23:43:51 GMT
recorded_with: VCR 6.0.0
