---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/VeteranStatusService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/VetStatus/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>f834fbfa-f571-4efc-b724-829ddbccbae1</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISveteranStatusRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>595</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISveteranStatusRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getVeteranStatus/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Body><NS2:eMISveteranStatusResponse
        xmlns:NS2="http://viers.va.gov/cdi/eMIS/RequestResponse/VetStatus/v1"><NS3:ESSError
        xmlns:NS3="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS4:essTransactionID
        xmlns:NS4="http://viers.va.gov/cdi/CDI/commonService/v1">f834fbfa-f571-4efc-b724-829ddbccbae1</NS4:essTransactionID><NS5:ESSResponseCode
        xmlns:NS5="http://viers.va.gov/cdi/CDI/commonService/v1">ERROR</NS5:ESSResponseCode><NS6:code
        xmlns:NS6="http://viers.va.gov/cdi/CDI/commonService/v1">MIS-ERR-005</NS6:code><NS7:text
        xmlns:NS7="http://viers.va.gov/cdi/CDI/commonService/v1">EDIPI_BAD_FORMAT</NS7:text><NS8:essCode
        xmlns:NS8="http://viers.va.gov/cdi/CDI/commonService/v1">gov.va.ess.fault.io.InputOutputFault</NS8:essCode><NS9:essText
        xmlns:NS9="http://viers.va.gov/cdi/CDI/commonService/v1">EDIPI incorrectly
        formatted</NS9:essText><NS10:severity xmlns:NS10="http://viers.va.gov/cdi/CDI/commonService/v1">Error</NS10:severity><NS11:timestamp
        xmlns:NS11="http://viers.va.gov/cdi/CDI/commonService/v1">2017-04-19T14:19:32.823174-05:00</NS11:timestamp><NS12:serviceName
        xmlns:NS12="http://viers.va.gov/cdi/CDI/commonService/v1">Veteran Status</NS12:serviceName><NS13:userId
        xmlns:NS13="http://viers.va.gov/cdi/CDI/commonService/v1">vets.gov</NS13:userId><NS14:codePackage
        xmlns:NS14="http://viers.va.gov/cdi/CDI/commonService/v1">gov.va.viers.emis.vetstatus</NS14:codePackage><NS15:serviceDomain
        xmlns:NS15="http://viers.va.gov/cdi/CDI/commonService/v1">Veteran Status</NS15:serviceDomain><NS16:businessDomain
        xmlns:NS16="http://viers.va.gov/cdi/CDI/commonService/v1">Enterprise Military
        Information</NS16:businessDomain></NS3:ESSError></NS2:eMISveteranStatusResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 19 Apr 2017 19:19:38 GMT
recorded_with: VCR 3.0.3
