---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/VeteranStatusService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>76801d7f-c5ed-4103-be99-bdf997fcf2a5</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISfooRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1607472595</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISfooRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getVeteranStatus/v1
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://www.w3.org/2003/05/soap-envelope\"><soapenv:Body><soapenv:Fault><soapenv:Code><soapenv:Value>soapenv:Receiver</soapenv:Value></soapenv:Code><soapenv:Reason><soapenv:Text
        xml:lang=\"en-US\">Exception during SOAP processing</soapenv:Text></soapenv:Reason><soapenv:Detail><Exception>org.apache.axis2.AxisFault:
        Exception during SOAP processing\n\tat com.ibm.broker.axis2.Axis2Invoker.processInboundRequest(Unknown
        Source)\n\tat com.ibm.broker.axis2.Axis2Invoker.invokeAxis2(Unknown Source)\n\tat
        com.ibm.broker.axis2.TomcatNodeRegistrationUtil.invokeAxis2(Unknown Source)\n\tat
        com.ibm.broker.axis2.TomcatNodeRegistrationUtil.invokeAxis2(Unknown Source)\nCaused
        by: org.apache.axiom.om.OMException: javax.xml.stream.XMLStreamException:
        The namespace prefix \"v11\" was not declared.\n\tat org.apache.axiom.om.impl.builder.StAXOMBuilder.lookahead(StAXOMBuilder.java:702)\n\tat
        org.apache.axiom.soap.impl.llom.SOAPBodyImpl.hasLookahead(SOAPBodyImpl.java:191)\n\tat
        org.apache.axiom.soap.impl.llom.SOAPBodyImpl.getFirstElementLocalName(SOAPBodyImpl.java:217)\n\tat
        org.apache.axiom.soap.impl.llom.SOAPBodyImpl.hasFault(SOAPBodyImpl.java[...]
