---
http_interactions:
- request:
    method: post
    uri: https://icmhsgc-test.csrarad.com/VADocument/getStatus
    body:
      encoding: UTF-8
      string: token=%3CPENSIONS_TOKEN%3E&uuid=%5B%2234656d73-7c31-456d-9c49-2024fff1cd47%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[[{"uuid":"34656d73-7c31-456d-9c49-2024fff1cd47","status":"In Process","errorMessage":"","lastUpdated":"2018-03-20
        16:57:37"}]]'
  recorded_at: Thu, 22 Mar 2018 18:43:51 GMT
recorded_with: VCR 3.0.3
