<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Count</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    <% statistics.each do |statistic| %>
      <tr>
        <td><%= statistic[:code] %></td>
        <td class="right-align"><%= statistic[:count] %></td>
        <td class="right-align"><%= statistic[:percentage] %></td>
      </tr>
    <% end %>
  </tbody>
</table>