<table>
  <thead>
    <tr>
        <% ClaimsApi::PowerOfAttorney::ALL_STATUSES.each do |status| %>
        <th><%= status %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% ClaimsApi::PowerOfAttorney::ALL_STATUSES.map(&:to_sym).each do |status| %>
        <td class="right-align"><%= poa_submissions[status] %></td>
        <% end %>
      </tr>
  </tbody>
</table>
