<table>
  <thead>
    <tr>
      <th>Consumer Name</th>
      <th>Status</th>
      <th>GUID</th>
    </tr>
  </thead>
  <tbody>
    <% claims.each do |claim| %>
      <tr>
        <td><%= claim.first %></td>
        <td><%= claim.second %></td>
        <td><%= claim.last %></td>
      </tr>
    <% end %>
  </tbody>
</table>
