---
http_interactions:
- request:
    method: post
    uri: https://btsss.gov/api/v2/expenses/mileage
    body:
      encoding: US-ASCII
      string: '
        { "data": {
          "claimId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "dateIncurred": "2024-01-01T16:45:34.465Z"
          }
        }'
  response:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '
        { "data":
          {
            "expenseId": "12345abcd-5717-4562-b3fc-2c963f66afa6"
          }
       }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
