---
http_interactions:
- request:
    method: post
    uri: https://btsss.gov/api/v1.2/expenses/mileage
    body:
      encoding: US-ASCII
      string: '
        { "data": {
          "claimId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "dateIncurred": "2024-01-01T16:45:34.465Z"
          }
        }'
  response:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: 'An unexpected error occurred while processing your request.'
    body:
      encoding: ASCII-8BIT
      string: '
        { "errors": [
          {
            "error": {
              "code": "500",
              "message": "Internal Server Error",
              "details": "An unexpected error occurred while processing your request."
            }
          }
        ]
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
