---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vsp/v1/
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Conformance",
            "publisher": "Not provided",
            "date": "2020-04-14T18:17:26+00:00",
            "kind": "instance",
            "software": {
              "name": "VSP",
              "version": "v1"
            },
            "implementation": {
              "description": "VistA Scheduling Provider",
              "url": "vsp-v1/vsp/v1"
            },
            "fhirVersion": "1.0.2",
            "acceptUnknown": "extensions",
            "format": [
              "application/xml+fhir",
              "application/json+fhir"
            ],
            "rest": [
              {
                "mode": "server",
                "resource": [
                  {
                    "type": "Appointment",
                    "profile": {
                      "reference": "http://hl7.org/fhir/profiles/Appointment"
                    },
                    "interaction": [
                      {
                        "code": "search-type"
                      }
                    ],
                    "searchParam": [
                      {
                        "name": "date",
                        "type": "date",
                        "documentation": "Appointment date/time."
                      },
                      {
                        "name": "identifier",
                        "type": "token",
                        "documentation": "An Identifier of the Appointment"
                      },
                      {
                        "name": "patient",
                        "type": "string",
                        "documentation": "One of the individuals of the appointment is this patient"
                      }
   [...]
