---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vsp/v1/Organization/353830
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json+fhir
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json+fhir;charset=UTF-8
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2020-04-14T18:01:11+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Organization",
            "id": "353830",
            "text": {
              "status": "generated",
              "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><!--    <div class=\"hapiHeaderText\" th:narrative=\"${resource.name}\"></div>--><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier</td><td>580</td></tr><tr><td>Address</td><td><span>2002 Holcombe Blvd. </span><br/><span>Houston </span><span>TX </span></td></tr></tbody></table></div>"
            },
            "identifier": [
              {
                "system": "urn:oid:2.16.840.1.113883.6.233",
                "value": "580"
              }
            ],
            "active": true,
            "name": "HOUSTON VAMC",
            "address": [
              {
                "line": [
                  "2002 Holcombe Blvd."
                ],
                "city": "Houston",
                "state": "TX",
                "postalCode": "77030-4298"
              }
            ]
          }
    recorded_at: Fri, 17 Apr 2020 17:14:20 GMT
recorded_with: VCR 3.0.3
