---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vsp/v1/Organization/1234567
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json+fhir
    response:
      status:
        code: 500
        message: Server Error
      headers:
        Content-Type:
          - application/json+fhir;charset=UTF-8
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2020-05-07T13:33:25+0000'
      body:
        encoding: UTF-8
        string: |-
          {
              "resourceType": "OperationOutcome",
              "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation \n          Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Failed to call access method: java.lang.IllegalArgumentException: com.google.common.io.BaseEncoding$DecodingException: Invalid input length 7</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
              },
              "issue": [
                  {
                      "severity": "error",
                      "code": "processing",
                      "diagnostics": "Failed to call access method: java.lang.IllegalArgumentException: com.google.common.io.BaseEncoding$DecodingException: Invalid input length 7"
                  }
              ]
          }
    recorded_at: Mon, 11 May 2020 19:05:24 GMT
recorded_with: VCR 3.0.3
