---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vsp/v1/Organization?identifier=983,101
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json+fhir
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - application/json+fhir;charset=UTF-8
        X-Vamf-Version:
          - 1.4.0
        X-Vamf-Build:
          - 648792d
        X-Vamf-Timestamp:
          - '2020-05-10T21:31:24+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "OperationOutcome",
            "text": {
              "status": "generated",
              "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Failed to call access method: java.lang.NullPointerException</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
            },
            "issue": [
              {
                "severity": "error",
                "code": "processing",
                "diagnostics": "Failed to call access method: java.lang.NullPointerException"
              }
            ]
          }
    recorded_at: Tue, 19 May 2020 04:28:14 GMT
recorded_with: VCR 5.1.0
