---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Organization
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
        - 1.9.0
      X-Vamf-Build:
        - b4a9910
      X-Vamf-Timestamp:
        - '2020-04-14T18:01:11+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "cd67bfee-0b34-43a8-a4ee-9fe7aafb06aa",
          "meta": {
            "lastUpdated": "2020-05-20T21:12:43.561+00:00"
          },
          "type": "searchset",
          "total": 131,
          "link": [
            {
              "relation": "self",
              "url": "https://veteran.apps-staging.va.gov/vsp/v1/Organization"
            }
          ],
          "entry": [
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/Organization/353930",
              "resource": {
                "resourceType": "Organization",
                "id": "353930",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><!--    <div class=\"hapiHeaderText\" th:narrative=\"${resource.name}\"></div>--><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier</td><td>590</td></tr><tr><td>Identifier</td><td>urn:va:facility:590</td></tr><tr><td>Address</td><td><span>100 Emancipation Drive </span><br/><span>Hampton </span><span>VA </span></td></tr></tbody></table></div>"
                },
                "identifier": [
                  {
                    "system": "urn:oid:2.16.840.1.113883.6.233",
                    "value": "590"
                  },
                  {
                    "system": "http://med.va.gov/fhir/urn",
                    "value": "urn:va:facility:590"
                  }
                ],
                "active": true,
                "name": "Hampton VA Medical Center",
                "telecom": [
                  {
                    "system": "phone",
                    "value": "757-722-9961"
                  },
                  {
                    "system": "other",
                    "value": "https://www.hampton.va.gov/locations/directions.asp"
                  }
                ],
                "address": [
                  {
                    "line": [
                      "100 Emancipation Drive"
                    ],
                    "city": "Hampton",
                    "state": "VA",
                    "postalCode": "23667-0001"
                  }
                ]
              }
            },
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/Organization/353933",
              "resource": {
                "resourceType": "Organization",
                "id": "353933",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><!--    <div class=\"hapiHeaderText\" th:narrative=\"${resource.nam[...]
