---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Organization?identifier=983,984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
        - 1.9.0
      X-Vamf-Build:
        - b4a9910
      X-Vamf-Timestamp:
        - '2020-04-14T18:01:11+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "34ef715e-3408-4636-8f38-e4f9a021ca0c",
          "meta": {
            "lastUpdated": "2020-05-20T15:10:21.799+00:00"
          },
          "type": "searchset",
          "total": 2,
          "link": [
            {
              "relation": "self",
              "url": "https://veteran.apps-staging.va.gov/vsp/v1/Organization?identifier=983%2C984"
            }
          ],
          "entry": [
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/Organization/393833",
              "resource": {
                "resourceType": "Organization",
                "id": "393833",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><!--    <div class=\"hapiHeaderText\" th:narrative=\"${resource.name}\"></div>--><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier</td><td>983</td></tr><tr><td>Identifier</td><td>urn:va:facility:983</td></tr><tr><td>Address</td><td><span>2360 East Pershing Boulevard </span><br/><span>Cheyenne </span><span>WY </span></td></tr></tbody></table></div>"
                },
                "identifier": [
                  {
                    "system": "urn:oid:2.16.840.1.113883.6.233",
                    "value": "983"
                  },
                  {
                    "system": "http://med.va.gov/fhir/urn",
                    "value": "urn:va:facility:983"
                  }
                ],
                "active": true,
                "name": "Cheyenne VA Medical Center",
                "telecom": [
                  {
                    "system": "phone",
                    "value": "307-778-7550"
                  },
                  {
                    "system": "other",
                    "value": "https://www.cheyenne.va.gov/locations/directions.asp"
                  }
                ],
                "address": [
                  {
                    "line": [
                      "2360 East Pershing Boulevard"
                    ],
                    "city": "Cheyenne",
                    "state": "WY",
                    "postalCode": "82001-5356"
                  }
                ]
              }
            },
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/Organization/393834",
              "resource": {
                "resourceType": "Organization",
                "id": "393834",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><!--    <div class=\"hapiHeaderText\" th:narrative=\"${resource.nam[...]
