---
http_interactions:
- request:
    method: put
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4476/api/vetext/pub/covid/vaccine/registry
    body:
      encoding: UTF-8
      string: '{"vaccineInterest":"yes","authenticated":true,"dateVaccineReceived":"","contact":true,"contactMethod":"phone","reasonUndecided":"","firstName":"Jane","lastName":"Doe","dateOfBirth":"2/2/1952","phone":"555-555-1234","email":"jane.doe@email.com","patientSsn":"000-00-0022"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjQ3MDRiZTg3NTliNDg3YmI3MTA5MWU1NzIxMWZiNmI6VmZjaVVlVXljMFNZOGVLV1pRaDB3UT09
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sid":"C4471842B588278B6D160738877782115"}'
  recorded_at: Tue, 08 Dec 2020 00:52:57 GMT
recorded_with: VCR 6.0.0
