---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vpg/v1/patients/1012845331V153043/relationships?clinicalService=primaryCare&location=100
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
          {
            "data": {
              "patientIcn": "1012781163V209546",
              "relationships": [
                {
                  "provider": {
                    "cernerId": "Practitioner/1",
                    "name": "House, Gregory, M.D."
                  },
                  "location": {
                    "vhaFacilityId": "653",
                    "name": "653 ROS OR VA"
                  },
                  "clinic": null,
                  "serviceType": null,
                  "lastSeen": "2024-02-22T21:20:52.661Z"
                },
                {
                  "provider": {
                    "cernerId": "Practitioner/1",
                    "name": "House, Gregory, M.D."
                  },
                  "location": {
                    "vhaFacilityId": "653",
                    "name": "653 ROS OR VA"
                  },
                  "clinic": null,
                  "serviceType": {
                    "coding": {
                      "system": "http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type",
                      "code": "primaryCare",
                      "display": "Primary Care"
                    },
                    "text": "Primary Care"
                  },
                  "lastSeen": "2024-08-22T21:20:52.661Z"
                },
                {
                  "provider": {
                    "cernerId": "Practitioner/1",
                    "name": "House, Gregory, M.D."
                  },
                  "location": {
                    "vhaFacilityId": "653GB",
                    "name": "653GB BRK OR VA"
                  },
                  "clinic": "null",
                  "serviceType": {[...]
