---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vpg/v1/patients/1012845331V153043/relationships?clinicalService=primaryCare&location=100
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"code":500,"status":500,"message":"Failed to fetch relationships","id":"8f82ace3-725b-4ac2-9dd9-af24a08b9511","traceId":"66cca2fc08756a082363af261c74ee40"}'
    recorded_at: Fri, 23 Aug 2024 14:46:55 GMT
recorded_with: VCR 6.2.0
