---
http_interactions:
- request:
    method: post
    uri: https://fake.sob.com/external-api-service/api/v1/claimants
    body:
      encoding: UTF-8
      string: '{"ssn":"123456789","benefitType":"CH33","enrollment":"NO"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: '500'
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":500,"error":"Internal Server Error","message":"No message available","timestamp":1764109715289,"path":"/external-api-service/api/v1/claimants"}'
  recorded_at: Tue, 25 Nov 2025 22:28:35 GMT
recorded_with: VCR 6.3.1
