---
http_interactions:
- request:
    method: post
    uri: https://fwdproxy-dev.vfs.va.gov:4465/api/v1/digital-services/debt-letter/get
    body:
      encoding: UTF-8
      string: '{"fileNumber":"796043735"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - 0be3d60e3983438199f192b6e723a6f0
      Client-Secret:
      - "<DMC_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[\n  {\n    \"fileNumber\": \"796043735\",\n    \"payeeNumber\": \"00\",\n
        \   \"personEntitled\": null,\n    \"deductionCode\": \"30\",\n    \"benefitType\":
        \"Comp & Pen\",\n    \"diaryCode\": \"914\",\n    \"diaryCodeDescription\":
        \"Paid In Full\",\n    \"amountOverpaid\": 123.34,\n    \"amountWithheld\":
        50.00,\n    \"originalAR\": 1177.00,\n    \"currentAR\": 123.34,\n    \"debtHistory\":
        [\n      {\n        \"date\": \"09/12/1998\",\n        \"letterCode\": \"123\",\n
        \       \"description\": \"Third Demand Letter - Potential Treasury Referral\"\n
        \     },\n      {\n        \"date\": \"09/13/1997\",\n        \"letterCode\":
        \"123\",\n        \"description\": \"Third Demand Letter - Potential Treasury
        Referral\"\n      },\n      {\n        \"date\": \"04/01/1997\",\n        \"letterCode\":
        \"122\",\n        \"description\": \"Referall To Credit Reporting Agencies
        (CRA)\"\n      },\n      {\n        \"date\": \"09/14/1996\",\n        \"letterCod[...]
