---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4465/api/v1/debtletter/letterdetails/get
    body:
      encoding: UTF-8
      string: '{"fileNumber":"000000009"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - 0be3d60e3983438199f192b6e723a6f0
      Client-Secret:
      - <DEBTS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "fileNumber": "000000009",
            "payeeNumber": "00",
            "personEntitled": "STUB_M",
            "deductionCode": "21",
            "benefitType": "Loan Guaranty (Principal + Interest)",
            "amountOverpaid": 0.00,
            "amountWithheld": 0.00,
            "debtHistory": [
              {
                "debtId": 9,
                "date": "09/11/1997",
                "letterCode": "914",
                "status": "Paid In Full",
                "description": "Account balance cleared via offset, not including TOP."
              }
            ]
          },
          {
            "fileNumber": "000000009",
            "payeeNumber": "00",
            "personEntitled": "STUB_M",
            "deductionCode": "30",
            "benefitType": "Comp & Pen",
            "amountOverpaid": 0.00,
            "amountWithheld": 0.00,
            "debtHistory": [
              {
                "debtId": 85,
                "date": "12/03/2008",
              [...]
