{
  "openapi": "3.0.1",
  "info": {
    "title": "Benefits Claims",
    "version": "v2",
    "description": "## Background\n\nThe Benefits Claims API Version 2 lets internal consumers:\n\n- Retrieve existing claim information, including status, by claim ID.\n- Automatically establish an intent to file at VA.\n- Automatically establish a disability compensation claim (VA Form 21-526EZ) at VA.\n- Digitally submit supporting documentation for disability compensation claims.\n- Retrieve a claimant’s currently appointed accredited representative.\n- Request the appointment of an accredited representative, on behalf of a claimant.\n- Accept or decline the request to appoint an accredited representative, on behalf of the representative.\n- Automatically establish an organization as a claimant’s accredited representative (VA Form 21-22).\n- Automatically establish an individual as a claimant’s accredited representative (VA Form 21-22a).\n\nYou should use\nthe [Benefits Claims API Version 1](https://developer.va.gov/explore/benefits/docs/claims?version=current) if you are a\nconsumer outside of VA and do not have the necessary VA agreements to use this API.\n\n## Appointing an accredited representative for dependents\n\nDependents of Veterans, such as spouses, children (biological and step), and parents (biological and foster) may be\neligible for VA benefits and can request representation by an accredited representative.\n\nTo file claims through an accredited representative, dependents must appoint their own. Once appointed, the\nrepresentative will have power of attorney (POA) to assist with the dependentʼs VA claims.\n\nBefore appointing a representative, the dependentʼs relationship to the Veteran must be established. If a new\nrepresentative is being appointed, the dependentʼs relationship to the Veteran will be validated first. The\nrepresentative will be appointed to the dependent, not the Veteran.\n\n## Technical Overview\n\nThis API accepts a payload of requests and responses with the payload identifying the claim and claimant. Responses\nprovide the submission’s processing status. Responses also provide a unique ID which can be used with the appropriate\nGET endpoint to return detailed, end-to-end claims status tracking.\n\nEnd-to-end claims tracking provides the status of claims as they move through the submission process, but does not\nreturn whether the claim was approved or denied.\n\n### Claim statuses\n\nAfter you submit a disability compensation claim with the `POST /veterans/{veteranId}/526/synchronous` endpoint, it is\nthen established in Veterans Benefits Management System (VBMS). A `202` response means that the claim was successfully\nsubmitted by the API. However, it does not mean VA has received the required 526EZ PDF.\n\nTo confirm the status of your submission, use the `GET /veterans/{veteranId}/claims/{id}` endpoint and the ID returned\nwith your submission response. Statuses are:\n\n* **Pending**: The claim is successfully submitted for processing\n* **Errored**: The submission encountered upstream errors\n* **Canceled**: The claim was identified as a duplicate, or another issue caused the claim to be canceled.\n    * For duplicate claims, the claim's progress is tracked under a different Claim ID than the one returned in your\n      submission response.\n* **Claim received**: The claim was received, but hasn't been assigned to a reviewer yet.\n* **Initial review**: The claim has been assigned to a reviewer, who will determine if more information is needed.\n* **Evidence gathering, review, and decision**: VA is gathering evidence to make a decision from health care providers,\n  government agencies, and other sources.\n* **Preparation for notification**: VA has made a decision on the claim, and is getting a decision letter ready to mail.\n* **Complete**: VA has sent a decision letter by U.S. mail.\n\n### Finding a claimant's unique VA ID\n\nThis API uses Integration Control Number (ICN) as a unique identifier to identify the subject of each API request. This\nidentifier should be used as the `{veteranId}` parameter in request URLs.\n\n**Note**: though ICNs are typically static, they may change over time. If a specific ICN suddenly responds with a\n`404 not found` error, it may have changed. It’s a good idea to periodically check the ICN for each claimant.\n\n### Authentication and authorization\n\nThe authentication model for the Benefits Claims Version 2 is based on OAuth 2.0 / OpenID Connect and supports\nthe [client credentials grant](https://developer.va.gov/explore/authorization/docs/client-credentials?api=claims).\n\n**Important:**\n\n- To get production access to this API using client credentials grant, you must either work for VA or have specific VA\n  agreements in place.\n- Some endpoints have additional access restrictions. To get sandbox or production access to individual endpoints\n  labeled (restricted access), you must be an approved Federal consumer of the data they provide.\n- If you have questions about these API access restrictions, [contact us](https://developer.va.gov/support/contact-us).\n\n### Test data for sandbox environment use\n\nWe use\nmock [test data in the sandbox environment](https://developer.va.gov/explore/api/benefits-claims/test-users/2671/f1097c9772b447bb755b26dcd3e652aecad632389a28f0e19a7ebb082808db39).\nSandbox test data and test users for the Benefits Claims API are valid for all versions of the API.\n"
  },
  "tags": [
    {
      "name": "Claims",
      "description": "Allows authenticated and authorized users to access claims data for a given VA claimant. No data is returned if the user is not authenticated and authorized.\n"
    },
    {
      "name": "5103 Waiver",
      "description": "Allows authenticated and authorized users to file a 5103 Notice Response on a claim."
    },
    {
      "name": "Intent to File",
      "description": "Allows authenticated and authorized users to automatically establish an Intent to File (21-0966) in VBMS.\n"
    },
    {
      "name": "Disability Compensation Claims",
      "description": "Allows authenticated and authorized users to automatically establish a Disability Compensation Claim (21-526EZ) in VBMS\n"
    },
    {
      "name": "Power of Attorney",
      "description": "Allows authenticated and authorized users to automatically establish power of attorney appointments to an organization or an individual. Organizations and individuals must be VA accredited representatives.\n"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer_token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "productionOauth": {
        "type": "oauth2",
        "description": "This API uses OAuth 2 with the client credential grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/client-credentials)",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.va.gov/oauth2/authorization",
            "tokenUrl": "https://api.va.gov/oauth2/token",
            "scopes": {
              "system/claim.read": "Retrieve claim data",
              "system/claim.write": "Submit claim data"
            }
          }
        }
      },
      "sandboxOauth": {
        "type": "oauth2",
        "description": "This API uses OAuth 2 with the client credential grant flow. [More info](https://developer.va.gov/explore/api/benefits-claims/client-credentials)",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sandbox-api.va.gov/oauth2/authorization",
            "tokenUrl": "https://sandbox-api.va.gov/oauth2/token",
            "scopes": {
              "system/claim.read": "Retrieve claim data",
              "system/claim.write": "Submit claim data"
            }
          }
        }
      }
    }
  },
  "paths": {},
  "servers": [
    {
      "url": "https://sandbox-api.va.gov/services/claims/{version}",
      "description": "VA.gov API sandbox environment",
      "variables": {
        "version": {
          "default": "v2"
        }
      }
    },
    {
      "url": "https://api.va.gov/services/claims/{version}",
      "description": "VA.gov API production environment",
      "variables": {
        "version": {
          "default": "v2"
        }
      }
    }
  ]
}