---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities?facilityIds=vha_979
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '46'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '46'
      Ratelimit-Reset:
      - '18'
      Ratelimit-Limit:
      - '60'
      X-Oneagent-Js-Injection:
      - 'true'
      Correlation-Id:
      - dc8608fe-f0c8-4539-be9b-d6f3085b34d2#358743
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"self":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities?facilityIds=vha_979&page=1&per_page=10","first":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities?facilityIds=vha_979&page=1&per_page=10","last":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities?facilityIds=vha_979&page=1&per_page=10"},"meta":{"pagination":{"currentPage":1,"perPage":10,"totalPages":1,"totalEntries":0}}}'
  recorded_at: Mon, 01 May 2017 19:25:00 GMT
recorded_with: VCR 6.3.1
