---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities?facilityIds=vha_552
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '53'
      Ratelimit-Reset:
      - '41'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '53'
      Ratelimit-Limit:
      - '60'
      X-Oneagent-Js-Injection:
      - 'true'
      Correlation-Id:
      - ceecce09-d28f-476f-834a-444a1d0c503d#26074
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_552","type":"va_facilities","attributes":{"name":"Dayton
        VA Medical Center","facilityType":"va_health_facility","classification":"VA
        Medical Center (VAMC)","parent":{"id":"vha_552","link":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities/vha_552"},"website":"https://www.va.gov/dayton-health-care/locations/dayton-va-medical-center/","lat":39.74935073,"long":-84.25320014,"timeZone":"America/New_York","address":{"physical":{"zip":"45428-9000","city":"Dayton","state":"OH","address1":"4100
        West Third Street"}},"phone":{"fax":"937-262-2179","main":"937-268-6511","pharmacy":"800-368-8262
        x1","afterHours":"888-838-6446","patientAdvocate":"800-368-8262 x2164","mentalHealthClinic":"937-262-2186","enrollmentCoordinator":"800-368-8262
        x5336","healthConnect":"833-940-1624"},"hours":{"monday":"24/7","tuesday":"24/7","wednesday":"24/7","thursday":"24/7","friday":"24/7","saturday":"24/7","sunday":"24/7"},"operationalHoursSpecialInstructions":["Normal
        business hours are Monday through Friday, 8:00 a.m. to 4:30 p.m."],"services":{"health":[{"name":"Addiction
        and substance use care","serviceId":"addiction","link":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities/vha_552/services/addiction"},{"name":"Anesthesia","serviceId":"anesthesia","link":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities/vha_552/services/anesthesia"},{"name":"Audiology
        and speech","serviceId":"audiology","link":"<LIGHTHOUSE_CLAIMS_API_HOST>/services/va_facilities/v1/facilities/vha_552/services/audiology"},{"name":"Cardiology","serviceId":"cardiology","link":"<LIGHTHOUSE_CLA[...]
