---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=45.518371&lng=-122.673946
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_648","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_648GI","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_648A4","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648GE","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_648GF","type":"nearby_facility","attributes":{"min_time":20,"max_time":30}},{"id":"vha_648GG","type":"nearby_facility","attributes":{"min_time":20,"max_time":30}},{"id":"vha_648GB","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}},{"id":"vha_648GJ","type":"nearby_facility","attributes":{"min_time":80,"max_time":90}},{"id":"vha_663GD","type":"nearby_facility","attributes":{"min_time":80,"max_time":90}}]}'
  recorded_at: Thu, 10 Dec 2020 17:48:35 GMT
recorded_with: VCR 6.0.0
