---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=39.347811&long=-120.918728&per_page=50&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_612GK","type":"va_facilities","attributes":{"name":"Sierra
        Foothills VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.northerncalifornia.va.gov/locations/Sierra_Foothills_OPC.asp","lat":38.94154267,"long":-121.09888733,"address":{"mailing":{},"physical":{"zip":"95603-2413","city":"Auburn","state":"CA","address_1":"11985
        Heritage Oaks Place","address_2":null,"address_3":"Suite 100"}},"phone":{"fax":"530-889-4978","main":"530-889-0872","pharmacy":"866-600-8279","after_hours":"800-382-8387","patient_advocate":"530-889-4975","enrollment_coordinator":"530-889-4946"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Dermatology","Gynecology","MentalHealthCare","Nutrition","PrimaryCare","SpecialtyCare","WomensHealth"],"last_updated":"2021-03-15"},"satisfaction":{"health":{},"effective_date":null},"wait_times":{"health":[{"service":"Dermatology","new":6.222222,"established":9.25},{"service":"Gynecology","new":null,"established":0.0},{"service":"MentalHealthCare","new":10.833333,"established":0.617924},{"service":"PrimaryCare","new":11.470588,"established":2.544217},{"service":"SpecialtyCare","new":10.561811,"established":0.798507},{"service":"WomensHealth","new":null,"established":0.0}],"effective_date":"2021-03-15"},"mobile":false,"active_status":"A","operating_status":{"code":"NOTICE","additional_info":"If
        you have a fever, cough or shortness of breath, call us at 1-800-382-VETS
        (8387) before visiting. We are screening all who enter the facility. Face
        masks are required."},"visn":"21"}},{"id":"vha_612GI","type":"va_facilities","attributes":{"name":"Yuba
        City VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.northerncalifornia.va.gov/locations/Yuba_City_OPC.asp","lat":39.13108223,"long":-121.61385793,"address":{"mailing":{},"physical":{"zip":"95991-5074","city":"Yuba
        City","state":"CA","address_1":"425 Plumas Boulevard","address_2":null,"address_3":null}},"phone":{"fax":"530-673-3735","main":"530-751-4500","pharmacy":"866-600-8279","after_hours":"800-382-8387","patient_advocate":"530-751-4560","mental_health_clinic":"855-771-9321","enrollment_coordinator":"530-751-4500"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Audiology","Dermatology","EmergencyCare","Gynecology","MentalHealthCare","PrimaryCare","SpecialtyCare","WomensHealth"],"last_updated":"2021-03-15"},"satisfaction":{"health":{"primary_care_urgent":0.800000011920929,"primary_care_routine":0.8799999952316284},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Audiology","new":0.0,"established":0.142857},{"service":"Dermatology","new":31.0,"established":4.0},{"service":"Gynecology","new":1.0,"established":0.714285},{"service":"MentalHealthCare","new":null,"established":2.950549},{"service":"PrimaryCare","new":16.615384,"established":1.629032},{"service":"SpecialtyCare","new":9.075324,"established":0.402542},{"service":"WomensHealth","new":1.0,"established":0.714285}[...]
