---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=43.031057&lng=-76.127249
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_528A7","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_528QG","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_528QH","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_528QI","type":"nearby_facility","attributes":{"min_time":0,"max_time":10}},{"id":"vha_528G5","type":"nearby_facility","attributes":{"min_time":40,"max_time":50}},{"id":"vha_528G9","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}},{"id":"vha_528GM","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}},{"id":"vha_528GP","type":"nearby_facility","attributes":{"min_time":50,"max_time":60}},{"id":"vha_528QN","type":"nearby_facility","attributes":{"min_time":60,"max_time":70}},{"id":"vha_528A5","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_528GN","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_528GO","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_528QC","type":"nearby_facility","attributes":{"min_time":80,"max_time":90}}]}'
  recorded_at: Thu, 10 Dec 2020 08:48:35 GMT
recorded_with: VCR 6.0.0
