---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=37.869529&long=-89.056407&per_page=50&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_657QD","type":"va_facilities","attributes":{"name":"Heartland
        Street VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":null,"lat":37.74312888,"long":-88.99425,"address":{"mailing":{},"physical":{"zip":"62959-6393","city":"Marion","state":"IL","address_1":"3403
        Heartland Street","address_2":null,"address_3":null}},"phone":{"fax":"618-997-8249","main":"618-997-5311
        x72001","pharmacy":"618-997-5311 x54677","after_hours":"618-997-5311 x4396","patient_advocate":"618-997-5311
        x59558","enrollment_coordinator":"618-997-5311 x58217"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["EmergencyCare","Gynecology","MentalHealthCare","PrimaryCare","SpecialtyCare","WomensHealth"],"last_updated":"2021-03-22"},"satisfaction":{"health":{"primary_care_urgent":0.800000011920929,"primary_care_routine":0.949999988079071},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Gynecology","new":23.0,"established":14.44186},{"service":"MentalHealthCare","new":6.214285,"established":0.743243},{"service":"PrimaryCare","new":10.558823,"established":3.743107},{"service":"SpecialtyCare","new":23.0,"established":1.272727},{"service":"WomensHealth","new":null,"established":18.96875}],"effective_date":"2021-03-22"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"detailed_services":null,"visn":"15"}},{"id":"vha_657A5","type":"va_facilities","attributes":{"name":"Marion
        VA Medical Center","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.marion.va.gov/locations/directions.asp","lat":37.72970596,"long":-88.95597853,"address":{"mailing":{},"physical":{"zip":"62959-1165","city":"Marion","state":"IL","address_1":"2401
        West Main Street","address_2":null,"address_3":null}},"phone":{"fax":"618-997-8249","main":"618-997-5311","pharmacy":"618-997-5311
        x54677","after_hours":"618-997-5311","patient_advocate":"618-997-5311 x59558","mental_health_clinic":"618-997-5311
        x 54410","enrollment_coordinator":"618-997-5311 x58217"},"hours":{"friday":"24/7","monday":"24/7","sunday":"24/7","tuesday":"24/7","saturday":"24/7","thursday":"24/7","wednesday":"24/7"},"operational_hours_special_instructions":"Administrative
        hours are Monday-Friday 8:00 a.m. to 4:30 p.m. |","services":{"other":[],"health":["Audiology","Cardiology","Covid19Vaccine","DentalServices","EmergencyCare","Gastroenterology","MentalHealthCare","Ophthalmology","Optometry","O[...]
