---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=68.702573&lng=-164.806812
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Thu, 10 Dec 2020 08:48:33 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=68.702573&long=-164.806812&per_page=30&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_463GA","type":"va_facilities","attributes":{"name":"Fairbanks
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.alaska.va.gov/locations/Fairbanks.asp","lat":64.82923611,"long":-147.66264244,"address":{"mailing":{},"physical":{"zip":"99703-1110","city":"Fort
        Wainwright","state":"AK","address_1":"4076 Neeley Road","address_2":null,"address_3":"Room
        1J-101"}},"phone":{"fax":"907-361-6372","main":"888-353-7574","pharmacy":"888-353-7574","after_hours":"888-353-7574","patient_advocate":"907-257-5449","mental_health_clinic":"907-361-6370","enrollment_coordinator":"907-257-3323"},"hours":{"friday":"730AM-400PM","monday":"730AM-400PM","sunday":"Closed","tuesday":"730AM-400PM","saturday":"Closed","thursday":"730AM-400PM","wednesday":"730AM-400PM"},"services":{"other":[],"health":["MentalHealthCare","Podiatry","PrimaryCare"],"last_updated":"2020-11-30"},"satisfaction":{"health":{"primary_care_urgent":0.7099999785423279,"primary_care_routine":0.8500000238418579},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"MentalHealthCare","new":19.0,"established":5.658536},{"service":"PrimaryCare","new":22.461538,"established":3.065116}],"effective_date":"2020-11-30"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"20"}},{"id":"vha_463GC","type":"va_facilities","attributes":{"name":"Mat-Su
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.alaska.va.gov/locations/MatSu.asp","lat":61.58997377,"long":-149.35985117,"address":{"mailing":{},"physical":{"zip":"99654-7241","city":"Wasilla","state":"AK","address_1":"865
        North Seward Meridian Parkway","address_2":null,"address_3":"Suite 105"}},"phone":{"fax":"907-631-3101","main":"888[...]
