---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/nearby?lat=44.35191&lng=-69.747615
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vba_402","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_402","type":"nearby_facility","attributes":{"min_time":10,"max_time":20}},{"id":"vha_402GE","type":"nearby_facility","attributes":{"min_time":30,"max_time":40}},{"id":"vha_402HC","type":"nearby_facility","attributes":{"min_time":60,"max_time":70}},{"id":"vha_402GC","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_402GD","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_402HB","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}},{"id":"vha_402HL","type":"nearby_facility","attributes":{"min_time":70,"max_time":80}}]}'
  recorded_at: Thu, 10 Dec 2020 17:41:38 GMT
recorded_with: VCR 6.0.0
