---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=40.519407&long=-85.645053&per_page=50&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_610","type":"va_facilities","attributes":{"name":"Marion
        VA Medical Center","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.northernindiana.va.gov/locations/Marion.asp","lat":40.52367955,"long":-85.63720253,"address":{"mailing":{},"physical":{"zip":"46953-4568","city":"Marion","state":"IN","address_1":"1700
        East 38th Street","address_2":null,"address_3":null}},"phone":{"fax":"765-677-3189","main":"765-674-3321","pharmacy":"765-674-3321
        x73133","after_hours":"800-360-8387","patient_advocate":"765-674-3321 x73181","mental_health_clinic":"765-674-3321
        x 73402","enrollment_coordinator":"765-674-3321 x71101"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"operational_hours_special_instructions":"Administrative
        hours are Monday-Friday 8:00 a.m. to 4:30 p.m. | Expanded or Nontraditional
        hours are available for some services on a routine and or requested basis.
        Please call our main phone number for details. |","services":{"other":[],"health":["Audiology","Cardiology","Covid19Vaccine","DentalServices","Dermatology","EmergencyCare","Gynecology","MentalHealthCare","Nutrition","Optometry","Podiatry","PrimaryCare","SpecialtyCare"],"last_updated":"2021-03-22"},"satisfaction":{"health":{"primary_care_urgent":0.6200000047683716,"primary_care_routine":0.949999988079071,"specialty_care_urgent":0.7300000190734863,"specialty_care_routine":0.8299999833106995},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Audiology","new":7.008547,"established":1.707423},{"service":"Cardiology","new":null,"established":0.0},{"service":"Dermatology","new":3.310344,"established":0.555555},{"service":"Gynecology","new":14.222222,"established":7.428571},{"service":"MentalHealthCare","new":5.68421,"established":2.641025},{"service":"Optometry","new":74.538461,"established":20.454545},{"service":"PrimaryCare","new":9.841584,"established":3.952297},{"service":"SpecialtyCare","new":10.31081,"established":21.410007}],"effective_date":"2021-03-22"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"detailed_services":null,"visn":"10"}},{"id":"vha_610GB","type":"va_facilities","attributes":{"name":"Muncie
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.northernindiana.va.gov/locations/Muncie.asp","lat":40.22004801,"long":-85.44272062,"address":{"mailing":{},"physical":{"zip":"47304-5568","city":"Muncie","state":"IN","address_1":"3401
        North Morrison Road","address_2":null,"address_3":null}},"phone":{"fax":"765-254-5603","main":"765-284-682[...]
