---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=35.514271&long=-79.195453&per_page=50&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_565GG","type":"va_facilities","attributes":{"name":"Lee
        County VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.fayettevillenc.va.gov/locations/Sanford_CBOC.asp","lat":35.43817906,"long":-79.21354041,"address":{"mailing":{},"physical":{"zip":"27330-7142","city":"Sanford","state":"NC","address_1":"3112
        Tramway Road","address_2":null,"address_3":null}},"phone":{"fax":"910-822-7968","main":"910-488-2120","pharmacy":"910-822-7968","after_hours":"910-822-7968","patient_advocate":"910-822-7968","mental_health_clinic":"919-775-6166","enrollment_coordinator":"910-822-7968"},"hours":{"friday":"800AM-430PM","monday":"800AM-430PM","sunday":"Closed","tuesday":"800AM-430PM","saturday":"Closed","thursday":"800AM-430PM","wednesday":"800AM-430PM"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Dermatology","EmergencyCare","MentalHealthCare","Optometry","PrimaryCare","SpecialtyCare"],"last_updated":"2021-03-22"},"satisfaction":{"health":{},"effective_date":null},"wait_times":{"health":[{"service":"Dermatology","new":1.5,"established":23.0},{"service":"MentalHealthCare","new":20.333333,"established":1.9},{"service":"Optometry","new":4.0,"established":0.0},{"service":"PrimaryCare","new":61.384615,"established":2.862831},{"service":"SpecialtyCare","new":3.117647,"established":2.555555}],"effective_date":"2021-03-22"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"detailed_services":null,"visn":"6"}},{"id":"vha_565QE","type":"va_facilities","attributes":{"name":"Womack
        VA Clinic","facility_type":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","website":null,"lat":35.15199065,"long":-78.99881359,"address":{"mailing":{},"physical":{"zip":"28310-0001","city":"Fort
        Bragg","state":"NC","address_1":"2817 Reilly Road","address_2":null,"address_3":null}},"phone":{"fax":"910-822-7094","main":"910-488-2120","pharmacy":"910-822-7094","after_hours":"[...]
