---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=41.874851&long=-87.649569&per_page=50&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_537","type":"va_facilities","attributes":{"name":"Jesse
        Brown Department of Veterans Affairs Medical Center","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.chicago.va.gov/locations/Directions.asp","lat":41.87078943,"long":-87.67642646,"address":{"mailing":{},"physical":{"zip":"60612-3728","city":"Chicago","state":"IL","address_1":"820
        South Damen Avenue","address_2":null,"address_3":null}},"phone":{"fax":"312-569-6188","main":"312-569-8387","pharmacy":"312-569-7110","after_hours":"312-569-6177","patient_advocate":"312-569-7959","mental_health_clinic":"312-569-7225","enrollment_coordinator":"312-569-7678"},"hours":{"friday":"24/7","monday":"24/7","sunday":"24/7","tuesday":"24/7","saturday":"24/7","thursday":"24/7","wednesday":"24/7"},"operational_hours_special_instructions":"Administrative
        hours are Monday-Friday 8:00 a.m. to 4:30 p.m. |","services":{"other":[],"health":["Audiology","Cardiology","Covid19Vaccine","DentalServices","Dermatology","EmergencyCare","Gastroenterology","Gynecology","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Orthopedics","Podiatry","PrimaryCare","SpecialtyCare","UrgentCare","Urology","WomensHealth"],"last_updated":"2021-03-15"},"satisfaction":{"health":{"primary_care_urgent":0.7599999904632568,"primary_care_routine":0.8299999833106995,"specialty_care_urgent":0.7300000190734863,"specialty_care_routine":0.800000011920929},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Audiology","new":37.650602,"established":30.526627},{"service":"Cardiology","new":23.848484,"established":15.452107},{"service":"Dermatology","new":19.589743,"established":23.816216},{"service":"Gastroenterology","new":13.461538,"established":29.076923},{"service":"Gynecology","new":13.0,"established":16.875},{"service":"MentalHealthCare","new":12.271186,"established":1.679104},{"service":"Ophthalmology","new":8.0,"established":19.476248},{"service":"Optometry","new":20.930232,"established":26.749633},{"service":"Orthopedics","new":24.290322,"established":13.469298},{"service":"PrimaryCare","new":15.678571,"established":10.617113},{"service":"SpecialtyCare","new":13.82716,"established":10.40628},{"service":"Urology","new":10.942857,"established":11.253187},{"service":"WomensHealth","new":6.5,"established":15.520833}],"effective_date":"2021-03-15"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"12"}},{"id":"vha_537GD","type":"va_facilities","attributes":{"name":"Lakeside
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.chicago.va.gov/locations/Lakeside.asp","lat":41.8933409,"long":-87.62211777,"address":{"mailing":{},"physical":{"zip":"60611-3468","city":"Chicago","state":"IL","address_1":"211
        East Ontario Street","address_2":null,"address_3":null}},"phone":{"fax":"312-469-4927","main":"312-469-4850","p[...]
