---
http_interactions:
  - request:
      method: post
      uri: https://int.vet360.va.gov/profile-service/profile/v3/2.16.840.1.113883.3.42.10001.100001.12/384759483%5ENI%5E200DOD%5EUSDOD
      body:
        encoding: UTF-8
        string: '{"bios":[{"bioPath":"disabilityRating"}]}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Oneagent-Js-Injection:
          - 'true'
        Vaprofiletxauditid:
          - b11341bd-38a6-4b26-a845-459fad97ef99
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"profile":{"disabilityRating":{"serviceConnectedIndicator":true,"combinedNonServiceConnectedRatingPercentage":"60","combinedServiceConnectedRatingPercentage":"60","combinedServiceConnectedLegalEffectiveDate":"2009-12-16T06:00:00Z","combinedServiceConnectedAwardEffectiveDate":"2010-12-01T06:00:00Z","permanentAndTotalIndicator":true,"permanentAndTotalEffectiveDate":"2015-05-20T05:00:00Z","promulgationDate":"2016-06-02T21:08:32Z","profileDate":"2015-05-20T13:32:17Z","unemployableIndicator":true,"disabilities":[{"disabilityEvaluationDiagnosticTypeCode":"6260","disabilityEvaluationDiagnosticTypeName":"Tinnitus","disabilityIdentifier":"1071473","disabilityMilitaryServicePeriodTypeCode":"7","disabilityMilitaryServicePeriodTypeName":"Vietnam
          Era","disabilityDecisionBasisTypeCode":"INC","disabilityDecisionBasisTypeName":"Incurred","disabilityDecisionTypeCode":"SVCCONNCTED","disabilityDecisionTypeName":"Service
          Connected","disabilityEvaluations":[{"ratingDecisionBeginDate":"2010-11-15T06:00:00Z","disabilityEvaluationDiagnosticText":"Tinnitus","disabilityEvaluationPercentNumber":"10"}]},{"disabilityEvaluationDiagnosticTypeCode":"7005","disabilityEvaluationDiagnosticTypeName":"Arteriosclerotic
          heart disease","disabilityIdentifier":"1071472","disabilityMilitaryServicePeriodTypeCode":"7","disabilityMilitaryServicePeriodTypeName":"Vietnam
          Era","disabilityDecisionBasisTypeCode":"INC","disabilityDecisionBasisTypeName":"Incurred","disabilityDecisionTypeCode":"SVCCONNCTED","disabilityDecisionTypeName":"Service
          Connected","disabilityEvaluations":[{"ratingDecisionBeginDate":"2009-12-16T06:00:00Z","disabilityEvaluationDiagnosticText":"CAD","disabilityEvaluationPercentNumber":"60"}]},{"disabilityEvaluationDiagnosticTypeCode":"6100","disabilityEvaluationDiagnosticTypeName":"6100-Hearing
          loss","disabilityIdentifier":"1090052","disabilityMilitaryServicePeriodTypeCode":"7","disabilityMilitaryServicePeriodTypeName":"Vietnam
          Era","disabilityDecisionBasisTypeCode":"INC","disabilityDecisionBasisTypeName":"Incurred","disabilityDecisionTypeCode":"SVCCONNCTED","disabilityDecisionTypeName":"Service
          Connected","disabilityEvaluations":[{"ratingDecisionBeginDate":"2010-11-15T06:00:00Z","disabilityEvaluationDiagnosticText":"bilateral
          hearing loss","disabilityEvaluationPercentNumber":"0","supplementalDecisionTypeCode":"CCE","supplementalDecisionTypeName":"Confirmed
          and Continued Evaluation"}]}],"ratingEvaluationHistory":[{"combinedServiceConnectedRatingPercentage":"60","combinedNonServiceConnectedRatingPercentage":"60","combinedServiceConnectedLegalEffectiveDate":"2010-11-15T06:00:00Z"},{"combinedServiceConnectedRatingPercentage":"60","combinedNonServiceConnectedRatingPercentage":"60","combinedServiceConnectedLegalEffectiveDate":"2009-12-16T06:00:00Z"}]}}}'
    recorded_at: Mon, 07 Aug 2023 20:22:31 GMT
recorded_with: VCR 6.2.0
