---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/profile-service/profile/v3/2.16.840.1.113883.3.42.10001.100001.12/1148152574%5ENI%5E200DOD%5EUSDOD
    body:
      encoding: UTF-8
      string: '{"bios":[{"bioPath":"disabilityRating"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Vaprofiletxauditid:
      - cc58b978-0dde-4649-9f11-3029297175cf
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"disabilityRating":{"serviceConnectedIndicator":true,"combinedNonServiceConnectedRatingPercentage":"30","combinedServiceConnectedRatingPercentage":"30","combinedServiceConnectedLegalEffectiveDate":"1995-01-10T06:00:00Z","combinedServiceConnectedAwardEffectiveDate":"2012-07-01T05:00:00Z","promulgationDate":"2012-10-26T12:49:49Z","profileDate":"2012-10-25T18:15:20Z","disabilities":[{"disabilityEvaluationDiagnosticTypeCode":"8100","disabilityEvaluationDiagnosticTypeName":"Migraine","disabilityIdentifier":"1067933","disabilityMilitaryServicePeriodTypeCode":"4","disabilityMilitaryServicePeriodTypeName":"Peacetime","disabilityDecisionBasisTypeCode":"INC","disabilityDecisionBasisTypeName":"Incurred","disabilityDecisionTypeCode":"SVCCONNCTED","disabilityDecisionTypeName":"Service
        Connected","disabilityEvaluations":[{"ratingDecisionBeginDate":"2012-06-01T05:00:00Z","disabilityEvaluationDiagnosticText":"headaches","disabilityEvaluationPercentNumber":"30"}]}],"ratingEvaluationHistory":[{"combinedServiceConnectedRatingPercentage":"30","combinedNonServiceConnectedRatingPercentage":"30","combinedServiceConnectedLegalEffectiveDate":"2012-06-01T05:00:00Z"}]}}}'
  recorded_at: Mon, 14 Aug 2023 15:29:21 GMT
recorded_with: VCR 6.2.0
