---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Ssn:
      - '120495723'
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab470b0240e45ddd9bd220cdea147828"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "id": "XXXXXXX",
              "type": "legacyAppeal",
              "attributes": {
                "appealIds": [
                  "XXXXXXX"
                ],
                "updated": "2018-08-02T11:33:45-04:00",
                "incompleteHistory": false,
                "type": "original",
                "active": false,
                "description": "XXXX",
                "aod": false,
                "location": "bva",
                "aoj": "vba",
                "programArea": "compensation",
                "status": {
                  "type": "ftr",
                  "details": {}
                },
                "alerts": [],
                "docket": null,
                "issues": [
                  {
                    "description": "XXXX",
                    "diagnosticCode": "XXXX",
                    "active": false,
                    "lastAction": "withdrawn",
                    "date": "XXXX-XX-XX"
                  }
                ],
                "events": [
                  {
                    "type": "claim_decision",
                    "date": "XXXX-XX-XX"
                  },
                  {
                    "type": "nod",
                    "date": "XXXX-XX-XX"
                  },
                  {
                    "type": "soc",
                    "date": "XXXX-XX-XX"
                  },
                  {
                    "type": "ftr",
                    "date": "XXXX-XX-XX"
                  }
                ],
                "evidence": []
              }
            },
            {
              "id": "XXXXXXX",
              "type": "legacyAppeal",
              "attributes": {
                "appealIds": [
                  "XXXXXXX"
                ],
                "updated": "2018-08-02T11:33:45-04:00",
                "incompleteHistory": false,
                "type": "original",
                "active": true,
                "description": "XXXX",
                "aod": false,
                "location": "aoj",
                "aoj": "vba",
                "programArea": "compensation",
                "status": {
                  "type": "remand",
                  "details": {
                    "issues": [
                      {
                        "description": "XXXX",
                        "disposition": "remanded"
                      },
                      {
                        "description": "XXXX",
                        "disposition": "remanded"
                      },
                      {
                        "description": "XXXX",
                        "disposition": "remanded"
                      },
                      {
                        "description": "XXXX",
                        "disposition": "remanded"
                      },
                      {
 [...]
