---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Ssn:
      - '111223333'
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46b178ad8bb4e05c7320f42c3f5fa9fc"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "id": "7387389",
              "type": "appealSeries",
              "attributes": {
                "active": true,
                "incompleteHistory": false,
                "aoj": "vba",
                "programArea": "compensation",
                "description": null,
                "type": "original",
                "aod": false,
                "location": "aoj",
                "status": {
                  "type": "pending_form9",
                  "details": {
                    "ro": "St. Petersburg Regional Office",
                    "ssocMonths": 11,
                    "certMonths": 3
                  }
                },
                "docket": null,
                "issues": [
                  {
                    "active": true,
                    "description": null,
                    "lastAction": null,
                    "date": null
                  },
                  {
                    "active": true,
                    "description": null,
                    "lastAction": null,
                    "date": null
                  },
                  {
                    "active": true,
                    "description": null,
                    "lastAction": null,
                    "date": null
                  }
                ],
                "alerts": [
                  {
                    "type": "form9_due",
                    "details": {
                      "dueDate": "2014-09-10"
                    }
                  }
                ],
                "events": [
                  {
                    "type": "claim",
                    "date": "2013-05-30",
                    "details": {}
                  },
                  {
                    "type": "nod",
                    "date": "2013-06-05",
                    "details": {}
                  },
                  {
                    "type": "soc",
                    "date": "2014-07-12",
                    "details": {}
                  }
                ],
                "evidence": []
              }
            }
          ]
        }
  recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
