---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_review/contestable_issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
      Veteranid:
      - '872958715'
      Receiptdate:
      - '2019-12-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6bf72b7b802348bbd01a2bd9a2129c8"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"ContestableIssue","attributes":{"ratingIssueId":"826209597423","ratingIssueProfileDate":"2019-02-22","ratingIssueDiagnosticCode":null,"description":"Left
        knee","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2019-02-26"}],"decisionIssueId":null,"ratingDecisionId":null,"approxDecisionDate":"2019-02-26","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true}},{"type":"ContestableIssue","attributes":{"ratingIssueId":"826209920000","ratingIssueProfileDate":"2019-02-22","ratingIssueDiagnosticCode":null,"description":"Right
        knee","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2019-02-26"}],"decisionIssueId":null,"ratingDecisionId":null,"approxDecisionDate":"2019-02-26","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true}},{"type":"ContestableIssue","attributes":{"ratingIssueId":"8262[...]
