---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_review/higher_level_reviews/97bca3d5-3524-4e5d-81ea-92753892a59c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a39b585cba2b0253762ee3e8c1f4371"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":{"id":"97bca3d5-3524-4e5d-81ea-92753892a59c","type":"HigherLevelReview","attributes":{"status":"hlr_closed","aoj":null,"description":null,"benefitType":"compensation","receiptDate":"2019-11-01","informalConference":false,"sameOffice":false,"legacyOptInApproved":true,"alerts":[],"events":[{"type":"hlr_request","date":"2019-11-01"}],"programArea":"compensation"},"relationships":{"veteran":{"data":{"id":"108","type":"Veteran"}},"claimant":{"data":{"id":"279","type":"Claimant"}},"decisionIssues":{"data":[]},"requestIssues":{"data":[]}}},"included":[{"id":"279","type":"Claimant","attributes":{"firstName":"Tom","middleName":"Edward","lastName":"Brady","payeeCode":null,"relationshipType":"Spouse"}},{"id":"108","type":"Veteran","attributes":{"firstName":"Anne","middleName":"E","lastName":"King","nameSuffix":null,"fileNumber":"872958715","ssn":"998907699","participantId":"826209"}}]}'
  recorded_at: Mon, 20 Jan 2020 15:30:40 GMT
recorded_with: VCR 5.0.0
