---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_review/intake_statuses/97bca3d5-3524-4e5d-81ea-92753892a59c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5880e359ef760deb85263ab3bf61095a"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","id":"97bca3d5-3524-4e5d-81ea-92753892a59c","attributes":{"status":"not_yet_submitted"}}}'
  recorded_at: Mon, 20 Jan 2020 15:02:00 GMT
recorded_with: VCR 5.0.0
