openapi: "3.0.0"
info:
  version: 1.0.0
  title: VA Mobile API
  license:
    name: MIT
servers:
  - url: http://api.va.gov/mobile
paths:
  /:
    get:
      summary: /
      description: Currently returns a welcome message. In the future given an app version it will return a map of services.
      operationId: discovery
      responses:
        '200':
          description: The welcome message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
  /v0/military-service-history:
    get:
      summary: /v0/military-service-history
      description: Returns user's service history
      operationId: getServiceHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MilitaryHistory"

components:
  schemas:
    Message:
      required:
        - attributes
      properties:
        attributes:
          type: object
          required:
            - message
          properties:
            message:
              type: string
              example: "Welcome to the mobile API"
    MilitaryHistory:
      required:
        - data
      properties:
        data:
          required:
            - type
            - id
            - attributes
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: "serviceHistory"
              id:
                type: string
                example: "1"
              attributes:
                type: object
                $ref: "#/components/schemas/ServiceHistory"
    ServiceHistory:
      required:
        - branchOfService
        - beginDate
        - endDate
      properties:
        branchOfService:
          type: string
          example: "United States Marine Corps"
        beginDate:
          type: string
          example: "September 17, 1997"
        endDate:
          type: string
          example: "December 31, 2002"
