{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.0",
    "title": "VA Mobile API",
    "license": {
      "name": "MIT"
    },
    "description": "The Department of Veterans Affairs mobile API. All paths are relative to https://api.va.gov/mobile.\n"
  },
  "servers": [
    {
      "url": "https://api.va.gov/mobile"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Returns a welcome message.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointDiscovery"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "/"
      },
      "post": {
        "description": "Returns urls for app use based on app build number, environment, and OS",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoveryRequest"
              }
            }
          },
          "description": "App build and environment info",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "summary": "/"
      }
    },
    "/v0/appeal/{id}": {
      "get": {
        "description": "Returns info on all user's claims and appeals for the mobile overview page. Should be identical to the following docs https://developer.va.gov/explore/api/appeals-status/docs?version=current",
        "parameters": [
          {
            "description": "Appeal Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Docket 1": {
                    "value": {
                      "data": {
                        "type": "appeal",
                        "id": "3294289",
                        "attributes": {
                          "appealIds": [
                            "3294289"
                          ],
                          "active": true,
                          "alerts": [
                            {
                              "type": "form9_needed",
                              "details": "object"
                            }
                          ],
                          "aod": null,
                          "aoj": "vba",
                          "description": "1 insurance issue",
                          "docket": {
                            "month": "2015-10-01",
                            "docketMonth": "2014-11-01",
                            "front": false,
                            "total": 212814,
                            "ahead": 81703,
                            "ready": 17071,
                            "eta": {
                              "directReview": "2020-02-01",
                              "evidenceSubmission": "2024-04-01",
                              "hearingRequest": "2024-04-01"
                            }
                          },
                          "events": [
                            {
                              "type": "sc_request",
                              "date": "2023-02-02"
                            }
                          ],
                          "evidence": null,
                          "incompleteHistory": true,
                          "issues": [
                            {
                              "active": true,
                              "lastAction": null,
                              "description": "Bronicial asthma",
                              "diagnosticCode": "6602"
                            }
                          ],
                          "location": "aoj",
                          "programArea": "insurance",
                          "status": {
                            "details": "object",
                            "type": "pending_certification_ssoc"
                          },
                          "type": "legacyAppeal",
                          "updated": "2018-01-19T10:20:42-05:00"
                        }
                      }
                    }
                  },
                  "Docket 2": {
                    "value": {
                      "data": {
                        "type": "appeal",
                        "id": "3294289",
                        "attributes": {
                          "appealIds": [
                            "3294289"
                          ],
                          "active": true,
                          "alerts": [
                            {
                              "type": "form9_needed",
                              "details": "object"
                            }
                          ],
                          "aod": null,
                          "aoj": "vba",
                          "description": "1 insurance issue",
                          "docket": {
                            "type": "evidenceSubmission",
                            "month": "2019-04-01",
                            "switchDueDate": "2020-03-20",
                            "eligibleToSwitch": true
                          },
                          "events": [
                            {
                              "type": "sc_request",
                              "date": "2023-02-02"
                            }
                          ],
                          "evidence": null,
                          "incompleteHistory": true,
                          "issues": [
                            {
                              "active": true,
                              "lastAction": null,
                              "description": "Bronicial asthma",
                              "diagnosticCode": "6602"
                            }
                          ],
                          "location": "aoj",
                          "programArea": "insurance",
                          "status": {
                            "details": "object",
                            "type": "pending_certification_ssoc"
                          },
                          "type": "legacyAppeal",
                          "updated": "2018-01-19T10:20:42-05:00"
                        }
                      }
                    }
                  },
                  "Empty Docket": {
                    "value": {
                      "data": {
                        "type": "appeal",
                        "id": "3294289",
                        "attributes": {
                          "appealIds": [
                            "3294289"
                          ],
                          "active": true,
                          "alerts": [
                            {
                              "type": "form9_needed",
                              "details": "object"
                            }
                          ],
                          "aod": null,
                          "aoj": "vba",
                          "description": "1 insurance issue",
                          "docket": {},
                          "events": [
                            {
                              "type": "sc_request",
                              "date": "2023-02-02"
                            }
                          ],
                          "evidence": null,
                          "incompleteHistory": true,
                          "issues": [
                            {
                              "active": true,
                              "lastAction": null,
                              "description": "Bronicial asthma",
                              "diagnosticCode": "6602"
                            }
                          ],
                          "location": "aoj",
                          "programArea": "insurance",
                          "status": {
                            "details": "object",
                            "type": "pending_certification_ssoc"
                          },
                          "type": "legacyAppeal",
                          "updated": "2018-01-19T10:20:42-05:00"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Appeal"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appeal/{id}"
      }
    },
    "/v0/appointments": {
      "get": {
        "description": "Given a date range returns a list of upcoming VA, Community Care, and Express Care appointments. If start and end date ranges are not passed in then it defaults to - 1 year and + 1 year from the beginning of today's UTC date. Requesting a page out of bounds will return an empty list.",
        "parameters": [
          {
            "description": "The start date for the range of appointments in ISO 8601 UTC format",
            "example": "2020-10-29T07:00:00Z",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date for the range of appointments in ISO 8601 UTC format",
            "example": "2021-11-29T08:00:00Z",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The page number requested. Defaults to 1.",
            "example": 1,
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Defaults to 10.",
            "example": 10,
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Whether or not to use this API's cache or fetch records from the upstream service",
            "example": true,
            "in": "query",
            "name": "useCache",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Field to sort the appointments list by. Currently only supports `startDateUtc`. Prefixing `-` reverses the sort.",
            "example": "-startDateUtc",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Field to include pending appointments or to append Travel Pay claims. Supports value `pending` or `travel_pay_claims`. Redundant with field `included[]` for backwards compatibility but `include` is the correct one to use when following conventions.",
            "example": "pending",
            "in": "query",
            "name": "include[]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Field to include pending appointments or to append Travel Pay claims. Supports value `pending` or `travel_pay_claims`. Redundant with field `included[]` for backwards compatibility but `include` is the correct one to use when following conventions.",
            "example": "pending",
            "in": "query",
            "name": "included[]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Community Care Appointment": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "68254",
                          "attributes": {
                            "appointmentType": "COMMUNITY_CARE",
                            "appointmentIen": null,
                            "cancelId": null,
                            "comment": "Please arrive 20 minutes before the start of your appointment",
                            "healthcareProvider": "John Smith",
                            "healthcareService": null,
                            "location": {
                              "name": "Kaiser Shoreline Treatment Center",
                              "address": {
                                "street": "191 Argonne Ave, Ste 3",
                                "city": "Long Beach",
                                "state": "CA",
                                "zipCode": "90803"
                              },
                              "lat": 33.7700504,
                              "long": -118.1937395,
                              "phone": {
                                "areaCode": "562",
                                "number": "434-6008",
                                "extension": null
                              },
                              "url": null,
                              "code": null
                            },
                            "physicalLocation": null,
                            "minutesDuration": 60,
                            "phoneOnly": false,
                            "startDateLocal": "2019-04-20T14:15:00.000-04:00",
                            "startDateUtc": "2019-04-20T18:15:00.000Z",
                            "status": "CANCELLED",
                            "statusDetail": null,
                            "timeZone": "America/Los_Angeles",
                            "vetextId": null,
                            "reason": "Follow-up/Routine: Reason 1",
                            "is_covid_vaccine": false,
                            "is_pending": false,
                            "proposed_times": null,
                            "type_of_care": null,
                            "patient_phone_number": null,
                            "patient_email": null,
                            "best_time_to_call": null,
                            "friendly_location_name": null,
                            "travelPayClaim": {
                              "metadata": {
                                "status": 200,
                                "success": true,
                                "message": "Data retrieved successfully"
                              },
                              "claim": {
                                "id": "16cbc3d0-56de-4d86-abf3-ed0f6908ee53",
                                "claimNumber": "TC0000000001",
                                "claimStatus": "In process",
                                "appointmentDateTime": "2023-02-23T22:22:52.549Z",
                                "facilityId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "facilityName": "Tomah VA Medical Center",
                                "totalCostRequested": 4.52,
                                "reimbursementAmount": 4.52,
                                "createdOn": "2023-02-24T22:22:52.549Z",
                                "modifiedOn": "2023-02-26T22:22:52.549Z"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  },
                  "VA Appointment": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "167525",
                          "attributes": {
                            "appointmentType": "va",
                            "appointmentIen": "17586",
                            "cancelId": "MzA4OzIwMjAxMTAzLjA5MDAwMDs0NDI7Q0hZIFBDIEtJTFBBVFJJQ0s=",
                            "comment": "Please arrive 20 minutes before the start of your appointment",
                            "healthcareProvider": null,
                            "healthcareService": null,
                            "location": {
                              "name": "VA Long Beach Healthcare System",
                              "address": {
                                "street": "5901 East 7th Street, Building 166",
                                "city": "Long Beach",
                                "state": "CA",
                                "zipCode": "90822"
                              },
                              "lat": 33.7700504,
                              "long": -118.1937395,
                              "phone": {
                                "areaCode": "562",
                                "number": "826-8000",
                                "extension": "5696"
                              },
                              "url": null,
                              "code": null
                            },
                            "physicalLocation": "Blind Rehabilitation Center",
                            "minutesDuration": 60,
                            "phoneOnly": false,
                            "startDateLocal": "2019-04-20T14:15:00.000-04:00",
                            "startDateUtc": "2019-04-20T18:15:00.000Z",
                            "status": "CANCELLED",
                            "statusDetail": "CANCELLED BY PATIENT",
                            "timeZone": "America/Los_Angeles",
                            "vetextId": "308;20210106.140000",
                            "reason": "Follow-up/Routine: Reason 1",
                            "is_covid_vaccine": false,
                            "is_pending": false,
                            "proposed_times": null,
                            "type_of_care": null,
                            "patient_phone_number": null,
                            "patient_email": null,
                            "best_time_to_call": null,
                            "friendly_location_name": null,
                            "travelPayClaim": {
                              "metadata": {
                                "status": 200,
                                "success": true,
                                "message": "Data retrieved successfully"
                              },
                              "claim": {
                                "id": "16cbc3d0-56de-4d86-abf3-ed0f6908ee53",
                                "claimNumber": "TC0000000001",
                                "claimStatus": "In process",
                                "appointmentDateTime": "2023-02-23T22:22:52.549Z",
                                "facilityId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "facilityName": "Tomah VA Medical Center",
                                "totalCostRequested": 4.52,
                                "reimbursementAmount": 4.52,
                                "createdOn": "2023-02-24T22:22:52.549Z",
                                "modifiedOn": "2023-02-26T22:22:52.549Z"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  },
                  "VA Video Connect ATLAS Appointment": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "167525",
                          "attributes": {
                            "appointmentType": "VA_VIDEO_CONNECT_ATLAS",
                            "appointmentIen": null,
                            "cancelId": "MzA4OzIwMjAxMTAzLjA5MDAwMDs0NDI7Q0hZIFBDIEtJTFBBVFJJQ0s=",
                            "comment": "Please log on 5 minutes before the start of your appointment",
                            "healthcareProvider": null,
                            "healthcareService": null,
                            "location": {
                              "name": "VA Long Beach Healthcare System",
                              "address": {
                                "street": "5901 East 7th Street, Building 165",
                                "city": "Long Beach",
                                "state": "CA",
                                "zipCode": "90822"
                              },
                              "lat": null,
                              "long": null,
                              "phone": {
                                "areaCode": "562",
                                "number": "826-8000",
                                "extension": null
                              },
                              "url": null,
                              "code": "GL45678"
                            },
                            "physicalLocation": null,
                            "minutesDuration": 60,
                            "phoneOnly": false,
                            "startDateLocal": "2019-04-20T14:15:00.000-04:00",
                            "startDateUtc": "2019-04-20T18:15:00.000Z",
                            "status": "BOOKED",
                            "statusDetail": null,
                            "timeZone": "America/Los_Angeles",
                            "vetextId": "308;20210106.140000",
                            "reason": "Follow-up/Routine: Reason 1",
                            "is_covid_vaccine": false,
                            "is_pending": false,
                            "proposed_times": null,
                            "type_of_care": null,
                            "patient_phone_number": null,
                            "patient_email": null,
                            "best_time_to_call": null,
                            "friendly_location_name": null,
                            "travelPayClaim": {
                              "metadata": {
                                "status": 200,
                                "success": true,
                                "message": "Data retrieved successfully"
                              },
                              "claim": {
                                "id": "16cbc3d0-56de-4d86-abf3-ed0f6908ee53",
                                "claimNumber": "TC0000000001",
                                "claimStatus": "In process",
                                "appointmentDateTime": "2023-02-23T22:22:52.549Z",
                                "facilityId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "facilityName": "Tomah VA Medical Center",
                                "totalCostRequested": 4.52,
                                "reimbursementAmount": 4.52,
                                "createdOn": "2023-02-24T22:22:52.549Z",
                                "modifiedOn": "2023-02-26T22:22:52.549Z"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  },
                  "VA Video Connect Appointment": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "167525",
                          "attributes": {
                            "appointmentType": "VA_VIDEO_CONNECT_HOME",
                            "appointmentIen": "123456",
                            "cancelId": "MzA4OzIwMjAxMTAzLjA5MDAwMDs0NDI7Q0hZIFBDIEtJTFBBVFJJQ0s=",
                            "comment": "Please log on 5 minutes before the start of your appointment",
                            "healthcareProvider": null,
                            "healthcareService": null,
                            "location": {
                              "name": null,
                              "address": null,
                              "lat": null,
                              "long": null,
                              "phone": null,
                              "url": "https://care2.evn.va.gov/vvc-app/?join=1&media=1&escalate=1&conference=VVC8275247@care2.evn.va.gov&pin=3242949390#",
                              "code": null
                            },
                            "physicalLocation": null,
                            "minutesDuration": 60,
                            "phoneOnly": false,
                            "startDateLocal": "2019-04-20T14:15:00.000-04:00",
                            "startDateUtc": "2019-04-20T18:15:00.000Z",
                            "status": "CANCELLED",
                            "statusDetail": "CANCELLED BY PATIENT",
                            "timeZone": "America/Los_Angeles",
                            "vetextId": "308;20210106.140000",
                            "reason": "Follow-up/Routine: Reason 1",
                            "is_covid_vaccine": false,
                            "is_pending": false,
                            "proposed_times": null,
                            "type_of_care": null,
                            "patient_phone_number": null,
                            "patient_email": null,
                            "best_time_to_call": null,
                            "friendly_location_name": null,
                            "travelPayClaim": {
                              "metadata": {
                                "status": 200,
                                "success": true,
                                "message": "Data retrieved successfully"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  },
                  "Community Care Appointment Request": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "68254",
                          "attributes": {
                            "appointmentType": "VA",
                            "appointmentIen": "12384",
                            "cancelId": null,
                            "comment": null,
                            "healthcareProvider": null,
                            "healthcareService": null,
                            "location": {
                              "id": "442",
                              "name": "Cheyenne VA Medical Center",
                              "address": {
                                "street": "2360 East Pershing Boulevard",
                                "city": "Cheyenne",
                                "state": "WY",
                                "zipCode": "82001-5356"
                              },
                              "lat": 41.148027,
                              "long": -104.7862575,
                              "phone": {
                                "areaCode": "307",
                                "number": "778-7550",
                                "extension": null
                              },
                              "url": null,
                              "code": null
                            },
                            "physicalLocation": null,
                            "minutesDuration": null,
                            "phoneOnly": false,
                            "startDateLocal": "2020-11-02T01:00:00.000-07:00",
                            "startDateUtc": "2020-11-02T08:00:00.000Z",
                            "status": "SUBMITTED",
                            "statusDetail": null,
                            "timeZone": "America/Denver",
                            "vetextId": null,
                            "reason": "New Issue",
                            "is_covid_vaccine": null,
                            "is_pending": true,
                            "proposed_times": [
                              {
                                "date": "10/01/2020",
                                "time": "PM"
                              },
                              {
                                "date": "11/03/2020",
                                "time": "AM"
                              },
                              {
                                "date": "11/02/2020",
                                "time": "AM"
                              }
                            ],
                            "type_of_care": "Primary Care",
                            "patient_phone_number": "(666) 666-6666",
                            "patient_email": "Vilasini.reddy@va.gov",
                            "best_time_to_call": [
                              "Morning"
                            ],
                            "friendly_location_name": "DAYTSHR -Dayton VA Medical Center"
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  },
                  "VA Appointment Request": {
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "167525",
                          "attributes": {
                            "appointmentType": "COMMUNITY_CARE",
                            "appointmentIen": null,
                            "cancelId": null,
                            "comment": null,
                            "healthcareProvider": "Vilasini Reddy",
                            "healthcareService": null,
                            "location": {
                              "id": null,
                              "name": "Test clinic 2",
                              "address": {
                                "street": "123 Sesame St.",
                                "city": "Cheyenne",
                                "state": "VA",
                                "zipCode": "20171"
                              },
                              "lat": null,
                              "long": null,
                              "phone": {
                                "areaCode": "703",
                                "number": "652-0000",
                                "extension": null
                              },
                              "url": null,
                              "code": null
                            },
                            "physicalLocation": null,
                            "minutesDuration": null,
                            "phoneOnly": false,
                            "startDateLocal": "2020-10-01T06:00:00.000-06:00",
                            "startDateUtc": "2020-10-01T12:00:00.000Z",
                            "status": "CANCELLED",
                            "statusDetail": "CANCELLED BY CLINIC",
                            "timeZone": "America/Denver",
                            "vetextId": null,
                            "reason": "routine-follow-up",
                            "is_covid_vaccine": null,
                            "is_pending": true,
                            "proposed_times": [
                              {
                                "date": "10/02/2020",
                                "time": "PM"
                              },
                              {
                                "date": "10/01/2020",
                                "time": "PM"
                              },
                              {
                                "date": "nil",
                                "time": "nil"
                              }
                            ],
                            "type_of_care": "Optometry (routine eye exam)",
                            "patient_phone_number": "(703) 652-0000",
                            "patient_email": "samatha.girla@va.gov",
                            "best_time_to_call": [
                              "Afternoon",
                              "Evening",
                              "Morning"
                            ],
                            "friendly_location_name": "CHYSHR-Cheyenne VA Medical Center"
                          }
                        }
                      ],
                      "meta": {
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Appointments"
                }
              }
            },
            "description": "OK"
          },
          "207": {
            "content": {
              "application/json": {
                "examples": {
                  "Partial Appointments": {
                    "description": "For cases when 1 or more errors are returned from upstream, an error message with source `VA Service` is added within the meta",
                    "value": {
                      "data": [
                        {
                          "type": "appointment",
                          "id": "167525",
                          "attributes": {
                            "appointmentType": "va",
                            "appointmentIen": "17937",
                            "cancelId": "MzA4OzIwMjAxMTAzLjA5MDAwMDs0NDI7Q0hZIFBDIEtJTFBBVFJJQ0s=",
                            "comment": "Please arrive 20 minutes before the start of your appointment",
                            "healthcareProvider": null,
                            "healthcareService": null,
                            "location": {
                              "name": "VA Long Beach Healthcare System",
                              "address": {
                                "street": "5901 East 7th Street, Building 166",
                                "city": "Long Beach",
                                "state": "CA",
                                "zipCode": "90822"
                              },
                              "lat": 33.7700504,
                              "long": -118.1937395,
                              "phone": {
                                "areaCode": "562",
                                "number": "826-8000",
                                "extension": "5696"
                              },
                              "url": null,
                              "code": null
                            },
                            "physicalLocation": "Blind Rehabilitation Center",
                            "minutesDuration": 60,
                            "phoneOnly": false,
                            "startDateLocal": "2019-04-20T14:15:00.000-04:00",
                            "startDateUtc": "2019-04-20T18:15:00.000Z",
                            "status": "CANCELLED",
                            "statusDetail": "CANCELLED BY PATIENT",
                            "timeZone": "America/Los_Angeles",
                            "vetextId": "308;20210106.140000",
                            "reason": "Follow-up/Routine: Reason 1",
                            "is_covid_vaccine": false,
                            "is_pending": false,
                            "proposed_times": null,
                            "type_of_care": null,
                            "patient_phone_number": null,
                            "patient_email": null,
                            "best_time_to_call": null,
                            "friendly_location_name": null,
                            "travelPayClaim": {
                              "metadata": {
                                "status": 500,
                                "success": false,
                                "message": "Something went wrong"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "errors": [
                          {
                            "source": "VA Service"
                          }
                        ],
                        "upcomingAppointmentsCount": 1,
                        "upcomingDaysLimit": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Appointments"
                }
              }
            },
            "description": "Multi Status"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "Missing Facilities": {
                    "value": {
                      "errors": [
                        {
                          "title": "Forbidden",
                          "detail": "No facility associated with user",
                          "code": "403",
                          "status": "403"
                        }
                      ]
                    }
                  },
                  "No VAOS Access": {
                    "value": {
                      "errors": [
                        {
                          "title": "Forbidden",
                          "detail": "You do not have access to online scheduling",
                          "code": "403",
                          "status": "403"
                        }
                      ]
                    }
                  },
                  "No ICN": {
                    "value": {
                      "errors": [
                        {
                          "title": "Forbidden",
                          "detail": "No patient ICN found",
                          "code": "403",
                          "status": "403"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "418": {
            "$ref": "#/components/responses/418"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments"
      }
    },
    "/v0/appointments/cancel/{cancelId}": {
      "put": {
        "description": "Cancel an appointment by cancelId. Note only VA appointments can be cancelled online and some VA facilities do not support online cancellation. Only appointments that can be cancelled will have a cancelId.",
        "parameters": [
          {
            "description": "The cancel ID hash from an appointment returned in the GET appointments endpoint.",
            "in": "path",
            "name": "cancelId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/cancel/{cancelId}"
      }
    },
    "/v0/appointments/check-in": {
      "post": {
        "description": "Check into an appointment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "appointmentIEN": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckin"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinErrors400"
                }
              }
            },
            "description": "Bad request."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinErrors500"
                }
              }
            },
            "description": "An internal API error occurred."
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/check-in"
      }
    },
    "/v0/appointments/check-in/demographics": {
      "get": {
        "description": "Retrieves demographics confirmation information which includes a field indicating if insurance verification is needed, patient contact information, emergency contact information and next-of-kin contact information.",
        "parameters": [
          {
            "description": "Unique location identifier",
            "in": "query",
            "name": "location_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinDemographics"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinErrors500"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/check-in/demographics"
      },
      "patch": {
        "description": "Edit demographics confirmations.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "location_id": {
                    "type": "string"
                  },
                  "demographicConfirmations": {
                    "type": "object",
                    "required": [
                      "contactNeedsUpdate",
                      "emergencyContactNeedsUpdate",
                      "nextOfKinNeedsUpdate"
                    ],
                    "properties": {
                      "contactNeedsUpdate": {
                        "type": "boolean",
                        "example": false
                      },
                      "emergencyContactNeedsUpdate": {
                        "type": "boolean",
                        "example": false
                      },
                      "nextOfKinNeedsUpdate": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinDemographicsPatch"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentCheckinErrors500"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/check-in/demographics"
      }
    },
    "/v0/appointments/community_care/eligibility/{service_type}": {
      "get": {
        "description": "Checks if user is eligible to make an appointment with Community Care for a type of service. Checks if user is registered at a site that is marked as accepting community care requests and community care eligibility api says that they're eligible for the type of care they chose",
        "parameters": [
          {
            "description": "Type of service to check eligibility for. Can only be one of following options primaryCare, nutrition, podiatry, optometry, audiology.",
            "in": "path",
            "name": "service_type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCaresEligibility"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/community_care/eligibility/{service_type}"
      }
    },
    "/v0/appointments/facility/eligibility": {
      "get": {
        "description": "Checks if a list of facilities if they are eligible to create a appointment request to provide the given type of service at the facility.",
        "parameters": [
          {
            "description": "Type of service to check eligibility for.",
            "in": "path",
            "name": "serviceType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "amputation",
                "audiology",
                "covid",
                "optometry",
                "outpatientMentalHealth",
                "moveProgram",
                "foodAndNutrition",
                "clinicalPharmacyPrimaryCare",
                "primaryCare",
                "homeSleepTesting",
                "socialWork",
                "cpap",
                "ophthalmology"
              ]
            }
          },
          {
            "description": "List of facility ids",
            "in": "path",
            "name": "FacilityIds[]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "type of appointment. Can either be 'request' or 'direct' but only request will be used until direct scheduling functionality is built out",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page number requested. Defaults to 1.",
            "example": 2,
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Defaults to 3.",
            "example": 10,
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityEligibilities"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/facility/eligibility"
      }
    },
    "/v0/appointments/facilities/{facility_id}/clinics": {
      "get": {
        "description": "Returns all available clinics at a facility for a given type of service.",
        "parameters": [
          {
            "description": "Facility ID",
            "in": "path",
            "name": "facility_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "436GC"
            }
          },
          {
            "description": "Service Type",
            "in": "query",
            "name": "service_type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "amputation",
                "audiology",
                "covid",
                "optometry",
                "outpatientMentalHealth",
                "moveProgram",
                "foodAndNutrition",
                "clinicalPharmacyPrimaryCare",
                "primaryCare",
                "homeSleepTesting",
                "socialWork",
                "cpap",
                "ophthalmology"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityClinics"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/facilities/{facility_id}/clinics"
      }
    },
    "/v0/appointments/facilities/{facility_id}/clinics/{clinic_id}/slots": {
      "get": {
        "description": "Accepts date range for a clinic at a va facility and returns available slots for a a direct schedule appointment.",
        "parameters": [
          {
            "description": "The start date for the range of appointments slots in ISO 8601 UTC format. If not provided the start date will be considered now.",
            "example": "2020-10-29T07:00:00Z",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date for the range of appointments slots in ISO 8601 UTC format. If not provided the end date will be 2 months from today's date",
            "example": "2021-11-29T08:00:00Z",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicSlots"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/facilities/{facility_id}/clinics/{clinic_id}/slots"
      }
    },
    "/v0/appointments/facilities/{facility_id}/slots": {
      "get": {
        "description": "Accepts date range for a va facility and returns available slots for a a direct schedule appointment.",
        "parameters": [
          {
            "description": "The start date for the range of appointments slots in ISO 8601 UTC format. If not provided the start date will be considered now.",
            "example": "2020-10-29T07:00:00Z",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date for the range of appointments slots in ISO 8601 UTC format. If not provided the end date will be 2 months from today's date",
            "example": "2021-11-29T08:00:00Z",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The facility division ID",
            "in": "path",
            "required": true,
            "name": "location_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The clinic IEN. Required if clinical_service not provided.",
            "in": "query",
            "required": false,
            "name": "clinic_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The clinical service (type of care) to find appointment slots for. Required if clinic_id not provided.",
            "in": "query",
            "required": false,
            "name": "clinical_service",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicSlots"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/facilities/{facility_id}/clinics/{clinic_id}/slots"
      }
    },
    "/v0/appointments/va/eligibility": {
      "get": {
        "description": "Lists types of service. For each type of service, lists users registered facilities that support request and direct appointments.",
        "parameters": [
          {
            "description": "Array of facilities to be checked for service eligibility",
            "in": "query",
            "name": "FacilityIds[]",
            "required": true,
            "schema": {
              "type": "array"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceEligibilities"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointments/va/eligibility"
      }
    },
    "/v0/appointment": {
      "post": {
        "description": "Creates a new appointment or appointment request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateAppointmentCC"
                  },
                  {
                    "$ref": "#/components/schemas/CreateAppointmentRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateAppointmentDirect"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Upstream identifier. Appointment id."
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/NewAppointment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/appointment"
      }
    },
    "/v0/awards": {
      "get": {
        "description": "Get current awards overview",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Awards"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/awards"
      }
    },
    "/v0/claim/{id}": {
      "get": {
        "description": "Returns info on all user's claims and appeals for mobile overview page",
        "parameters": [
          {
            "description": "Claim Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Claim"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claim/{id}"
      }
    },
    "/v0/claim/{id}/documents": {
      "post": {
        "description": "Post tracked item document for upload, returns jobId for upload process",
        "parameters": [
          {
            "description": "Claim Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "file": {
                  "contentType": "image/png, image/jpeg, image/gif, image/jpg, image/bmp, text/plain, application/pdf"
                }
              },
              "schema": {
                "properties": {
                  "documentType": {
                    "type": "string"
                  },
                  "file": {
                    "format": "binary",
                    "type": "string"
                  },
                  "password": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "trackedItemId": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDocUpload"
                }
              }
            },
            "description": "Accepted"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claim/{id}/documents"
      }
    },
    "/v0/claim/{id}/documents/multi-image": {
      "post": {
        "description": "Post multiple images to be combined into one pdf for upload, returns jobId for upload process",
        "parameters": [
          {
            "description": "Claim Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimUploadRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDocUpload"
                }
              }
            },
            "description": "Accepted"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claim/{id}/documents/multi-image"
      }
    },
    "/v0/claim/{id}/request-decision": {
      "post": {
        "description": "Request decision on a given claim, returns job id",
        "parameters": [
          {
            "description": "Claim Id",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDocUpload"
                }
              }
            },
            "description": "Accepted"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claim/{id}/request-decision"
      }
    },
    "/v0/claims/decision-letters": {
      "get": {
        "description": "Returns the list of claim decision letters for given user",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionLetters"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claims/decision-letters"
      }
    },
    "/v0/claims/decision-letters/{document_id}/download": {
      "get": {
        "description": "Downloads a decision letter",
        "parameters": [
          {
            "description": "id of the document being downloaded",
            "in": "path",
            "name": "document_id",
            "required": true
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claims/decision-letters/{document_id}/download"
      }
    },
    "/v0/claims/pre-need-burial": {
      "post": {
        "description": "Submits a new Preneeds Burial application.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePreneedBurial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePreneedBurialResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claims/pre-need-burial"
      }
    },
    "/v0/claims/pre-need-burial/cemeteries": {
      "get": {
        "description": "Returns info on all cemeteries for preneed burial",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreneedBurial"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claims/pre-need-burial/cemeteries"
      }
    },
    "/v0/claims-and-appeals-overview": {
      "get": {
        "description": "Returns info on all user's claims and appeals for mobile overview page",
        "parameters": [
          {
            "description": "The start date for the range of appointments in ISO 8601 UTC format. If not provided the start date will be considered Jan. 1st 1700.",
            "example": "2020-10-29T07:00:00Z",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date for the range of appointments in ISO 8601 UTC format. If not provided the end date will be 1 year from today's date",
            "example": "2021-11-29T08:00:00Z",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The page number requested. Defaults to 1.",
            "example": 2,
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Defaults to 10.",
            "example": 10,
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "true will return only completed records, false will show only open records, not including the parameter will return all records regardless of completed status",
            "example": true,
            "in": "query",
            "name": "showCompleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether or not to use this API's cache or fetch records from the upstream service",
            "example": true,
            "in": "query",
            "name": "useCache",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Appeal": {
                    "value": {
                      "data": [
                        {
                          "type": "appeal",
                          "id": "1196201",
                          "attributes": {
                            "subtype": "legacyAppeal",
                            "completed": true,
                            "dateFiled": "2003-01-06",
                            "updatedAt": "2003-09-30",
                            "displayTitle": "disability compensation appeal",
                            "decisionLetterSent": false,
                            "phase": null,
                            "documentsNeeded": null,
                            "developmentLetterSent": null,
                            "claimTypeCode": null
                          }
                        }
                      ],
                      "meta": {
                        "errors": [],
                        "pagination": {
                          "currentPage": 1,
                          "perPage": 60,
                          "totalPages": 1,
                          "totalEntries": 11
                        },
                        "activeClaimsCount": 7
                      }
                    }
                  },
                  "Claim": {
                    "value": {
                      "data": [
                        {
                          "type": "claim",
                          "id": "600117255",
                          "attributes": {
                            "subtype": "Compensation",
                            "completed": false,
                            "dateFiled": "2020-01-01",
                            "updatedAt": "2020-01-01",
                            "displayTitle": "Compensation",
                            "decisionLetterSent": false,
                            "phase": 1,
                            "documentsNeeded": true,
                            "developmentLetterSent": false,
                            "claimTypeCode": "020NEW"
                          }
                        }
                      ],
                      "meta": {
                        "errors": [],
                        "pagination": {
                          "currentPage": 1,
                          "perPage": 60,
                          "totalPages": 1,
                          "totalEntries": 11
                        },
                        "activeClaimsCount": 7
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ClaimsAndAppealsOverview"
                }
              }
            },
            "description": "OK"
          },
          "207": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ClaimsAndAppealsOverviewClaimsError"
                    },
                    {
                      "$ref": "#/components/schemas/ClaimsAndAppealsOverviewAppealsError"
                    }
                  ]
                }
              }
            },
            "description": "One of the two upstream services failed"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsAndAppealsOverview502"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/claims-and-appeals-overview"
      }
    },
    "/v0/community-care-providers": {
      "get": {
        "description": "Returns a list of community care providers who provide the requested medical specialty within a certain radius of the user (default) or facility (if facility id is provided in query params).",
        "parameters": [
          {
            "description": "The medical specialty the user is searching for formatted in camel case. Must be one of primaryCare, foodAndNutrition, podiatry, optometry, audiologyRoutineExam, audiologyHearingAidSupport.",
            "example": "primaryCare",
            "in": "query",
            "name": "serviceType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional facility id. When provided, we search for CC providers near the facility. When omitted, we search for CC providers near the user's home address.",
            "example": "978",
            "in": "query",
            "name": "facilityId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page number requested. Defaults to 1.",
            "example": 1,
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return per page. Defaults to 10.",
            "example": 10,
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCareProviders"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "103",
                      "detail": "\"whatever you entered\" is not a valid value for \"serviceType\"",
                      "status": "400",
                      "title": "Invalid field value"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/community-care-providers"
      }
    },
    "/v0/debts": {
      "get": {
        "description": "Returns a list of user's debts.",
        "parameters": [
          {
            "description": "When true, returns the count of the list of the user's debts only. When false (default), returns the full list of the user's debts.",
            "example": true,
            "in": "query",
            "name": "countOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Debts"
                    },
                    {
                      "$ref": "#/components/schemas/DebtsCount"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/debts"
      }
    },
    "/v0/debts/{id}": {
      "get": {
        "description": "Returns a users debt by id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debt"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/debts/{id}"
      }
    },
    "/v0/dependents": {
      "get": {
        "description": "Returns a list of user's dependents. Dependent SSN is also available but is removed to limit PII exposure.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InflectionHeader"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dependents"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "/v0/dependents"
      },
      "post": {
[...]
