openapi: "3.0.0"
info:
  version: 0.0.0
  title: VA Mobile API
  license:
    name: MIT
servers:
  - url: http://api.va.gov/mobile
paths:
  /:
    get:
      summary: /
      description: Returns a welcome message.
      operationId: welcome
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
  /discovery:
    get:
      summary: /discovery
      description: \[Not implemented\] Returns the available services and endpoints to use for the version of the app
      operationId: discovery
      parameters:
        - in: query
          name: version
          schema:
            type: string
            example: "1.0.0"
          required: true
          description: The version of the app calling the endpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      required:
                        - id
                        - type
                        - attributes
                      properties:
                        id:
                          type: string
                          example: "abe3f152-90b0-45cb-8776-4958bad0e0ef"
                        type:
                          type: string
                          example: service
                        attributes:
                          type: object
                          required:
                            - name
                            - endpoints
                          properties:
                            name:
                              type: string
                              example: "directDepositBenefits"
                            endpoints:
                              type: object
                              required:
                                - method
                                - path
                              properties:
                                method:
                                  type: string
                                  enum: ["GET", "POST", "PUT", "DELETE"]
                                path:
                                  type: string
                              example:
                                read:
                                  method: "GET"
                                  path: "/v0/direct-deposit/benefits"
                                update:
                                  method: "PUT"
                                  path: "/v0/direct-deposit/benefits"

  /v0/user:
    get:
      summary: /v0/user
      description: \[Partially implemented\] Returns the user profile
      operationId: user.getProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/User"

  /v0/user/address:
    put:
      summary: /v0/user/address
      description: \[Not implemented\] Returns the user profile
      operationId: user.updateAddress
      security:
        - bearerAuth: []
      requestBody:
        description: A domestic, internation, or military address
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdate'
            example:
              validation_key: 0,
              address_line1: "1493 Martin Luther King Rd"
              address_line2: "string"
              address_line3: "string"
              address_pou: "RESIDENCE/CHOICE"
              address_type: "DOMESTIC"
              city: "Fulton"
              country_name: "United States"
              state_code: "MS"
              zip_code: "38843"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/User"

components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    Message:
      required:
        - message
      properties:
        message:
          type: string
          example: "Welcome to the VA mobile API"
    User:
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          example: "abe3f152-90b0-45cb-8776-4958bad0e0ef"
        type:
          type: string
          example: user
        attributes:
          type: object
          required:
            - profile
            - authorizedServices
          properties:
            profile:
              type: object
              required:
                - firstName
                - middleName
                - lastName
                - email
                - birthDate
                - gender
                - addresses
              properties:
                firstName:
                  type: string
                  example: "John"
                middleName:
                  type: string
                  example: "A"
                lastName:
                  type: string
                  example: "Smith"
                email:
                  type: string
                  example: "john.a.smith@domain.com"
                residential_address:
                  $ref: "#/components/schemas/Address"
                mailing_address:
                  $ref: "#/components/schemas/Address"
            authorizedServices:
              type: array
              items:
                type: string
              example:
                - appeals
                - directDepositBenefits
                - militaryServiceHistory
    Address:
      required:
        - addressLine1
        - addressLine2
        - addressLine3
        - addressPou
        - addressType
        - city
        - countryCode
        - internationalPostalCode
        - province
        - stateCode
        - zipCode
        - zipCodeSuffix
      properties:
        addressLine1:
          type: string
          example: "1493 Martin Luther King Rd"
        addressLine2:
          type: string, null
        addressLine3:
          type: string, null
        addressPou:
          type: string
          enum: [ "RESIDENCE/CHOICE", "CORRESPONDENCE" ]
          example: "RESIDENCE/CHOICE"
        addressType:
          type: string
          enum: ["DOMESTIC", "INTERNATIONAL"]
          example: "DOMESTIC"
        city:
          type: string
          example: "Fulton"
        countryCode:
          type: string
          example: "US"
        internationalPostalCode:
          type: string, null
          example: null
        province:
          type: string, null
          example: null
        stateCode:
          type: string
          example: "NY"
        zipCode:
          type: string
          example: "97062"
        zipCodeSuffix:
          type: string, null
          example: "1234"

    AddressUpdate:
      required:
        - validation_key
        - addressLine1
        - addressPou
        - addressType
        - city
        - countryCode
      properties:
        validation_key:
          type: integer
          example: 0
        addressLine1:
          type: string
          example: "1493 Martin Luther King Rd"
        addressLine2:
          type: string, null
        addressLine3:
          type: string, null
        addressPou:
          type: string
          enum: [ "RESIDENCE/CHOICE", "CORRESPONDENCE" ]
          example: "RESIDENCE/CHOICE"
        addressType:
          type: string
          enum: [ "DOMESTIC", "INTERNATIONAL" ]
          example: "DOMESTIC"
        city:
          type: string
          example: "Fulton"
        countryCode:
          type: string
          example: "US"
        internationalPostalCode:
          type: string, null
          example: null
        province:
          type: string, null
          example: null
        stateCode:
          type: string
          example: "NY"
        zipCode:
          type: string
          example: "97062"
        zipCodeSuffix:
          type: string, null
          example: "1234"


