openapi: "3.0.0"
info:
  version: 1.0.0
  title: VA Mobile API
  license:
    name: MIT
servers:
  - url: http://api.va.gov/mobile
paths:
  /:
    get:
      summary: /
      description: Currently returns a welcome message. In the future given an app version it will return a map of services.
      operationId: discovery
      responses:
        '200':
          description: The welcome message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
  /v0/militaryinfo:
    get:
      summary: /v0/militaryinfo
      description: Returns user military information
      operationId: getMilitaryInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MilitaryInfo"

components:
  schemas:
    Message:
      required:
        - attributes
      properties:
        attributes:
          type: object
          required:
            - message
          properties:
            message:
              type: string
              example: "Welcome to the mobile API"
    MilitaryInfo:
      required:
        - branchOfService
        - beginDate
        - endDate
      properties:
        branchOfService:
          type: string
          example: "United States Marine Corps"
        beginDate:
          type: string
          example: "September 17, 1997"
        endDate:
          type: string
          example: "December 31, 2002"
