openapi: "3.0.0"
info:
  version: 1.0.0
  title: VA Mobile API
  license:
    name: MIT
servers:
  - url: http://api.va.gov/mobile
paths:
  /:
    get:
      summary: /
      description: Currently returns a welcome message. In the future given an app version it will return a map of services.
      operationId: discovery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
  /v0/user:
    get:
      summary: /v0/user
      description: Returns the user profile
      operationId: get_user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
components:
  schemas:
    Message:
      required:
        - attributes
      properties:
        attributes:
          type: object
          required:
            - message
          properties:
            message:
              type: String
              example: "Welcome to the mobile API"
    User:
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          example: "abe3f152-90b0-45cb-8776-4958bad0e0ef"
        type:
          type: string
          example: user
        attributes:
          type: object
          required:
            - first_name
            - middle_name
            - last_name
            - email
          properties:
            first_name:
              type: String
              example: "John"
            middle_name:
              type: String
              example: "A"
            last_name:
              type: String
              example: "Smith"
            email:
              type: String
              example: "john.a.smith@domain.com"


