---
http_interactions:
  - request:
      method: get
      uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Ssn:
          - '120495723'
        Authorization:
          - Token token=PUBLICDEMO123
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ab470b0240e45ddd9bd220cdea147828"
      body:
        encoding: UTF-8
        string: |-
          {
            "data": [{
                "attributes": {
                  "appealIds": [],
                  "active": true,
                  "alerts": [],
                  "aod": false,
                  "aoj": "other",
                  "description": "",
                  "docket": null,
                  "events": [{
                      "date": "2008-04-24",
                      "type": "claim_decision"
                    },
                    {
                      "date": "2008-06-11",
                      "type": "ama_nod"
                    },
                    {
                      "date": "2010-09-10",
                      "type": "soc"
                    },
                    {
                      "date": "2010-11-08",
                      "type": "form9"
                    },
                    {
                      "date": "2014-01-03",
                      "type": "ssoc"
                    },
                    {
                      "date": "2014-07-28",
                      "type": "certified"
                    },
                    {
                      "date": "2015-04-17",
                      "type": "hearing_held"
                    },
                    {
                      "date": "2015-07-24",
                      "type": "bva_decision"
                    },
                    {
                      "date": "2015-10-06",
                      "type": "ssoc"
                    },
                    {
                      "date": "2016-05-03",
                      "type": "bva_decision"
                    },
                    {
                      "date": "2018-01-16",
                      "type": "ssoc"
                    }
                  ],
                  "evidence": [],
                  "incompleteHistory": false,
                  "issues": [],
                  "location": "bva",
                  "programArea": "compensation",
                  "status": {
                    "details": {},
                    "type": "remand_ssoc"
                  },
                  "type": "original",
                  "updated": "2018-01-19T10:20:42-05:00"
                },
                "id": "2348605",
                "type": "appeal"
              }
            ]
          }
    recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
