---
http_interactions:
  - request:
      method: get
      uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Ssn:
          - '120495723'
        Authorization:
          - Token token=PUBLICDEMO123
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ab470b0240e45ddd9bd220cdea147828"
      body:
        encoding: UTF-8
        string: |-
          {
            "data": [{
                "attributes": {
                  "appealIds": [],
                  "active": true,
                  "alerts": [],
                  "aod": false,
                  "aoj": "vba",
                  "description": "",
                  "docket": null,
                  "events": [{
                      "date": "2003-06-18",
                      "type": "soc"

                    },
                    {
                      "date": "2003-01-06",
                      "type": "nod"
                    },
                    {
                      "date": "2003-09-30",
                      "type": "ftr"
                    },
                    {
                      "date": "2002-09-23",
                      "type": "claim_decision"
                    }
                  ],
                  "evidence": [],
                  "incompleteHistory": false,
                  "issues": [{
                    "active": false,
                    "date": "2003-09-30",
                    "description": "Service connection, lumbosacral strain",
                    "diagnosticCode": "5295",
                    "lastAction": "withdrawn"
                  }],
                  "location": "bva",
                  "programArea": "compensation",
                  "status": {
                    "details": {},
                    "type": "ftr"
                  },
                  "type": "original",
                  "updated": "2021-01-10T10:20:42-05:00"
                },
                "id": "1196201",
                "type": "legacyAppeal"
              }
            ]
          }
    recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
