---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v0/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - fake_api_key
      X-Va-Ssn:
      - '796043735'
      X-Va-User:
      - vets.gov.user+36@gmail.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '38'
      Etag:
      - W/"aa7ef9cf7255abec57c90bf8b7f29f04"
      X-Git-Sha:
      - acc03a3a889c27d498f81d9b6931b3ab1d30fc31
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "id": "HLR101",
              "type": "higherLevelReview",
              "attributes": {
                "appealIds": [
                  "HLR101"
                ],
                "updated": "2019-08-29T19:38:48-04:00",
                "incompleteHistory": false,
                "active": true,
                "description": "Severance of service connection, hypothyroidism, and 1 other",
                "location": "aoj",
                "aoj": "vba",
                "programArea": "compensation",
                "status": {
                  "type": "hlr_decision",
                  "details": {
                    "issues": [
                      {
                        "description": "Service connection, sciatic nerve paralysis",
                        "disposition": "denied"
                      },
                      {
                        "description": "Severance of service connection, hypothyroidism",
                        "disposition": "allowed"
                      }
                    ]
                  }
                },
                "alerts": [
                  {
                    "type": "ama_post_decision",
                    "details": {
                      "decisionDate": "2019-08-05",
                      "availableOptions": [
                        "supplemental_claim",
                        "higher_level_review",
                        "board_appeal"
                      ],
                      "dueDate": "2020-08-04",
                      "cavcDueDate": "2019-12-02"
                    }
                  }
                ],
                "issues": [
                  {
                    "description": "Service connection, sciatic nerve paralysis",
                    "diagnosticCode": "8520",
                    "active": false,
                    "lastAction": "denied",
                    "date": "2019-08-05"
                  },
                  {
                    "description": "Severance of service connection, hypothyroidism",
                    "diagnosticCode": "7903",
                    "active": false,
                    "lastAction": "allowed",
                    "date": "2019-08-05"
                  }
                ],
                "events": [
                  {
                    "type": "hlr_request",
                    "date": "2019-02-19"
                  },
                  {
                    "type": "hlr_dta_error",
                    "date": "2019-06-01"
                  },
                  {
                    "type": "hlr_decision",
                    "date": "2019-08-05"
                  }
                ]
              }
            },
            {
              "id": "1196201",
              "type": "legacyAppeal",
              "attributes": {
                "appealIds": [
                  "1196201"
                ],
                "updated": "2018-05-29T19:38:40-04:00",
                "incompleteHistory": false,
                "type": "original",
                "active": true,
                "description": "Service connection, sleep apnea",
                "aod": false,
                "location": "aoj",
                "aoj": "vba",
                "programArea": "compensation",
                "status": {
                  "type": "pending_form9",
                  "details": {
                    "lastSocDate": "2018-05-15",
                    "certificationTimeliness": [
                      2,
                      12
                    ],
                    "ssocTimeliness": [
                      7,
                      20
                    ]
                  }
                },
                "alerts": [
                  {
                    "type": "form9_needed",
                    "details": {
                      "dueDate": "2018-07-31"
                    }
                  }
                ],
                "docket": null,
                "issues": [
                  {
                    "description": "Service connection, sleep apnea",
                    "diagnosticCode": "6847",
                    "active": true,
                    "lastAction": null,
                    "date": null
                  }
                ],
                "events": [
                  {
                    "type": "claim_decision",
                    "date": "2017-07-31"
                  },
                  {
                    "type": "nod",
                    "date": "2017-08-10"
                  },
                  {
                    "type": "soc",
                    "date": "2018-05-15"
                  }
                ],
                "evidence": []
              }
            },
            {
              "id": "1196294",
              "type": "legacyAppeal",
              "attributes": {
                "appealIds": [
                  "1196294"
                ],
                "updated": "2018-05-29T19:38:40-04:00",
                "incompleteHistory": false,
                "type": "original",
                "active": true,
                "description": "Service connection, lumbosacral strain",
                "aod": false,
   [...]
