---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v0/appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - fake_api_key
      X-Va-Ssn:
      - '111222333'
      X-Va-User:
      - vets.gov.user+110@gmail.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '38'
      Etag:
      - W/"aa7ef9cf7255abec57c90bf8b7f29f04"
      X-Git-Sha:
      - acc03a3a889c27d498f81d9b6931b3ab1d30fc31
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: |-
        {
            "errors": [
                {
                    "title": "Not found",
                    "detail": "Appeals data for a veteran with that SSN was not found",
                    "code": "CASEFLOWSTATUS404",
                    "source": "A veteran with that SSN was not found in our systems.",
                    "status": "404"
                }
            ]
        }
  recorded_at: Mon, 08 Nov 2021 21:48:22 GMT
recorded_with: VCR 6.0.0
