---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/vaos/v1/patients/24811694708759028/appointments/70060
    body:
      encoding: UTF-8
      string: '{"status":"cancelled"}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - b06b919c0ed122c3-48aab5c2067443ef-1
      X-Vamf-Build:
      - e208742
      X-Vamf-Timestamp:
      - '2021-08-03T18:59:01+0000'
    body:
      encoding: UTF-8
      string: '{"id":"c5a3f871-fc3d-4ac8-bee8-34a5ba000179","code":500,"errorCode":7008,"traceId":"b06b919c0ed122c3","message":"failed
        to cancel appointment","detail":"Could not update CC appointment request through
        the Mobile HSRM Service.","meta":{"upstreamErrorSource":"mobile-appointment-service","upstreamErrorId":"148684f6-86b5-4964-8f60-e81d765a1bf6"}}'
  recorded_at: Tue, 10 Aug 2021 23:07:50 GMT
recorded_with: VCR 6.0.0
