---
  version: 2.1
  orbs:
    ruby: circleci/ruby@0.2.1

  jobs:
    test:
      working_directory: ~/vets-api
      docker:
        - image: circleci/ruby:2.6.6-stretch
          environment:
            BUNDLE_JOBS: 2
            BUNDLE_RETRY: 3
            LANG: en_US.UTF-8
            PGHOST: localhost
            PGUSER: vets-api
            RAILS_ENV: test
            "Settings.saml.cert_path": "spec/support/certificates/ruby-saml.crt"
            "Settings.saml.key_path": "spec/support/certificates/ruby-saml.key"
            "Settings.binaries.clamdscan": "clamscan"
        - image: circleci/postgres:11.5-postgis-ram # 11.5 engine on AWS RDS
          environment:
            POSTGRES_USER: vets-api
            POSTGRES_DB: vets-api_test
            POSTGRES_PASSWORD: ""
        - image: circleci/redis:3.2-alpine # 3.2.4 engine on AWS Elasticache
      steps:
        - checkout
        - ruby/load-cache
        - ruby/install-deps
        - ruby/save-cache
        - run:
            name: Install dependencies (pdftk, poppler)
            command: sudo apt install pdftk poppler-utils
        - run:
            name: Setup test database
            command: bundle exec rake db:create db:schema:load
        - run:
            name: Run all RSpec specs
            command: bundle exec rspec --pattern spec/**/*_spec.rb --pattern modules/*/spec/**/*_spec.rb --format progress --format RspecJunitFormatter -o ./rspec/rspec.xml --format html --out ./ci/rspec.html 
        - run:
            name: Verify stable pacts. For now treat pact-search as the stable branch. How to get the specific tag here?
            command: bundle exec rake pact:verify
        - run:
            name: Audit bundled gems for CVE issues
            command: bundle exec bundle-audit check --update
        - run:
            name: Static security analysis using Brakeman
            command: bundle exec brakeman --exit-on-warn --run-all-checks --confidence-level=2 -o ./ci/brakeman.html -o ./ci/brakeman.text 
        - run:
            name: Lint code with Rubocop
            command: bundle exec rubocop -r rubocop-thread_safety --parallel --format progress --format RuboCop::Formatter::JUnitFormatter --out ./ci/rubocop.xml --format html --out ./ci/rubocop.html 
        - store_test_results:
            path: ./rspec
        - store_artifacts:
            path: ./ci
        - store_artifacts:
            path: ./coverage
  workflows:
    workflow:
      jobs:
        - test
