---
http_interactions:
- request:
    method: post
    uri: https://fwdproxy-staging.vfs.va.gov:4478/suite/webapi/chapter31-eligibility-details-search
    body:
      encoding: UTF-8
      string: '{"icn":"1018616478V531227"}'
    headers:
      Content-Type:
      - application/json
      Appian-API-Key:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjNDdiNzNjMy04ZTgzLTQ5MzQtODViMS1kOTNhMmNhMjgxN2UifQ.8TqYLKpQKmdK5PrWvS1FeA7nE2a8HU9S0BuTVXIR5Gw
  response:
    status:
      code: 200
      message: '200'
    headers:
      x-trace-id:
      - ''
      requested-while-authenticated:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"veteranProfile":{"firstName":"VICTORIA","lastName":"DUNCAN","dob":"1901-09-11Z","characterOfDischarge":"Honorable","servicePeriod":[{"serviceBeganDate":"1941-12-05Z","serviceEndDate":"1960-12-07Z","characterOfDischarge":"Honorable"},{"serviceBeganDate":"2021-01-01Z","serviceEndDate":"2023-04-01Z","characterOfDischarge":"Honorable"}]},"disabilityRating":{"combinedScd":0,"SCDDetails":[]},"IRNDDate":"2025-08-04Z","eligibilityTerminationDate":null,"entitlementDetails":{"maxCh31Entitlement":{"month":48,"days":0},"ch31EntilementRemaining":{"month":0,"days":0},"entitlementUsed":{"month":0,"days":0}},"resCaseId":685,"resEligibilityRecommendation":"Ineligible"}'
  recorded_at: Mon, 15 Sep 2025 13:58:28 GMT
recorded_with: VCR 6.3.1
