---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/benefits-documents/v1/documents
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-8ed79f016ef93157648397548a7445db\r\nContent-Disposition:
        form-data; name=\"parameters\"\r\nContent-Type: application/json\r\n\r\n{\"data\":{\"systemName\":\"VA.gov\",\"docType\":\"L023\",\"claimId\":1,\"participantId\":\"23036417\",\"fileName\":\"filewithspaces20240731-4715-870j5n.jpg\",\"trackedItemIds\":null}}\r\n-------------RubyMultipartPost-8ed79f016ef93157648397548a7445db\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"filewithspaces20240731-4715-870j5n.jpg20240731-4715-mk1ilv\"\r\nContent-Length:
        4\r\nContent-Type: image/jpeg\r\nContent-Transfer-Encoding: binary\r\n\r\ntest\r\n-------------RubyMultipartPost-8ed79f016ef93157648397548a7445db--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-8ed79f016ef93157648397548a7445db
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '31'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/benefits-documents/v1/documents\"\n}\n"
  recorded_at: Wed, 31 Jul 2024 13:47:29 GMT
recorded_with: VCR 6.2.0
