---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/benefits-documents/v1/documents
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-2db66ad9b9a6aafd3de53837b9509677\r\nContent-Disposition:
        form-data; name=\"parameters\"\r\nContent-Type: application/json\r\n\r\n{\"data\":{\"systemName\":\"VA.gov\",\"docType\":\"L023\",\"claimId\":1,\"participantId\":\"56783145\",\"fileName\":\"filewithspaces20240808-54782-72k38h.jpg\",\"trackedItemIds\":null}}\r\n-------------RubyMultipartPost-2db66ad9b9a6aafd3de53837b9509677\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"filewithspaces20240808-54782-72k38h.jpg20240808-54782-94wh2y\"\r\nContent-Length:
        4\r\nContent-Type: image/jpeg\r\nContent-Transfer-Encoding: binary\r\n\r\ntest\r\n-------------RubyMultipartPost-2db66ad9b9a6aafd3de53837b9509677--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-2db66ad9b9a6aafd3de53837b9509677
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '20'
      X-Ratelimit-Limit-Minute:
      - '60'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/benefits-documents/v1/documents\"\n}\n"
  recorded_at: Thu, 08 Aug 2024 17:20:40 GMT
recorded_with: VCR 6.2.0
