---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/benefits-documents/v1/documents
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-ebf81a23348040121156b0d204571df7\r\nContent-Disposition:
        form-data; name=\"parameters\"\r\nContent-Type: application/json\r\n\r\n{\"data\":{\"systemName\":\"VA.gov\",\"docType\":\"L023\",\"claimId\":1,\"participantId\":\"34900026\",\"fileName\":\"filewithspaces20240731-30176-gv5ven.jpg\",\"trackedItemIds\":null}}\r\n-------------RubyMultipartPost-ebf81a23348040121156b0d204571df7\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"filewithspaces20240731-30176-gv5ven.jpg20240731-30176-hmg2sm\"\r\nContent-Length:
        4\r\nContent-Type: image/jpeg\r\nContent-Transfer-Encoding: binary\r\n\r\ntest\r\n-------------RubyMultipartPost-ebf81a23348040121156b0d204571df7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-ebf81a23348040121156b0d204571df7
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '17'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/benefits-documents/v1/documents\"\n}\n"
  recorded_at: Wed, 31 Jul 2024 14:10:44 GMT
recorded_with: VCR 6.2.0
