---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/benefits-documents/v1/documents
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-c4b5ca2bc29441fa85308a4fd9b288c2\r\nContent-Disposition:
        form-data; name=\"parameters\"\r\nContent-Type: application/json\r\n\r\n{\"data\":{\"systemName\":\"VA.gov\",\"docType\":\"L023\",\"claimId\":1,\"participantId\":\"10477757\",\"fileName\":\"filewithspaces20240731-21433-lv0of.jpg\",\"trackedItemIds\":null}}\r\n-------------RubyMultipartPost-c4b5ca2bc29441fa85308a4fd9b288c2\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"filewithspaces20240731-21433-lv0of.jpg20240731-21433-20yh54\"\r\nContent-Length:
        4\r\nContent-Type: image/jpeg\r\nContent-Transfer-Encoding: binary\r\n\r\ntest\r\n-------------RubyMultipartPost-c4b5ca2bc29441fa85308a4fd9b288c2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-c4b5ca2bc29441fa85308a4fd9b288c2
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '10'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/benefits-documents/v1/documents\"\n}\n"
  recorded_at: Wed, 31 Jul 2024 14:02:50 GMT
recorded_with: VCR 6.2.0
