---
http_interactions:
  - request:
      method: post
      uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v2/MilitaryInformationService
      body:
        encoding: ASCII-8BIT
        string: |2

          <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v2" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v2" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v2" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v2">
            <soap:Header>
              <v1:inputHeaderInfo>
                <v1:userId>vets.gov</v1:userId>
                <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
                <v1:transactionId>9eac7549-8c2e-4f83-8a5a-b33d326b0a6e</v1:transactionId>
              </v1:inputHeaderInfo>
            </soap:Header>
            <soap:Body>
              <v11:eMISguardReserveServicePeriodsRequest>
                <v12:edipiORicn>
                  <v13:edipiORicnValue>1007697216</v13:edipiORicnValue>
                  <v13:inputType>EDIPI</v13:inputType>
                </v12:edipiORicn>
              </v11:eMISguardReserveServicePeriodsRequest>
            </soap:Body>
          </soap:Envelope>
      headers:
        Content-Type:
          - application/soap+xml;charset=UTF-8
        Soapaction:
          - http://viers.va.gov/cdi/eMIS/getGuardReserveServicePeriods/v2
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/soap+xml;charset=utf-8
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
          xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
          xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v2"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>ea823f51-deb0-47f8-b452-d2a58da2ce18</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISguardReserveServicePeriodsResponse
          xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v2"><NS5:guardReserveServicePeriods
          xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v2"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v2">1607472595</NS6:edipi><NS7:keyData
          xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v2"><NS7:personnelOrganizationCode>51</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>V</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>1</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:guardReserveServicePeriodsData
          xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v2"><NS8:guardReserveSegmentIdentifier>3</NS8:guardReserveSegmentIdentifier><NS8:guardReservePeriodStartDate>2002-02-02</NS8:guardReservePeriodStartDate><NS8:guardReservePeriodEndDate>2008-12-01</NS8:guardReservePeriodEndDate><NS8:guardReservePeriodTerminationReason>C</NS8:guardReservePeriodTerminationReason><NS8:guardReservePeriodCharacterOfServiceCode>H</NS8:guardReservePeriodCharacterOfServiceCode><NS8:narrativeReasonForSeparationCode>999</NS8:narrativeReasonForSeparationCode><NS8:guardReservePeriodStatuteCode>J</NS8:guardReservePeriodStatuteCode><NS8:guardReservePeriodProjectCode>9GF</NS8:guardReservePeriodProjectCode><NS8:post911GIBilLossCategoryCode>06</NS8:post911GIBilLossCategoryCode><NS8:narrativeReasonForSeparationTxt>UNKNOWN</NS8:narrativeReasonForSeparationTxt><NS8:trainingIndicatorCode>Y</NS8:trainingIndicatorCode></NS8:guardReserveServicePeriodsData></NS5:guardReserveServicePeriods></NS4:eMISguardReserveServicePeriodsResponse></NS1:Body></NS1:Envelope>
    recorded_at: Wed, 19 Apr 2017 19:17:25 GMT
recorded_with: VCR 3.0.3
