---
http_interactions:
- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/eis/api/btsss/travelclaim/api/v3/appointments/find-or-add"
    body:
      encoding: UTF-8
      string: '{"appointmentDateTime":"2024-01-15T10:00:00Z","facilityStationNumber":"facility-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_veis_token_123
      X-BTSSS-Token:
      - fake_btsss_token_456
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{
        "correlationId": "e359e352-10d8-4475-a453-9feec6bb8a10",
        "timeStamp": "2025-08-27T21:54:27.178363Z",
        "statusCode": 200,
        "message": "Appointment found or created successfully",
        "success": true,
        "data": [
          {
            "id": "11111111-2222-3333-4444-555555555555",
            "appointmentSource": "API",
            "appointmentDateTime": "2025-09-16T16:30:00Z",
            "appointmentName": "Customer created appointment at (21st) Century Oncology of Las Vegas (3006)",
            "appointmentType": "Other",
            "facilityId": "11111111-2222-3333-4444-555555555555",
            "facilityName": "(21st) Century Oncology of Las Vegas (3006)",
            "serviceConnectedDisability": 421750001,
            "currentStatus": "",
            "appointmentStatus": "",
            "externalAppointmentId": null,
            "associatedClaimId": null,
            "associatedClaimNumber": null,
            "isCompleted": false
        }
        ]
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT
