---
http_interactions:
- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/eis/api/btsss/travelclaim/api/v3/appointments/find-or-add"
    body:
      encoding: UTF-8
      string: '{"appointmentDateTime":"2024-01-15T10:00:00Z","facilityStationNumber":"facility-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_veis_token_123
      X-BTSSS-Token:
      - fake_btsss_token_456
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{
        "correlationId": "e359e352-10d8-4475-a453-9feec6bb8a10",
        "timeStamp": "2025-08-27T21:54:27.178363Z",
        "statusCode": 400,
        "message": "Invalid appointment date format",
        "success": false,
        "data": null
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT
