---
http_interactions:
- request:
    method: post
    uri: "https://login.microsoftonline.us/fake_template_id/oauth2/token"
    body:
      encoding: UTF-8
      string: "client_id=fake_client_id&client_secret=fake_client_secret&client_type=1&scope=fake_scope&grant_type=client_credentials&resource=fake_resource"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "access_token": "fake_veis_token_123",
        "token_type": "Bearer",
        "expires_in": 3600
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT

- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/api/v4/auth/system-access-token"
    body:
      encoding: UTF-8
      string: '{"secret":"fake_client_secret","icn":"1234567890V123456"}'
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      BTSSS-API-Client-Number:
      - fake_client_number
      Authorization:
      - Bearer fake_veis_token_123
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "data": {
          "accessToken": "fake_btsss_token_456"
        }
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT

- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/api/v3/appointments/find-or-add"
    body:
      encoding: UTF-8
      string: '{"appointmentDateTime":"2024-01-15T10:00:00Z","facilityStationNumber":"facility-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_veis_token_123
      X-BTSSS-Token:
      - fake_btsss_token_456
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{
        "correlationId": "e359e352-10d8-4475-a453-9feec6bb8a10",
        "timeStamp": "2025-08-27T21:54:27.178363Z",
        "statusCode": 200,
        "message": "Appointment found or created successfully",
        "success": true,
        "data": {
          "id": "appt-123"
        }
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT
