---
http_interactions:
- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/eis/api/btsss/travelclaim/api/v3/claims"
    body:
      encoding: UTF-8
      string: '{"appointmentId":"appt-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_veis_token_123
      X-BTSSS-Token:
      - fake_btsss_token_456
      X-Correlation-ID:
      - 5b59879e-9e22-47d9-a9f8-baede230dd48
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{
        "correlationId": "5b59879e-9e22-47d9-a9f8-baede230dd48",
        "timeStamp": "2025-08-28T19:41:15.0806564Z",
        "statusCode": 400,
        "message": "Validation failed: A claim has already been created for this appointment.",
        "success": false,
        "data": null
      }'
  recorded_at: Wed, 28 Aug 2025 19:41:15 GMT
