---
http_interactions:
- request:
    method: patch
    uri: "https://dev.integration.d365.va.gov/eis/api/btsss/travelclaim/api/v3/claims/claim-456/submit"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_veis_token_123
      X-BTSSS-Token:
      - fake_btsss_token_456
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Reset:
      - '25'
    body:
      encoding: UTF-8
      string: '{
        "correlationId": "e359e352-10d8-4475-a453-9feec6bb8a10",
        "timeStamp": "2025-08-27T22:11:01.3488114Z",
        "statusCode": 200,
        "message": "Claim submitted successfully.",
        "success": true,
        "data": {
            "claimId": "claim-456",
            "status": "ClaimSubmitted",
            "createdOn": "2025-08-27T21:54:23Z",
            "modifiedOn": "2025-08-27T22:11:00+00:00"
        }
      }'
  recorded_at: Wed, 27 Aug 2025 22:11:01 GMT
