---
http_interactions:
- request:
    method: post
    uri: "https://dev.integration.d365.va.gov/eis/api/btsss/travelclaim/api/v4/auth/system-access-token"
    body:
      encoding: UTF-8
      string: '{"secret":"fake_client_secret","icn":"1234567890V123456"}'
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - e359e352-10d8-4475-a453-9feec6bb8a10
      BTSSS-API-Client-Number:
      - fake_client_number
      Authorization:
      - Bearer fake_veis_token_123
      Ocp-Apim-Subscription-Key:
      - fake_subscription_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
        "data": {
          "accessToken": "fake_btsss_token_456"
        }
      }'
  recorded_at: Wed, 27 Aug 2025 21:54:27 GMT
