---
http_interactions:
- request:
    method: post
    uri: http://int1.vaebnapp90.aac.va.gov:8001/wssweb/vii-app-1.2/rest/formService/1.2/submitForm
    body:
      encoding: UTF-8
      string: '{"form_data":{"common_headers":[],"form_config_id":{"config_version":"1.0.0","form_type":"10-5345A-MHV"},"form_field_data":[{"name":"patient_full_name","values":["Johnnie
        Weaver"]},{"name":"ssn","values":["796123607"]},{"name":"ssn_masked","values":["*****3607"]},{"name":"dob","values":["12/02/1809"]},{"name":"patient_phone_number","values":[]},{"name":"date_sign","values":["06/01/2017"]}],"over_flow_form_field_data":[]}}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Firstname:
      - Johnnie
      Va-Eauth-Lastname:
      - Weaver
      Va-Eauth-Issueinstant:
      - '2017-01-06T21:19:40Z'
      Va-Eauth-Dodedipnid:
      - '1005169255'
      Va-Eauth-Pid:
      - '600043180'
      Va-Eauth-Pnid:
      - '796123607'
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"796123607","edi":"1005169255","firstName":"Johnnie","lastName":"Weaver"}}'
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n<!DOCTYPE html>\r\n<html>\r\n\t<head>\r\n\t\t<title>Unexpected
        Error</title>\r\n\t</head>\r\n\t<body>\r\n\t\tUnexpected Error\r\n\t</body>\r\n</html>\r\n\r\n\r\n\r\n"
  recorded_at: Fri, 06 Jan 2017 21:19:46 GMT
recorded_with: VCR 3.0.3
