---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"02032021134443526_update_cypress_viewport_data","title":"Update
        Cypress Viewport Data (Automatic Update)","body":"Updates `config/cypress.json`
        and `src/platform/testing/e2e/cypress/support/commands/viewportPreset.js`
        with Google Analytics viewport data from last month (01/2021).\n\nThese files
        are updated automatically via a Sidekiq job in `vets-api` that runs at noon
        on the 2nd day of each month to get the analytics data for the previous month.
        (Google Analytics updates every 24 hours.)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"4fbbfd52737708e2f59d7133fcf8cd9069c6e3ed5e7fe94bfe5b3698f2bcf755"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/15920
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14987'
      X-Ratelimit-Reset:
      - '1612363475'
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/15920","id":566843104,"node_id":"MDExOlB1bGxSZXF1ZXN0NTY2ODQzMTA0","html_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/15920","diff_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/15920.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/15920.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/15920","number":15920,"state":"open","locked":false,"title":"Update
        Cypress Viewport Data (Automatic Update)","user":{"login":"cypress-viewport-updater-bot[bot]","id":77450695,"node_id":"MDM6Qm90Nzc0NTA2OTU=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D","html_url":"https://github.com/apps/cypress-viewport-updater-bot","followers_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/followers","following_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/repos","events_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"Updates
        `config/cypress.json` and `src/platform/testing/e2e/cypress/support/commands/viewportPreset.js`
        with Google Analytics viewport data from last month (01/2021).\n\nThese files
        are updated automatically via a Sidekiq job in `vets-api` that runs at noon
        on the 2nd day of each month to get the analytics data for the previous month.
        (Google Analytics updates every 24 hours.)","created_at":"2021-02-03T13:44:47Z","updated_at":"2021-02-03T13:44:47Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/15920/commits","review_comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/15920/comments","review_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/comments{/number}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/15920/comments","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/statuses/05de5a2e3521e9c73fe743944fe031f005061461","head":{"label":"department-of-veterans-affairs:02032021134443526_update_cypress_viewport_data","ref":"02032021134443526_update_cypress_viewport_data","sha":"05de5a2e3521e9c73fe743944fe031f005061461","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"repo":{"id":33202667,"node_id":"MDEwOlJlcG9zaXRvcnkzMzIwMjY2Nw==","name":"vets-website","full_name":"department-of-veterans-affairs/vets-website","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-website","description":"Frontend
        for VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/deployments","created_at":"2015-03-31T18:34:05Z","updated_at":"2021-02-03T13:24:36Z","pushed_at":"2021-02-03T13:44:45Z","git_url":"git://github.com/department-of-veterans-affairs/vets-website.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-website.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-website.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-website","homepage":"","size":354080,"stargazers_count":178,"watchers_count":178,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":95,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":167,"license":{"key":"cc0-1.0","name":"Creative
        Commons Zero v1.0 Universal","spdx_id":"CC0-1.0","url":"https://api.github.com/licenses/cc0-1.0","node_id":"MDc6TGljZW5zZTY="},"forks":95,"open_issues":167,"watchers":178,"default_branch":"main"}},"base":{"label":"department-of-veterans-affairs:main","ref":"main","sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/departm[...]
