---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46269175afd71e349e5e6c173fa935f8eb56c1d79885503775497fd793ade375"
      Last-Modified:
      - Wed, 31 Aug 2022 14:19:05 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14997'
      X-Ratelimit-Reset:
      - '1661962055'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/main","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYWlu","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main","object":{"sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/cd21f7222ff5fbc49121a18bfbb4246f46434747"}}'
  recorded_at: Wed, 31 Aug 2022 15:07:36 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/08312022110735961_update_cypress_viewport_data","sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4edcfdbcc84597dbb04a183393b96425c612f69a0aaf486473e81fff1a6449dd"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/08312022110735961_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14996'
      X-Ratelimit-Reset:
      - '1661962055'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/08312022110735961_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wODMxMjAyMjExMDczNTk2MV91cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/08312022110735961_update_cypress_viewport_data","object":{"sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/cd21f7222ff5fbc49121a18bfbb4246f46434747"}}'
  recorded_at: Wed, 31 Aug 2022 15:07:36 GMT
recorded_with: VCR 6.1.0
