---
http_interactions:
  - request:
      method: put
      uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json
      body:
        encoding: UTF-8
        string:
          '{"branch":"02032021134443526_update_cypress_viewport_data","sha":"45804756d06ea2ba9b77282775107d764282e1e5","content":"RmlsZSAxIGNvbnRlbnQ=","message":"update
          cypress.json"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - removed
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"20c875aed5d0d16f09b03eefe01c8e4dd9b60b5278e819dc499fe05d4094479f"
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "15000"
        X-Ratelimit-Remaining:
          - "14989"
        X-Ratelimit-Reset:
          - "1612363475"
        X-Ratelimit-Used:
          - "11"
      body:
        encoding: ASCII-8BIT
        string:
          '{"content":{"name":"cypress.json","path":"config/cypress.json","sha":"7cb40a0a22b307740671a3ee33993894d4795993","size":14,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json?ref=02032021134443526_update_cypress_viewport_data","html_url":"https://github.com/department-of-veterans-affairs/vets-website/blob/02032021134443526_update_cypress_viewport_data/config/cypress.json","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/02032021134443526_update_cypress_viewport_data/config/cypress.json","type":"file","_links":{"self":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json?ref=02032021134443526_update_cypress_viewport_data","git":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","html":"https://github.com/department-of-veterans-affairs/vets-website/blob/02032021134443526_update_cypress_viewport_data/config/cypress.json"}},"commit":{"sha":"2e30c686b9667a216b645858b14fa1a0f77669dc","node_id":"MDY6Q29tbWl0MzMyMDI2Njc6MmUzMGM2ODZiOTY2N2EyMTZiNjQ1ODU4YjE0ZmExYTBmNzc2NjlkYw==","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/2e30c686b9667a216b645858b14fa1a0f77669dc","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/2e30c686b9667a216b645858b14fa1a0f77669dc","author":{"name":"cypress-viewport-updater-bot[bot]","email":"77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com","date":"2021-02-03T13:44:44Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2021-02-03T13:44:44Z"},"tree":{"sha":"b3d07189cd616d5291ef82fe76a2607d1beee8df","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees/b3d07189cd616d5291ef82fe76a2607d1beee8df"},"message":"update
          cypress.json","parents":[{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}],"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
          PGP SIGNATURE-----\n-----END
          PGP SIGNATURE-----\n","payload":"tree b3d07189cd616d5291ef82fe76a2607d1beee8df\nparent
          a88961fc46104ca8e9f758793eaa3eebc7a0a7a0\nauthor cypress-viewport-updater-bot[bot]
          <77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com> 1612359884
          +0000\ncommitter GitHub <noreply@github.com> 1612359884 +0000\n\nupdate cypress.json"}}}'
    recorded_at: Wed, 03 Feb 2021 13:44:45 GMT
recorded_with: VCR 6.0.0
