---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ad186048ad8c0356e40039cf0665f9aae3b2ccad95e9e5a275394d9b105b03ab"
      Last-Modified:
      - Wed, 03 Feb 2021 13:24:36 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14980'
      X-Ratelimit-Reset:
      - '1612363475'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/main","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYXN0ZXI=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main","object":{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}}'
  recorded_at: Wed, 03 Feb 2021 13:44:51 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02032021134451653_update_cypress_viewport_data","sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"02fdff254d013ac1c29979d30401b12a3ce6f6a027de08235f4e74030d0bc09a"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02032021134451653_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14979'
      X-Ratelimit-Reset:
      - '1612363475'
      X-Ratelimit-Used:
      - '21'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02032021134451653_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wMjAzMjAyMTEzNDQ1MTY1M191cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02032021134451653_update_cypress_viewport_data","object":{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}}'
  recorded_at: Wed, 03 Feb 2021 13:44:52 GMT
recorded_with: VCR 6.0.0
