---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/14176090/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"fae6944241fb8c4c9e1a93a0cfa6cfa77b9f5ae7663293c98423afea3a29485f"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"removed","expires_at":"2021-02-02T18:24:37Z","permissions":{"contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 03 Feb 2021 13:44:42 GMT
recorded_with: VCR 6.0.0
