---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json
    body:
      encoding: UTF-8
      string: '{"branch":"01272021165152485_update_cypress_viewport_data","sha":"57622995106a464ab8bc123ae6704ac833439aee","content":"VXBkYXRlZCBjb250ZW50","message":"update
        cypress.json"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"786ddd8f858c57e0451b5ebd65f0406c6f377c5a5a2aa1645200fc0dca92fa1a"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1611768779'
      X-Ratelimit-Used:
      - '68'
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"cypress.json","path":"config/cypress.json","sha":"1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","size":15,"url":"https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json?ref=01272021165152485_update_cypress_viewport_data","html_url":"https://github.com/holdenhinkle/vets-website/blob/01272021165152485_update_cypress_viewport_data/config/cypress.json","git_url":"https://api.github.com/repos/holdenhinkle/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","download_url":"https://raw.githubusercontent.com/holdenhinkle/vets-website/01272021165152485_update_cypress_viewport_data/config/cypress.json","type":"file","_links":{"self":"https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json?ref=01272021165152485_update_cypress_viewport_data","git":"https://api.github.com/repos/holdenhinkle/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","html":"https://github.com/holdenhinkle/vets-website/blob/01272021165152485_update_cypress_viewport_data/config/cypress.json"}},"commit":{"sha":"b91006de75d0576fd6ef593440512ecf8f6ac0a8","node_id":"MDY6Q29tbWl0MzMxMDk5NDM1OmI5MTAwNmRlNzVkMDU3NmZkNmVmNTkzNDQwNTEyZWNmOGY2YWMwYTg=","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/b91006de75d0576fd6ef593440512ecf8f6ac0a8","html_url":"https://github.com/holdenhinkle/vets-website/commit/b91006de75d0576fd6ef593440512ecf8f6ac0a8","author":{"name":"Holden
        Hinkle","email":"holden@holdenhinkle.com","date":"2021-01-27T16:51:53Z"},"committer":{"name":"Holden
        Hinkle","email":"holden@holdenhinkle.com","date":"2021-01-27T16:51:53Z"},"tree":{"sha":"31201e0aef17ae40c62bf423378ae5f1ed7c5b70","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/trees/31201e0aef17ae40c62bf423378ae5f1ed7c5b70"},"message":"update
        cypress.json","parents":[{"sha":"7f31c1e1ba2fc7ec7de66242c7420bc522150a01","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/7f31c1e1ba2fc7ec7de66242c7420bc522150a01","html_url":"https://github.com/holdenhinkle/vets-website/commit/7f31c1e1ba2fc7ec7de66242c7420bc522150a01"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Wed, 27 Jan 2021 16:51:54 GMT
recorded_with: VCR 6.0.0
