---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/14176090/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1ec9f6ece4c6abd2c42ee0d93d8c423c86cc51ebeab73f3ab5dfc45b97724689"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"removed","expires_at":"2021-02-02T18:24:37Z","permissions":{"contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 31 Aug 2022 15:07:35 GMT
recorded_with: VCR 6.1.0
