---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js
    body:
      encoding: UTF-8
      string: '{"branch":"08312022111130282_update_cypress_viewport_data","sha":"f53a6553565fa8ff7390c26f88da46afb0f48cfe","content":"RmlsZSAxIGNvbnRlbnQ=","message":"update
        cypress.config.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a64a71bf2c94a053fe3b9b41a9e9e4928cbd625dff9e056f5013a2c3332c2bc5"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14986'
      X-Ratelimit-Reset:
      - '1661962055'
      X-Ratelimit-Used:
      - '14'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"cypress.config.js","path":"config/cypress.config.js","sha":"7cb40a0a22b307740671a3ee33993894d4795993","size":14,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js?ref=08312022111130282_update_cypress_viewport_data","html_url":"https://github.com/department-of-veterans-affairs/vets-website/blob/08312022111130282_update_cypress_viewport_data/config/cypress.config.js","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/08312022111130282_update_cypress_viewport_data/config/cypress.config.js","type":"file","_links":{"self":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js?ref=08312022111130282_update_cypress_viewport_data","git":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","html":"https://github.com/department-of-veterans-affairs/vets-website/blob/08312022111130282_update_cypress_viewport_data/config/cypress.config.js"}},"commit":{"sha":"e9c7916a525568bd5d04d5b528c6ab4d5ab82201","node_id":"C_kwDOAfqh69oAKGU5Yzc5MTZhNTI1NTY4YmQ1ZDA0ZDViNTI4YzZhYjRkNWFiODIyMDE","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/e9c7916a525568bd5d04d5b528c6ab4d5ab82201","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/e9c7916a525568bd5d04d5b528c6ab4d5ab82201","author":{"name":"cypress-viewport-updater-bot[bot]","email":"77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com","date":"2022-08-31T15:11:31Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-08-31T15:11:31Z"},"tree":{"sha":"1d585a5db65c2eb2bdcc641168509b4ff04a1fcc","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees/1d585a5db65c2eb2bdcc641168509b4ff04a1fcc"},"message":"update
        cypress.config.js","parents":[{"sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/cd21f7222ff5fbc49121a18bfbb4246f46434747","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/cd21f7222ff5fbc49121a18bfbb4246f46434747"}],"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJjD3ojCRBK7hj4Ov3rIwAAl20IAGNmBoZastaU8NgZIu46AgvI\n4RzTp3HutuIWy/sofCXKZM6NSJLj4G6NY6hsHsKAGLsl51eR083ZsrHzM2SBE5JL\njUI42wDtVv8ofCbLxg+VCXLuUYOK5NJLBUbEEaqkYGED0zVMRYNMHLjfj4QqS74s\n6l5gau6jSKFfd0B9ld3AjcbJrU8xE4ZPiUU7GWrqLGwRPWkMBdTgJfAoEdjwbeC/\nU9xL29TLnLiKeXWJFg+bDXDLgei2gXWYPCx5rP6NLzJreIoqtxnxgoGg8MdAmR/e\nLhaPNk6dA+YoS2egGa3k8VCPXFbAkJ5JpaY2a9+EISHEYDByNB0MHAflzqUo0A4=\n=3jWu\n-----END
        PGP SIGNATURE-----\n","payload":"tree 1d585a5db65c2eb2bdcc641168509b4ff04a1fcc\nparent
        cd21f7222ff5fbc49121a18bfbb4246f46434747\nauthor cypress-viewport-updater-bot[bot]
        <77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com> 1661958691
        +0000\ncommitter GitHub <noreply@github.com> 1661958691 +0000\n\nupdate cypress.config.js"}}}'
  recorded_at: Wed, 31 Aug 2022 15:11:31 GMT
recorded_with: VCR 6.1.0
