---
http_interactions:
  - request:
      method: put
      uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json
      body:
        encoding: UTF-8
        string:
          '{"branch":"02032021134451653_update_cypress_viewport_data","sha":"45804756d06ea2ba9b77282775107d764282e1e5","content":"VXBkYXRlZCBjb250ZW50","message":"update
          cypress.json"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - removed
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"e83df6e511c1bec2cb3f70395786152a1ca1e24d85536dcd53ccf0e610902793"
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "15000"
        X-Ratelimit-Remaining:
          - "14978"
        X-Ratelimit-Reset:
          - "1612363475"
        X-Ratelimit-Used:
          - "22"
      body:
        encoding: ASCII-8BIT
        string:
          '{"content":{"name":"cypress.json","path":"config/cypress.json","sha":"1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","size":15,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json?ref=02032021134451653_update_cypress_viewport_data","html_url":"https://github.com/department-of-veterans-affairs/vets-website/blob/02032021134451653_update_cypress_viewport_data/config/cypress.json","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/02032021134451653_update_cypress_viewport_data/config/cypress.json","type":"file","_links":{"self":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.json?ref=02032021134451653_update_cypress_viewport_data","git":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","html":"https://github.com/department-of-veterans-affairs/vets-website/blob/02032021134451653_update_cypress_viewport_data/config/cypress.json"}},"commit":{"sha":"b7529ac5de09f8cbcf71ced32d0a55fd76ac97dc","node_id":"MDY6Q29tbWl0MzMyMDI2Njc6Yjc1MjlhYzVkZTA5ZjhjYmNmNzFjZWQzMmQwYTU1ZmQ3NmFjOTdkYw==","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/b7529ac5de09f8cbcf71ced32d0a55fd76ac97dc","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/b7529ac5de09f8cbcf71ced32d0a55fd76ac97dc","author":{"name":"cypress-viewport-updater-bot[bot]","email":"77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com","date":"2021-02-03T13:44:52Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2021-02-03T13:44:52Z"},"tree":{"sha":"ae208e9e02f2046be20fd354cff9828d8fcdbfb6","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees/ae208e9e02f2046be20fd354cff9828d8fcdbfb6"},"message":"update
          cypress.json","parents":[{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}],"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
          PGP SIGNATURE-----\n-----END
          PGP SIGNATURE-----\n","payload":"tree ae208e9e02f2046be20fd354cff9828d8fcdbfb6\nparent
          a88961fc46104ca8e9f758793eaa3eebc7a0a7a0\nauthor cypress-viewport-updater-bot[bot]
          <77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com> 1612359892
          +0000\ncommitter GitHub <noreply@github.com> 1612359892 +0000\n\nupdate cypress.json"}}}'
    recorded_at: Wed, 03 Feb 2021 13:44:53 GMT
recorded_with: VCR 6.0.0
