---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json
    body:
      encoding: UTF-8
      string: '{"branch":"01272021165145459_update_cypress_viewport_data","sha":"57622995106a464ab8bc123ae6704ac833439aee","content":"RmlsZSAxIGNvbnRlbnQ=","message":"update
        cypress.json"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"02ee6ee61e2fdfa03e6ddf9b7b24ed2a8592f6566b7c65ae93f02fd6373ca883"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1611768779'
      X-Ratelimit-Used:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"cypress.json","path":"config/cypress.json","sha":"7cb40a0a22b307740671a3ee33993894d4795993","size":14,"url":"https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json?ref=01272021165145459_update_cypress_viewport_data","html_url":"https://github.com/holdenhinkle/vets-website/blob/01272021165145459_update_cypress_viewport_data/config/cypress.json","git_url":"https://api.github.com/repos/holdenhinkle/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","download_url":"https://raw.githubusercontent.com/holdenhinkle/vets-website/01272021165145459_update_cypress_viewport_data/config/cypress.json","type":"file","_links":{"self":"https://api.github.com/repos/holdenhinkle/vets-website/contents/config/cypress.json?ref=01272021165145459_update_cypress_viewport_data","git":"https://api.github.com/repos/holdenhinkle/vets-website/git/blobs/7cb40a0a22b307740671a3ee33993894d4795993","html":"https://github.com/holdenhinkle/vets-website/blob/01272021165145459_update_cypress_viewport_data/config/cypress.json"}},"commit":{"sha":"f8bb6170a9d8d214acc9ba8a5590cefbd8fd488e","node_id":"MDY6Q29tbWl0MzMxMDk5NDM1OmY4YmI2MTcwYTlkOGQyMTRhY2M5YmE4YTU1OTBjZWZiZDhmZDQ4OGU=","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/f8bb6170a9d8d214acc9ba8a5590cefbd8fd488e","html_url":"https://github.com/holdenhinkle/vets-website/commit/f8bb6170a9d8d214acc9ba8a5590cefbd8fd488e","author":{"name":"Holden
        Hinkle","email":"holden@holdenhinkle.com","date":"2021-01-27T16:51:47Z"},"committer":{"name":"Holden
        Hinkle","email":"holden@holdenhinkle.com","date":"2021-01-27T16:51:47Z"},"tree":{"sha":"98dcc58927fabae40a7c2a6cf36fc04d1a784324","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/trees/98dcc58927fabae40a7c2a6cf36fc04d1a784324"},"message":"update
        cypress.json","parents":[{"sha":"7f31c1e1ba2fc7ec7de66242c7420bc522150a01","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/7f31c1e1ba2fc7ec7de66242c7420bc522150a01","html_url":"https://github.com/holdenhinkle/vets-website/commit/7f31c1e1ba2fc7ec7de66242c7420bc522150a01"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'
  recorded_at: Wed, 27 Jan 2021 16:51:47 GMT
recorded_with: VCR 6.0.0
