---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/14176090/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"c37634df09bd33174d828a9b03d006d784ddb84a405cfeccbe8c27ea04a68b6c"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"removed","expires_at":"2021-02-02T18:24:37Z","permissions":{"contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 03 Feb 2021 13:44:51 GMT
recorded_with: VCR 6.0.0
