---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls
    body:
      encoding: UTF-8
      string: '{"base":"main","head":"08312022111130282_update_cypress_viewport_data","title":"Update
        Cypress Viewport Data (Automatic Update)","body":"Updates `config/cypress.config.js`
        and `src/platform/testing/e2e/cypress/support/commands/viewportPreset.js`
        with Google Analytics viewport data from last month (07/2022).\n\nThese files
        are updated automatically via a Sidekiq job in `vets-api` that runs at noon
        on the 2nd day of each month to get the analytics data for the previous month.
        (Google Analytics updates every 24 hours.)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6de67a7464acadd63d47afd8ee1a9ceb282af8b7baefe9ef7c5b4c8956558c0"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/22082
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14984'
      X-Ratelimit-Reset:
      - '1661962055'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/22082","id":1042522987,"node_id":"PR_kwDOAfqh684-I6Nr","html_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/22082","diff_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/22082.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-website/pull/22082.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/22082","number":22082,"state":"open","locked":false,"title":"Update
        Cypress Viewport Data (Automatic Update)","user":{"login":"cypress-viewport-updater-bot[bot]","id":77450695,"node_id":"MDM6Qm90Nzc0NTA2OTU=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D","html_url":"https://github.com/apps/cypress-viewport-updater-bot","followers_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/followers","following_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/repos","events_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/cypress-viewport-updater-bot%5Bbot%5D/received_events","type":"Bot","site_admin":false},"body":"Updates
        `config/cypress.config.js` and `src/platform/testing/e2e/cypress/support/commands/viewportPreset.js`
        with Google Analytics viewport data from last month (07/2022).\n\nThese files
        are updated automatically via a Sidekiq job in `vets-api` that runs at noon
        on the 2nd day of each month to get the analytics data for the previous month.
        (Google Analytics updates every 24 hours.)","created_at":"2022-08-31T15:11:32Z","updated_at":"2022-08-31T15:11:32Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[{"name":"qa-standards","id":4248399,"node_id":"MDQ6VGVhbTQyNDgzOTk=","slug":"qa-standards","description":"Platform
        QA Standards team","privacy":"closed","url":"https://api.github.com/organizations/5421563/team/4248399","html_url":"https://github.com/orgs/department-of-veterans-affairs/teams/qa-standards","members_url":"https://api.github.com/organizations/5421563/team/4248399/members{/member}","repositories_url":"https://api.github.com/organizations/5421563/team/4248399/repos","permission":"pull","parent":null}],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/22082/commits","review_comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/22082/comments","review_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls/comments{/number}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/22082/comments","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/statuses/2b62cfaa1893275f224c6a5684aa9d628aa40d51","head":{"label":"department-of-veterans-affairs:08312022111130282_update_cypress_viewport_data","ref":"08312022111130282_update_cypress_viewport_data","sha":"2b62cfaa1893275f224c6a5684aa9d628aa40d51","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"repo":{"id":33202667,"node_id":"MDEwOlJlcG9zaXRvcnkzMzIwMjY2Nw==","name":"vets-website","full_name":"department-of-veterans-affairs/vets-website","private":false,"owner":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/department-of-veterans-affairs/followers","following_url":"https://api.github.com/users/department-of-veterans-affairs/following{/other_user}","gists_url":"https://api.github.com/users/department-of-veterans-affairs/gists{/gist_id}","starred_url":"https://api.github.com/users/department-of-veterans-affairs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/department-of-veterans-affairs/subscriptions","organizations_url":"https://api.github.com/users/department-of-veterans-affairs/orgs","repos_url":"https://api.github.com/users/department-of-veterans-affairs/repos","events_url":"https://api.github.com/users/department-of-veterans-affairs/events{/privacy}","received_events_url":"https://api.github.com/users/department-of-veterans-affairs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/department-of-veterans-affairs/vets-website","description":"Frontend
        for VA.gov","fork":false,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website","forks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/forks","keys_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/keys{/key_id}","collaborators_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/teams","hooks_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/hooks","issue_events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/events{/number}","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/events","assignees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/assignees{/user}","branches_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/branches{/branch}","tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/tags","blobs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs{/sha}","trees_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees{/sha}","statuses_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/statuses/{sha}","languages_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/languages","stargazers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/stargazers","contributors_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contributors","subscribers_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/subscribers","subscription_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/subscription","commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/commits{/sha}","git_commits_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits{/sha}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/comments{/number}","issue_comment_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues/comments{/number}","contents_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/{+path}","compare_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/compare/{base}...{head}","merges_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/merges","archive_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/downloads","issues_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/issues{/number}","pulls_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/pulls{/number}","milestones_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/milestones{/number}","notifications_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/labels{/name}","releases_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/releases{/id}","deployments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/deployments","created_at":"2015-03-31T18:34:05Z","updated_at":"2022-08-16T22:57:26Z","pushed_at":"2022-08-31T15:11:32Z","git_url":"git://github.com/department-of-veterans-affairs/vets-website.git","ssh_url":"git@github.com:department-of-veterans-affairs/vets-website.git","clone_url":"https://github.com/department-of-veterans-affairs/vets-website.git","svn_url":"https://github.com/department-of-veterans-affairs/vets-website","homepage":"","size":250347,"stargazers_count":209,"watchers_count":209,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":113,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":91,"license":{"key":"cc0-1.0","name":"Creative
        Commons Zero v1.0 Universal","spdx_id":"CC0-1.0","url":"https://api.github.com/licenses/cc0-1.0","node_id":"MDc6TGljZW5zZTY="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":113,"open_issues":91,"watchers":209,"default_branch":"main"}},"base":{"label":"department-of-veterans-affairs:main","ref":"main","sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747","user":{"login":"department-of-veterans-affairs","id":5421563,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0MjE1NjM=","avatar_url":"https://avatars.githubusercontent.com/u/5421563?v=4","gravatar_id":"","url":"https://api.github.com/users/department-of-veterans-affairs","html_url":"https://github.com/department-of-veterans-affairs","followers_url":"https://api.github.com/users/departm[...]
