---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/14176090/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"ca16026a186d9def3c19089eac285bad8aad9b4cd4a026fed988d1d4d591bebd"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"removed","expires_at":"2021-02-02T18:24:37Z","permissions":{"contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Wed, 03 Feb 2021 13:44:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bcf2f6e072818cb044a6d4991dd42dd1b5a145a5b29ac80e4ac37da8fbed4a1d"
      Last-Modified:
      - Wed, 03 Feb 2021 13:24:36 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14986'
      X-Ratelimit-Reset:
      - '1612363475'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/main","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYXN0ZXI=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/main","object":{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}}'
  recorded_at: Wed, 03 Feb 2021 13:44:48 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02032021134448443_update_cypress_viewport_data","sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"2d14a1b955a3ba65389dd0f51e2c20466941b2683739951b2dd77232525e2798"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02032021134448443_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14985'
      X-Ratelimit-Reset:
      - '1612363475'
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02032021134448443_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wMjAzMjAyMTEzNDQ0ODQ0M191cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02032021134448443_update_cypress_viewport_data","object":{"sha":"a88961fc46104ca8e9f758793eaa3eebc7a0a7a0","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/a88961fc46104ca8e9f758793eaa3eebc7a0a7a0"}}'
  recorded_at: Wed, 03 Feb 2021 13:44:49 GMT
recorded_with: VCR 6.0.0
