---
http_interactions:
- request:
    method: put
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js
    body:
      encoding: UTF-8
      string: '{"branch":"08312022110735961_update_cypress_viewport_data","sha":"f53a6553565fa8ff7390c26f88da46afb0f48cfe","content":"VXBkYXRlZCBjb250ZW50","message":"update
        cypress.config.js"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"992b828a9234fa6a02eb050630ecb397490c0939775f24e5643eeeea71c3ae1e"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14995'
      X-Ratelimit-Reset:
      - '1661962055'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"content":{"name":"cypress.config.js","path":"config/cypress.config.js","sha":"1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","size":15,"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js?ref=08312022110735961_update_cypress_viewport_data","html_url":"https://github.com/department-of-veterans-affairs/vets-website/blob/08312022110735961_update_cypress_viewport_data/config/cypress.config.js","git_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","download_url":"https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/08312022110735961_update_cypress_viewport_data/config/cypress.config.js","type":"file","_links":{"self":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/contents/config/cypress.config.js?ref=08312022110735961_update_cypress_viewport_data","git":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/blobs/1dd21f228823d7bd230ca98a7fcc0e5570ce30e8","html":"https://github.com/department-of-veterans-affairs/vets-website/blob/08312022110735961_update_cypress_viewport_data/config/cypress.config.js"}},"commit":{"sha":"69c3cec24f4b1ba6409ea949ffd61700402be9fa","node_id":"C_kwDOAfqh69oAKDY5YzNjZWMyNGY0YjFiYTY0MDllYTk0OWZmZDYxNzAwNDAyYmU5ZmE","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/69c3cec24f4b1ba6409ea949ffd61700402be9fa","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/69c3cec24f4b1ba6409ea949ffd61700402be9fa","author":{"name":"cypress-viewport-updater-bot[bot]","email":"77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com","date":"2022-08-31T15:07:37Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-08-31T15:07:37Z"},"tree":{"sha":"2d68ade964e62de479437e2b71ba1dc07e6890b7","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/trees/2d68ade964e62de479437e2b71ba1dc07e6890b7"},"message":"update
        cypress.config.js","parents":[{"sha":"cd21f7222ff5fbc49121a18bfbb4246f46434747","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/cd21f7222ff5fbc49121a18bfbb4246f46434747","html_url":"https://github.com/department-of-veterans-affairs/vets-website/commit/cd21f7222ff5fbc49121a18bfbb4246f46434747"}],"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJjD3k5CRBK7hj4Ov3rIwAAmk8IAByvuZVV3Ltf9Kk62TFY93v2\neKXtdKAKJGqze/6QnEymBsWChHac2BIpCt2E3uwy82wlHyfKDotmlGXLTQ1by8xX\nEqCMO3XywJLLXvHGwuc4f5qo4lebU6vI/uk3bVDKgaTVtky2LhZi6oO88vlF0GcO\nMXVGSsLznWPUbn0B772MwrW5GQ1eeY+AQOU50aTFaHgiDjSuMDdKqtwkN576JVfZ\nwM4kwe2JSqYuIDcxXy1QK0PmO+JpMFCs2eDsWZD2PU3ybQKYdDQsQe3Fe+d6kAuD\nfvaqfDoLYHe8isTLYwsgTC2J1S8sZ3nbPLgo2rkI6JaglYW8SPgH8JnoogL0KaU=\n=Zspc\n-----END
        PGP SIGNATURE-----\n","payload":"tree 2d68ade964e62de479437e2b71ba1dc07e6890b7\nparent
        cd21f7222ff5fbc49121a18bfbb4246f46434747\nauthor cypress-viewport-updater-bot[bot]
        <77450695+cypress-viewport-updater-bot[bot]@users.noreply.github.com> 1661958457
        +0000\ncommitter GitHub <noreply@github.com> 1661958457 +0000\n\nupdate cypress.config.js"}}}'
  recorded_at: Wed, 31 Aug 2022 15:07:37 GMT
recorded_with: VCR 6.1.0
