---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/holdenhinkle/vets-website/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ebc8880bf4f8d75b30f56eebd5e324bca0cf78a79a390852cbc7d3c81d7374b7"
      Last-Modified:
      - Tue, 19 Jan 2021 20:20:48 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1611768779'
      X-Ratelimit-Used:
      - '66'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMzMxMDk5NDM1OnJlZnMvaGVhZHMvbWFzdGVy","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/refs/heads/master","object":{"sha":"7f31c1e1ba2fc7ec7de66242c7420bc522150a01","type":"commit","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/7f31c1e1ba2fc7ec7de66242c7420bc522150a01"}}'
  recorded_at: Wed, 27 Jan 2021 16:51:52 GMT
- request:
    method: post
    uri: https://api.github.com/repos/holdenhinkle/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/01272021165152485_update_cypress_viewport_data","sha":"7f31c1e1ba2fc7ec7de66242c7420bc522150a01"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"9319588e96e24686eecbc9b9885dc312c6ce6c2a3e7f2d82cc9aa7296bc016da"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/holdenhinkle/vets-website/git/refs/heads/01272021165152485_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1611768779'
      X-Ratelimit-Used:
      - '67'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/01272021165152485_update_cypress_viewport_data","node_id":"MDM6UmVmMzMxMDk5NDM1OnJlZnMvaGVhZHMvMDEyNzIwMjExNjUxNTI0ODVfdXBkYXRlX2N5cHJlc3Nfdmlld3BvcnRfZGF0YQ==","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/refs/heads/01272021165152485_update_cypress_viewport_data","object":{"sha":"7f31c1e1ba2fc7ec7de66242c7420bc522150a01","type":"commit","url":"https://api.github.com/repos/holdenhinkle/vets-website/git/commits/7f31c1e1ba2fc7ec7de66242c7420bc522150a01"}}'
  recorded_at: Wed, 27 Jan 2021 16:51:53 GMT
recorded_with: VCR 6.0.0
