---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"removed","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Wed, 10 Feb 2021 18:52:26 GMT
- request:
    method: post
    uri: https://analyticsreporting.googleapis.com/v4/reports:batchGet
    body:
      encoding: UTF-8
      string: '{"reportRequests":[{"dateRanges":[{"endDate":"2021-01-31","startDate":"2021-01-01"}],"metrics":[{"expression":"ga:users"}],"viewId":"176188361"},{"dateRanges":[{"endDate":"2021-01-31","startDate":"2021-01-01"}],"dimensions":[{"name":"ga:deviceCategory"},{"name":"ga:screenResolution"}],"metrics":[{"expression":"ga:users"}],"orderBys":[{"fieldName":"ga:users","sortOrder":"DESCENDING"}],"pageSize":100,"viewId":"176188361"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "reports": [
            {
              "columnHeader": {
                "metricHeader": {
                  "metricHeaderEntries": [
                    {
                      "name": "ga:users",
                      "type": "INTEGER"
                    }
                  ]
                }
              },
              "data": {
                "rows": [
                  {
                    "metrics": [
                      {
                        "values": [
                          "12599714"
                        ]
                      }
                    ]
                  }
                ],
                "totals": [
                  {
                    "values": [
                      "12599714"
                    ]
                  }
                ],
                "rowCount": 1,
                "minimums": [
                  {
                    "values": [
                      "12599714"
                    ]
                  }
                ],
                "maximums": [
                  {
                    "values": [
                      "12599714"
                    ]
                  }
                ],
                "isDataGolden": true
              }
            },
            {
              "columnHeader": {
                "dimensions": [
                  "ga:deviceCategory",
                  "ga:screenResolution"
                ],
                "metricHeader": {
                  "metricHeaderEntries": [
                    {
                      "name": "ga:users",
                      "type": "INTEGER"
                    }
                  ]
                }
              },
              "data": {
     [...]
