---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1133902/addresses/status/d8cd4a73-6241-46fe-95a4-e0776f8f6f64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - 0466ac27-3123-40b5-97d6-8b5655c4995b
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"d8cd4a73-6241-46fe-95a4-e0776f8f6f64","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_FAILURE","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"addressId":13107,"addressType":"DOMESTIC","addressPOU":"CORRESPONDENCE","addressLine1":"hgjghjghj","cityName":"Springfield","stateCode":"VA","zipCode5":"22150","county":{},"countryName":"United
        States","sourceDate":"2019-10-21T18:32:31Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"1012740600V714187","effectiveStartDate":"2019-10-21T18:32:31.000Z","vet360Id":1133902},"txMessages":[{"code":"ADDRVAL112","key":"addressBio.AddressCouldNotBeFound","severity":"ERROR","text":"The
        Address could not be found"}]}'
  recorded_at: Tue, 22 Oct 2019 07:47:38 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/1133902/addresses/status/d8cd4a73-6241-46fe-95a4-e0776f8f6f64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - 16581eeb-157f-4bc4-bf0e-3d698c673eb8
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"d8cd4a73-6241-46fe-95a4-e0776f8f6f64","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_FAILURE","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"addressId":13107,"addressType":"DOMESTIC","addressPOU":"CORRESPONDENCE","addressLine1":"hgjghjghj","cityName":"Springfield","stateCode":"VA","zipCode5":"22150","county":{},"countryName":"United
        States","sourceDate":"2019-10-21T18:32:31Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"1012740600V714187","effectiveStartDate":"2019-10-21T18:32:31.000Z","vet360Id":1133902},"txMessages":[{"code":"ADDRVAL112","key":"addressBio.AddressCouldNotBeFound","severity":"ERROR","text":"The
        Address could not be found"}]}'
  recorded_at: Fri, 10 Jan 2020 20:54:27 GMT
recorded_with: VCR 5.0.0
