---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/addresses/status/0faf342f-5966-4d3f-8b10-5e9f911d07d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"0faf342f-5966-4d3f-8b10-5e9f911d07d2","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_SUCCESS","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"vet360Id":323,"addressType":"domestic","addressPOU":"RESIDENCE/CHOICE","addressLine1":"1493
        Martin Luther King Rd","cityName":"Fulton","stateCode":"MS","zipCode4":"38843","county":{},"countryName":"USA","sourceDate":"2018-04-09T17:52:03Z","originatingSourceSystem":"VETSGOV"},"txOutput":[{"vet360Id":323,"addressId":437,"addressType":"Domestic","addressPOU":"RESIDENCE/CHOICE","addressLine1":"1493
        Martin Luther King Rd","cityName":"Fulton","stateCode":"MS","zipCode5":"38843","zipCode4":"6920","countryName":"USA","countryCodeFIPS":"US","countryCodeISO2":"US","countryCodeISO3":"USA","confidenceScore":"88","latitude":"34.1989","longitude":"-88.5261","geocodePrecision":"31","geocodeDate":"2018-04-25T21:39:50Z","createDate":"2018-04-25T21:39:50Z","updateDate":"2018-04-25T21:39:50Z","txAuditId":"0faf342f-5966-4d3f-8b10-5e9f911d07d2","sourceSystem":"VETSGOV","sourceDate":"2018-04-09T17:52:03Z","originatingSourceSystem":"VETSGOV"}]}'
  recorded_at: Wed, 25 Apr 2018 21:45:04 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/1/addresses/status/0faf342f-5966-4d3f-8b10-5e9f911d07d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - 79f6023d-f779-4eed-8123-089ae5f5870d
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria 0faf342f-5966-4d3f-8b10-5e9f911d07d2 could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
  recorded_at: Fri, 10 Jan 2020 20:54:27 GMT
recorded_with: VCR 5.0.0
