---
http_interactions:
- request:
    method: put
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
    body:
      encoding: UTF-8
      string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-11-05T16:49:18.000Z","sourceSystemUser":"64762895576664260","permissionId":361,"vet360Id":"1","effectiveStartDate":"2019-11-05T16:49:18.000Z","effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - a1457a29-2248-439c-9f5b-52722dd821eb
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"d91951c6-3f55-4c39-8057-876f7f109cc5","status":"RECEIVED"}'
  recorded_at: Tue, 05 Nov 2019 16:49:18 GMT
recorded_with: VCR 3.0.3