---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/emails/status/d47b3d96-9ddd-42be-ac57-8e564aa38029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - edge-gateway:ENV-INT-DEV:8766
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "messages": [],
          "status": "COMPLETED_SUCCESS",
          "txAuditId": "d47b3d96-9ddd-42be-ac57-8e564aa38029",
          "txInteractionType": "string",
          "txMessages": [],
          "txOutput": [],
          "txPullInput": "string",
          "txPushInput": {},
          "txStatus": "COMPLETED_SUCCESS",
          "txType": "string"
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
