---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/emails/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "txAuditId" : "e8d6de72-d675-4251-b6fd-8048b0bd05d8",
          "status":"COMPLETED_SUCCESS",
          "txStatus":"COMPLETED_NO_CHANGES_DETECTED",
          "txType":"PUSH",
          "txInteractionType":"ATTENDED",
          "txPushInput":
          {
            "vet360Id":323,
            "emailId":507,
            "emailAddressText":"person43@example.com",
            "sourceSate":"2017-05-16T11:00:00Z",
            "originatingSourceSystem":"VETSGOV"
          },
          "txMessages":[
            { "code":"CORE104",
              "key":"_CUF_NO_CHANGES_DETECTED",
              "severity":"INFO",
              "text":"Your request was received and processed without error, however no differences were detected between current data and the data you sent.  This message is informational only, please verify your request if you believe you sent actual changes that should be applied."
            }
          ]
        }
  recorded_at: Wed, 25 Apr 2018 17:22:18 GMT
recorded_with: VCR 3.0.3
