---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/emails/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "txMessages": [
            {
              "code": "CORE103",
              "key": "_CUF_NOT_FOUND",
              "severity": "ERROR",
              "text": "The tx for id/criteria d47b3d96-9ddd-42be-ac57-8e564aa38029 could not be found. Please correct your request and try again!"
            }
          ],
          "status": "COMPLETED_FAILURE",
          "txAuditId": "786efe0e-fd20-4da2-9019-0c00540dba4d",
          "txInteractionType": "ATTENDED",
          "txOutput": [
            {
              "createDate": "2018-04-25T17:17:07Z",
              "emailAddressText": "person42@example.com",
              "emailId": 507,
              "originatingSourceSystem": "VETSGOV",
              "sourceDate": "2018-04-09T17:52:03Z",
              "sourceSystem": "VETSGOV",
              "txAuditId": "786efe0e-fd20-4da2-9019-0c00540dba4d",
              "updateDate": "2018-04-25T17:17:07Z",
              "vet360Id": 1
            }
          ],
          "txPushInput": {
            "emailAddressText": "person42@example.com",
            "originatingSourceSystem": "VETSGOV",
            "sourceDate": "2018-04-09T17:52:03Z",
            "vet360Id": 1
          },
          "txStatus": "COMPLETED_SUCCESS",
          "txType": "PUSH"
        }
  recorded_at: Wed, 25 Apr 2018 17:22:18 GMT
recorded_with: VCR 3.0.3
