---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/emails/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"786efe0e-fd20-4da2-9019-0c00540dba4d","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_SUCCESS","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"vet360Id":1,"emailAddressText":"person42@example.com","sourceDate":"2018-04-09T17:52:03Z","originatingSourceSystem":"VETSGOV"},"txOutput":[{"vet360Id":1,"emailId":507,"emailAddressText":"person42@example.com","createDate":"2018-04-25T17:17:07Z","updateDate":"2018-04-25T17:17:07Z","txAuditId":"786efe0e-fd20-4da2-9019-0c00540dba4d","sourceSystem":"VETSGOV","sourceDate":"2018-04-09T17:52:03Z","originatingSourceSystem":"VETSGOV"}]}'
  recorded_at: Wed, 25 Apr 2018 17:22:18 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/1/emails/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - 33f81f07-c154-4903-b276-7d78468b47f4
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria 786efe0e-fd20-4da2-9019-0c00540dba4d could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
  recorded_at: Fri, 10 Jan 2020 20:54:25 GMT
recorded_with: VCR 5.0.0
