---
http_interactions:
    - request:
          method: get
          uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/permissions/status/b1b06a34-c6a8-412e-82e7-df09d84862f3
          body:
              encoding: US-ASCII
              string: ''
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - a470caf5-bdd7-47eb-9884-c4076ae3ccbb
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string: '{"txAuditId":"b1b06a34-c6a8-412e-82e7-df09d84862f3","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_SUCCESS","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-11-05T16:49:18Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"78309878549739492","effectiveStartDate":"2019-11-05T16:49:18.000Z","vet360Id":1411684},"txOutput":[{"permissionId":401,"permissionType":"TextPermission","permissionValue":true,"createDate":"2019-11-22T17:58:31Z","updateDate":"2019-11-22T17:58:31Z","txAuditId":"b1b06a34-c6a8-412e-82e7-df09d84862f3","sourceSystem":"VETSGOV","sourceDate":"2019-11-05T16:49:18Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"78309878549739492","effectiveStartDate":"2019-11-05T16:49:18.000Z","vet360Id":1411684}]}'
      recorded_at: Fri, 22 Nov 2019 18:06:34 GMT
recorded_with: VCR 3.0.3
