---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/permissions/status/d47b3d96-9ddd-42be-ac57-8e564aa38029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - 00e55f1c-0e68-44e1-84fd-e76c8228a178
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria d47b3d96-9ddd-42be-ac57-8e564aa38029 could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
  recorded_at: Fri, 01 Nov 2019 20:43:20 GMT
recorded_with: VCR 3.0.3