---
http_interactions:
- request:
    method: get
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/123456"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      va-eauth-csid:
      - DSLogon
      va-eauth-authenticationmethod:
      - DSLogon
      va-eauth-pnidtype:
      - SSN
      va-eauth-assurancelevel:
      - '3'
      va-eauth-firstName:
      - abraham
      va-eauth-lastName:
      - lincoln
      va-eauth-issueinstant:
      - '2018-02-22T23:58:23Z'
      va-eauth-dodedipnid:
      - '7519464297'
      va-eauth-birlsfilenumber:
      - '1921355733'
      va-eauth-pid:
      - '8311011868'
      va-eauth-pnid:
      - '796111863'
      va-eauth-birthdate:
      - '1945-07-27T00:00:00+00:00'
      va-eauth-authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"796111863","edi":"7519464297","firstName":"abraham","lastName":"lincoln","birthDate":"1945-07-27T00:00:00+00:00"}}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "bio": {
            "addresses": [
              {
                "addressId": 0,
                "addressLine1": "string",
                "addressLine2": "string",
                "addressLine3": "string",
                "addressPOU": "RESIDENCE/CHOICE",
                "addressType": "string",
                "badAddressIndicator": "string",
                "cityName": "string",
                "confidenceScore": "string",
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "countryCodeFIPS": "string",
                "countryCodeISO2": "string",
                "countryCodeISO3": "string",
                "countryName": "string",
                "county": {
                  "countyCode": "string",
                  "countyName": "string"
                },
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "geocodeDate": "2018-04-05T13:39:48.039Z",
                "geocodePrecision": "string",
                "intPostalCode": "string",
                "latitude": "string",
                "longitude": "string",
                "originatingSourceSystem": "string",
                "overrideIndicator": false,
                "provinceName": "string",
                "sourceDate": "2018-04-05T13:39:48.039Z",
                "sourceSystem": "string",
                "sourceSystemUser": "string",
                "stateCode": "string",
                "txAuditId": "string",
                "updateDate": "2018-04-05T13:39:48.039Z",
                "vet360Id": 0,
                "zipCode4": "string",
                "zipCode5": "string"
              }
            ],
            "createDate": "2018-04-05T13:39:48.039Z",
            "emails": [
              {
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "emailAddressText": "john@example.com",
                "emailId": 0,
                "emailPermInd": true,
                "emailStatusCode": "NO_KNOWN_PROBLEM",
                "originatingSourceSystem": "string",
                "sourceDate": "2018-04-05T13:39:48.039Z",
                "sourceSystem": "string",
                "sourceSystemUser": "string",
                "txAuditId": "string",
                "updateDate": "2018-04-05T13:39:48.039Z",
                "vet360Id": 0
              },
              {
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "emailAddressText": "jack@example.com",
                "emailId": 0,
                "emailPermInd": true,
                "emailStatusCode": "NO_KNOWN_PROBLEM",
                "originatingSourceSystem": "string",
                "sourceDate": "2018-04-05T13:39:48.039Z",
                "sourceSystem": "string",
                "sourceSystemUser": "string",
                "txAuditId": "string",
                "updateDate": "2018-04-05T13:39:48.039Z",
                "vet360Id": 0
              }
            ],
            "originatingSourceSystem": "string",
            "sourceDate": "2018-04-05T13:39:48.039Z",
            "sourceSystem": "string",
            "sourceSystemUser": "string",
            "telephones": [
              {
                "areaCode": "303",
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "connectionStatusCode": "NO_KNOWN_PROBLEM",
                "countryCode": "string",
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "internationalIndicator": true,
                "originatingSourceSystem": "string",
                "phoneNumber": "5551234",
                "phoneNumberExt": "string",
                "phoneType": "MOBILE",
                "sourceDate": "2018-04-05T13:39:48.039Z",
                "sourceSystem": "string",
                "sourceSystemUser": "string",
                "telephoneId": 0,
                "textMessageCapableInd": true,
                "textMessagePermInd": true,
                "ttyInd": true,
                "txAuditId": "string",
                "updateDate": "2018-04-05T13:39:48.039Z",
                "vet360Id": 0,
                "voiceMailAcceptableInd": true
              },
              {
                "areaCode": "303",
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "connectionStatusCode": "NO_KNOWN_PROBLEM",
                "countryCode": "string",
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "internationalIndicator": true,
                "originat[...]
