---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Application-Context:
      - edge-gateway:ENV-INT-DEV:8766
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
        "messages": [
          {
            "code": "CORE103",
            "key": "_CUF_NOT_FOUND",
            "severity": "ERROR",
            "text": "The PersonBio for id/criteria mdm.cuf.person.bio.PersonBio@a7ecb8b[vet360Id=123456,addresses=[],telephones=[],emails=[],createDate=<null>,updateDate=<null>,txAuditId=<null>,sourceSystem=<null>,sourceDate=<null>,originatingSourceSystem=<null>,sourceSystemUser=<null>] could not be found. Please correct your request and try again!"
          }
        ],
        "txAuditId": "f062d5e8-bd73-4fe7-a699-5fd55d8900a9",
        "status": "COMPLETED_FAILURE"
      }'
  recorded_at: Fri, 13 Apr 2018 21:11:24 GMT
