---
http_interactions:
- request:
    method: get
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/123456"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      cufSystemName:
        - VETSGOV
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Application-Context:
        - edge-gateway:ENV-QA:8766
      Content-Type:
        - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "messages": [
            {
              "code": "CORE103"
              "key": "_CUF_NOT_FOUND",
              "potentiallySelfCorrectingOnRetry": true,
              "severity": "INFO",
              "text": "The {0} for id/criteria {1} could not be found. Please correct your request and try again!"
            }
          ],
          "status": "REJECTED",
          "txAuditId": "string"
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
