---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "txAuditId": "786efe0e-fd20-4da2-9019-0c00540dba4d",
          "status": "COMPLETED_SUCCESS",
          "txStatus": "COMPLETED_SUCCESS",
          "txType": "PUSH",
          "txInteractionType": "ATTENDED",
          "txPushInput": {
            "sourceDate": "2018-04-09T17:52:03Z"
          },
          "txOutput": [
            {
              "vet360Id": 1,
              "txAuditId": "786efe0e-fd20-4da2-9019-0c00540dba4d",
              "sourceSystem": "VETSGOV",
              "createDate": "2018-04-09T17:52:03Z",
              "updateDate": "2018-04-09T17:52:03Z",
              "sourceDate": "2018-04-09T17:52:03Z"
            }
          ]
        }
  recorded_at: Wed, 25 Apr 2018 17:22:18 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/status/786efe0e-fd20-4da2-9019-0c00540dba4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - 47ed79bb-aaec-4092-a49b-f8422b796472
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria 786efe0e-fd20-4da2-9019-0c00540dba4d could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
  recorded_at: Fri, 10 Jan 2020 20:54:29 GMT
recorded_with: VCR 5.0.0
