---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/status/d47b3d96-9ddd-42be-ac57-8e564aa38029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "messages": [
            {
              "code": "PERS200",
              "key": "_CUF_NOT_FOUND",
              "severity": "ERROR",
              "text": "The veteran with the id requested has already been created."
            }
          ],
          "status": "COMPLETED_FAILURE"
        }
  recorded_at: Wed, 25 Apr 2018 17:22:18 GMT
recorded_with: VCR 3.0.3
