---
http_interactions:
- request:
    method: get
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/123456"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      cufSystemName:
      - VETSGOV
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
        - edge-gateway:ENV-QA:8766
      Content-Type:
        - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1",
          "status": "COMPLETED_SUCCESS",
          "bio": {
            "vet360Id": 1,
            "addresses": [
              {
                "addressId": 0,
                "addressLine1": "string",
                "addressLine2": "string",
                "addressLine3": "string",
                "addressPOU": "RESIDENCE/CHOICE",
                "addressType": "string",
                "badAddressIndicator": "string",
                "cityName": "string",
                "confidenceScore": "string",
                "confirmationDate": "2018-04-05T13:39:48.039Z",
                "countryCodeFIPS": "string",
                "countryCodeISO2": "string",
                "countryCodeISO3": "string",
                "countryName": "string",
                "county": {
                  "countyCode": "string",
                  "countyName": "string"
                },
                "createDate": "2018-04-05T13:39:48.039Z",
                "effectiveEndDate": "2018-04-05T13:39:48.039Z",
                "effectiveStartDate": "2018-04-05T13:39:48.039Z",
                "geocodeDate": "2018-04-05T13:39:48.039Z",
                "geocodePrecision": "string",
                "intPostalCode": "string",
                "latitude": "string",
                "longitude": "string",
                "originatingSourceSystem": "string",
                "overrideIndicator": false,
                "provinceName": "string",
                "sourceDate": "2018-04-05T13:39:48.039Z",
                "sourceSystem": "string",
                "sourceSystemUser": "string",
                "stateCode": "string",
                "txAuditId": "string",
                "updateDate": "2018-04-05T13:39:48.039Z",
                "vet360Id": 0,
                "zipCode4": "string",
                "zipCode5": "string"
              }
            ],
            "telephones": [
              {
                "vet360Id": 1,
                "telephoneId": 1,
                "internationalIndicator": false,
                "phoneType": "MOBILE",
                "countryCode": "1",
                "areaCode": "903",
                "phoneNumber": "2349999",
                "createDate": "2018-03-30T18:06:09Z",
                "updateDate": "2018-03-30T18:06:09Z",
                "txAuditId": "0bcd45d0-dd74-41e6-92c4-e71f47aff144",
                "sourceSystem": "VHAES",
                "sourceDate": "2018-03-30T19:05:06Z",
                "sourceSystemUser": "VAMC-987",
                "effectiveStartDate": "2018-03-30T19:05:06Z"
              },
              {
                "vet360Id": 1,
                "telephoneId": 83,
                "internationalIndicator": false,
                "phoneType": "HOME",
                "countryCode": "1",
                "areaCode": "301",
                "phoneNumber": "9856251",
                "connectionStatusCode": "NO_KNOWN_PROBLEM",
                "textMessageCapableInd": true,
                "textMessagePermInd": true,
                "voiceMailAcceptableInd": true,
                "ttyInd": true,
                "createDate": "2018-04-03T20:09:42Z",
                "updateDate": "2018-04-03T20:09:42Z",
                "txAuditId": "aafb98b3-2644-4b55-8bdc-1dbe711f2198",
                "sourceSystem": "VET360-TEST-PARTNER",
                "sourceDate": "2018-04-03T17:37:15Z",
                "originatingSourceSystem": "VETSGOV",
                "sourceSystemUser": "Key-Test",
                "effectiveStartDate": "2018-04-03T17:37:15Z",
                "confirmationDate": "2018-04-03T17:37:15Z"
              }
            ],
            "emails": [
              {
                "vet360Id": 1,
                "emailId": 1,
                "emailAddressText": "email@google.com",
                "createDate": "2018-03-30T18:15:27Z",
                "updateDate": "2018-03-30T18:15:27Z",
                "txAuditId": "8c108b0b-dae1-4ccd-9d80-9180e1759f8a",
                "sourceSystem": "VET360-TEST-PARTNER",
                "sourceDate": "2018-03-30T18:15:24Z"
              }
            ],
            "createDate": "2018-03-30T18:06:09Z",
            "updateDate": "2018-03-30T18:06:09Z",
            "txAuditId": "0bcd45d0-dd74-41e6-92c4-e71f47aff144",
            "sourceSystem": "VHAES",
            "sourceDate": "2018-03-30T19:05:06Z",
            "sourceSystemUser": "VAMC-987"
          }
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
