---
http_interactions:
- request:
    method: post
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails"
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      cufSystemName:
      - VETSGOV
  response:
    status:
      code: 400 # @TODO Who knows what they'll actually send. this should technically be 409
      message: Bad Request #@TODO ^
    headers:
      X-Application-Context:
        - edge-gateway:ENV-QA:8766
      # Expires:
      #   - 0
      # X-Content-Type-Options:
      #   - nosniff
      # X-XSS-Protection:
      #   - 1; mode=block
      # X-Frame-Options:
      #   - DENY
      # Cache-Control:
      #   - no-cache, no-store, max-age=0, must-revalidate
      # Pragma:
      #   - no-cache
      # X-UA-Compatible:
      #   - IE-edge,chrome=1
      # Content-Type:
      #   - application/json;charset=UTF-8
      # Transfer-Encoding:
      #   - chunked
    body:
      encoding: UTF-8
      string: |-
        {
          "bio": {
            "confirmationDate": "2018-04-10T20:08:52.008Z",
            "createDate": "2018-04-10T20:08:52.008Z",
            "effectiveEndDate": "2018-04-10T20:08:52.008Z",
            "effectiveStartDate": "2018-04-10T20:08:52.008Z",
            "emailAddressText": "someone@example.com",
            "emailId": 0,
            "emailPermInd": true,
            "emailStatusCode": "NO_KNOWN_PROBLEM",
            "originatingSourceSystem": "SOMEWHERE",
            "sourceDate": "2018-04-10T20:08:52.008Z",
            "sourceSystem": "SOMETHING",
            "sourceSystemUser": "SOMEONE",
            "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1",
            "updateDate": "2018-04-10T20:08:52.008Z",
            "vet360Id": 0
          },
          "messages": [
            {
              "code": "EMAIL301",
              "key": "EmailAddressType",
              "potentiallySelfCorrectingOnRetry": true,
              "severity": "ERROR",
              "text": "Can not insert a record for an email address that already exists. Pull the email record and update it using the emailId provided."
            }
          ],
          "status": "COMPLETED_FAILURE",
          "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1"
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
