---
http_interactions:
- request:
    method: post
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/telephones"
    body:
      encoding: US-ASCII
      string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":null,"phoneNumber":"5551234","phoneNumberExt":null,"phoneType":"MOBILE","telephoneId":42,"ttyInd":true,"vet360Id":"1","voiceMailAcceptableInd":true}}'

    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV

  response:
    status:
      code: 400
      message: OK
    headers:
      X-Application-Context:
      - edge-gateway:ENV-INT-DEV:8766
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "bio": {
            "vet360Id": 1,
            "addressId": 1,
            "addressType": "Domestic",
            "addressPOU": "CORRESPONDENCE",
            "badAddressIndicator": "N",
            "addressLine1": "123 Wasted Lane",
            "cityName": "Washington",
            "stateCode": "DC",
            "zipCode5": "20420",
            "zipCode4": "0001",
            "confidenceScore": "100",
            "latitude": "38.901",
            "longitude": "-77.0347",
            "geocodePrecision": "0",
            "geocodeDate": "2018-04-13T17:01:18Z",
            "createDate": "2018-04-09T23:33:18Z",
            "updateDate": "2018-04-13T17:01:20Z",
            "txAuditId": "af528bdf-09d1-4de4-8238-800949684d42",
            "sourceSystem": "VBACORP",
            "sourceDate": "2018-04-13T09:24:56Z",
            "originatingSourceSystem": "VET360Test",
            "sourceSystemUser": "VAEBENEFITS",
            "effectiveStartDate": "2018-04-13T09:24:56Z"
          },
          "messages": [{
            "code": "PHON124",
            "key": "telephoneId.Null",
            "potentiallySelfCorrectingOnRetry": false,
            "severity": "ERROR",
            "text": "must be null"
          }],
          "status": "REJECTED",
          "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1"
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
