---
http_interactions:
    - request:
          method: post
          uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-09-23T11:52:03.000-06:00","sourceSystemUser":"1234","permissionId":401,"vet360Id":"1411684","effectiveStartDate":null,"effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 400
              message: ''
          headers:
              Vet360txauditid:
                  - 71d0ef3c-59a5-4503-8edc-d8d5cc4ddf2d
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string:
                  '{"messages":[{"code":"PERM101""key":"permissionId.Null","severity":"ERROR","text":"must
                  be null"}],"txAuditId":"fcf08ab4-cb0a-4b31-b56b-7eabd2ca4dc7","status":"REJECTED"}'
      recorded_at: Mon, 25 Nov 2019 22:04:57 GMT
recorded_with: VCR 3.0.3
