---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":42,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"EMAIL200","key":"emailId.Null","severity":"ERROR","text":"must
        be null"}],"txAuditId":"3773cd41-0958-4bbe-a035-16ae353cde03","status":"REJECTED"}'
  recorded_at: Wed, 25 Apr 2018 16:39:14 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":42,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Vet360txauditid:
      - cdb846ad-f3e7-46e4-b03a-43537ab1cee0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"EMAIL200","key":"emailId.Null","severity":"ERROR","text":"must
        be null"}],"txAuditId":"5604e15d-4d86-4e96-9ef1-4251ea469376","status":"REJECTED"}'
  recorded_at: Fri, 10 Jan 2020 20:54:36 GMT
recorded_with: VCR 5.0.0
