---
http_interactions:
    - request:
          method: post
          uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-11-05T16:49:18.000Z","sourceSystemUser":"69983515349476277","permissionId":null,"vet360Id":"1411684","effectiveStartDate":"2019-11-05T16:49:18.000Z","effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - 47149b7c-55b8-4e85-81dd-91efa0fa76e1
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string: '{"txAuditId":"143430cc-e1c4-48b7-be9a-edbfad5e4514","status":"RECEIVED"}'
      recorded_at: Tue, 05 Nov 2019 16:49:18 GMT
recorded_with: VCR 3.0.3
