---
http_interactions:
- request:
    method: post
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails"
    body:
      encoding: US-ASCII
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":null,"originatingSourceSystem":null,"sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - edge-gateway:ENV-INT-DEV:8766
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "bio": {
            "confirmationDate": "2018-04-10T20:08:52.008Z",
            "createDate": "2018-04-10T20:08:52.008Z",
            "effectiveEndDate": "2018-04-10T20:08:52.008Z",
            "effectiveStartDate": "2018-04-10T20:08:52.008Z",
            "emailAddressText": "someone@example.com",
            "emailId": 0,
            "emailPermInd": true,
            "emailStatusCode": "NO_KNOWN_PROBLEM",
            "originatingSourceSystem": "SOMEWHERE",
            "sourceDate": "2018-04-10T20:08:52.008Z",
            "sourceSystem": "SOMETHING",
            "sourceSystemUser": "SOMEONE",
            "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1",
            "updateDate": "2018-04-10T20:08:52.008Z",
            "vet360Id": 0
          },
          "messages": [
            {
              "code": "string",
              "key": "string",
              "potentiallySelfCorrectingOnRetry": true,
              "severity": "INFO",
              "text": "A message"
            }
          ],
          "status": "COMPLETED_SUCCESS",
          "txAuditId": "7f441880-173f-4deb-aa8b-c26b794eb3e1"
        }
  recorded_at: Thu, 22 Feb 2018 23:58:38 GMT
recorded_with: VCR 3.0.3
