---
http_interactions:
    - request:
          method: post
          uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-09-23T11:52:03.000-06:00","sourceSystemUser":"1234","permissionId":null,"vet360Id":"1411684","effectiveStartDate":null,"effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - e10dcd21-b6e6-4bf4-8b18-9d97dc8e4cea
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string: '{"txAuditId":"b1b06a34-c6a8-412e-82e7-df09d84862f3","status":"RECEIVED"}'
      recorded_at: Fri, 13 Dec 2019 19:48:56 GMT
recorded_with: VCR 3.0.3
