---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"786efe0e-fd20-4da2-9019-0c00540dba4d","status":"RECEIVED"}'
  recorded_at: Wed, 25 Apr 2018 17:17:06 GMT
recorded_with: VCR 3.0.3
