---
http_interactions:
    - request:
          method: post
          uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-09-23T11:52:03.000-06:00","sourceSystemUser":"1234","permissionId":null,"vet360Id":"1411684","effectiveStartDate":null,"effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - 57f15a85-b0eb-4ff2-abc3-b0894c32b5c7
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string: '{"txAuditId":"c851076a-c122-41d5-a75e-d16a8cf74042","status":"RECEIVED"}'
      recorded_at: Tue, 26 Nov 2019 22:24:28 GMT
recorded_with: VCR 3.0.3
