---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"786efe0e-fd20-4da2-9019-0c00540dba4d","status":"RECEIVED"}'
  recorded_at: Wed, 25 Apr 2018 17:17:06 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - ec82c9e2-0df6-4820-b412-d818591b0652
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"d1018742-9df9-467f-88b6-f7af9e2c9894","status":"RECEIVED"}'
  recorded_at: Fri, 10 Jan 2020 20:54:36 GMT
recorded_with: VCR 5.0.0
