---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/telephones
    body:
      encoding: UTF-8
      string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":null,"phoneNumber":"5551234","phoneNumberExt":null,"phoneType":"MOBILE","telephoneId":42,"ttyInd":true,"vet360Id":"1","voiceMailAcceptableInd":true}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"PHON124","key":"telephoneId.Null","severity":"ERROR","text":"must
        be null"}],"txAuditId":"e7d665e4-2d84-4bce-8d58-09072fc99de4","status":"REJECTED"}'
  recorded_at: Wed, 25 Apr 2018 17:01:24 GMT
recorded_with: VCR 3.0.3
