---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
    body:
      encoding: UTF-8
      string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-09-23T11:52:03.000-06:00","sourceSystemUser":"1234","permissionId":42,"vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Vet360txauditid:
      - b68afc78-8bc1-4f5f-8641-c18b97db9ed6
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"key":"permissionId.Null","severity":"ERROR","text":"must
        be null"}],"txAuditId":"2da0d8b9-316f-42bc-98a8-f3c8bb8aa383","status":"REJECTED"}'
  recorded_at: Sat, 02 Nov 2019 01:26:09 GMT
recorded_with: VCR 3.0.3