---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/telephones
    body:
      encoding: UTF-8
      string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":"VETSGOV","phoneNumber":"5551235","phoneNumberExt":null,"phoneType":"MOBILE","sourceDate":"2018-04-09T11:52:03.000-06:00","sourceSystemUser":"1234","telephoneId":1299,"textMessageCapableInd":true,"textMessagePermInd":true,"ttyInd":true,"vet360Id":"1","voiceMailAcceptableInd":true,"effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"6e1e4e54-e851-4f5e-a2bf-eec0b17738f1","status":"RECEIVED"}'
  recorded_at: Wed, 25 Apr 2018 21:32:21 GMT
- request:
    method: put
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/telephones
    body:
      encoding: UTF-8
      string: '{"bio":{"areaCode":"303","countryCode":"1","internationalIndicator":false,"originatingSourceSystem":"VETSGOV","phoneNumber":"5551235","phoneNumberExt":null,"phoneType":"MOBILE","sourceDate":"2018-04-09T11:52:03.000-06:00","sourceSystemUser":"1234","telephoneId":1299,"textMessageCapableInd":true,"textMessagePermInd":true,"ttyInd":true,"vet360Id":"1","voiceMailAcceptableInd":true,"effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Vet360txauditid:
      - 1e4aceb5-ddeb-4533-81e4-2bb713f9c408
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE110","key":"_CUF_SOURCE_DATE_VERSION_VIOLATION","severity":"WARN","text":"Source
        dates are outdated for Type TelephoneDio with a ID of 1299.  Previous source
        date was 2018-05-04 15:16:58.0 but received new source date of Mon Apr 09
        17:52:03 UTC 2018.  Source dates may not be null, and new must be greater
        than the previous.  Please correct your request and try again!"},{"code":"PERS100","key":"vet360Id.MustMatch","severity":"ERROR","text":"The
        vet360Id in the person contact sub-bio(s) must match the vet360Id in the Person
        bio."},{"code":"CORE104","key":"_CUF_NO_CHANGES_DETECTED","severity":"INFO","text":"Your
        request was received and processed without error, however no differences were
        detected between current data and the data you sent.  This message is informational
        only, please verify your request if you believe you sent actual changes that
        should be applied."}],"txAuditId":"bffd7185-47e8-4b63-b42e-767d9df4472e","status":"COMPLETED_NO_CHANGES_DETECTED"}'
  recorded_at: Fri, 10 Jan 2020 20:54:28 GMT
recorded_with: VCR 5.0.0
