---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/addresses
    body:
      encoding: UTF-8
      string: '{"bio":{"addressId":108347,"addressLine1":"1226 IMPERIAL BEND DR","addressLine2":null,"addressLine3":null,"addressPOU":"CORRESPONDENCE","addressType":"DOMESTIC","cityName":"HOUSTON","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"TX","zipCode5":"77073","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2019-10-29T01:12:06.000Z","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null,"validationKey":338234938,"overrideIndicator":true}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - bc039753-aa2e-4e59-b555-290fadd7b225
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"ba427f0a-dcab-475a-8137-71223d008048","status":"RECEIVED"}'
  recorded_at: Tue, 29 Oct 2019 01:12:06 GMT
recorded_with: VCR 3.0.3
