---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/addresses
    body:
      encoding: UTF-8
      string: '{"bio":{"addressId":108347,"addressLine1":"1494 Martin Luther King
        Rd","addressLine2":"c/o foo","addressLine3":null,"addressPOU":"CORRESPONDENCE","addressType":"DOMESTIC","cityName":"Fulton","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"MS","zipCode5":"38843","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2019-10-29T01:59:37.000Z","vet360Id":"1","effectiveStartDate":"2019-10-29T01:59:37.000Z","effectiveEndDate":null,"validationKey":713117306,"overrideIndicator":true}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - ee3a1097-4b89-4d8c-8ca0-d714b89711d9
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"2e8a9043-dec2-4a4e-bf77-186e46773ffa","status":"RECEIVED"}'
  recorded_at: Tue, 29 Oct 2019 01:59:37 GMT
recorded_with: VCR 3.0.3
