---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
    body:
      encoding: UTF-8
      string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-09-23T11:52:03.000-06:00","sourceSystemUser":"1234","permissionId":1299,"vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - f8dd21e2-168b-4fcf-a79b-e3374d0cb98b
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        PermissionBio for id/criteria 1,299 could not be found. Please correct your
        request and try again!"}],"txAuditId":"fd430554-6b1e-4da8-8cc6-06ea6e76e941","status":"REJECTED"}'
  recorded_at: Sat, 02 Nov 2019 01:39:30 GMT
recorded_with: VCR 3.0.3