---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":42,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"0b6344e3-3348-419c-bad9-c1a634e3d621","status":"RECEIVED"}'
  recorded_at: Wed, 25 Apr 2018 18:16:06 GMT
- request:
    method: put
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":42,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - c292bf55-7605-4c46-9b85-c2e460c36b36
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        EmailBio for id/criteria 42 could not be found. Please correct your request
        and try again!"}],"txAuditId":"a4ff663b-bdb5-4c88-90fb-d19ad00f9fb1","status":"REJECTED"}'
  recorded_at: Fri, 10 Jan 2020 20:54:34 GMT
recorded_with: VCR 5.0.0
