---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/addresses
    body:
      encoding: UTF-8
      string: '{"bio":{"addressId":108347,"addressLine1":"1494 Martin Luther King
        Rd","addressLine2":"c/o foo","addressLine3":null,"addressPOU":"CORRESPONDENCE","addressType":"DOMESTIC","cityName":"Fulton","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"MS","zipCode5":"38843","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2019-10-29T01:59:37.000Z","vet360Id":"1","effectiveStartDate":"2019-10-29T01:59:37.000Z","effectiveEndDate":null,"validationKey":713117306,"overrideIndicator":true}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - 20883a1a-d3c0-4772-9e85-7a6f140ee442
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE110","key":"_CUF_SOURCE_DATE_VERSION_VIOLATION","severity":"WARN","text":"Source
        dates are outdated for Type AddressDio with a ID of 108347.  Previous source
        date was 2019-12-06 15:22:44.0 but received new source date of Tue Oct 29
        01:59:37 UTC 2019.  Source dates may not be null, and new must be greater
        than the previous.  Please correct your request and try again!"},{"code":"CORE104","key":"_CUF_NO_CHANGES_DETECTED","severity":"INFO","text":"Your
        request was received and processed without error, however no differences were
        detected between current data and the data you sent.  This message is informational
        only, please verify your request if you believe you sent actual changes that
        should be applied."}],"txAuditId":"1b5b82e7-909d-4ccc-a2db-ad60f1b502cf","status":"COMPLETED_NO_CHANGES_DETECTED"}'
  recorded_at: Tue, 29 Oct 2019 01:59:37 GMT
recorded_with: VCR 5.0.0
