---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/addresses
    body:
      encoding: UTF-8
      string: '{"bio":{"addressId":437,"addressLine1":"1494 Martin Luther King Rd","addressLine2":null,"addressLine3":null,"addressPOU":"RESIDENCE/CHOICE","addressType":"DOMESTIC","cityName":"Fulton","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"MS","zipCode5":"38843","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"2c8c1b3b-1b1c-416c-bc91-a9fb4f79291f","status":"RECEIVED"}'
  recorded_at: Thu, 26 Apr 2018 20:08:06 GMT
- request:
    method: put
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/contact-information-hub/cuf/contact-information/v1/addresses
    body:
      encoding: UTF-8
      string: '{"bio":{"addressId":437,"addressLine1":"1494 Martin Luther King Rd","addressLine2":null,"addressLine3":null,"addressPOU":"RESIDENCE/CHOICE","addressType":"DOMESTIC","cityName":"Fulton","countryCodeISO2":null,"countryCodeISO3":"USA","countryName":"USA","county":{"countyCode":null,"countyName":null},"intPostalCode":null,"provinceName":null,"stateCode":"MS","zipCode5":"38843","zipCode4":null,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-04-09T11:52:03.000-06:00","vet360Id":"1","effectiveStartDate":null,"effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 400
      message: ''
    headers:
      Vet360txauditid:
      - 7c7d13de-7941-475e-ae0c-a7f9128206f6
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE110","key":"_CUF_SOURCE_DATE_VERSION_VIOLATION","severity":"WARN","text":"Source
        dates are outdated for Type AddressDio with a ID of 437.  Previous source
        date was 2018-07-18 20:47:38.0 but received new source date of Mon Apr 09
        17:52:03 UTC 2018.  Source dates may not be null, and new must be greater
        than the previous.  Please correct your request and try again!"},{"code":"PERS100","key":"vet360Id.MustMatch","severity":"ERROR","text":"The
        vet360Id in the person contact sub-bio(s) must match the vet360Id in the Person
        bio."},{"code":"CORE104","key":"_CUF_NO_CHANGES_DETECTED","severity":"INFO","text":"Your
        request was received and processed without error, however no differences were
        detected between current data and the data you sent.  This message is informational
        only, please verify your request if you believe you sent actual changes that
        should be applied."}],"txAuditId":"61d382a4-7388-4faf-bd64-640440ec685f","status":"COMPLETED_NO_CHANGES_DETECTED"}'
  recorded_at: Fri, 10 Jan 2020 20:54:32 GMT
recorded_with: VCR 5.0.0
