---
http_interactions:
    - request:
          method: put
          uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-11-05T16:49:18.000Z","sourceSystemUser":"99894064981269761","permissionId":401,"vet360Id":"1411684","effectiveStartDate":"2019-11-05T16:49:18.000Z","effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - bb6126a5-8e78-4930-86ea-05d0a4b5a221
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string:
                  '{"messages":[{"code":"CORE104","key":"_CUF_NO_CHANGES_DETECTED","severity":"INFO","text":"Your
                  request was received and processed without error, however no differences were
                  detected between current data and the data you sent.  This message is informational
                  only, please verify your request if you believe you sent actual changes that
                  should be applied."}],"txAuditId":"f5df243e-38ec-486e-a7de-cdd73ba244e4","status":"COMPLETED_NO_CHANGES_DETECTED"}'
      recorded_at: Tue, 05 Nov 2019 16:49:18 GMT
recorded_with: VCR 3.0.3
