---
http_interactions:
    - request:
          method: put
          uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4433/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/permissions
          body:
              encoding: UTF-8
              string: '{"bio":{"originatingSourceSystem":"VETSGOV","permissionType":"TextPermission","permissionValue":true,"sourceDate":"2019-11-05T16:49:18.000Z","sourceSystemUser":"1234","permissionId":401,"vet360Id":"1411684","effectiveStartDate":"2019-11-05T16:49:18.000Z","effectiveEndDate":null}}'
          headers:
              Content-Type:
                  - application/json
              Cufsystemname:
                  - VETSGOV
      response:
          status:
              code: 200
              message: ''
          headers:
              Vet360txauditid:
                  - 5f168d2e-4a51-4a2b-a427-c548913964a3
              Content-Type:
                  - application/json;charset=UTF-8
          body:
              encoding: UTF-8
              string:
                  '{"messages":[{"code":"CORE104","key":"_CUF_NO_CHANGES_DETECTED","severity":"INFO","text":"Your
                  request was received and processed without error, however no differences were
                  detected between current data and the data you sent.  This message is informational
                  only, please verify your request if you believe you sent actual changes that
                  should be applied."}],"txAuditId":"c7a4cb23-98cb-426a-a42d-c3329fd5bd6e","status":"COMPLETED_NO_CHANGES_DETECTED"}'
      recorded_at: Tue, 05 Nov 2019 16:49:18 GMT
recorded_with: VCR 3.0.3
