---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/person-mdm-cuf-person-hub/cuf/person/contact-information/v1/1/telephones/status/a50193df-f4d5-4b6a-b53d-36fed2db1a15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"a50193df-f4d5-4b6a-b53d-36fed2db1a15","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_SUCCESS","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"vet360Id":323,"internationalIndicator":false,"phoneType":"MOBILE","countryCode":"1","areaCode":"303","phoneNumber":"5551234","voiceMailAcceptableInd":true,"ttyInd":true,"sourceDate":"2018-04-25T18:45:30Z"},"txOutput":[{"vet360Id":323,"telephoneId":1299,"internationalIndicator":false,"phoneType":"MOBILE","countryCode":"1","areaCode":"303","phoneNumber":"5551234","voiceMailAcceptableInd":true,"ttyInd":true,"createDate":"2018-04-25T18:46:46Z","updateDate":"2018-04-25T18:46:46Z","txAuditId":"a50193df-f4d5-4b6a-b53d-36fed2db1a15","sourceSystem":"VETSGOV","sourceDate":"2018-04-25T18:45:30Z"}]}'
  recorded_at: Wed, 25 Apr 2018 21:05:50 GMT
recorded_with: VCR 3.0.3
