---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/1/telephones/status/e0c79288-ce0b-43b5-adb0-94c8ff667da5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Vet360txauditid:
      - 0637c377-ee08-4b27-ab11-19bbd24176e1
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"e0c79288-ce0b-43b5-adb0-94c8ff667da5","status":"COMPLETED_SUCCESS","txStatus":"COMPLETED_FAILURE","txType":"PUSH","txInteractionType":"ATTENDED","txPushInput":{"internationalIndicator":false,"phoneType":"MOBILE","countryCode":"1","areaCode":"303","phoneNumber":"5551234","textMessageCapableInd":true,"textMessagePermInd":true,"voiceMailAcceptableInd":true,"ttyInd":true,"sourceDate":"2018-04-09T17:52:03Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","vet360Id":1},"txMessages":[{"code":"PHON301","key":"TelephoneType","severity":"ERROR","text":"Cannot
        insert a record for a phone type that already exists. Pull the phone record
        and update it using the telphoneId provided."}]}'
  recorded_at: Tue, 14 Jan 2020 07:34:47 GMT
recorded_with: VCR 5.0.0
