---
http_interactions:
- request:
    method: get
    uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/1/telephones/status/a50193df-f4d5-4b6a-b53d-36fed2db1a15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 404
      message: ''
    headers:
      Vet360txauditid:
      - '079f0fc8-27a2-47d1-8948-ddedd012dd91'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"CORE103","key":"_CUF_NOT_FOUND","severity":"ERROR","text":"The
        tx for id/criteria a50193df-f4d5-4b6a-b53d-36fed2db1a15 could not be found.
        Please correct your request and try again!"}],"status":"COMPLETED_FAILURE"}'
  recorded_at: Fri, 10 Jan 2020 20:54:34 GMT
recorded_with: VCR 5.0.0
