---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/disability_rating/1008596379V859838
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblahblah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
  "data": {
    "id": "1012592956V095840",
    "type": "disability_ratings",
    "attributes": {
      "combined_disability_rating": 100,
      "combined_effective_date": "2019-01-01",
      "legal_effective_date": "2018-12-31",
      "individual_ratings": [
        {
          "decision": "Service Connected",
          "effective_date": "2005-01-01",
          "rating_end_date": null,
          "rating_percentage": 100,
          "diagnostic_type_code": "6100",
          "diagnostic_type_name": "6100-Hearing loss",
          "diagnostic_text": "Hearing Loss",
          "disability_rating_id": "1128271"
        },
        {
          "decision": "Service Connected",
          "effective_date": "2018-12-21",
          "rating_end_date": "2018-12-31",
          "rating_percentage": 10,
          "diagnostic_type_code": "9201",
          "diagnostic_type_name": "Schizophrenia, disorganized type",
          "diagnostic_text": "mental disorder",
          "disability_rating_id": "1129228"
        },
        {
          "decision": "Service Connected",
          "effective_date": "2012-05-[...]
