---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/disability_rating/1008596379V859838
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblech
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '42'
      X-Ratelimit-Limit-Minute:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "timestamp": "2023-02-13T17:38:36.551+00:00",
  "status": "400",
  "error": "Bad Request",
  "path": "/veteran_verification/v2/disability_rating"
}'
  recorded_at: Wed, 03 May 2023 19:59:49 GMT
recorded_with: VCR 6.1.0
