---
http_interactions:
- request:
    method: post
    uri: https://api.wellhive.com/care-navigation/v1/drive-times
    body:
      encoding: UTF-8
      string: '{"destinations":{"9mN718pH":{"latitude":28.08061,"longitude":-80.60322}},"origin":{"latitude":38.901,"longitude":-77.0347}}'
    headers:
      Content-Type:
        - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Wellhive-Trace-Id:
        - cab5b367bdd140ffb7c3a93edd26d666
    body:
      encoding: UTF-8
      string: '{"origin":{"latitude":40.7128,"longitude":-74.006},"destinations":{"9mN718pH":{"distanceInMiles":313,"driveTimeInSecondsWithoutTraffic":19096,"driveTimeInSecondsWithTraffic":19561,"latitude":44.475883,"longitude":-73.212074}}}'
  recorded_at: Sat, 11 Jan 2025 23:00:46 GMT
recorded_with: VCR 6.3.1
