---
http_interactions:
- request:
    method: post
    uri: https://fake-carma.salesforce.com/services/oauth2/token
    body:
      encoding: UTF-8
      string: assertion=<GENERATED_JWT_TOKEN>&grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D350000008uALm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<CARMA_ACCESS_TOKEN>","scope":"api","instance_url":"https://fake-carma.salesforce.com","id":"https://fake-carma.salesforce.com/id/ABC123/ABC123","token_type":"Bearer"}'
  recorded_at: Tue, 03 Mar 2020 22:20:34 GMT