---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/claims/600383363
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
                 "data":{
                    "id":"600383363",
                    "type":"claim",
                    "attributes":{
                       "claimTypeCode":"020NEW",
                       "claimDate":"2022-09-27",
                       "claimPhaseDates":{
                          "phaseChangeDate":"2022-09-30",
                          "currentPhaseBack":false,
                          "latestPhaseType":"GATHERING_OF_EVIDENCE",
                          "previousPhases":{
                             "phase2CompleteDate":"2022-09-30",
                             "phase1CompleteDate":"2022-09-30"
                          }
                       },
                       "claimType":"Compensation",
                       "closeDate":null,
                       "contentions":[
                          {
                             "name":"Accommodation, paralysis of (eye) (New)"
                          }
                       ],
                       "decisionLetterSent":false,
                       "developmentLetterSent":true,
                       "documentsNeeded":true,
                       "endProductCode":"020",
                       "evidenceWaiverSubmitted5103":false,
                       "errors":[
                          
                       ],
                       "jurisdiction":"National Work Queue",
                       "lighthouseId":null,
                       "maxEstClaimDate":"2023-08-14",
                       "minEstClaimDate":"2023-03-22",
                       "status":"EVIDENCE_GATHERING_REVIEW_DECISION",
                       "submitterApplicationCode":"VBMS",
                       "submitterRoleCode":"VBA",
                       "supportingDocuments":[
                          {
                             "documentId":"{7AF4C5E0-EBCE-49B2-9544-999ECA2904FD}",
                             "documentTypeLabel":"VA 21-0781a, Statement in Support of Claim for PTSD Secondary to Personal Assault",
                             "originalFileName":"2D7E2C41-CE81-44F2-9908-20E7EA7DAC1E.pdf",
                             "trackedItemId":360053,
                             "uploadDate":"2022-10-11"
                          },
                          {
                             "documentId":"{32E31191-5EAA-4304-AE43-AB99426C4C8D}",
                             "documentTypeLabel":"Medical Treatment Record - Non-Government Facility",
                             "originalFileName":"rn_image_picker_lib_temp_83fdc9e3-6241-47f2-ad35-0d802cdc5b9c.pdf",
                             "trackedItemId":360054,
                             "uploadDate":"2022-10-13"
                  [...]
