---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/1008709396V637156/claims/600383363
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"600383363","type":"claim","attributes":{"claimTypeCode":"130PDA","claimDate":"2023-02-09","claimPhaseDates":{"phaseChangeDate":null,"currentPhaseBack":false,"latestPhaseType":"Claim
        Received","previousPhases":{"phase1CompleteDate":"2023-02-09"}},"claimType":"Compensation","closeDate":null,"contentionList":[],"decisionLetterSent":false,"developmentLetterSent":false,"documentsNeeded":false,"endProductCode":"131","evidenceWaiverSubmitted5103":false,"errors":[],"jurisdiction":"St.
        Petersburg","lighthouseId":null,"maxEstClaimDate":"2023-06-11","minEstClaimDate":"2023-04-06","status":"CLAIM_RECEIVED","submitterApplicationCode":null,"submitterRoleCode":null,"supportingDocuments":[{"documentId":"{75664546-6020-X897-O277-2P3366EGR93C}","documentTypeLabel":"VA
        21-674 Report of School Attendance","originalFileName":null,"trackedItemId":null,"uploadDate":null},{"documentId":"{47240649-9326-D427-I996-5O3931JRD51T}","documentTypeLabel":"VA
        21-686c Application Request To Add And/Or Remove Dependents","originalFileName":null,"trackedItemId":null,"uploadDate":null},{"documentId":"{33508645-7443-H717-P359-8F9469YUO63J}","documentTypeLabel":"STR
        - Medical - Photocopy","originalFileName":null,"trackedItemId":null,"uploadDate":null}],"tempJurisdiction":"National
        Work Queue","trackedItems":[]}}}'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
recorded_with: VCR 6.1.0
