---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/claims/600383378
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer fake_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Remaining-Minute:
          - "59"
        X-Ratelimit-Limit-Minute:
          - "60"
        Ratelimit-Remaining:
          - "59"
        Ratelimit-Limit:
          - "60"
        Ratelimit-Reset:
          - "25"
        Etag:
          - W/"6571c42e57529000188d704a3cd1f46a"
        X-Git-Sha:
          - b20885293917fd081d24899644d2718d2ab4ccf9
        X-Github-Repository:
          - https://github.com/department-of-veterans-affairs/vets-api
      body:
        encoding: ASCII-8BIT
        string: '{
          "data":{
          "id":"600383378",
          "type":"claim",
          "attributes":{
          "claimTypeCode":"020NEW",
          "claimDate":"2025-03-01",
          "claimPhaseDates":{
          "phaseChangeDate":"2025-03-01",
          "currentPhaseBack":false,
          "latestPhaseType":"GATHERING_OF_EVIDENCE",
          "previousPhases":{
          "phase2CompleteDate":"2025-03-01",
          "phase1CompleteDate":"2025-03-01"
          }
          },
          "claimType":"Compensation",
          "closeDate":null,
          "contentions":[
          {
          "name":"Accommodation, paralysis of (eye) (New)"
          }
          ],
          "decisionLetterSent":false,
          "developmentLetterSent":true,
          "documentsNeeded":true,
          "endProductCode":"020",
          "evidenceSubmissions":
          [
          {
          "acknowledgement_date": null,
          "claim_id": 600383378,
          "created_at": "2025-03-04T15:31:50.087Z" ,
          "delete_date": "2025-04-04T15:31:50.087Z",
          "document_type": "Photographs",
          "failed_date": null ,
          "file_name": "photos.txt",
          "id": 1,
          "lighthouse_upload": false,
          "tracked_item_id": 394443,
          "tracked_item_display_name": "Submit buddy statement(s)",
          "upload_status": "SUCCESS",
          "va_notify_status": null
          },
          ],
          "evidenceWaiverSubmitted5103":false,
          "errors":[

          ],
          "jurisdiction":"National Work Queue",
          "lighthouseId":null,
          "maxEstClaimDate":"2025-08-14",
          "minEstClaimDate":"2025-03-22",
          "status":"EVIDENCE_GATHERING_REVIEW_DECISION",
          "submitterApplicationCode":"VBMS",
          "submitterRoleCode":"VBA",
          "supportingDocuments":[
          {
          "documentId":"{7AF4C5E0-EBCE-49B2-9544-999ECA2904FD}",
          "documentTypeLabel":"VA 21-0781a, Statement in Support of Claim for PTSD Secondary to Personal Assault",
          "originalFileName":"2D7E2C41-CE81-44F2-9908-20E7EA7DAC1E.pdf",
          "trackedItemId":394443,
          "uploadDate":"2025-03-02"
          },
          {
          "documentId":"{32E31191-5EAA-4304-AE43-AB99426C4C8D}",
          "documentTypeLabel":"Photographs",
          "originalFileName":"photos.pdf",
          "trackedItemId":,
          "uploadDate":"2025-03-03"
          },
          ],
          "tempJurisdiction":null,
          "trackedItems":[
          {
          "closedDate": null,
          "description": "You may also submit statements from individuals having knowledge of your claimed condition.  These individuals    should tell us what they observed of your condition, including the approximate dates, places and circumstances.  They should clearly state whether they actually witnessed the event leading to your condition.  If they were in service with you, they should include name, rank, and unit of assignment.  All statements must have the following certification:  I hereby certify that this information is true and correct to the best of my knowledge and belief.",
          "displayName": "Submit buddy statement(s)",
          "overdue": false,
          "receivedDate": "2025-03-02",
          "requestedDate": "2025-03-02",
          "suspenseDate": null,
          "id": 394443,
          "status": "NEEDED_FROM_YOU",
          "uploaded": true,
          "uploadsAllowed": false
          },
          ]
          }
          }
          }'
    recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
recorded_with: VCR 6.1.0
