---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/claims/600383363
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 504
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '12'
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: |
        <html>
        <head><title>504 Gateway Time-out</title></head>
        <body>
        <center><h1>504 Gateway Time-out</h1></center>
        </body>
        </html>
  recorded_at: Thu, 15 Jun 2023 21:12:51 GMT
recorded_with: VCR 6.1.0
