---
http_interactions:
  - request:
      method: get
      uri: "https://api.wellhive.com/care-navigation/v1/provider-services/Aq7wgAux"
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.14.1
        B3:
          - "8c17e441da8d346f6934d442b0a0ac7c-e1581452019f7fc4-0"
        X-Vamf-Build:
          - 20a82ca
        X-Vamf-Timestamp:
          - "2021-11-26T16:29:10+0000"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "test-provider-id",
            "name": "Timothy Bob",
            "isActive": true,
            "individualProviders": [
              {
                "name": "Timothy Bob",
                "npi": "test-npi"
              }
            ],
            "providerOrganization": {
              "name": "test-provider-org-name"
            },
            "location": {
              "name": "Test Medical Complex",
              "address": "207 Davishill Ln",
              "latitude": 33.058736,
              "longitude": -80.032819,
              "timezone": "America/New_York"
            },
            "networkIds": [
              "sandbox-network-test"
            ],
            "schedulingNotes": "New patients need to send their previous records to the office prior to their appt.",
            "appointmentTypes": [
              {
                "id": "off",
                "name": "Office Visit",
                "isSelfSchedulable": true
              }
            ],
            "specialties": [
              {
                "id": "test-id",
                "name": "Urology"
              }
            ],
            "visitMode": "phone"
          }
    recorded_at: "Mon, 13 Dec 2021 23:28:26 GMT"