---
http_interactions:
- request:
    method: get
    uri: https://staging-api.va.gov/services/benefits-reference-data/v1/intake-sites
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - testapikeyhere
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"totalItems":324,"totalPages":1,"links":[{"href":"https://sandbox-api.va.gov/services/benefits-reference-data/v1/intake-sites","rel":"self"}],"items":[{"id":98283,"description":"AF
        Academy"},{"id":123558,"description":"ANG Hub"},{"id":98282,"description":"Aberdeen
        Proving Ground"},{"id":123657,"description":"Al Udeid, Qatar"},{"id":123578,"description":"Alameda
        Coast Guard"},{"id":98284,"description":"Albuquerque"},{"id":98285,"description":"Altus
        AFB*"},{"id":98286,"description":"Anchorage"},{"id":123603,"description":"Andersen
        AFB - Air Force / Guam"},{"id":98287,"description":"Andrews AFB"},{"id":98288,"description":"Annapolis[...]
