---
http_interactions:
  - request:
      method: post
      uri: https://int.vet360.va.gov/demographics/demographics/v1/2.16.840.1.113883.4.349//gender-identity
      body:
        encoding: UTF-8
        string: '{"bio":{"genderIdentity": ["genderIdentityCode":"F"],"sourceDate":"2022-04-08T15:09:23.000Z","originatingSourceSystem":"VETSGOV","sourceSystemUser":"123498767V234859"}}'
      headers:
        Content-Type:
          - application/json
        Cufsystemname:
          - VETSGOV
    response:
      status:
        code: 200
        message: OK
      headers:
        Vaprofiletxauditid:
          - 05e880cd-8637-407e-8fc7-a828ab6aa435
        about: blob: ws: wss:'
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string: "{}"
    recorded_at: Fri, 08 Apr 2022 15:09:25 GMT
recorded_with: VCR 5.0.0
