---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?ids=442&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.14.0
      B3:
      - c2a8a78a3a00f33e6179801a99c81eda-a84539e7386bc8a8-0
      X-Vamf-Build:
      - 840bcb0
      X-Vamf-Timestamp:
      - '2022-03-23T18:23:48+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "442",
            "vistaSite" : "442",
            "vastParent" : "442",
            "type" : "va_health_facility",
            "name" : "Cheyenne VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone" : {
              "timeZoneId" : "America/Denver"
            },
            "lat" : 41.148026,
            "long" : -104.786255,
            "website" : "https://www.va.gov/cheyenne-health-care/locations/cheyenne-va-medical-center/",
            "phone" : {
              "main" : "307-778-7550",
              "fax" : "307-778-7381",
              "pharmacy" : "866-420-6337",
              "afterHours" : "307-778-7550",
              "patientAdvocate" : "307-778-7550 x7517",
              "mentalHealthClinic" : "307-778-7349",
              "enrollmentCoordinator" : "307-778-7550 x7579"
            },
            "hoursOfOperation" : [ {
              "daysOfWeek" : "sun",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "mon",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "tue",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "wed",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "thu",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "fri",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "sat",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            } ],
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "2360 East Pershing Boulevard", null, null ],
              "city" : "Cheyenne",
              "state" : "WY",
              "postalCode" : "82001-5356"
            },
            "mobile" : false,
            "operatingStatus" : {
              "code" : "NORMAL"
            },
            "visn" : "19"
          } ]
        }
  recorded_at: Sun, 01 Nov 2020 10:30:00 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/patient/ICN/24811694708759028/booked-cc-appointments?endDate=2021-11-01T00:00:00Z&pageSize=0&startDate=2019-01-01T00:00:00Z&useCache=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 4.32.7
      B3:
      - 6da23f1d6e2afbee3457e1674bbeaf1d-78751025a40fe4a7-0
      X-Vamf-Build:
      - c016387
      X-Vamf-Timestamp:
      - '2022-02-14T16:10:29+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 403,
          "message" : "User is not authorized to access requested resource.",
          "traceId" : "6da23f1d6e2afbee3457e1674bbeaf1d"
        }
  recorded_at: Sun, 01 Nov 2020 10:30:00 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/appointments/v1/patients/24811694708759028/appointments?endDate=2021-11-01T00:00:00Z&pageSize=0&startDate=2019-01-01T00:00:00Z&useCache=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.29.1
      B3:
      - cbe6a5ce73d7663167083f6075726f1c-2b96d3c112c0e113-0
      X-Vamf-Build:
      - f5af896
      X-Vamf-Timestamp:
      - '2022-03-05T19:59:15+0000'
    body:
      encoding: UTF-8
      string: '{"code":403,"message":"User is not authorized to access requested resource.","traceId":"cbe6a5ce73d7663167083f6075726f1c"}'
  recorded_at: Sun, 01 Nov 2020 10:30:00 GMT
recorded_with: VCR 6.1.0
