---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics/1081/slots?end=2021-12-30T23:59:59Z&start=2021-10-26T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.10.0
      B3:
      - 62cc41b5de2df75b-dc1d447244a4a01c-1
      X-Vamf-Build:
      - 58ec2e2
      X-Vamf-Timestamp:
      - '2021-08-18T13:44:12+0000'
    body:
      encoding: UTF-8
      string: '{
                 "data":[
                    {
                       "id":"3230323131303236323130303A323032313130323632313330",
                       "start":"2021-10-26T21:00:00Z",
                       "end":"2021-10-26T21:30:00Z"
                    },
                    {
                       "id":"3230323131303236323133303A323032313130323632323030",
                       "start":"2021-10-26T21:30:00Z",
                       "end":"2021-10-26T22:00:00Z"
                    },
                    {
                       "id":"3230323131303236323230303A323032313130323730303030",
                       "start":"2021-10-26T22:00:00Z",
                       "end":"2021-10-27T00:00:00Z"
         [...]
