---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/appointments/v1/patients/24811694708759028/appointments?endDate=2021-11-01T00:00:00Z&pageSize=0&startDate=2019-11-01T00:00:00Z&useCache=false
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2021-07-02T11:28:35+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "data": {
              "numAppointments": 0,
              "result": {
                "partial": false,
                "sources": [
                  "VVS",
                  "dfn-548",
                  "dfn-583"
                ]
              }
            }
          }
    recorded_at: Fri, 07 Feb 2019 11:38:42 GMT
recorded_with: VCR 3.0.3
