---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_442GC
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-RateLimit-Limit-minute:
          - 60
        X-RateLimit-Remaining-minute:
          - 59
      body:
        encoding: UTF-8
        string: |-
          {
              "data": [
                  {
                      "id": "vha_442",
                      "type": "facility",
                      "attributes": {
                          "access": {
                              "health": [
                                  {
                                      "service": "Audiology",
                                      "new": 21.533333,
                                      "established": 7.026315
                                  },
                                  {
                                      "service": "Cardiology",
                                      "new": 12.5,
                                      "established": 17.333333
                                  },
                                  {
                                      "service": "Gastroenterology",
                                      "new": 7.857142,
                                      "esta[...]
