---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/24811694708759028/appointments?endDate=11/01/2020&startDate=08/03/2020
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
          	"lastAccessDate": "10/08/2019 12:18:19",
          	"selfUri": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
          	"selfLink": {
          		"rel": "self",
          		"href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
          		"objectType": "AtomLink"
          	},
          	"empty": false,
          	"appointmentRequests": [{
              "dataIdentifier": {
                "uniqueId": "8a48e8db6d70a38a016d72b354240002",
                "systemId": "var"
              },
              "patientIdentifier": {
                "uniqueId": "1012845943V900681",
                "assigningAuthority": "ICN"
              },
              "surrogateIdentifier": {},
              "lastUpdatedDate": "09/27/2019 08:30:17",
              "optionDate1": "10/01/2020",
              "optionTime1": "PM",
              "optionDate2": "11/03/2020",
              "optionTime2": "AM",
              "optionDate3": "11/02/2020",
              "optionTime3": "AM",
              "status": "Submitted",
              "appointmentType": "Primary Care",
              "visitType": "Office Visit",
              "facility": {
                "name": "CHYSHR-CHEYENNE VAMC",
                "facilityCode": "983",
                "state": "WY",
                "city": "Cheyenne",
                "parentSiteCode": "983",
                "objectType": "Facility",
                "link": []
              },
              "email": "Vilasini.reddy@va.gov",
              "textMessagingAllowed": false,
              "phoneNumber": "(666) 666-6666",
              "purposeOfVisit": "New Issue",
              "providerId": "0",
              "secondRequest": false,
              "secondRequestSubmitted": false,
              "patient": {
                "displayName": "MORGAN, CECIL",
                "firstName": "CECIL",
                "lastName": "MORGAN",
                "dateOfBirth": "May 31, 2001",
                "patientIdentifier": {
                  "uniqueId": "1249652616"
                },
                "ssn": "796106146",
                "inpatient": false,
                "textMessagingAllowed": false,
                "id": "1249652616",
                "objectType": "Patient",
                "link": [

                ]
              },
              "bestTimetoCall": [
                "Morning"
              ],
              "appointmentRequestDetailCode": [

              ],
              "hasVeteranNewMessage": false,
              "hasProviderNewMessage": false,
              "providerSeenAppointmentRequest": true,
              "requestedPhoneCall": false,
              "typeOfCareId": "323",
              "friendlyLocationName": "DAYTSHR -Dayton VA Medical Center",
              "patientId": "1249652616",
              "appointmentRequestId": "8a48e8db6d70a38a016d72b354240002",
              "date": "2019-09-27T08:30:17.985+0000",
              "assigningAuthority": "ICN",
              "uniqueId": "8a48e8db6d70a38a016d72b354240002",
              "systemId": "var",
              "selfUri": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48e8db6d70a38a016d72b354240002",
              "selfLink": {
                "rel": "self",
                "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48e8db6d70a38a016d72b354240002",
                "objectType": "AtomLink"
              },
              "objectType": "VARAppointmentRequest",
              "link": [{
                  "rel": "self",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48e8db6d70a38a016d72b354240002",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-messages",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48e8db6d70a38a016d72b354240002/messages",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-new-message-flag",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48e8db6d70a38a016d72b354240002/messages/read",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-provider-seen-flag",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48e8db6d70a38a016d72b354240002/appointment/provider-read",
                  "objectType": "AtomLink"
                }
              ],
              "createdDate": "10/30/2020 08:30:17"
            },
            {
              "dataIdentifier": {
                "uniqueId": "8a48912a6d02b0fc016d20b4ccb9001a",
                "systemId": "var"
              },
              "patientIdentifier": {
                "uniqueId": "1012853550V207686",
                "assigningAuthority": "ICN"
              },
              "surrogateIdentifier": {},
              "lastUpdatedDate": "09/11/2019 12:19:31",
              "optionDate1": "10/01/2020",
              "optionTime1": "PM",
              "optionDate2": "10/02/2020",
              "optionTime2": "PM",
              "optionDate3": "No Date Selected",
              "optionTime3": "No Time Selected",
              "status": "Cancelled",
              "appointmentType": "Optometry (routine eye exam)",
              "visitType": "Office Visit",
              "facility": {
                "name": "CHYSHR-CHEYENNE VAMC",
                "type": "M&ROC",
                "facilityCode": "983",
                "state": "WY",
                "city": "CHEYENNE",
                "address": "2360 EAST PERSHING BLVD",
                "parentSiteCode": "983",
                "objectType": "Facility",
                "link": []
              },
              "email": "samatha.girla@va.gov",
              "textMessagingAllowed": false,
              "phoneNumber": "(703) 652-0000",
              "purposeOfVisit": "routine-follow-up",
              "providerId": "0",
              "secondRequest": false,
              "secondRequestSubmitted": false,
              "patient": {
                "displayName": "GPTESTSYSTWO, TRISTAN",
                "firstName": "TRISTAN",
                "lastName": "GPTESTSYSTWO",
                "dateOfBirth": "Mar 07, 1977",
                "patientIdentifier": {
                  "uniqueId": "1012853550V207686"
                },
                "ssn": "666811850",
                "inpatient": false,
                "textMessagingAllowed": false,
                "id": "1012853550V207686",
                "objectType": "Patient",
                "link": []
              },
              "bestTimetoCall": [
                "Afternoon",
                "Evening",
                "Morning"
              ],
              "appointmentRequestDetailCode": [{
                  "appointmentRequestDetailCodeId": "8a488e8b6d206838016d218d4be20179",
                  "createdDate": "10/20/2020 12:19:31",
                  "detailCode": {
                    "code": "DETCODE19",
                    "providerMessage": "Cancelled by VA - Unable to meet request; Veteran contacted but not available",
                    "veteranMessage": "Your request for an appointment has been cancelled because we have been unable to contact you to complete the request.",
                    "objectType": "VARDetailCode",
                    "link": []
                  },
                  "userId": "1013118126",
                  "objectType": "VARAppointmentRequestDetailCode",
                  "link": []
                },
                {
                  "appointmentRequestDetailCodeId": "8a488e8b6d206838016d218d4be20179",
                  "createdDate": "10/20/2020 12:19:31",
                  "detailCode": {
                    "code": "DETCODE19",
                    "providerMessage": "Cancelled by VA - Unable to meet request; Veteran contacted but not available",
             [...]
