---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_442GC
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-RateLimit-Limit-minute:
          - 60
        X-RateLimit-Remaining-minute:
          - 59
      body:
        encoding: UTF-8
        string: |-
          {
          	"data": [
          		{
          			"id": "vha_442",
          			"type": "va_facilities",
          			"attributes": {
          				"name": "Cheyenne VA Medical Center",
          				"facility_type": "va_health_facility",
          				"classification": "VA Medical Center (VAMC)",
          				"website": "https://www.cheyenne.va.gov/locations/directions.asp",
          				"lat": 41.148027,
          				"long": -104.7862575,
          				"address": {
          					"mailing": {
          					},
          					"physical": {
          						"zip": "82001-5356",
          						"city": "Cheyenne",
          						"state": "WY",
          						"address_1": "2360 East Pershing Boulevard",
          						"address_2": null,
          						"address_3": null
          					}
          				},
          				"phone": {
          					"fax": "307-778-7381",
          					"main": null,
          					"pharmacy": "866-420-6337",
          					"after_hours": "307-778-7550",
          					"patient_advocate": "307-778-7550 x7517",
          					"mental_health_clinic": "307-778-7349",
          					"enrollment_coordinator": "307-778-7550 x7579"
          				},
          				"hours": {
          					"friday": "24/7",
          					"monday": "24/7",
          					"sunday": "24/7",
          					"tuesday": "24/7",
          					"saturday": "24/7",
          					"thursday": "24/7",
          					"wednesday": "24/7"
          				},
          				"services": {
          					"other": [

          					],
          					"health": [
          						"Audiology",
          						"Cardiology",
          						"DentalServices",
          						"EmergencyCare",
          						"Gastroenterology",
          						"Gynecology",
          						"MentalHealthCare",
          						"Nutrition",
          						"Ophthalmology",
          						"Optometry",
          						"Orthopedics",
          						"Podiatry",
          						"PrimaryCare",
          						"SpecialtyCare",
          						"Urology",
          						"WomensHealth"
          					],
          					"last_updated": "2020-12-07"
          				},
          				"satisfaction": {
          					"health": {
          						"primary_care_urgent": 0.800000011920929,
          						"primary_care_routine": 0.8399999737739563,
          						"specialty_care_urgent": 0.75
          					},
          					"effective_date": "2020-04-16"
          				},
          				"wait_times": {
          					"health": [
          						{
          							"service": "Audiology",
          							"new": 33.936842,
          							"established": 12.847222
          						},
          						{
          							"service": "Cardiology",
          							"new": 26.857142,
          							"established": 11.588235
          						},
          						{
          							"service": "Gastroenterology",
          							"new": 9.0,
          							"established": 6.285714
          						},
          						{
          							"service": "Gynecology",
          							"new": 2.0,
          							"established": 27.833333
          						},
         [...]
