---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/contestable_issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<DECISION_REVIEW_KEY>"
      X-Va-Ssn:
      - '212222112'
      Receiptdate:
      - '2020-06-24'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ed94016afb998fef0dbdc3c40010555"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6160","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"Psychosis","ratingIssuePercentNumber":"30","description":"Service
        connection for psychosis is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2005-08-22","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":false}},{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6161","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"Ptsd","ratingIssuePercentNumber":"30","description":"Service
        connection for ptsd is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"a[...]
