---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/contestable_issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      Veteranid:
      - '111223333'
      Receiptdate:
      - '2020-01-14'
  response:
    status:
      code: 200
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"ContestableIssue","attributes":{"ratingIssueId":"string","ratingIssueProfileDate":"2019-12-15","ratingIssueDiagnosticCode":"string","ratingDecisionId":"string","decisionIssueId":0,"approxDecisionDate":"2019-12-15","description":"string","rampClaimId":"string","titleOfActiveReview":"string","sourceReviewType":"string","timely":true,"latestIssuesInChain":[{"id":"string","approxDecisionDate":"2019-12-15"}],"isRating":true}}]}'
  recorded_at: Tue, 14 Jan 2020 19:53:13 GMT
recorded_with: VCR 5.0.0
