---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews/4bc96bee-c6a3-470e-b222-66a47629dc20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d007e863ef32711c2efe07a644667be4"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4bc96bee-c6a3-470e-b222-66a47629dc20","type":"HigherLevelReview","attributes":{"status":"hlr_closed","aoj":"vba","description":"1 compensation issue","benefitType":"compensation","receiptDate":"2019-05-25","informalConference":true,"sameOffice":false,"legacyOptInApproved":true,"alerts":[],"events":[{"type":"hlr_request","date":"2019-05-25"}],"programArea":"compensation"},"relationships":{"veteran":{"data":{"id":"2140","type":"Veteran"}},"claimant":{"data":{"id":"3228","type":"Claimant"}},"decisionIssues":{"data":[]},"requestIssues":{"data":[{"id":"3553","type":"RequestIssue"}]}}},"included":[{"id":"3228","type":"Claimant","attributes":{"firstName":"WILLARD","middleName":null,"lastName":"LEIKER","payeeCode":null,"relationshipType":"Veteran"}},{"id":"3553","type":"RequestIssue","attributes":{"diagnosticCode":null,"description":"Some text here.","contentionText":"Some text here.","notes":"not sure if this is on file","isUnidentified":false,"rampClaimId":null,"withdrawalDate":null,"contestedIssueDescription":"Some text here.","endProductCode":"030HLRR","active":false,"ineligible":{"dueToId":3514,"reason":"duplicate_of_rating_issue_in_active_review","titleOfActiveReview":"Higher-Level Review"},"statusDescription":"Compensation issue","ratingIssueId":null,"ratingIssueProfileDate":null,"ratingDecisionId":null,"approxDecisionDate":"2019-07-25","category":null,"legacyAppealId":null,"legacyAppealIssueId":null,"decisionReviewTitle":"Higher-LevelReview","decisionIssueId":205,"endProductCleared":null}},{"id":"2140","type":"Veteran","attributes":{"firstName":"WILLARD","middleName":null,"lastName":"LEIKER","nameSuffix":null,"fileNumber":"700062010","ssn":"700062010","participantId":"600285627"}}]}'
  recorded_at: Fri, 22 Nov 2019 22:57:54 GMT
recorded_with: VCR 3.0.3
