---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews/1234567890
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 200
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            "type": "HigherLevelReview",
            "attributes": {
              "status": "string",
              "aoj": "string",
              "programArea": "string",
              "benefitType": "compensation",
              "description": "string",
              "receiptDate": "2019-10-16",
              "informalConference": true,
              "sameOffice": true,
              "legacyOptInApproved": true,
              "alerts": [
                {
                  "type": "AmaPostDecision",
                  "details": {
                    "decisionDate": "2019-10-16",
                    "availableOptions": [
                      "string"
                    ],
                    "dueDate": "2019-10-16"
                  }
                }
              ],
              "events": [
                {
                  "type": "hlr_request_event",
                  "date": "2019-10-16"
                }
              ]
            },
            "relationships": {
              "veteran": {
                "data": {
                  "type": "Veteran",
                  "id": "string"
                }
              },
              "claimant": {
                "data": {
                  "type": "Claimant",
                  "id": "string"
                }
              },
              "requestIssues": {
                "data": [
                  {
                    "type": "RequestIssue",
                    "id": 0
                  }
                ]
              },
              "decisionIssues": {
                "data": [
                  {
                    "type": "DecisionIssue",
                    "id": 0
                  }
                ]
              }
            }
          },
          "included": [
            {
              "type": "DecisionIssue",
              "id": 0,
              "attributes": {
                "approxDecisionDate": "2019-10-16",
                "decisionText": "string",
                "description": "string",
                "disposition": "string",
                "finalized": true
              }
            },
            {
              "type": "RequestIssue",
              "id": 0,
              "attributes": {
                "active": true,
                "statusDescription": "string",
                "diagnosticCode": "string",
                "ratingIssueId": "string",
                "ratingIssueProfileDate": "2019-10-16",
                "ratingDecisionReferenceId": "string",
                "description": "string",
                "contentionText": "string",
                "approxDecisionDate": "2019-10-16",
                "category": "string",
                "notes": "string",
                "isUnidentified": true,
                "rampClaimId": "string",
                "legacyAppealId": "string",
                "legacyAppealIssueId": 0,
                "ineligibleReason": "string",
                "ineligibleDueToId": 0,
                "decisionReviewTitle": "string",
                "titleOfActiveReview": "string",
                "decisionIssueId": 0,
                "withdrawalDate": "2019-10-16",
                "contestedIssueDescription": "string",
                "endProductCleared": true,
                "endProductCode": "string"
              }
            }
          ]
        }
  recorded_at: Wed, 16 Oct 2019 17:32:26 GMT
recorded_with: VCR 3.0.3
