---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/legacy_appeal_issues
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      veteranId:
      - '796111863'
      receiptDate:
      - '2019-12-01'
  response:
    status:
      code: 200
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Git-Sha:
      - f5f6c1ba731a18ca2c3af9256cb79e0c4eac8908
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"LegacyAppealIssue","attributes":{"legacyAppealId":"string","legacyAppealIssueId":"string","nodDate":"2019-12-15","description":["string"],"codes":["string"],"labels":["string"],"disposition":"string","closeDate":"2019-12-15","note":"string"}}]}'
  recorded_at: Thu, 10 Oct 2019 21:17:52 GMT
recorded_with: VCR 3.0.3
