---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","attributes":{"receiptDate":"2019-07-10","informalConference":true,"sameOffice":false,"legacyOptInApproved":true,"benefitType":"compensation"},"relationships":{"veteran":{"data":{"type":"Veteran","id":"888451301"}}}},"included":[{"type":"RequestIssue","attributes":{"decisionIssueId":2}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Location:
      - https://dev-api.va.gov/api/v3/decision_review/intake_statuses/3f0a9fa9-016c-43c7-8803-ced7af0a1f19
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","id":"3f0a9fa9-016c-43c7-8803-ced7af0a1f19","attributes":{"status":"submitted"}}}'
  recorded_at: Wed, 16 Oct 2019 17:32:26 GMT
recorded_with: VCR 3.0.3
