---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","attributes":{"receiptDate":"2019-07-10","informalConference":true,"sameOffice":false,"legacyOptInApproved":true,"benefitType":"compensation"},"relationships":{"veteran":{"data":{"type":"Veteran","id":"888451301"}}}},"included":[{"type":"RequestIssue","attributes":{"decisionIssueId":2}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Location:
      - https://dev-api.va.gov/api/v3/decision_review/intake_statuses/944f2578-8eca-4f43-9570-69d0807367ef
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","id":"944f2578-8eca-4f43-9570-69d0807367ef","attributes":{"status":"submitted"}}}'
  recorded_at: Fri, 22 Nov 2019 22:51:55 GMT
recorded_with: VCR 3.0.3
