---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":400,"code":"malformed_request","title":"Malformed
        request"}]}'
  recorded_at: Wed, 16 Oct 2019 23:23:36 GMT
recorded_with: VCR 3.0.3
