---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews/intake_status/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - bGf6MbOUCFAMTA1Sw6k6s3woh31ggDy0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"code":"decision_review_not_found","title":"Unable
       to find a Decision Review using specified UUID"}]}'
  recorded_at: Mon, 21 Oct 2019 18:07:41 GMT
recorded_with: VCR 3.0.3
