---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/higher_level_reviews
    body:
      encoding: UTF-8
      string: '{"data":{"type":"HigherLevelReview","attributes":{"receiptDate":"2019-07-10","informalConference":true,"sameOffice":false,"legacyOptInApproved":true,"benefitType":"compensation"},"relationships":{"veteran":{"data":{"type":"Veteran","id":"00000000"}}}},"included":[{"type":"RequestIssue","attributes":{"decisionIssueId":2}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":409,"code":"duplicate_intake_in_progress","title":"Intake in progress"}]}'
  recorded_at: Thu, 17 Oct 2019 00:48:59 GMT
recorded_with: VCR 3.0.3
