---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/contestable_issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      Veteranid:
      - '111223333'
      Receiptdate:
      - '2020-01-14'
  response:
    status:
      code: 502
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [{
            "status": "502",
            "title": "Internal Server Error",
            "code": "502"
          }]
        }
  recorded_at: Tue, 14 Jan 2020 19:53:13 GMT
recorded_with: VCR 5.0.0
