---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/contestable_issues
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      veteranId:
      - '796111863'
      receiptDate:
      - '2019-12-01'
  response:
    status:
      code: 502
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [{
            "status": "502",
            "title": "Internal Server Error",
            "code": "502"
          }]
        }
  recorded_at: Mon, 21 Oct 2019 22:13:05 GMT
recorded_with: VCR 3.0.3
