---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/appeals/v3/decision_review/contestable_issues
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      veteranId:
      - '796111863'
      receiptDate:
      - '2019-12-01'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":422,"code":"bad_receipt_date","title":"Bad receipt date"}]}'
  recorded_at: Thu, 17 Oct 2019 00:48:59 GMT
recorded_with: VCR 3.0.3
