---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews
    body:
      encoding: UTF-8
      string: '{"data":{"type":"higherLevelReview","attributes":{"informalConference":true,"benefitType":"compensation","veteran":{"homeless":false,"address":{"addressLine1":"1044
        Frog Valley Drive","city":"Cataula","zipCode5":"66002","countryCodeISO2":"US"},"phone":{"countryCode":"34","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"},"email":"josie@example.com","timezone":"America/Chicago"},"informalConferenceContact":"veteran","informalConferenceTime":"800-1200
        ET","socOptIn":true,"informalConferenceRep":{"firstName":"Helen","lastName":"Holly","phone":{"countryCode":"6","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"}}}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01","decisionIssueId":1,"ratingIssueReferenceId":"2","ratingDecisionReferenceId":"3"}},{"type":"contestableIssue","attributes":{"issue":"left
        knee","decisionDate":"1900-01-02","decisionIssueId":4,"ratingIssueReferenceId":"5"}},{"type":"contestableIssue","attributes":{"issue":"right
        knee","decisionDate":"1900-01-03","ratingIssueReferenceId":"6","ratingDecisionReferenceId":"7"}},{"type":"contestableIssue","attributes":{"issue":"PTSD","decisionDate":"1900-01-04","decisionIssueId":8,"ratingDecisionReferenceId":"9"}},{"type":"contestableIssue","attributes":{"issue":"Traumatic
        Brain Injury","decisionDate":"1900-01-05","decisionIssueId":10}},{"type":"contestableIssue","attributes":{"issue":"right
        shoulder","decisionDate":"1900-01-06","disagreementArea":"Rating Low"}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
      X-Va-First-Name:
      - abraham
      X-Va-Last-Name:
      - lincoln
      X-Va-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '8'
      Etag:
      - W/"d0d83b1915c6c2c5479de47c65d134de"
      X-Git-Sha:
      - d788bc6a3537dd9cbfada5af8079cb8f64b2a69b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Sun, 22 Aug 2021 23:38:52 GMT
recorded_with: VCR 6.0.0
