---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/contestable_issues/compensation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2021-08-23'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '5'
      Etag:
      - W/"1ed94016afb998fef0dbdc3c40010555"
      X-Git-Sha:
      - d788bc6a3537dd9cbfada5af8079cb8f64b2a69b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6160","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"Psychosis","ratingIssuePercentNumber":"30","description":"Service
        connection for psychosis is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2005-08-22","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":false}},{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6161","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"Ptsd","ratingIssuePercentNumber":"30","description":"Service
        connection for ptsd is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"a[...]
