---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/75f5735b-c41d-499c-8ae2-ab2740180254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75f5735b-c41d-499c-8ae2-ab2740180254","type":"higherLevelReview","attributes":{"status":"pending","updatedAt":"2024-07-31T19:19:37.131Z","createdAt":"2024-07-31T19:19:32.340Z"}}}'
  recorded_at: Mon, 05 Aug 2024 16:19:54 GMT
recorded_with: VCR 6.2.0
