---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/higher_level_reviews
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      X-Va-Ssn:
      - '212222112'
      X-Va-First-Name:
      - abraham
      X-Va-Last-Name:
      - lincoln
      X-Va-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":422,"detail":"The property / did not contain the
        required key data","source":"/"},{"status":422,"detail":"The property / did
        not contain the required key included","source":"/"}]}'
  recorded_at: Wed, 02 Sep 2020 16:01:56 GMT
recorded_with: VCR 6.0.0
