---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '796111863'
      X-Va-First-Name:
      - abraham
      X-Va-Last-Name:
      - lincoln
      X-Va-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 418
      message: I'm a teapot
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '36'
      X-Git-Sha:
      - d788bc6a3537dd9cbfada5af8079cb8f64b2a69b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"I am a teapot","detail":"Unexpected error","status":"418"}]}'
  recorded_at: Fri, 20 Aug 2021 22:17:24 GMT
recorded_with: VCR 6.0.0
