---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/contestable_issues/compensation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
      X-Va-Ssn:
      - '000000000'
      X-Va-Receipt-Date:
      - '2020-09-02'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"code":"veteran_not_found","title":"Veteran
        Not Found"}],"code":"veteran_not_found","detail":"Veteran Not Found","source":null}'
  recorded_at: Wed, 02 Sep 2020 17:01:14 GMT
recorded_with: VCR 6.0.0
