---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/legacy_appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2020-09-02'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"483614e28962daa182b1ad24053eb710"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id": "35","type": "legacyAppeal","attributes":{"issues":[{"summary": "Service connection, benign ear neoplasm"},{"summary": "New and material evidence to reopen claim for service connection, impairment of knee"},
        {"summary": "Service connection, migraines"}],"veteranFullName": "Cara Bartlett","decisionDate": "2021-10-17T00:00:00.000Z","latestSocSsocDate": "2021-09-18T00:00:00.000Z"}}]}'
  recorded_at: Wed, 02 Sep 2020 16:59:32 GMT
recorded_with: VCR 6.0.0
