---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"detail":"HigherLevelReview with uuid \"0\"
        not found."}]}'
  recorded_at: Wed, 02 Sep 2020 16:42:31 GMT
recorded_with: VCR 6.0.0
