---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/contestable_issues/apricot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2020-09-02'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":422,"code":"invalid_benefit_type","title":"Invalid
        Benefit Type","detail":"Benefit type \"apricot\" is invalid. Must be one of:
        [\"compensation\", \"pension\", \"fiduciary\", \"insurance\", \"education\",
        \"voc_rehab\", \"loan_guaranty\", \"vha\", \"nca\"]"}],"code":"invalid_benefit_type","detail":"Invalid
        Benefit Type","source":"Benefit type \"apricot\" is invalid. Must be one of:
        [\"compensation\", \"pension\", \"fiduciary\", \"insurance\", \"education\",
        \"voc_rehab\", \"loan_guaranty\", \"vha\", \"nca\"]"}'
  recorded_at: Wed, 02 Sep 2020 16:59:32 GMT
recorded_with: VCR 6.0.0
