---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/higher_level_reviews/75f5735b-c41d-499c-8ae2-ab2740180254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4233d2c3f263725969de410d95cdaf9b"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"75f5735b-c41d-499c-8ae2-ab2740180254","type":"higherLevelReview","attributes":{"status":"submitted","updatedAt":"2020-09-02T16:36:26.727Z","createdAt":"2020-09-02T16:36:23.453Z","formData":{"data":{"type":"higherLevelReview","attributes":{"informalConference":true,"sameOffice":true,"benefitType":"compensation","veteran":{"address":{"zipCode5":"66002"},"phone":{"countryCode":"34","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"},"emailAddressText":"josie@example.com","timezone":"America/Chicago"},"informalConferenceTimes":["1230-1400
        ET","1400-1630 ET"],"informalConferenceRep":{"name":"Helen Holly","phone":{"countryCode":"6","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"}}}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01","decisionIssueId":1,"ratingIssueReferenceId":"2","ratingDecisionReferenceId":"3"}},{"type":"contestableIssue","attributes":{"issue":"left
        knee","decisionDate":"1900-01-02","decisionIssueId":4,"ratingIssueReferenceId":"5"}},{"type":"contestableIssue","attributes":{"issue":"right
        knee","decisionDate":"1900-01-03","ratingIssueReferenceId":"6","ratingDecisionReferenceId":"7"}},{"type":"contestableIssue","attributes":{"issue":"PTSD","decisionDate":"1900-01-04","decisionIssueId":8,"ratingDecisionReferenceId":"9"}},{"type":"contestableIssue","attributes":{"issue":"Traumatic
        Brain Injury","decisionDate":"1900-01-05","decisionIssueId":10}},{"type":"contestableIssue","attributes":{"issue":"right
        shoulder","decisionDate":"1900-01-06"}}]}}}}'
  recorded_at: Wed, 02 Sep 2020 16:39:43 GMT
recorded_with: VCR 6.0.0
