---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/legacy_appeals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '796111863'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '14'
      X-Git-Sha:
      - bf1c13f6d3572496fe21139e5434ee67355ccf5e
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":404,"code":"veteran_not_found","title":"Veteran
        Not Found"}],"code":404,"source":"Appeals Caseflow"}'
  recorded_at: Tue, 16 Nov 2021 02:27:46 GMT
recorded_with: VCR 6.0.0
