---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/higher_level_reviews/contestable_issues/compensation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2020-09-02'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"483614e28962daa182b1ad24053eb710"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"a","type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6160","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"psychosis","ratingIssuePercentNumber":"30","description":"Service
        connection for psychosis is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":true,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":1,"ratingDecisionReferenceId":"a","approxDecisionDate":"2005-08-22","rampClaimId":"a","titleOfActiveReview":"a","sourceReviewType":"a","timely":false}},{"id":"a","type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6161","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"ptsd","ratingIssuePercentNumber":"30","description":"Service
        connection for ptsd is granted with an evaluation of 30 percent effective
        July 4, 2004.","isRating":true,"latestIssuesInChain":[{"id":"a","approxDecisionDate":"2005-08-22"}],"decisionIssueId":2,"ratingDecisionReferenceId":"a","approxD[...]
