---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions/848134d0-1842-488a-b8bb-5e94d717b2c6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a41a3433a28b9b1cbb9dd3f51951ec0e"
      X-Git-Sha:
      - ea3d01e6bdf1536ec015142f9e049ae1a41be645
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"848134d0-1842-488a-b8bb-5e94d717b2c6","type":"evidenceSubmission","attributes":{"status":"pending","code":null,"detail":"","appealType":"NoticeOfDisagreement","appealId":"6d0c3dba-8a1f-41be-bd16-59bf22d273e7","location":null,"createdAt":"2021-04-21T19:04:57.280Z","updatedAt":"2021-04-21T19:04:57.280Z"}}}'
  recorded_at: Fri, 23 Apr 2021 16:50:49 GMT
recorded_with: VCR 6.0.0
