---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/1234567a-89b0-123c-d456-789e01234f56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4233d2c3f263725969de410d95cdaf9b"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1234567a-89b0-123c-d456-789e01234f56","type":"noticeOfDisagreement","attributes":{"status":"submitted","updatedAt":"2020-04-23T21:06:12.531Z","createdAt":"2020-04-23T21:06:12.531Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"string","addressLine2":"string","addressLine3":"string","city":"string","stateCode":"UT","zipCode5":"20001","countryName":"string","internationalPostalCode":"string"},"phone":{"countryCode":"34","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"},"emailAddressText":"user@example.com"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":true}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01"}}]}}}}'
  recorded_at: Wed, 02 Sep 2020 16:39:43 GMT
recorded_with: VCR 6.0.0
