---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_id":"e076ea91-6b99-4912-bffc-a8318b9b403f"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb3fe41ff7602aac696207ef3d95ad0a"
      X-Git-Sha:
      - 8afbc85990a1e90d279a33c9b6d3aaadd88c9ec0
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"b156844f-6129-47f0-b798-53f38753adf4","type":"evidenceSubmission","attributes":{"status":"pending","code":null,"detail":null,"appealType":"NoticeOfDisagreement","appealId":"e076ea91-6b99-4912-bffc-a8318b9b403f","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/1616666a-812b-473a-a2c3-a4b07b28b76f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ%2F20210521%2Fus-gov-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210521T190214Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=5d63469fbe7e52dee1183e06d256c591e8abe26f2babf926a7248a4eda2063bf","createdAt":"2021-05-21T19:02:14.272Z","updatedAt":"2021-05-21T19:02:14.272Z"}}}'
  recorded_at: Fri, 21 May 2021 19:02:14 GMT
recorded_with: VCR 6.0.0
