---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/notice_of_disagreements/1234567a-89b0-123c-d456-789e01234f56
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4233d2c3f263725969de410d95cdaf9b"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "id": "00000000-1111-2222-3333-444444444444",
          "type": "noticeOfDisagreement",
          "attributes": {
            "status": "pending",
            "updatedAt": "2020-01-02T03:04:05.067Z",
            "createdAt": "2020-01-02T03:04:05.067Z",
            "formData": {
              "data": {
                "type": "noticeOfDisagreement",
                "attributes": {
                  "veteran": {
                    "homeless": false,
                    "address": {
                      "addressLine1": "123 Main St",
                      "city": "North Pole",
                      "countryCodeISO2": "CA",
                      "zipCode5": "00000"
                    },
                    "phone": {
                      "areaCode": "555",
                      "phoneNumber": "8001111"
                    },
                    "email": "clause@north.com",
                    "timezone": "America/Chicago"
                  },
                  "representative": {
                    "name": "Tony Danza"
                  },
                  "boardReviewOption": "evidence_submission",
                  "requestingExtension": false,
                  "appealingVhaDenial": false
                }
              },
              "included": [
                {
                  "type": "contestableIssue",
                  "attributes": {
                    "issue": "tinnitus",
                    "decisionDate": "1900-01-01",
                    "decisionIssueId": 1,
                    "ratingIssueReferenceId": "2",
                    "ratingDecisionReferenceId": "3",
                    "disagreementArea": "Effective Date"
                  }
                },
                {
                  "type": "contestableIssue",
                  "attributes": {
                    "issue": "left knee",
                    "decisionDate": "1900-01-02",
                    "decisionIssueId": 4,
                    "ratingIssueReferenceId": "5"
                  }
                }
              ]
            }
          }
        }
      }'
  recorded_at: Wed, 02 Sep 2020 16:39:43 GMT
recorded_with: VCR 6.0.0
