---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_id":"6d0c3dba-8a1f-41be-bd16-59bf22d273e7"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb0ac1f380a35a994dc894502d681dbc"
      X-Git-Sha:
      - 92ab979b29183cf1a0454d55f7baaa016a7fd42a
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"848134d0-1842-488a-b8bb-5e94d717b2c6","type":"evidenceSubmission","attributes":{"status":"pending","code":null,"detail":"","appealType":"NoticeOfDisagreement","appealId":"6d0c3dba-8a1f-41be-bd16-59bf22d273e7","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/be72355a-e301-497e-bdc3-6c0cfb0e989c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=fake%2F20210421%2Fus-gov-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210421T190457Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=6dd65281a6bfb6c8cbf9a1f04e74a1bd5212e8987b984dc556aae71100680b09","createdAt":"2021-04-21T19:04:57.280Z","updatedAt":"2021-04-21T19:04:57.280Z"}}}'
  recorded_at: Wed, 21 Apr 2021 19:04:57 GMT
recorded_with: VCR 6.0.0
