---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services_user_content/vba_documents/e9d205ba-3874-42c3-9cd5-784edef5e1d7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ/20210422/us-gov-west-1/s3/aws4_request&X-Amz-Date=20210422T204833Z&X-Amz-Expires=900&X-Amz-Signature=c8a2eecf5b6582722840512ee9e752d0519987ba59071bccef54cee9d103db7e&X-Amz-SignedHeaders=host
    body:
      encoding: UTF-8
      string: '{"metadata":{"foo":"bar"},"content":"#<UploadIO:0x00007fa15e0b4ff8>"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - CT1Q82T5BQ1NR7QB
      X-Amz-Version-Id:
      - ULGlDSA1krtktrTTs.WEEmPa670FMEBL
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"f3df59353d7830755f77a44e4ec2b39e"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Apr 2021 20:49:20 GMT
recorded_with: VCR 6.0.0
