---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions/857dff7b-40b5-43b3-bbe1-8fb7f76037b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4723fb2e215b3abdc5ec617403d82f96"
      X-Git-Sha:
      - 3cf93d845d1d20a166aa2e71f6ddb14e7256442c
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"857dff7b-40b5-43b3-bbe1-8fb7f76037b8","type":"evidenceSubmission","attributes":{"status":"error","code":"DOC107","detail":"Empty
        payload","appealType":"NoticeOfDisagreement","appealId":"e076ea91-6b99-4912-bffc-a8318b9b403f","location":null,"createdAt":"2021-05-21T19:21:46.164Z","updatedAt":"2021-05-21T19:21:46.164Z"}}}'
  recorded_at: Fri, 21 May 2021 19:25:02 GMT
recorded_with: VCR 6.0.0
