---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/notice_of_disagreements
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-File-Number:
      - '212222112'
      X-Va-First-Name:
      - abraham
      X-Va-Last-Name:
      - lincoln
      X-Va-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '51'
      X-Git-Sha:
      - 2f41ca62c626d5935d40dfc789fcc1afcf003998
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{
        "errors": [
          {
            "title": "Missing required fields",
            "detail": "One or more expected fields were not found",
            "code": "145",
            "source": {
              "pointer": "/data/attributes"
            },
            "status": "422",
            "meta": {
              "missing_fields": [
                "boardReviewOption"
              ]
            }
          }
        ]
      }'
  recorded_at: Mon, 27 Jun 2022 17:35:09 GMT
recorded_with: VCR 6.1.0
