---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/notice_of_disagreements
    body:
      encoding: UTF-8
      string: '{"data":{"type":"noticeOfDisagreement","attributes":{"extensionReason": "2wertry","requestingExtension": true, "veteran":{"email": "test@test.com", "homeless":false,"address":{"addressLine1":"1493 Martin Luther King Rd", "countryCodeISO2": "US", "addressLine2":"Apt 1","city":"Fulton","stateCode":"NY","zipCode5":"00000","countryName":"United States","internationalPostalCode":"54321"},"phone":{"countryCode":"1","areaCode":"503","phoneNumber":"5551234"}, "emailAddressText": "swqe@efr.com"}, "boardReviewOption":"direct_review","timezone":"America/New_York","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"ASthma","decisionDate":"2022-02-16","disagreementArea":"service connection"}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-VA-File-Number:
      - '212222112'
      X-VA-First-Name:
      - abraham
      X-VA-Last-Name:
      - lincoln
      X-VA-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e384cecec50e02aee9640170cba3cbf9"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"cf031efe-32d2-462e-b184-1467d8c2589a","type":"noticeOfDisagreement","attributes":{"status":"pending","updatedAt":"2022-06-27T14:56:39.803Z","createdAt":"2022-06-27T14:56:39.650Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"extensionReason":"2wertry","requestingExtension":true,"veteran":{"email":"test@test.com","homeless":false,"address":{"addressLine1":"1493 Martin Luther King Rd","countryCodeISO2":"US","addressLine2":"Apt 1","city":"Fulton","stateCode":"NY","zipCode5":"00000","countryName":"United States","internationalPostalCode":"54321"},"phone":{"countryCode":"1","areaCode":"503","phoneNumber":"5551234"},"emailAddressText":"swqe@efr.com"},"boardReviewOption":"direct_review","timezone":"America/New_York","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"ASthma","decisionDate":"2022-02-16","disagreementArea":"service connection"}}]}}}}'
  recorded_at: Fri, 21 May 2021 18:09:23 GMT
recorded_with: VCR 6.0.0
