---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_id":"e076ea91-6b99-4912-bffc-a8318b9b403f"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bed1671de3131f935c4d61cada88035e"
      X-Git-Sha:
      - 8afbc85990a1e90d279a33c9b6d3aaadd88c9ec0
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"857dff7b-40b5-43b3-bbe1-8fb7f76037b8","type":"evidenceSubmission","attributes":{"status":"pending","code":null,"detail":null,"appealType":"NoticeOfDisagreement","appealId":"e076ea91-6b99-4912-bffc-a8318b9b403f","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/84f3e608-437e-46ad-b0b7-fcbfcc3ae6ba?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ%2F20210521%2Fus-gov-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210521T192146Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abd9a44ff5e94818c1f2790827403a990b5a79bf4f71803b85a617972179c032","createdAt":"2021-05-21T19:21:46.164Z","updatedAt":"2021-05-21T19:21:46.164Z"}}}'
  recorded_at: Fri, 21 May 2021 19:21:46 GMT
recorded_with: VCR 6.0.0
