---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/notice_of_disagreements/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '19'
      X-Git-Sha:
      - 2f41ca62c626d5935d40dfc789fcc1afcf003998
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "errors": [
          {
            "status": 404,
            "detail": "NoticeOfDisagreement with uuid invalid not found."
          }
        ]
      }'
  recorded_at: Mon, 27 Jun 2022 17:55:41 GMT
recorded_with: VCR 6.1.0
