---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services_user_content/vba_documents/021d2fab-b3ca-4928-b90d-94b4c45529d8?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ/20210426/us-gov-west-1/s3/aws4_request&X-Amz-Date=20210426T163153Z&X-Amz-Expires=900&X-Amz-Signature=33e56786dfc1b5d6758abd931d9d50388f6206302708074b1924929c6e33da00&X-Amz-SignedHeaders=host
    body:
      encoding: UTF-8
      string: '{"metadata":{},"content":"#<UploadIO:0x00007f819d985758>"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - K8WGRVYV9B8JVKEN
      X-Amz-Version-Id:
      - mzTcBhWbGsTv25mhQRq_RrrzeZcwKFk4
      X-Amz-Server-Side-Encryption:
      - AES256
      Etag:
      - '"a249aba72035d6940a1271e75168fabf"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Apr 2021 16:32:23 GMT
recorded_with: VCR 6.0.0
