---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements
    body:
      encoding: UTF-8
      string: '{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","addressLine2":"Suite #1200","addressLine3":"Box 4","city":"New York","countryName":"United
        States","stateCode":"NY","zipCode5":"30012","internationalPostalCode":"1"},"phone":{"countryCode":"6","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"},"emailAddressText":"user@example.com","representativesName":"Tony
        Danza"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01","decisionIssueId":1,"ratingIssueReferenceId":"2","ratingDecisionReferenceId":"3"}},{"type":"contestableIssue","attributes":{"issue":"left
        knee","decisionDate":"1900-01-02","decisionIssueId":4,"ratingIssueReferenceId":"5"}},{"type":"contestableIssue","attributes":{"issue":"right
        knee","decisionDate":"1900-01-03","ratingIssueReferenceId":"6","ratingDecisionReferenceId":"7"}},{"type":"contestableIssue","attributes":{"issue":"PTSD","decisionDate":"1900-01-04","decisionIssueId":8,"ratingDecisionReferenceId":"9"}},{"type":"contestableIssue","attributes":{"issue":"Traumatic
        Brain Injury","decisionDate":"1900-01-05","decisionIssueId":10}},{"type":"contestableIssue","attributes":{"issue":"right
        shoulder","decisionDate":"1900-01-06"}}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-First-Name:
      - abraham
      X-Va-Last-Name:
      - lincoln
      X-Va-Ssn:
      - '212222112'
      X-Va-Birth-Date:
      - '1809-02-12'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e384cecec50e02aee9640170cba3cbf9"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"e076ea91-6b99-4912-bffc-a8318b9b403f","type":"noticeOfDisagreement","attributes":{"status":"pending","updatedAt":"2021-05-21T18:09:23.460Z","createdAt":"2021-05-21T18:09:23.460Z","formData":{"data":{"type":"noticeOfDisagreement","attributes":{"veteran":{"homeless":false,"address":{"addressLine1":"123
        Main St","addressLine2":"Suite #1200","addressLine3":"Box 4","city":"New York","countryName":"United
        States","stateCode":"NY","zipCode5":"30012","internationalPostalCode":"1"},"phone":{"countryCode":"6","areaCode":"555","phoneNumber":"8001111","phoneNumberExt":"2"},"emailAddressText":"user@example.com","representativesName":"Tony
        Danza"},"boardReviewOption":"evidence_submission","timezone":"America/Chicago","socOptIn":false}},"included":[{"type":"contestableIssue","attributes":{"issue":"tinnitus","decisionDate":"1900-01-01","decisionIssueId":1,"ratingIssueReferenceId":"2","ratingDecisionReferenceId":"3"}},{"type":"contestableIssue","attributes":{"issue":"left
        knee","decisionDate":"1900-01-02","decisionIssueId":4,"ratingIssueReferenceId":"5"}},{"type":"contestableIssue","attributes":{"issue":"right
        knee","decisionDate":"1900-01-03","ratingIssueReferenceId":"6","ratingDecisionReferenceId":"7"}},{"type":"contestableIssue","attributes":{"issue":"PTSD","decisionDate":"1900-01-04","decisionIssueId":8,"ratingDecisionReferenceId":"9"}},{"type":"contestableIssue","attributes":{"issue":"Traumatic
        Brain Injury","decisionDate":"1900-01-05","decisionIssueId":10}},{"type":"contestableIssue","attributes":{"issue":"right
        shoulder","decisionDate":"1900-01-06"}}]}}}}'
  recorded_at: Fri, 21 May 2021 18:09:23 GMT
recorded_with: VCR 6.0.0
