---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/contestable_issues/notice_of_disagreements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2020-09-02'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"483614e28962daa182b1ad24053eb710"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": [
          {
            "type": "contestableIssue",
            "attributes": {
              "ratingIssueSubjectText": "right knee",
              "ratingIssuePercentNumber": "10",
              "ratingIssueReferenceId": "826209920000",
              "ratingIssueProfileDate": "2019-02-22",
              "ratingIssueDiagnosticCode": null,
              "description": "Right knee",
              "isRating": true,
              "latestIssuesInChain": [
                {
                  "id": null,
                  "approxDecisionDate": "2019-02-26"
                }
              ],
              "decisionIssueId": null,
              "ratingDecisionReferenceId": null,
              "approxDecisionDate": "2019-02-26",
              "rampClaimId": null,
              "titleOfActiveReview": null,
              "sourceReviewType": null,
              "timely": true
            }
          },
          {
            "type": "contestableIssue",
            "attributes": {
              "ratingIssueSubjectText": "ptsd",
              "ratingIssueReferenceId": "826209441170",
              "ratingIssueProfileDate": "2019-02-22",
              "ratingIssueDiagnosticCode": null,
              "description": "PTSD",
              "isRating": true,
              "latestIssuesInChain": [
                {
                  "id": null,
                  "appro[...]
