---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews/notice_of_disagreements/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_id":"a134c32f-4cc8-49cb-9c84-c316a3291fe2"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e085ed1d3649808a3583842bf5dbb8d"
      X-Git-Sha:
      - 010f824be96e64e2e9fcf0fdc48b2318b2e60308
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"bffbeac7-b128-4a01-a5aa-09f80698709d","type":"evidenceSubmission","attributes":{"status":"pending","code":null,"detail":null,"appealType":"NoticeOfDisagreement","appealId":"a134c32f-4cc8-49cb-9c84-c316a3291fe2","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/5fad1519-381a-4b8a-ba5e-8ccb507711e0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ%2F20210519%2Fus-gov-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210519T134809Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=79d01cd189ac980ef4586c0d53125aa2e7488f7d216a82d6456b4eab8848eed4","createdAt":"2021-05-19T13:48:09.491Z","updatedAt":"2021-05-19T13:48:09.491Z"}}}'
  recorded_at: Wed, 19 May 2021 13:48:09 GMT