---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/supplemental_claims/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_uuid":"e076ea91-6b99-4912-bffc-a8318b9b403f"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e22a672b4d1c7c009de5c4674bfab4e9"
      X-Git-Sha:
      - 3cf93d845d1d20a166aa2e71f6ddb14e7256442c
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "id": "55555555-6666-7777-8888-999999999999",
          "type": "evidenceSubmission",
          "attributes": {
            "status": "pending",
            "code": null,
            "detail": null,
            "appealType": "supplemental_claims",
            "appealId": "00000000-1111-2222-3333-444444444444",
            "location": "http://some.fakesite.com/path/uuid",
            "createdAt": "2020-01-02T03:04:05.067Z",
            "updatedAt": "2020-01-02T03:04:05.067Z"
          }
        }
      }'
  recorded_at: Fri, 21 May 2021 19:33:13 GMT
recorded_with: VCR 6.0.0
