---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/supplemental_claims/evidence_submissions/59cdb98f-f94b-4aaa-8952-4d1e59b6e40a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97a2646147e949328a7532345fc658a7"
      X-Git-Sha:
      - 3cf93d845d1d20a166aa2e71f6ddb14e7256442c
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "id": "59cdb98f-f94b-4aaa-8952-4d1e59b6e40a",
          "type": "evidenceSubmission",
          "attributes": {
            "status": "received",
            "code": null,
            "detail": null,
            "appealType": "SupplementalClaim",
            "appealId": "00000000-1111-2222-3333-444444444444",
            "location": null,
            "createdAt": "2020-01-02T03:04:05.067Z",
            "updatedAt": "2020-01-02T03:04:05.067Z"
          }
        }
      }'
  recorded_at: Fri, 21 May 2021 19:35:55 GMT
recorded_with: VCR 6.0.0
