---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/contestable_issues/supplemental_claims?benefit_type=compensation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
      X-Va-Receipt-Date:
      - '2021-08-23'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '5'
      Etag:
      - W/"1ed94016afb998fef0dbdc3c40010555"
      X-Git-Sha:
      - d788bc6a3537dd9cbfada5af8079cb8f64b2a69b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"142910","ratingIssueProfileDate":"2022-03-15","ratingIssueDiagnosticCode":"8100","ratingIssueSubjectText":"Migraine","ratingIssuePercentNumber":"10","description":"Service connection for Migraine is granted with an evaluation of 10 percent effective January 15, 2020.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2022-03-15"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2022-03-15","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true}},{"id":null,"type":"contestableIssue","attributes":{"ratingIssueReferenceId":"142911","ratingIssueProfileDate":"2022-03-12","ratingIssueDiagnosticCode":"8520","ratingIssueSubjectText":"Paralysis of sciatic nerve","ratingIssuePercentNumber":"20","description":"Service connection for Paralysis of sciatic nerve is granted with an evaluation of 20 percent effective November 3, 2019.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2022-03-12"}],"decisionIssueId":null,"r[...]
