---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/supplemental_claims/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_uuid":"this-id-not-found"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Git-Sha:
      - 92ab979b29183cf1a0454d55f7baaa016a7fd42a
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{
        "errors": [
          {
            "title": "not_found",
            "detail": "SupplementalClaim with uuid  not found"
          }
        ]
      }'
  recorded_at: Wed, 21 Apr 2021 19:01:30 GMT
recorded_with: VCR 6.0.0
