---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/supplemental_claims/evidence_submissions
    body:
      encoding: UTF-8
      string: '{"nod_uuid":"e076ea91-6b99-4912-bffc-a8318b9b403f"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      X-Va-Ssn:
      - '212222112'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e22a672b4d1c7c009de5c4674bfab4e9"
      X-Git-Sha:
      - 3cf93d845d1d20a166aa2e71f6ddb14e7256442c
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"59cdb98f-f94b-4aaa-8952-4d1e59b6e40a","type":"evidenceSubmission","attributes":{"status":"received","code":null,"detail":null,"appealType":"SupplementalClaim","appealId":"e076ea91-6b99-4912-bffc-a8318b9b403f","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/832a96ca-4dbd-4138-b7a4-6a991ff76faf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQD72FDTFWPUWR5OZ/20210521/us-gov-west-1/s3/aws4_request&X-Amz-Date=20210521T193313Z&X-Amz-Expires=900&X-Amz-Signature=5d64a8a7fd749b1fb301a43226d45cc865fb68e6397026bdf047737c05fa4927&X-Amz-SignedHeaders=host","createdAt":"2021-05-21T19:33:13.469Z","updatedAt":"2021-05-21T19:33:13.469Z"}}}'
  recorded_at: Fri, 21 May 2021 19:33:13 GMT
recorded_with: VCR 6.0.0
