---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/v2/decision_reviews/supplemental_claims/75f5735b-c41d-499c-8ae2-ab2740180254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '8'
      Etag:
      - W/"d0d83b1915c6c2c5479de47c65d134de"
      X-Git-Sha:
      - d788bc6a3537dd9cbfada5af8079cb8f64b2a69b
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "id": "75f5735b-c41d-499c-8ae2-ab2740180254",
          "type": "supplementalClaim",
          "attributes": {
            "status": "pending",
            "updatedAt": "2020-01-02T03:04:05.067Z",
            "createdAt": "2020-01-02T03:04:05.067Z",
            "formData": {
              "data": {
                "type": "supplementalClaim",
                "attributes": {
                  "benefitType": "fiduciary",
                  "claimantType": "veteran",
                  "veteran": {
                    "address": {
                      "addressLine1": "123 Main St",
                      "city": "New York",
                      "countryCodeISO2": "US",
                      "zipCode5": "30012"
                    },
                    "phone": {
                      "areaCode": "555",
                      "phoneNumber": "8001111"
                    },
                    "email": "josie@example.com",
                    "timezone": "America/Chicago"
                  },
                  "socOptIn": false,
                  "evidenceSubmission": {
                    "evidenceType": [
                      "upload"
                    ]
                  }
                }
              },
              "included": [
                {
                  "type": "contestableIssue",
                  "attributes": {
                    "issue": "right shoulder",
                    "decisionDate": "1900-01-06"
                  }
                }
              ]
            }
          }
        }
      }'
  recorded_at: Sun, 22 Aug 2021 23:38:52 GMT
  recorded_with: VCR 6.0.0
