---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PaymentHistoryWebServiceBean/PaymentHistoryWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paymenthistory.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://paymenthistory.services.ebenefits.vba.va.gov/" name="PaymentHistoryWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://paymenthistory.services.ebenefits.vba.va.gov/" schemaLocation="https://prepbepbenefits.vba.va.gov:443/PaymentHistoryWebServiceBean/PaymentHistoryWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findPayHistory">
        <part name="parameters" element="tns:findPayHistory"/>
        </message>
        <message name="findPayHistoryResponse">
        <part name="parameters" element="tns:findPayHistoryResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findPayHistoryBySSN">
        <part name="parameters" element="tns:findPayHistoryBySSN"/>
        </message>
        <message name="findPayHistoryBySSNResponse">
        <part name="parameters" element="tns:findPayHistoryBySSNResponse"/>
        </message>
        <portType name="PaymentHistoryWebService">
        <operation name="findPayHistory">
        <input wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistoryRequest" message="tns:findPayHistory"/>
        <output wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistoryResponse" message="tns:findPayHistoryResponse"/>
        <fault message="tns:MessageException" name="MessageException" wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistory/Fault/MessageException"/>
        </operation>
        <operation name="findPayHistoryBySSN">
        <input wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistoryBySSNRequest" message="tns:findPayHistoryBySSN"/>
        <output wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistoryBySSNResponse" message="tns:findPayHistoryBySSNResponse"/>
        <fault message="tns:MessageException" name="MessageException" wsam:Action="http://paymenthistory.services.ebenefits.vba.va.gov/PaymentHistoryWebService/findPayHistoryBySSN/Fault/MessageException"/>
        </operation>
        </portType>
        <binding name="PaymentHistoryWebServicePortBinding" type="tns:PaymentHistoryWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findPayHistory">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="MessageException">
        <soap:fault name="MessageException" use="literal"/>
        </fault>
        </operation>
        <operation name="findPayHistoryBySSN">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="MessageException">
        <soap:fault name="MessageException" use="literal"/>
        </fault>
        </operation>
        </binding>
        <service name="PaymentHistoryWebService">
        <port name="PaymentHistoryWebServicePort" binding="tns:PaymentHistoryWebServicePortBinding">
        <soap:address location="https://prepbepbenefits.vba.va.gov:443/PaymentHistoryWebServiceBean/PaymentHistoryWebService"/>
        </port>
        </service>
        </definitions>
  recorded_at: Wed, 12 Aug 2020 16:46:23 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PaymentHistoryWebServiceBean/PaymentHistoryWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://paymenthistory.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <wsse:Username>VAEBENEFITS</wsse:Username>
            <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">Buda110!</wsse:Password>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.224.104.174</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>EBENEFITS</vaws:applicationName>
            <vaws:ExternalUid>765876456</vaws:ExternalUid>
            <vaws:ExternalKey>V#Gs$#q#fd</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findPayHistoryBySSN><ssn>000000000</ssn></tns:findPayHistoryBySSN></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findPayHistoryBySSN"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdWAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQACDMuMS4xOC4wAAA=</work:WorkContext></env:Header><S:Body><ns0:Fault
        xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://www.w3.org/2003/05/soap-envelope"><faultcode>ns0:Server</faultcode><faultstring>No
        payment record found in CORPORATE or BDN.</faultstring><detail><ns0:MessageException
        xmlns:ns0="http://paymenthistory.services.ebenefits.vba.va.gov/"><message>No
        payment record found in CORPORATE or BDN.</message></ns0:MessageException></detail></ns0:Fault></S:Body></S:Envelope>
  recorded_at: Wed, 12 Aug 2020 16:46:24 GMT
recorded_with: VCR 6.0.0
