---
http_interactions:
- request:
    method: post
    uri: https://va--mbmssit.cs33.my.salesforce.com/services/oauth2/token
    body:
      encoding: UTF-8
      string: client_secret=6150175763295809569&client_id=3MVG9Zdl7Yn6QDKPHMwHadV4iFddvfNHNDYs18l_CHPw5JkdgIjR0trqqefjrP4jbfu5AHnCbxyEg60Tz3KWW&username=mbms_integration@bah.com.mbmssit&password=littlekyle2spCL3xcR7dbcUrrSwcgoUrDQ&grant_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D350000000iOBm";
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D350000000iOB!AQEAQLjKwM6evFRUToH0gnJ58TIuvg2M7w8xFMfBPGgJEUzJEGI1e1gmoeSvBh18j2J9u7cb79ULID_g7UIo8ejXCn4Jw593","instance_url":"https://va--MBMSSit.cs33.my.salesforce.com","id":"https://test.salesforce.com/id/00D350000000iOBEAY/00535000000nPkSAAU","token_type":"Bearer","issued_at":"1538575915848","signature":"yABnZaGOO4trAkmlQxCkGMdylpPFtDLbinKZ9U4+qFc="}'
  recorded_at: Wed, 03 Oct 2018 14:11:55 GMT
- request:
    method: post
    uri: https://va--mbmssit.cs33.my.salesforce.com/services/apexrest/MBMS/Case
    body:
      encoding: UTF-8
      string: '{"newCase":{"burialActivityType":"D","remainsType":"M","emblemCode":"55","cremainsType":"I"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00D350000000iOB!AQEAQLjKwM6evFRUToH0gnJ58TIuvg2M7w8xFMfBPGgJEUzJEGI1e1gmoeSvBh18j2J9u7cb79ULID_g7UIo8ejXCn4Jw593
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D350000000iOBm";
      Content-Type:
      - application/octetstream
    body:
      encoding: UTF-8
      string: '"50035000001SoqCAAS"'
  recorded_at: Wed, 03 Oct 2018 14:11:57 GMT
recorded_with: VCR 3.0.3
