---
http_interactions:
- request:
    method: get
    uri: https://dev.vets.gov/gids/v0/institutions/autocomplete?term=university
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dmV0ZXJhbnM6YW0zcmljYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f7d88a77c6ef2f45bded241791cf148"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":30919,"value":"11803607","label":"UNIVERSITY OF CONNECTICUT-MBA
        STAMFORD CAMPUS"},{"id":31064,"value":"11803119","label":"UNIVERSITY OF MAINE
        AT FORT KENT-UMPI BRANCH"},{"id":31063,"value":"11001619","label":"UNIVERSITY
        OF MAINE AT FORT KENT"},{"id":31582,"value":"11000849","label":"UNIVERSITY
        OF WISCONSIN-STEVENS POINT"},{"id":30787,"value":"11965135","label":"UNIVERSITY
        OF AKRON MAIN CAMPUS"},{"id":30865,"value":"11802505","label":"UNIVERSITY
        OF CALIFORNIA-DAVIS EXT"}],"links":{"self":"https://dev.vets.gov/gids/v0/institutions/autocomplete?term=university"},"meta":{"version":1,"term":"university"}}'
  recorded_at: Fri, 17 Feb 2017 01:43:16 GMT
recorded_with: VCR 3.0.3
