---
http_interactions:
- request:
    method: get
    uri: "<GIDS_URL>/v0/institutions/11900146"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8330","type":"institutions","attributes":{"name":"OLD
        DOMINION UNIVERSITY","facility_code":"11900146","type":"PUBLIC","city":"NORFOLK","state":"VA","zip":"23529","country":"USA","bah":1587.0,"cross":"232982","flight":false,"correspondence":false,"ope":"00372800","ope6":"03728","school_system_name":null,"school_system_code":-2,"alias":"ODU,
        Old Dominion","highest_degree":4,"locale_type":"city","address_1":"5115 HAMPTON
        BLVD","address_2":null,"address_3":null,"student_count":3209,"undergrad_enrollment":19606,"yr":true,"student_veteran":true,"student_veteran_link":"https://www.facebook.com/ODUSVA","poe":true,"eight_keys":true,"stem_offered":false,"dodmou":true,"sec_702":true,"vet_success_name":"April
        Miller","vet_success_email":"April.C.Miller@va.gov","credit_for_mil_training":true,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":true,"retention_rate_veteran_ba":0.784,"retention_all_students_ba":0.7908,"retention_rate_veteran_otb":0.667,"retention_all_students_otb":null,"persistance_rate_veteran_ba":0.91,"persistance_rate_veteran_otb":0.667,"graduation_rate_veteran":null,"graduation_rate_all_students":0.5182,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":42600.0,"repayment_rate_all_students":0.527992038,"avg_stu_loan_debt":242.9842572,"calendar":"semesters","tuition_in_state":8970,"tuition_out_of_state":25140,"books":1000,"online_all":true,"p911_tuition_fees":15615377.65,"p911_recipients":2335,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":"regional","accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"complaints":{"facility_code":4,"financial_by_fac_code":2,"quality_by_fac_code":1,"refund_by_fac_code":1,"marketing_by_fac_code":0,"accreditation_by_fac_code":0,"degree_requirements_by_fac_code":0,"student_loans_by_fac_code":0,"grades_by_fac_code":0,"credit_transfer_by_fac_code":1,"credit_job_by_fac_code":null,"job_by_fac_code":0,"transcript_by_fac_code":0,"other_by_fac_code":0,"main_campus_roll_up":4,"financial_by_ope_id_do_not_sum":2,"quality_by_ope_id_do_not_sum":1,"refund_by_ope_id_do_not_sum":1,"marketing_by_ope_id_do_not_sum":0,"accreditation_by_ope_id_do_not_sum":0,"degree_requirements_by_ope_id_do_not_sum":0,"student_loans_by_ope_id_do_not_sum":0,"grades_by_ope_id_do_not_sum":0,"credit_transfer_by_ope_id_do_not_sum":1,"jobs_by_ope_id_do_not_sum":0,"transcript_by_ope_id_do_not_sum":0,"other_by_ope_id_do_not_sum":0},"school_closing":false,"school_closing_on":null,"school_closing_message":null,"yellow_ribbon_programs":[{"degree_level":"Graduate","division_professional_school":"School
        of Nursing","number_of_students":5,"contribution_amount":"2500.0"},{"degree_level":"Graduate","division_professional_school":"School
        of Education","number_of_students":5,"contribution_amount":"2500.0"},{"degree_level":"Graduate","division_professional_school":"School
        of Engineering","number_of_students":5,"contribution_amount":"2500.0"}],"independent_study":false,"priority_enrollment":true,"created_at":"2019-10-08T17:42:14.000Z","updated_at":"2019-10-08T17:42:14.000Z","physical_address_1":"5115
        HAMPTON BLVD","physical_address_2":null,"physical_address_3":null,"physical_city":"NORFOLK","physical_state":"VA","physical_country":"USA","online_only":false,"distance_learning":true,"dod_bah":1518,"physical_zip":"23529","parent_facility_code_id":null,"campus_type":null,"vet_tec_provider":false,"preferred_provider":false,"stem_indicator":false,"facility_map":{"main":{"institution":{"id":8330,"version":1,"institution_type_name":"PUBLIC","facility_code":"11900146","institution":"OLD
        DOMINION UNIVERSITY","city":"NORFOLK","state":"VA","zip":"23529","country":"USA","flight":false,"correspondence":false,"bah":1587.0,"cross":"232982","ope":"00372800","ope6":"03728","insturl":"www.odu.edu","vet_tuition_policy_url":"https://www.odu.edu/admission/costs-tuition/tuition/billing/payment-options/information-for-military","pred_degree_awarded":3,"locale":12,"gibill":3209,"undergrad_enrollment":19606,"yr":true,"student_veteran":true,"student_veteran_link":"https://www.facebook.com/ODUSVA","poe":true,"eight_keys":true,"dodmou":true,"sec_702":true,"vetsuccess_name":"April
        Miller","vetsuccess_email":"April.C.Miller@va.gov","credit_for_mil_training":true,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":true,"va_highest_degree_offered":"4-year","retention_rate_veteran_ba":0.784,"retention_all_students_ba":0.7908,"retention_rate_veteran_otb":0.667,"retention_all_students_otb":null,"persistance_rate_veteran_ba":0.91,"persistance_rate_veteran_otb":0.667,"graduation_rate_veteran":null,"graduation_rate_all_students":0.5182,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":42600.0,"repayment_rate_all_students":0.527992038,"avg_stu_loan_debt":242.9842572,"calendar":"semesters","tuition_in_state":8970,"tuition_out_of_state":25140,"books":1000,"online_all":true,"p911_tuition_fees":15615377.65,"p911_recipients":2335,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":"regional","accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"complaints_facility_code":4,"complaints_financial_by_fac_code":2,"complaints_quality_by_fac_code":1,"complaints_refund_by_fac_code":1,"complaints_marketing_by_fac_code":0,"complaints_accreditation_by_fac_code":0,"complaints_degree_requirements_by_fac_code":0,"complaints_student_loans_by_fac_code":0,"complaints_grades_by_fac_code":0,"complaints_credit_transfer_by_fac_code":1,"complaints_credit_job_by_fac_code":null,"complaints_job_by_fac_code":0,"complaints_transcript_by_fac_code":0,"complaints_other_by_fac_code":0,"complaints_main_campus_roll_up":4,"complaints_financial_by_ope_id_do_not_sum":2,"complaints_quality_by_ope_id_do_not_sum":1,"complaints_refund_by_ope_id_do_not_sum":1,"complaints_marketing_by_ope_id_do_not_sum":0,"complaints_accreditation_by_ope_id_do_not_sum":0,"complaints_degree_requirements_by_ope_id_do_not_sum":0,"complaints_student_loans_by_ope_id_do_not_sum":0,"complaints_grades_by_ope_id_do_not_sum":0,"complaints_credit_transfer_by_ope_id_do_not_sum":1,"complaints_jobs_by_ope_id_do_not_sum":0,"complaints_transcript_by_ope_id_do_not_sum":0,"complaints_other_by_ope_id_do_not_sum":0,"created_at":"2019-10-08T17:42:14.000Z","updated_at":"2019-10-08T17:42:14.000Z","f1sysnam":null,"f1syscod":-2,"ialias":"ODU,
        Old Dominion","approval_status":null,"school_closing":false,"school_closing_on":null,"school_closing_message":null,"stem_offered":false,"priority_enrollment":true,"online_only":false,"independent_study":false,"distance_learning":true,"address_1":"5115
        HAMPTON BLVD","address_2":null,"address_3":null,"physical_address_1":"5115
        HAMPTON BLVD","physical_address_2":null,"physical_address_3":null,"physical_city":"NORFOLK","physical_state":"VA","physical_zip":"23529","physical_country":"USA","dod_bah":1518,"approved":true,"vet_tec_provider":false,"closure109":null,"preferred_provider":false,"stem_indicator":false,"campus_type":null,"parent_facility_code_id":null},"branches":[],"extensions":[]}},"programs":[],"school_certifying_officials":[]},"links":{"website":"http://www.odu.edu","scorecard":"https://collegescorecard.ed.gov/school/?232982-old-dominion-university","vet_website_link":"https://www.odu.edu/admission/costs-tuition/tuition/billing/payment-options/information-for-military","self":"http://localhost:3000/v0/institutions/11900146"}},"links":{"self":"http://localhost:3000/v0/institutions/11900146"},"meta":{"version":{"number":1,"created_at":"2019-10-08T17:43:01.614Z","preview":false}}}'
  recorded_at: Tue, 08 Oct 2019 19:41:16 GMT
recorded_with: VCR 3.0.3
