---
http_interactions:
- request:
    method: get
    uri: https://dev.vets.gov/gids/v0/institutions?name=illinois
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d67b6b7a1d15c4ba660dd057b96b87a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1032","type":"institutions","attributes":{"name":"AMEREN
        ILLINOIS-BELLEVILLE","facility_code":"30594913","type":"ojt","city":"belleville","state":"IL","zip":"62221","country":"usa","highest_degree":null,"locale_type":null,"student_count":0,"caution_flag":false,"caution_flag_reason":null,"created_at":"2017-02-16T22:55:37.039Z","updated_at":"2017-02-16T22:55:37.039Z","bah":1224.0,"tuition_in_state":null,"tuition_out_of_state":null,"books":null,"student_veteran":false,"yr":false,"poe":false,"eight_keys":false},"links":{"self":"https://dev-api.vets.gov/gids/v0/institutions/30594913"}},{"id":"1033","type":"institutions","attributes":{"name":"AMEREN
        ILLINOIS-BLOOMINGTON","facility_code":"20603713","type":"ojt","city":"bloomington","state":"IL","zip":"61707","country":"usa","highest_degree":null,"locale_type":null,"student_count":0,"caution_flag":false,"caution_flag_reason":null,"created_at":"2017-02-16T22:55:37.039Z","updated_at":"2017-02-16T22:55:37.039Z","bah":null,"tuition_in_state":null,"tuition_out_of_state[...]
