---
http_interactions:
- request:
    method: get
    uri: "<GIDS_URL>/v0/yellow_ribbon_programs"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"74183","type":"yellow_ribbon_programs","attributes":{"city":"Abilene","contribution_amount":"99999.0","correspondence":false,"country":"USA","degree_level":"All","distance_learning":true,"division_professional_school":"All","facility_code":"31000143","institution_id":4177336,"insturl":"www.acu.edu","latitude":32.46915,"longitude":-99.70954,"number_of_students":99999,"name_of_institution":"ABILENE
        CHRISTIAN UNIVERSITY","online_only":false,"state":"TX","street_address":"1600
        Campus Court","student_veteran":null,"student_veteran_link":null,"ungeocodable":false,"year_of_yr_participation":"NULL","zip":null}},{"id":"71768","type":"yellow_ribbon_programs","attributes":{"city":"Tifton","contribution_amount":"2105.5","correspondence":false,"country":"USA","degree_level":"All","distance_learning":true,"division_professional_school":"All","facility_code":"14953411","institution_id":4137046,"insturl":"https://www.abac.edu","latitude":31.481889,"longitude":-83.528281,"number_of_students":5,"name_of_institution":"ABRAHAM
        BALDWIN AGRICULTURAL COLLEGE","online_only":false,"state":"GA","street_ad[...]
