---
http_interactions:
- request:
    method: get
    uri: "<GIDS_URL>/v0/yellow_ribbon_programs"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"14390","type":"yellow_ribbon_programs","attributes":{"city":null,"contribution_amount":"10000.0","country":"USA","degree_level":"Undergraduate","division_professional_school":"All","facility_code":null,"institution_id":3426800,"insturl":"www.calbaptist.edu","number_of_students":99999,"school_name_in_yr_database":null,"state":null,"street_address":null,"zip":null}},{"id":"14389","type":"yellow_ribbon_programs","attributes":{"city":null,"contribution_amount":"20000.0","country":"USA","degree_level":"All","division_professional_school":"All","facility_code":null,"institution_id":3426806,"insturl":"worldwide.erau.edu/","number_of_students":20,"school_name_in_yr_database":null,"state":null,"street_address":null,"zip":null}},{"id":"14388","type":"yellow_ribbon_programs","attributes":{"city":null,"contribution_amount":"20000.0","country":"USA","degree_lev[...]
