---
http_interactions:
  - request:
      method: get
      uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v2/appeals
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Ssn:
          - '111223333'
        Authorization:
          - Token token=PUBLICDEMO123
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"46b178ad8bb4e05c7320f42c3f5fa9fc"
      body:
        encoding: UTF-8
        string: |-
          {
            "errors": [{
              "status": "500",
              "title": "Internal Server Error",
              "detail": "No method error"
            }]
          }
    recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
