---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://claimstatus.services.ebenefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?xsd=1"/>
        </xsd:schema>
        </types>
        </definitions>
  recorded_at: Wed, 19 Apr 2023 20:47:06 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findBenefitClaimDetailsByBnftClaimId"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdTAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTMuMy4wAAA=</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimDetailsByBnftClaimIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimDetailsDTO><attentionNeeded>Yes</attentionNeeded><baseEndPrdctTypeCd>020</baseEndPrdctTypeCd><benefitClaimId>600236068</benefitClaimId><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-10-07</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-08-19</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:49:04</phaseChngdDt><phaseType>Gathering
        of Evidence</phaseType><phaseTypeChangeInd>23</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-05-20</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-05-12</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:47:20</phaseChngdDt><phaseType>Under
        Review</phaseType><phaseTypeChangeInd>12</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2021-05-08</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-05-06</minEstClaimCompleteDt><phaseChngdDt>2021-05-05T09:46:59</phaseChngdDt><phaseType>Claim
        Received</phaseType><phaseTypeChangeInd>N</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimTypeCd>020CLMINC</bnftClaimTypeCd><claimDt>2021-01-01</claimDt><claimStatus>PEND</claimStatus><claimStatusType>Compensation</claimStatusType><contentions>Low
        back strain (New)</contentions><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>Yes</developmentLetterSent><endPrdctTypeCd>020</endPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><maxEstClaimCompleteDt>2021-11-14</maxEstClaimCompleteDt><minEstClaimCompleteDt>2021-09-04</minEstClaimCompleteDt><programType>CPL</programType><ptcpntClmantId>600934166</ptcpntClmantId><ptcpntVetId>600934166</ptcpntVetId><regionalOfficeJrsdctn>National
        Work Queue</regionalOfficeJrsdctn><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><tempRegionalOfficeJrsdctn>Fort
        Harrison</tempRegionalOfficeJrsdctn><wsyswwn><addressLine1>National Work Queue</addressLine1><addressLine2>810
        Vermont Avenue NW</addressLine2><addressLine3></addressLine3><city>Washington</city><state>DC</state><zip>20420</zip></wsyswwn><wwr><dateOpen>2021-05-05</dateOpen><dateRcvd>2022-06-07</dateRcvd><dvlpmtItemId>293445</dvlpmtItemId><items>Please
        complete and return the enclosed VA Form 21-4142, Authorization to Disclose
        Information, so that we can obtain the authorization to request treatment
        records from your private medical sources listed on the received VA Form 21-4142a,
        General Release for Medical Provider Information.</items></wwr><wwr><dateOpen>2021-05-05</dateOpen><dateRcvd>2022-06-07</dateRcvd><dvlpmtItemId>293448</dvlpmtItemId><items>Send
        verification that you engaged in combat.  B[...]
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.ne[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findTrackedItems"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdJABF3ZWJsb2dpYy5hcHAubWFwZAAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABzEuMTcuODYAAA==</work:WorkContext></env:Header><S:Body><ns0:findTrackedItemsResponse
        xmlns:ns0="http://services.mapd.benefits.vba.va.gov/"><BenefitClaim><name>BenefitClaim</name><dvlpmtItems><jrnDt>2022-06-08T13:49:44-05:00</jrnDt><name>DevelopmentItem</name><claimId>600236068</claimId><createDt>2021-05-05T09:49:06-05:00</createDt><createPtcpntId>600052904</createPtcpntId><createStnNum>317</createStnNum><docid>815705</docid><dvlpmtItemId>293448</dvlpmtItemId><dvlpmtTc>CLMNTRQST</dvlpmtTc><receiveDt>2022-06-07T00:00:00-05:00</receiveDt><reqDt>2021-05-05T00:00:00-05:00</reqDt><shortNm>Combat
        not verified</shortNm><stdDevactnId>24</stdDevactnId><suspnsDt>2021-06-04T00:00:00-05:00</suspnsDt></dvlpmtItems><dvlpmtItems><jrnDt>2021-05-05T09:49:05-05:00</jrnDt><name>DevelopmentItem</name><claimId>600236068</claimId><createDt>2021-05-05T09:49:05-05:00</createDt><createPtcpntId>600052904</createPtcpntId><createStnNum>317</createStnNum><docid>815705</docid><dvlpmtItemId>293447</dvlpmtItemId><dvlpmtTc>CLMNTRQST</dvlpmtTc><reqDt>2021-05-05T00:00:00-05:00</reqDt><shortNm>Submit
        buddy statement(s)</shortNm><stdDevactnId>16615</stdDevactnId><suspnsDt>2021-06-04T00:00:00-05:00</suspnsDt></dvlpmtItems><dvlpmtItems><jrnDt>2021-05-05T09:49:05-05:00</jrnDt><name>DevelopmentItem</name><acceptDt>2021-06-04T00:00:00-05:00</acceptDt><claimId>600236068</claimId><createDt>2021-05-05T09:49:05-05:00</createDt><createPtcpntId>600052904</createPtcpntId><createStnNum>317</createStnNum><docid>815705</docid><dvlpmtItemId>293446</dvlpmtItemId><dvlpmtTc>CLMNTRQST</dvlpmtTc><reqDt>2021-05-05T00:00:00-05:00</reqDt><shortNm>Buddy
        mentioned - No complete address</shortNm><stdDevactnId>19</stdDevactnId><suspnsDt>2021-06-04T00:00:00-05:00</suspnsDt></dvlpmtItems><dvlpmtItems><jrnDt>2022-06-08T13:4[...]
