---
:body:
  chapter33_education_info:
    first_name: Srikanth
    last_name: Vanapalli
    name_suffix: II
    date_of_birth: '1995-11-12T06:00:00.000+0000'
    regional_processing_office: Central Office Washington, DC
    va_file_number: '12345678'
    eligibility_date: '2016-12-01T05:00:00.000+0000'
    delimiting_date: '2017-12-07T05:00:00.000+0000'
    original_entitlement: '100'
    used_entitlement: '75'
    remaining_entitlement: '25'
    percentage_benefit: '25'
    veteran_is_eligible: false
    active_duty: false
    enrollments:
    - begin_date: '2012-11-01T04:00:00.000+0000'
      end_date: '2012-12-01T05:00:00.000+0000'
      facility_code: '11902614'
      facility_name: PURDUE UNIVERSITY
      full_time_hours: 12
      online_hours: 0.0
      on_campus_hours: 12.0
      participant_id: '11170323'
      status: Approved
      training_type: UnderGrad
      vacation_day_count: 0
      yellow_ribbon_amount: 0.0
    - begin_date: '2012-08-01T04:00:00.000+0000'
      end_date: '2012-10-01T04:00:00.000+0000'
      facility_code: '11902614'
      facility_name: 'PURDUE UNIVERSITY'
      full_time_hours: 10
      participant_id: '11170323'
      training_type: 'UnderGrad'
      vacation_day_count: 0
    - begin_date: '2013-01-01T05:00:00.000+0000'
      end_date: '2013-02-01T05:00:00.000+0000'
      facility_code: '11902614'
      facility_name: 'PURDUE UNIVERSITY'
      full_time_hours: 2
      participant_id: '11170323'
      training_type: 'UnderGrad'
      vacation_day_count: 0
    - begin_date: '2013-04-01T04:00:00.000+0000'
      end_date: '2013-05-01T04:00:00.000+0000'
      facility_code: '25047343'
      facility_name: 'COSMETOLOGY CAREER INSTITUTE'
      full_time_hours: 22
      participant_id: '11180666'
      training_type: 'NonCollege'
    - begin_date: '2017-06-06T17:01:03.925Z'
      end_date: '2017-09-06T17:01:03.925Z'
      facility_code: '12123434'
      facility_name: 'CENTRAL CITY UNIVERSITY'
      participant_id: '11180666'
      status: Approved
      training_type: 'UnderGrad'
      full_time_hours: 20
      on_campus_hours: 10
      online_hours: 10
      yellow_ribbon_amount: 0
      vacation_day_count: 0
      amendments:
      - on_campus_hours: 12
        online_hours: 8
        yellow_ribbon_amount: 2
        type: 'Add'
        status: Approved
        change_effective_date: '2017-06-06T17:01:03.926Z'
      - on_campus_hours: 8
        online_hours: 6
        yellow_ribbon_amount: 2
        type: 'Drop'
        status: Approved
        change_effective_date: '2017-06-10T17:01:03.926Z'

:status: 200
