---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/facilities/v2/facilities?children=true&ids=757,358,999&pageSize=0&schedulable=true
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 2.8.0
        B3:
          - d4826c514488fbd0-1742ce55cf76f7d6-0
        X-Vamf-Build:
          - '6026315'
        X-Vamf-Timestamp:
          - '2021-07-06T17:59:37+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "data" : [ {
              "id" : "358",
              "vistaSite" : "358",
              "vastParent" : "358",
              "type" : "va_facilities",
              "name" : "Cheyenne VA Medical Center",
              "classification" : "VA Medical Center (VAMC)",
              "lat" : 39.744507,
              "long" : -104.830956,
              "website" : "https://www.denver.va.gov/locations/directions.asp",
              "phone" : {
                "main" : "307-778-7550",
                "fax" : "307-778-7381",
                "pharmacy" : "866-420-6337",
                "afterHours" : "307-778-7550",
                "patientAdvocate" : "307-778-7550 x7517",
                "mentalHealthClinic" : "307-778-7349",
                "enrollmentCoordinator" : "307-778-7550 x7579"
              },
              "physicalAddress" : {
                "type" : "physical",
                "line" : [ "2360 East Pershing Boulevard" ],
                "city" : "Cheyenne",
                "state" : "WY",
                "postalCode" : "82001-5356"
              },
              "mobile" : false,
              "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
              "operatingStatus" : {
                "code" : "NORMAL"
              }
            }, {
              "id" : "757",
              "vistaSite" : "757",
              "vastParent" : "757",
              "type" : "va_health_facility",
              "name" : "Ayton VA Medical Center",
              "classification" : "VA Medical Center (VAMC)",
              "lat" : 50.744507,
              "long" : -150.830956,
              "website" : "https://www.dayton.va.gov/locations/directions.asp",
              "phone" : {
[...]
  - request:
      method: get
      uri: https://veteran.apps.va.gov/facilities/v2/facilities?children=true&ids=983,984&pageSize=0
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 2.8.0
        B3:
          - [...]
