---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicalService=audiology&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.10.0
      B3:
      - d59a397d6ff313e3-0534a9f1c0bcf50e-1
      X-Vamf-Build:
      - 58ec2e2
      X-Vamf-Timestamp:
      - '2021-08-18T13:44:12+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true},{"vistaSite":983,"id":"945","serviceName":"FTC
        C&P AUDIO BEV","physicalLocation":"FORT COLLINS AUDIO","stationId":"983GC","stationName":"CHYSHR-Fort
        Collins VA Clinic","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":true,"patientDisplay":true},{"vistaSite":983,"id":"947","serviceName":"CHY
        C&P AUDIO JAN","physicalLocation":"C&P OFFICE","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopC[...]
