---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/appealable-issues/v0/appealable-issues/higher-level-reviews?benefitType=compensation&icn=1012832025V743496&receiptDate=2026-01-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      # Fake Bearer token for testing purposes only
      Authorization:
      - Bearer fake-token-12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "id": null,
              "type": "appealableIssue",
              "attributes": {
                "ratingIssueSubjectText": "Migraine",
                "description": "Service connection for Migraine is granted with an evaluation of 50 percent effective February 1, 2020.",
                "approxDecisionDate": "2020-02-01",
                "decisionIssueId": 1,
                "ratingIssuePercentNumber": "50",
                "ratingDecisionReferenceId": "reference-id-1",
                "latestIssuesInChain": [
                  {
                    "id": null,
                    "approxDecisionDate": "2020-02-01"
                  }
                ]
              }
            },
            {
              "id": null,
              "type": "appealableIssue",
              "attributes": {
                "ratingIssueSubjectText": "Paralysis of sciatic nerve",
                "description": "Service connection for Paralysis of sciatic nerve is granted with an evaluation of 20 percent effective Ap[...]
