# Fake Bearer token for testing purposes only
---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/appealable-issues/v0/appealable-issues/notice-of-disagreements?benefitType=compensation&icn=1012832025V743496&receiptDate=2026-01-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '22'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Git-Sha:
      - 48465fac678a5e09c2b3d95d8354082ad1c5ad7a
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/lighthouse-vets-api
      Content-Language:
      - en-US
      Correlation-Id:
      - 4839def6-ea95-4c4c-b528-e9e61971d383#2438868
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"b","type":"contestableIssue","attributes":{"ratingIssueReferenceId":"6161","ratingIssueProfileDate":"2005-02-14","ratingIssueDiagnosticCode":"9400","ratingIssueSubjectText":"ptsd","ratingIssuePercentNumber":"30","description":"Service connection for ptsd","isRating":true,"latestIssuesInChain":[{"id":true,"approxDecisionDate":"2005-08-22"}],"decisionIssueId":2,"ratingDecisionReferenceId":"a","approxDecisionDate":"2005-08-22","timely":false}}]}'
  recorded_at: Fri, 23 Jan 2026 21:00:38 GMT
recorded_with: VCR 6.4.0
