---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/appealable-issues/v0/appealable-issues/supplemental-claims?benefitType=apricot&icn=2331123616V514303&receiptDate=2026-01-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      # Fake Bearer token for testing purposes only
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-token-12345
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "errors": [
            {
              "status": "422",
              "title": "Invalid benefit type",
              "detail": "benefitType must be one of: compensation, pensionSurvivorsBenefits, fiduciary, lifeInsurance, veteransHealthAdministration, veteransHealthCare, nca, loan_guaranty, education, vre"
            }
          ]
        }
  recorded_at: Thu, 23 Jan 2026 21:00:38 GMT
recorded_with: VCR 6.4.0
