---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/appeals/appealable-issues/v0/appealable-issues/supplemental-claims?benefitType=compensation&icn=1012832025V743496&receiptDate=2026-01-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      # Fake Bearer token for testing purposes only
      Authorization:
      - Bearer fake-token-12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '5'
      Etag:
      - W/"a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":null,"type":"appealableIssue","attributes":{"ratingIssueReferenceId":"142910","ratingIssueProfileDate":"2022-03-15","ratingIssueDiagnosticCode":"8100","ratingIssueSubjectText":"Migraine","ratingIssuePercentNumber":"10","description":"Service connection for Migraine is granted with an evaluation of 10 percent effective January 15, 2020.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2022-03-15"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2022-03-15","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true}},{"id":null,"type":"appealableIssue","attributes":{"ratingIssueReferenceId":"142911","ratingIssueProfileDate":"2022-03-12","ratingIssueDiagnosticCode":"8520","ratingIssueSubjectText":"Paralysis of sciatic nerve","ratingIssuePercentNumber":"20","description":"Service connection for Paralysis of sciatic nerve is granted with an evaluation of 20 percent effective November 3, 2019.","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2022-03-12"}],"decisionIssueId":null,"ra[...]
