---
http_interactions:
- request:
    method: post
    uri: https://api.idmelabs.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"authorization_code","code":"04e3f01f11764b50becb0cdcb618b804","client_id":"dde0b5b8bfc023a093830e64ef83f148","client_<DMC_TOKEN>":"e745319288bd005c9fca7d8164f302c7","redirect_uri":"http://localhost:3000/v0/sign_in/idme/callback"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4dc53be0c4a97f2872b4985b9d268a6d"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"access_token":"0f5ebddd60d0451782214e6705cac5d1","token_type":"bearer","expires_in":300,"scope":"http://idmanagement.gov/ns/assurance/loa/3","refresh_token":"26f282c510a740bb9c27aeed65fc08c4","refresh_expires_in":604800}'
  recorded_at: Thu, 17 Mar 2022 01:10:50 GMT
- request:
    method: get
    uri: 'https://api.idmelabs.com/api/public/v3/userinfo.json'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer AmCGxDQzUAr5rPZ4NgFvUQ
      X-VA-SSN:
      - '872958715'
      X-VA-Receipt-Date:
      - '2019-12-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6bf72b7b802348bbd01a2bd9a2129c8"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: "\"\\\"eyJraWQiOiJ3T0s4WEI1RzNiNEI2QXd1TDNuUmdEVkNQYmZ0RHZBTkpJQ09vbDlXVTgwIiwiYWxnIjoiUlNBLU9BRVAiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.Xsr5oHyJTHAfJP4CDhwlWZhAgSFmC4DOOj-1EP3syZgx2Jz5NcFHvQkDJvHaVh9pCnpqTjJ5Ev4Ri-AB_VI19CGYkIiPHnijSlkwQaxjauN2TKaf5XSQyWnXIwOTK1LQUe_tfY9LiAddxzQ3_srVvcNi7gEY16m4WHttokbEcCL_fxYPHur9P-p0yW3z6vNjmB_X8sDBkrXDi2HlZs_37G2IwAnQUXTVZWY-1_249ME-hKHVllUD9Fh6gKPn0KmpwvSxY_BdWsNEqyaG0y4S8-XF38BVmbfoxV62LMFBIwhjoDXTKra9[...]
