---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=CEMETERY_I&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=CEMETERY_I=%27888%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd59_-800868473
      X-Arcgis-Instance:
      - MTSDS_Web_IN_11
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"FULL_NAME","type":"esriFieldTypeString","alias":"FULL_NAME","sqlType":"sqlTypeOther","length":250,"domain":null,"defaultValue":null},{"name":"SHORT_NAME","type":"esriFieldTypeString","alias":"SHORT_NAME","sqlType":"sqlTypeOther","length":250,"domain":null,"defaultValue":null},{"name":"CEMETERY_A","type":"esriFieldTypeString","alias":"CEMETERY_A","sqlType":"sqlTypeOther","length":100,"domain":null,"defaultValue":null},{"name":"CEMETERY_1","type":"esriFieldTypeString","alias":"CEMETERY_1","sqlType":"sqlTypeOther","length":100,"domain":null,"defaultValue":null},{"name":"CEMETERY_S","type":"[...]
