---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=SITE_ID&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=SITE_ID=%27888%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Thu, 20 Apr 2017 13:47:35 GMT
      Etag:
      - sd1147_-1004050541
      X-Arcgis-Instance:
      - MTSDS_Web_IN_7
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"SITE_ID","type":"esriFieldTypeString","alias":"SITE_ID","sqlType":"sqlTypeOther","length":15,"domain":null,"defaultValue":null},{"name":"CEMETERY_I","type":"esriFieldTypeString","alias":"CEMETERY_I","sqlType":"sqlTypeOther","length":15,"domain":null,"defaultValue":null},{"name":"FULL_NAME","type":"esriFieldTypeString","alias":"FULL_NAME","sqlType":"sqlTypeOther","length":100,"domain":null,"defaultValue":null},{"name":"SHORT_NAME","type":"esriFieldTypeString","alias":"SHORT_NAME","sqlType":"sqlTypeOther","length":50,"domain":null,"defaultValue":null},{"name":"SITE_TYPE","type":"esriFi[...]
