---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Tue, 27 Feb 2018 20:52:12 GMT
      Etag:
      - '710435948'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_8
      X-Arcgis-Request-Id:
      - "|zdkqVDFkwFY=.4fbdae2c_"
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.51,"id":0,"name":"NCA_Facilities","type":"Feature
        Layer","serviceItemId":"de90e9c0f2f04024ae14de5dbee8eb3a","displayField":"FULL_NAME","description":"","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":1519764732391},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-157.84247860399998,"ymin":18.350707963000048,"xmax":-66.171273241999984,"ymax":61.272429097000042,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[133,0,11,255],"size":4,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[0,0,0,255],"width":1}},"label":"","description":""},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasM":false,"hasZ":false,"objectIdField":"OBJECTID","globalIdField":"","typeIdField":"","fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","nullable":false,"editable":false,"domain":null,"defaultValue":null},{"name":"SITE_ID","type":"esriFieldTypeString","alias":"SITE_ID","sqlType":"sqlTypeOther","length":15,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"CEMETERY_I","type":"esriFieldTypeString","alias":"CEMETERY_I","sqlType":"sqlTypeOther","length":15,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"FULL_NAME","type":"esriFieldTypeString","alias":"FULL_NAME","sqlType":"sqlTypeOther","length":100,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"SHORT_NAME","type":"esriFieldTypeString","alias":"SHORT_NAME","sqlType":[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=SITE_ID&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Tue, 27 Feb 2018 20:52:12 GMT
      Etag:
      - sd1207_-250990253
      X-Arcgis-Instance:
      - MTSDS_Web_IN_4
      X-Arcgis-Request-Id:
      - "|UqHYUWe19zk=.318ad883_"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"SITE_ID","type":"esriFieldTypeString","alias":"SITE_ID","sqlType":"sqlTypeOther","length":15,"domain":null,"defaultValue":null},{"name":"CEMETERY_I","type":"esriFieldTypeString","alias":"CEMETERY_I","sqlType":"sqlTypeOther","length":15,"domain":null,"defaultValue":nul[...]
[...]
