---
http_interactions:
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&where=CEMETERY_I%3D%279999999%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=CEMETERY_I
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd47_241061920
      X-Arcgis-Instance:
      - MTSDS_Web_IN_9
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"FID","globalIdFieldName":"","features":[]}'
  recorded_at: Fri, 21 Oct 2016 23:35:41 GMT
recorded_with: VCR 3.0.3
