---
http_interactions:
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&geometry=-73.401%2C40.685%2C-77.36%2C43.03&geometryType=esriGeometryEnvelope&where=1%3D1&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=CEMETERY_I
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd47_241061920
      X-Arcgis-Instance:
      - MTSDS_Web_IN_10
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"FID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"FID","type":"esriFieldTypeInteger","alias":"FID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"FULL_NAME","type":"esriFieldTypeString","alias":"FULL_NAME","sqlType":"sqlTypeNVarchar","length":250,"domain":null,"defaultValue":null},{"name":"SHORT_NAME","type":"esriFieldTypeString","alias":"SHORT_NAME","sqlType":"sqlTypeNVarchar","length":250,"domain":null,"defaultValue":null},{"name":"CEMETERY_A","type":"esriFieldTypeString","alias":"CEMETERY_A","sqlType":"sqlTypeNVarchar","length":100,"domain":null,"defaultValue":null},{"name":"CEMETERY_1","type":"esriFieldTypeString","alias":"CEMETERY_1","sqlType":"sqlTypeNVarchar","length":100,"domain":null,"defaultValue":null},{"name":"CEMETERY_S"[...]
