---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?f=json&geometry=-73.401,40.685,-77.36,43.03&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=StationNumber&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Wed, 20 Dec 2017 19:16:13 GMT
      Etag:
      - sd1179_708936542
      X-Arcgis-Instance:
      - MTSDS_Web_IN_8
      X-Arcgis-Request-Id:
      - "|YLjdLEnE3YM=.58ddad2c_"
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"ESRI_OID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeString","alias":"OBJECTID","sqlType":"sqlTypeOther","length":30,"domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","[...]
