---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_VetCenters/FeatureServer/0/query?f=json&geometry=-73.401,40.685,-77.36,43.03&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=stationno&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Mon, 12 Jun 2017 15:51:55 GMT
      Etag:
      - sd1159_-74916630
      X-Arcgis-Instance:
      - MTSDS_Web_IN_17
      X-Arcgis-Request-Id:
      - "|0bHfM2oRCzI=.35ca0587_"
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"extractdate","type":"esriFieldTypeString","alias":"extractdate","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"geoqid","type":"esriFieldTypeString","alias":"geoqid","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"stationno","type":"esriFieldTypeString","alias":"stationno","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"stationname","type":"esriFieldTypeString","alias":"stationname","sqlType":"sqlTypeOther","length":200,"domain":null,"defaultValue":null},{"name":"address1","type":"esriFieldTypeString","alias":"address1","sqlT[...]
