---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?f=json&geometry=-122.440689,45.451913,-122.786758,45.64&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=StationNumber&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Thu, 06 Apr 2017 21:13:04 GMT
      Etag:
      - sd1141_-1075387503
      X-Arcgis-Instance:
      - MTSDS_Web_IN_7
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationName","type":"esriFieldTypeString"[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?f=json&geometry=-122.440689,45.451913,-122.786758,45.64&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=Facility_Number&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query?f=json&geometry=-122.440689,45.451913,-122.786758,45.64&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=SITE_ID&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
