---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?f=json&geometry=-100.0,45.0,-100.0,45.0&geometryType=esriGeometryEnvelope&inSR=4326&orderByFields=Facility_Number&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Arcgis-Instance:
      - MTSDS_Web_IN_10
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"message":"Cannot perform query. Invalid query
        parameters.","details":["24305: The Polygon input is not valid because the
        ring does not have enough distinct points. Each ring of a polygon must contain
        at least three distinct points.","Unable to perform query. Please check your
        parameters."]}}'
  recorded_at: Fri, 21 Apr 2017 22:48:48 GMT
recorded_with: VCR 3.0.3
