---
  http_interactions:
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=%27South%20Gilbert%20Road,%20Chandler,%20Arizona%2085286,%20United%20States%27&radius=80.50410703808843&driveTime=10000&specialtycode1=%27213E00000X%27&specialtycode2=null&specialtycode3=null&specialtycode4=null&network=0&gender=0&primarycare=0&acceptingnewpatients=0&maxResults=21
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDataWebService.Models.ProviderLocatorResult)","value":[{"Miles":2.302,"Minutes":5.433,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAddressStreet":"3195 S Price Rd Ste 148","CareSiteAddressCity":"Chandler","CareSiteAddressState":"AZ","CareSiteAddressZipCode":"85248","CareSitePhoneNumber":"4807057300","WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"TriWest - Choice","NetworkId":null,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1407842941","Latitude":33.258135,"Longitude":-111.887927},{"Miles":2.302,"Minutes":5.317,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAdd[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1407842941)?%24expand=ProviderSpecialties
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Providers(ProviderSpecialties())","value":[{"ProviderIdentifier":1407842941,"ProviderIdentifierType":"Npi","Name":"Freed, Lewis ","ProviderType":"Individual","QualityRankingTotalScore":null,"QualityRankingLastUpdated":null,"MainPhone":4809241552,"Email":"evfa1@hotmail.com","PrimaryDirectMessagingAddress":null,"SecondaryDirectMessagingAddress":null,"EMRSystem":null,"EMRSystemOther":null,"Address":null,"AddressStreet":null,"AddressCity":null,"AddressStateProvince":null,"AddressPostalCode":null,"AddressCounty":null,"AddressCountry":null,"ProviderStatusReason":"Active","PrimaryCarePhysician":false,"IsAcceptingNewPatients":true,"ProviderEthnicity":null,"ProviderGender":"Male","Religion":null,"OrganizationId":null,"ServiceProviderType":null,"SpecialInstruction":null,"OwnedCareSiteName":null,"OrganizationFax":4809241553,"OrganizationStatus":null,"IsExternal":true,"InternalType":null,"LicensingJuristicion":null,"CanCreateHealthCareOrders":null,"InternalAppointmentStatus":null,"ExternalHealthProviderType":null,"OnLeie":null,"ExternalInstitutionDeaNumber":null,"ExternalLeieCheckDate":null,"ValidationSource":null,"ContactMethodEmail":false,"ContactMethodFax":false,"ContactMethodVirtuPro":false,"ContactMethodHSRM":false,"ContactMethodPhone":false,"ContactMethodMail":false,"ContactMethodRefDoc":false,"BulkEmails":false,"BulkMails":true,"Emails":false,"Mails":false,"PhoneCalls":false,"Faxes":false,"PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":null,"PreferredMeansReceivingReferralFax":false,"Id":null,"ModifiedOnDate":"2020-01-09T00:26:44Z","TerminationDate":null,"ProviderSpecialties":[{"CodedSpecialty":"213E00000X","Name":"Podiatrist","Grouping":"Podiatric Medicine & Surgery Service Providers","Classification":"Podiatrist","Specialization":null,"SpecialtyDescription":"A podiatrist is a person qualified by a Doctor of Podiatric Medicine (D.P.M.) degree, licensed by the state, and practicing within the scope of that license. Podiatrists diagnose and treat foot diseases and deformities. They perform medical, surgical and other operative procedures, prescribe corrective devices and prescribe and administer drugs and physical therapy.","ProviderName":"Freed, Lewis ","IsPrimaryType":null,"SpecialtyName":"Podiatrist"},{"CodedSpecialty":"213E00000X","Name":"Podiatrist","Grouping":"Podiatric Medicine & Surgery Service Providers","Classification":"Podiatrist","Specialization":null,"SpecialtyDescription":"A podiatrist is a person qualified by a Doctor of Podiatric Medicine (D.P.M.) degree, licensed by the state, and practicing within the scope of that license. Podiatrists diagnose and treat foot diseases and deformities. They perform medical, surgical and other operative procedures, prescribe correc[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1407842941)/ProviderServices
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#ProviderServices","value":[{"Name":"Freed, Lewis - Podiatrist ","AffiliationName":"TriWest - PC3","RelationshipName":"PC3","ProviderName":"Freed, Lewis ","ProviderAgreementName":null,"SpecialtyName":"Podiatrist","SpecialtyCode":"213E00000X","HPP":"Unknown","HighPerformingProvider":"TriWest - PC3(U)","CareSiteName":"Orthopedic Specialists of North America PLLC","CareSiteLocationAddress":"6116 E Arbor Ave Ste 118, Mesa, AZ, 85206","CareSiteAddressStreet":"6116 E Arbor Ave Ste 118","CareSiteAddressStreet1":"6116 E Arbor Ave","CareSiteAddressStreet2":"Ste 118","CareSiteAddressStreet3":null,"CareSiteAddressCity":"Mesa","CareSiteAddressState":"AZ","CareSiteAddressZipCode":"85206","Latitude":33.413705,"Longitude":-111.698513,"CareSitePhoneNumber":"4809241552","OrganiztionGroupName":null,"DescriptionOfService":null,"Limitation":null},{"Name":"Freed, Lewis  - Podiatrist    ","AffiliationName":"TriWest - Choice","RelationshipName":"Choice","ProviderName":"Freed, Lewis ","ProviderAgreementName":null,"SpecialtyName":"Podiatrist","SpecialtyCode":"213E00000X","HPP":"Unknown","HighPerformingProvider":"TriWest - Choice(U)","CareSiteName":"Lewis H Freed DPM PC","CareSiteLocationAddress":"6116 E Arbor Ave Ste 118, Mesa, AZ, 85206","CareSiteAddressStreet":"6116 E Arbor Ave Ste 118","CareSiteAddressStreet1":"6116 E Arbor Ave","Car[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/CareSites('Lewis+H+Freed+DPM+PC')
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#CareSites","value":[{"Name":"Lewis H Freed DPM PC","Id":"bffe41f7-91ee-4c66-81f0-a3ee78be02e9","CareSiteType":"Facility","VaCareSite":false,"CenterOfExcellence":"Unknown","SiteContactName":null,"OwningOrganizationName":null,"OtherName":null,"IsHandicapAccessible":false,"IsExternal":true,"Street":"3195 S Price Rd Ste 148","City":"Chandler","State":"AZ","ZipCode":"85248","County":null,"Country":null,"Latitude":33.258135,"Longitude":-111.887927,"Geocoded":true,"Visn":null,"Facility":null,"ParentStationNumber":null,"StationNumber":null,"StationName":null,"MainSitePhone":null}]}'
    recorded_at: Thu, 16 Jan 2020 20:16:26 GMT
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=85286&driveTime=75&maxResults=5&network=0&posCodes=01&radius=25
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 404
        message: Not Found
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: UTF-8
        string: '{"error":{"code":"","message":"No Providers found based on Address,
          Radius and Filter Criteria given"}}'
    recorded_at: Thu, 16 Jan 2020 20:16:20 GMT
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address='South%20Gilbert%20Road,%20Chandler,%20Arizona%2085286,%20United%20States'&driveTime=10000&maxResults=21&network=0&posCodes=17&radius=80.50410703808843
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-ver[...]
[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Specialties
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Specialties","value":[{"Specialt[...]
