---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-72.19&bbox%5B%5D=-75.91&bbox%5B%5D=38.55&bbox%5B%5D=42.27&services%5B%5D=UrgentCare&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yoRRtE1m5rIrAMFFYPvkua4GmMPu5Zpg
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-minute:
      - '60'
      x-ratelimit-remaining-minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_561","type":"va_facilities","attributes":{"name":"East
        Orange VA Medical Center","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.newjersey.va.gov/locations/directions.asp","lat":40.75380161,"long":-74.23432989,"address":{"mailing":{},"physical":{"zip":"07018-1023","city":"East
        Orange","state":"NJ","address_1":"385 Tremont Avenue","address_2":null,"address_3":null}},"phone":{"fax":"973-676-4226","main":"973-676-1000","pharmacy":"800-480-5590","after_hours":"973-676-1000","patient_advocate":"973-676-1000
        x3399","mental_health_clinic":"973-676-1000 x 1421","enrollment_coordinator":"973-676-1000
        x3044"},"hours":{"friday":"24/7","monday":"24/7","sunday":"24/7","tuesday":"24/7","saturday":"24/7","thursday":"24/7","wednesday":"24/7"},"services":{"other":[],"health":["Audiology","Cardiology","DentalServices","Dermatology","EmergencyCare","Gastroenterology","Gynecology","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Orthopedics","Podiatry","PrimaryCare","SpecialtyCare","UrgentCare","Urology"],"last_updated":"2020-11-30"},"satisfaction":{"health":{"primary_care_urgent":0.7400000095367432,"primary_care_routine":0.7699999809265137,"specialty_care_urgent":0.800000011920929,"specialty_care_routine":0.8999999761581421},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"Audiology","new":39.456,"established":32.118421},{"service":"Cardiology","new":27.711538,"established":20.4},{"service":"Dermatology","new":19.785714,"established":13.75},{"service":"Gastroenterology","new":22.470588,"established":16.355555},{"service":"Gynecology","new":22.962962,"established":5.612903},{"service":"MentalHealthCare","new":3.964285,"established":1.37902},{"service":"Ophthalmology","new":8.25,"established":18.841726},{"service":"Optometry","new":33.75,"established":21.683168},{"service":"Orthopedics","new":11.133333,"established":1.142857},{"service":"PrimaryCare","new":19.391304,"established":18.299295},{"service":"SpecialtyCare","new":22.659012,"established":16.878493},{"service":"Urology","new":26.1875,"established":2.166666}],"effective_date":"2020-11-30"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"2"}}],"links":{"self":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-74.81&bbox%5B%5D=39.66&bbox%5B%5D=-73.31&bbox%5B%5D=41.16&services%5B%5D=UrgentCare&type=health&page=1&per_page=10","first":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-74.81&bbox%5B%5D=39.66&bbox%5B%5D=-73.31&bbox%5B%5D=41.16&services%5B%5D=UrgentCare&type=health&page=1&per_page=10","prev":null,"next":null,"last":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-74.81&bbox%5B%5D=39.66&bbox%5B%5D=-73.31&bbox%5B%5D=41.16&services%5B%5D=UrgentCare&type=health&page=1&per_page=10"},"meta":{"pagination":{"current_page":1,"per_page":10,"total_pages":1,"total_entries":1},"distances":[]}}'
  recorded_at: Thu, 10 Dec 2020 16:43:27 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-74.81&bbox%5B%5D=39.66&bbox%5B%5D=-73.31&bbox%5B%5D=41.16&services%5B%5D=UrgentCare&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - yoRRtE1m5rIrAMFFYPvkua4GmMPu5Zpg
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-minute:
      - '60'
      x-rat[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=%2758%20Leonard%20Ave,%20Leonardo,%20NJ%2007737%27&driveTime=10000&maxResults=11&network=0&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosPlaceOfServiceLocatorResult)","value":[{"Miles":156.43899999999999,"Minutes":154.333,"ProviderName":"PINNACLE
        HEALTH FAST CARE","ProviderSpecialty":"Clinic/Center - Urgent Care","SpecialtyCode":"261QU0200X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"No","CareSite":"SELECT
        PT PA","CareSiteAddress":"1251 E MAIN ST ANNVILLE, PA 17003-1643","CareSiteAddressStreet":"1251
        E MAIN ST","CareSiteAddressCity":"ANNVILLE","CareSiteAddressState":"PA","CareSiteAddressZipCode":"17003-1643","CareSitePhoneNumber":"717-867-4671","WorkHours":null,"ProviderGender":"NotSpecified","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":false,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1073974622","Latitude":40.335990000000002,"Longitude":-76.492607000000007,"GeoWarning":null,"POSCodes":["17"],"Telehealth":null,"SubServices":[]},{"Miles":156.43899999999999,"Minutes":154.333,"ProviderName":"NOVACARE
        PA","ProviderSpecialty":"Clinic/Center - Physical Therapy","SpecialtyCode":"261QP2000X","PreferredMeansReceivingReferralHSRM":true,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":true,"PreferredMeansReceivingReferralFax":true,"HPP":"Unknown","CareSite":"SELECT
        PT PA","CareSiteAddress":"1251 E MAIN ST ANNVILLE, [...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=%2758%20Leonard%20Ave,%20Leonardo,%20NJ%2007737%27&maxResults=11&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"htt[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=%2758%20Leonard%20Ave,%20Leonardo,%20NJ%2007737%27&driveTime=10000&maxResults=11&network=0&posCodes=17,20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=%2758%20Leonard%20Ave,%20Leonardo,%20NJ%2007737%27&maxResults=11&posCodes=17,20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217,-74.057114&driveTime=10000&maxResults=11&network=0&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https:/[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217,-74.057114&maxResults=11&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217,-74.057114&driveTime=10000&maxResults=11&network=0&posCodes=17,20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"http[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217,-74.057114&maxResults=11&posCodes=17,20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.[...]
