---
http_interactions:
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=%2758+Leonard+Ave%2C+Leonardo%2C+NJ+07737%27&driveTime=10000&maxResults=11&network=0&posCodes=17&radius=197
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosPlaceOfServiceLocatorResult)","value":[{"Miles":3.2290000000000001,"Minutes":8.2829999999999995,"ProviderName":"MINUTECLINIC
        DIAG OF NEW JERSEY","ProviderSpecialty":"Clinic/Center - Urgent Care","SpecialtyCode":"261QU0200X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"MINUTECLINIC
        LOCATED INSIDE CVS","CareSiteAddress":"470 STATE ROUTE 36 HIGHLANDS, NJ 07732-1315","CareSiteAddressStreet":"470
        STATE ROUTE 36","CareSiteAddressCity":"HIGHLANDS","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07732-1315","CareSitePhoneNumber":"866-389-2727","WorkHours":null,"ProviderGender":"NotSpecified","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":false,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1053353615","Latitude":40.405653000000001,"Longitude":-74.004138999999995,"GeoWarning":null,"POSCodes":["17"],"Telehealth":null,"SubServices":[]},{"Miles":8.4879999999999995,"Minutes":17.132999999999999,"ProviderName":"MINUTECLINIC
        DIAG OF NEW JERSEY","ProviderSpecialty":"Clinic/Center - Urgent Care","SpecialtyCode":"261QU0200X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"MINUTECLINIC
        LOCATED INSIDE C[...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-72.240&bbox%5B%5D=-75.877&bbox%5B%5D=38.543&bbox%5B%5D=42.236&per_page=10&services%5B%5D=UrgentCare&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"vha_561","type":"va_facilities","attributes":{"name":"East
        Orange VA Medical Center","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.newjersey.va.gov/locations/directions.asp","lat":40.75380161,"long":-74.23432989,"address":{"mailing":{},"physical":{"zip":"07018-1023","city":"East
        Orange","state":"NJ","address_1":"385 Tremont Avenue","address_2":null,"address_3":null}},"phone":{"fax":"973-676-4226","main":"973-676-1000","pharmacy":"800-480-5590","after_hours":"973-676-1000","patient_advocate":"973-676-1000
        x3399","mental_health_clinic":"973-676-1000 x 1421","enrollment_coordinator":"973-676-1000
        x3044"},"hours":{"friday":"24/7","monday":"24/7","sunday":"24/7","tuesday":"24/7","saturday":"24/7","thursday":"24/7","wednesday":"24/7"},"services":{"other":[],"health":["Audiology","Cardiology","DentalServices","Dermatology","EmergencyCare","Gastroenterology","Gynecology","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Orthopedics","Podiatry","PrimaryCare","SpecialtyCare","UrgentCare","Urology"],"last_updated":"2020-07-27"},"satisfaction":{"health":{"primary_care_urgent":0.7400000095367432,"primary_care_routine":0.7699999809265137,"specialty_care_urgent":0.800000011920929,"specialty_care_routine":0.8999999761581421},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"Audiology","new":49.823529,"established":22.705882},{"service":"Cardiology","new":17.736842,"established":14.652173},{"service":"Dermatology","new":4.185185,"established":2.0},{"service":"Gastroenterology","new":3.875,"established":13.333333},{"service":"Gynecology","new":22.461538,"established":11.230769},{"service":"MentalHealthCare","new":6.891304,"established":0.957575},{"service":"Ophthalmology","new":4.090909,"established":8.266666},{"service":"Optometry","new":0.0,"established":60.053763},{"service":"Orthopedics","new":5.130434,"established":0.445945},{"service":"PrimaryCare","new":5.95,"established":2.883495},{"service":"SpecialtyCare","new":17.447457,"established":10.865472},{"service":"Urology","new":63.333333,"established":0.6}],"effective_date":"2020-07-27"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"2"}},{"id":"vha_620","type":"va_facilities","attributes":{"name":"Franklin
        Delano Roosevelt Hospital","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.hudsonvalley.va.gov/locations/directions.asp","lat":41.24466,"long":-73.926261,"address":{"mailing":{},"physical":{"zip":"10548-1454","city":"Montrose","state":"NY","address_1":"2094
        Albany Post Road","address_2":null,"address_3":null}},"phone":{"fax":"914-788-4244","m[...]
