---
http_interactions:
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&where=Facility_1%3D%27314c%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=Facility_1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd49_-1582148741
      X-Arcgis-Instance:
      - MTSDS_Web_IN_8
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"FID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"FID","type":"esriFieldTypeInteger","alias":"FID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"ObjectID","type":"esriFieldTypeInteger","alias":"ObjectID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"Facility_N","type":"esriFieldTypeString","alias":"Facility_N","sqlType":"sqlTypeNVarchar","length":254,"domain":null,"defaultValue":null},{"name":"Facility_1","type":"esriFieldTypeString","alias":"Facility_1","sqlType":"sqlTypeNVarchar","length":254,"domain":null,"defaultValue":null},{"name":"Classifica","type":"esriFieldTypeString","alias":"Classifica","sqlType":"sqlTypeNVarchar","length":254,"domain":null,"defaultValue":null},{"name":"Address_1","type":"esriFieldTypeString","alias":"Address_1","sqlType":"sqlTypeNVarchar","length":254,"domain":null,"defaultValue":null},{"name":"Address__2","[...]
