---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=Facility_Number&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=Facility_Number=%27314c%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd57_-1966319286
      X-Arcgis-Instance:
      - MTSDS_Web_IN_11
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"ObjectID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"ObjectID","type":"esriFieldTypeOID","alias":"ObjectID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Classification","type":"esriFieldTypeString","alias":"Classification","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Address_1","type":"esriFieldTypeString","alias":"Address_1","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Addr[...]
