---
http_interactions:
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&where=Facility_Number%3D%27314c%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=Facility_Number
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd57_-1966319286
      X-Arcgis-Instance:
      - MTSDS_Web_IN_6
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"ObjectID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"ObjectID","type":"esriFieldTypeOID","alias":"ObjectID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Classification","type":"esriFieldTypeString","alias":"Classification","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Address_1","type":"esriFieldTypeString","alias":"Address_1","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Addr[...]
