---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Tue, 27 Feb 2018 22:59:00 GMT
      Etag:
      - '737041379'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_23
      X-Arcgis-Request-Id:
      - "|AZXikOgd8yY=.b5dcf11b_"
    body:
      encoding: UTF-8
      string: '{"currentVersion":10.51,"id":0,"name":"VBA_Facilities","type":"Feature
        Layer","serviceItemId":"6735b628996e4ced9668e128a6f542a2","displayField":"Facility_Name","description":"","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":1519772340968},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-158.06150769999996,"ymin":13.487934190000033,"xmax":144.79828440000006,"ymax":64.842411550000065,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[133,0,11,255],"size":4,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[0,0,0,255],"width":1}},"label":"","description":""},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasM":false,"hasZ":false,"objectIdField":"OBJECTID","globalIdField":"","typeIdField":"","fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","nullable":false,"editable":false,"domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"Facility_Type","type":"esriFieldTypeString","alias":"Facility_Type","sqlType":"sqlTypeOther","length":255,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"Address_1","type":"esriFieldTypeString","alias":"A[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=Facility_Number&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Tue, 27 Feb 2018 22:59:00 GMT
      Etag:
      - sd1208_-1205503819
      X-Arcgis-Instance:
      - MTSDS_Web_IN_13
      X-Arcgis-Request-Id:
      - "|bm/Gyik5L+k=.63bbc6a4_"
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"domain"[...]
