---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Mon, 11 Feb 2019 08:55:31 GMT
      Etag:
      - "-392715542"
      X-Arcgis-Correlation-Id:
      - "|38fc08203a5a9941899b61955ae36492.7fd6b2e3_"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_23
    body:
      encoding: UTF-8
      string: '{"currentVersion":10.61,"id":0,"name":"VBA_Facilities","type":"Feature
        Layer","serviceItemId":"3b99643cfe9e4b7e90b839727b7c1c23","displayField":"Facility_Name","description":"VBA_Facilities","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":1549875331544},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsASyncCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsExceedsLimitStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsQuantizationEditMode":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsLod":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true,"supportsMaxRecordCountFactor":true,"supportsTopFeaturesQuery":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-158.06150769999996,"ymin":13.487934190000033,"xmax":144.79828440000006,"ymax":64.842411550000065,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[56,168,0,255],"size":6,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[255,255,255,255],"width":0.75}}},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasMetadata":true,"hasM":false,"hasZ":false,"objectIdField":"OBJECTID","uniqueIdField":{"name":"OBJECTID","isSystemMaintained":true},"globalIdField":"","typeIdField":"","fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","nullable":false,"editable":false,"domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"Facility_Type","type":"esriFieldTypeString","alias":"Facility_Type","sqlType":"sqlTypeOther","length":255,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"Address_1","type":"esriFieldTypeString","alias":"A[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=Facility_Number&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Mon, 11 Feb 2019 08:55:31 GMT
      Etag:
      - sd3577_-1520498050
      X-Arcgis-Correlation-Id:
      - "|d2e7d8bb-4ebeace563f0c6cb."
      X-Arcgis-Instance:
      - MTSDS_Web_IN_32
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","uniqueIdField":{"name":"OBJECTID","isSystemMaintained":true},"globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"Facility_Name","type":"esriFieldTypeString","alias":"Facility_Name","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"Facility_Number","type":"esriFieldTypeString","alias":"Facility_Number","sqlType":"sqlTypeOther","length":255,"domain"[...]
