---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_VetCenters/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Wed, 28 Feb 2018 17:29:10 GMT
      Etag:
      - "-719666965"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_17
      X-Arcgis-Request-Id:
      - "|6Yd4kVeAkwc=.3cddcf2_"
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.51,"id":0,"name":"VHA VetCenter","type":"Feature
        Layer","serviceItemId":"88a3731e83164b6d9beb6a26cca0da7a","displayField":"stationname","description":"","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":1519838950283},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-170.71899999999997,"ymin":-14.328199999999979,"xmax":144.74800000000005,"ymax":64.842400000000055,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[133,0,11,255],"size":4,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[0,0,0,255],"width":1}},"label":"","description":""},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasM":false,"hasZ":false,"objectIdField":"OBJECTID","globalIdField":"","typeIdField":"","fields":[{"name":"extractdate","type":"esriFieldTypeString","alias":"extractdate","sqlType":"sqlTypeOther","length":20,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"stationno","type":"esriFieldTypeString","alias":"stationno","sqlType":"sqlTypeOther","length":20,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"stationname","type":"esriFieldTypeString","alias":"stationname","sqlType":"sqlTypeOther","length":200,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"address1","type":"esriFieldTypeString","alias":"address1","sqlType":"sqlTypeOther","length":150,"nullable":true,"editable":true,"domai[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_VetCenters/FeatureServer/0/query?f=json&inSR=4326&orderByFields=stationno&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Wed, 28 Feb 2018 17:29:10 GMT
      Etag:
      - sd1209_-805594272
      X-Arcgis-Instance:
      - MTSDS_Web_IN_30
      X-Arcgis-Request-Id:
      - "|7wB5dr5dGw0=.a29f714_"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"extractdate","type":"esriFieldTypeString","alias":"extractdate","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"stationno","type":"esriFieldTypeString","alias":"stationno","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"stationname","type":"esriFieldTypeString","alias":"stationname","sqlType":"sqlTypeOther","length":200,"dom[...]
