---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_VetCenters/FeatureServer/0/query?f=json&inSR=4326&orderByFields=stationno&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Thu, 25 Jan 2018 14:44:52 GMT
      Etag:
      - sd1182_962317154
      X-Arcgis-Instance:
      - MTSDS_Web_IN_12
      X-Arcgis-Request-Id:
      - "|jcpaSxOOZhk=.a0fb1117_"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"extractdate","type":"esriFieldTypeString","alias":"extractdate","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"stationno","type":"esriFieldTypeString","alias":"stationno","sqlType":"sqlTypeOther","length":20,"domain":null,"defaultValue":null},{"name":"stationname","type":"esriFieldTypeString","alias":"stationname","sqlType":"sqlTypeOther","length":200,"domain":null,"defaultValue":null},{"name":"address1","type":"esriFieldTypeString","alias":"address1","sqlType":"sqlTy[...]
