---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '1450885044'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_22
      X-Arcgis-Request-Id:
      - "|nUDDN72DRqQ=.24074b2a_"
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.51,"id":0,"name":"VHA_Facility","type":"Feature
        Layer","serviceItemId":"0f840d8f5a754b97af75887dadc2fbe6","displayField":"StationName","description":"","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":null},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-170.71861499999997,"ymin":-14.328209999999956,"xmax":145.72938500000009,"ymax":64.827802560000066,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[0,166,116,255],"size":4,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[0,0,0,255],"width":1}},"label":"","description":""},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasM":false,"hasZ":false,"objectIdField":"OBJECTID","globalIdField":"","typeIdField":"","fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","nullable":false,"editable":false,"domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID","sqlType":"sqlTypeOther","nullable":false,"editable":true,"domain":null,"defaultValue":null},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","sqlType":"sqlTypeOther",[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=StationNumber&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-312482559"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_22
      X-Arcgis-Request-Id:
      - "|vCRAmiFbBaY=.2408b128_"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","domain":null,"defaultVal[...]
[...]
