---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=StationNumber&outFields=*&outSR=4326&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-312482559"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_4
      X-Arcgis-Request-Id:
      - "|5WwSVwNcFyQ=.35106b9_"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"OBJECTID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationName","type":"esriFieldTypeString"[...]
