---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Mon, 11 Feb 2019 08:53:56 GMT
      Etag:
      - "-2139206121"
      X-Arcgis-Correlation-Id:
      - "|f2f4ee6c534a83408c718effa212e8cd.75228115_"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_19
    body:
      encoding: UTF-8
      string: '{"currentVersion":10.61,"id":0,"name":"VHA_Facility","type":"Feature
        Layer","serviceItemId":"cb1d3b512a4b47858357bfef8daa4c4b","displayField":"StationName","description":"GIS_VA.DBO.VHA_Facility","copyrightText":"","defaultVisibility":true,"editingInfo":{"lastEditDate":1549875236447},"relationships":[],"isDataVersioned":false,"supportsAppend":true,"supportsCalculate":true,"supportsASyncCalculate":true,"supportsTruncate":true,"supportsAttachmentsByUploadId":true,"supportsAttachmentsResizing":true,"supportsRollbackOnFailureParameter":true,"supportsStatistics":true,"supportsExceedsLimitStatistics":true,"supportsAdvancedQueries":true,"supportsValidateSql":true,"supportsCoordinatesQuantization":true,"supportsQuantizationEditMode":true,"supportsApplyEditsWithGlobalIds":false,"advancedQueryCapabilities":{"supportsPagination":true,"supportsPaginationOnAggregatedQueries":true,"supportsQueryRelatedPagination":true,"supportsQueryWithDistance":true,"supportsReturningQueryExtent":true,"supportsStatistics":true,"supportsOrderBy":true,"supportsDistinct":true,"supportsQueryWithResultType":true,"supportsSqlExpression":true,"supportsAdvancedQueryRelated":true,"supportsCountDistinct":true,"supportsLod":true,"supportsReturningGeometryCentroid":false,"supportsQueryWithDatumTransformation":true,"supportsHavingClause":true,"supportsOutFieldSQLExpression":true,"supportsMaxRecordCountFactor":true,"supportsTopFeaturesQuery":true},"useStandardizedQueries":true,"geometryType":"esriGeometryPoint","minScale":0,"maxScale":0,"extent":{"xmin":-170.71861499999997,"ymin":-14.328209999999956,"xmax":145.72938500000009,"ymax":64.827802560000066,"spatialReference":{"wkid":4326,"latestWkid":4326}},"drawingInfo":{"renderer":{"type":"simple","symbol":{"type":"esriSMS","style":"esriSMSCircle","color":[255,0,197,255],"size":6,"angle":0,"xoffset":0,"yoffset":0,"outline":{"color":[255,255,255,255],"width":0.75}}},"transparency":0,"labelingInfo":null},"allowGeometryUpdates":true,"hasAttachments":false,"htmlPopupType":"esriServerHTMLPopupTypeAsHTMLText","hasMetadata":true,"hasM":false,"hasZ":false,"objectIdField":"OBJECTID","uniqueIdField":{"name":"OBJECTID","isSystemMaintained":true},"globalIdField":"","typeIdField":"","fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","nullable":false,"editable":false,"domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID","sqlType":"sqlTypeOther","nullable":true,"editable":true,"domain":null,"defaultValue":null},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","sqlType":"sqlTypeOther","le[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query?f=json&inSR=4326&orderByFields=StationNumber&outFields=*&outSR=4326&resultOffset=0&returnCountOnly=false&returnDistinctValues=false&returnGeometry=true&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Mon, 11 Feb 2019 08:53:56 GMT
      Etag:
      - sd3576_2081181966
      X-Arcgis-Correlation-Id:
      - "|3342848237c9e64e892d6b5450030f57.15ed44bd_"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_27
    body:
      encoding: UTF-8
      string: '{"objectIdFieldName":"OBJECTID","uniqueIdField":{"name":"OBJECTID","isSystemMaintained":true},"globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","sqlType":"sqlTypeOther","length":1024,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeOther","domain":null,"defaultVal[...]
