---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '734082939'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_10
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.41,"serviceItemId":"bfd04fe65092468ca904697942ab696a","serviceDescription":"","hasVersionedData":false,"supportsDisconnectedEditing":false,"hasStaticData":true,"maxRecordCount":2000,"supportedQueryFormats":"JSON","capabilities":"Query","description":"","copyrightText":"","spatialReference":{"wkid":102100,"latestWkid":3857},"initialExtent":{"xmin":-19000904.270065553,"ymin":-1606157.9059831309,"xmax":16222522.397490788,"ymax":9563162.5390994027,"spatialReference":{"wkid":102100,"latestWkid":3857}},"fullExtent":{"xmin":-19000904.270065553,"ymin":-1606157.9059831309,"xmax":16222522.397490788,"ymax":9563162.5390994027,"spatialReference":{"wkid":102100,"latestWkid":3857}},"allowGeometryUpdates":true,"units":"esriMeters","size":1105920,"syncEnabled":false,"supportsApplyEditsWithGlobalIds":false,"editorTrackingInfo":{"enableEditorTracking":false,"enableOwnershipAccessControl":false,"allowOthersToQuery":true,"allowOthersToUpdate":true,"allowOthersToDelete":false,"allowAnonymousToUpdate":true,"allowAnonymousToDelete":true},"xssPreventionInfo":{"xssPreventionEnabled":true,"xssPreventionRule":"InputOnly","xssInputRule":"rejectInvalid"},"layers":[{"id":0,"name":"VHA_Facilities","parentLayerId":-1,"defaultVisibility":true,"subLayerIds":null,"minScale":0,"maxScale":0}],"tables":[]}'
  recorded_at: Fri, 21 Oct 2016 23:42:13 GMT
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-2073295673"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_5
      Token: "<SESSION_TOKEN>"
    body:
      encoding: A[...]
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&where=StationNum%3D%27648A4%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=StationNum
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd48_1613943923
      X-Arcgis-Instance:
      - MTSDS_Web_IN_9
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"FID","globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"FID","type":"esriFieldTypeInteger","alias":"FID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"OBJECTID","type":"esriFieldTypeInteger","alias":"OBJECTID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"FacilityDa","type":"esriFieldTypeString","alias":"FacilityDa","sqlType":"sqlTypeNVarchar","length":254,"domain":null,"defaultValue":null},{"name":"Outpatient","type":"esriFieldTypeDate","alias":"Outpatient","sqlType":"sqlTypeTimestamp2","length":8,"domain":null,"defaultValue":null},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"VisnID","type":"esriFieldTypeInteger","alias":"VisnID","sqlType":"sqlTypeInteger","domain":null,"defaultValue":null},{"name":"StationNum","type":"esriFieldTypeString","alias":[...]
