---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '734082939'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_3
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.41,"serviceItemId":"bfd04fe65092468ca904697942ab696a","serviceDescription":"","hasVersionedData":false,"supportsDisconnectedEditing":false,"hasStaticData":true,"maxRecordCount":2000,"supportedQueryFormats":"JSON","capabilities":"Query","description":"","copyrightText":"","spatialReference":{"wkid":102100,"latestWkid":3857},"initialExtent":{"xmin":-19000904.270065553,"ymin":-1606157.9059831309,"xmax":16222522.397490788,"ymax":9563162.5390994027,"spatialReference":{"wkid":102100,"latestWkid":3857}},"fullExtent":{"xmin":-19000904.270065553,"ymin":-1606157.9059831309,"xmax":16222522.397490788,"ymax":9563162.5390994027,"spatialReference":{"wkid":102100,"latestWkid":3857}},"allowGeometryUpdates":true,"units":"esriMeters","size":1105920,"syncEnabled":false,"supportsApplyEditsWithGlobalIds":false,"editorTrackingInfo":{"enableEditorTracking":false,"enableOwnershipAccessControl":false,"allowOthersToQuery":true,"allowOthersToUpdate":true,"allowOthersToDelete":false,"allowAnonymousToUpdate":true,"allowAnonymousToDelete":true},"xssPreventionInfo":{"xssPreventionEnabled":true,"xssPreventionRule":"InputOnly","xssInputRule":"rejectInvalid"},"layers":[{"id":0,"name":"VHA_Facilities","parentLayerId":-1,"defaultVisibility":true,"subLayerIds":null,"minScale":0,"maxScale":0}],"tables":[]}'
  recorded_at: Wed, 26 Oct 2016 21:15:41 GMT
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-2073295673"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_9
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.41,"serviceItemI[...]
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-67749394"
      X-Arcgis-Instance:
      - MTSDS_Web_IN_13
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.41,"serviceItemId[...]
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&geometry=-122%2C45%2C-122%2C45&geometryType=esriGeometryEnvelope&where=1%3D1&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=StationNum
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Arcgis-Instance:
      - MTSDS_Web_IN_12
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":400,"message":"Cannot perform query. Invalid query
        parameters.","details":["24305: The Polygon input is not valid because the
        ring does not have enough distinct points. Each ring of a polygon must contain
        at least three distinct points.","Unable to perform query. Please check your
        parameters."]}}'
  recorded_at: Wed, 26 Oct 2016 21:15:43 GMT
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&geometry=-122%2C45%2C-122%2C45&geometryType=esriGeometryEnvelope&where=1%3D1&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=CEMETERY_I
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Arcgis-Instance:
      - MTSDS_Web_IN_10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":400,"message":"Cannot perform query. Invalid query
        parameters.","details":["24305: The Polygon input is not valid because the
        ring does not have enough distinct points. Each ring of a polygon must contain
        at least three distinct points.","Unable to perform query. Please check your
        parameters."]}}'
  recorded_at: Wed, 26 Oct 2016 21:15:43 GMT
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&geometry=-122%2C45%2C-122%2C45&geometryType=esriGeometryEnvelope&where=1%3D1&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=Facility_1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Arcgis-Instance:
      - MTSDS_Web_IN_9
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":400,"message":"Cannot perform query. Invalid query
        parameters.","details":["24305: The Polygon input is not valid because the
        ring does not have enough distinct points. Each ring of a polygon must contain
        at least three distinct points.","Unable to perform query. Please check your
        parameters."]}}'
  recorded_at: Wed, 26 Oct 2016 21:15:44 GMT
recorded_with: VCR 3.0.3
