<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>

<h3>Some medical data are not included in this PDF. Please check for additional readings and sources.</h3>

<p>
  This summary does not check all sources of medical information for Veterans that are necessary for you to
  rate this claim accurately. You will need to check these sources manually to gather all available evidence.
</p>

<p>
  <b>Clinical notes.</b>
  This data may not match all the medical evidence in CAPRI. For example, it may not find medical data entered into clinical notes. 
</p>

<p>
  <b>Data outside of VAMC CAPRI or VistA.</b> This report does not check the following sources:
  <ul>
    <li>Private medical data</li>
    <li>VAMC data for clinics using CERNER EHR</li>
    <li>Department of Defense/JVL medical data</li>
    <li>Documents in the Veteran's VBMS eFolder</li>
  </ul>
</p>

<p><br/></p>

<h3>
  How we identify asthma medications
</h3>

<p>
  The automated routine for identifying medications that <b></i>may</i></b> have been prescribed for asthma relies on keyword filtering.
  A prescription is marked for asthma if it matches either of these filters:
  <ul>
    <li>The medication name is on a list of medications frequently prescribed for asthma.</li>
    <li>The dosage instructions contain a keyword, such as “asthma,” “breathing,” “inhale,” “inhalation,” or “puff.”</li>
  </ul>
</p>

<p><br/></p>

<h3>About this Document</h3>
<p>
  The Health Evidence Rapid Ready for Decision system retrieves and summarizes VHA medical records related to
  claims for increase submitted on va.gov. VSRs and RVSRs can develop and rate this claim without ordering an
  exam if there is sufficient existing evidence to rate a claim to
  <%= link_to('https://www.ecfr.gov/current/title-38/part-4') { 'Title 38 C.F.R. § 4' } %>. This is not new guidance,
  but rather a way to operationalize existing statutory rules in 38 U.S.C. § 5103A(d).
</p>
