---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/534/clinics/1081
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.23.0
      B3:
      - e02d6f201bb723b1-bf1c05721cd79d8c-0
      X-Vamf-Build:
      - 8118a26
      X-Vamf-Timestamp:
      - '2020-11-24T14:50:36+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "vistaSite" : 534,
            "clinicId" : "1081",
            "serviceName" : "CHS NEUROSURGERY VARMA",
            "friendlyName" : "CHS NEUROSURGERY VARMA",
            "medicalService" : "SURGERY",
            "physicalLocation" : "1ST FL SPECIALTY MODULE 2",
            "phoneNumber" : "843-577-5011",
            "phoneNumberExtension" : " ",
            "stationId" : "534",
            "institutionId" : "534",
            "stationName" : "Ralph H. Johnson Department of Veterans Affairs Medical Center",
            "primaryStopCode" : 406,
            "primaryStopCodeName" : "NEUROSURGERY",
            "secondaryStopCodeName" : "*Missing*",
            "appointmentLength" : 30,
            "variableAppointmentLength" : true,
            "patientDirectScheduling" : false,
            "patientDisplay" : true,
            "institutionName" : "CHARLESTON VAMC",
            "institutionIEN" : "534",
            "institutionSID" : "97177",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "futureBookingMaximumDays" : 390
          }
        }
  recorded_at: Thu, 07 Jan 2021 21:09:58 GMT
recorded_with: VCR 6.0.0
