---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/PaymentService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/Payment/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>32d34b8f-2e84-4d52-a721-9bd72448dfc3</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISseparationPayRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>6001010001</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISseparationPayRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getSeparationPay/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
        xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
        xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v1"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>32d34b8f-2e84-4d52-a721-9bd72448dfc3</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISseparationPayResponse
        xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/Payment/v1"><NS5:separationPay
        xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v1">6001010001</NS6:edipi><NS7:keyData
        xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS7:personnelOrganizationCode>12</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>A</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>1</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:separationPayData
        xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS8:separationPaySegmentIdentifier>1</NS8:separationPaySegmentIdentifier><NS8:separationPayType>01</NS8:separationPayType><NS8:separationPaymentGrossAmount>14660.13</NS8:separationPaymentGrossAmount><NS8:separationPaymentNetAmount>14654.68</NS8:separationPaymentNetAmount><NS8:separationPaymentBeginDate>2013-09-11</NS8:separationPaymentBeginDate><NS8:separationPaymentEndDate>2013-09-13</NS8:separationPaymentEndDate><NS8:separationPaymentTerminationReason>W</NS8:separationPaymentTerminationReason><NS8:disabilitySeverancePayCombatCode>W</NS8:disabilitySeverancePayCombatCode><NS8:federalIncomeTaxAmount>3665.03</NS8:federalIncomeTaxAmount><NS8:separationPayStatusCode>V</NS8:separationPayStatusCode></NS8:separationPayData></NS5:separationPay></NS4:eMISseparationPayResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 19 Apr 2017 19:19:40 GMT
recorded_with: VCR 3.0.3
