---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/facility-service/supported-facilities?siteCodes=983,984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "sitesSupportingVAR" : [ {
            "id" : "983",
            "name" : "CHYSHR-Cheyenne VA Medical Center",
            "timezone" : "US/EST",
            "objectType" : "SiteSupportingVAR",
            "link" : [ ]
          } ]
        }
  recorded_at: Tue, 24 Dec 2019 00:00:43 GMT
recorded_with: VCR 5.0.0
