---
http_interactions:
  - request:
      method: get
      uri: https://something.fake.va.gov/avs-by-appointment/500/9876543
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
          [
            { 
              "sid": "9A7AF40B2BC2471EA116891839113252",
              "icn": "99999999999999999",
              "generatedDate": "2023-05-11T12:45:03Z",
              "station": "500",
              "appointmentIens": [ 
                "9876543"
              ]
            }
          ]
    recorded_at: Thu, 19 Nov 2020 16:45:03 GMT
recorded_with: VCR 6.0.0
