---
http_interactions:
- request:
    method: get
    uri: https://staging-api.va.gov/services/benefits-reference-data/v1/disabilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - 
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"totalItems":837,"totalPages":1,"links":[{"href":"https://staging-api.va.gov/services/benefits-reference-data/v1/disabilities","rel":"self"}],"items":[{"id":10,"name":"abnormal
        heart","endDateTime":"2016-03-02T00:34:57Z"},{"id":20,"name":"abnormal mitral
        valve","endDateTime":"2016-03-02T00:34:57Z"},{"id":30,"name":"abnormal weight
        loss","endDateTime":"2016-03-02T00:34:57Z"},{"id":40,"name":"abscess, brain","endDateTime":"2016-03-02T00:34:57Z"},{"id":50,"name":"abscess,
        kidney","endDateTime":"2016-03-02T00:34:57Z"},{"id":60,"name":"abscess, liver","endDateTime":"2016-03-02T00:34:57Z"},{"id":70,"name":"acne","endDateTime":"2016-03-02T00:34:57Z"},{"id":80,"name":"acrom[...]
[...]
