---
http_interactions:
  - request:
      method: get
      uri: https://staging-api.va.gov/services/benefits-reference-data/v1/intake-sites
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Apikey:
          - stagingapikeyhere
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:  "{\"totalItems\":327,\"totalPages\":1,\"links\":[{\"href\":\"https://staging-api.va.gov/services/benefits-reference-data/v1/intake-sites\",\"rel\":\"self\"}],\"items\":[{\"id\":24912,\"description\":\"AF Academy\"},{\"id\":26722,\"description\":\"ANG Hub\"},{\"id\":24911,\"description\":\"Aberdeen Proving Ground\"},{\"id\":26821,\"description\":\"Al Udeid, Qatar\"},{\"id\":26742,\"description\":\"Alameda Coast Guard\"},{\"id\":24913,\"description\":\"Albuquerque\"},{\"id\":24914,\"description\":\"Altus AFB*\"},{\"id\":24915,\"description\":\"Anchorage\"},{\"id\":26767,\"description\":\"Andersen AFB - Air Force / Guam\"},{\"id\":24916,\"description\":\"Andrews AFB\"},{\"id\":24917,\"descript[...]
