---
http_interactions:
- request:
    method: get
    uri: https://staging-api.va.gov/services/benefits-reference-data/v1/service-branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<LIGHTHOUSE_BRD_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '24'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"totalItems":23,"totalPages":1,"links":[{"href":"https://staging-api.va.gov/services/benefits-reference-data/v1/service-branches","rel":"self"}],"items":[{"code":"NR","description":"Navy
        Reserves"},{"code":"ANG","description":"Air National Guard"},{"code":"OTH","description":"Other"},{"code":"N
        ACAD","description":"Naval Academy"},{"code":"MM","description":"Merchant
        Marine"},{"code":"PHS","description":"Public Health Service"},{"code":"AAC","description":"Army
        Air Corps or Army Air Force"},{"code":"WAC","description":"Women''s Army Corps"},{"code":"NOAA","description":"National
        Oceanic & Atmospheric Administration"},{"code":"SF","description":"Space Force"},{"code":"ARMY","description":"Army"},{"code":"ARNG","description":"Army
        National Guard"},{"code":"AF ACAD","description":"Air Force Academy"},{"code":"CG
        ACAD","description":"Coast Guard Academy"},{"code":"USMA","description":"US
        Military Academy"},{"code":"AF","description":"Air Force"},{"code":"CG","description":"Coast
        Guard"},{"code":"MC","description":"Marine Corps"},{"code":"NAVY","description":"Navy"},{"code":"AFR","description":"Air
        Force Reserves"},{"code":"AR","description":"Army Reserves"},{"code":"CGR","description":"Coast
        Guard Reserves"},{"code":"MCR","description":"Marine Corps Reserves"}]}'
  recorded_at: Tue, 29 Aug 2023 18:18:33 GMT
recorded_with: VCR 6.2.0
