---
http_interactions:
- request:
    method: get
    uri: https://some.fakesite.com/dws/v1.0/FacilityServiceLocator?address=38.901,-77.0347&homeHealthSearch=0&maxResults=10&pageNumber=1&pageSize=10&radius=60&specialtycode1=213E00000X&specialtycode2=213EG0000X&specialtycode3=213EP1101X&specialtycode4=213ES0131X&specialtycode5=213ES0103X&telehealthSearch=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Fakekey:
      - fakevalue
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal
      Odata-Version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://dws-nprod-ppms.pmtpreprodintswase.appserviceenvironment.us/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.FacilityServiceLocatorResult)","TotalResults":
        1774,"TotalPages": 178,"PageNumber": 1,"PageSize": 10,"PreviousPageUrl": null,"NextPageUrl":
        "https://dws-nprod-ppms.pmtpreprodintswase.appserviceenvironment.us/v1.0/FacilityServiceLocator?address=38.901%2C-77.0347&homeHealthSearch=0&maxResults=10&pageNumber=2&pageSize=10&radius=60&specialtycode1=213E00000X&specialtycode2=213EG0000X&specialtycode3=213EP1101X&specialtycode4=213ES0131X&specialtycode5=213ES0103X&telehealthSearch=0","value":[{"Id":"1245820661__1015
        15TH ST NW STE 1000","Name":"1015 15TH ST NW STE 1000","ProviderServices":[{"Miles":0.27713155173785092,"Minutes":2.8333333333333335,"ProviderName":"OPENLOOP
        HEALTHCARE PARTNERS","ProviderSpecialty":"Podiatrist - Foot \u0026 Ankle Surgery","SpecialtyCode":"213ES0103X","SpecialtyGroupName":"Podiatry","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"GroupPracticeOrAgency","HPP":"Unknown","CareSite":"OPENLOOP
        HEALTHCARE PARTNERS","CareSiteAddress":"1015 15TH ST NW STE 1000 WASHINGTON,
        DC 20005-2621","CareSiteAddressStreet":"1015 15TH ST NW STE 1000","CareSiteAddressCity":"WASHINGTON","CareSiteAddressState":"DC","CareSiteAddressZipCode":"20005-2621","CareSitePhoneNumber":"831-218-6882","CareSiteFaxNumber":null,"CareSiteEmail":null,"WorkHours":null,"ProviderGender":"NotSpecified","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":false,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1245820661","Latitude":38.903018000000003,"Longitude":-77.034244000000001,"GeoWarning":null,"Telehealth":false,"Homehealth":false,"TelehealthService":false,"SubServices":[]}]},{"Id":"1285186452__1015
        15TH ST NW STE 1000","Name":"1015 15TH ST NW STE 1000","ProviderServices":[{"Miles":0.27713155173785092,"Minutes":2.8333333333333335,"ProviderName":"MCMILLAN,
        SHADAE","ProviderSpecialty":"Podiatrist - Foot \u0026 Ankle Surgery","SpecialtyCode":"213ES0103X","SpecialtyGroupName":"Podiatry","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingR[...]
