---
http_interactions:
- request:
    method: get
    uri: https://some.fakesite.com/dws/v1.0/FacilityServiceLocator?address=41.148027,-104.786258&homeHealthSearch=0&maxResults=10&pageNumber=1&pageSize=10&radius=60&specialtycode1=213E00000X&specialtycode2=213EG0000X&specialtycode3=213EP1101X&specialtycode4=213ES0131X&specialtycode5=213ES0103X&telehealthSearch=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Fakekey:
      - fakevalue
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal
      Odata-Version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://dws-nprod-ppms.pmtpreprodintswase.appserviceenvironment.us/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.FacilityServiceLocatorResult)","TotalResults":
        51,"TotalPages": 6,"PageNumber": 1,"PageSize": 10,"PreviousPageUrl": null,"NextPageUrl":
        "https://dws-nprod-ppms.pmtpreprodintswase.appserviceenvironment.us/v1.0/FacilityServiceLocator?address=41.148027%2C-104.786258&homeHealthSearch=0&maxResults=10&pageNumber=2&pageSize=10&radius=60&specialtycode1=213E00000X&specialtycode2=213EG0000X&specialtycode3=213EP1101X&specialtycode4=213ES0131X&specialtycode5=213ES0103X&telehealthSearch=0","value":[{"Id":"1992820781__2029
        BLUEGRASS CIR STE 200","Name":"2029 BLUEGRASS CIR STE 200","ProviderServices":[{"Miles":1.8790264853256979,"Minutes":6.7000000000000002,"ProviderName":"ROPER,
        RICK","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","SpecialtyGroupName":"Podiatry","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":null,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP":"Unknown","CareSite":"Associated
        Podiatrists, PC","CareSiteAddress":"2029 Bluegrass Cir Ste 200 Cheyenne, WY
        82009","CareSiteAddressStreet":"2029 Bluegrass Cir Ste 200","CareSiteAddressCity":"Cheyenne","CareSiteAddressState":"WY","CareSiteAddressZipCode":"82009","CareSitePhoneNumber":"3077787666","CareSiteFaxNumber":"3076324465","CareSiteEmail":"lidi@cheyennefootdoctor.com","WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"CCN
        Region 4","NetworkId":40,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1992820781","Latitude":41.159950000000002,"Longitude":-104.791691,"GeoWarning":null,"Telehealth":false,"Homehealth":false,"TelehealthService":false,"SubServices":[]},{"Miles":1.8790264853256979,"Minutes":6.7000000000000002,"ProviderName":"ROPER,
        RICK","ProviderSpecialty":"Podiatrist - Foot \u0026 Ankle Surgery","SpecialtyCode":"213ES0103X","SpecialtyGroupName":"Podiatry","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":null,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP":"Unknown"[...]
