---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/1008709396V637156/claims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '21'
      X-Ratelimit-Limit-Minute:
      - '60'
      Etag:
      - W/"7db345ae00cfd8509278f84c36e5f5d4"
      X-Git-Sha:
      - 12e78331a5fccd2eb589b41ac396598a3bb33cca
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"600383363","type":"claim","attributes":{"claimDate":"2023-02-09","claimPhaseDates":{"phaseChangeDate":"2023-02-09"},"claimType":"Compensation","closeDate":null,"decisionLetterSent":false,"developmentLetterSent":false,"documentsNeeded":false,"endProductCode":"131","evidenceWaiverSubmitted5103":false,"lighthouseId":null,"status":"CLAIM_RECEIVED"}},{"id":"600352078","type":"claim","attributes":{"claimDate":"2022-12-08","claimPhaseDates":{"phaseChangeDate":"2022-12-08"},"claimType":"Compensation","closeDate":null,"decisionLetterSent":false,"developmentLetterSent":false,"documentsNeeded":false,"endProductCode":"130","evidenceWaiverSubmitted5103":false,"lighthouseId":null,"status":"CLAIM_RECEIVED"}},{"id":"600336357","type":"claim","attributes":{"claimDate":"2022-10-05","claimPhaseDates":{"phaseChangeDate":"20[...]
