---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/claims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '12'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
      Etag:
      - W/"b5a51c7379c34e017d07228732153262"
      X-Git-Sha:
      - bcf87c84c487e5f21187f052ee057c86c76cf903
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
          "data": [
            {
              "id": "600173694",
              "type": "claim",
              "attributes": {
                "baseEndProductCode": "110",
                "claimDate": "2023-05-23",
                "claimPhaseDates": { "phaseChangeDate": "2023-06-17" },
                "claimType": "Compensation",
                "closeDate": null,
                "decisionLetterSent": false,
                "developmentLetterSent": false,
                "documentsNeeded": false,
                "endProductCode": "110",
                "evidenceWaiverSubmitted5103": false,
                "lighthouseId": null,
                "status": "PREPARATION_FOR_NOTIFICATION"
              }
            },
          ]
        }'
  recorded_at: Sun, 09 Jul 2023 19:11:50 GMT
recorded_with: VCR 6.1.0
