---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/claims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '57'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '57'
      Ratelimit-Reset:
      - '30'
      Etag:
      - W/"b5a51c7379c34e017d07228732153262"
      X-Git-Sha:
      - bcf87c84c487e5f21187f052ee057c86c76cf903
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
          "data": [
            {
              "id": "600131025",
              "type": "claim",
              "attributes": {
                "claimDate": "2018-06-08",
                "claimPhaseDates": { "phaseChangeDate": "2018-10-15" },
                "claimType": "Appeal",
                "closeDate": "2018-10-15",
                "decisionLetterSent": true,
                "developmentLetterSent": false,
                "documentsNeeded": false,
                "endProductCode": "683",
                "evidenceWaiverSubmitted5103": false,
                "lighthouseId": null,
                "status": "COMPLETE"
              }
            },
            {
              "id": "600342023",
              "type": "claim",
              "attributes": {
                "claimDate": "2022-11-07",
                "claimPhaseDates": { "phaseChangeDate": "2022-11-07" },
                "claimType": "Compensation",
                "closeDate": "2022-11-07",
                "decisionLetterSent": true,
                "developmentLetterSent": false,
                "documentsNeeded": false,
                "endProductCode": "020",
                "evidenceWaiverSubmitted5103": false,
                "lighthouseId": null,
                "status": "COMPLETE"
              }
            },
            {
              "id": "244352",
              "type": "claim",
              "attributes": {
                "claimDate": "2012-09-24",
                "claimPhaseDates": { "phaseChangeDate": "2012-11-16" },
                "claimType": "Administrative Review",
                "closeDate": "2012-11-16",
                "decisionLetterSent": false,
                "developmentLetterSent": false,
                "documentsNeeded": false,
                "endProductCode": "930",
                "evidenceWaiverSubmitted5103": false,
                "lighthouseId": null,
                "status": "COMPLETE"
              }
            }
          ]
        }'
  recorded_at: Sun, 09 Jul 2023 20:18:33 GMT
recorded_with: VCR 6.1.0
