---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Organization/353000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Etag:
      - '"5ef64d16-1493"'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta
        name=\"viewport\" content=\"width=device-width,initial-scale=1, minimum-scale=1,
        maximum-scale=2\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \   <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    <meta
        name=\"apple-mobile-web-app-status-bar-style\" content=\"black\">\n\n    <title>Department
        of Veterans Affairs</title>\n\n    <link rel=\"shortcut icon\" type=\"image/x-icon\"
        href=\"favicon.ico\">\n    <!-- USWDS-specific css dependencies -->    \n
        \   <link rel=\"stylesheet\" href=\"assets/uswds-1.6.9/css/uswds.min.css\">\n
        \   <link rel=\"stylesheet\" href=\"assets/css/styles.css\"/>\n\n    <!--
        USWDS-specific js dependencies -->\n    <script src=\"assets/uswds-1.6.9/js/uswds.min.js\"></script>\n\n
        \   <!-- Generate HTML from JSON using templates -->\n</head>\n<body>\n<div
        data-role=\"page\" class=\"idp-selection\">\n    <a class=\"usa-skipnav\"
        href=\"#main-content\">Skip to main content</a>\n    <section class=\"usa-banner\">\n
        \     <div class=\"usa-accordion\">\n        <header class=\"usa-banner-header\">\n
        \         <div class=\"usa-grid usa-banner-inner\">\n          <img src=\"assets/uswds-1.6.9/img/favicons/favicon-57.png\"
        alt=\"U.S. flag\">\n          <p>An official website of the United States
        government</p>\n          <button class=\"usa-accordion-button usa-banner-button\"\n
        \           aria-expanded=\"false\" aria-controls=\"gov-banner\">\n            <span
        class=\"usa-banner-button-text\">Here's how you know</span>\n          </button>\n
        \         </div>\n        </header>\n        <div class=\"usa-banner-content
        usa-grid usa-accordion-content\" id=\"gov-banner\">\n          <div class=\"usa-banner-guidance-gov
        usa-width-one-half\">\n            <img class=\"usa-banner-icon usa-media_block-img\"
        src=\"assets/uswds-1.6.9/img/icon-dot-gov.svg\" alt=\"Dot gov\">\n            <div
        class=\"usa-media_block-body\">\n              <p>\n                <strong>The
        .gov means it’s official.</strong>\n                <br>\n                Federal
        government websites often end in .gov or .mil. Before sharing sensitive information,
        make sure you’re on a federal government site.\n              </p>\n            </div>\n
        \         </div>\n          <div class=\"usa-banner-guidance-ssl usa-width-one-half\">\n
        \           <img class=\"usa-banner-icon usa-media_block-img\" src=\"assets/uswds-1.6.9/img/icon-https.svg\"
        alt=\"Https\">\n            <div class=\"usa-media_block-body\">\n              <p>\n
        \               <strong>The site is secure.</strong>\n                <br>\n
        \               The <strong>https://</strong> ensures that you are connecting
        to the official website and that any information you provide is encrypted
        and transmitted securely.\n              </p>\n            </div>\n          </div>\n
        \       </div>\n      </div>\n    </section>\n    <header class=\"usa-header
        usa-header-extended\" role=\"banner\">\n        <div class=\"usa-nav-container\">\n
        \         <img src=\"assets/img/dova-seal.svg\" id=\"logo\" class=\"seal\"
        alt=\"VA Seal\"/>\n          <div class=\"usa-logo\" id=\"basic-logo\">\n
        \             <h1 class=\"usa-logo-text\">\n                <!--<a href=\"/\"\n
        \                 title=\"Home\"\n                  aria-label=\"Home\">-->\n
        \                 Department of Veterans Affairs\n                <!--</a>-->\n
        \             </h1>\n              <p>API Gateway Error</p>\n          </div>\n
        \       </div>\n    </header>\n    <main class=\"usa-grid usa-section usa-content
        usa-layout-docs\" id=\"main-content\">\n        <div class=\"usa-width-one-whole\">\n
        \         <div class=\"row\">\n            <div class=\"text-center usa-content
        error\">\n              <h1>Error 404</h1>\n              <h3>Sorry — we can’t
        find that page</h3>\n              <p>We apologize for the inconvienence.
        Please check to ensure that the url in the browser is your intended destination.</p>\n
        \           </div>\n          </div>\n          <div class=\"row va-quicklinks
        va-quicklinks--commpop\">\n            <div class=\"small-12 usa-width-one-half
        medium-6 columns\">\n              <h3 class=\"va-h-ruled\">Common Questions</h3>\n
        \             <ul class=\"va-list--plain\">\n               <li>\n                  <a
        href=\"https://www.va.gov/health-care/how-to-apply/\">How do I apply for health
        care?</a>\n               </li>\n               <li>\n                  <a
        href=\"https://www.va.gov/disability/how-to-file-claim/\">How do I apply for
        disability benefits?</a>\n                </li>\n                <li>\n                  <a
        href=\"https://www.va.gov/education/how-to-apply/\">How do I apply for education
        benefits?</a>\n                </li>\n              </ul>\n            </div>\n
        \           <div class=\"small-12 usa-width-one-half medium-6 columns\">\n
        \             <h3 class=\"va-h-ruled\">Popular on VA.gov</h3>\n              <ul
        class=\"va-list--plain\">\n                <li><a href=\"https://www.va.gov/find-locations/\">Find
        nearby VA locations</a></li>\n                <li>\n                  <a href=\"https://www.va.gov/gi-bill-comparison-tool\">View
        education benefits available by school</a>\n                </li>\n                <li><a
        target=\"_blank\" href=\"https://www.veteranscrisisline.net/\" class=\"external
        no-external-icon\" rel=\"noopener \">Contact the Veterans Crisis Line</a></li>\n
        \             </ul>\n            </div>\n          </div>\n        </div>\n
        \   </main>\n</div>\n</body>\n</html>\n"
  recorded_at: Thu, 03 Sep 2020 19:06:41 GMT
recorded_with: VCR 6.0.0
