---
http_interactions:
- request:
    method: post
    uri: "<VEIS_AUTH_URL>/tenant_id/oauth2/token"
    body:
      encoding: US-ASCII
      string: 'client_id=client_id&client_secret=client_secret&client_info=1&grant_type=client_credentials&resource=resource_id'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblahblah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "access_token": "string",
          "contactId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        }
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
- request:
    method: get
    uri: https://btsss.gov/api/v1.2/claims/3fa85f64-5717-4562-b3fc-2c963f66afa6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer string
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": 
          {
            "claimId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            "claimNumber": "TC0000000000001",
            "claimName": "Claim created for NOLLE BARAKAT",
            "claimantFirstName": "Nolle",
            "claimantMiddleName": "Polite",
            "claimantLastName": "Barakat",
            "claimStatus": "PreApprovedForPayment",
            "appointmentDate": "2024-01-01T16:45:34.465Z",
            "facilityName": "Cheyenne VA Medical Center",
            "totalCostRequested": 20.00,
            "reimbursementAmount": 14.52,
            "createdOn": "2025-03-12T20:27:14.088Z",
            "modifiedOn": "2025-03-12T20:27:14.088Z",
            "appointment": {
              "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
              "appointmentSource": "API",
              "appointmentDateTime": "2024-01-01T16:45:34.465Z",
              "appointmentType": "EnvironmentalHealth",
              "facilityId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
              "facilityName": "Cheyenne VA Medical Center",
              "serviceConnectedDisability": 30,
              "appointmentStatus": "Complete",
              "externalAppointmentId": "12345",
              "associatedClaimId": "uuid1",
              "associatedClaimNumber": "TC0000000000001",
              "isCompleted": true
            },
            "expenses": [
              {
                "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                "expenseType": "Mileage",
                "name": "",
                "dateIncurred": "2024-01-01T16:45:34.465Z",
                "description": "mileage-expense",
                "costRequested": 20.00,
                "costSubmitted": 20.00
              }
            ]
          }
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
- request:
    method: get
    uri: https://btsss.gov/api/v2/claims/3fa85f64-5717-4562-b3fc-2c963f66afa6/documents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer string
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": [
          {
            "documentId": "uuid1",
            "filename": "DecisionLetter.pdf",
            "mimetype": "application/pdf",
            "createdon": "2025-03-24T14:00:52.893Z"
          },
          {
            "documentId": "uuid2",
            "filename": "screenshot.jpg",
            "mimetype": "image/jpeg",
            "createdon": "2025-03-24T14:00:52.893Z"
          }
        ]
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
- request:
    method: post
    uri: https://www.example.com/v0/sign_in/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblahblah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "access_token": "sts_token"
        }
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
- request:
    method: post
    uri:  https://btsss.gov/api/v1.2/Auth/access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblahblah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '25'
      Etag:
      - W/"6571c42e57529000188d704a3cd1f46a"
      X-Git-Sha:
      - b20885293917fd081d24899644d2718d2ab4ccf9
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{
        "data": {
          "accessToken": "btsss_token"
        }
      }'
  recorded_at: Tue, 28 Feb 2023 21:02:39 GMT
recorded_with: VCR 6.1.0
