---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/984/patient/ICN/1000123456V123456/cancel-reasons-list
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "selfLink" : {
              "rel" : "self",
              "objectType" : "AtomLink"
            },
            "objectType" : "CancelReasons",
            "link" : [ {
              "rel" : "self",
              "objectType" : "AtomLink"
            } ],
            "empty" : false,
            "cancelReasonsList" : [ {
              "number" : "1",
              "text" : "WEATHER",
              "type" : "B",
              "inactive" : false
            }, {
              "number" : "4",
              "text" : "TRAVEL DIFFICULTY",
              "type" : "B",
              "inactive" : false
            }, {
              "number" : "5",
              "text" : "UNABLE TO KEEP APPOINTMENT",
              "type" : "P",
              "inactive" : false
            }, {
              "number" : "6",
              "text" : "DEATH IN FAMILY",
              "type" : "P",
              "inactive" : false
            }, {
              "number" : "11",
              "text" : "OTHER",
              "type" : "B",
              "inactive" : false
            }, {
              "number" : "12",
              "text" : "TRANSFER OPT CARE TO OTHER VA",
              "type" : "B",
              "inactive" : false
            } ]
          }
    recorded_at: Mon, 11 Nov 2019 00:31:40 GMT
recorded_with: VCR 3.0.3
