---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v1/request-eligibility-criteria?parent-sites=984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.7.1
      X-Vamf-Build:
      - f03cbab
      X-Vamf-Timestamp:
      - '2020-04-30T20:43:00+0000'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "links": [
              {
                "title": "request-eligibility-criteria",
                "href": "/facilities/v1/request-eligibility-criteria",
                "objectType": "AtomLink"
              }
            ],
            "id": "984",
            "createdDate": "2020-07-13T18:26:44Z",
            "lastModifiedDate": "2020-06-16T18:50:59Z",
            "createdBy": "NADEAU, MARCY",
            "requestSettings": [
              {
                "id": "123",
                "typeOfCare": "Food and Nutrition",
                "patientHistoryRequired": "No",
                "patientHistoryDuration": 0,
                "stopCodes": [
                  {
                    "primary": "123"
                  },
                  {
                    "primary": "124"
                  }
                ],
                "submittedRequestLimit": 1,
                "enterpriseSubmittedRequestLimit": 2
              },
              {
                "id": "125",
                "typeOfCare": "Social Work",
                "patientHistoryRequired": "No",
                "patientHistoryDuration": 0,
                "stopCodes": [
                  {
                    "primary": "125",
                    "secondary": "323"
                  }
                ],
                "submittedRequestLimit": 1,
                "enterpriseSubmittedRequestLimit": 2
              },
              {
                "id": "143",
                "typeOfCare": "Sleep Medicine xE2x80x93 Home Sleep Testing",
                "patientHistoryRequired": "No",
                "patientHistoryDuration": 0,
                "stopCodes": [
                  {
                    "primary": "143",
                    "secondary": "18[...]
