---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/cdw/v3/facilities/442/clinics?clinicIds=16&pageSize=0
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
          	"data": [
          		{
          			"etag": "a0de44c62fce273b3a196a8750896e987a30f4583817ac6a81893d653f3d842e",
          			"locationSID": 43120,
          			"locationIEN": "16",
          			"facilityId": "442",
          			"locationType": "CLINIC",
          			"locationName": "CHY LAB OUTPATIENT-X",
          			"primaryStopCode": 674,
          			"primaryStopCodeName": "ADMIN PAT ACTIVTIES (MASNONCT)",
          			"secondaryStopCode": 108,
          			"secondaryStopCodeName": "LABORATORY",
          			"institutionSID": 561596,
          			"institutionIEN": "442",
          			"institutionName": "CHEYENNE VA MEDICAL",
          			"institutionCode": "442",
          			"medicalService": "MEDICINE",
          			"appointmentLength": 15,
          			"variableAppointmentLength": true,
          			"directSchedulingPatient": false,
          			"displayAppointment": true,
          			"sta6aid": "442",
          			"vaStationName": "Cheyenne VA Medical Center"
          		}
          	],
          	"pageCount": 1,
          	"currentPage": 1,
          	"pageSize": 5
          }
    recorded_at: Wed, 11 Jan 2020 15:52:22 GMT
recorded_with: VCR 3.0.3
