---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/institutions?clinical-service=CR1&facility-code=983&parent-code=983
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [
            {
              "institution": {
                "name": "CHYSHR-Sidney VA Clinic TEST ",
                "city": "Sidney",
                "institutionCode": "983GB",
                "stateAbbrev": "NE",
                "authoritativeName": "CHYSHR-Sidney VA Clinic",
                "rootStationCode": "983",
                "adminParent": false,
                "parentStationCode": "983",
                "ehrmStatus": "NONE"
              },
              "requestSupported": true,
              "directSchedulingSupported": false,
              "expressTimes": {
                "start": "09:17",
                "end": "16:45",
                "timezone": "MDT",
                "offsetUtc": "-06:00"
              }
            },
            {
              "institution": {
                "name": "CHYSHR-Fort Collins VA Clinic Test",
                "city": "Fort Collins",
                "institutionCode": "983GC",
                "stateAbbrev": "CO",
                "authoritativeName": "CHYSHR-Fort Collins VA Clinic",
                "rootStationCode": "983",
                "adminParent": false,
                "parentStationCode": "983",
                "ehrmStatus": "NONE"
[...]
