---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/patient/ICN/1012845331V153043/request-limit?clinical-service=323&institution-code%5B%5D=442&institution-code%5B%5D=688
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
      response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Date:
          - Wed, 06 Nov 2019 11:13:27 GMT
        Content-Type:
          - text/html; charset=UTF-8
        Content-Length:
          - '1293'
        Connection:
          - keep-alive
        X-B3-Parentspanid:
          - 917fc3b237228004
        X-Vamf-Version:
          - 1.9.0
        X-B3-Traceid:
          - cd0d5b66756bd28a
        Access-Control-Allow-Headers:
          - x-vamf-jwt
        X-Vamf-Build:
          - b4a9910
        X-B3-Sampled:
          - '0'
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
        Access-Control-Allow-Origin:
          - "*"
        X-B3-Spanid:
          - ba71845219536caf
        Access-Control-Allow-Methods:
          - GET,OPTIONS
        Access-Control-Max-Age:
          - '3600'
        Set-Cookie:
          - TS016f4012=stubbed_token;
            Max-Age=900; Path=/
          - vamfjwtv3=stubbed_token;
            path=/;max-age=900; HttpOnly
          - vamftimeoutv1=1567617431; path=/
      body:
        encoding: UTF-8
        string: '<html>\r\n<head><title>500 Internal Server Error</title></head>\r\n<body>\r\n<center><h1>500 Internal Server Error/html>\r\n'
        http_version:
  recorded_at: Fri, 22 Jan 2021 18:20:03 GMT
recorded_with: VCR 6.0.0
