---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/688/patient/ICN/1000123456V123456/available-appointment-slots?clinicIds=2276&endDate=02/19/2020&startDate=11/22/2019
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [ {
            "clinicId" : "2276",
            "clinicName" : "DC/PACT GREEN FOUR",
            "appointmentLength" : "30",
            "clinicDisplayStartTime" : "7",
            "displayIncrements" : "2",
            "stopCode" : "282",
            "askForCheckIn" : false,
            "maxOverbooksPerDay" : "2",
            "hasUserAccessToClinic" : true,
            "primaryStopCode" : "323",
            "secondaryStopCode" : "",
            "listSize" : 95,
            "objectType" : "AppointmentTimeSlots",
            "link" : [ ],
            "empty" : false,
            "appointmentTimeSlot" : [ {
              "startDateTime" : "12/02/2019 13:30:00",
              "endDateTime" : "12/02/2019 14:00:00",
              "bookingStatus" : "1",
              "remainingAllowedOverBookings" : "2",
              "availability" : true
            }, {
              "startDateTime" : "01/16/2020 09:00:00",
              "endDateTime" : "01/16/2020 09:30:00",
              "bookingStatus" : "1",
              "remainingAllowedOverBookings" : "2",
              "availability" : true
            }, {
              "startDateTime" : "01/16/2020 11:30:00",
              "endDateTime" : "01/16/2020 12:00:00",
              "bookingStatus" : "1",
              "remainingAllowedOverBookings" : "2",
              "availability" :[...]
