---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/cdw/v3/facilities/442/clinics?clinicIds=16,90,110,192,193&pageSize=0
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
          	"data": [
          		{
          			"etag": "a0de44c62fce273b3a196a8750896e987a30f4583817ac6a81893d653f3d842e",
          			"locationSID": 43120,
          			"locationIEN": "16",
          			"facilityId": "442",
          			"locationType": "CLINIC",
          			"locationName": "CHY LAB OUTPATIENT-X",
          			"primaryStopCode": 674,
          			"primaryStopCodeName": "ADMIN PAT ACTIVTIES (MASNONCT)",
          			"secondaryStopCode": 108,
          			"secondaryStopCodeName": "LABORATORY",
          			"institutionSID": 561596,
          			"institutionIEN": "442",
          			"institutionName": "CHEYENNE VA MEDICAL",
          			"institutionCode": "442",
          			"medicalService": "MEDICINE",
          			"appointmentLength": 15,
          			"variableAppointmentLength": true,
          			"directSchedulingPatient": false,
          			"displayAppointment": true,
          			"sta6aid": "442",
          			"vaStationName": "Cheyenne VA Medical Center"
          		},
          		{
          			"etag": "d51c515cecd9974b2f29907478a2bd7ff011fa66cffb48f75c617fccc66b7f2d",
          			"locationSID": 43233,
          			"locationIEN": "90",
          			"facilityId": "442",
          			"locationType": "CLINIC",
          			"locationName": "CHY OCCUPATIONAL INJURY/ER",
          			"primaryStopCode": 999,
          			"primaryStopCodeName": "OCCUPATIONAL HEALTH",
          			"secondaryStopCodeName": "*Missing*",
    [...]
