---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/clinical-services/patient/ICN/1000123456V123456/clinics?clinical-service=323&institution-code=983&three-digit-code=983
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [ {
                      "siteCode" : "983",
                      "clinicId" : "308",
                      "clinicName" : "CHY PC KILPATRICK",
                      "clinicFriendlyLocationName" : "Green Team Clinic1",
                      "primaryStopCode" : "323",
                      "secondaryStopCode" : "",
                      "directSchedulingFlag" : "Y",
                      "displayToPatientFlag" : "Y",
                      "institutionName" : "CHYSHR-Cheyenne VA Medical Center",
                      "institutionCode" : "983",
                      "objectType" : "CdwClinic",
                      "link" : [ ]
                    }, {
                      "siteCode" : "983",
                      "clinicId" : "455",
                      "clinicName" : "CHY PC CASSIDY",
                      "clinicFriendlyLocationName" : "",
                      "primaryStopCode" : "323",
                      "secondaryStopCode" : "",
                      "directSchedulingFlag" : "Y",
                      "displayToPatientFlag" : "Y",
                      "institutionName" : "CHYSHR-Cheyenne VA Medical Cen[...]
