---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v1/direct-booking-eligibility-criteria?site-codes=688
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - 1b5e896037754082-0686124fbd03ef6b-0
      X-Vamf-Build:
      - fc4ff67
      X-Vamf-Timestamp:
      - '2020-09-22T17:08:57+0000'
    body:
      encoding: UTF-8
      string: |-
        [ {
          "id" : "688",
          "createdDate" : "2020-09-30T18:53:33Z",
          "lastModifiedDate" : "2020-09-30T18:53:33Z",
          "coreSettings" : [ {
            "id" : "123",
            "typeOfCare" : "Food and Nutrition",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "123"
            }, {
              "primary" : "124"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "enterpriseSubmittedRequestLimit" : 2
          }, {
            "id" : "125",
            "typeOfCare" : "Social Work",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "125",
              "secondary" : "323"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "enterpriseSubmittedRequestLimit" : 2
          }, {
            "id" : "143",
            "typeOfCare" : "Sleep Medicine – Home Sleep Testing",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "143",
              "secondary" : "189"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "ente[...]
