---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/parent-sites?facility-code=984
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [{
          		"institutionCode": "405",
          		"city": "White River Junction",
          		"stateAbbrev": "VT",
          		"authoritativeName": "White River Junction VA Medical Center",
          		"rootStationCode": "983",
          		"adminParent": true,
          		"parentStationCode": "405"
          	},
          	{
          		"institutionCode": "516",
          		"city": "Bay Pines",
          		"stateAbbrev": "FL",
          		"authoritativeName": "C.W. Bill Young Department of Veterans Affairs Medical Center",
          		"rootStationCode": "983",
          		"adminParent": true,
          		"parentStationCode": "516"
          	},
          	{
          		"institutionCode": "549",
          		"city": "Dallas",
          		"stateAbbrev": "TX",
          		"authoritative[...]
