---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/institutions?clinical-service=323&facility-code=688&parent-code=688
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [ {
            "institution" : {
              "institutionCode" : "688",
              "name" : "Washington VA Medical Center",
              "city" : "Washington",
              "stateAbbrev" : "DC",
              "authoritativeName" : "Washington VA Medical Center",
              "rootStationCode" : "688",
              "adminParent" : true,
              "parentStationCode" : "688"
            },
            "requestSupported" : true,
            "directSchedulingSupported" : true,
            "expressTimes" : null,
            "institutionTimezone" : "America/New_York"
          }, {
            "institution" : {
              "institutionCode" : "688GA",
              "name" : "Fort Belvoir VA Clinic",
              "city" : "Fort Belvoir",
              "stateAbbrev" : "VA",
              "authoritativeName" : "Fort Belvoir VA Clinic",
              "rootStationCode" : "688",
              "adminParent" : false,
              "parentStationCode" : "688"
            },
            "requestSupported" : true,
            "directSchedulingSup[...]
