---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/mvi/v1/patients/session/identifiers.json
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [
            {
              "uniqueId": "12345748",
              "assigningAuthority": "UNKNOWN",
              "assigningCode": "200MHS",
              "idStatus": "ACTIVE"
            },
            {
              "uniqueId": "552151510",
              "assigningAuthority": "dfn-989",
              "assigningCode": "989",
              "idStatus": "ACTIVE"
            },
            {
              "uniqueId": "552161765",
              "assigningAuthority": "dfn-984",
              "assigningCode": "984",
              "idStatus": "ACTIVE"
            },
            {
              "uniqueId": "7219295",
              "assigningAuthority": "dfn-983",
 [...]
