---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/facilities/v1/direct-booking-eligibility-criteria?parent-sites=984
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      B3:
      - c4ce62195e884a88-a2b9d22fd0be922f-0
      X-Vamf-Build:
      - fc4ff67
      X-Vamf-Timestamp:
      - '2020-09-22T17:08:57+0000'
    body:
      encoding: UTF-8
      string: |-
        [ {
          "links" : [ {
            "title" : "direct-booking-eligibility-criteria",
            "href" : "/facilities/v1/direct-booking-eligibility-criteria",
            "objectType" : "AtomLink"
          } ],
          "id" : "983",
          "createdDate" : "2020-09-28T22:23:12Z",
          "lastModifiedDate" : "2020-06-16T18:17:23Z",
          "createdBy" : "NADEAU, MARCY",
          "coreSettings" : [ {
            "id" : "123",
            "typeOfCare" : "Food and Nutrition",
            "patientHistoryRequired" : "No",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "123"
            }, {
              "primary" : "124"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "enterpriseSubmittedRequestLimit" : 2
          }, {
            "id" : "125",
            "typeOfCare" : "Social Work",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "125",
              "secondary" : "323"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "enterpriseSubmittedRequestLimit" : 2
          }, {
            "id" : "143",
            "typeOfCare" : "Sleep Medicine – Home Sleep Testing",
            "patientHistoryDuration" : 0,
            "stopCodes" : [ {
              "primary" : "143",
              "secondary" : "189"
            } ],
            "canCancel" : true,
            "submittedRequestLimit" : 2,
            "ente[...]
