---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/984/patient/ICN/1000123456V123456/cancel-reasons-list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.46 - Error report</title><style
        type="text/css">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 403 - Forbidden</h1><div
        class="line"></div><p><b>type</b> Status report</p><p><b>message</b> <u>Forbidden</u></p><p><b>description</b>
        <u>Access to the specified resource has been forbidden.</u></p><hr class="line"><h3>Apache
        Tomcat/8.0.46</h3></body></html>'
  recorded_at: Tue, 26 Nov 2019 00:01:51 GMT
recorded_with: VCR 3.0.3
