---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/688/patient/ICN/1000123456V123456/pact-team
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          [ {
            "facilityId" : "688",
            "teamSid" : "1400018881",
            "teamName" : "GREEN-FOUR",
            "teamPurpose" : "PRIMARY CARE",
            "providerSid" : "3780868",
            "staffName" : "VASSALL,NATALIE M",
            "providerPosition" : "GREEN-FOUR PHYSICIAN",
            "possiblePrimary" : "Y",
            "title" : "PHYSICIAN-ATTENDING"
          }, {
            "facilityId" : "688",
            "teamSid" : "1400018881",
            "teamName" : "GREEN-FOUR",
            "teamPurpose" : "PRIMARY CARE",
            "providerSid" : "3996313",
            "staffName" : "NESMITH,LAURA M",
            "providerPosition" : "",
            "possiblePrimary" : "N",
            "title" : "REGISTERED NURSE (RN)"
          }, {
            "facilityId" : "688",
            "teamSid" : "1400018881",
            "tea[...]
