---
http_interactions:
- request:
    method: post
    uri: https://api.vass.va.gov/api/AppointmentAvailability
    body:
      encoding: UTF-8
      string: '{"correlationId":"test-correlation-id","veteranId":"vet-uuid-123","dtStartUtc":"2026-01-05T00:00:00Z","dtEndUtc":"2026-01-20T23:59:59Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
      Edipi:
      - '1234567890'
      Correlationid:
      - test-correlation-id
      Ocp-Apim-Subscription-Key:
      - test-subscription-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Availability retrieved successfully","correlationId":"test-correlation-id","timeStamp":"2026-01-06T12:00:00Z","data":{"appointmentDuration":30,"availableTimeSlots":[]}}'
  recorded_at: Thu, 26 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.0.0
