---
http_interactions:
  - request:
      method: post
      uri: https://api.vass.va.gov/api/GetVeteranAppointments
      body:
        encoding: UTF-8
        string: '{"correlationId":"test-correlation-id","veteranId":"vet-uuid-123"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer test-token
        Edipi:
          - "1234567890"
        Correlationid:
          - test-correlation-id
        Ocp-Apim-Subscription-Key:
          - test-subscription-key
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"success":true,"message":"Appointments retrieved successfully","correlationId":"test-correlation-id","timeStamp":"2026-01-06T12:00:00Z","data":{"veteranId":"vet-uuid-123","firstName":"John","lastName":"Doe","notificationEmail":"john.doe@example.com","notificationSMS":"555-123-4567","rad":"RAD-123","availableForAppointment":0,"messageToVeteran":"You have an appointment scheduled","appointments":[{"appointmentId":"appt-abc123","startUTC":"2026-01-07T10:00:00Z","endUTC":"2026-01-07T10:30:00Z","agentId":"agent-456","agentNickname":"Dr. Smith","appointmentStatusCode":1,"appointmentStatus":"Scheduled","cohortStartUtc":"2026-01-05T00:00:00Z","cohortEndUtc":"2026-01-20T23:59:59Z"}]}}'
    recorded_at: Mon, 06 Jan 2026 12:00:00 GMT
recorded_with: VCR 6.0.0
