---
http_interactions:
- request:
    method: post
    uri: https://api.vass.va.gov/api/SaveAppointment
    body:
      encoding: UTF-8
      string: '{"correlationId":"test-correlation-id","veteranId":"invalid-guid","timeStartUTC":"2025-12-03T10:00:00Z","timeEndUTC":"2025-12-03T10:30:00Z","selectedAgentSkills":["skill-1"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":null,"success":false,"message":"Provided veteranId does not have a valid GUID format","correlationId":"test-correlation-id","timeStamp":"2025-12-02T12:00:00Z"}'
  recorded_at: Thu, 02 Dec 2025 12:00:00 GMT
recorded_with: VCR 6.0.0

