---
http_interactions:
- request:
    method: get
    uri: https://some.fakesite.com/dws/v1.0/FacilityServiceLocator?address=38.901,-77.0347&homeHealthSearch=0&maxResults=10&pageNumber=1&pageSize=10&radius=60&specialtycode1=213E00000X&specialtycode2=213EG0000X&specialtycode3=213EP1101X&specialtycode4=213ES0131X&specialtycode5=213ES0103X&telehealthSearch=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://nprod.api.ppms.va.gov/dws/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.FacilityServiceLocatorResult)","TotalResults":
        2394,"TotalPages": 240,"PageNumber": 1,"PageSize": 10,"PreviousPageUrl": null,"NextPageUrl":
        "https://np.dws.ppms.va.gov/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&homeHealthSearch=0&maxResults=10&pageNumber=2&pageSize=10&radius=200&specialtycode1=213E00000X&telehealthSearch=0","value":[{"Id":"1437189941__55
        LEONARDVILLE RD","Name":"55 LEONARDVILLE RD","ProviderServices":[{"Miles":2.5152999999999999,"Minutes":5.5167000000000002,"ProviderName":"LILLIE,
        ROBERT C","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP":"Unknown","CareSite":"ROBERT
        C LILLIE","CareSiteAddress":"55 LEONARDVILLE RD BELFORD, NJ 07718-1042","CareSiteAddressStreet":"55
        LEONARDVILLE RD","CareSiteAddressCity":"BELFORD","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07718-1042","CareSitePhoneNumber":"732-787-4747","CareSiteFaxNumber":"732-495-9123","CareSiteEmail":null,"WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1437189941","Latitude":40.414248000000001,"Longitude":-74.097581000000005,"GeoWarning":null,"Telehealth":false,"Homehealth":false,"TelehealthService":false,"SubServices":[]}]},{"Id":"1598735631__112
        TINDALL RD","Name":"112 TINDALL RD","ProviderServices":[{"Miles":3.1858,"Minutes":7.25,"ProviderName":"ANANIA,
        WILLIAM C","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP"[...]
