---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/9000682/eligibility?clinicalServiceId=primaryCare&facilityId=101&type=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.12.1
      B3:
      - ef2ecbc4a5835d75-7b9d963a62e1db59-1
      X-Vamf-Build:
      - 661c259
      X-Vamf-Timestamp:
      - '2021-11-01T15:35:46+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "decisionDate": "2021-11-12T20:14:06.982635Z",
          "clinicalServiceId": "primaryCare",
          "type": "request",
          "eligible": false,
          "ineligibilityReasons": [
            {
              "coding": [
                {
                  "code": "Non-primary",
                  "display": "Non-primary facility with no visit within 12-24 months"
                }
              ]
            }
          ]
        }
  recorded_at: Fri, 12 Nov 2021 20:14:06 GMT
recorded_with: VCR 6.0.0
