---
  http_interactions:
  - request: &base_request
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=%27South%20Gilbert%20Road,%20Chandler,%20Arizona%2085286,%20United%20States%27&radius=80.50410703808843&driveTime=10000&specialtycode1=%27213E00000X%27&specialtycode2=null&specialtycode3=null&specialtycode4=null&network=0&gender=0&primarycare=0&acceptingnewpatients=0&maxResults=11
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response: &base_response
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDataWebService.Models.ProviderLocatorResult)","value":[{"Miles":2.302,"Minutes":5.433,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAddressStreet":"3195 S Price Rd Ste 148","CareSiteAddressCity":"Chandler","CareSiteAddressState":"AZ","CareSiteAddressZipCode":"85248","CareSitePhoneNumber":"4807057300","WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"TriWest - Choice","NetworkId":null,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1407842941","Latitude":33.258135,"Longitude":-111.887927},{"Miles":2.302,"Minutes":5.317,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAdd[...]
  - request:
      <<: *base_request
      uri: https://some.fakesite.com/v1.0/ProviderLocator?acceptingnewpatients=0&address=33.28,-111.79&driveTime=10000&gender=0&maxResults=11&network=0&primarycare=0&radius=103.64&specialtycode1=%27213E00000X%27&specialtycode2=null&specialtycode3=null&specialtycode4=null
    response:
      <<: *base_response
    recorded_at: Thu, 16 Jan 2020 20:16:26 GMT
[...]
