---
http_interactions:
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217%2C-74.057114&maxResults=11&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosPlaceOfServiceLocatorResult)","value":[{"Miles":1.0189999999999999,"Minutes":3.3999999999999999,"ProviderName":"BAYSHORE
        PHARMACY","ProviderSpecialty":"Pharmacy - Community/Retail Pharmacy","SpecialtyCode":"3336C0003X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Yes","CareSite":"BAYSHORE
        PHARMACY","CareSiteAddress":"2 BAYSHORE PLZ ATLANTIC HIGHLANDS, NJ 07716","CareSiteAddressStreet":"2
        BAYSHORE PLZ","CareSiteAddressCity":"ATLANTIC HIGHLANDS","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07716","CareSitePhoneNumber":"732-291-2900","CareSiteFaxNumber":"4805555555","CareSiteEmail":null,"WorkHours":null,"ProviderGender":"NotSpecified","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":false,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1225028293","Latitude":40.409114000000002,"Longitude":-74.041848999999999,"GeoWarning":null,"POSCodes":["17","20"],"Telehealth":null,"Homehealth":false,"SubServices":[]},{"Miles":1.2165999999999999,"Minutes":3.7833000000000001,"ProviderName":"REUNION
        RX LLC","ProviderSpecialty":"Pharmacy - Community/Retail Pharmacy","SpecialtyCode":"3336C0003X","PreferredMeansReceivingReferralHSRM":true,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":true,"PreferredMeansReceivingReferralFax":true,"HPP":"Unknown","CareSite":"REUNION
        RX LLC","CareSiteAddress":"21 W [...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/PlaceOfServiceLocator?address=40.415217%2C-74.057114&maxResults=11&posCodes=17&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://nprod.api.ppms.va.gov/dws/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosPlaceOfServiceLocatorResult)","value":[{"Miles":1.0189999999999999,"Minutes":3.3999999999999999,"ProviderName":"BAYSHORE
        PHARMACY","ProviderSp[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/PlaceOfServiceLocator?address=40.415217%2C-74.057114&maxResults=11&posCodes=17%2C20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov[...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/PlaceOfServiceLocator?address=40.415217%2C-74.057114&maxResults=11&posCodes=17%2C20&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=40.415217%2C-74.057114&maxResults=11&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosProviderLocatorResult)","value":[{"Miles":2.5066000000000002,"Minutes":5.5,"ProviderName":"LILLIE,
        ROBERT C","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP":"Unknown","CareSite":"ROBERT
        C LILLIE","CareSiteAddress":"55 LEONARDVILLE RD BELFORD, NJ 07718-1042","CareSiteAddressStreet":"55
        LEONARDVILLE RD","CareSiteAddressCity":"BELFORD","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07718-1042","CareSitePhoneNumber":"732-787-4747","CareSiteFaxNumber":"732-495-9123","CareSiteEmail":null,"WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":[...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/ProviderLocator?address=40.415217%2C-74.057114&maxResults=11&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASC[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=40.415217%2C-74.057114&maxResults=11&radius=200&specialtycode1=261QU0200X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.[...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/ProviderLocator?address=40.415217%2C-74.057114&maxResults=11&radius=200&specialtycode1=261QU0200X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASC[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&maxResults=10&pageNumber=1&pageSize=10&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.FacilityServiceLocatorResult)","TotalResults":
        2393,"TotalPages": 240,"PageNumber": 1,"PageSize": 10,"PreviousPageUrl": null,"NextPageUrl":
        "https://np.dws.ppms.va.gov/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&maxResults=10&pageNumber=2&pageSize=10&radius=200&specialtycode1=213E00000X","value":[{"Id":"1437189941__55
        LEONARDVILLE RD","Name":"55 LEONARDVILLE RD","ProviderServices":[{"Miles":2.5066000000000002,"Minutes":5.5,"ProviderName":"LILLIE,
        ROBERT C","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"Individual","HPP":"Unknown","CareSite":"ROBERT
        C LILLIE","CareSiteAddress":"55 LEONARDVILLE[...]
[...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&maxResults=10&pageNumber=1&pageSize=10&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&maxResults=10&pageNumber=1&pageSize=10&radius=200&specialtycode1=261QU0200X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.c[...]
[...]
- request:
    method: get
    uri: https://nprod.api.ppms.va.gov/dws/v1.0/FacilityServiceLocator?address=40.415217%2C-74.057114&maxResults=10&pageNumber=1&pageSize=10&radius=200&specialtycode1=261QU0200X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<PPMS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.[...]
[...]
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/Providers(1154383230)?%24expand=ProviderSpecialties
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Providers(ProviderSpecialties())","value":[{"ProviderIdentifier":1154383230,"ProviderIdentifierType":"NPI","Name":"GESUALDI,
        AMY","ProviderType":"Individual","QualityRankingTotalScore":null,"QualityRankingLastUpdated":null,"MainPhone":null,"Email":null,"PrimaryDirectMessagingAddress":"testemail@va.gov","SecondaryDirectMessagingAddress":null,"EMRSystem":null,"EMRSystemOther":null,"Address":"1301
        MAIN ST\r\nASBURY PARK, NJ","AddressStreet":"ASBURY PARK","AddressCity":"1301
        MAIN ST","AddressStateProvince":"NJ","AddressPostalCode":null,"AddressCounty":"MONMOUTH","AddressCountry":null,"ProviderStatusReason":"Active","PrimaryCarePhysician":false,"IsAcceptingNewPatients":true,"ProviderEthnicity":null,"ProviderGender":"Female","Religion":null,"OrganizationId":null,"ServiceProviderType":null,"SpecialInstruction":null,"OwnedCareSiteName":null,"OrganizationFax":null,"OrganizationStatus":null,"IsExternal":true,"InternalType":null,"LicensingJuristicion":null,"CanCreateHealthCareOrders":false,"InternalAppointmentStatus":null,"ExternalHealthProviderType":null,"OnLeie":null,"ExternalInstitutionDeaNumber":null,"ExternalLeieCheckDate":null,"ValidationSource":null,"ContactMethodEmail":false,"ContactMethodFax":true,"ContactMethodVirtuPro":false,"ContactMethodHSRM":true,"ContactMethodPhone":false,"ContactMethodMail":false,"ContactMethodRefDoc":false,"BulkEmails":false,"BulkMails":true,"Emails":false,"Mails":false,"PhoneCalls":false,"Faxes":false,"PreferredMeansReceivingReferralHSRM":true,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":true,"PreferredMeansReceivingReferralFax":true,"ModifiedOnDate":"2021-08-27T00:12:22Z","TerminationDate":null,"ProviderSpecialties":[{"CodedSpecialty":"213E00000X","Name":"Podiatrist","Grouping":"Podiatric
        Medicine & Surgery Service Providers","Classification":"Podiatrist","Specialization":null,"SpecialtyDescription":"A
        podiatrist is a person qualified by a Doctor of Podiatric Medicine (D.P.M.)
        degree, licensed by the state, and practicing within the scope of that license.
        Podiatrists diagnose and treat foot diseases and deformities. They perform
        medical, surgical and other operative procedures, prescribe corrective devices
        and prescribe and administer drugs and physical therapy.","ProviderName":"GESUALDI,
        AMY","ProviderId":"ea3eada1-5db9-4c8f-b54f-44d0e41ed8bf","TaxonomyId":"9b354d67-3229-e711-810b-1458d04e2f18","IsPrimaryType":"Yes","SpecialtyName":"Podiatrist"},{"CodedSpecialty":"213ES0103X","Name":"Foot
        & Ankle Surgery  [Podiatrist]","Grouping":"Podiatric Medicine & Surgery Service
        Providers","Classification":"Podiatrist","Specialization":"Foot & Ankle Surgery","SpecialtyDescription":"Definition
        to come...","ProviderName":"GESUALDI, AMY","ProviderId":"ea3eada1-5db9-4c8f-b54f-44d0e41ed8bf","TaxonomyId":"a7354d67-3229-e711-810b-1458d04e2f18","IsPrimaryType":"Yes","SpecialtyName":"Podiatrist
        - Foot & Ankle Surgery"}]}]}'
  recorded_at: Mon, 20 Sep 2021 18:41:41 GMT
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/Providers(1154383230)/ProviderServices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    body:
      encoding: ASCII-8BIT
      string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#ProviderServices","value":[{"Name":"GESUALDI,
        AMY - Podiatrist - Foot & Ankle Surgery","AffiliationName":"CCN Region 1","RelationshipName":"CCN","ProviderName":"GESUALDI,
        AMY","ProviderAgreementName":null,"SpecialtyName":"Podiatrist - Foot & Ankle
        Surgery","SpecialtyCode":"213ES0103X","HPP":"Unknown","HighPerformingProvider":"CCN
        Region 1(U)","CareSiteName":"MONMOUTH FAMILY FT & ANKLE","CareSiteLocationAddress":"502
        CANDLEWOOD CMNS, HOWELL, NJ, 07731-2172","CareSiteAddressStreet":"502 CANDLEWOOD
        CMNS","CareSiteAddressStreet1":"502 CANDLEWOOD CMNS","CareSiteAddressStreet2":null,"CareSiteAddressStreet3":null,"CareSiteAddressCity":"HOWELL","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07731-2172","Latitude":40.146886,"Longitude":-74.224247,"CareSitePhoneNumber":"732-363-3668","CareSiteEmail":null,"CareSiteFaxNumber":"848-245-0123","OrganiztionGroupName":null,"DescriptionOfService":null,"Limitation":null,"GeoWarning":null,"Telehealth":false,"Homehealth":false,"Category":null,"CoverageAreaCode":null,"CoverageAreaType":null,"CoverageAreaCounty":null,"SubServices":[]},{"Name":"GESUALDI,
        AMY  - Podiatrist","AffiliationName":"CCN Region 1","RelationshipName":"CCN","ProviderName":"GESUALDI,
        AMY","ProviderAgreementName":null,"SpecialtyName":"Podiatrist","SpecialtyCode":"213E00000X","HPP":"Yes","HighPerformingProvider":"CCN
        Region 1(Y)","CareSiteName":"VISITING NURSE ASSOCIATION OF CENTRAL","CareSiteLocationAddress":"1301
        MAIN ST, ASBURY PARK, NJ, 07712-5359","CareSiteAddressStreet":"1301 MAIN ST","CareSiteAdd[...]
[...]
