---
  http_interactions:
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1154383230)?%24expand=ProviderSpecialties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
    response:
      status:
        code: 500
        message: OK
      headers:
        Content-Type:
        - text/html; charset=utf-8
        Etag:
        - W/"32-5e15861"
      body:
        encoding: UTF-8
        string: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>502 - Web server received an invalid response while acting as a gateway or proxy server.</title>
<style type="text/css">
<!--
body{margin:0;font-size:.7em;font-family:Verdana, Arial, Helvetica, sans-serif;background:#EEEEEE;}
fieldset{padding:0 15px 10px 15px;}
h1{font-size:2.4em;margin:0;color:#FFF;}
h2{font-size:1.7em;margin:0;color:#CC0000;}
h3{font-size:1.2em;margin:10px 0 0 0;color:#000000;}
#header{width:96%;margin:0 0 0 0;padding:6px 2% 6px 2%;font-family:"trebuchet MS", Verdana, sans-serif;color:#FFF;
background-color:#555555;}
#content{margin:0 0 0 2%;position:relative;}
.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}
-->
</style>
</head>
<body>
<div id="header"><h1>Server Error</h1></div>
<div id="content">
 <div class="content-container"><fieldset>
  <h2>502 - Web server received an invalid response while acting as a gateway or proxy server.</h2>
  <h3>There is a problem with the page you are looking for, and it cannot be displayed. When the Web server (while acting as a gateway or proxy) contacted the upstream content server, it received an invalid response from the content server.</h3>
 </fieldset></div>
</div>
</body>
</html>
'
    recorded_at: Thu, 16 Jan 2020 20:16:26 GMT
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1154383230)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
    response:
      status:
        code: 500
        message: OK
      headers:
        Content-Type:
        - text/html; charset=utf-8
        Etag:
        - W/"32-5e15861"
      body:
        encoding: UTF-8
        string: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http:/[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?acceptingnewpatients=0&address=%2758%20Leonard%20Ave,%20Leonardo,%20NJ%2007737%27&driveTime=10000&gender=0&maxResults=11&network=0&primarycare=0&radius=200&specialtycode1=%27213E00000X%27&specialtycode2=null&specialtycode3=null&specialtycode4=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://np.dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDwsApis.NetFramework.Models.V10.CosmosProviderLocatorResult)","value":[{"Miles":5.4740000000000002,"Minutes":13.583,"ProviderName":"GESUALDI,
        AMY","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":true,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":true,"PreferredMeansReceivingReferralFax":true,"ProviderType":"Individual","HPP":"Unknown","CareSite":"VISITING
        NURSE ASSOCIATION OF CENTRAL J","CareSiteAddress":"176 RIVERSIDE AVE RED BANK,
        NJ 07701-1063","CareSiteAddressStreet":"176 RIVERSIDE AVE","CareSiteAddressCity":"RED
        BANK","CareSiteAddressState":"NJ","CareSiteAddressZipCode":"07701-1063","CareSitePhoneNumber":"732-219-6625","WorkHours":null,"ProviderGender":"Female","ProviderNetwork":"CCN
        Region 1","NetworkId":14,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1154383230","Latitude":40.353960000000001,"Longitude":-74.074920000000006,"GeoWarning":null,"Telehealth":null,"SubServices":[]},{"Miles":6.0289999999999999,"Minutes":15.449999999999999,"ProviderName":"NEW
        JERSEY PODIATRIC PHYSICIANS","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"ProviderType":"GroupPracticeOrAgency","HPP":"Unknown","CareSite":"NEW
        JER[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=40.415217,-74.057114&maxResults=11&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.conte[...]
