---
  http_interactions:
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=%27South%20Gilbert%20Road,%20Chandler,%20Arizona%2085286,%20United%20States%27&radius=81&driveTime=10000&specialtycode1=%27213E00000X%27&specialtycode2=null&specialtycode3=null&specialtycode4=null&network=0&gender=0&primarycare=0&acceptingnewpatients=0&maxResults=11
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Collection(PpmsDataWebService.Models.ProviderLocatorResult)","value":[{"Miles":2.302,"Minutes":5.433,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAddressStreet":"3195 S Price Rd Ste 148","CareSiteAddressCity":"Chandler","CareSiteAddressState":"AZ","CareSiteAddressZipCode":"85248","CareSitePhoneNumber":"4807057300","WorkHours":null,"ProviderGender":"Male","ProviderNetwork":"TriWest - Choice","NetworkId":null,"ProviderAcceptingNewPatients":true,"ProviderPrimaryCare":false,"QualityRanking":null,"ProviderIdentifier":"1407842941","Latitude":33.258135,"Longitude":-111.887927},{"Miles":2.302,"Minutes":5.317,"ProviderName":"Freed, Lewis ","ProviderSpecialty":"Podiatrist","SpecialtyCode":"213E00000X","PreferredMeansReceivingReferralHSRM":false,"PreferredMeansReceivingReferralSecuredEmail":false,"PreferredMeansReceivingReferralMail":false,"PreferredMeansReceivingReferralDirectMessaging":false,"PreferredMeansReceivingReferralFax":false,"HPP":"Unknown","CareSite":"Lewis H Freed DPM PC","CareSiteAddress":"3195 S Price Rd Ste 148 Chandler, AZ 85248","CareSiteAdd[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1407842941)?%24expand=ProviderSpecialties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
    response:
      status:
        code: 500
        message: OK
      headers:
        Content-Type:
        - text/html; charset=utf-8
        Etag:
        - W/"32-5e15861"
      body:
        encoding: UTF-8
        string: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>502 - Web server received an invalid response while acting as a gateway or proxy server.</title>
<style type="text/css">
<!--
body{margin:0;font-size:.7em;font-family:Verdana, Arial, Helvetica, sans-serif;background:#EEEEEE;}
fieldset{padding:0 15px 10px 15px;}
h1{font-size:2.4em;margin:0;color:#FFF;}
h2{font-size:1.7em;margin:0;color:#CC0000;}
h3{font-size:1.2em;margin:10px 0 0 0;color:#000000;}
#header{width:96%;margin:0 0 0 0;padding:6px 2% 6px 2%;font-family:"trebuchet MS", Verdana, sans-serif;color:#FFF;
background-color:#555555;}
#content{margin:0 0 0 2%;position:relative;}
.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}
-->
</style>
</head>
<body>
<div id="header"><h1>Server Error</h1></div>
<div id="content">
 <div class="content-container"><fieldset>
  <h2>502 - Web server received an invalid response while acting as a gateway or proxy server.</h2>
  <h3>There is a problem with the page you are looking for, and it cannot be displayed. When the Web server (while acting as a gateway or proxy) contacted the upstream content server, it received an invalid response from the content server.</h3>
 </fieldset></div>
</div>
</body>
</html>
'
    recorded_at: Thu, 16 Jan 2020 20:16:26 GMT
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=33.28,-111.79&radius=104&maxResults=11&specialtycode1=213E00000X
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.cont[...]
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Providers(1407842941)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
    response:
      status:
        code: 500
        message: OK
      headers:
        Content-Type:
        - text/html; charset=utf-8
        Etag:
        - W/"32-5e15861"
      body:
        encoding: UTF-8
        string: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http:/[...]
