---
http_interactions:
- request:
    method: get
    uri: https://np.dws.ppms.va.gov/v1.0/ProviderLocator?address=40.415217%2C-74.057114&maxResults=11&radius=200&specialtycode1=213E00000X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"32-5e15861"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"","message":"An error has occurred.","innererror":{"message":"Operation is not valid due to the current state of the object.","type":"System.InvalidOperationException","stacktrace":"   at System.Text.Json.JsonElement.TryGetProperty(String propertyName, JsonElement& value)\r\n   at PpmsSharedCode.zInternal.Services.PpmsBingService.<>c__DisplayClass30_0.<FindCountyByAddressComponents>b__0(JsonElement findLocationByQueryResult) in C:\\dev\\VA-PPMS-Code\\src\\DWS\\Apis.NetFramework\\Apis.NetFramework\\zInfrastructure\\WillBeRefactoredToPpmsSharedCode.NetFramework\\zInternal\\Services\\PpmsBingService.cs:line 463\r\n   at PpmsSharedCode.Services.PpmsHttpClientServiceExtensions.<>c__DisplayClass1_0.<<GetAsJsonElementAsync>b__1>d.MoveNext() in C:\\dev\\VA-PPMS-Code\\src\\DWS\\Apis.NetFramework\\Apis.NetFramework\\zInfrastructure\\WillBeRefactoredToPpmsSharedCode.NetFramework\\Services\\PpmsHttpClientServiceExtensions.cs:line 130\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at PpmsSharedCode.zInternal.Services.PpmsHttpClientService.<SendAsync>d__5.MoveNext() in C:\\dev\\va-ppms-code\\src\\zSharedCode\\src\\SharedCode\\SharedCode\\zInternal\\Services\\PpmsHttpClientService.cs:line 193\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\r\n   at PpmsSharedCode.Services.PpmsHttpClientServiceExtensions.<GetAsJsonElementAsync>d__1.MoveNex[...]
