---
  http_interactions:
  - request:
      method: get
      uri: https://np.dws.ppms.va.gov/v1.0/Specialties
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
        - application/json; odata.metadata=minimal
        odata-version:
        - '4.0'
      body:
        encoding: ASCII-8BIT
        string: '{"@odata.context":"https://dws.ppms.va.gov/v1.0/$metadata#Specialties","value":[{"SpecialtyCode":"101Y00000X","Name":"Counselor","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":null,"SpecialtyDescription":"A provider who is trained and educated in the performance of behavior health services through interpersonal communications and analysis. Training and education at the specialty level usually requires a master''s degree and clinical experience and supervision for licensure or certification."},{"SpecialtyCode":"101YA0400X","Name":"Counselor - Addiction (Substance Use Disorder)","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":"Addiction (Substance Use Disorder)","SpecialtyDescription":"Definition to come..."},{"SpecialtyCode":"101YM0800X","Name":"Counselor - Mental Health","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":"Mental Health","SpecialtyDescription":"Definition to come..."},{"SpecialtyCode":"101YP1600X","Name":"Counselor - Pastoral","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":"Pastoral","SpecialtyDescription":"Definition to come..."},{"SpecialtyCode":"101YP2500X","Name":"Counselor - Professional","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":"Professional","SpecialtyDescription":"Definition to come..."},{"SpecialtyCode":"101YS0200X","Name":"Counselor - School","Grouping":"Behavioral Health & Social Service Providers","Classification":"Counselor","Specialization":"School","SpecialtyDescription":"Definition to come…"}]}'
    recorded_at: Thu, 16 Jan 2020 20:16:26 GMT
  recorded_with: VCR 5.0.0
