---
http_interactions:
- request:
    method: get
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/10101V964144/status/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"id":"381e5926-12f4-48f7-9ca5-2ed2f631daab","code":400,"message":"ICN has invalid format","errorCode":14,"detail":"12345asd9fuhasdf is not a valid ICN format."}'
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
- request:
    method: post
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/10101V964144/agreements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"id":"df5decee-8161-4c30-af74-7e030d2048e5","code":400,"message":"Missing EDIPI Identifier","errorCode":11}'
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
[...]
- request:
    method: put
    uri: https://cerner.apps-staging.va.gov/signup/v1/patients/1012667145V762142/provisioning/cerner
    body:
      encoding: UTF-8
      string: '{"provisionUser":true,"gcids":"1012667145V762142^NI^200M^USVHA^P|1005490754^NI^200DOD^USDOD^A|600043201^PI^200CORP^USVBA^A|123456^PI^200ESR^USVHA^A|123456^PI^648^USVHA^A|123456^PI^200BRLS^USVBA^A","firstName":"Tamara","lastName":"Ellis"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dba68a519b00d7f452e79971a398650f"
      X-Node:
      - sandbox-core-02.idmeinc.net
    body:
      encoding: UTF-8
      string: '{"code":400,"message":"X-VAMF-API-KEY not found or invalid.","traceId":"ef7bcc0708137692610a0a5f66746afc"}'
  recorded_at: Wed, 26 Oct 2022 18:30:02 GMT
recorded_with: VCR 6.1.0
