---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services?limit=100&query=External:%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<PD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"c6df7712266033c7f94d0aada248aaaa"
    body:
      encoding: ASCII-8BIT
      string: '{"services":[{"id":"P9S4RFU","name":"External: Appeals","description":"https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/Appeals.md","auto_resolve_timeout":14400,"acknowledgement_timeout":null,"created_at":"2019-01-10T17:18:09-05:00","status":"fine","last_incident_timestamp":"2019-03-01T02:55:55-05:00","teams":[],"incident_urgency_rule":{"type":"use_support_hours","during_support_hours":{"type":"constant","urgency":"high"},"outside_support_hours":{"type":"constant","urgency":"low"}},"scheduled_actions":[],"support_hours":{"type":"fixed_time_per_day","time_zone":"America/New_York","days_of_week":[1,2,3,4,5],"start_time":"09:00:00","end_time":"17:00:00"},"escalation_policy":{"id":"P6CEGGU","type":"escalation_policy_reference","summary":"Kraken
        Critical","self":"https://api.pagerduty.com/escalation_policies/P6CEGGU","html_url":"https://ecc.pagerduty.com/escalation_policies/P6CEGGU"},"addons":[],"alert_creation":"create_alerts_and_incidents","alert_grouping":null,"alert_grouping_timeout":null,"integrations":[{"id":"P3SDLYP","type":"generic_events_api_inbound_integration_reference","summary":"Prometheus:
        Appeals","self":"https://api.pagerduty.com/services/P9S4RFU/integrations/P3SDLYP","html_url":"https://ecc.pagerduty.com/services/P9S4RFU/integrations/P3SDLYP"}],"response_play":null,"type":"service","summary":"External:
        Appeals","self":"https://api.pagerduty.com/services/P9S4RFU","html_url":"https://ecc.pagerduty.com/services/P9S4RFU"},{"id":"P45YBFA","name":"External:
        ArcGIS","description":"https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/ArcGIS.com.md","auto_resolve_timeout":14400,"acknowledgement_timeout":null,"created_at":"2017-04-26T12:05:02-04:00","status":"active","last_incident_timestamp[...]
