---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services?limit=100&query=External:%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<PD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2182a2b5fae9f1c795ecd6712c698998"
      Ratelimit-Limit:
      - '960'
      Ratelimit-Remaining:
      - '959'
      Ratelimit-Reset:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"services":[{"id":"P5WI36R","name":"Dev: External: CARMA","description":"https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/CARMA.md","created_at":"2025-09-03T12:26:37-05:00","updated_at":"2025-09-03T12:26:37-05:00","status":"disabled","teams":[{"id":"PE6E23J","type":"team_reference","summary":"10-10
        Health Apps","self":"https://api.pagerduty.com/teams/PE6E23J","html_url":"https://ecc.pagerduty.com/teams/PE6E23J"}],"alert_creation":"create_alerts_and_incidents","addons":[],"scheduled_actions":[],"support_hours":null,"last_incident_timestamp":"2025-09-01T10:00:00Z","escalation_policy":{"id":"PD6S5K7","type":"escalation_policy_reference","summary":"10-10
        Health Apps Carma","self":"https://api.pagerduty.com/escalation_policies/PD6S5K7","html_url":"https://ecc.pagerduty.com/escalation_policies/PD6S5K7"},"incident_urgency_rule":{"type":"constant","urgency":"high"},"acknowledgement_timeout":null,"auto_resolve_timeout":null,"alert_grouping":null,"alert_grouping_timeout":null,"alert_grouping_parameters":{"type":null,"config":null},"integrations":[],"type":"service","summary":"Dev:
        External: CARMA","self":"https://api.pagerduty.com/services/P5WI36R","html_url":"https://ecc.pagerduty.com/service-directory/P5WI36R"},{"id":"PH7V21I","name":"Dev:
        External: DMC","description":"Debt Management Center API","created_at":"2025-09-03T12:26:39-05:00","updated_at":"2025-09-03T12:26:39-05:00","status":"disabled","teams":[{"id":"P71CTRK","type":"team_reference","summary":"VSA:
        Debt","self":"https://api.pagerduty.com/teams/P71CTRK","html_url":"https://ecc.pagerduty.com/teams/P71CT[...]
