---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services?limit=100&query=External:%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<PD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3800680a327decb699a51f1d91492bc"
    body:
      encoding: ASCII-8BIT
      string: '{"services":[{"id":"P6XLE0T","name":"Dev: External: CARMA","description":"https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/CARMA.md","created_at":"2020-11-03T15:21:12-05:00","updated_at":"2020-11-03T15:21:27-05:00","status":"active","teams":[{"id":"P02W6J2","type":"team_reference","summary":"VSA:
        Caregivers","self":"https://api.pagerduty.com/teams/P02W6J2","html_url":"https://dsva.pagerduty.com/teams/P02W6J2"}],"alert_creation":"create_alerts_and_incidents","addons":[],"scheduled_actions":[],"support_hours":null,"last_incident_timestamp":null,"escalation_policy":{"id":"PQMIILO","type":"escalation_policy_reference","summary":"VSA:
        Caregivers - Escalation Policy","self":"https://api.pagerduty.com/escalation_policies/PQMIILO","html_url":"https://dsva.pagerduty.com/escalation_policies/PQMIILO"},"incident_urgency_rule":{"type":"constant","urgency":"severity_based"},"acknowledgement_timeout":null,"auto_resolve_timeout":null,"alert_grouping":null,"alert_grouping_timeout":null,"integrations":[],"response_play":null,"type":"service","summary":"Dev:
        External: CARMA","self":"https://api.pagerduty.com/services/P6XLE0T","html_url":"https://dsva.pagerduty.com/service-directory/P6XLE0T"},{"id":"P9S4RFU","name":"External:
        Appeals","description":"https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/Appeals.md","created_at":"2019-01-10T17:18:09-05:00","updated_at":"2019-08-14T12:06:08-04:00","status":"active","teams":[],"alert_creation":"create_alerts_and_incidents","addons":[],"scheduled_action[...]
