---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services?limit=100&query=External:%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<PD_TOKEN>
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '0'
      X-RateLimit-Reset:
      - '1725552600'
      Retry-After:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Rate limit exceeded","code":2003}}'
  recorded_at: Fri, 05 Sep 2025 16:30:00 GMT
recorded_with: VCR 6.3.1