---
http_interactions:
- request:
    method: get
    uri: https://some.fakesite.com/mdot/supplies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      VeteranId:
      - 000555555
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d007e863ef32711c2efe07a644667be4"
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1","type": "medical_supplies","attributes":{"deviceName":"OMEGA XD3241","productName":"ZA1239","productGroup":"hearing aid batteries","productId": "1","availableForReorder":"false","lastOrderDate":"2020-01-01","nextAvailabilityDate":"2020-09-01","leftEar":"true","rightEar":"false"}},{"id":"2","type":"medical_supplies","attributes":{"deviceName":"OMEGA XD3241","productName":"ZA1239","productGroup":"hearing aid batteries","productId":"2","availableForReorder":"false","lastOrderDate":"2020-01-01","nextAvailabilityDate":"2020-09-01","leftEar":"false","rightEar":"true"}}]}'
  recorded_at: Tue, 11 Feb 2020 17:50:55 GMT
recorded_with: VCR 3.0.3