---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4466/supplies
    body:
      encoding: US-ASCII
      string: '{"useVeteranAddress":"true","useTemporaryAddress":"false","order":[{"productId":"1"},{"productId":"4"}],"additionalRequests":""}'
    headers:
      Content-Type:
      - application/json
      Va-Api-Key:
      - abcd1234abcd1234abcd1234
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46b178ad8bb4e05c7320f42c3f5fa9fc"
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [{
            "status": "404",
            "title": "Veteran not found",
            "detail": "A veteran with that SSN was not found in our systems.",
            "code": "veteran_not_found"
          }]
        }
  recorded_at: Wed, 08 Jan 2018 14:44:00 GMT
recorded_with: VCR 3.0.3
