---
http_interactions:
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4466/supplies
    body:
      encoding: UTF-8
      string: '{"use_permanent_address":true,"use_temporary_address":false,"additional_requests":"","order":[{"product_id":"1"},{"product_id":"4"}],"permanent_address":{"street":"101
        Example Street","street2":"Apt 2","city":"Kansas City","state":"MO","country":"USA","postal_code":"64117"}}'
    headers:
      Content-Type:
      - application/json
      Va-Api-Key:
      - abcd1234abcd1234abcd1234
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"570535d1150e372663eb30ca87a98047"
    body:
      encoding: UTF-8
      string: '{"status":"success","orderId":"4eb9e4a5-1fd1-4a47-8a45-fe4f28466dde"}'
  recorded_at: Tue, 31 Mar 2020 14:32:36 GMT
recorded_with: VCR 5.1.0
