---
http_interactions:
- request:
    method: post
    uri: https://dlc-fake.fake.com/mdot/supplies
    body:
      encoding: UTF-8
      string: '{"veteranFullName":{"first":"Greg","middle":"A","last":"Anderson"},"veteranAddress":{"street":"101 Example Street","street2":"Apt 2","city":"Kansas City","state":"MO","country":"USA","postalCode":"64117"},"order":[{"productId":"1"},{"productId":"4"}],"additionalRequests":""}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      VeteranId:
      - 000555555
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"status": "accepted", "orderId": "ad00d39e-75cb-4542-93e4-2354f63a28d0"}'
  recorded_at: Fri, 22 Nov 2019 22:51:55 GMT
recorded_with: VCR 3.0.3
