---
http_interactions:
  - request:
      method: get
      uri: "<MHV_MR_HOST>/v1/fhir/Condition/4169"
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        Authorization: Bearer <TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/fhir+json;charset=UTF-8
        Etag:
          - W/"2"
        Content-Location:
          - https://mhv-sysb-api.myhealth.va.gov/fhir/Condition/4169/_history/2
        Last-Modified:
          - Tue, 30 Apr 2024 14:34:21 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Condition",
            "id": "4169",
            "meta": {
              "versionId": "2",
              "lastUpdated": "2024-04-30T10:34:21.089-04:00",
              "source": "#7HHChpSNxTKN0IK7",
              "profile": [ "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.condition" ]
            },
            "contained": [ {
              "resourceType": "Location",
              "id": "Location-0",
              "meta": {
                "profile": [ "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.location" ]
              },
              "identifier": [ {
                "use": "usual",
                "system": "urn:oid:2.16.840.1.113883.4.349.4.984",
                "value": "HospitalLocationTO.552"
              } ],
              "name": "DAYTON"
            }, {
              "resourceType": "Practitioner",
              "id": "Provider-0",
              "meta": {
                "profile": [ "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.practitioner" ]
              },
              "identifier": [ {
                "use": "usual",
                "system": "urn:oid:2.16.840.1.113883.4.349.4.984",
                "value": "AuthorTO.36556"
              } ],
              "name": [ {
                "text": "SMITH,JOHN"
              } ]
            } ],
            "identifier": [ {
              "use": "usual",
              "system": "urn:oid:2.16.840.1.113883.4.349.4.984",
              "value": "ProblemTO.352354"
            } ],
            "clinicalStatus": {
              "coding": [ {
                "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                "code": "active"
              } ]
            },
            "verificationStatus": {
              "coding": [ {
                "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                "code": "confirmed"
              } ]
            },
            "category": [ {
              "coding": [ {
                "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                "code": "problem-list-item"
              } ]
            } ],
            "code": {
              "coding": [ {
                "system": "http://hl7.org/fhir/sid/icd-10-cm",
                "code": "F41.1"
              } ],
              "text": "Generalized Anxiety Disorder (SCT 21897009)"
            },
            "subject": {
              "reference": "Patient/1002"
            },
            "onsetDateTime": "2010-10",
            "recordedDate": "2024-04-29T12:00:00-04:00",
            "recorder": {
              "extension": [ {
                "url": "http://hl7.org/fhir/StructureDefinition/alternate-reference",
                "valueReference": {
                  "reference": "#Location-0"
                }
              } ],
              "reference": "#Provider-0"
            },
            "note": [ {
              "authorString": "SMITH,JOHN",
              "time": "2024-04-29T12:00:00-04:00",
              "text": "2010\n"
            } ]
          }
    recorded_at: Mon, 06 May 2024 18:32:13 GMT
recorded_with: VCR 6.2.0
