---
http_interactions:
  - request:
      method: get
      uri: "<MHV_MR_HOST>/fhir/Immunization?_id=49432&_include=*"
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/fhir+json;charset=utf-8
        Last-Modified:
          - Fri, 05 May 2023 17:49:23 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "201da3f9-bfd7-4e1b-9fc0-906ba295fb2c",
            "meta": {
              "lastUpdated": "2023-05-05T17:49:23.541+00:00"
            },
            "type": "searchset",
            "total": 1,
            "link": [ {
              "relation": "self",
              "url": "https://hapi.fhir.org/baseR4/Immunization?_id=49432&_include=*"
            } ],
            "entry": [ {
              "fullUrl": "https://hapi.fhir.org/baseR4/Immunization/49432",
              "resource": {
                "resourceType": "Immunization",
                "id": "49432",
                "meta": {
                  "versionId": "1",
                  "lastUpdated": "2019-10-18T20:20:56.872+00:00",
                  "source": "#ML8v9Ku1pGuXAhZr"
                },
                "status": "completed",
                "vaccineCode": {
                  "coding": [ {
                    "system": "http://hl7.org/fhir/sid/cvx",
                    "code": "140",
                    "display": "Influenza, seasonal, injectable, preservative free"
                  } ],
                  "text": "Influenza, seasonal, injectable, preservative free"
                },
                "patient": {
                  "reference": "Patient/49006"
                },
                "encounter": {
                  "reference": "Encounter/49431"
                },
                "occurrenceDateTime": "2019-08-05T20:27:01-04:00",
                "primarySource": true
              },
              "search": {
                "mode": "match"
              }
            }, {
              "fullUrl": "https://hapi.fhir.org/baseR4/Patient/49006",
              "resource": {
                "resourceType": "Patient",
                "id": "49006",
                "meta": {
                  "versionId": "2",
                  "lastUpdated": "2020-09-30T22:33:13.494+00:00",
                  "source": "#KLMbL5Q6hypXtsP6"
                },
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><table class=\"hapiPropertyTable\"><tbody></tbody></table></div>"
                },
                "telecom": [ {
                  "system": "phone",
                  "value": "9899 9878",
                  "use": "home"
                } ]
              },
              "search": {
                "mode": "include"
              }
            } ]
          }
    recorded_at: Fri, 05 May 2023 17:49:23 GMT
recorded_with: VCR 6.1.0
