---
http_interactions:
- request:
    method: get
    uri: "<MHV_MR_HOST>/fhir/Immunization?_count=100&patient=2952"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <token>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/fhir+json;charset=UTF-8
      Last-Modified:
      - Wed, 12 Jul 2023 20:15:03 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "4aba2339-2a6a-4de4-ac5e-1bc8076a60f6",
          "meta": {
            "lastUpdated": "2023-07-12T16:15:03.631-04:00"
          },
          "type": "searchset",
          "total": 6,
          "link": [ {
            "relation": "self",
            "url": "https://mhv-intb-api.myhealth.va.gov/fhir/Immunization?_count=100&patient=2952"
          } ],
          "entry": [ {
            "fullUrl": "https://mhv-intb-api.myhealth.va.gov/fhir/Immunization/2955",
            "resource": {
              "resourceType": "Immunization",
              "id": "2955",
              "meta": {
                "versionId": "1",
                "lastUpdated": "2023-07-07T10:05:56.130-04:00",
                "source": "#a9952b10e72d72b1"
              },
              "identifier": [ {
                "system": "urn:oid:2.16.840.1.113883.4.349",
                "value": "983.61067"
              } ],
              "status": "completed",
              "vaccineCode": {
                "coding": [ {
                  "code": "90717",
                  "display": "YELLOW FEVER VACCINE SUBQ"
                } ],
                "text": "YELLOW FEVER"
              },
              "patient": {
                "reference": "Patient/2952"
              },
              "occurrenceDateTime": "2023-03-17T10:05:00-04:00",
              "location": {
                "reference": "Location/2220"
              }
            },
            "search": {
              "mode": "match"
            }
          }, {
            "fullUrl": "https://mhv-intb-api.myhealth.va.gov/fhir/Immunization/2953",
            "resource": {
              "resourceType": "Immunization",
              "id": "2953",
              "meta": {
                "versionId": "1",
                "lastUpdated": "2023-07-07T10:05:56.130-04:00",
                "source": "#a9952b10e72d72b1"
              },
              "identifier": [ {
                "system": "urn:oid:2.16.840.1.113883.4.349",
                "value": "983.60919"
              } ],
              "status": "completed",
              "vaccineCode": {
                "coding": [ {
                  "code": "91302",
                  "display": "SARSCOV2 VAC 5X1010VP/.5MLIM"
                } ],
                "text": "COVID-19 (ASTRAZENECA), VECTOR-NR, RS-CHADOX1, PF, 0.5 ML"
              },
              "patient": {
                "reference": "Patient/2952"
              },
              "occurrenceDateTime": "2023-03-17T10:05:00-04:00",
              "location": {
                "reference": "Location/2220"
              },
              "note": [ {
                "text": "test"
              } ]
            },
            "search": {
              "mode": "match"
            }
          }, {
            "fullUrl": "https://mhv-intb-api.myhealth.va.gov/fhir/Immunization/2954",
            "resource": {
              "resourceType": "Immunization",
              "id": "2954",
              "meta": {
                "versionId": "1",
                "lastUpdated": "2023-07-07T10:05:56.130-04:00",
                "source": "#a9952b10e72d[...]
