---
http_interactions:
  - request:
      method: get
      uri: "<MHV_MR_HOST>/baseR4/Immunization?patient=49006"
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/fhir+json;charset=utf-8
        Last-Modified:
          - Fri, 05 May 2023 16:16:29 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "a9a31342-8efb-4ccc-b6d1-3fc8935d88eb",
            "meta": {
              "lastUpdated": "2023-05-05T16:16:29.954+00:00"
            },
            "type": "searchset",
            "total": 15,
            "link": [ {
              "relation": "self",
              "url": "https://hapi.fhir.org/baseR4/Immunization?patient=49006"
            } ],
            "entry": [ {
              "fullUrl": "https://hapi.fhir.org/baseR4/Immunization/49186",
              "resource": {
                "resourceType": "Immunization",
                "id": "49186",
                "meta": {
                  "versionId": "1",
                  "lastUpdated": "2019-10-18T20:20:56.872+00:00",
                  "source": "#ML8v9Ku1pGuXAhZr"
                },
                "status": "completed",
                "vaccineCode": {
                  "coding": [ {
                    "system": "http://hl7.org/fhir/sid/cvx",
                    "code": "140",
                    "display": "Influenza, seasonal, injectable, preservative free"
                  } ],
                  "text": "Influenza, seasonal, injectable, preservative free"
                },
                "patient": {
                  "reference": "Patient/49006"
                },
                "encounter": {
                  "reference": "Encounter/49174"
                },
                "occurrenceDateTime": "2010-03-15T20:27:01-04:00",
                "primarySource": true
              },
              "search": {
                "mode": "match"
              }
            }, {
              "fullUrl": "https://hapi.fhir.org/baseR4/Immunization/49202",
              "resource": {
                "resourceType": "Immunization",
                "id": "49202",
                "meta": {
                  "versionId": "1",
                  "lastUpdated": "2019-10-18T20:20:56.872+00:00",
                  "source": "#ML8v9Ku1pGuXAhZr"
                },
                "status": "completed",
                "vaccineCode": {
        [...]
