---
http_interactions:
  - request:
      method: get
      uri: "<MHV_MR_HOST>/fhir/AllergyIntolerance?_count=9999&patient=2952"
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization: Bearer <TOKEN>
    response:
      status:
        code: 200
        message: ""
      headers:
        Content-Type:
          - application/fhir+json;charset=UTF-8
        Last-Modified:
          - Wed, 06 Sep 2023 19:49:55 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "fa0a7025-d9bf-49c9-82be-033ec716651e",
            "meta": {
              "lastUpdated": "2023-09-06T15:49:55.654-04:00"
            },
            "type": "searchset",
            "total": 5,
            "link": [ {
              "relation": "self",
              "url": "<MHV_MR_HOST>/fhir/AllergyIntolerance?_count=3&patient=7005"
            }, {
              "relation": "next",
              "url": "<MHV_MR_HOST>/fhir?_getpages=fa0a7025-d9bf-49c9-82be-033ec716651e&_getpagesoffset=3&_count=3&_pretty=true&_bundletype=searchset"
            } ],
            "entry": [ {
              "fullUrl": "<MHV_MR_HOST>/fhir/AllergyIntolerance/10502",
              "resource": {
                "resourceType": "AllergyIntolerance",
                "id": "10502",
                "meta": {
                  "versionId": "1",
                  "lastUpdated": "2023-09-05T17:04:33.367-04:00",
                  "source": "#8M2G0uODmzly9BVt",
                  "profile": [ "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.allergyIntolerance" ]
                },
                "contained": [ {
                  "resourceType": "Organization",
                  "id": "Organization-0",
                  "identifier": [ {
                    "use": "usual",
                    "system": "urn:oid:2.16.840.1.113883.4.349",
                    "value": "991"
                  } ],
                  "name": "SLC4.FO-BAYPINES.MED.VA.GOV"
                } ],
                "identifier": [ {
                  "use": "official",
                  "system": "http://va.gov/systems/991_120.8",
                  "value": "69143"
                } ],
                "clinicalStatus": {
                  "coding": [ {
                    "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                    "code": "active"
                  } ]
                },
                "verificationStatus": {
                  "coding": [ {
                    "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                    "code": "confirmed"
                  } ]
                },
                "category": [ "food" ],
                "code": {
                  "text": "FISH"
                },
                "patient": {
                  "reference": "Patient/7005"
                },
                "onsetDateTime": "2023-07-27T17:06:00-06:00",
                "recorder": {
                  "extension": [ {
                    "url": "http://hl7.org/fhir/StructureDefinition/alternate-reference",
                    "valueReference": {
                      "reference": "#Organization-0"
                    }
                  } ],
                  "display": "SLC4.FO-BAYPINES.MED.VA.GOV"
                },
                "note": [ {
                  "time": "2023-07-27T17:07:21-06:00",
                  "text": "maruf's test comment "
                } ],
                "reaction": [ {
                  "manifestation": [ {
                    "coding": [ {
                      "system": "urn:oid:2.16.840.1.113883.6.233",
                      "code": "4538635"
                    } ],
                    "text": "RASH"
                  } ]
                } ]
              },
              "search": {
                "mode": "match"
              }
            }, {
              "fullUrl": "<MHV_MR_HOST>/fhir/AllergyIntolerance/10503",
              "resource": {
                "resourceType": "AllergyIntolerance",
                "id": "10503",
                "meta": {
                  "versionId": "1",
                  "lastUpdated": "2023-09-05T17:04:33.367-04:00",
                  "source": "#8M2G0uODmzly9BVt",
                  "profile": [ "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-ma[...]
  - request:
      method: get
      uri: "<MHV_MR_HOST>/fhir?_bundletype=searchset&_count=3&_getpages=fa0a7025-d9bf-49c9-82be-033ec716651e&_getpagesoffset=3&_pretty=true"
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization: Bearer <TOKEN>
    response:
      status:
        code: 200
        message: ""
      headers:
        Content-Type:
          - application/fhir+json;charset=UTF-8
        Content-Location:
          - <MHV_MR_HOST>/fhir/Bundle/fa0a7025-d9bf-49c9-82be-033ec716651e
        Last-Modified:
          - Wed, 06 Sep 2023 19:49:55 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "fa0a7025-d9bf-49c9-82be-033ec716651e",
            "meta": {
              "lastUpdated": "2023-09-06T15:49:55.654-04:00"
            },
            "type": "searchset",
            "total": 5,
            "link": [ {
              "re[...]
