---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: UTF-8
      string: '{"paymentAccount":{"accountNumber":"1234567890","accountType":"CHECKING","financialInstitutionRoutingNumber":"031000503"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '57'
      Ratelimit-Reset:
      - '58'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/direct-deposit-management/v1/direct-deposit\"\n}\n"
  recorded_at: Fri, 19 May 2023 20:51:03 GMT
recorded_with: VCR 6.1.0
