---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: UTF-8
      string: '{"paymentAccount":{"accountNumber":"1234567890","accountType":"CHECKING","financialInstitutionRoutingNumber":"031000503"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '47'
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{
                "type": "https://api.va.gov/direct-deposit-management/errors/bad-request",
                "title": "Bad Request",
                "status": 400,
                "detail": "financialInstitutionRoutingNumber invalid. It must match ^\\d{9}$",
                "instance": "61b45dc6-058d-4449-862c-567dbb9290d9",
                "errorCodes": [
                  {
                    "errorCode": "payment.accountRoutingNumber.invalid"
                  }
                ]
              }'
  recorded_at: Mon, 20 Feb 2023 18:45:14 GMT
recorded_with: VCR 6.1.0
