---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: '{"paymentAccount":{"accountType":"CHECKING","accountNumber":"1234567890","financialInstitutionRoutingNumber":"031000503"}}'
    headers:
      Authorization:
      - Bearer abcdefghijklmnop
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '7'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{
        "type": "https://api.va.gov/direct-deposit-management/errors/bad-request",
        "title": "Bad Request",
        "status": 400,
        "detail": "No changes were made. Request was sent to Benefits Gateway Service (BGS), but BGS update failed. Unknown issue(s). Raw response from BGS: Update Failed: Day phone number is invalid, must be 7 digits",
        "instance": "e48e3aeb-f312-11ec-88e8-f55e56a472a2"
      }'
  recorded_at: Thu, 23 Feb 2023 21:47:59 GMT
recorded_with: VCR 6.1.0
