---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: UTF-8
      string: '{"paymentAccount":{"accountType":"SAVINGS","accountNumber":"1234566464","financialInstitutionRoutingNumber":"031202083"}}'
    headers:
      Authorization:
      - Bearer abcdefghijklmnop
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '9'
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"type":"https://api.va.gov/direct-deposit-management/errors/bad-request","title":"Bad
        Request","status":400,"detail":"Invalid routing number checksum.","instance":"e0d4f55b-0ae7-11ee-aa58-45667b2e3fa5","errorCodes":[{"errorCode":"payment.accountRoutingNumber.invalidCheckSum"}]}'
  recorded_at: Wed, 14 Jun 2023 19:15:52 GMT
recorded_with: VCR 6.1.0
