---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: UTF-8
      string: '{"paymentAccount":{"accountNumber":"1234567890","accountType":"CHECKING","financialInstitutionRoutingNumber":"031000503"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 400
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '30'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
        "type": "https://api.va.gov/direct-deposit-management/errors/bad-request",
        "title": "Bad Request",
        "status": 400,
        "detail": "No changes were made. Request was sent to Benefits Gateway Service (BGS), but BGS update failed. Unknown issue(s). Raw response from BGS: Failed to update Address/Bank Info. Flashes on record.",
        "instance": "e48e3aeb-f312-11ec-88e8-f55e56a472a2"
      }'
  recorded_at: Fri, 19 May 2023 19:13:30 GMT
recorded_with: VCR 6.1.0
