---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: '{"paymentAccount":{"accountType":"CHECKING","accountNumber":"1234567890","financialInstitutionRoutingNumber":"031000503"}}'
    headers:
      Authorization:
      - Bearer abcdefghijklmnop
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '58'
      Ratelimit-Reset:
      - '7'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{
                "type": "https://api.va.gov/services/direct-deposit-management/errors/unable-to-update",
                "title": "Unable To Update",
                "status": 422,
                "detail": "Unable to update: account fraud indicator = true.",
                "instance": "e48e3aeb-f312-11ec-88e8-f55e56a472a2",
                "errorCodes": [
                  {
                    "errorCode": "payment.restriction.indicators.present",
                    "detail": "hasNoBdnPayments is false."
                  }
                ]
              }'
  recorded_at: Thu, 23 Feb 2023 21:47:59 GMT
recorded_with: VCR 6.1.0
