---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/appointments?end=2023-08-30T23:59:59Z&pageSize=0&start=2023-05-30T23:59:59Z&statuses=booked,fulfilled,arrived
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"174471","identifier":[{"system":"Appointment/","value":"413938333130303430"}],"kind":"clinic","status":"booked","serviceType":"covid","serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"REGULAR","display":"REGULAR"}],"text":"REGULAR"}],"patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2023-05-31T14:15:00Z","end":"2023-05-31T14:30:00Z","created":"2023-05-30T00:00:00Z","cancellable":true,"extension":{"ccLocation":{"address":{}},"vistaStatus":["NO
        ACTION TAKEN"]}},{"id":"174258","identifier":[{"system":"Appointment/","value":"413938333130303533"}],"kind":"clinic","status":"booked","serviceType":"amputation","serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"SERVICE
        CONNECTED","display":"SERVICE CONNECTED"}],"text":"SERVICE CONNECTED"}],"patientIcn":"1012845331V153043","locationId":"983GC","clinic":"1081","start":"2023-05-31T15:00:00Z","end":"2023-05-31T15:30:00Z","created":"2023-06-01T00:00:00Z","cancellable":true,"extension":{"ccLocation":{"address":{}},"vistaStatus":["NO
        ACTION TAKEN"]}},{"id":"174361","identifier":[{"system":"http://med.va.gov/fhir/urn/vaos/vvs/id","value":"918e0a09-a3e5-4cdf-9518-ae41aaaebb45"}],"kind":"telehealth","status":"booked","patientIcn":"1012845331V153043","locationId":"983","practitioners":[{"identifier":[{"system":"dfn-983","value":"520647710"}],"name":{"family":"Poldass","given":["Aarathi"]},"practiceName":"Cheyenne
        WY VAMC"}],"start":"2023-06-06T14:05:00Z","end":"2023-06-06T14:25:00Z","minutesDuration":20,"comment":"Test
        @ 6/5","cancellable":true,"patientInstruction":"Medication Review\n\n- As
        part of your video visit, your provider wants to review all the medications,
        vitamins, herbs, and supplements you are taking. Your provider will want to
        know about these items even if you get them from a local store, another provider,
        or another VA clinic.\n - Please have available during the visit information
        about all the medications, vitamins, herbs and supplements you are taking
        to your video visit.\n - Informing your provider about all these will help
        you get the best and safest care possible.\n\nRemember, it is your medications,
        your life, so play it safe by reviewing all your medications with your health
        care team.","telehealth":{"url":"https://pexip.mapsandbox.net/vvc-app/?join=1&media=1&escalate=1&userType=guest&conference=VAC000424649@pexip.mapsandbox.net&pin=321753&aid=918e0a09-a3e5-4cdf-9518-ae41aaaebb45#","group":true,"vvsKind":"ADHOC"},"extension":{"ccLocation":{"address":{}},"vistaStatus":[],"patientHasMobileGfe":false}},{"id":"174555","identifier":[{"system":"Appointment/","value":"413938333130303438"}],"kind":"clinic","status":"booked","serviceType":"covid","serviceCategory":[{"coding":[{"system":"http://www.va.gov/Terminology/VistADefinedTerms/409_1","code":"REGULAR","display":"REGULAR"}],"text":"REGULAR"}],"patientIcn":"1012845331V153043","locationId":"983","clinic":"1038","start":"2023-06-08T18:45:00Z","end":"2023-06-08T19:00:00Z","created":"2023-05-31T00:00:00Z","cancellable":true,"extension":{"ccL[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone" : {
            "timeZoneId" : "America/Denver"
          },
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Thu, 31 Aug 2023 22:51:37 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983GC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983GC",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Fort Collins VA Clinic",
          "classification" : "Multi-Specialty CBOC",
          "timezone" : {
            "timeZoneId" : "America/Denver"
          },
          "lat" : 40.553875,
          "long" : -105.08795,
          "website" : "https://www.cheyenne.va.gov/locations/Fort_Collins_VA_CBOC.asp",
          "phone" : {
            "main" : "970-224-1550"
          },
          "physicalAddress" : {
            "line" : [ "2509 Research Boulevard" ],
            "city" : "Fort Collins",
            "state" : "CO",
            "postalCode" : "80526-8108"
          },
          "healthService" : [ "Audiology", "EmergencyCare", "MentalHealthCare", "PrimaryCare", "SpecialtyCare" ]
        }
  recorded_at: Thu, 31 Aug 2023 22:51:37 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/984GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "984GA",
          "vistaSite" : "984",
          "vastParent" : "984",
          "type" : "va_health_facility",
          "name" : "Middletown VA Clinic",
          "classification" : "Multi-Specialty CBOC",
          "timezone" : {
            "timeZoneId" : "America/New_York"
          },
          "lat" : 39.50603,
          "long" : -84.316475,
          "website" : "https://www.dayton.va.gov/locations/midtwn_cboc.asp",
          "phone" : {
            "main" : "513-423-8387"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "4337 North Union Road" ],
            "city" : "Middletown",
            "state" : "OH",
            "postalCode" : "45005-5211"
          },
          "healthService" : [ "Audiology", "MentalHealthCare", "Optometry", "Podiatry", "PrimaryCare", "SpecialtyCare" ]
        }
  recorded_at: Thu, 31 Aug 2023 22:51:37 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=1038
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"1038","serviceName":"COVID VACCINE
        CLIN1","physicalLocation":"MHC","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":301,"primaryStopCodeName":"GENERAL INTERNAL
        MEDICINE","secondaryStopCode":710,"secondaryStopCodeName":"PREVENTIVE IMMUNIZATION","patientDirectScheduling":true,"patientDisplay":true,"char4":"CDQC","futureBookingMaximumDays":365}]}'
  recorded_at: Thu, 31 Aug 2023 22:51:37 GMT
recorded_with: VCR 6.2.0
