---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicalService=audiology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - 674d1c86307c89fe-8a5ff5d784ff5583-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true},{"vistaSite":983,"id":"945","serviceName":"FTC
        C&P AUDIO BEV","physicalLocation":"FORT COLLINS AUDIO","stationId":"983GC","stationName":"CHYSHR-Fort
        Collins VA Clinic","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":true,"patientDisplay":true},{"vistaSite":983,"id":"947","serviceName":"CHY
        C&P AUDIO JAN","physicalLocation":"C&P OFFICE","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopC[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=570,945
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - ea2637c860d62ce7-68df51d214560b2b-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true},{"vistaSite":983,"id":"945","serviceName":"FTC
        C&P AUDIO BEV","physicalLocation":"FORT COLLINS AUDIO","stationId":"983GC","stationName":"CHYSHR-Fort
        Collins VA Clinic","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":true,"patientDisplay":true}]}'
  recorded_at: Thu, 13 May 2021 23:01:46 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=570
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - 767bf549f7976703-4d836145f32de0f1-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true}]}'
  recorded_at: Fri, 14 May 2021 03:20:45 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=1081
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.4.0
      B3:
      - 767bf549f7976703-4d836145f32de0f1-1
      X-Vamf-Build:
      - 6cfdbcb
      X-Vamf-Timestamp:
      - '2021-05-08T03:21:25+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"570","serviceName":"CHY C&P AUDIO","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":203,"primaryStopCodeName":"AUDIOLOGY","secondaryStopCode":450,"secondaryStopCodeName":"COMP
        & PENS (C&P) EXAMS","patientDirectScheduling":false,"patientDisplay":true}]}'
  recorded_at: Fri, 14 May 2021 03:20:45 GMT
recorded_with: VCR 6.0.0
