---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics/1081/slots?end=2021-06-30T23:59:59Z&start=2021-05-26T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.5.0
      B3:
      - cda9fcd5af267ef9-5080aef96a73d83b-1
      X-Vamf-Build:
      - d8af5ed
      X-Vamf-Timestamp:
      - '2021-05-24T22:00:44+0000'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3230323130353236313430303A323032313035323631343330","start":"2021-05-26T14:00:00Z","end":"2021-05-26T14:30:00Z"},{"id":"3230323130353236313433303A323032313035323631353030","start":"2021-05-26T14:30:00Z","end":"2021-05-26T15:00:00Z"},{"id":"3230323130353236313530303A323032313035323631353330","start":"2021-05-26T15:00:00Z","end":"2021-05-26T15:30:00Z"},{"id":"3230323130353236313533303A323032313035323631363030","start":"2021-05-26T15:30:00Z","end":"2021-05-26T16:00:00Z"},{"id":"3230323130353236313630303A323032313035323631363330","start":"2021-05-26T16:00:00Z","end":"2021-05-26T16:30:00[...]
