---
http_interactions:
- request:
    method: get
    uri: https://search.usa.gov/api/v2/search/i14y?access_key=TESTKEY&affiliate=va&limit=10&offset=0&query=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd8e7b1d03a42ed35caf97044e477593"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{
        "query": "benefits",
        "web": {
          "total": 85,
          "next_offset": 10,
          "spelling_correction": null,
          "results":
            [{
                            "title": "Apply for education benefits",
                              "url": "https://www.vets.gov/education/apply-for-education-benefits/application/1995/introduction",
                          "snippet": "Use your VA education benefits to pay for college or training programs. Find...documents youll need to apply for benefits, and start your online application...Manage your health & benefits Find VA locations Home Education Apply for Education...Education Benefits Manage your education benefits Equal to VA Form 22-1995 (Request",
                "publication_date": null
            },
            {
                            "title": "Education Benefits",
                              "url": "https://www.vets.gov/education/",
                          "snippet": "Find out which VA education benefits you may qualify for through the GI Bill...Education Benefits We offer Veterans, Servicemembers, and their families education...education benefits like help paying tuition, help finding the right school or",
                "publication_date": null
   [...]
- request:
    method: get
    uri: https://api.gsa.gov/technology/searchgov/v2/results/i14y?access_key=TESTKEY&affiliate=va&limit=10&offset=0&query=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd8e7b1d03a42ed35caf97044e477593"
      Status:
      - 200 OK
    body:
     [...]
