---
http_interactions:
- request:
    method: post
    uri: https://fake.com/oauth2/v2.0/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=dummy_client_id&client_<DMC_TOKEN>=dummy_token&scope=https://dummy.com/.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"fake_token"}'
  recorded_at: Mon, 10 Oct 2022 15:35:35 GMT
- request:
    method: post
    uri: https://dummy.com/api/data/v9.2//cr352_claimsqueries
    body:
      encoding: UTF-8
      string: '{"cr352_id":"conversationId - 2022-10-10 15:35:35 UTC","cr352_icn":"icn","cr352_conversationid":"conversationId","cr352_requestedtimestamp":"2022-10-10
        15:35:35 UTC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Odata-Maxversion:
      - '4.0'
      Odata-Version:
      - '4.0'
      If-None-Match:
      - 'null'
      Authorization:
      - Bearer dummy
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - OPTIONS,GET,HEAD,POST
      Location:
      - https://dummy.com/api/data/v9.2/cr352_claimsqueries(5dd7522b-b148-ed11-bba0-001dd8027533)
      X-Ms-Service-Request-Id:
      - bfb9bf3e-41c6-4b37-9310-0040f988a254
      - f227d935-3001-4eb0-9e65-dc902e43fd1f
      Req-Id:
      - f227d935-3001-4eb0-9e65-dc902e43fd1f
      Authactivityid:
      - c279059c-6a06-4939-af5e-3769bf4950df
      X-Ms-Dop-Hint:
      - '8'
      X-Ms-Ratelimit-Time-Remaining-Xrm-Requests:
      - '1,200.00'
      X-Ms-Ratelimit-Burst-Remaining-Xrm-Requests:
      - '7999'
      X-Ms-Utilization-Percent:
      - '0'
      Odata-Version:
      - '4.0'
      Odata-Entityid:
      - https://dummy.com/api/data/v9.2/cr352_claimsqueries(5dd7522b-b148-ed11-bba0-001dd8027533)
      X-Source:
      - '26182147114226122169993352552770188218202302447174331582401102068148236382122052'
      - '49127154226137311953417419416022510209238121224212181102911441551983614814170175139'
      Public:
      - OPTIONS,GET,HEAD,POST
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Oct 2022 15:35:36 GMT
recorded_with: VCR 6.1.0
