---
http_interactions:
- request:
    method: post
    uri: https://fake2.com/api/data/v9.2//table_prefix_claimsqueries
    body:
      encoding: UTF-8
      string: '{"cr352_id":"conversation_id - 2022-10-10 16:30:44 UTC","cr352_icn":"icn","cr352_conversationid":"conversation_id","cr352_requestedtimestamp":"2022-10-10
        16:30:44 UTC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Odata-Maxversion:
      - '4.0'
      Odata-Version:
      - '4.0'
      If-None-Match:
      - 'null'
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - OPTIONS,GET,HEAD,POST
      Location:
      - https://fake2.com/api/data/v9.2/cr352_claimsqueries(2db5b1df-b848-ed11-bba0-001dd8027533)
      X-Ms-Service-Request-Id:
      - 1d552a6a-fdc7-429f-b052-e754c53498e4
      - 9f0d00c3-59c2-40a7-94ef-a423807ac0cf
      Req-Id:
      - 1d552a6a-fdc7-429f-b052-e754c53498e4
      Authactivityid:
      - f783ec2a-7bc5-423a-9b31-ff3772a9a5c1
      X-Ms-Dop-Hint:
      - '8'
      X-Ms-Ratelimit-Time-Remaining-Xrm-Requests:
      - '1,200.00'
      X-Ms-Ratelimit-Burst-Remaining-Xrm-Requests:
      - '7999'
      X-Ms-Utilization-Percent:
      - '0'
      Odata-Version:
      - '4.0'
      Odata-Entityid:
      - https://fake2.com/api/data/v9.2/cr352_claimsqueries(2db5b1df-b848-ed11-bba0-001dd8027533)
      X-Source:
      - '26182147114226122169993352552770188218202302447174331582401102068148236382122052'
      - '38105545215765244101235106125102412081271519623139247161206237821128325210344156629'
      Public:
      - OPTIONS,GET,HEAD,POST
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Oct 2022 16:30:44 GMT
recorded_with: VCR 6.1.0
