
---
http_interactions:
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/tokens/generate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer fake_<DMC_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"error\": {\r\n    \"code\": \"BadArgument\",\r\n    \"message\":
        \"Invalid token or <DMC_TOKEN>\"\r\n  }\r\n}"
  recorded_at: Wed, 17 Mar 2021 16:50:13 GMT
recorded_with: VCR 6.0.0
