---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://claimstatus.services.ebenefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findBenefitClaimDetailsByBnftClaimId">
        <part name="parameters" element="tns:findBenefitClaimDetailsByBnftClaimId"/>
        </message>
        <message name="findBenefitClaimDetailsByBnftClaimIdResponse">
        <part name="parameters" element="tns:findBenefitClaimDetailsByBnftClaimIdResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findOpenBenefitClaimsStatusByPtcpntId">
        <part name="parameters" element="tns[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>VAgovAPI</wsse:Username>
            </wsse:UsernameToken>
            <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
              <vaws:CLIENT_MACHINE>10.0.0.162</vaws:CLIENT_MACHINE>
              <vaws:STN_ID>281</vaws:STN_ID>
              <vaws:applicationName>VAgovAPI</vaws:applicationName>
              <vaws:ExternalUid>600061742</vaws:ExternalUid>
              <vaws:ExternalKey>600061742</vaws:ExternalKey>
            </vaws:VaServiceHeaders>
          </wsse:Security>
        </env:Header>

          <env:Body>
            <tns:findBenefitClaimsStatusByPtcpntId>
              <ptcpntId>600061742</ptcpntId>

            </tns:findBenefitClaimsStatusByPtcpntId>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findBenefitClaimsStatusByPtcpntId"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdTAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTMuMy44AAA=</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimsStatusByPtcpntIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimsDTO><benefitClaim><appealPossible>Yes</appealPossible><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>165</baseEndPrdctTypeCd><benefitClaimId>600354181</benefitClaimId><bnftClaimTypeCd>165ACRDPMC</bnftClaimTypeCd><claimCloseDt>2022-12-20</claimCloseDt><claimCompleteDt>2022-12-20</claimCompleteDt><claimDt>2022-12-20</claimDt><claimStatus>CAN</claimStatus><claimStatusType>Compensation</claimStatusType><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>No</developmentLetterSent><endPrdctTypeCd>165</endPrdctTypeCd><phaseChngdDt>2022-12-20</phaseChngdDt><phaseType>Complete</phaseType><programType>CPD</programType><ptcpntClmantId>600836358</ptcpntClmantId><ptcpntVetId>600061742</ptcpntVetId></benefitClaim><benefitClaim><appealPossible>Yes</appealPossible><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>165</baseEndPrdctTypeCd><benefitClaimId>600354175</benefitClaimId><bnftClaimTypeCd>165ACRD</bnftClaimTypeCd><claimCloseDt>2022-12-20</claimCloseDt><claimCompleteDt>2022-12-20</claimCompleteDt><claimDt>2022-12-01</claimDt><claimStatus>CAN</claimStatus><claimStatusType>Compensation</claimStatusType><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>No</developmentLetterSent><endPrdctTypeCd>165</endPrdctTypeCd><phaseChngdDt>2022-12-20</phaseChngdDt><phaseType>Complete</phaseType><programType>CPD</programType><ptcpntClmantId>600836263</ptcpntClmantId><ptcpntVetId>600061742</ptcpntVetId></benefitClaim><benefitClaim><appealPossible>Yes</appealPossible><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>165</baseEndPrdctTypeCd><benefitClaimId>600354178</benefitClaimId><bnftClaimTypeCd>165ACRD</bnftClaimTypeCd><claimCloseDt>2022-12-20</claimCloseDt><claimCompleteDt>2022-12-20</claimCompleteDt><claimDt>2022-12-01</claimDt><claimStatus>CAN</claimStatus><claimStatusType>Compensation</claimStatusType><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>No</developmentLetterSent><endPrdctTypeCd>165</endPrdctTypeCd><latestEvidenceRecdDate>2016-06-06</latestEvidenceRecdDate><phaseChngdDt>2022-12-20</phaseChngdDt><phaseType>Complete</phaseType><programType>CPD</programType><ptcpntClmantId>600061742</ptcpntClmantId><ptcpntVetId>600061742</ptcpntVetId></benefitClaim><benefitClaim><appealPossible>Yes</appealPossible><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>130</baseEndPrdctTypeCd><benefitClaimId>600311927</benefitClaimId><bnftClaimTypeCd>130SCHATTEBN</bnftClaimTypeCd><claimCloseDt>2022-09-21</claimCloseDt><claimComplet[...]
