---
http_interactions:
- request:
    method: post
    uri: http://pint1.vaebnapp71.aac.va.gov:8001/wssweb/vii-app-1.2/rest/patientAuthService/1.2/getInFlightForms
    body:
      encoding: UTF-8
      string: '{"formType":"10-5345A-MHV"}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Firstname:
      - Johnnie
      Va-Eauth-Lastname:
      - Weaver
      Va-Eauth-Issueinstant:
      - '2017-01-10T02:49:44Z'
      Va-Eauth-Dodedipnid:
      - '1005169255'
      Va-Eauth-Pid:
      - '600043180'
      Va-Eauth-Pnid:
      - '796123607'
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"796123607","edi":"1005169255","firstName":"Johnnie","lastName":"Weaver"}}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"inFlightForms":[]}'
  recorded_at: Tue, 10 Jan 2017 02:50:01 GMT
recorded_with: VCR 3.0.3
