---
http_interactions:
- request:
    method: post
    uri: http://pint1.vaebnapp71.aac.va.gov:8001/wssweb/vii-app-1.2/rest/formService/1.2/submitForm
    body:
      encoding: UTF-8
      string: '{"formData":{"commonHeaders":[],"formConfigId":{"configVersion":"1.0.0","formType":"10-5345A-MHV"},"formFieldData":[{"name":"patientFullName","values":["Johnnie
        Weaver"]},{"name":"ssn","values":["796123607"]},{"name":"ssnMasked","values":["*****3607"]},{"name":"dob","values":["12/02/1809"]},{"name":"patientPhoneNumber","values":["217-637-2227"]},{"name":"dateSign","values":["10/01/2017"]}],"overFlowFormFieldData":[]}}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Firstname:
      - Johnnie
      Va-Eauth-Lastname:
      - Weaver
      Va-Eauth-Issueinstant:
      - '2017-01-10T02:51:35Z'
      Va-Eauth-Dodedipnid:
      - '1005169255'
      Va-Eauth-Pid:
      - '600043180'
      Va-Eauth-Pnid:
      - '796123607'
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"796123607","edi":"1005169255","firstName":"Johnnie","lastName":"Weaver"}}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"formData":{"commonHeaders":[],"formConfigId":{"configVersion":"1.0.0","formType":"10-5345A-MHV"},"formFieldData":[{"name":"patientFullName","values":["Johnnie
        Weaver"]},{"name":"ssn","values":["796123607"]},{"name":"ssnMasked","values":["*****3607"]},{"name":"dob","values":["12/02/1809"]},{"name":"patientPhoneNumber","values":["217-637-2227"]},{"name":"dateSign","values":["10/01/2017"]}],"formId":"2564","overFlowFormFieldData":[]},"messages":[]}'
  recorded_at: Tue, 10 Jan 2017 02:51:44 GMT
recorded_with: VCR 3.0.3
