---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v3/user/connected-apps?icn=123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      accesskey:
      - TESTKEY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"title": "Auth Service Error","detail": "not found uid: Exception retrieving user info","code": "404","status": "404"}]}'
  recorded_at: Wed, 07 Nov 2018 14:57:37 GMT