---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v3/user/connected-apps?icn=123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
      accesskey:
      - TESTKEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"apps":[{"clientId":"0oa2ey2m6kEL2897N2p7","label":"someLabel1","href":"logoName","status":"ACTIVE","grants":[{"connectionDate":"2024-01-11T18:58:61.000Z","scopeTitle":"Read Claim Information"},{"connectionDate":"2024-01-15T18:52:61.000Z","scopeTitle":"Submit Claims"}]},{"clientId":"0oa2ey2m6kEL2897N2p7","label":"someLabel2","href":"logoName","status":"ACTIVE","grants":[{"connectionDate":"2024-01-11T03:05:61.000Z","scopeTitle":"Disability rating"},{"connectionDate":"2024-01-15T17:61:49.000Z","scopeTitle":"Patient ID"},{"connectionDate":"2024-01-15T19:61:49.000Z","scopeTitle":"Demographic information"}]}]}'
  recorded_at: Wed, 07 Nov 2018 14:57:37 GMT