---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v3/user/connected-apps?icn=123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"apps":[{"clientId":"0oa2ey2m6kEL2897N2p7","label":"ConnectedAppsTest","href":"logoName","status":"ACTIVE","connectionDate": "2021-09-16T02:21:11.000Z", "scopeTitle": "Read Claims information"},{"clientId":"12304","label":"ConnectedApps2","href":"logoName2","status":"ACTIVE","connectionDate": "2021-09-16T02:21:11.000Z", "scopeTitle": "Read Claims information"}]}'
  recorded_at: Wed, 07 Nov 2018 14:57:37 GMT