---
http_interactions:
- request:
    method: get
    uri: "<GIDS_URL>/v1/institutions/11902614"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4699898","type":"institutions","attributes":{"name":"PURDUE
        UNIVERSITY-MAIN CAMPUS","facility_code":"11902614","type":"PUBLIC","city":"WEST
        LAFAYETTE","state":"IN","zip":"47906","country":"USA","bah":1770.0,"cross":"243780","flight":false,"correspondence":false,"ope":"00182500","ope6":"01825","school_system_name":"Purdue
        University","school_system_code":118070,"alias":"Purdue-West Lafayette|Purdue|PU|Purdue-WL","highest_degree":4,"locale_type":"city","address_1":"101
        N Grant Street","address_2":"Purdue Memorial Union Rm 284","address_3":null,"student_count":1214,"undergrad_enrollment":39637,"yr":true,"student_veteran":true,"student_veteran_link":null,"poe":true,"eight_keys":true,"stem_offered":false,"dodmou":true,"sec_702":true,"vet_success_name":null,"vet_success_email":null,"credit_for_mil_training":true,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":true,"retention_rate_veteran_ba":null,"retention_all_students_ba":0.9203,"retention_rate_veteran_otb":null,"retention_all_students_otb":null,"persistance_rate_veteran_ba":null,"persistance_rate_veteran_otb":null,"graduation_rate_veteran":null,"graduation_rate_all_students":0.8307,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":72424.0,"repayment_rate_all_students":0.7809330629,"avg_stu_loan_debt":19500.0,"calendar":"semesters","tuition_in_state":9992,"tuition_out_of_state":28794,"books":1030,"online_all":true,"p911_tuition_fees":5503660.97,"p911_recipients":700,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":null,"accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"caution_flags":[],"complaints":{"facility_code":2,"financial_by_fac_code":1,"quality_by_fac_code":0,"refund_by_fac_code":0,"marketing_by_fac_code":0,"accreditation_by_fac_code":0,"degree_requirements_by_fac_code":0,"student_loans_by_fac_code":0,"grades_by_fac_code":0,"credit_transfer_by_fac_code":0,"credit_job_by_fac_code":null,"job_by_fac_code":0,"transcript_by_fac_code":0,"other_by_fac_code":2,"main_campus_roll_up":2,"financial_by_ope_id_do_not_sum":1,"quality_by_ope_id_do_not_sum":0,"refund_by_ope_id_do_not_sum":0,"marketing_by_ope_id_do_not_sum":0,"accreditation_by_ope_id_do_not_sum":0,"degree_requirements_by_ope_id_do_not_sum":0,"student_loans_by_ope_id_do_not_sum":0,"grades_by_ope_id_do_not_sum":0,"credit_transfer_by_ope_id_do_not_sum":0,"jobs_by_ope_id_do_not_sum":0,"transcript_by_ope_id_do_not_sum":0,"other_by_ope_id_do_not_sum":2},"school_closing":false,"school_closing_on":null,"school_closing_message":null,"yellow_ribbon_programs":[{"city":"West
        Lafayette","contribution_amount":"7000.0","correspondence":false,"country":"USA","degree_level":"All","display_degree_levels":["Other"],"distance_learning":true,"division_professional_school":"All","facility_code":"11902614","institution_id":4699898,"insturl":"https://www.purdue.edu/","latitude":40.428206,"longitude":-86.914435,"number_of_students":50,"name_of_institution":"PURDUE
        UNIVERSITY-MAIN CAMPUS","online_only":false,"state":"IN","student_veteran":true,"student_veteran_link":null,"ungeocodable":false,"year_of_yr_participation":null}],"independent_study":true,"priority_enrollment":true,"created_at":"2026-01-16T04:39:42.000Z","updated_at":"2026-01-16T04:39:42.000Z","physical_address_1":"101
        N Grant Street","physical_address_2":"Purdue Memorial Union Rm 284","physical_address_3":null,"physical_city":"WEST
        LAFAYETTE","physical_state":"IN","physical_country":"USA","online_only":false,"distance_learning":true,"dod_bah":1647,"physical_zip":"47906","parent_facility_code_id":null,"campus_type":"Y","vet_tec_provider":false,"preferred_provider":false,"stem_indicator":false,"facility_map":{"main":{"institution":{"id":4699898,"version":{"number":79,"created_at":"2026-01-16T04:39:42.700Z","preview":false},"institution_type_name":"PUBLIC","facility_code":"11902614","institution":"PURDUE
        UNIVERSITY-MAIN CAMPUS","city":"WEST LAFAYETTE","state":"IN","zip":"47906","country":"USA","flight":false,"correspondence":false,"bah":1770.0,"cross":"243780","ope":"00182500","ope6":"01825","insturl":"https://www.purdue.edu/","vet_tuition_policy_url":"https://www.purdue.edu/registrar/currentStudents/residency/index.html","pred_degree_awarded":3,"locale":13,"gibill":1214,"undergrad_enrollment":39637,"yr":true,"student_veteran":true,"student_veteran_link":null,"poe":true,"eight_keys":true,"dodmou":true,"sec_702":true,"vetsuccess_name":null,"vetsuccess_email":null,"credit_for_mil_training":true,"vet_poc":true,"student_vet_grp_ipeds":true,"soc_member":true,"va_highest_degree_offered":"4-year","retention_rate_veteran_ba":null,"retention_all_students_ba":0.9203,"retention_rate_veteran_otb":null,"retention_all_students_otb":null,"persistance_rate_veteran_ba":null,"persistance_rate_veteran_otb":null,"graduation_rate_veteran":null,"graduation_rate_all_students":0.8307,"transfer_out_rate_veteran":null,"transfer_out_rate_all_students":null,"salary_all_students":72424.0,"repayment_rate_all_students":0.7809330629,"avg_stu_loan_debt":19500.0,"calendar":"semesters","tuition_in_state":9992,"tuition_out_of_state":28794,"books":1030,"online_all":true,"p911_tuition_fees":5503660.97,"p911_recipients":700,"p911_yellow_ribbon":null,"p911_yr_recipients":null,"accredited":true,"accreditation_type":null,"accreditation_status":null,"caution_flag":null,"caution_flag_reason":null,"complaints_facility_code":2,"complaints_financial_by_fac_code":1,"complaints_quality_by_fac_code":0,"complaints_refund_by_fac_code":0,"complaints_marketing_by_fac_code":0,"complaints_accreditation_by_fac_code":0,"complaints_degree_requirements_by_fac_code":0,"complaints_student_loans_by_fac_code":0,"complaints_grades_by_fac_code":0,"complaints_credit_transfer_by_fac_code":0,"complaints_credit_job_by_fac_code":null,"complaints_job_by_fac_code":0,"complaints_transcript_by_fac_code":0,"complaints_other_by_fac_code":2,"complaints_main_campus_roll_up":2,"complaints_financial_by_ope_id_do_not_sum":1,"complaints_quality_by_ope_id_do_not_sum":0,"complaints_refund_by_ope_id_do_not_sum":0,"complaints_marketing_by_ope_id_do_not_sum":0,"complaints_accreditation_by_ope_id_do_not_sum":0,"complaints_degree_requirements_by_ope_id_do_not_sum":0,"complaints_student_loans_by_ope_id_do_not_sum":0,"complaints_grades_by_ope_id_do_not_sum":0,"complaints_credit_transfer_by_ope_id_do_not_sum":0,"complaints_jobs_by_ope_id_do_not_sum":0,"complaints_transcript_by_ope_id_do_not_sum":0,"complaints_other_by_ope_id_do_not_sum":2,"created_at":"2026-01-16T04:39:42.000Z","updated_at":"2026-01-16T04:39:42.000Z","f1sysnam":"Purdue
        University","f1syscod":118070,"ialias":"Purdue-West Lafayette|Purdue|PU|Purdue-WL","approval_status":null,"school_closing":false,"school_closing_on":null,"school_closing_message":null,"stem_offered":false,"priority_enrollment":true,"online_only":false,"independent_study":true,"distance_learning":true,"address_1":"101
        N Grant Street","address_2":"Purdue Memorial Union Rm 284","address_3":null,"physical_address_1":"101
        N Grant Street","physical_address_2":"Purdue Memorial Union Rm 284","physical_address_3":null,"physical_city":"WEST
        LAFAYETTE","physical_state":"IN","physical_zip":"47906","physical_country":"USA","dod_bah":1647,"approved":true,"vet_tec_provider":false,"closure109":null,"preferred_provider":false,"stem_indicator":false,"campus_type":"Y","parent_facility_code_id":null,"version_id":106,"complies_with_sec_103":null,"solely_requires_coe":null,"requires_coe_and_criteria":null,"count_of_caution_flags":0,"section_103_message":"No","poo_status":"APRVD","hbcu":0,"hcm2":0,"menonly":0,"pctfloan":0.2321,"relaffil":null,"womenonly":0,"institution_search":"PURDUE
        MAIN","rating_count":0,"rating_average":null,"latitude":40.428206,"longitude":-86.914435,"employer_provider":false,"school_provider":true,"vrrap":null,"in_state_tuition_information":null,"bad_address":false,"high_school":null,"chief_officer":null,"ownership_name":null,"hsi":0,"nanti":0,"annhi":0,"aanapii":0,"pbi":0,"tribal":0,"ungeocodable":false,"distance":null},"branches":[{"institution":{"id":4700036,"version":{"number":79,"created_at":"2026-01-16T04:39:42.700Z","preview":false},"institution_type_name":"PUBLIC","facility_code":"11918714","institution":"PURDUE
        POLYTECHNIC-ANDERSON","city":"ANDERSON","state":"IN","zip":"46016","country":"USA","flight":false,"correspondence":false,"bah":1617.0,"cross":"243780","ope":"00182501","ope6":"01825","insturl":"https://www.purdue.edu/","vet_tuition_policy_url":"https://www.purdue.edu/registrar/currentStudents/reside[...]
