---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/internal/auth/v2/validation
    body:
      encoding: US-ASCII
      string: aud=https%3A%2F%dev-api.va.gov%2Fservices%2Fsome-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      Authorization:
      - Bearer ABC123
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '9999'
      X-Ratelimit-Limit-Minute:
      - '10000'
      Ratelimit-Remaining:
      - '9999'
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Reset:
      - '54'
      X-Proxy-Debug-Message:
      - Headed to ECS lighthouse-auth
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"AT.5srKQCpbOCwG9HZRItYk_ERIkOfhdLWifr5f4HRRQx8.oar136oq1wFphHGiO2p7","type":"validated_token","attributes":{"ver":1,"jti":"AT.5srKQCpbOCwG9HZRItYk_ERIkOfhdLWifr5f4HRRQx8.oar136oq1wFphHGiO2p7","iss":"https://deptva-eval.okta.com/oauth2/default","aud":"api://default","iat":1635353996,"exp":1635357596,"cid":"0oa41882gkjtBRJhu2p7","uid":"00u3z5e6as6tEwXWx2p7","scp":["openid","offline_access","profile","some_resource.read"],"sub":"b24346a788c04dfea5048d44ad071181","act":{"icn":"1012667145V762142","npi":null,"sec_id":null,"vista_id":null,"type":"patient"},"launch":null}}}'
  recorded_at: Wed, 27 Oct 2021 17:42:07 GMT
recorded_with: VCR 6.2.0
