---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/internal/auth/v3/validation
    body:
      encoding: UTF-8
      string: '{"aud":"https://dev-api.va.gov/services/some-api"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcd1234abcd1234abcd1234abcd1234abcd1234
      Authorization:
      - Bearer ABC123
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '9999'
      X-Ratelimit-Limit-Minute:
      - '10000'
      Ratelimit-Remaining:
      - '9999'
      Ratelimit-Limit:
      - '10000'
      Ratelimit-Reset:
      - '48'
      X-Git-Sha:
      - b729fdd171f81c5f5ae160b4243f06ce639f8b20
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Token Validation Error","detail":"Signature verification
        raised","code":"401","status":"401"}]}'
  recorded_at: Wed, 27 Oct 2021 18:11:13 GMT
recorded_with: VCR 6.0.0
