---
http_interactions:
- request:
    method: get
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '1319231489'
      X-Arcgis-Instance:
      - MTSDS_Web_IN_3
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.41,"serviceItemId":"d20207c189bd4e6ab7444ee4acb08b24","serviceDescription":"","hasVersionedData":false,"supportsDisconnectedEditing":false,"hasStaticData":true,"maxRecordCount":2000,"supportedQueryFormats":"JSON","capabilities":"Query","description":"","copyrightText":"","spatialReference":{"wkid":102100,"latestWkid":3857},"initialExtent":{"xmin":-17570944.343753345,"ymin":2085521.365712136,"xmax":-7366152.4423543438,"ymax":8688647.0390275568,"spatialReference":{"wkid":102100,"latestWkid":3857}},"fullExtent":{"xmin":-17570944.343753345,"ymin":2085521.365712136,"xmax":-7366152.4423543438,"ymax":8688647.0390275568,"spatialReference":{"wkid":102100,"latestWkid":3857}},"allowGeometryUpdates":true,"units":"esriMeters","size":163840,"syncEnabled":false,"supportsApplyEditsWithGlobalIds":false,"editorTrackingInfo":{"enableEditorTracking":false,"enableOwnershipAccessControl":false,"allowOthersToQuery":true,"allowOthersToUpdate":true,"allowOthersToDelete":false,"allowAnonymousToUpdate":true,"allowAnonymousToDelete":true},"xssPreventionInfo":{"xssPreventionEnabled":true,"xssPreventionRule":"InputOnly","xssInputRule":"rejectInvalid"},"layers":[{"id":0,"name":"NCA_Facilities","parentLayerId":-1,"defaultVisibility":true,"subLayerIds":null,"minScale":0,"maxScale":0}],"tables":[]}'
  recorded_at: Mon, 17 Oct 2016 21:18:38 GMT
- request:
    method: post
    uri: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&where=CEMETERY_I%3D%279999999%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=CEMETERY_I
    headers:
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd46_30344499
      X-Arcgis-Instance:
      - MTSDS_Web_IN_15
      Token: "<SESSION_TOKEN>"
    body:
      encoding: ASCII-8BIT
      string: '{"objectIdFieldName":"FID","globalIdFieldName":"","features":[]}'
  recorded_at: Mon, 17 Oct 2016 21:18:39 GMT
recorded_with: VCR 3.0.3
