---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"errors\": [\n    {\n      \"error\": \"AuthError\", \n      \"message\":
        \"Invalid token: signature, api token is not valid\"\n    }\n  ], \n  \"status_code\": 403\n}\n"
  recorded_at: Wed, 26 Aug 2020 19:37:40 GMT
recorded_with: VCR 6.0.0
