---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BEARER_TOKEN_HERE
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"errors\": [\n    {\n      \"error\": \"ValidationError\", \n
        \     \"message\": \"template_id is not a valid UUID\"\n    }\n  ], \n  \"status_code\":
        400\n}\n"
  recorded_at: Wed, 26 Aug 2020 18:35:50 GMT
recorded_with: VCR 6.0.0
