---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhYWFhYWFhYS1hYWFhLWFhYWEtYWFhYS1hYWFhYWFhYWFhYWEiLCJpYXQiOjE1OTg0NzA5MDh9.-x_btGXBj2ungSQINLLjZla_Ut9vY9gDiechxAMqJEM
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"message\": \"The requested URL was not found on the server.
        If you entered the URL manually please check your spelling and try again.\",
        \n  \"result\": \"error\"\n}\n"
  recorded_at: Wed, 26 Aug 2020 19:41:49 GMT
recorded_with: VCR 6.0.0
