---
http_interactions:
  - request:
      method: post
      uri: http://fakeapi.com/v2/notifications/email
      body:
        encoding: UTF-8
        string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer BEARER_TOKEN_HERE
    response:
      status:
        code: 501
        message: NOT IMPLEMENTED
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: "{\n  \"message\": \"Not Implemented\",
        \n  \"result\": \"error\"\n}\n"
    recorded_at: Wed, 26 Aug 2020 19:41:49 GMT
recorded_with: VCR 6.0.0
