---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some_bearer_token
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"billing_code\":\"\",\"callback_url\":\"\",\"content\":{\"body\":\"123\",\"from_number\":\"callback\"},\"id\":\"11111111-1111-1111-1111-111111111111\",\"reference\":\"\",\"scheduled_for\":\"\",\"template\":{\"id\":\"33333333-3333-3333-3333-333333333333\",\"uri\":\"https://fakeapi.com/services/22222222-2222-2222-2222-222222222222/templates/33333333-3333-3333-3333-333333333333\",\"version\":1},\"uri\":\"https://dev-api.va.gov/v2/notifications/11111111-1111-1111-1111-111111111111\"}"
  recorded_at: Wed, 26 Aug 2020 19:37:40 GMT
recorded_with: VCR 6.0.0
