---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"test@email.com","template_id":"1234","personalisation":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhYWFhYWFhYS1hYWFhLWFhYWEtYWFhYS1hYWFhYWFhYWFhYWEiLCJpYXQiOjE1OTg0NzA5MDh9.-x_btGXBj2ungSQINLLjZla_Ut9vY9gDiechxAMqJEM
  response:
    status:
      code: 429
      message: TOO MANY REQUESTS
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"errors\": [\n    {\n      \"error\": \"RateLimitError\", \n      \"message\":
                      \"Exceeded rate limit for key type TYPE of LIMIT requests per INTERVAL seconds\"\n    }\n  ], \n  \"status_code\": 429\n}\n"
  recorded_at: Wed, 26 Aug 2020 19:41:49 GMT
recorded_with: VCR 6.0.0
