---
http_interactions:
  - request:
      method: post
      uri: https://api.wellhive.com/care-navigation/v1/appointments/J9BhspdR/submit
      body:
        encoding: UTF-8
        string: '{"networkId":"sandbox-network-5vuTac8v","providerServiceId":"9mN718pH","slotIds":["5vuTac8v-practitioner-4-role-1|2a82f6c9-e693-4091-826d-97b392958301|2024-11-04T17:00:00Z|30m0s|1732735998236|ov"],"referral":{"referralNumber":"12345"},"additionalPatientAttributes":{"name":{"family":"Smith","given":["Sarah","Elizabeth"]},"phone":"407-555-8899","email":"sarah.smith@email.com","birthDate":"1985-03-15","gender":"female","address":{"line":["742
          Sunshine Boulevard","Apt 15B"],"city":"Orlando","state":"FL","country":"USA","postalCode":"32801","type":"both"}}}'
      headers:
        Content-Type:
          - application/json
        Authorization: Bearer <TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Wellhive-Trace-Id:
          - d0dd452c145554577bd09a839de81928
      body:
        encoding: UTF-8
        string: |
          {
            "id": "J9BhspdR",
            "patientId": "b6cc1875-5313-4ca8-af8b-74adac0c5d0c",
            "referral": {
              "referralNumber": "12345"
            },
            "state": "draft",
            "error": "conflict"
          }
    recorded_at: Tue, 07 Jan 2025 18:36:41 GMT
recorded_with: VCR 6.3.1
