---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/oauth2/benefits-documents/system/v1/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=fakeassertionvaluehere&scope=documents.read+documents.write
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40e-UXHImJvWCls4DB4RVq6geyvCyvk"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"faketokenvaluehere","<OKTA_TOKEN>_type":"Bearer","scope":"documents.write
        documents.read","expires_in":600,"state":null}'
  recorded_at: Thu, 03 Aug 2023 17:00:50 GMT
recorded_with: VCR 6.2.0
