---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://benefitclaim.services.vetsnet.vba.va.gov/" name="BenefitClaimWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://benefitclaim.services.vetsnet.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/BenefitClaimWebServiceBean/BenefitClaimWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="insertBnftClaimSpeclIssue">
        <part name="parameters" element="tns:insertBnftClaimSpeclIssue"/>
        </message>
        <message name="insertBnftClaimSpeclIssueResponse">
        <part name="parameters" element="tns:insertBnftClaimSpeclIssueResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findBnftClaimSpeclIssueBnftClaimId">
        <part name="parameters" element="tns:findBnftClaimSpeclIssueBnftClaimId"[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.163</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>4541240266</vaws:ExternalUid>
            <vaws:ExternalKey>4541240266</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findBnftClaim><bnftClaimId>abc123</bnftClaimId></tns:findBnftClaim></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findBnftClaim"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:Fault xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://www.w3.org/2003/05/soap-envelope"><faultcode>ns0:Server</faultcode><faultstring>
        Exception Description: The object [abc123], of class [class java.lang.String], from mapping [org.eclipse.persistence.oxm.mappings.XMLDirectMapping[bnftClaimId-->bnftClaimId/text()]] with descriptor [XMLDescriptor(gov.va.vba.vetsnet.services.benefitclaim.jaxws.FindBnftClaim --> [DatabaseTable(ns0:findBnftClaim)])], could not be converted to [class java.lang.Long].
        Internal Exception: java.lang.NumberFormatException: For input string: "abc123"</faultstring></ns0:Fault></S:Body></S:Envelope>
  recorded_at: Mon, 10 Oct 2022 21:11:29 GMT
recorded_with: VCR 6.1.0
