---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://benefitclaim.services.vetsnet.vba.va.gov/" name="BenefitClaimWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://benefitclaim.services.vetsnet.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/BenefitClaimWebServiceBean/BenefitClaimWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="insertBnftClaimSpeclIssue">
        <part name="parameters" element="tns:insertBnftClaimSpeclIssue"/>
        </message>
        <message name="insertBnftClaimSpeclIssueResponse">
        <part name="parameters" element="tns:insertBnftClaimSpeclIssueResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findBnftClaimSpeclIssueBnftClaimId">
        <part name="parameters" element="tns:findBnftClaimSpeclIssueBnftClaimId"[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/BenefitClaimWebServiceBean/BenefitClaimWebServiceV1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.163</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>600043201</vaws:ExternalUid>
            <vaws:ExternalKey>600043201</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:updateBnftClaim><bnftClaimDTO><bnftClaimId>600333346</bnftClaimId><bnftClaimTypeCd>020CLMINC</bnftClaimTypeCd><bnftClaimTypeLabel>Compensation</bnftClaimTypeLabel><bnftClaimTypeNm>Claim for Increase</bnftClaimTypeNm><bnftClaimUserDisplay>YES</bnftClaimUserDisplay><claimJrsdtnLctnId>123725</claimJrsdtnLctnId><claimRcvdDt>2022-09-23</claimRcvdDt><cpClaimEndPrdctTypeCd>021</cpClaimEndPrdctTypeCd><jrnDt>2022-09-26T11:43:04</jrnDt><jrnLctnId>283</jrnLctnId><jrnObjId>cd_clm_lc_status_pkg.do_create</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VBMSSYSACCT</jrnUserId><payeeTypeCd>00</payeeTypeCd><payeeTypeNm>Veteran</payeeTypeNm><pgmTypeCd>CPL</pgmTypeCd><pgmTypeNm>Compensation-Pension Live</pgmTypeNm><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntClmantNm>ELLIS TAMARA</ptcpntClmantNm><ptcpntMailAddrsId>14981239</ptcpntMailAddrsId><ptcpntPymtAddrsId>14906550</ptcpntPymtAddrsId><ptcpntVetId>600043201</ptcpntVetId><ptcpntVsrId>600831201</ptcpntVsrId><stationOfJurisdiction>499</stationOfJurisdiction><statusTypeCd>RFD</statusTypeCd><statusTypeNm>Ready for Decision</statusTypeNm><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><svcTypeCd>CP</svcTypeCd><termnlDigitNbr>15</termnlDigitNbr><filed5103WaiverInd>Y</filed5103WaiverInd></bnftClaimDTO></tns:updateBnftClaim></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"updateBnftClaim"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMi4yOQAA</work:WorkContext></env:Header><S:Body><ns0:updateBnftClaimResponse
        xmlns:ns0="http://benefitclaim.services.vetsnet.vba.va.gov/"><BnftClaimDTO><bnftClaimId>600333346</bnftClaimId><bnftClaimTypeCd>020CLMINC</bnftClaimTypeCd><bnftClaimTypeLabel>Compensation</bnftClaimTypeLabel><bnftClaimTypeNm>Claim
        for Increase</bnftClaimTypeNm><bnftClaimUserDisplay>YES</bnftClaimUserDisplay><claimJrsdtnLctnId>123725</claimJrsdtnLctnId><claimRcvdDt>2022-09-23T00:00:00-05:00</claimRcvdDt><cpClaimEndPrdctTypeCd>021</cpClaimEndPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><jrnDt>2022-10-19T13:37:51-05:00</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><payeeTypeCd>00</payeeTypeCd><payeeTypeNm>Veteran</payeeTypeNm><pgmTypeCd>CPL</pgmTypeCd><pgmTypeNm>Compensation-Pension
        Live</pgmTypeNm><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntClmantNm>ELLIS
        TAMARA</ptcpntClmantNm><ptcpntMailAddrsId>14981239</ptcpntMailAddrsId><ptcpntPymtAddrsId>14906550</ptcpntPymtAddrsId><ptcpntVetId>600043201</ptcpntVetId><ptcpntVsrId>600831201</ptcpntVsrId><stationOfJurisdiction>499</stationOfJurisdiction><statusTypeCd>RFD</statusTypeCd><statusTypeNm>Ready
        for Decision</statusTypeNm><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><svcTypeCd>CP</svcTypeCd><termnlDigitNbr>15</termnlDigitNbr></BnftClaimDTO></ns0:updateBnftClaimResponse></S:Body></S:Envelope>
  recorded_at: Tue, 25 Oct 2022 01:02:32 GMT
recorded_with: VCR 6.1.0
