---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://claimstatus.services.ebenefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findHistoricalBenefitClaimsStatusByPtcpntId">
        <part name="parameters" element="tns:findHistoricalBenefitClaimsStatusByPtcpntId"/>
        </message>
        <message name="findHistoricalBenefitClaimsStatusByPtcpntIdResponse">
        <part name="parameters" element="tns:findHistoricalBenefitClaimsStatusByPtcpntIdResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findOpenBenefitClaimsStatusBySSN">
        <part name="paramete[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
          <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>VAgovAPI</wsse:Username>
            </wsse:UsernameToken>
            <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
              <vaws:CLIENT_MACHINE>10.0.0.9</vaws:CLIENT_MACHINE>
              <vaws:STN_ID>281</vaws:STN_ID>
              <vaws:applicationName>VAgovAPI</vaws:applicationName>
              <vaws:ExternalUid>9615803788</vaws:ExternalUid>
              <vaws:ExternalKey>9615803788</vaws:ExternalKey>
            </vaws:VaServiceHeaders>
          </wsse:Security>
        </env:Header>

          <env:Body>
            <tns:findBenefitClaimDetailsByBnftClaimId>
              <bnftClaimId>600131328</bnftClaimId>

            </tns:findBenefitClaimDetailsByBnftClaimId>
          </env:Body>
          </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - '"findBenefitClaimDetailsByBnftClaimId"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMy4xNAAA</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimDetailsByBnftClaimIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimDetailsDTO><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>930</baseEndPrdctTypeCd><benefitClaimId>600131328</benefitClaimId><bnftClaimLcStatus><phaseChngdDt>2022-09-21T09:51:20</phaseChngdDt><phaseType>Complete</phaseType><phaseTypeChangeInd>78</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimTypeCd>930AC</bnftClaimTypeCd><claimCompleteDt>2022-09-21T09:51:20</claimCompleteDt><claimDt>2018-06-19</claimDt><claimStatus>CLR</claimStatus><claimStatusType>Appeal</claimStatusType><decisionNotificationSent>Yes</decisionNotificationSent><developmentLetterSent>No</developmentLetterSent><endPrdctTypeCd>930</endPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><poa>DISTRICT
        OF COLUMBIA, OFFICE OF VETERANS AFFAIRS</poa><programType>CPL</programType><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntVetId>600043201</ptcpntVetId><regionalOfficeJrsdctn>St.
        Petersburg</regionalOfficeJrsdctn><tempRegionalOfficeJrsdctn>Montgomery</tempRegionalOfficeJrsdctn><wsyswwn><addressLine1>Regional
        Office</addressLine1><addressLine2>PO Box 1437</addressLine2><addressLine3></addressLine3><city>St.
        Petersburg</city><state>FL</state><zip>33731</zip></wsyswwn></BenefitClaimDetailsDTO></ns0:findBenefitClaimDetailsByBnftClaimIdResponse></S:Body></S:Envelope>
  recorded_at: Thu, 31 Aug 2023 19:44:08 GMT
recorded_with: VCR 6.2.0
