---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EbenefitsBenefitClaimsStatus?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://claimstatus.services.ebenefits.vba.va.gov/" name="EBenefitsBnftClaimStatusWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://claimstatus.services.ebenefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/EBenefitsBnftClaimStatusWebServiceBean/EBenefitsBnftClaimStatusWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findBenefitClaimsStatusBySSN">
        <part name="parameters" element="tns:findBenefitClaimsStatusBySSN"/>
        </message>
        <message name="findBenefitClaimsStatusBySSNResponse">
        <part name="parameters" element="tns:findBenefitClaimsStatusBySSNResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findBenefitClaimDetailsByBnftClaimId">
        <part name="parameters" element="tns:findBenefitClaimDetailsB[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/EBenefitsBnftClaimStatusWebServiceBean/EbenefitsBenefitClaimsStatus
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://claimstatus.services.ebenefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.163</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>6351881340</vaws:ExternalUid>
            <vaws:ExternalKey>6351881340</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findBenefitClaimDetailsByBnftClaimId><bnftClaimId>600333346</bnftClaimId></tns:findBenefitClaimDetailsByBnftClaimId></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findBenefitClaimDetailsByBnftClaimId"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMi4yOQAA</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimDetailsByBnftClaimIdResponse
        xmlns:ns0="http://claimstatus.services.ebenefits.vba.va.gov/"><BenefitClaimDetailsDTO><attentionNeeded>No</attentionNeeded><baseEndPrdctTypeCd>020</baseEndPrdctTypeCd><benefitClaimId>600333346</benefitClaimId><bnftClaimLcStatus><maxEstClaimCompleteDt>2022-10-13</maxEstClaimCompleteDt><minEstClaimCompleteDt>2022-10-03</minEstClaimCompleteDt><phaseChngdDt>2022-09-26T11:43:04</phaseChngdDt><phaseType>Preparation
        for Decision</phaseType><phaseTypeChangeInd>45</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2022-09-29</maxEstClaimCompleteDt><minEstClaimCompleteDt>2022-09-27</minEstClaimCompleteDt><phaseChngdDt>2022-09-26T11:43:00</phaseChngdDt><phaseType>Review
        of Evidence</phaseType><phaseTypeChangeInd>34</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2023-02-28</maxEstClaimCompleteDt><minEstClaimCompleteDt>2023-01-10</minEstClaimCompleteDt><phaseChngdDt>2022-09-26T11:02:49</phaseChngdDt><phaseType>Gathering
        of Evidence</phaseType><phaseTypeChangeInd>23</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2022-10-08</maxEstClaimCompleteDt><minEstClaimCompleteDt>2022-09-30</minEstClaimCompleteDt><phaseChngdDt>2022-09-23T13:53:43</phaseChngdDt><phaseType>Under
        Review</phaseType><phaseTypeChangeInd>12</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimLcStatus><maxEstClaimCompleteDt>2022-09-26</maxEstClaimCompleteDt><minEstClaimCompleteDt>2022-09-24</minEstClaimCompleteDt><phaseChngdDt>2022-09-23T13:53:12</phaseChngdDt><phaseType>Claim
        Received</phaseType><phaseTypeChangeInd>N</phaseTypeChangeInd></bnftClaimLcStatus><bnftClaimTypeCd>020CLMINC</bnftClaimTypeCd><claimDt>2022-09-23</claimDt><claimStatus>RFD</claimStatus><claimStatusType>Compensation</claimStatusType><contentions>bilateral
        hearing loss (Increase), tinnitus (New)</contentions><decisionNotificationSent>No</decisionNotificationSent><developmentLetterSent>Yes</developmentLetterSent><endPrdctTypeCd>021</endPrdctTypeCd><filed5103WaiverInd>Y</filed5103WaiverInd><maxEstClaimCompleteDt>2022-10-31</maxEstClaimCompleteDt><minEstClaimCompleteDt>2022-10-11</minEstClaimCompleteDt><poa>AMERICAN
        LEGION</poa><programType>CPL</programType><ptcpntClmantId>600043201</ptcpntClmantId><ptcpntVetId>600043201</ptcpntVetId><regionalOfficeJrsdctn>National
        Work Queue</regionalOfficeJrsdctn><submtrApplcnTypeCd>VBMS</submtrApplcnTypeCd><submtrRoleTypeCd>VBA</submtrRoleTypeCd><tempRegionalOfficeJrsdctn></tempRegionalOfficeJrsdctn><wsyswwn><addressLine1>National
        Work Queue</addressLine1><addressLine2>810 Vermont Avenue NW</addressLine2><addressLine3></addressLine3><city>Washington</city><state>DC</state><zip>20420</zip></wsyswwn></BenefitClaimDetailsDTO></ns0:findBenefitClaimDetailsByBnftClaimIdResponse></S:Body></S:Envelope>
  recorded_at: Tue, 25 Oct 2022 01:52:03 GMT
recorded_with: VCR 6.1.0
