---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities?facilityIds%5B%5D=vha_358&facilityIds%5B%5D=vha_757
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcde
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '47'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '47'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"nca_042","type":"va_facilities","attributes":{"name":"Baxter
        Springs City Soldiers'' Lot","facilityType":"va_cemetery","classification":"Soldiers
        Lot","website":"https://www.cem.va.gov/cems/lots/BaxterSprings.asp","lat":37.03205750,"long":-94.77066050,"timeZone":"America/Chicago","address":{"mailing":{"zip":"66713","city":"Leavenworth","state":"KS","address1":"150
        Muncie Rd"},"physical":{"zip":"66713","city":"Baxter Springs","state":"KS","address1":"Baxter
        Springs City Cemetery"}},"phone":{"fax":"9137584136","main":"9137584105"},"hours":{"monday":"Sunrise
        - Sundown","tuesday":"Sunrise - Sundown","wednesday":"Sunrise - Sundown","thursday":"Sunrise
        - Sundown","friday":"Sunrise - Sundown","saturday":"Sunrise - Sundown","sunday":"Sunrise
        - Sundown"},"operatingStatus":{"code":"NORMAL"}}},{"id":"nca_054","type":"va_facilities","attributes":{"name":"Congressional
        Cemetery Government Lots","facilityType":"va_cemetery","classification":"Government
        Lots","website":"https://www.cem.va.gov/cems/lots/Congressional.asp","lat":38.88277970,"long":-76.97901110,"timeZone":"America/New_York","address":{"mailing":{"zip":"21228","city":"Baltimore","state":"MD","address1":"5501
        Frederick Avenue"},"physical":{"zip":"20003","city":"Washington","state":"D[...]
- request:
    method: get
    uri: 'https://sitewide-public-websites-income-limits-data.s3-us-gov-west-1.amazonaws.com/std_institution.csv'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      Apikey:
        - abcde
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
        - application/json
      X-Ratelimit-Remaining-Minute:
        - '47'
      X-Ratelimit-Limit-Minute:
        - '60'
 [...]
