# These are local environment settings that will get picked up as environment variables
# by the Figaro gem.
# Change to match your local settings and save the file as application.yml

HOSTNAME: www.example.com # This is used by json links, could be used elsewhere if we want
SAML_CERTIFICATE_FILE: ~/.certs/vetsgov-localhost.crt
SAML_KEY_FILE: ~/.certs/vetsgov-localhost.key
REDIS_HOST: localhost
REDIS_PORT: "6379"
MHV_HOST: 'https://mock-prescriptions-api.herokuapp.com'
MHV_APP_TOKEN: 'fake-app-token'
DB_ENCRYPTION_KEY: 'f01ff8ebd1a2b053ad697ae1f0d86adb48ebb708021e4c76c3807d37f6b4e389d5aa45ea171f2f5074222784c1ee2bb8272390d1b9517a7a6987c22733ef00b2'
MHV_SM_HOST: 'https://test.vets.gov'
MHV_SM_APP_TOKEN: 'fake-app-token'
EVSS_BASE_URL: 'https://test.vets.gov'
EVSS_S3_UPLOADS: 'false'
VHA_MAPSERVER_URL: 'https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_Facilities/FeatureServer/0'
NCA_MAPSERVER_URL: 'https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0'
VBA_MAPSERVER_URL: 'https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0'
MVI_URL: 'http://see.project.readme.for.instructions.org'
MVI_OPEN_TIMEOUT: '2'
MVI_TIMEOUT: '10'
MVI_CLIENT_CERT_PATH: '/fake/client/cert/path'
MVI_CLIENT_KEY_PATH: '/fake/client/key/path'
MVI_PROCESSING_CODE: 'T'
MOCK_MVI_SERVICE: 'true'
GOV_DELIVERY_SERVER: stage-tms.govdelivery.com

ES_URL: 'https://test.vets.gov'
ES_CLIENT_CERT_PATH: '/fake/client/cert/path'
ES_CLIENT_KEY_PATH: '/fake/client/key/path'

# For CORS requests; separate multiple origins with a comma
WEB_ORIGIN: 'http://localhost:3000,http://localhost:3001'
