# These are local environment settings that will get picked up as environment variables
# by the Figaro gem.
# Change to match your local settings and save the file as application.yml

CERTIFICATE_FILE: ~/.certs/vetsgov-localhost.crt
KEY_FILE: ~/.certs/vetsgov-localhost.key
REDIS_HOST: localhost
REDIS_PORT: 6379
