---
# Add a new feture toggle here to ensure that it is initialized in all environments.
#
# Features are enabled by default in the test environment and disabled by default in other environments.
# To default a feature to enabled in development, set the `enable_in_development` key to true.
#
# The description should contain any relevant information for an admin who may toggle the feature.
#
# The actor_type should be either `user` for features you want to be "sticky" for a logged in user (default)
#  or `cookie_id` of you wish to use the Google Analytics id as the unique identifier.
features:
  pre_entry_covid19_screener:
    actor_type: user
    description: >
      Toggle for the entire pre-entry covid 19 self-screener available at
      /covid19screener and to be used by visitors to VHA facilities in lieu
      of manual screening with a VHA employee.
      This toggle is owned by Patrick B. and the rest of the CTO Health Products
      team.
  ch33_dd:
    actor_type: user
    description: >
      Allows user to access chapter 33 benefits direct deposit view/update APIs
  covid_vaccine_registration:
    actor_type: user
    description: >
      Toggles availability of covid vaccine registration form frontend and API.
  covid_volunteer_delivery:
    actor_type: cookie_id
    description: >
      Toggles whether COVID Research volunteer submissions will be delivered to genISIS
  dashboard_show_dashboard_2:
    actor_type: user
    enable_in_development: true
    description: >
      Enables The New My VA Dashboard 2.0
  facility_locator_show_community_cares:
    actor_type: user
    enable_in_development: true
    description: >
      On https://www.va.gov/find-locations/ enable veterans to search for Community care by showing that option in the "Search for" box.
      This toggle is owned by Rian
  facility_locator_pull_operating_status_from_lighthouse:
    actor_type: user
    enable_in_development: true
    description: A fast and dirty way to get the operating status from lighthouse
  facility_locator_ppms_legacy_urgent_care_to_pos_locator:
    actor_type: user
    description: force the legacy urgent care path to use the new POS locator
  facility_locator_ppms_use_v1_client:
    actor_type: user
    description: Have the V1 API use the PPMS::V1::Client
  facility_locator_ppms_forced_unique_id:
    actor_type: user
    description: Use an hexdigest for the ID on PPMS Place of Service Calls
  facilities_ppms_suppress_pharmacies:
    actor_type: user
    description: Front End Flag to suppress the ability to search for pharmacies
  facility_locator_predictive_location_search:
    actor_type: user
    description: Use predictive location search in the Facility Locator UI
  facilities_ppms_suppress_community_care:
    actor_type: user
    description: Hide ppms community care searches
  profile_schema_forms:
    actor_type: user
    enable_in_development: true
    description: >
      Enables SchemaForm-based contact info edit forms on the VA.gov Veteran profile page
  profile_show_receive_text_notifications:
    actor_type: user
    enable_in_development: true
    description: >
      https://www.va.gov/profile/ show Receive Text Notifications
  va_online_scheduling:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to view their VA and Community Care appointments
  va_online_scheduling_cancel:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to cancel VA appointments
  va_online_scheduling_requests:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to submit requests for VA appointments
  va_online_scheduling_community_care:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to submit requests for Community Care appointments
  va_online_scheduling_direct:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to directly schedule VA appointments
  va_online_scheduling_past:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to see past appointments
  va_online_scheduling_vsp_appointment_list:
    actor_type: user
    description: >
      Enables the use of VSP for VA appointment data and cancellation on list page
  va_online_scheduling_vsp_appointment_new:
    actor_type: user
    description: >
      Enables the use of VSP for creating a new VA appointment
  va_online_scheduling_ccsp_appointment_list:
    actor_type: user
    description: >
      Enables the use of CCSP for Community Care appointment data on list page
  va_online_scheduling_ccsp_request_new:
    actor_type: user
    description: >
      Enables the use of CCSP for making a new Community Care appointment request
  va_online_scheduling_vsp_request_list:
    actor_type: user
    description: >
      Enables the use of VSP for request data and cancellation on list page
  va_online_scheduling_vsp_request_new:
    actor_type: user
    description: >
      Enables the use of VSP for making a new VA appointment request
  va_online_scheduling_express_care:
    actor_type: user
    enable_in_development: true
    description: >
      Enables Express Care redirect to legacy and Express Care tab
  va_online_scheduling_express_care_new:
    actor_type: user
    enable_in_development: true
    description: >
      Enables Express Care request flow in VAOS
  va_online_scheduling_flat_facility_page:
    actor_type: user
    enable_in_development: true
    description: >
      Enables the new VA facility choice page with a flat list
  va_online_scheduling_flat_facility_page_sacramento:
    actor_type: user
    enable_in_development: true
    description: >
      Enables the new VA facility choice page with a flat list for users registered to Sacramento (612)
  va_online_scheduling_provider_selection:
    actor_type: user
    description: >
      Enables the community care provider selection field
  va_global_downtime_notification:
    actor_type: user
    description: >
      Enables global downtime notification- do not use in production
  ssoe:
    actor_type: cookie_id
    enable_in_development: true
    description: >
      Enables ssoe, as opposed to saml authentication wrapped by id.me
  form526_original_claims:
    actor_type: user
    description: >
      Allows veterans to access form526 as an original claims user. Owned by va-benefits-memorial-1 team.
  form526_benefits_delivery_at_discharge:
    actor_type: user
    description: >
      Allows veterans to access the BDD flow in the 526 form. Owned by va-benefits-memorial-1 team.
  form526_confirmation_email:
    actor_type: user
    enable_in_development: true
    description: >
      Allows veterans to receive a confirmation email after submitting form526. Owned by va-notify team.
  form526_confirmation_email_show_copy:
    actor_type: user
    enable_in_development: true
    description: >
      Shows vets-website content to inform veterans to expect a form526 confirmation email. Owned by va-notify team.
  va_view_dependents_access:
    actor_type: user
    description: >
      Allows us to gate the View/ Modify dependents content in a progressive rollout
  ssoe_ebenefits_links:
    actor_type: user
    description: >
      Enable eBenefits links to be proxied through eauth.va.gov, this allows users with SSOe sessions to stay logged in.
  ssoe_inbound:
    actor_type: cookie_id
    enable_in_development: true
    description: >
      Enables automatic establishment/disconnection of vets-api session based on a user's SSOe session status
  allow_online_10_10cg_submissions:
    actor_type: cookie_id
    description: >
      Allows (unauthenticated) users to submit a 10-10CG through VA.gov. This feature is also known as a Caregivers Assistance Claim.
  gibct_eyb_bottom_sheet:
    actor_type: user
    description: >
      Panel that displays while the user is modifying inputs to give context to their currently estimated benefits until they reach the full your estimated benefits panel.
  form996_higher_level_review:
    actor_type: user
    description: >
      Allows veterans request a higher-level review of an existing claim. Owned by va-benefits-memorial-1 team.
  debt_letters_show_letters:
    actor_type: user
    description: >
      Enables debt letters
  show_edu_benefits_5495_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 5495 introduction page
  show_edu_benefits_1995_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 1995 introduction page
  show_edu_benefits_1990n_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 1990N introduction page
  show_edu_benefits_0994_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 0994 introduction page
  show_edu_benefits_5490_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 5490 introduction page
  show_edu_benefits_1990_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 1990 introduction page
  show_edu_benefits_1990e_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the 1990e introduction page
  get_help_ask_form:
    actor_type: user
    enable_in_development: true
    description: >
      Enables inquiry form for users to submit questions, suggestions, and complaints.
  show_healthcare_experience_questionnaire:
    actor_type: cookie_id
    enable_in_development: true
    description: >
      Enables showing the pre-appointment questionnaire feature.
  stem_sco_email:
    actor_type: user
    description: >
      Enable/disable SCO email per environment
  show526_wizard:
    actor_type: user
    description: >
      This determines when the wizard should show up on the form 526 intro page
  show_new_get_medical_records_page:
    actor_type: user
    description: >
      This will show the non-Cerner-user and Cerner-user content for the page /health-care/get-medical-records/
  show_new_refill_track_prescriptions_page:
    actor_type: user
    description: >
      This will show the non-Cerner-user and Cerner-user content for the page /health-care/refill-track-prescriptions/
  show_new_schedule_view_appointments_page:
    actor_type: user
    description: >
      This will show the non-Cerner-user and Cerner-user content for the page /health-care/schedule-view-va-appointments/
  show_new_secure_messaging_page:
    actor_type: user
    description: >
      This will show the non-Cerner-user and Cerner-user content for the page /health-care/secure-messaging/
  show_new_view_test_lab_results_page:
    actor_type: user
    description: >
      This will show the non-Cerner-user and Cerner-user content for the page /health-care/view-test-and-lab-results/
  cerner_override_668:
    actor_type: user
    description: >
      This will show the Cerner facility 668 as `isCerner`.
  cerner_override_757:
    actor_type: user
    description: >
      This will show the Cerner facility 757 as `isCerner`.
  gibct_benefit_filter_enhancement:
    actor_type: user
    description: >
      Comparison Tool Search Results Benefit UI Enhancements to improve usability
  gibct_school_ratings:
    actor_type: user
    description: >
      Show/Hide the school ratings section of the Comparison Tool School Profile Page.
  mobile_api:
    actor_type: user
    description: >
      API endpoints consumed by the VA Mobile App (iOS/Android)
  show_chapter_36:
    actor_type: user
    description: >
      This will toggle between an eBenefits link and a VA.gov link for the VR&E Chapter 36 form
  view_payment_history:
    actor_type: user
    description: >
      This will toggle between an ebenefits link and a link to View Payment History on VA.gov
  form_1995_edu_updates:
    actor_type: user
    enable_in_development: true
    description: >
      Form updates to bring EDU forms in compliance with latest DEPO patterns and practices
  request_locked_pdf_password:
    actor_type: user
    enable_in_development: true
    description: >
      Ask for a password when an encrypted PDF is detected before uploading
  education_reports_cleanup:
    actor_type: user
    enable_in_development: true
    description: >
      Updates to the daily education reports to remove old data that isn't needed in the new fiscal year
  search_typeahead_enabled:
    actor_type: user
    enable_in_development: true
    description: >
      Enables type ahead search functionality
