---
# Add a new feture toggle here to ensure that it is initialized in all environments.
# Features are defaulted to enabled in development and test environments and disabled in all others.
# The description should contain any relevant information for an admin who may toggle the feature.
#
# The actor_type should be either `user` for featires you want to be "sticky" for a logged in user (default)
#  or `cookie_id` of you wish to use the Google Analytics id as the unique identifier.

features:
  facility_locator_show_community_cares:
    actor_type: user
    description: >
      On https://www.va.gov/find-locations/ enable veterans to search for Community care by showing that option in the "Search for" box.
      This toggle is owned by Rian
  facilities_ppms_response_trim:
    actor_type: user
    description: >
      On https://www.va.gov/find-locations/ enables reformatting the PPMS results to have consistant whitespace
  facilities_ppms_caresite_name:
    actor_type: user
    description: >
      On https://www.va.gov/find-locations/ enables the ability to display the provider name based on the providers type
  facility_locator_dedup_community_care_services:
    actor_type: user
    description: >
      On https://www.va.gov/find-locations/ toggles the deduplication of of services from a community care provider
  profile_show_direct_deposit:
    actor_type: user
    description: >
      https://www.va.gov/profile/ show Direct Deposit
  profile_show_receive_text_notifications:
    actor_type: user
    description: >
      https://www.va.gov/profile/ show Receive Text Notifications
  va_online_scheduling:
    actor_type: user
    description: >
      Allows veterans to view their VA and Community Care appointments
  va_online_scheduling_cancel:
    actor_type: user
    description: >
      Allows veterans to cancel VA appointments
  va_online_scheduling_requests:
    actor_type: user
    description: >
      Allows veterans to submit requests for VA appointments
  va_online_scheduling_community_care:
    actor_type: user
    description: >
      Allows veterans to submit requests for Community Care appointments
  va_online_scheduling_direct:
    actor_type: user
    description: >
      Allows veterans to directly schedule VA appointments
  va_global_downtime_notification:
    actor_type: user
    description: >
      Enables global downtime notification- do not use in production
  va_profile_address_validation:
    actor_type: user
    description: >
      Enables calls to the VA Profile address validation service from the VA.gov Veteran profile page
  ssoe:
    actor_type: cookie_id
    description: >
      Enables ssoe, as opposed to saml authentication wrapped by id.me
