# these are local environment settings that will get picked up as environment variables
# change to match your settings and save the file as local_env.yml

CERTIFICATE_FILE: '/Users/shauni/workspace/certs/shauni-server.crt'
KEY_FILE: '/Users/shauni/workspace/certs/shauni-server.key'
SAML_ISSUER: 'saml-rp.shauni.localhost'