development: &defaults
  redis:
    host: <%= Settings.redis.host %>
    port: <%= Settings.redis.port %>
  session_store:
    namespace: vets-api-session
    each_ttl: 3600
  rx_store:
    namespace: rx-service
    each_ttl: 1200
  sm_store:
    namespace: sm-service
    each_ttl: 1200
  user_b_store:
    namespace: users_b
    each_ttl: 3600
  user_identity_store:
    namespace: user_identities
    each_ttl: 3600
  mvi_profile_response:
    namespace: mvi-profile-response
    each_ttl: 86400
  emis_response:
    namespace: emis-response
    each_ttl: 86400
  saml_store:
    namespace: single-logout-request
    each_ttl: 43200
  facility_access_satisfaction:
    namespace: facility-access-satisfaction
    each_ttl: 2592000
  facility_access_wait_time:
    namespace: facility-access-wait-time
    each_ttl: 2592000
  pciu_address_dependencies:
    namespace: pciu-address-dependencies
    each_ttl: 604800
  vet360_contact_info_response:
    namespace: vet360-contact-info-response
    each_ttl: 60 # TODO: Verify that this is the best TTL
  vet360_reference_data_response:
    namespace: vet360-reference-data-response
    each_ttl: 86400
  intent_to_file_response:
    namespace: intent-to-file-response
    each_ttl: 86400

test:
  <<: *defaults

production:
  <<: *defaults
