development: &defaults
  redis:
    url: <%= Settings.redis.app_data.url %>
  sidekiq:
    url: <%= Settings.redis.sidekiq.url %>
  # DO NOT CHANGE BELOW TTL (We have agreement with MHV on this for SSO)
  session_store:
    namespace: vets-api-session
    each_ttl: 1800
  user_b_store:
    namespace: users_b
    each_ttl: 1800
  user_identity_store:
    namespace: user_identities
    each_ttl: 1800
  # DO NOT CHANGE ABOVE TTL
  statsd_roster:
    namespace: statsd-roster
    each_ttl: 604800
  openid_user_identity_store:
    namespace: openid_user_identities
    each_ttl: 1800
  openid_user_store:
    namespace: openid_users
    each_ttl: 1800
  rx_store:
    namespace: rx-service
    each_ttl: 1200
  gi_bill_feedback:
    namespace: gi_bill_feedback
    each_ttl: 86400
  gids_response:
    namespace: gids-response
    each_ttl: 900
  sm_store:
    namespace: sm-service
    each_ttl: 1200
  sm_store_mobile:
    namespace: sm-service-mobile
    each_ttl: 1200
  mdot:
    namespace: mdot
    each_ttl: 1800
  mpi_profile_response:
    namespace: mpi-profile-response
    each_ttl: 86400
    failure_ttl: 1800
  emis_response:
    namespace: emis-response
    each_ttl: 86400
  okta_response:
    namespace: okta-response
    each_ttl: 3600
  profile:
    namespace: profile
    each_ttl: 3600
  launch:
    namespace: launch
    each_ttl: 3600
  charon_response:
    namespace: charon-response
    each_ttl: 3600
  okta_response_app:
    namespace: okta-response
    each_ttl: 86400
  saml_store:
    namespace: single-logout-request
    each_ttl: 43200
  facility_access_satisfaction:
    namespace: facility-access-satisfaction
    each_ttl: 2592000
  facility_access_wait_time:
    namespace: facility-access-wait-time
    each_ttl: 2592000
  facility_dental_service:
    namespace: facility_dental_service
    each_ttl: 2592000
  facility_mental_health:
    namespace: facility_mental_health
    each_ttl: 2592000
  financial_status_report:
    namespace: financial_status_report
    each_ttl: 1800 # 30 minutes
  debt_store:
    namespace: debt
    each_ttl: 3600 # 1 hour
  pciu_address_dependencies:
    namespace: pciu-address-dependencies
    each_ttl: 604800
  va_profile_contact_info_response:
    namespace: va-profile-contact-info-response
    each_ttl: 3600 # 1 hour
  intent_to_file_response:
    namespace: intent-to-file-response
    each_ttl: 86400
  reference_data_response:
    namespace: reference-data-response
    each_ttl: 86400
  evss_claims_store:
    namespace: evss
    each_ttl: 3600
  evss_dependents_retrieve_response:
    namespace: evss-dependents-retrieve-response
    each_ttl: 86400
  external_service_statuses_response:
    namespace: external-service-statuses-response
    each_ttl: 60 # 1 minute
  va_mobile_session:
    namespace: va-mobile-session
    each_ttl: 855
  va_mobile_session_refresh_lock:
    namespace: va-mobile-session-refresh-lock
    each_ttl: 60
  saml_request_tracker:
    namespace: saml_request_tracker
    each_ttl: 3600 # 1 hour
  iam_session:
    namespace: iam-session
    each_ttl: 1800
  iam_user:
    namespace: iam-user
    each_ttl: 1800
  iam_user_identity:
    namespace: iam-user-identity
    each_ttl: 1800
  mobile_app_appointments_store:
    namespace: mobile-app-appointments-store
    each_ttl: 1800
  mobile_app_claims_store:
    namespace: mobile-app-claims-store
    each_ttl: 1800
  mobile_app_immunizations_store:
    namespace: mobile-app-immunizations-store
    each_ttl: 1800
  mobile_app_lighthouse_session_store:
    namespace: mobile-app-lighthouse-session-store
    each_ttl: 300
  secure_messaging_store:
    namespace: secure_messaging_store
    each_ttl: 1800
  old_email:
    namespace: old_email
    each_ttl: 604800
  bank_name:
    namespace: bank_name
    each_ttl: 2592000
  bgs_find_person_by_participant_id_response:
    namespace: bgs-find-person-by-participant-id-response
    each_ttl: 86400
    failure_ttl: 1800
  sign_in_code_container:
    namespace: sign_in_code_container
    each_ttl: 1800
  sign_in_state_code:
    namespace: sign_in_state_code
    each_ttl: 1800
  mock_credential_info:
    namespace: mock_credential_info
    each_ttl: 300
  mhv_identity_data:
    namespace: mhv_identity_data
    each_ttl: 5400
  inherited_proofing_audit:
    namespace: inherited_proofing_audit
    each_ttl: 10800
  transaction_notification:
    namespace: transaction_notification
    each_ttl: 2592000
  vanotify_confirmation_email_store:
    namespace: confirmation_email
    each_ttl: 600 # 10 minutes
test:
  <<: *defaults
  redis:
    inherit_socket: true

production:
  <<: *defaults
