development: &defaults
  redis:
    host: <%= Settings.redis.host %>
    port: <%= Settings.redis.port %>
  # DO NOT CHANGE BELOW TTL (We have agreement with MHV on this for SSO)
  session_store:
    namespace: vets-api-session
    each_ttl: 1800
  user_b_store:
    namespace: users_b
    each_ttl: 1800
  user_identity_store:
    namespace: user_identities
    each_ttl: 1800
  # DO NOT CHANGE ABOVE TTL
  statsd_roster:
    namespace: statsd-roster
    each_ttl: 604800
  openid_user_identity_store:
    namespace: openid_user_identities
    each_ttl: 1800
  openid_user_store:
    namespace: openid_users
    each_ttl: 1800
  rx_store:
    namespace: rx-service
    each_ttl: 1200
  gi_bill_feedback:
    namespace: gi_bill_feedback
    each_ttl: 86400
  gi_response:
    namespace: gi_bill_feedback
    each_ttl: 86400
  sm_store:
    namespace: sm-service
    each_ttl: 1200
  mvi_profile_response:
    namespace: mvi-profile-response
    each_ttl: 86400
    failure_ttl: 1800
  emis_response:
    namespace: emis-response
    each_ttl: 86400
  okta_response:
    namespace: okta-response
    each_ttl: 3600
  okta_response_app:
    namespace: okta-response
    each_ttl: 86400
  saml_store:
    namespace: single-logout-request
    each_ttl: 43200
  facility_access_satisfaction:
    namespace: facility-access-satisfaction
    each_ttl: 2592000
  facility_access_wait_time:
    namespace: facility-access-wait-time
    each_ttl: 2592000
  facility_dental_service:
    namespace: facility_dental_service
    each_ttl: 2592000
  facility_mental_health:
    namespace: facility_mental_health
    each_ttl: 2592000
  pciu_address_dependencies:
    namespace: pciu-address-dependencies
    each_ttl: 604800
  vet360_contact_info_response:
    namespace: vet360-contact-info-response
    each_ttl: 86400 # 1 day
  vet360_reference_data_response:
    namespace: vet360-reference-data-response
    each_ttl: 86400
  intent_to_file_response:
    namespace: intent-to-file-response
    each_ttl: 86400
  mhv_account_ineligible:
    namespace: mhv_account_ineligible
    each_ttl: 1296000
  evss_claims_store:
    namespace: evss
    each_ttl: 3600
  user_account_details:
    namespace: user-account-details
    each_ttl: 1296000 # 15 days
  evss_dependents_retrieve_response:
    namespace: evss-dependents-retrieve-response
    each_ttl: 86400
  external_service_statuses_response:
    namespace: external-service-statuses-response
    each_ttl: 60 # 1 minute
  va_mobile_session:
    namespace: va-mobile-session
    each_ttl: 855

test:
  <<: *defaults

production:
  <<: *defaults
