development: &defaults
  redis:
    host: <%= ENV["REDIS_HOST"] %>
    port: <%= ENV["REDIS_PORT"] %>
  session_store:
    namespace: vets-api-session
    each_ttl: 3600
  rx_store:
    namespace: rx-service
    each_ttl: 1200
  sm_store:
    namespace: sm-service
    each_ttl: 1200
  user_store:
    namespace: users
    each_ttl: 3600
  mvi_store:
    namespace: mvi-service
    each_ttl: 86400
  saml_store:
    namespace: single-logout-request
    each_ttl: 3600

test:
  <<: *defaults

production:
  <<: *defaults
