development: &defaults
  redis:
    url: <%= Settings.redis.app_data.url %>
  sidekiq:
    url: <%= Settings.redis.sidekiq.url %>
  # DO NOT CHANGE BELOW TTL (We have agreement with MHV on this for SSO)
  session_store:
    namespace: vets-api-session
    each_ttl: 1800
  user_b_store:
    namespace: users_b
    each_ttl: 1800
  representative_user_store:
    namespace: representative_users
    each_ttl: 1800
  user_identity_store:
    namespace: user_identities
    each_ttl: 1800
  # DO NOT CHANGE ABOVE TTL
  identifier_store:
    namespace: identifier_indexes
    each_ttl: 2592000
  user_profile_attributes:
    namespace: user-profile-attributes
    each_ttl: 86400
  statsd_roster:
    namespace: statsd-roster
    each_ttl: 604800
  rx_store:
    namespace: rx-service
    each_ttl: 1200
  rx_store_mobile:
    namespace: rx-service-mobile
    each_ttl: 1200
  chip:
    namespace: chip
    each_ttl: 870
  gi_bill_feedback:
    namespace: gi_bill_feedback
    each_ttl: 86400
  gids_response:
    namespace: gids-response
    each_ttl: 900
  lcpe_response:
    namespace: lcpe-response
    each_ttl: 1209600 # 2 weeks
  sm_store:
    namespace: sm-service
    each_ttl: 1200
  sm_store_mobile:
    namespace: sm-service-mobile
    each_ttl: 1200
  medical_records_store:
    namespace: mr-service
    each_ttl: 1200
  bb_internal_store:
    namespace: bb-internal-service
    each_ttl: 3600
  mhv_mr_fhir_session_lock:
    namespace: mhv-mr-fhir-session-lock
    each_ttl: 10
  mhv_session_lock:
    namespace: mhv-session-lock
    each_ttl: 10
  mhv_mr_bb_session_lock:
    namespace: mhv-mr-bb-session-lock
    each_ttl: 10
  aal_mr_store:
    namespace: aal-mr-service
    each_ttl: 3600
  mhv_aal_mr_session_lock:
    namespace: mhv-aal-mr-session-lock
    each_ttl: 10
  aal_rx_store:
    namespace: aal-rx-service
    each_ttl: 3600
  mhv_aal_rx_session_lock:
    namespace: mhv-aal-rx-session-lock
    each_ttl: 10
  aal_sm_store:
    namespace: aal-sm-service
    each_ttl: 3600
  mhv_aal_sm_session_lock:
    namespace: mhv-aal-sm-session-lock
    each_ttl: 10
  mdot:
    namespace: mdot
    each_ttl: 1800
  mpi_profile_response:
    namespace: mpi-profile-response
    each_ttl: 86400
    failure_ttl: 1800
  profile:
    namespace: profile
    each_ttl: 3600
  launch:
    namespace: launch
    each_ttl: 3600
  charon_response:
    namespace: charon-response
    each_ttl: 3600
  saml_store:
    namespace: single-logout-request
    each_ttl: 43200
  financial_status_report:
    namespace: financial_status_report
    each_ttl: 1800 # 30 minutes
  debt_store:
    namespace: debt
    each_ttl: 3600 # 1 hour
  pciu_address_dependencies:
    namespace: pciu-address-dependencies
    each_ttl: 604800
  va_profile_contact_info_response:
    namespace: va-profile-contact-info-response
    each_ttl: 3600 # 1 hour
  va_profile_v2_contact_info_response:
    namespace: va-profile-v2-contact-info-response
    each_ttl: 3600 # 1 hour
  reference_data_response:
    namespace: reference-data-response
    each_ttl: 86400
  evss_claims_store:
    namespace: evss
    each_ttl: 3600
  evss_dependents_retrieve_response:
    namespace: evss-dependents-retrieve-response
    each_ttl: 86400
  external_service_statuses_response:
    namespace: external-service-statuses-response
    each_ttl: 60 # 1 minute
  va_mobile_session:
    namespace: va-mobile-session
    each_ttl: 855
  va_mobile_session_refresh_lock:
    namespace: va-mobile-session-refresh-lock
    each_ttl: 60
  eps_access_token:
    namespace: eps-access-token
    each_ttl: 840 # 14 minutes
  ccra_access_token:
    namespace: ccra-access-token
    each_ttl: 840 # 14 minutes
  saml_request_tracker:
    namespace: saml_request_tracker
    each_ttl: 3600 # 1 hour
  iam_session:
    namespace: iam-session
    each_ttl: 1800
  iam_user:
    namespace: iam-user
    each_ttl: 1800
  iam_user_identity:
    namespace: iam-user-identity
    each_ttl: 1800
  lighthouse_ccg:
    namespace: lighthouse-ccg
    each_ttl: 300
  mobile_app_appointments_store:
    namespace: mobile-app-appointments-store
    each_ttl: 1800
  mobile_app_claims_store:
    namespace: mobile-app-claims-store
    each_ttl: 1800
  mobile_app_immunizations_store:
    namespace: mobile-app-immunizations-store
    each_ttl: 1800
  mobile_app_lighthouse_session_store:
    namespace: mobile-app-lighthouse-session-store
    each_ttl: 300
  secure_messaging_store:
    namespace: secure_messaging_store
    each_ttl: 1800
  old_email:
    namespace: old_email
    each_ttl: 604800
  bank_name:
    namespace: bank_name
    each_ttl: 2592000
  bgs_find_person_by_participant_id_response:
    namespace: bgs-find-person-by-participant-id-response
    each_ttl: 86400
    failure_ttl: 1800
  chatbot_code_container:
    namespace: chatbot_code_container
    each_ttl: 1800
  sign_in_code_container:
    namespace: sign_in_code_container
    each_ttl: 1800
  sign_in_state_code:
    namespace: sign_in_state_code
    each_ttl: 3600
  sign_in_terms_code_container:
    namespace: sign_in_terms_code_container
    each_ttl: 1800
  mock_credential_info:
    namespace: mock_credential_info
    each_ttl: 300
  mhv_identity_data:
    namespace: mhv_identity_data
    each_ttl: 5400
  transaction_notification:
    namespace: transaction_notification
    each_ttl: 2592000
  vanotify_confirmation_email_store:
    namespace: confirmation_email
    each_ttl: 600 # 10 minutes
  va_profile_veteran_status:
    namespace: va_profile_veteran_status
    each_ttl: 86400
  sidekiq_attr_package:
    namespace: sidekiq_attr_package
    each_ttl: 604800
  brd_response_store:
    namespace: brd_response_store
    each_ttl: 82800
  bgs_find_poas_response:
    namespace: bgs_find_poas_response
    each_ttl: 86400
  travel_pay_store:
    namespace: travel-pay-store
    each_ttl: 3300 # 55 minutes
test:
  <<: *defaults
  redis:
    inherit_socket: true
    url: <%= Settings.redis.app_data.url %>
  sidekiq:
    url: <%= Settings.redis.sidekiq.url %>

production:
  <<: *defaults
