development: &defaults
  redis:
    host: <%= ENV["REDIS_HOST"] %>
    port: <%= ENV["REDIS_PORT"] %>
  session_store:
    namespace: vets-api-session
    each_ttl: 3600
  user_store:
    namespace: mvi-data
    each_ttl: 86400


test:
  <<: *defaults

production:
  <<: *defaults
