hostname: 127.0.0.1:3000 # possible fallback for unsafe request.host
vsp_environment:

virtual_hosts: ["127.0.0.1", "localhost"] # Safe host names

# For CORS requests; separate multiple origins with a comma
web_origin: http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://127.0.0.1:3001,null
web_origin_regex: \Ahttps?:\/\/www\.va\.gov\z

# Settings for SAML authentication
saml:
  cert_path: config/certs/vetsgov-localhost.crt
  cert_new_path: config/certs/vetsgov-localhost_new.crt
  key_path: config/certs/vetsgov-localhost.key
  issuer: saml-rp.vetsgov.localhost
  callback_url: http://localhost:3000/auth/saml/callback
  metadata_url: https://api.idmelabs.com/saml/metadata/provider
  authn_requests_signed: false

# Settings for new SAML authentication with SSOe
saml_ssoe:
  idp_metadata_file: config/ssoe_idp_int_metadata_isam.xml
  cert_path: ~
  cert_new_path: ~
  key_path: ~
  issuer: https://ssoe-sp-localhost.va.gov
  callback_url: http://localhost:3000/v1/sessions/callback
  logout_url: https://int.eauth.va.gov/pkmslogout?filename=vagov-logout.html
  request_signing: false
  response_signing: false
  response_encryption: false

ssoe_eauth_cookie:
  name: vagov_saml_request_localhost
  domain: localhost
  secure: false

session_cookie:
  secure: false

# Generate key and iv with: openssl enc -nosalt -aes-256-cbc -k <passphrase> -P
sso:
  cookie_domain: localhost
  cookie_enabled: true
  cookie_iv: A3C0567C78BEC6DDE75E2FEB92DE11AA
  cookie_key: 095B564B0F29EF88A96F1A7584E17516B14F85C2B3AD431E63349AC5272BC86B
  cookie_name: vagov_session_dev
  cookie_secure: false
  cookie_signout_enabled: true

binaries:
  # you can specify a full path in settings.local.yml if necessary
  pdfinfo: pdfinfo
  pdftk: pdftk
  clamdscan: /usr/bin/clamdscan

db_encryption_key: f01ff8ebd1a2b053ad697ae1f0d86adb

database_url: postgis:///vets-api
test_database_url: postgis:///vets-api-test

relative_url_root: /

secret_key_base: 8af0fe1e378586520e4324694897eb269bd0fffa1c5be6cc3b4ffb9dbde095d0bef5c7fdab73cd05685d8fe1dd589287d78b38e4de7116fbe14461e414072677

dmc:
  client_id: "0be3d60e3983438199f192b6e723a6f0"
  client_secret: "secret"
  mock_debts: false
  mock_fsr: false
  url: "https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4465"

fsr:
  prefill: true

review_instance_slug: ~

sidekiq_admin_panel: false

salesforce-gibft:
  url: "https://va--rdtcddev.cs33.my.salesforce.com/"

salesforce-carma:
  mock: true
  url: "https://fake-carma.salesforce.com"
  consumer_key: 12345ABC.QQ_1234BBfake
  signing_key_path: "spec/fixtures/carma/privatekey.pem" # A dummy private key used for test suite
  username: fake-user@va.gov.carmafake

salesforce:
  env: dev

# Settings for Education Benefits
edu:
  prefill: true
  sftp:
    host: ~
    pass: ~
    user: ~
    port: ~

dependents:
  prefill: true

pension_burial:
  prefill: true
  sftp:
    relative_path: "../VETSGOV_PENSION"

central_mail:
  upload:
    enabled: true
    host: "icmhs-api-test.csrarad.com"
    token: "<PENSIONS_TOKEN>"

# Settings for BIP Services
bip:
  claims:
    url: "https://claims-uat.dev8.bip.va.gov"

# Settings for Vet360
vet360:
  url: "https://int.vet360.va.gov"
  contact_information:
    cache_enabled: false
    enabled: true
    timeout: 30
    mock: false
  address_validation:
    hostname: "sandbox-api.va.gov"
    api_key: "<AV_KEY>"

# Settings for IHub
ihub:
  url: "https://qacrmdac.np.crm.vrm.vba.va.gov"
  appointments:
    timeout: 30
    mock: true
  in_production: false

# Settings for Medical Devices Ordering Tool
mdot:
  prefill: true
  url: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4466
  api_key: abcd1234abcd1234abcd1234abcd1234abcd1234
  mock: false
  enabled: false

# Settings for Decision Reviews
decision_review:
  prefill: true
  url: https://sandbox-api.va.gov/services/appeals/v1/decision_reviews
  api_key: abcd1234abcd1234abcd1234abcd1234abcd1234
  mock: false

# Settings for modules/appeals_api
modules_appeals_api:
  higher_level_review_updater_enabled: true
  schema_dir: config/schemas

vre_counseling:
  prefill: true

vre_readiness:
  prefill: true

# Settings for EVSS
evss:
  prefill: true
  url: https://csraciapp6.evss.srarad.com
  service_name: "wss-form526-services-web"
  alternate_service_name: "wss-form526-services-web-v2"
  cert_path: ~
  key_path: ~
  root_cert_path: ~
  versions:
    claims: 3.6
    common: 11.6
    documents: 3.7
  s3:
    uploads_enabled: false
    aws_access_key_id: EVSS_S3_AWS_ACCESS_KEY_ID_XYZ
    aws_secret_access_key: EVSS_S3_AWS_SECRET_ACCESS_KEY_XYZ
    bucket: evss_s3_bucket
    region: evss_s3_region
  disability_compensation_form:
    timeout: 55 # ~1 minute
    submit_timeout: 355 # ~6 minutes
  letters:
    url: https://csraciapp6.evss.srarad.com
    timeout: 55
  ppiu:
    timeout: 30
  pciu:
    timeout: 30
  pciu_address:
    timeout: 30
  mock_claims: false
  mock_common_service: true
  mock_disabilities_form: true
  mock_gi_bill_status: false
  mock_itf: true
  mock_letters: false
  mock_pciu: true
  mock_pciu_address: false
  mock_ppiu: true
  mock_reference: true
  mock_vso_search: false
  aws:
    url: http://fake.evss-reference-data-service.dev/v1
    cert_path: ~
    key_path: ~
    root_ca: ~
  reference_data_service:
    enabled: false
  international_postal_codes: "config/evss/international_postal_codes.json"

# Settings for GI Bill Data Service
gids:
  url: https://dev.va.gov/gids
  open_timeout: 1
  read_timeout: 1

mvi_hca:
  url: http://example.com

# Settings for Healthcare Application
# This CA chain is nonsense but allows local development to work with pre-prod environment.
hca:
  prefill: true
  endpoint: https://test-foo.vets.gov
  timeout: 30
  ee:
    endpoint: "http://example.com"
    user: "HCASvcUsr"
    pass: "password"

# Settings for the facility locator
locators:
  vha: https://gis.va.gov/server/rest/services/VA/FacilitySitePoint_VHA/FeatureServer/0/
  nca: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/NCA_Facilities/FeatureServer/0
  vba: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VBA_Facilities/FeatureServer/0
  vc: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/VHA_VetCenters/FeatureServer/0
  vha_access_satisfaction: https://www.accesstopwt.va.gov/
  vha_access_waittime: https://www.accesstocare.va.gov/
  base_path: https://services3.arcgis.com/aqgBd3l68G8hEFFE/ArcGIS/rest/services/
  gis_base_path: https://gis.va.gov/server/rest/services/VA
  drive_time_band_base_path: https://vhanflwebgistst.v08.med.va.gov
  providers_enabled: false
  mock_gis: false

ppms:
  url: https://some.fakesite.com
  open_timeout: 15
  read_timeout: 55

# Settings for MyHealthEVet
mhv:
  # include ranges first, then individual exceptions to the ranges last.
  facility_range: [[358, 718], [720, 740], [742, 758]]
  facility_specific: [["741MM"]] # 741 is excluded, but 741MM is included
  rx:
    host: https://mhv-api.example.com
    app_token: fake-app-token
    collection_caching_enabled: false
    mock: true
  sm:
    host: https://mhv-api.example.com
    app_token: fake-app-token
    mock: true
  bb:
    mock: true
    collection_caching_enabled: true
  account:
    mock: false

# Settings for Master Veteran Index
mvi:
  url: http://ps-dev.commserv.healthevet.va.gov:8110/psim_webservice/IdMWebService
  open_timeout: 15
  timeout: 30
  mock: false
  processing_code: T
  client_cert_path: /fake/client/cert/path
  client_key_path: /fake/client/key/path
  pii_logging: false
  vba_orchestration: false
  edipi_search: false

# Settings for eMIS
# The certs used here can be obtained from the DevOps team. A different set is required for
# each environment when connecting to the service.
emis:
  mock: true
  host: https://vaausvrsapp81.aac.va.gov
  veteran_status_url: /VIERSService/eMIS/v1/VeteranStatusService
  payment_url:
    v1: /VIERSService/eMIS/v1/PaymentService
    v2: /VIERSService/eMIS/v2/PaymentService
  military_information_url:
    v1: /VIERSService/eMIS/v1/MilitaryInformationService
    v2: /VIERSService/eMIS/v2/MilitaryInformationService
  client_cert_path: /fake/client/cert/path
  client_key_path: /fake/client/key/path
  soap_namespaces:
    xmlns:xsd: http://www.w3.org/2001/XMLSchema
    xmlns:xsi: http://www.w3.org/2001/XMLSchema-instance
    xmlns:soap: http://www.w3.org/2003/05/soap-envelope
    xmlns:v1: http://viers.va.gov/cdi/CDI/commonService/v1
    xmlns:v12: http://viers.va.gov/cdi/eMIS/RequestResponse/v1
    xmlns:v13: http://viers.va.gov/cdi/eMIS/commonService/v1
  military_information:
    v1:
      soap_namespaces:
        xmlns:v11: http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1
    v2:
      soap_namespaces:
        xmlns:v1: http://viers.va.gov/cdi/CDI/commonService/v2
        xmlns:v12: http://viers.va.gov/cdi/eMIS/RequestResponse/v2
        xmlns:v13: http://viers.va.gov/cdi/eMIS/commonService/v2
        xmlns:v11: http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v2
  payment:
    v1:
      soap_namespaces:
        xmlns:v11: http://viers.va.gov/cdi/eMIS/RequestResponse/Payment/v1
    v2:
      soap_namespaces:
        xmlns:v1: http://viers.va.gov/cdi/CDI/commonService/v2
        xmlns:v12: http://viers.va.gov/cdi/eMIS/RequestResponse/v2
        xmlns:v13: http://viers.va.gov/cdi/eMIS/commonService/v2
        xmlns:v11: http://viers.va.gov/cdi/eMIS/RequestResponse/Payment/v2
  veteran_status:
    soap_namespaces:
      xmlns:v11: http://viers.va.gov/cdi/eMIS/RequestResponse/VetStatus/v1

caseflow:
  mock: true
  app_token: PUBLICDEMO123
  host: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com
  timeout: 40

vic:
  url: https://some.fakesite.com
  signing_key_path: /fake/signing/key/path
  prefill: true
  s3:
    aws_access_key_id: "aws_access_key_id"
    aws_secret_access_key: "aws_secret_access_key"
    region: "region"
    bucket: "bucket"

# Settings for (preneeds) burials.
preneeds:
  host: http://some.fakesite.com
  wsdl: "config/preneeds/wsdl/preneeds.wsdl"

# Settings for VBA Document upload service module
vba_documents:
  report_enabled: false
  location:
    prefix: http://some.fakesite.com/path
    replacement: http://another.fakesite.com/rewrittenpath
  s3:
    enabled: false
    aws_access_key_id: "aws_access_key_id"
    aws_secret_access_key: "aws_secret_access_key"
    region: "region"
    bucket: "bucket"
  sns:
    topic_arns:
      - vetsgov-arn
      - vagov-arn

#Settings for Claims Api Module
claims_api:
  report_enabled: false
  s3:
    enabled: false
    aws_access_key_id: ~
    aws_secret_access_key: ~
    region: ~
    bucket: ~
  disability_claims_mock_override: false
  schema_dir: config/schemas

redis:
  host: localhost
  port: 6379
  app_data:
    url: redis://localhost:6379
    # secondary_url: redis://localhost:6378
  sidekiq:
    url: redis://localhost:6379

# Settings for GovDelivery (email delivery)
govdelivery:
  staging_service: true
  server: stage-tms.govdelivery.com
  token: ~

# Settings for Education Benefits report uploading
reports:
  send_email: true
  aws:
    access_key_id: ~
    bucket: ~
    region: ~
    secret_access_key: ~

oidc:
  auth_server_metadata_url: ~
  issuer: ~
  issuer_prefix: ~
  audience: ~
  isolated_audience:
    default: ~
    veteran_verification: ~
    claims: ~
  base_api_url: https://example.com
  base_api_token: ~
  smart_launch_url: ~

sentry:
  dsn: ~

iam_ssoe:
  client_cert_path: ~
  client_key_path: ~
  client_id: "Mobile_App_API_Server_LOWERS"
  # oauth (rest) and sts (soap) services are on different hosts
  oauth_url: "https://int.fed.eauth.va.gov:444"
  sts_url: "https://preprod.services.eauth.va.gov:9301"

statsd:
  host: ~
  port: ~

shrine:
  claims:
    type: local
    path: claims

# Settings for maintenance window API
# Services should be a map from logical service name to PagerDuty service id
maintenance:
  pagerduty_api_url: https://api.pagerduty.com
  pagerduty_api_token: FAKE
  services:
    carma: P6XLE0T
    appeals: P9S4RFU
    arcgis: P45YBFA
    dslogon: P9DJJAV
    emis: P0HNT0I
    es: PH7OPR4
    evss: PZKWB6Y
    global: PLPSIB0
    idme: PVWB4R8
    mvi: PCIPVGJ
    mhv: PP2ZZ2V
    search: PRG8HJI
    tims: PUL8OQ4
    vet360: PHVOGQ1
    vic: P7LW3MS
  aws:
    access_key_id: ~
    bucket: ~
    region: ~
    secret_access_key: ~

# Note: in addition to enabling / disabling betamocks here, you _must_ also
# change the 'mock' bool for each service you want to mock in this settings file
betamocks:
  enabled: true
  recording: false
  cache_dir: /cache
  services_config: config/betamocks/services_config.yml

# Settings for search
search:
  access_key: SEARCH_GOV_ACCESS_KEY
  affiliate: va
  mock_search: true
  url: https://search.usa.gov/api/v2

flipper:
  admin_user_emails:
    - adewitt@thoughtworks.com
    - alastair@adhocteam.us
    - anna@adhoc.team
    - bconley@governmentcio.com
    - bill.ryan@adhocteam.us
    - cory.trimm@va.gov
    - dan.hinze@adhocteam.us
    - delli-gatti_michael@bah.com
    - devinmccurdy@gmail.com
    - eric.buckley@adhocteam.us
    - erik@adhocteam.us
    - filip.fafara@gmail.com
    - grodriguez@governmentcio.com
    - hshin@thoughtworks.com
    - hughes_dustin@bah.com
    - jacob.gacek@thoughtworks.com
    - jbalboni@gmail.com
    - jeff@adhocteam.us
    - jennie.mcgibney@va.gov
    - jesse.cohn@adhocteam.us
    - jlinn@governmentcio.com
    - kabrown@thoughtworks.com
    - kadams@governmentcio.com
    - kam@adhocteam.us
    - keifer@oddball.io
    - kenneth.gary@va.gov
    - kenneth.santiago2010@gmail.com
    - kmircovich@governmentcio.com
    - lauren.alexanderson@va.gov
    - lihan@adhocteam.us
    - lindsey.hattamer@oddball.io
    - lsanchez@governmentcio.com
    - ltran@thoughtworks.com
    - marisa.hoenig@thoughtworks.com
    - mark.greenburg@adhocteam.us
    - mdewey@governmentcio.com
    - micah@adhocteam.us
    - michael.fleet@oddball.io
    - mnunemak@thoughtworks.com
    - n.ratana@gmail.com
    - narin@adhocteam.us
    - nick.sullivan@adhocteam.us
    - patrick.bateman@va.gov
    - patrick@adhocteam.us
    - paul.phillips@thoughtworks.com
    - pherbert@thoughtworks.com
    - philip.becker@oddball.io
    - regarr@gmail.com # Robin Garrison - AdHoc
    - rian.fowler@adhoc.team
    - rianfowler@outlook.com
    - roth_matthew@bah.com
    - ryan.thurlwell@va.gov
    - saman.moshafi@thoughtworks.com
    - samara.strauss@va.gov
    - shallie@governmentcio.com
    - shawkey_daniel@bah.com
    - shefai.nayak@thoughtworks.com
    - sonntag_adam@bah.com
    - ssuddath@governmentcio.com
    - tony.williams@va.gov
    - travis.hilton@oddball.io
    - zurbergram@gmail.com
    - callen@governmentcio.com # Remove after Profile 2.0 UAT
    - matt.shea@adhocteam.us # Remove after Profile 2.0 UAT
    - tressa.furner@adhocteam.us # Remove after Profile 2.0 UAT
    - joeyn414@gmail.com # Joe Niquette Oddball VSP Identity Team Sr Security Engineer

bgs:
  application: ~
  client_station_id: ~
  client_username: ~
  env: ~
  mock_response_location: ~
  mock_responses: ~
  ssl_verify_mode: "peer"

va_mobile:
  url: "https://veteran.apps.va.gov"
  mock: false
  key_path: /fake/client/key/path
  timeout: 15

vetext:
  url: "https://something.fake.va.gov"
  mock: false
  token: fake_token
  timeout: 15

hqva_mobile:
  url: "https://veteran.apps.va.gov"
  mock: false
  key_path: /srv/vets-api/secret/health-quest.key
  development_key_path: modules/health_quest/config/rsa/sandbox_rsa
  timeout: 15

lighthouse:
  api_key: fake_key
  facilities:
    url: https://sandbox-api.va.gov
    api_key: fake_key

forms:
  url: https://sandbox-api.va.gov/services/va_forms/v0/
  mock: false

vbms:
  url: "https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4449"
  saml: "vetsapi.client.vbms.aide.oit.va.gov.saml-token.xml"
  ca_cert: VBMS-Client-Signing-CA.crt
  cert: vetsapi.client.vbms.aide.oit.va.gov.crt
  client_keyfile: vetsapi.client.vbms.aide.oit.va.gov.p12
  server_cert: vbms.aide.oit.va.gov.crt
  environment_directory: /srv/vets-api/secret
  env: test

vet_verification:
  key_path: modules/veteran_verification/spec/fixtures/verification_test.pem

github_stats:
  username: github-stats-rake
  token: fake_token

google_analytics:
  url: "https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4473"
  tracking_id: ~

# Settings for the coronavirus chatbot tokens
coronavirus_chatbot:
  app_secret: fake_secret
  directline_uri: northamerica.directline.botframework.com
  webchat_secret: fake_secret

# Settings for notifications client
vanotify:
  client_url: http://fakeapi.com
  api_key: fake_secret
  template_id:
    form526_confirmation_email: fake_template_id
  mock: false

# Settings to connect to the drupal forms graphql api
va_forms:
  drupal_username: ~
  drupal_password: ~
  drupal_url: http://internal-dsva-vagov-dev-cms-812329399.us-gov-west-1.elb.amazonaws.com

# Settings for connecting to genISIS, this is the storage system for the COVID Research initiative
genisis:
  base_url: https://vaausapprne60.aac.dva.va.gov
  service_path: /COVID19Service
  user: TestUser
  pass: bogus

veteran_readiness_and_employment:
  base_url: ~
  credentials: ~
  auth_endpoint: ~
