# Use `cron` or `at` option to specify that a job should run as scheduled once
# over all workers. The `every` option will run the job once per worker instance
# at the specified interval.

ExportBreakerStatus:
  every: '1m'
  description: "Send breaker status to statsd"

CreateDailySpoolFiles:
  cron: "0 3 * * MON-FRI America/New_York"
  class: EducationForm::CreateDailySpoolFiles
  description: "Generate a daily set of spool files and transmit them over SFTP to a backend system"

EducationForm::CreateDailyFiscalYearToDateReport:
  cron: "0 4 * * * America/New_York"
  description: "Send the daily report to VA stakeholders about Education Benefits submissions"

EducationForm::CreateSpoolSubmissionsReport:
  cron: "15 4 * * MON-FRI America/New_York"
  description: "Send the daily report to the call center about spool file submissions"

Preneeds::DeleteOldUploads:
  cron: "15 2 * * * America/New_York"
  description: "Clear out preneeds file uploads older than 2 months"

VIC::DeleteOldUploads:
  cron: "00 2 * * * America/New_York"
  description: "Clear out VIC file uploads older than 2 months"

CentralMail::DeleteOldClaims:
  cron: "30 2 * * * America/New_York"
  class: CentralMail::DeleteOldClaims
  description: "Clear out central mail claims older than 2 months"

DeleteOldApplications:
  cron: "0 0 * * * America/New_York"
  class: EducationForm::DeleteOldApplications
  description: "Clear out processed 22-1990 applications that are older than 1 month"

SidekiqStatsJob:
  cron: "* * * * *"
  description: "Update Sidekiq stats for export to statsd gauges"

DeleteOldClaims:
  cron: "0 2 * * * America/New_York"
  class: EVSS::DeleteOldClaims
  description: "Clear out EVSS disability claims that have not been updated in 24 hours"

InProgressFormCleaner:
  cron: "0 2 * * * America/New_York"
  class: InProgressFormCleaner
  description: "Clear out saved forms that have not been updated in a while"

FailedClaimsReport:
  cron: "30 3 * * MON America/New_York"
  class: EVSS::FailedClaimsReport
  description: "Notify developers about EVSS claims which could not be uploaded"

FacilityAccessBulkUpdate:
  cron: "30 4 * * * America/New_York"
  class: Facilities::AccessDataDownload
  description: "Download and cache facility access-to-care metric data"

FacilityLocationBulkUpdateNCA:
  cron: "35 4 * * * America/New_York"
  class: Facilities::FacilityLocationDownloadJob
  args: ['nca']
  description: "Download and store facility location data"

FacilityLocationBulkUpdateVBA:
  cron: "40 4 * * * America/New_York"
  class: Facilities::FacilityLocationDownloadJob
  args: ['vba']
  description: "Download and store facility location data"

FacilityLocationBulkUpdateVC:
  cron: "45 4 * * * America/New_York"
  class: Facilities::FacilityLocationDownloadJob
  args: ['vc']
  description: "Download and store facility location data"

FacilityLocationBulkUpdateVHA:
  cron: "50 4 * * * America/New_York"
  class: Facilities::FacilityLocationDownloadJob
  args: ['vha']
  description: "Download and store facility location data"

MaintenanceWindowRefresh:
  cron: "*/5 * * * * America/New_York"
  class: PagerDuty::PollMaintenanceWindows
  description: "Poll PagerDuty API for maintenance window information"

VBADocuments::UploadScanner:
  cron: "0,30 * * * * * America/New_York"
  class: VBADocuments::UploadScanner
  description: "Poll upload bucket for unprocessed uploads"

VBADocuments::UploadRemover:
  cron: "15,45 * * * * * America/New_York"
  class: VBADocuments::UploadRemover
  description: "Clean up submitted documents from S3"

HCASubmissionFailureEmailAnalytics:
  cron: "0 1 * * * America/New_York"
  class: HCASubmissionFailureEmailAnalyticsJob
  description: "posts HCA Submission Failure email sends and failures to Google Analytics"