---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/12340V123456/appointments?end=2023-12-12T00:00:00Z&start=2023-11-10T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.23.0
      B3:
      - e02d6f201bb723b1-bf1c05721cd79d8c-0
      X-Vamf-Build:
      - 8118a26
      X-Vamf-Timestamp:
      - '2020-11-24T14:50:36+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "id": "180766",
              "identifier": [
                {
                  "system": "Appointment/",
                  "value": "413938333130383736"
                },
                {
                  "system": "http://www.va.gov/Terminology/VistADefinedTerms/409_84",
                  "value": "983:10876"
                }
              ],
              "kind": "clinic",
              "status": "booked",
              "serviceType": "amputation",
              "serviceTypes": [
                {
                  "coding": [
                    {
                      "system": "http://veteran.apps.va.gov/terminologies/fhir/CodeSystem/vats-service-type",
                      "code": "amputation"
                    }
                  ]
                }
              ],
              "serviceCategory": [
                {
                  "coding": [
                    {
                      "system": "http://www.va.gov/Terminology/VistADefinedTerms/409_1",
                      "code": "REGULAR",
                      "display": "REGULAR"
                    }
                  ],
                  "text": "REGULAR"
                }
              ],
              "patientIcn": "1013125218V696863",
              "locationId": "534",
              "clinic": "1081",
              "start": "2023-11-13T16:00:00Z",
              "end": "2023-11-13T16:30:00Z",
              "minutesDuration": 30,
              "slot": {
                "id": "3230323331313133313630303A323032333131313331363330",
                "start": "2023-11-13T16:00:00Z",
                "end": "2023-11-13T16:30:00Z"
              },
              "created": "2023-08-02T00:00:00Z",
              "cancellable": true,
              "extension": {
                "ccLocation": {
                  "address": {}
                },
                "vistaStatus": [
                  "NO ACTION TAKEN"
                ],
                "preCheckinAllowed": true,
                "eCheckinAllowed": true,
                "clinic": {}
              }
            },
            {
              "id": "180770",
              "identifier": [
                {
                  "system": "Appointment/",
                  "value": "413938333130383830"
                },
                {
                  "system": "http://www.va.gov/Terminology/VistADefinedTerms/409_84",
                  "value": "983:10880"
                }
              ],
              "kind": "clinic",
              "statu[...]
