---
http_interactions:
- request:
    method: get
    uri: <LIGHTHOUSE_BASE_URL>/services/va_forms/v0/forms?query=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - fake_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38ed3a14cc0f15614cffb8d6dd31070a"
      X-Git-Sha:
      - eb535c6d95076e05329b90864ddb943e860a71c1
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"10-0137","type":"va_form","attributes":{"form_name":"10-0137","url":"https://www.va.gov/vaforms/medical/pdf/vha-10-0137-fill.pdf","title":"VA
        Advance Directive:  Durable Power of Attorney for Health Care and Living Will","first_issued_on":"2020-06-05","last_revision_on":"2020-06-05","pages":7,"sha256":"9667f6b56ee954409251a9abb3653c9833467fd4c9701d2a888877ca353840af"}},{"id":"10-5345a-MHV","type":"va_form","attributes":{"form_name":"10-5345a-MHV","url":"https://www.va.gov/vaforms/medical/pdf/vha-10-5345a-MHV-fill.pdf","title":"Individual''s
        Rqst  for Med Record from MyHealtheVet - fillable","first_issued_on":"2020-12-11","last_revision_on":"2020-12-11","pages":2,"sha256":"abfd87d4abb6835ba1dbc71a3bb97228cab80eec0e2be0d471b4415a682f86f1"}},{"id":"10-10163","type":"va_form","attributes"[...]
