<table class="counts">
  <thead>
    <tr>
      <th>consumer</th>
      <% ClaimsApi::IntentToFile::ALL_STATUSES.each do |status| %>
        <th><%= status %></th>
      <% end %>
      <th>totals</th>
    </tr>
  </thead>
  <tbody>
    <% itf_consumers.each do |consumer| %>
      <tr>
        <td class="left-align"><%= consumer.keys.first %></td>
        <% ClaimsApi::IntentToFile::ALL_STATUSES.map(&:to_sym).each do |status| %>
          <td class="right-align"><%= consumer.values.first[status] || 0 %></td>
        <% end %>
        <td class="right-align"><%= consumer.values.first[:totals] || 0 %></td>
      </tr>
    <% end if itf_consumers %>
  </tbody>
</table>
