<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>GUID</th>
    </tr>
  </thead>
  <tbody>
    <% claims&.each do |claim| %>
      <tr>
        <td><%= claim[:created_at] %></td>
        <td><%= claim[:id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
