<table>
  <thead>
    <tr>
      <th>Transaction Group</th>
      <th>GUID</th>
    </tr>
  </thead>
  <tbody>
    <% claims&.each_with_index do |grps, idx| %>
          <tr>
            <td><%= grps[0] %></td><td><%= grps[1].pluck(:id) %></td>
          </tr>
    <% end %>
  </tbody>
</table>
