<table>
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>GUID</th>
    </tr>
  </thead>
  <tbody>
    <% claims&.each_with_index do |grp, idx| %>
      <tr>
        <td><%= grp[1] %>
        <td><%= grp[0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
