<table>
  <thead>
    <tr>
      <th>Transaction Group</th>
      <th>GUID</th>
    </tr>
  </thead>
  <tbody>
    <% claims&.each_with_index do |grps, idx| %>
      <% grps[1]&.each do |arr| %>
          <tr>
            <td><%= grps[0] %></td><td><%= arr[:id] %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
