---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1000123456V123456/appointments?endDate=08/22/2020&startDate=08/20/2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.9.0
      X-Vamf-Build:
      - b4a9910
      X-Vamf-Timestamp:
      - '2019-07-08T16:09:14+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "lastAccessDate": "10/08/2019 12:18:19",
          "selfUri": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
          "selfLink": {
            "rel": "self",
            "href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
            "objectType": "AtomLink"
          },
          "empty": false,
          "appointmentRequests": [
            {
              "dataIdentifier": {
                "uniqueId": "8a48912a6cab0202016cba350cd10054",
                "systemId": "var"
              },
              "patientIdentifier": {
                "uniqueId": "1012845943V900681",
                "assigningAuthority": "ICN"
              },
              "surrogateIdentifier": {
              },
              "lastUpdatedDate": "08/28/2019 09:17:40",
              "optionDate1": "08/22/2019",
              "optionTime1": "PM",
              "optionDate2": "No Date Selected",
              "optionTime2": "No Time Selected",
              "optionDate3": "No Date Selected",
              "optionTime3": "No Time Selected",
              "status": "Cancelled",
              "appointmentType": "Express Care",
              "visitType": "Express Care",
              "facility": {
                "name": "CHYSHR-CHEYENNE VAMC",
                "type": "M&ROC",
                "facilityCode": "983",
                "state": "WY",
                "city": "CHEYENNE",
                "address": "2360 EAST PERSHING BLVD",
                "parentSiteCode": "983",
                "objectType": "Facility",
                "link": [

                ]
              },
              "email": "vilasini.reddy@va.gov",
              "textMessagingAllowed": false,
              "phoneNumber": "(666) 666-6666",
              "purposeOfVisit": "Express Care Request",
              "providerId": "0",
              "secondRequest": false,
              "secondRequestSubmitted": false,
              "patient": {
                "displayName": "MORGAN, CECIL",
                "firstName": "CECIL",
                "lastName": "MORGAN",
                "dateOfBirth": "May 31, 2001",
                "patientIdentifier": {
                  "uniqueId": "1249652616"
                },
                "ssn": "796106146",
                "inpatient": false,
                "textMessagingAllowed": false,
                "id": "1249652616",
                "objectType": "Patient",
                "link": [

                ]
              },
              "bestTimetoCall": [
                "Morning"
              ],
              "appointmentRequestDetailCode": [
                {
                  "appointmentRequestDetailCodeId": "8a48e8b56cd0144c016cd8cdc8c00192",
                  "createdDate": "08/28/2019 09:17:40",
                  "detailCode": {
                    "code": "DETCODE24",
                    "codeNumeric": 1,
                    "providerMessage": "Cancelled - Other",
                    "veteranMessage": "Your requested has been cancelled. Please contact the facility if you have questions regarding this request or scheduling a related appointment.",
                    "objectType": "VARDetailCode",
                    "link": [

                    ]
                  },
                  "userId": "1013004612",
                  "objectType": "VARAppointmentRequestDetailCode",
                  "link": [

                  ]
                }
              ],
              "hasVeteranNewMessage": true,
              "hasProviderNewMessage": false,
              "providerSeenAppointmentRequest": true,
              "requestedPhoneCall": false,
              "typeOfCareId": "CR1",
              "reasonForVisit": "Allergies",
              "friendlyLocationName": "CHYSHR-Cheyenne VA Medical Center",
              "ccAppointmentRequest": {
                  "dataIdentifier": {},
                  "patientIdentifier": {},
                  "surrogateIdentifier": {},
                  "hasVeteranNewMessage": false,
                  "preferredZipCode": "20171",
                  "preferredState": "VA",
                  "preferredCity": "her",
                  "preferredLanguage": "English",
                  "distanceWillingToTravel": 25,
                  "distanceEligible": false,
                  "officeHours": [
                      "Evenings"
                  ],
                  "preferredProviders": [{
                      "firstName": "Vilasini",
                      "lastName": "Reddy",
                      "practiceName": "Test clinic 2",
                      "address": {},
                      "preferredOrder": 0,
                      "objectType": "Provider",
                      "link": []
                  }],
                  "objectType": "CCAppointmentRequest",
                  "link": []
              },
              "patientId": "1249652616",
              "appointmentRequestId": "8a48912a6cab0202016cba350cd10054",
              "date": "2019-08-22T10:42:14.000+0000",
              "assigningAuthority": "ICN",
              "uniqueId": "8a48912a6cab0202016cba350cd10054",
              "systemId": "var",
              "selfUri": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
              "selfLink": {
                "rel": "self",
                "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
                "objectType": "AtomLink"
              },
              "objectType": "VARAppointmentRequest",
              "link": [
                {
                  "rel": "self",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-messages",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/messages",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-new-message-flag",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/messages/read",
                  "objectType": "AtomLink"
                },
                {
                  "rel": "related",
                  "title": "appointment-request-provider-seen-flag",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/appointment/provider-read",
                  "objectType": "AtomLink"
                }
              ],
              "createdDate": "08/22/2019 10:42:14"
            }
          ],
          "size": 1,
          "objectType": "VARAppointmentRequests",
          "link": [
            {
              "rel": "self",
              "href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
              "objectType": "AtomLink"
            }
          ]
        }
  recorded_at: Sat, 02 Nov 2019 00:41:56 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/users/v2/session?processRules=true
    body:
      encoding: US-ASCII
      string: stubbed_token
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Vamf-Version:
      - 2.11.2
      B3:
      - 6d801eb99a5e98c0-e72c4453244842c0-0
      X-Vamf-Build:
      - a0a73c0
      X-Vamf-Timestamp:
      - '2020-12-28T16:45:06+0000'
    body:
      encoding: UTF-8
      string: stubbed_token
  recorded_at: Tue, 19 Jan 2021 16:50:21 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1000123456V123456/appointments?endDate=08/22/2020&startDate=08/20/2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 4.26.0
      B3:
      - 48335227161d9b6f-9a6e1dad1dc54ef9-0
      X-Vamf-Build:
      - 88b1ba1
      X-Vamf-Timestamp:
      - '2020-12-22T15:53:51+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 403,
          "message" : "User is not authorized to access requested resource.",
          "traceId" : "48335227161d9b6f"
        }
  recorded_at: Tue, 19 Jan 2021 16:50:24 GMT
recorded_with: VCR 6.0.0
