---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1000123456V123456/appointments?endDate=08/22/2020&startDate=08/20/2019
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "lastAccessDate": "10/08/2019 12:18:19",
            "selfUri": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
            "selfLink": {
              "rel": "self",
              "href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
              "objectType": "AtomLink"
            },
            "empty": false,
            "appointmentRequests": [
              {
                "dataIdentifier": {
                  "uniqueId": "8a48912a6cab0202016cba350cd10054",
                  "systemId": "var"
                },
                "patientIdentifier": {
                  "uniqueId": "1012845943V900681",
                  "assigningAuthority": "ICN"
                },
                "surrogateIdentifier": {
                },
                "lastUpdatedDate": "08/28/2019 09:17:40",
                "optionDate1": "08/22/2019",
                "optionTime1": "PM",
                "optionDate2": "No Date Selected",
                "optionTime2": "No Time Selected",
                "optionDate3": "No Date Selected",
                "optionTime3": "No Time Selected",
                "status": "Cancelled",
                "appointmentType": "Express Care",
                "visitType": "Express Care",
                "facility": {
                  "name": "CHYSHR-CHEYENNE VAMC",
                  "type": "M&ROC",
                  "facilityCode": "983",
                  "state": "WY",
                  "city": "CHEYENNE",
                  "address": "2360 EAST PERSHING BLVD",
                  "parentSiteCode": "983",
                  "objectType": "Facility",
                  "link": [

                  ]
                },
                "email": "vilasini.reddy@va.gov",
                "textMessagingAllowed": false,
                "phoneNumber": "(666) 666-6666",
                "purposeOfVisit": "Express Care Request",
                "providerId": "0",
                "secondRequest": false,
                "secondRequestSubmitted": false,
                "patient": {
                  "displayName": "MORGAN, CECIL",
                  "firstName": "CECIL",
                  "lastName": "MORGAN",
                  "dateOfBirth": "May 31, 2001",
                  "patientIdentifier": {
                    "uniqueId": "1249652616"
                  },
                  "ssn": "796106146",
                  "inpatient": false,
                  "textMessagingAllowed": false,
                  "id": "1249652616",
                  "objectType": "Patient",
                  "link": [

                  ]
                },
                "bestTimetoCall": [
                  "Morning"
                ],
                "appointmentRequestDetailCode": [
                  {
                    "appointmentRequestDetailCodeId": "8a48e8b56cd0144c016cd8cdc8c00192",
                    "createdDate": "08/28/2019 09:17:40",
                    "detailCode": {
                      "code": "DETCODE24",
                      "providerMessage": "Cancelled - Other",
                      "veteranMessage": "Your requested has been cancelled. Please contact the facility if you have questions regarding this request or scheduling a related appointment.",
                      "objectType": "VARDetailCode",
                      "link": [

                      ]
                    },
                    "userId": "1013004612",
                    "objectType": "VARAppointmentRequestDetailCode",
                    "link": [

                    ]
                  }
                ],
                "hasVeteranNewMessage": true,
                "hasProviderNewMessage": false,
                "providerSeenAppointmentRequest": true,
                "requestedPhoneCall": false,
                "typeOfCareId": "CR1",
                "reasonForVisit": "Allergies",
                "friendlyLocationName": "CHYSHR-Cheyenne VA Medical Center",
                "patientId": "1249652616",
                "appointmentRequestId": "8a48912a6cab0202016cba350cd10054",
                "date": "2019-08-22T10:42:14.000+0000",
                "assigningAuthority": "ICN",
                "uniqueId": "8a48912a6cab0202016cba350cd10054",
                "systemId": "var",
                "selfUri": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
                "selfLink": {
                  "rel": "self",
                  "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
                  "objectType": "AtomLink"
                },
                "objectType": "VARAppointmentRequest",
                "link": [
                  {
                    "rel": "self",
                    "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6cab0202016cba350cd10054",
                    "objectType": "AtomLink"
                  },
                  {
                    "rel": "related",
                    "title": "appointment-request-messages",
                    "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/messages",
                    "objectType": "AtomLink"
                  },
                  {
                    "rel": "related",
                    "title": "appointment-request-new-message-flag",
                    "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/messages/read",
                    "objectType": "AtomLink"
                  },
                  {
                    "rel": "related",
                    "title": "appointment-request-provider-seen-flag",
                    "href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6cab0202016cba350cd10054/appointment/provider-read",
                    "objectType": "AtomLink"
                  }
                ],
                "createdDate": "08/22/2019 10:42:14"
              }
            ],
            "size": 1,
            "objectType": "VARAppointmentRequests",
            "link": [
              {
                "rel": "self",
                "href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
                "objectType": "AtomLink"
              }
            ]
          }
    recorded_at: Fri, 02 Nov 2019 00:41:56 GMT
recorded_with: VCR 3.0.3
