---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1000123456V123456/appointments
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
          	"lastAccessDate": "10/08/2019 12:18:19",
          	"selfUri": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
          	"selfLink": {
          		"rel": "self",
          		"href": "https://var-resources-v4.sqa.svc.cluster.local/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments",
          		"objectType": "AtomLink"
          	},
          	"empty": false,
          	"appointmentRequests": [{
          			"dataIdentifier": {
          				"uniqueId": "8a48912a6d02b0fc016d639023da00a8",
          				"systemId": "var"
          			},
          			"patientIdentifier": {
          				"uniqueId": "1012845943V900681",
          				"assigningAuthority": "ICN"
          			},
          			"surrogateIdentifier": {},
          			"lastUpdatedDate": "09/24/2019 10:52:23",
          			"appointmentDate": "09/30/2019",
          			"appointmentTime": "AM",
          			"optionDate1": "09/30/2019",
          			"optionTime1": "AM",
          			"optionDate2": "No Date Selected",
          			"optionTime2": "No Time Selected",
          			"optionDate3": "No Date Selected",
          			"optionTime3": "No Time Selected",
          			"status": "Booked",
          			"appointmentType": "Audiology",
          			"visitType": "Office Visit",
          			"facility": {
          				"name": "CHYSHR-Fort Collins VA Clinic",
          				"facilityCode": "983GC",
          				"state": "CO",
          				"city": "Fort Collins",
          				"parentSiteCode": "983",
          				"objectType": "Facility",
          				"link": [

          				]
          			},
          			"email": "Vilasini.reddy@va.gov",
          			"textMessagingAllowed": false,
          			"phoneNumber": "(333) 333-3333",
          			"purposeOfVisit": "New Issue",
          			"providerId": "0",
          			"secondRequest": false,
          			"secondRequestSubmitted": false,
          			"patient": {
          				"displayName": "MORGAN, CECIL",
          				"firstName": "CECIL",
          				"lastName": "MORGAN",
          				"dateOfBirth": "May 31, 2001",
          				"patientIdentifier": {
          					"uniqueId": "1249652616"
          				},
          				"ssn": "796106146",
          				"inpatient": false,
          				"textMessagingAllowed": false,
          				"id": "1249652616",
          				"objectType": "Patient",
          				"link": [

          				]
          			},
          			"bestTimetoCall": [
          				"Morning"
          			],
          			"appointmentRequestDetailCode": [{
          				"appointmentRequestDetailCodeId": "8a488e8b6d5f7e0c016d64303507001b",
          				"createdDate": "09/24/2019 10:52:23",
          				"detailCode": {
          					"code": "DETCODE1",
          					"providerMessage": "Made on requested date",
          					"veteranMessage": "Your appointment was booked based upon your request for an appointment on %s %s.  Please use the Appointments feature on the previous screen to see more information on this and other appointments booked at VA healthcare facilities.",
          					"objectType": "VARDetailCode",
          					"link": [

          					]
          				},
          				"userId": "1013073461",
          				"objectType": "VARAppointmentRequestDetailCode",
          				"link": [

          				]
          			}],
          			"hasVeteranNewMessage": true,
          			"hasProviderNewMessage": false,
          			"providerSeenAppointmentRequest": true,
          			"requestedPhoneCall": false,
          			"bookedApptDateTime": "09/30/2019 09:00:00",
          			"typeOfCareId": "203",
          			"friendlyLocationName": "CHYSHR-Fort Collins VA Clinic",
          			"patientId": "1249652616",
          			"appointmentRequestId": "8a48912a6d02b0fc016d639023da00a8",
          			"date": "2019-09-24T07:57:33.000+0000",
          			"assigningAuthority": "ICN",
          			"uniqueId": "8a48912a6d02b0fc016d639023da00a8",
          			"systemId": "var",
          			"selfUri": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6d02b0fc016d639023da00a8",
          			"selfLink": {
          				"rel": "self",
          				"href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6d02b0fc016d639023da00a8",
          				"objectType": "AtomLink"
          			},
          			"objectType": "VARAppointmentRequest",
          			"link": [{
          					"rel": "self",
          					"href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointments/system/var/id/8a48912a6d02b0fc016d639023da00a8",
          					"objectType": "AtomLink"
          				},
          				{
          					"rel": "related",
          					"title": "appointment-request-messages",
          					"href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845943V900681/appointment-requests/system/var/id/8a48912a6d02b0fc016d639023da00a8/messages",
          					"objectType": "AtomLink"
          				},
          				{
          					"rel": "related",
          					"title": "appointment-request-new-message-flag",
          					"href": "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/[...]
