---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointments/system/var/id/8a4829dc7281184e017285000ab700cf
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 4.26.1w
        B3:
          - 535ee6596aba6545-0edf276c10c3096c-1
        X-Vamf-Build:
          - 6c78952
        X-Vamf-Timestamp:
          - "2021-01-19T18:30:02+0000"
      body:
        encoding: UTF-8
        string: |-
          {
            "dataIdentifier" : {
              "uniqueId" : "8a4829dc7281184e017285000ab700cf",
              "systemId" : "var"
            },
            "patientIdentifier" : {
              "uniqueId" : "1012845331V153043",
              "assigningAuthority" : "ICN",
              "active" : false
            },
            "surrogateIdentifier" : {
              "active" : false
            },
            "lastUpdatedDate" : "06/05/2020 09:25:12",
            "appointmentDate" : "06/17/2020",
            "appointmentTime" : "AM",
            "optionDate1" : "06/17/2020",
            "optionTime1" : "AM",
            "optionDate2" : "No Date Selected",
            "optionTime2" : "No Time Selected",
            "optionDate3" : "No Date Selected",
            "optionTime3" : "No Time Selected",
            "status" : "Booked",
            "appointmentType" : "Primary Care",
            "visitType" : "Office Visit",
            "facility" : {
              "name" : "CHYSHR-Cheyenne VA Medical Center",
              "facilityCode" : "983",
              "parentSiteCode" : "983",
              "objectType" : "Facility",
              "link" : [ ]
            },
            "email" : "aarathi.poldass@va.gov",
            "textMessagingAllowed" : false,
            "phoneNumber" : "(999) 999-9999",
            "purposeOfVisit" : "New Issue",
            "providerId" : "0",
            "secondRequest" : false,
            "secondRequestSubmitted" : false,
            "patient" : {
              "displayName" : "Morrison, Judy",
              "firstName" : "Judy",
              "lastName" : "Morrison",
              "dateOfBirth" : "Apr 01, 1953",
              "patientIdentifier" : {
                "uniqueId" : "1259897978",
                "active" : false
              },
              "ssn" : "796061976",
              "inpatient" : false,
              "textMessagingAllowed" : false,
              "serviceConnected" : false,
              "sensitive" : false,
              "id" : "1259897978",
              "objectType" : "Patient",
              "link" : [ ]
            },
            "bestTimetoCall" : [ "Morning" ],
            "appointmentRequestDetailCode" : [ {
              "appointmentRequestDetailCodeId" : "8a4829dc7281184e017285160d2b00f2",
              "createdDate" : "06/05/2020 09:25:12",
              "detailCode" : {
                "code" : "DETCODE1",
                "codeNumeric" : 1,
                "providerMessage" : "Made on requested date",
                "veteranMessage" : "Your appointment was scheduled based upon your request. Please log in to VA Appointments to review your appointment dates and times.",
                "objectType" : "VARDetailCode",
                "link" : [ ]
              },
              "userId" : "1013123291",
              "objectType" : "VARAppointmentRequestDetailCode",
              "link" : [ ]
            } ],
            "hasVeteranNewMessage" : true,
            "hasProviderNewMessage" : false,
            "providerSeenAppointmentRequest" : true,
            "requestedPhoneCall" : false,
            "bookedApptDateTime" : "06/17/2020 14:00:00",
            "typeOfCareId" : "323",
            "friendlyLocationName" : "CHYSHR-Cheyenne VA Medical Center",
            "adhoc" : false,
            "date" : "2020-06-05T09:01:11.000+00:00",
            "appointmentRequestId" : "8a4829dc7281184e017285000ab700cf",
            "patientId" : "1259897978",
            "systemId" : "var",
            "uniqueId" : "8a4829dc7281184e017285000ab700cf",
            "assigningAuthority" : "ICN",
            "objectType" : "VARAppointmentRequest",
            "selfLink" : {
              "rel" : "self",
              "href" : "https://veteran.apps-staging.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointments/system/var/id/8a4829dc7281184e017285000ab700cf",
              "objectType" : "AtomLink"
            },
            "selfUri" : "https://veteran.apps-staging.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointments/system/var/id/8a4829dc7281184e017285000ab700cf",
            "link" : [ {
              "rel" : "self",
              "href" : "https://veteran.apps-staging.va.gov/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointments/system/var/id/8a4829dc7281184e017285000ab700cf",
              "objectType" : "AtomLink"
            }, {
              "rel" : "alternate",
              "title" : "canonical-self",
              "href" : "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointments/system/var/id/8a4829dc7281184e017285000ab700cf",
              "objectType" : "AtomLink"
            }, {
              "rel" : "related",
              "title" : "appointment-request-messages",
              "href" : "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointment-requests/system/var/id/8a4829dc7281184e017285000ab700cf/messages",
              "objectType" : "AtomLink"
            }, {
              "rel" : "related",
              "title" : "appointment-request-new-message-flag",
              "href" : "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointment-requests/system/var/id/8a4829dc7281184e017285000ab700cf/messages/read",
              "objectType" : "AtomLink"
            }, {
              "rel" : "related",
              "title" : "appointment-request-provider-seen-flag",
              "href" : "/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/1012845331V153043/appointment-requests/system/var/id/8a4829dc7281184e017285000ab700cf/appointment/provider-read",
              "objectType" : "AtomLink"
            } ],
            "createdDate" : "06/05/2020 09:01:11"
          }
    recorded_at: Tue, 19 Jan 2021 20:40:06 GMT
recorded_with: VCR 6.0.0
