<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: sans-serif;
        font-size: smaller;
      }
      table {
        border-collapse: collapse;
      }
      table tr th, table tr td {
        border: 1px solid #d3d3d3;
        padding: 10px;
      }
      table tr th {
        padding: 5px 10px;
        white-space: nowrap;
        color: #808080;
        font-size: smaller;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
      }
      table tr td {
        padding: 5px 10px;
        vertical-align: top;
      }
      table tr td.right-align {
        text-align: right;
      }
      table tr td.center-align {
        text-align: center;
      }
      h2 {
        margin: 30px 0 2px;
      }
      h2 span.title {
        color: #808080;
      }
    </style>
  </head>

  <body>
    <h1>Daily <%= @friendly_env %> Error Report </h1>

    <%= render partial: 'faulty_appeal_table', locals: { appeal_name: 'HLR', faulty_appeals: @report.faulty_hlr } %>

    <br />
    <hr />

    <%= render partial: 'faulty_appeal_table', locals: { appeal_name: 'NOD', faulty_appeals: @report.faulty_nod } %>

    <br />
    <hr />

    <%= render partial: 'faulty_appeal_table', locals: { appeal_name: 'SC', faulty_appeals: @report.faulty_sc } %>

  </body>
</html>
