---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntWebServiceBean/VnpPtcpntService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ptcpntService.services.vonapp.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ptcpntService.services.vonapp.vba.va.gov/" name="VnpPtcpntService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://ptcpntService.services.vonapp.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/VnpPtcpntWebServiceBean/VnpPtcpntService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="vnpPtcpntFindByPrimaryKey">
        <part name="parameters" element="tns:vnpPtcpntFindByPrimaryKey"/>
        </message>
        <message name="vnpPtcpntFindByPrimaryKeyResponse">
        <part name="parameters" element="tns:vnpPtcpntFindByPrimaryKeyResponse"/>
        </message>
        <message name="MessageFaultException">
        <part name="fault" element="tns:MessageFaultException"/>
        </message>
        <message name="findAllAsArray">
        <part name="parameters" element="tns:findAllAsArray"/>
        </message>
        <message name="findAllAsArrayResponse">
        <part name="parameters" element="tns:findAllAsArrayResponse"/>
        </message>
        <message name="vnpPtcpntCreate">
        <part name="parameters" element="tns:vnpPtcpntCreate"/>
        </message>
        <message name="vnpPtcpntCreateResponse">
        <part name="parameters" element="tns:vnpPtcpntCreateResponse"/>
        </message>
        <message name="vnpPtcpntUpdate">
        <part name="parameters" element="tns:vnpPtcpntUpdate"/>
        </message>
        <message name="vnpPtcpntUpdateResponse">
        <part name="parameters" element="tns:vnpPtcpntUpdateResponse"/>
        </message>
        <message name="vnpPtcpntRemove">
        <part name="parameters" element="tns:vnpPtcpntRemove"/>
        </message>
        <message name="vnpPtcpntRemoveResponse">
        <part name="parameters" element="tns:vnpPtcpntRemoveResponse"/>
        </message>
        <portType name="VnpPtcpntService">
        <operation name="vnpPtcpntFindByPrimaryKey">
        <input wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/vnpPtcpntFindByPrimaryKeyRequest" message="tns:vnpPtcpntFindByPrimaryKey"/>
        <output wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/vnpPtcpntFindByPrimaryKeyResponse" message="tns:vnpPtcpntFindByPrimaryKeyResponse"/>
        <fault message="tns:MessageFaultException" name="MessageFaultException" wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/vnpPtcpntFindByPrimaryKey/Fault/MessageFaultException"/>
        </operation>
        <operation name="findAllAsArray">
        <input wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/findAllAsArrayRequest" message="tns:findAllAsArray"/>
        <output wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntServ[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntWebServiceBean/VnpPtcpntService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntCreate><arg0><vnpPtcpntId xsi:nil="true"/><vnpProcId>12345</vnpProcId><fraudInd xsi:nil="true"/><jrnDt>2020-07-18T03:06:20Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><legacyPoaCd xsi:nil="true"/><miscVendorInd xsi:nil="true"/><ptcpntShortNm xsi:nil="true"/><ptcpntTypeNm>Person</ptcpntTypeNm><taxIdfctnNbr xsi:nil="true"/><tinWaiverReasonTypeCd xsi:nil="true"/><ptcpntFkPtcpntId xsi:nil="true"/><corpPtcpntId xsi:nil="true"/></arg0></tns:vnpPtcpntCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntCreateResponse
        xmlns:ns0="http://ptcpntService.services.vonapp.vba.va.gov/"><return><vnpPtcpntId>149500</vnpPtcpntId><vnpProcId>12345</vnpProcId><jrnDt>2020-07-18T03:06:20Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><ptcpntTypeNm>Person</ptcpntTypeNm></return></ns0:vnpPtcpntCreateResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:21 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/StandardDataWebServiceBean/StandardDataWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://ja[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/StandardDataWebServiceBean/StandardDataWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://standarddata.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findBenefitClaimTypeIncrement><ptcpntId>600061742</ptcpntId><bnftClaimTypeCd>130DPNEBNADJ</bnftClaimTypeCd><pgmTypeCd>CPL</pgmTypeCd></tns:findBenefitClaimTypeIncrement></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findBenefitClaimTypeIncrement"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMS4xNwAA</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimTypeIncrementResponse
        xmlns:ns0="http://standarddata.services.vetsnet.vba.va.gov/"><return>134</return></ns0:findBenefitClaimTypeIncrementResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:23 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.ne[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findPersonByPtcpntId><ptcpntId>600061742</ptcpntId></tns:findPersonByPtcpntId></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findPersonByPtcpntId"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMS4xNwAA</work:WorkContext></env:Header><S:Body><ns0:findPersonByPtcpntIdResponse
        xmlns:ns0="http://person.services.vetsnet.vba.va.gov/"><PersonDTO><brthdyDt>1986-05-06T00:00:00-05:00</brthdyDt><deathDtEnterdDt>2019-06-06T00:00:00-05:00</deathDtEnterdDt><deathDtUpdatdDt>2019-06-06T00:00:00-05:00</deathDtUpdatdDt><deathHistInd>Y</deathHistInd><deathNotfcnSourceTypeCd>CORP</deathNotfcnSourceTypeCd><emailAddr>foo@foo.com</emailAddr><empInd>N</empInd><fileNbr>796043735</fileNbr><firstNm>WESLEY</firstNm><firstNmKey>-1</firstNmKey><genderCd>M</genderCd><insFileNbr></insFileNbr><jrnDt>2020-07-17T21:37:51-05:00</jrnDt><jrnExtnlApplcnNm>VAgovAPI                     </jrnExtnlApplcnNm><jrnExtnlKeyTxt>abraham.lincoln@vets.gov               </jrnExtnlKeyTxt><jrnExtnlUserId>86410069950270635                      </jrnExtnlUserId><jrnLctnId>281</jrnLctnId><jrnObjId>VAGOVAPI  -
        CEST</jrnObjId><jrnPersonId>216642029</jrnPersonId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAGOVAPI</jrnUserId><lastNm>FORD</lastNm><lastNmKey>-1</lastNmKey><mltyPersonInd>Y</mltyPersonInd><potntlDngrsInd>N</potntlDngrsInd><ptcpntDTO><blockAutoEnrlmtCd>U</blockAutoEnrlmtCd><blockCaddInd>U</blockCaddInd><ptcpntId>600061742</ptcpntId><ptcpntTypeNm>Person</ptcpntTypeNm></ptcpntDTO><ptcpntId>600061742</ptcpntId><serousEmplmtHndcapInd>N</serousEmplmtHndcapInd><ssnNbr>796043735</ssnNbr><ssnVrfctnStatusTypeCd>0</ssnVrfctnStatusTypeCd><stationOfJurisdiction>499</stationOfJurisdiction><termnlDigitNbr>35</termnlDigitNbr><vetInd>Y</vetInd></PersonDTO></ns0:findPersonByPtcpntIdResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:26 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPersonWebServiceBean/VnpPersonService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPersonWebServiceBean/VnpPersonService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://personService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPersonCreate><arg0><vnpProcId>12345</vnpProcId><vnpPtcpntId>149500</vnpPtcpntId><firstNm>WESLEY</firstNm><middleNm xsi:nil="true"/><lastNm>FORD</lastNm><suffixNm xsi:nil="true"/><brthdyDt xsi:nil="true"/><birthStateCd xsi:nil="true"/><birthCityNm xsi:nil="true"/><fileNbr xsi:nil="true"/><ssnNbr xsi:nil="true"/><deathDt xsi:nil="true"/><everMariedInd xsi:nil="true"/><vetInd>Y</vetInd><martlStatusTypeCd>Married</martlStatusTypeCd><jrnDt>2020-07-18T03:06:26Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId><ssn>796043735</ssn></arg0></tns:vnpPersonCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPersonCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPersonCreateResponse
        xmlns:ns0="http://personService.services.vonapp.vba.va.gov/"><return><vnpPtcpntId>149500</vnpPtcpntId><firstNm>WESLEY</firstNm><jrnDt>2020-07-17T22:06:26-05:00</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><lastNm>FORD</lastNm><martlStatusTypeCd>Married</martlStatusTypeCd><vetInd>Y</vetInd><vnpProcId>12345</vnpProcId></return></ns0:vnpPersonCreateResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:28 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://j[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntPhoneService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntPhoneCreate><arg0><vnpProcId>12345</vnpProcId><vnpPtcpntId>149500</vnpPtcpntId><phoneTypeNm>Daytime</phoneTypeNm><phoneNbr>1112223333</phoneNbr><efctvDt>2020-07-18T03:06:28Z</efctvDt><jrnDt>2020-07-18T03:06:28Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId><ssn>796043735</ssn></arg0></tns:vnpPtcpntPhoneCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntPhoneCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntPhoneCreateResponse
        xmlns:ns0="http://ptcpntPhoneService.services.vonapp.vba.va.gov/"><return><vnpPtcpntPhoneId>77305</vnpPtcpntPhoneId><vnpProcId>12345</vnpProcId><vnpPtcpntId>149500</vnpPtcpntId><phoneTypeNm>Daytime</phoneTypeNm><phoneNbr>1112223333</phoneNbr><efctvDt>2020-07-18T03:06:28Z</efctvDt><jrnDt>2020-07-18T03:06:28Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnUserId>VAgovAPI</jrnUserId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnObjId>VAgovAPI</jrnObjId></return></ns0:vnpPtcpntPhoneCreateResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:29 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://j[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntAddrsService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.0.149</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>20566559055186569</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntAddrsCreate><arg0><efctvDt>2020-07-18T03:06:29Z</efctvDt><vnpPtcpntId>149500</vnpPtcpntId><vnpProcId>12345</vnpProcId><ptcpntAddrsTypeNm>Mailing</ptcpntAddrsTypeNm><sharedAddrsInd>N</sharedAddrsInd><addrsOneTxt>8200 Doby LN</addrsOneTxt><addrsTwoTxt xsi:nil="true"/><addrsThreeTxt xsi:nil="true"/><cityNm>Pasadena</cityNm><cntryNm>USA</cntryNm><postalCd>CA</postalCd><mltyPostalTypeCd xsi:nil="true"/><mltyPostOfficeTypeCd xsi:nil="true"/><zipPrefixNbr>21122</zipPrefixNbr><prvncNm>CA</prvncNm><emailAddrsTxt>foo@foo.com</emailAddrsTxt><jrnDt>2020-07-18T03:06:29Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId><ssn>796043735</ssn></arg0></tns:vnpPtcpntAddrsCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntAddrsCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntAddrsCreateResponse
        xmlns:ns0="http://ptcpntAddrsService.services.vonapp.vba.va.gov/"><return><vnpPtcpntAddrsId>116343</vnpPtcpntAddrsId><efctvDt>2020-07-18T03:06:29Z</efctvDt><vnpPtcpntId>149500</vnpPtcpntId><vnpProcId>12345</vnpProcId><addrsOneTxt>8200
        Doby LN</addrsOneTxt><cityNm>Pasadena</cityNm><cntryNm>USA</cntryNm><emailAddrsTxt>foo@foo.com</emailAddrsTxt><jrnDt>2020-07-18T03:06:29Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><postalCd>CA</postalCd><prvncNm>CA</prvncNm><ptcpntAddrsTypeNm>Mailing</ptcpntAddrsTypeNm><sharedAddrsInd>N</sharedAddrsInd><zipPrefixNbr>21122</zipPrefixNbr></return></ns0:vnpPtcpntAddrsCreateResponse></S:Body></S:Envelope>
  recorded_at: Sat, 18 Jul 2020 03:06:31 GMT
recorded_with: VCR 6.0.0
