---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntWebServiceBean/VnpPtcpntService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ptcpntService.services.vonapp.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ptcpntService.services.vonapp.vba.va.gov/" name="VnpPtcpntService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://ptcpntService.services.vonapp.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/VnpPtcpntWebServiceBean/VnpPtcpntService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findAllAsArray">
        <part name="parameters" element="tns:findAllAsArray"/>
        </message>
        <message name="findAllAsArrayResponse">
        <part name="parameters" element="tns:findAllAsArrayResponse"/>
        </message>
        <message name="MessageFaultException">
        <part name="fault" element="tns:MessageFaultException"/>
        </message>
        <message name="vnpPtcpntCreate">
        <part name="parameters" element="tns:vnpPtcpntCreate"/>
        </message>
        <message name="vnpPtcpntCreateResponse">
        <part name="parameters" element="tns:vnpPtcpntCreateResponse"/>
        </message>
        <message name="vnpPtcpntUpdate">
        <part name="parameters" element="tns:vnpPtcpntUpdate"/>
        </message>
        <message name="vnpPtcpntUpdateResponse">
        <part name="parameters" element="tns:vnpPtcpntUpdateResponse"/>
        </message>
        <message name="vnpPtcpntRemove">
        <part name="parameters" element="tns:vnpPtcpntRemove"/>
        </message>
        <message name="vnpPtcpntRemoveResponse">
        <part name="parameters" element="tns:vnpPtcpntRemoveResponse"/>
        </message>
        <message name="vnpPtcpntFindByPrimaryKey">
        <part name="parameters" element="tns:vnpPtcpntFindByPrimaryKey"/>
        </message>
        <message name="vnpPtcpntFindByPrimaryKeyResponse">
        <part name="parameters" element="tns:vnpPtcpntFindByPrimaryKeyResponse"/>
        </message>
        <portType name="VnpPtcpntService">
        <operation name="findAllAsArray">
        <input wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/findAllAsArrayRequest" message="tns:findAllAsArray"/>
        <output wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/findAllAsArrayResponse" message="tns:findAllAsArrayResponse"/>
        <fault message="tns:MessageFaultException" name="MessageFaultException" wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/findAllAsArray/Fault/MessageFaultException"/>
        </operation>
        <operation name="vnpPtcpntCreate">
        <input wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/vnpPtcpntCreateRequest" message="tns:vnpPtcpntCreate"/>
        <output wsam:Action="http://ptcpntService.services.vonapp.vba.va.gov/VnpPtcpntService/vnpP[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntWebServiceBean/VnpPtcpntService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntCreate><arg0><vnpPtcpntId xsi:nil="true"/><vnpProcId>12345</vnpProcId><fraudInd xsi:nil="true"/><jrnDt>2020-09-21T20:57:41Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><legacyPoaCd xsi:nil="true"/><miscVendorInd xsi:nil="true"/><ptcpntShortNm xsi:nil="true"/><ptcpntTypeNm>Person</ptcpntTypeNm><taxIdfctnNbr xsi:nil="true"/><tinWaiverReasonTypeCd xsi:nil="true"/><ptcpntFkPtcpntId xsi:nil="true"/><corpPtcpntId>600061742</corpPtcpntId></arg0></tns:vnpPtcpntCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntCreateResponse
        xmlns:ns0="http://ptcpntService.services.vonapp.vba.va.gov/"><return><vnpPtcpntId>151031</vnpPtcpntId><vnpProcId>12345</vnpProcId><jrnDt>2020-09-21T20:57:41Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><ptcpntTypeNm>Person</ptcpntTypeNm><corpPtcpntId>600061742</corpPtcpntId></return></ns0:vnpPtcpntCreateResponse></S:Body></S:Envelope>
  recorded_at: Mon, 21 Sep 2020 20:57:43 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/StandardDataWebServiceBean/StandardDataWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://ja[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/StandardDataWebServiceBean/StandardDataWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://standarddata.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findBenefitClaimTypeIncrement><ptcpntId>600061742</ptcpntId><bnftClaimTypeCd>130DPNEBNADJ</bnftClaimTypeCd><pgmTypeCd>CPL</pgmTypeCd></tns:findBenefitClaimTypeIncrement></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findBenefitClaimTypeIncrement"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdWAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQACDMuMS4xOC4wAAA=</work:WorkContext></env:Header><S:Body><ns0:findBenefitClaimTypeIncrementResponse
        xmlns:ns0="http://standarddata.services.vetsnet.vba.va.gov/"><return>139</return></ns0:findBenefitClaimTypeIncrementResponse></S:Body></S:Envelope>
  recorded_at: Mon, 21 Sep 2020 20:57:44 GMT
[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/StandardDataWebServiceBean/StandardDataWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://standarddata.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>64521210330757658</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findRegionalOffices></tns:findRegionalOffices></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findRegionalOffices"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMS4yNAAA</work:WorkContext></env:Header><S:Body><ns0:findRegionalOfficesResponse
        xmlns:ns0="http://standarddata.services.vetsnet.vba.va.gov/"><return><lctnId>368</lctnId><nm>Albuquerque</nm><pmcLctnId>363</pmcLctnId><pmcNm>St.
        Paul</pmcNm><pmcStationNumber>335</pmcStationNumber><stationNumber>340</stationNumber></return><return><lctnId>112091</lctnId><nm>Anchorage</nm><pmcLctnId>363</pmcLctnId><pmcNm>St.
        Paul</pmcNm><pmcStationNumber>335</pmcStationNumber><stationNumber>363</stationNumber></return><return><lctnId>327</lctnId><nm>Anchorage
        VA Medical Center</nm><pmcLctnId>363</pmcLctnId><pmcNm>St. Paul</pmcNm><pmcStationNumber>335</pmcStationNumber><stationNumber>463</stationNumber></return><return><lctnId>47907</lctnId><nm>Appeals
        Management Center</nm><statio[...]
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://j[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntAddrsService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntAddrsCreate><arg0><efctvDt>2020-09-21T20:57:44Z</efctvDt><vnpPtcpntId>151031</vnpPtcpntId><vnpProcId>12345</vnpProcId><ptcpntAddrsTypeNm>Mailing</ptcpntAddrsTypeNm><sharedAddrsInd>N</sharedAddrsInd><addrsOneTxt>8200 Doby LN</addrsOneTxt><addrsTwoTxt xsi:nil="true"/><addrsThreeTxt xsi:nil="true"/><cityNm>Pasadena</cityNm><cntryNm>USA</cntryNm><postalCd>CA</postalCd><mltyPostalTypeCd xsi:nil="true"/><mltyPostOfficeTypeCd xsi:nil="true"/><zipPrefixNbr>21122</zipPrefixNbr><prvncNm>CA</prvncNm><emailAddrsTxt>foo@foo.com</emailAddrsTxt><jrnDt>2020-09-21T20:57:44Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId></arg0></tns:vnpPtcpntAddrsCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntAddrsCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntAddrsCreateResponse
        xmlns:ns0="http://ptcpntAddrsService.services.vonapp.vba.va.gov/"><return><vnpPtcpntAddrsId>117658</vnpPtcpntAddrsId><efctvDt>2020-09-21T20:57:44Z</efctvDt><vnpPtcpntId>151031</vnpPtcpntId><vnpProcId>12345</vnpProcId><addrsOneTxt>8200
        Doby LN</addrsOneTxt><cityNm>Pasadena</cityNm><cntryNm>USA</cntryNm><emailAddrsTxt>foo@foo.com</emailAddrsTxt><jrnDt>2020-09-21T20:57:44Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnObjId>VAgovAPI</jrnObjId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><postalCd>CA</postalCd><prvncNm>CA</prvncNm><ptcpntAddrsTypeNm>Mailing</ptcpntAddrsTypeNm><sharedAddrsInd>N</sharedAddrsInd><zipPrefixNbr>21122</zipPrefixNbr></return></ns0:vnpPtcpntAddrsCreateResponse></S:Body></S:Envelope>
  recorded_at: Mon, 21 Sep 2020 20:57:45 GMT
[...]
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RORoutingServiceWS/RORoutingService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net).
        RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c.
        --><s0:definitions xmlns=\"\" xmlns:s0=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:s1=\"http://www.va.gov/vba/corp/definition/roRoutingService\" xmlns:s2=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s3=\"http://www.va.gov/vba/corp/roRoutingService\" name=\"ROProfileService\"
        targetNamespace=\"http://www.va.gov/vba/corp/roRoutingService\">\n  <s0:import
        location=\"http://linktestbepbenefits.vba.va.gov:80/RORoutingServiceWS/RORoutingService?wsdl=1\"
        namespace=\"http://www.va.gov/vba/corp/definition/roRoutingService\"/>\n  <s0:binding
        name=\"RORoutingServiceSoapBinding\" type=\"s1:RORoutingServicePortType\">\n
        \   <s2:binding style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n
        \   <s0:operation name=\"GetForeignCountriesByLOB\">\n      <s0:input name=\"GetForeignCountriesByLOBRequest\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:input>\n      <s0:output name=\"GetForeignCountriesByLOBResponse\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:output>\n    </s0:operation>\n
        \   <s0:operation name=\"GetZipCodeListByRONumber\">\n      <s0:input name=\"GetZipCodeListByRONumberRequest\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:input>\n      <s0:output name=\"GetZipCodeListByRONumberResponse\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:output>\n      <s0:fault name=\"ResultNotFoundFault\">\n
        \       <s0:documentation>\n\t\t\t\t\tIf the ro number does not match. \n\t\t\t\t\tThe
        Fault will generated and the fault string will indicate the error code and
        reason.\n\t\t\t\t\tUse the operation GetForeignCountriesByLOB to get all the
        country names first\n\t\t\t\t</s0:documentation>\n        <s2:fault name=\"ResultNotFoundFault\"
        use=\"literal\"/>\n      </s0:fault>\n    </s0:operation>\n    <s0:operation
        name=\"GetGeoInfoByZipCode\">\n      <s0:input name=\"GetGeoInfoByZipCodeRequest\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:input>\n      <s0:output name=\"GetGeoInfoByZipCodeResponse\">\n
        \       <s2:body use=\"literal\"/>\n      </s0:output>\n      <s0:fault name=\"ResultNotFoundFault\">\n
        \       <s0:documentation>\n\t\t\t\t\tIf the Zip Cod[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RORoutingServiceWS/RORoutingService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.va.gov/vba/corp/schema/roRoutingService/v20101101" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><wsdl:GetRegionalOfficeByZipCode><wsdl:searchROCriteria><wsdl:zipCode>21122</wsdl:zipCode><wsdl:country>USA</wsdl:country><wsdl:province></wsdl:province></wsdl:searchROCriteria><wsdl:lob>CP</wsdl:lob></wsdl:GetRegionalOfficeByZipCode></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"GetRegionalOfficeByZipCode"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><S:Body><GetRegionalOfficeByZipCodeResponse
        xmlns="http://www.va.gov/vba/corp/schema/roRoutingService/v20101101" xmlns:ns1="http://www.va.gov/vba/corp/schema/ro/v20101101"
        xmlns:ns0="http://www.va.gov/vba/corp/schema/common/v20101101"><regionalOffice><ns1:number>313</ns1:number><ns1:name>Baltimore</ns1:name></regionalOffice></GetRegionalOfficeByZipCodeResponse></S:Body></S:Envelope>
  recorded_at: Mon, 21 Sep 2020 20:57:46 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPersonWebServiceBean/VnpPersonService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPersonWebServiceBean/VnpPersonService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://personService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPersonCreate><arg0><vnpProcId>12345</vnpProcId><vnpPtcpntId>151031</vnpPtcpntId><firstNm>WESLEY</firstNm><middleNm xsi:nil="true"/><lastNm>FORD</lastNm><suffixNm xsi:nil="true"/><brthdyDt>1809-02-12T00:00:00-08:00</brthdyDt><birthCntryNm xsi:nil="true"/><birthStateCd xsi:nil="true"/><birthCityNm xsi:nil="true"/><fileNbr>796043735</fileNbr><ssnNbr>796043735</ssnNbr><deathDt xsi:nil="true"/><everMariedInd xsi:nil="true"/><vetInd>Y</vetInd><martlStatusTypeCd>Separated</martlStatusTypeCd><jrnDt>2020-09-21T20:57:46Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId></arg0></tns:vnpPersonCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPersonCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding:[...]
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://j[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ptcpntPhoneService.services.vonapp.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>62312614648539760</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:vnpPtcpntPhoneCreate><arg0><vnpProcId>12345</vnpProcId><vnpPtcpntId>151031</vnpPtcpntId><phoneTypeNm>Daytime</phoneTypeNm><phoneNbr>1112223333</phoneNbr><efctvDt>2020-09-21T20:57:48Z</efctvDt><jrnDt>2020-09-21T20:57:48Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAgovAPI</jrnUserId><jrnObjId>VAgovAPI</jrnObjId></arg0></tns:vnpPtcpntPhoneCreate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"vnpPtcpntPhoneCreate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdKABR3ZWJsb2dpYy5hcHAudm5wLWVhcgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABTIuMC44AAA=</work:WorkContext></env:Header><S:Body><ns0:vnpPtcpntPhoneCreateResponse
        xmlns:ns0="http://ptcpntPhoneService.services.vonapp.vba.va.gov/"><return><vnpPtcpntPhoneId>78380</vnpPtcpntPhoneId><vnpProcId>12345</vnpProcId><vnpPtcpntId>151031</vnpPtcpntId><phoneTypeNm>Daytime</phoneTypeNm><phoneNbr>1112223333</phoneNbr><efctvDt>2020-09-21T20:57:48Z</efctvDt><jrnDt>2020-09-21T20:57:48Z</jrnDt><jrnLctnId>281</jrnLctnId><jrnUserId>VAgovAPI</jrnUserId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnObjId>VAgovAPI</jrnObjId></return></ns0:vnpPtcpntPhoneCreateResponse></S:Body></S:Envelope>
  recorded_at: Mon, 21 Sep 2020 20:57:49 GMT
recorded_with: VCR 6.0.0