---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/profile-service/profile/v3/2.16.840.1.113883.3.42.10001.100001.12/1005079124%5ENI%5E200DOD%5EUSDOD
    body:
      encoding: UTF-8
      string: '{"bios":[{"bioPath":"militaryPerson.militaryServiceHistory","parameters":{"scope":"all"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Vaprofiletxauditid:
      - 788159f7-5f03-4f8d-8011-be13ffdd1f74
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"militaryPerson":{"militaryServiceHistory":{"militaryServiceEpisodes":[{"serviceEpisodeIdentifier":343701,"branchOfServiceText":"Army","branchOfServiceCode":"A","organizationText":"Army
        Guard DEERS Population: Eligible Army Guard","organizationCode":"51","episodeSequenceNumber":1,"periodOfServiceTypeText":"National
        Guard member","periodOfServiceTypeCode":"N","periodOfServiceBeginDate":"2002-02-02","periodOfServiceEndDate":"2008-12-01","characterOfDischargeText":"Under
        honorable conditions (general)","characterOfDischargeCode":"B","narrativeReasonForSeparationText":"UNKNOWN","narrativeReasonForSeparationCode":"999","narrativeReasonForSeparationFamilyText":"Unknown/Not
        Applicable","narrativeReasonForSeparationFamilyCode":"Z","projectedDateOfSeparationCertaintyText":"DoD
        provided a NULL or blank value","projectedDateOfSeparationCertaintyCode":"DVN","terminationReasonText":"Separation
        from personnel category or organization","terminationReasonCode":"S","guardReserves":[{"grasSequenceNumber":1,"periodOfServiceBeginDate":"2004-11-15","periodOfServiceEndDate":"2005-04-11","characterOfDischargeText":"Under
        honorable conditions (general)","characterOfDischargeCode":"B","terminationReasonText":"Completion
        of Active Service period","terminationReasonCode":"C","statuteTitle":"32","statuteText":"Section
        502(a) of 32 U.S.C.","statuteCode":"P","trainingSegmentIndicator":false,"projectText":"FTNG
        - AT","projectCode":"B21","narrativeReasonForSeparationText":"UNKNOWN","narrativeReasonForSeparationCode":"999"},{"grasSequenceNumber":2,"periodOfServiceBeginDate":"2005-04-12","periodOfServiceEndDate":"2005-05-04","characterOfDischargeText":"Under
        honorable conditions (general)","characterOfDischargeCode":"B","terminationReasonText":"Completion
        of Active Service period","terminationReasonCode":"C","statuteTitle":"32","statuteText":"Section
        502(a) of 32 U.S.C.","statuteCode":"P","trainingSeg[...]
