---
http_interactions:
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - sjvlB75caM-O37hRpkDxV
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - NcRTvX2Tyy4=JgT3HCuv3929ceXzwsHVuiE6qsZDvCtFOoBT3NVB098=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:33:54 GMT
- request:
    method: post
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/message/draft
    body:
      encoding: UTF-8
      string: '{"subject":"Subject 14","recipientId":"585986","category":"OTHER","body":"Body
        14. This is the added bit!","id":"620431"}'
    headers:
      Content-Type:
      - application/json
      Token:
      - NcRTvX2Tyy4=JgT3HCuv3929ceXzwsHVuiE6qsZDvCtFOoBT3NVB098=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":620431,"category":"OTHER","subject":"Subject 14","body":"Body
        14. This is the added bit!","attachment":false,"attachments":{"attachment":[]},"sentDate":"","senderId":384939,"senderName":"MVIONE,
        TEST","recipientId":585986,"recipientName":"Triage group 311070 test 2","readReceipt":null}'
  recorded_at: Fri, 09 Sep 2016 16:33:55 GMT
recorded_with: VCR 3.0.3
