---
http_interactions:
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - sjvlB75caM-O37hRpkDxV
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - "+SdMMPglrPg=ngIyN79tAGW4ZvTOLB0aZOJK+1QVkztNWkf+E2VW9WA="
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:28:32 GMT
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/folder/0/message/page/1/pageSize/100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "+SdMMPglrPg=ngIyN79tAGW4ZvTOLB0aZOJK+1QVkztNWkf+E2VW9WA="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":[{"id":573302,"category":"OTHER","subject":"Release 16.2-
        SM last login ","body":null,"attachment":false,"attachments":null,"sentDate":"Wed,
        13 Apr 2016 21:17:57 GMT","senderId":384939,"senderName":"MVIONE, TEST","recipientId":35382,"recipientName":"Manivasagam,
        Rajesh","readReceipt":"READ"},{"id":573052,"category":"OTHER","subject":"Release
        16.2- SM last login ","body":null,"attachment":false,"attachments":null,"sentDate":"Mon,
        11 Apr 2016 15:49:03 GMT","senderId":384939,"senderName":"MVIONE, TEST","recipientId":257555,"recipientName":"ISLAM,
        MOHAMMAD","readReceipt":"READ"}]}'
  recorded_at: Fri, 09 Sep 2016 16:28:32 GMT
recorded_with: VCR 3.0.3
