---
http_interactions:
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - a-fake-app-token
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - EXvB0Htka7k=G0u1cC/UNmDVhp6ICaaam5AwRWvovaN71SSG+txcMgs=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Sep 2016 16:55:43 GMT
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/folder/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - EXvB0Htka7k=G0u1cC/UNmDVhp6ICaaam5AwRWvovaN71SSG+txcMgs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":0,"name":"Inbox","count":2,"unreadCount":0,"systemFolder":true}'
  recorded_at: Wed, 14 Sep 2016 16:55:45 GMT
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/folder/0/message/page/2/pageSize/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - EXvB0Htka7k=G0u1cC/UNmDVhp6ICaaam5AwRWvovaN71SSG+txcMgs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":[{"id":573052,"category":"OTHER","subject":"Release 16.2-
        SM last login ","body":null,"attachment":false,"attachments":null,"sentDate":"Mon,
        11 Apr 2016 15:49:03 GMT","senderId":384939,"senderName":"MVIONE, TEST","recipientId":257555,"recipientName":"ISLAM,
        MOHAMMAD","readReceipt":"READ"}]}'
  recorded_at: Wed, 14 Sep 2016 16:55:46 GMT
recorded_with: VCR 3.0.3
