---
http_interactions:
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - sjvlB75caM-O37hRpkDxV
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - Y1UB/aehfeQ=Ig/NQrJQQL0fU2jSKxKNaWKQk3V8u4MEpUCb5ENs5Ds=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:29:45 GMT
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/message/573302/read
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - Y1UB/aehfeQ=Ig/NQrJQQL0fU2jSKxKNaWKQk3V8u4MEpUCb5ENs5Ds=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":573302,"category":"OTHER","subject":"Release 16.2- SM last login
        ","body":"fdgfdgsdfgd","attachment":false,"attachments":{"attachment":[]},"sentDate":"Wed,
        13 Apr 2016 21:17:57 GMT","senderId":35382,"senderName":"Manivasagam, Rajesh","recipientId":384939,"recipientName":"MVIONE,
        TEST","readReceipt":"READ"}'
  recorded_at: Fri, 09 Sep 2016 16:29:46 GMT
recorded_with: VCR 3.0.3
