---
http_interactions:
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - a-fake-app-token
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - NVOksKkNqKA=6vAKUA4hlk/8bgWxdy1OK6mwEIs+MEkUNmLZI0OUpns=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Sep 2016 16:55:32 GMT
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/message/573059/history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - NVOksKkNqKA=6vAKUA4hlk/8bgWxdy1OK6mwEIs+MEkUNmLZI0OUpns=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":[{"id":573052,"category":"OTHER","subject":"Release 16.2-
        SM last login ","body":"Provider Reply","attachment":false,"attachments":null,"sentDate":"Mon,
        11 Apr 2016 15:49:03 GMT","senderId":257555,"senderName":"ISLAM, MOHAMMAD","recipientId":384939,"recipientName":"MVIONE,
        TEST","readReceipt":"READ"},{"id":573041,"category":"OTHER","subject":"Release
        16.2- SM last login ","body":"Release 16.2- SM last login ","attachment":false,"attachments":null,"sentDate":"Mon,
        11 Apr 2016 15:48:25 GMT","senderId":384939,"senderName":"MVIONE, TEST","recipientId":345468,"recipientName":"WORKLOAD
        CAPTURE_Mohammad","readReceipt":"READ"}]}'
  recorded_at: Wed, 14 Sep 2016 16:55:34 GMT
recorded_with: VCR 3.0.3
