---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="TrackedItemService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://services.mapd.benefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/TrackedItemService/TrackedItemService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findTrackedItemsByFileNumber">
        <part name="parameters" element="tns:findTrackedItemsByFileNumber"/>
        </message>
        <message name="findTrackedItemsByFileNumberResponse">
        <part name="parameters" element="tns:findTrackedItemsByFileNumberResponse"/>
        </message>
        <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException"/>
        </message>
        <message name="findUnsolEvdnce">
        <part name="parameters" element="tns:findUnsolEvdnce"/>
        </message>
     [...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/TrackedItemService/TrackedItemService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.5.5</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>8099264213</vaws:ExternalUid>
            <vaws:ExternalKey>8099264213</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findTrackedItems><claimId>600118544</claimId></tns:findTrackedItems></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findTrackedItems"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?>
        <S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Header>
                <work:WorkContext xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdJABF3ZWJsb2dpYy5hcHAubWFwZAAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABzEuMTcuODYAAA==</work:WorkContext>
            </env:Header>
            <S:Body>
                <ns0:findTrackedItemsResponse xmlns:ns0="http://services.mapd.benefits.vba.va.gov/">
                    <BenefitClaim>
                        <name>BenefitClaim</name>
                        <dvlpmtItems>
                            <jrnDt>2022-02-03T12:44:36-06:00</jrnDt>
                            <name>DevelopmentItem</name>
                            <claimId>600118544</claimId>
                            <createDt>2022-02-03T12:44:36-06:00</createDt>
                            <createPtcpntId>600310807</createPtcpntId>
                            <createStnNum>344</createStnNum>
                            <docid>874994</docid>
                            <dvlpmtItemId>325525</dvlpmtItemId>
                            <dvlpmtTc>CLMNTRQST</dvlpmtTc>
                            <reqDt>2022-02-04T00:00:00-06:00</reqDt>
                            <shortNm>MG-not
        a recognized condition</shortNm>
                            <stdDevactnId>42906</stdDevactnId>
                            <suspnsDt>2022-03-06T00:00:00-06:00</suspnsDt>
                            <vbmsDevactionId>182460029</vbmsDevactionId>
                        </dvlpmtItems>
                        <dvlpmtItems>
                            <jrnDt>2022-02-03T12:44:36-06:00</jrnDt>
                            <name>DevelopmentItem</name>
                            <claimId>600118544</claimId>
                            <createDt>2022-02-03T12:44:36-06:00</createDt>
                            <createPtcpntId>600310807</createPtcpntId>
                            <createStnNum>344</createStnNum>
                            <docid>874994</docid>
                            <dvlpmtItemId>325524</dvlpmtItemId>
                            <dvlpmtTc>CLMNTRQST</dvlpmtTc>
                            <reqDt>2022-02-04T00:00:00-06:00</reqDt>
                            <shortNm>Line
        of Duty determination from claimant</shortNm>
                            <stdDevactnId>42908</stdDevactnId>
                            <suspnsDt>2022-03-06T00:00:00-06:00</suspnsDt>
                            <vbmsDevactionId>182460028</vbmsDevactionId>
                        </dvlpmtItems>
                        <letters>
                            <jrnDt>2020-10-01T11:02:18-05:00</jrnDt>
                            <name>Letter</name>
                            <clmId>600118544</clmId>
                            <docid>778133</docid>
                            <dvlpmtTc>CLMNTRQST</dvlpmtTc>
                            <fileSttDt>2020-10-01T00:00:00-05:00</fileSttDt>
                            <fileSttTc>DONEDVLPMT</fileSttTc>
                            <incldEnclsrInd>N</incldEnclsrInd>
                            <outdcmtTc>DV</outdcmtTc>
                            <printDt>2020-10-02T00:00:00-05:00</printDt>
                            <ptcpntDcmntTn>Receiver</ptcpntDcmntTn>
                            <ptcpntId>600200915</ptcpntId>
                            <templatTc>VSCNP</templatTc>
                        </letters>
                        <letters>
                            <jrnDt>2021-10-15T09:45:45-05:00</jrnDt>
                            <name>Letter</name>
                            <clmId>600118544</clmId>
                            <docid>846510</docid>
                            <dvlpmtTc>CLMNTRQST</dvlpmtTc>
                            <fileSttDt>2021-10-15T00:00:00-05:00</fileSttDt>
                            <fileSttTc>DONEDVLPMT</fileSttTc>
                            <incldEnclsrInd>N</incldEnclsrInd>
                            <outdcmtTc>DV</outdcmtTc>
                            <printDt>2021-10-18T00:00:00-05:00</printDt>
                            <ptcpntDcmntTn>Receiver</ptcpntDcmntTn>
                            <ptcpntId>600200915</ptcpntId>
                            <templatTc>VSCNP</templatTc>
                        </letters>
                    </BenefitClaim>
                </ns0:findTrackedItemsResponse>
            </S:Body>
        </S:Envelope>
  recorded_at: Wed, 17 Aug 2022 20:30:41 GMT
recorded_with: VCR 6.1.0
