---
http_interactions:
- request:
    method: post
    uri: https://icmhs-api-test.csrarad.com/VADocument/getStatus
    body:
      encoding: UTF-8
      string: token=<PENSIONS_TOKEN>&uuid=%5B%2234656d73-7c31-456d-9c49-2024fff1cd47%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[[{"uuid":"34656d73-7c31-456d-9c49-2024fff1cd47","status":"Received","errorMessage":"","lastUpdated":"2018-03-20
        16:57:37"}]]'
  recorded_at: Sun, 06 Dec 2020 18:37:35 GMT
recorded_with: VCR 6.0.0
