---
http_interactions:
- request:
    method: post
    uri: https://icmhs-api-test.csrarad.com/VADocument/getStatus
    body:
      encoding: UTF-8
      string: token=<PENSIONS_TOKEN>&uuid=%5B%2234656d73-7c31-456d-9c49-2024fff1cd47%22%2C%224a25588c-9200-4405-a2fd-97f0b0fdf790%22%2C%22f7725cce-a76e-4d80-ab20-01c63acfcb87%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[[{"uuid":"34656d73-7c31-456d-9c49-2024fff1cd47","status":"Received","errorMessage":"","lastUpdated":"2018-03-20
        16:57:37"}],[{"uuid":"4a25588c-9200-4405-a2fd-97f0b0fdf790","status":"Received","errorMessage":"","lastUpdated":"2018-03-21
        00:17:19"}],[{"uuid":"f7725cce-a76e-4d80-ab20-01c63acfcb87","status":"Received","errorMessage":"","lastUpdated":"2018-03-20
        17:20:26"}]]'
  recorded_at: Sun, 06 Dec 2020 18:37:35 GMT
recorded_with: VCR 6.0.0
