---
http_interactions:
- request:
    method: post
    uri: https://test2.domaonline.com/EmmsAPI/VADocument/getStatus
    body:
      encoding: UTF-8
      string: token=<CENTRAL_MAIL_TOKEN>&uuid=%5B%22a8c29dbc-a0a6-4177-ae57-fc6143ec7edb%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[[{"uuid":"a8c29dbc-a0a6-4177-ae57-fc6143ec7edb","status":"Error","errorMessage":"Errors:
        ;ERR-EMMS-FAILED, Attachment List Count Does Not Match Folder File Count,
        ConfirmationNumber: 40, File: EMMS-GCIO-40.XML;","lastUpdated":"2020-12-05
        12:59:51"}]]'
  recorded_at: Sat, 12 Dec 2020 03:33:26 GMT
recorded_with: VCR 6.0.0
