---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"5 Stoddard Ct","city":"Sparks Glencoe","addressPOU":"RESIDENCE/CHOICE","requestCountry":{"countryCode":"USA"},"stateProvince":{"code":"MD"},"zipCode5":"21152"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - bf1cae1f-56e0-469e-b6af-b254d3e43a84
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"candidateAddresses":[{"address":{"county":{"name":"Baltimore","countyFipsCode":"24005"},"stateProvince":{"name":"Maryland","code":"MD"},"country":{"name":"USA","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"5
        Stoddard Ct","city":"Sparks Glencoe","zipCode5":"21152","zipCode4":"9367"},"geocode":{"calcDate":"2019-10-08T12:32:08+00:00","locationPrecision":31.0,"latitude":39.532499,"longitude":-76.647183},"addressMetaData":{"confidenceScore":100.0,"addressType":"Domestic","deliveryPointValidation":"CONFIRMED","residentialDeliveryIndicator":"RESIDENTIAL","validationKey":-2025296286}}]}'
  recorded_at: Tue, 08 Oct 2019 12:32:08 GMT
recorded_with: VCR 3.0.3
