---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"sdfdsfsdf","city":"Sparks Glencoe","requestCountry":{"countryCode":"USA"},"addressPOU":"RESIDENCE/CHOICE","stateProvince":{"code":"MD"},"zipCode5":"21152"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - 290868d1-5286-43e8-9b5f-144d3521a2f9
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"candidateAddresses":[{"address":{"stateProvince":{"name":"Maryland","code":"MD"},"country":{"name":"United
        States","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"Sdfdsfsdf","city":"Sparks
        Glencoe","zipCode5":"21152"},"geocode":{"calcDate":"2019-12-06T18:47:31+00:00","locationPrecision":0.0,"latitude":39.5412,"longitude":-76.6676},"addressMetaData":{"confidenceScore":0.0,"addressType":"Unknown","deliveryPointValidation":"MISSING_ZIP","validationKey":1499210293},"messages":[{"code":"ADDRVAL112","key":"AddressCouldNotBeFound","severity":"WARN","text":"The
        Address could not be found"},{"code":"ADDR306","key":"lowConfidenceScore","severity":"WARN","text":"Vet360
        Validation Failed: Confidence Score less than 80"}]}]}'
  recorded_at: Fri, 06 Dec 2019 18:47:31 GMT
recorded_with: VCR 3.0.3
