---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v2/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"898 W Broaadway","city":"Vancouver","internationalPostalCode":"V5Z
        1J8","requestCountry":{"countryCode":"CAN"},"addressPOU":"RESIDENCE/CHOICE","stateProvince":{"name":"BC"}}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Vaprofiletxauditid:
      - 5a5cfcda-de11-4509-936c-e39625ecc0d2
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"candidateAddresses":[{"address":{"addressLine1":"898 Broadway W","city":"Vancouver","internationalPostalCode":"V5Z
        1J8","county":{},"stateProvince":{"name":"British Columbia","code":"BC"},"country":{"name":"Canada","code":"CAN","fipsCode":"CA","iso2Code":"CA","iso3Code":"CAN"}},"geocode":{"calcDate":"2020-04-10T17:29:41Z","locationPrecision":10.0,"latitude":49.2635,"longitude":-123.13873},"addressMetaData":{"confidenceScore":97.76,"addressType":"International","validationKey":-1941145206}}]}'
  recorded_at: Fri, 10 Apr 2020 17:29:41 GMT
recorded_with: VCR 5.1.0
