---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"37 1st st","city":"Brooklyn","requestCountry":{"countryCode":"USA"},"stateProvince":{"code":"NY"},"zipCode5":"11249"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - 31ec5677-2c21-4ac5-9828-b0eb94aff75f
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"candidateAddresses":[{"address":{"county":{"name":"Kings","countyFipsCode":"36047"},"stateProvince":{"name":"New
        York","code":"NY"},"country":{"name":"USA","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"37
        N 1st St","city":"Brooklyn","zipCode5":"11249","zipCode4":"3939"},"geocode":{"calcDate":"2019-10-14T11:21:44+00:00","locationPrecision":31.0,"latitude":40.717018,"longitude":-73.964935},"addressMetaData":{"confidenceScore":100.0,"addressType":"Domestic","deliveryPointValidation":"UNDELIVERABLE","validationKey":-1384531381}},{"address":{"county":{"name":"Kings","countyFipsCode":"36047"},"stateProvince":{"name":"New
        York","code":"NY"},"country":{"name":"USA","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"37
        S 1st St","city":"Brooklyn","zipCode5":"11249","zipCode4":"4101"},"geocode":{"calcDate":"2019-10-14T11:21:44+00:00","locationPrecision":31.0,"latitude":40.715383,"longitude":-73.965421},"addressMetaData":{"confidenceScore":100.0,"addressType":"Domestic","deliveryPointValidation":"CONFIRMED","residentialDeliveryIndicator":"MIXED","validationKey":2017396678}}]}'
  recorded_at: Mon, 14 Oct 2019 11:21:44 GMT
recorded_with: VCR 3.0.3
