---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"sdfdsfsdf","city":"Washington","addressPOU":"RESIDENCE/CHOICE","requestCountry":{"countryCode":"USA"},"stateProvince":{"code":"DC"},"zipCode5":"20011"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - a7f8f275-799c-41ef-8fec-047aa513ed4a
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"messages":[{"code":"ADDRVAL108","key":"CandidateAddressNotFound","severity":"INFO","text":"No
        Candidate Address Found "}]}'
  recorded_at: Thu, 10 Oct 2019 09:46:23 GMT
recorded_with: VCR 3.0.3
