---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/address_validation/v2/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"sdfdsfsdf","city":"Sparks Glencoe","requestCountry":{"countryCode":"USA"},"addressPOU":"RESIDENCE/CHOICE","stateProvince":{"code":"MD"},"zipCode5":"21152"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - 1a19bb51-3466-4484-81bf-8c42585f91f1
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '498'
      X-Ratelimit-Remaining-Minute:
      - '56'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '58751'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V2-Candidate-Address:
      - '248'
    body:
      encoding: ASCII-8BIT
      string: '{"candidateAddresses":[{"address":{"stateProvince":{"name":"Maryland","code":"MD"},"country":{"name":"United
        States","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"Sdfdsfsdf","city":"Sparks
        Glencoe","zipCode5":"21152"},"geocode":{"calcDate":"2020-01-23T03:15:48+00:00","latitude":39.5412,"longitude":-76.6676},"addressMetaData":{"confidenceScore":0.0,"addressType":"Domestic","deliveryPointValidation":"MISSING_ZIP","validationKey":1499210293},"messages":[{"code":"ADDRVAL112","key":"AddressCouldNotBeFound","severity":"WARN","text":"The
        Address could not be found"},{"code":"ADDR306","key":"lowConfidenceScore","severity":"WARN","text":"Vet360
        Validation Failed: Confidence Score less than 80"}]}]}'
  recorded_at: Thu, 23 Jan 2020 03:15:48 GMT
recorded_with: VCR 5.0.0
