---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/validate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"requestCountry":{"countryCode":"USA"},"addressPOU":"RESIDENCE/CHOICE","stateProvince":{}}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - e39759d6-3a2b-4964-99b7-97b0bef6e32f
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '249'
    body:
      encoding: UTF-8
      string: '{"messages":[{"code":"ADDRVAL203","key":"InvalidRequestStreetAddress","severity":"ERROR","text":"One
        of addressLine1, addressLine2 or addressLine3 must be provided"}]}'
  recorded_at: Fri, 06 Dec 2019 15:53:56 GMT
recorded_with: VCR 3.0.3
