---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/validate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"37 1st st","city":"Brooklyn","requestCountry":{"countryCode":"USA"},"stateProvince":{"code":"NY"},"zipCode5":"11249"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - 6bc084bf-69f5-4bd4-84d2-fce034e8ecfe
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Validate-Address:
      - '249'
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"county":{"name":"Kings","countyFipsCode":"36047"},"stateProvince":{"name":"New
        York","code":"NY"},"country":{"name":"USA","code":"USA","fipsCode":"US","iso2Code":"US","iso3Code":"USA"},"addressLine1":"37
        S 1st St","city":"Brooklyn","zipCode5":"11249","zipCode4":"4101"},"geocode":{"calcDate":"2019-10-15T08:05:01+00:00","locationPrecision":31.0,"latitude":40.715383,"longitude":-73.965421},"addressMetaData":{"confidenceScore":97.0,"addressType":"Domestic","deliveryPointValidation":"CONFIRMED","residentialDeliveryIndicator":"MIXED","validationKey":609319007}, "messages":[{"code":"ADDRVAL112","key":"AddressCouldNotBeFound","severity":"ERROR","text":"The Address could not be found"}]}'
  recorded_at: Tue, 15 Oct 2019 08:05:01 GMT
recorded_with: VCR 3.0.3
