---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/scheduling/configurations?facilityIds=489&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.5.2
      B3:
      - d6b2ec58eadce0aa-c77028e9f385fe2b-0
      X-Vamf-Build:
      - cc1bce1
      X-Vamf-Timestamp:
      - '2021-05-30T22:09:53+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "facilityId" : "489",
            "services" : [ {
              "id" : "amputation",
              "name" : "Amputation Services",
              "stopCodes" : [ {
                "primary" : "211"
              } ],
              "direct" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 0,
                "canCancel" : true,
                "enabled" : false
              },
              "request" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 0,
                "canCancel" : true,
                "submittedRequestLimit" : 2,
                "enterpriseSubmittedRequestLimit" : 2,
                "enabled" : true
              }
            }, {
              "id" : "covid",
              "name" : "COVID Vaccine",
              "stopCodes" : [ {
                "secondary" : "710"
              } ],
              "char4" : "CDQC",
              "direct" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 0,
                "canCancel" : true,
                "enabled" : false
              }
            }, {
              "id" : "CR1",
              "name" : "Express Care",
              "request" : {
                "patientHistoryRequired" : false,
                "submittedRequestLimit" : 2,
                "enterpriseSubmittedRequestLimit" : 2,
                "enabled" : false,
                "schedulingDays" : [ {
                  "day" : "MONDAY",
                  "canSchedule" : false
                }, {
                  "day" : "TUESDAY",
                  "canSchedule" : false
                }, {
                  "day" : "WEDNESDAY",
                  "canSchedule" : false
                }, {
                  "day" : "THURSDAY",
                  "canSchedule" : false
                }, {
                  "day" : "FRIDAY",
                  "canSchedule" : false
                }, {
                  "day" : "SATURDAY",
                  "canSchedule" : false
[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/scheduling/configurations?facilityIds=489,984&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.5.2
      B3:
      - 9142602b7876dee6-3b8698ca83a2ff08-0
      X-V[...]
