---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/HealthcareService?_include=HealthcareService:location&organization.identifier=983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.4.0
      X-Vamf-Build:
      - 648792d
      X-Vamf-Timestamp:
      - '2020-05-10T21:31:24+0000'
      Last-Modified:
      - Tue, 19 May 2020 18:35:22 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "23fe358d-6e82-4541-804c-ce7562ba28f4",
          "meta": {
            "lastUpdated": "2020-05-19T18:35:22.188+00:00"
          },
          "type": "searchset",
          "total": 182,
          "link": [
            {
              "relation": "self",
              "url": "https://veteran.apps-staging.va.gov/vsp/v1/HealthcareService?_include=HealthcareService%3Alocation&organization.identifier=983"
            }
          ],
          "entry": [
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/HealthcareService/3938333A3938333A3136",
              "resource": {
                "resourceType": "HealthcareService",
                "id": "3938333A3938333A3136",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier></td><td>urn:va:healthcareservice:983:983:16</td></tr></tbody></table></div>"
                },
                "identifier": [
                  {
                    "system": "http://med.va.gov/fhir/urn",
                    "value": "urn:va:healthcareservice:983:983:16"
                  }
                ],
                "providedBy": {
                  "reference": "Organization/393833"
                },
                "location": {
                  "reference": "Location/393833"
                },
                "serviceName": "CHY LAB OUTPATIENT"
              }
            },
            {
              "fullUrl": "https://veteran.apps-staging.va.gov/vsp/v1/HealthcareService/3938333A3938333A3837",
              "resource": {
                "resourceType": "HealthcareService",
                "id": "3938333A3938333A3837",
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifie[...]
