---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/HealthcareService?organization.identifier=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.4.0
      X-Vamf-Build:
      - 648792d
      X-Vamf-Timestamp:
      - '2020-05-10T21:31:24+0000'
      Last-Modified:
      - Tue, 19 May 2020 18:56:30 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "3a6ed072-3f90-4852-bb5a-f2368ccbdea7",
          "meta": {
            "lastUpdated": "2020-05-19T18:56:30.960+00:00"
          },
          "type": "searchset",
          "total": 0,
          "link": [
            {
              "relation": "self",
              "url": "https://veteran.apps-staging.va.gov/vsp/v1/HealthcareService?organization.identifier=123"
            }
          ]
        }
  recorded_at: Tue, 19 May 2020 18:56:30 GMT
recorded_with: VCR 5.1.0
