---
http_interactions:
- request:
    method: get
    uri: "https://int.vet360.va.gov/person-mdm-cuf-person-hub/referencedata/v1/countries"
    body:
      encoding: UTF-8
      string: ""
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"countryList":[{"countryName":"Afghanistan","countryCodeISO2":"AF","countryCodeISO3":"AFG","countryCodeFIPS":"AF"},{"countryName":"Aland Islands (autonomous area of Finland)","countryCodeISO2":"AX","countryCodeISO3":"ALA"},{"countryName":"Albania","countryCodeISO2":"AL","countryCodeISO3":"ALB","countryCodeFIPS":"AL"},{"countryName":"Algeria","countryCodeISO2":"DZ","countryCodeISO3":"DZA","countryCodeFIPS":"AG"},{"countryName":"American Samoa","countryCodeISO2":"AS","countryCodeISO3":"ASM","countryCodeFIPS":"AQ"},{"countryName":"Andorra","countryCodeISO2":"AD","countryCodeISO3":"AND","countryCodeFIPS":"AN"},{"countryName":"Angola","countryCodeISO2":"AO","countryCodeISO3":"AGO","countryCodeFIPS":"AO"},{"countryName":"Anguilla","countryCodeISO2":"AI","countryCodeISO3":"AIA","countryCodeFIPS":"AV"},{"countryName":"Antarctica","countryCodeISO2":"AQ","countryCodeISO3":"ATA","countryCodeFIPS":"AY"}]}'
  recorded_at: Wed, 25 Apr 2018 17:17:06 GMT
recorded_with: VCR 3.0.3
