<td style="vertical-align: top">
  <div style="float: left">Count:</div>
  <div style="float: right"><%= row['rowcount'] %></div><br>
  <div style="float: left">Min:</div>
  <div style="float: right"><%= row['min_bt_status_fmt'] %></div><br>
  <div style="float: left">Avg:</div>
  <div style="float: right"><%= row['avg_bt_status_fmt'] %></div><br>
  <div style="float: left">Max:</div>
  <div style="float: right"><%= row['max_bt_status_fmt'] %></div><br>
</td>
