---
http_interactions:
  - request:
      method: post
      uri: https://dev-api.va.gov/oauth2/benefits-documents/system/v1/token
      body:
        encoding: US-ASCII
        string: grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIwb2FwMThxb2Z1Y2NhV1FVUjJwNyIsInN1YiI6IjBvYXAxOHFvZnVjY2FXUVVSMnA3IiwiYXVkIjoiaHR0cHM6Ly9kZXB0dmEtZXZhbC5va3RhLmNvbS9vYXV0aDIvYXVzaTN1aTgzZkxhNjhJSnYycDcvdjEvdG9rZW4iLCJpYXQiOjE3MTEzOTMwNjIsImV4cCI6MTcxMTM5MzM2Mn0.mTYpXCJqEOmqQ6J-BE25kY_a80_mj-TlXsmyuFk_cDEG4T2__VSOkZ__Z2B_E03Cky42KiZ4fegmEOucq7HPT9FbwODYdWQIXYLYAV8-RdsoZUAIGtPKi3J63_ZfapwS9psh0SpI46Jc9rS4LuV4fSSRtBTHwgTyZBGoqQJN_DMIoVjvmvxruoqLrL_BoacIOfx24i7Ty5AUz1qmuUw2hr3UvFbhhQEgw_RIlQlT0swIPSvOBFOQG8vPq_gjy0d6GfK7MMHsNjt6S0UqMYKj3LRPJorGeYH8nA9Q1uFjaf2L9BWepV1H9qlvTRM2Nluh-Z4zpxdluChvYcw5CUpz_w&scope=documents.read+documents.write
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Remaining-Minute:
          - "56"
        Ratelimit-Limit:
          - "60"
        Ratelimit-Remaining:
          - "56"
        Ratelimit-Reset:
          - "17"
        X-Ratelimit-Limit-Minute:
          - "60"
        Etag:
          - W/"406-4Qz4UveJtQlT86H1Qda91rrNIXw"
      body:
        encoding: ASCII-8BIT
        string:
          '{"access_token":"removed","token_type":"Bearer","scope":"documents.write
          documents.read","expires_in":600,"state":null}'
    recorded_at: Mon, 25 Mar 2024 18:57:43 GMT
  - request:
      method: post
      uri: https://dev-api.va.gov/services/benefits-documents/v1/uploads/status
      body:
        encoding: UTF-8
        string: '{"data":{"requestIds":["18559"]}}'
      headers:
        Content-Type:
          - application/json
        Authorization: Bearer <TOKEN>
    response:
      status:
        code: 200
        message: ""
      headers:
        Content-Type:
          - application/json
        X-Ratelimit-Remaining-Minute:
          - "58"
        Ratelimit-Limit:
          - "60"
        Ratelimit-Remaining:
          - "58"
        Ratelimit-Reset:
          - "17"
        X-Ratelimit-Limit-Minute:
          - "60"
      body:
        encoding: ASCII-8BIT
        string:
          '{"data":{"statuses":[{"requestId":18559,"time":{"startTime":1710177589613,"endTime":1710177592131},"status":"SUCCESS","steps":[{"name":"CLAIMS_EVIDENCE","nextStepName":"BENEFITS_GATEWAY_SERVICE","description":"The
          workflow step that uploads the document to Claims Evidence","status":"SUCCESS"},{"name":"BENEFITS_GATEWAY_SERVICE","description":"The
          workflow step that uploads the document to Benefits Gateway Service","status":"SUCCESS"}]}]}}'
    recorded_at: Mon, 25 Mar 2024 18:57:43 GMT
recorded_with: VCR 6.2.0
