---
http_interactions:
- request:
    method: post
    uri: https://www.va.gov/ogc/apps/accreditation/attorneyexcellist.asp
    body:
      encoding: UTF-8
      string: id=frmExcelList&name=frmExcelList
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.ms-excel
    body:
      encoding: UTF-8
      string: "\r\n<HTML>\r\n<BODY>\r\n\r\n\r\n<!-- Our table which will be translated
        into an Excel spreadsheet -->\r\n<TABLE WIDTH=75% BORDER=1 CELLSPACING=1 CELLPADDING=1>\r\n<TR>\r\n
        \  <td>Last Name</td>\r\n   <td>First Name</td>\r\n   <td>Date Accredited</td>\r\n
        \  <td>Registration Num</td>\r\n   <td>POA Code</td>\r\n   <td>City</td>\r\n
        \  <td>State</td>\r\n   <td>Zip</td>\r\n   <td>Phone</td>\r\n</TR>\r\n<!--
        server-side loop adding Table entries -->\r\n\r\n<TR>\r\n   <TD>Wadhwa</TD>\r\n
        \  <TD>Artika</TD>\r\n   <TD>1/7/2011</TD>\r\n   <TD>18865</TD>\r\n   <TD>4U1</TD>\r\n
        \  <TD>Hingham</TD>\r\n   <TD>MA</TD>\r\n   <TD>'02043</TD>\r\n   <TD>781-996-5661</TD>\r\n</TR>\r\n\r\n<TR>\r\n
        \  <TD>McKinnon</TD>\r\n   <TD>Laura</TD>\r\n   <TD>1/19/2011</TD>\r\n   <TD>18981</TD>\r\n
        \  <TD>4VV</TD>\r\n   <TD>Fayetteville</TD>\r\n   <TD>AR</TD>\r\n   <TD>'72702</TD>\r\n
        \  <TD>479-521-1555</TD>\r\n</TR>\r\n\r\n<TR>\r\n   <TD>Grove</T[...]
- request:
    method: post
    uri: https://www.va.gov/ogc/apps/accreditation/caexcellist.asp
    body:
      encoding: UTF-8
      string: id=frmExcelList&name=frmExcelList
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.ms-excel
    body:
      encoding: UTF-8
      string: "\r\n<HTML>\r\n<BODY>\r\n\r\n\r\n<!-- Our table which will be translated
       [...]
- request:
    method: post
    uri: https://www.va.gov/ogc/apps/accreditation/orgsexcellist.asp
    body:
      encoding: UTF-8
      string: id=frmExcelList&name=frmExcelList
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.ms-excel
    body:
      encoding: UTF-8
      string: "\r\n<HTML>\r\n<BODY>\r\n\r\n\r\n<!-- Our table which will be translated
     [...]
