---
http_interactions:
- request:
    method: post
    uri: https://www.va.gov/ogc/apps/accreditation/orgsexcellist.asp
    body:
      encoding: UTF-8
      string: id=frmExcelList&name=frmExcelList
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.ms-excel
    body:
      encoding: UTF-8
      string: "\r\n<HTML>\r\n<BODY>\r\n\r\n\r\n<!-- Our table which will be translated
        into an Excel spreadsheet -->\r\n<TABLE WIDTH=75% BORDER=1 CELLSPACING=1 CELLPADDING=1>\r\n<TR>\r\n
        \  <td>Organization Name</td>\r\n   <td>POA</td>\r\n   <td>Org Phone</td>\r\n
        \  <td>Org City</td>\r\n   <td>Org State</td>\r\n   <td>Representative</td>\r\n
        \  <td>Rep City</td>\r\n   <td>Rep State</td>\r\n   <td>Rep Zip</td>\r\n   <td>Registration
        Num</td>\r\n</TR>\r\n<!-- server-side loop adding Table entries -->\r\n\r\n<TR>\r\n
        \  <TD>African American PTSD Association</TD>\r\n   <TD>'091</TD>\r\n   <TD>253-589-0766</TD>\r\n
        \  <TD>Lakewood</TD>\r\n   <TD>WA</TD>\r\n   <TD>Anderson, Edgar B</TD>\r\n
        \  <TD>Chicago</TD>\r\n   <TD>IL</TD>\r\n   <TD>'60635</TD>\r\n   <TD>8239</TD>\r\n</TR>\r\n\r\n
        \  <TR>\r\n
        \  <TD>NOT A REAL PLACE</TD>\r\n   <TD>'ZZZ</TD>\r\n   <TD>555-555-5555</TD>\r\n
        \  <TD>NOWHERE</TD>\r\n   <TD>MO</TD>\r\n   <TD>PERSON, FAKE</TD>\r\n
        \  <TD>NOWHERE</TD>\r\n  [...]
