---
http_interactions:
- request:
    method: get
    uri: http://csraciapp6.evss.srarad.com:7003/wss-document-services-web-3.1/rest/documents/getAllDocuments
    body:
      encoding: UTF-8
      string: ''
    headers:
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Authenticationauthority:
      - eauth
      Iv-User:
      - dslogoneauthuser
      Va-Eauth-Emailaddress:
      - jane.doe@va.gov
      Va-Eauth-Birthdate:
      - '1999-10-09T08:06:12-04:00'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Issueinstant:
      - '2015-04-17T14:52:48Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Middlename:
      - A
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "documents" : [ {
            "documentId" : "{508B2B01-F0A1-43A6-A50A-015CF6B1D756}",
            "documentSize" : 0,
            "documentTypeCode" : "L029",
            "documentTypeId" : "40",
            "documentTypeLabel" : "Certificate of Release or Discharge From Active Duty (e.g. DD 214, NOAA 56-16, PHS 1867)",
            "fileName" : "DD124_b9fc2c7b-60ec-4d63-86c7-abe5f866d923.pdf",
            "mimeType" : "application/pdf",
            "receiptDate" : 1359608400000,
            "receiptDateFormatted" : "01/31/2013",
            "source" : "eBenefits",
            "veteran" : {
              "fileNumber" : "796104437",
              "firstName" : "MARK",
              "lastName" : "WEBB"
            }
          }, {
            "documentId" : "{98B7E701-28AA-43DA-A243-892B0909590B}",
            "documentSize" : 0,
            "documentTypeCode" : "L029",
            "documentTypeId" : "40",
            "documentTypeLabel" : "Certificate of Release or Discharge From Active Duty (e.g. DD 214, NOAA 56-16, PHS 1867)",
            "fileName" : "eBenefits_84944472-95c2-4d13-a684-99a1c8e8f225.pdf",
            "mimeType" : "application/pdf",
            "receiptDate" : 1379304[...]
