---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?children=true&ids=983,%20984&pageSize=0&schedulable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.21.1
      X-Vamf-Build:
      - 4d56ca5
      X-Vamf-Timestamp:
      - '2023-06-16T18:31:57+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "983",
            "vistaSite" : "983",
            "vastParent" : "983",
            "type" : "va_facilities",
            "name" : "Cheyenne VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone" : {
              "timeZoneId" : "America/Denver"
            },
            "lat" : 39.744507,
            "long" : -104.830956,
            "website" : "https://www.denver.va.gov/locations/directions.asp",
            "phone" : {
              "main" : "307-778-7550",
              "fax" : "307-778-7381",
              "pharmacy" : "866-420-6337",
              "afterHours" : "307-778-7550",
              "patientAdvocate" : "307-778-7550 x7517",
              "mentalHealthClinic" : "307-778-7349",
              "enrollmentCoordinator" : "307-778-7550 x7579"
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "2360 East Pershing Boulevard" ],
              "city" : "Cheyenne",
              "state" : "WY",
              "postalCode" : "82001-5356"
            },
            "mobile" : false,
            "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
            "operatingStatus" : {
              "code" : "NORMAL"
            }
          }, {
            "id" : "984",
            "vistaSite" : "984",
            "vastParent" : "984",
            "type" : "va_health_facility",
            "name" : "Dayton VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 39.74935,
            "long" : -84.2532,
            "website" : "https://www.dayt[...]
