---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?children=true&ids=688&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 899e5826c377784a-ea25c297939bda37-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "688",
            "vistaSite" : "688",
            "vastParent" : "688",
            "type" : "va_health_facility",
            "name" : "Washington VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 38.9294,
            "long" : -77.01119,
            "website" : "https://www.washingtondc.va.gov/locations/directions.asp",
            "phone" : {
              "main" : "202-745-8000",
              "fax" : "202-745-8530",
              "pharmacy" : "202-745-8235",
              "afterHours" : "202-745-8000",
              "patientAdvocate" : "202-745-8588",
              "mentalHealthClinic" : "202-745-8000 x 58127",
              "enrollmentCoordinator" : "202-745-8000 x56333"
            },
            "hoursOfOperation" : [ {
              "daysOfWeek" : "sun",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "mon",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "tue",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "wed",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "thu",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "fri",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            }, {
              "daysOfWeek" : "sat",
              "openingTime" : "24/7",
              "closingTime" : "24/7"
            } ],
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "50 Irving Street, Northwest", null, null ],
              "city" : "Washington",
              "state" : "DC",
              "postalCode" : "20422-0001"
            },
            "mobile" : false,
            "operatingStatus" : {
              "code" : "NORMAL"
            },
            "visn" : "5"
          }, {
            "id" : "688GA",
            "vistaSite" : "688",
            "type" : "va_health_facility",
            "name" : "Fort Belvoir VA Clinic",
            "classification" : "Primary Care CBOC",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 38.70479,
            "long" : -77.14007,
            "website" : "https://www.washingtondc.va.gov/locations/VA_Ft_Belvoir_Community_Clinic.asp",
            "phone" :[...]
