---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/facilities/v2/facilities?ids=688&pageSize=0&schedulable=true
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - text/html
        Etag:
          - '"5fa5087d-3d6"'
      body:
        encoding: UTF-8
        string: '<html>\r\n<head><title>500 Internal Server Error</title></head>\r\n<body>\r\n<center><h1>500 Internal Server Error/html>\r\n'
    recorded_at: Wed, 28 Apr 2021 19:07:17 GMT
recorded_with: VCR 6.0.0
