---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/scheduling/configurations?ccEnabled=true&facilityIds=489,984&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.19.2
      B3:
      - '0219a3f40c86fc3029cacdb1de9d4fe3-eca22b68e8f26a27-0'
      X-Vamf-Build:
      - c6b7977
      X-Vamf-Timestamp:
      - '2022-12-22T22:03:26+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "facilityId" : "984",
            "services" : [ {
              "id" : "amputation",
              "name" : "Amputation Services",
              "stopCodes" : [ {
                "primary" : "211",
                "defaultForRequests" : false
              } ],
              "direct" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 0,
                "canCancel" : true,
                "enabled" : false
              },
              "request" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 1095,
                "submittedRequestLimit" : 1,
                "enterpriseSubmittedRequestLimit" : 2,
                "enabled" : true
              }
            }, {
              "id" : "covid",
              "name" : "COVID Vaccine",
              "stopCodes" : [ {
                "secondary" : "710",
                "defaultForRequests" : false
              } ],
              "char4" : "CDQC",
              "direct" : {
                "patientHistoryRequired" : false,
                "patientHistoryDuration" : 0,
                "canCancel" : true,
                "enabled" : false
              }
            }, {
              "id" : "CR1",
              "name" : "Express Care",
              "request" : {
                "patientHistoryRequired" : false,
                "submittedRequestLimit" : 2,
                "enterpriseSubmittedRequestLimit" : 2,
                "enabled" : true,
                "schedulingDays" : [ {
                  "day" : "MONDAY",
                  "canSchedule" : false
                }, {
                  "day" : "TUESDAY",
                  "canSchedule" : false
                }, {
                  "day" : "WEDNESDAY",
                  "canSchedule" : false
                }, {
                  "day" : "THURSDAY",
                  "canSchedule" : false
                }, {
                  "day" : "FRIDAY",
                  "canSchedule" : false
                }, {
                  "day" : "SATURDAY",
                  "canSchedule" : false
[...]
