---
http_interactions:
- request:
    method: get
    uri: https://host.va.gov/facilities/v2/facilities?children=false&ids=541QB,541QA,541QE,541QC&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "541QB",
            "facilitiesApiId" : "vha_541QB",
            "vistaSite" : "541",
            "vastParent" : "541",
            "type" : "va_health_facility",
            "name" : "Cleveland VA Clinic-Euclid",
            "classification" : "Primary Care CBOC",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 41.50369,
            "long" : -81.64107,
            "website" : "https://www.va.gov/northeast-ohio-health-care/locations/cleveland-va-clinic-euclid/",
            "phone" : {
              "main" : "216-391-0264",
              "fax" : "216-391-0265",
              "pharmacy" : "216-791-2300 x62001",
              "afterHours" : "216-391-0264",
              "patientAdvocate" : "216-791-3800 x61700",
              "enrollmentCoordinator" : "216-791-3800 x63576"
            },
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "7000 Euclid Avenue", null, "Suites 102 and 202" ],
              "city" : "Cleveland",
              "state" : "OH",
              "postalCode" : "44103-4014"
            },
            "mobile" : false,
            "healthService" : [ "MentalHealthCare", "Podiatry", "PrimaryCare" ],
            "operatingStatus" : {
              "code" : "LIMITED",
              "additionalInfo" : "Regular office hours are 8 a.m. to 4:30 p.m. ET, Monday through Friday."
            },
            "visn" : "10"
          }, {
            "id" : "541QA",
            "facilitiesApiId" : "vha_541QA",
            "vistaSite" : "541",
            "vastParent" : "541",
            "type" : "va_health_facility",
            "name" : "Summit County VA Clinic",
            "classification" : "Other Outpatient Services (OOS)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 41.06428,
            "long" : -81.52204,
            "website" : "https[...]
