---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "983",
          "vistaSite" : "983",
          "vastParent" : "983",
          "type" : "va_facilities",
          "name" : "Cheyenne VA Medical Center",
          "classification" : "VA Medical Center (VAMC)",
          "timezone" : {
            "timeZoneId" : "America/Denver"
          },
          "lat" : 39.744507,
          "long" : -104.830956,
          "website" : "https://www.denver.va.gov/locations/directions.asp",
          "phone" : {
            "main" : "307-778-7550",
            "fax" : "307-778-7381",
            "pharmacy" : "866-420-6337",
            "afterHours" : "307-778-7550",
            "patientAdvocate" : "307-778-7550 x7517",
            "mentalHealthClinic" : "307-778-7349",
            "enrollmentCoordinator" : "307-778-7550 x7579"
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2360 East Pershing Boulevard" ],
            "city" : "Cheyenne",
            "state" : "WY",
            "postalCode" : "82001-5356"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "DentalServices", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "SpecialtyCare", "UrgentCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          }
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vam[...]
