---
http_interactions:
- request:
    method: get
    uri: https://host.va.gov/vaos/v1/locations/983/clinics?clinicIds=does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.18.0
      B3:
      - 92264cc2c4898cf2cb899e69f0a7a9f4-bb805b693a560a97-0
      X-Vamf-Build:
      - 72e09ad
      X-Vamf-Timestamp:
      - '2022-08-18T13:02:15+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 500,
          "message" : "A server error occurred",
          "id" : "8d9990c0-2cf7-4ef1-b725-c6d6da865966",
          "traceId" : "92264cc2c4898cf2cb899e69f0a7a9f4"
        }
  recorded_at: Tue, 30 Aug 2022 23:00:21 GMT
recorded_with: VCR 6.1.0
