---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?children=true&ids=688&pageSize=0&schedulable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.21.1
      X-Vamf-Build:
      - 4d56ca5
      X-Vamf-Timestamp:
      - '2023-06-16T18:31:57+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "688",
            "facilitiesApiId" : "vha_688",
            "vistaSite" : "688",
            "vastParent" : "688",
            "type" : "va_health_facility",
            "name" : "Washington VA Medical Center",
            "classification" : "VA Medical Center (VAMC)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 38.9294,
            "long" : -77.01119,
            "website" : "https://www.va.gov/washington-dc-health-care/locations/washington-va-medical-center/",
            "phone" : {
              "main" : "202-745-8000",
              "fax" : "202-745-8530",
              "pharmacy" : "202-745-8235",
              "afterHours" : "202-745-8000",
              "patientAdvocate" : "202-745-8588",
              "mentalHealthClinic" : "202-745-8000 x 58156",
              "enrollmentCoordinator" : "202-745-8000 x56333"
            },
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "50 Irving Street, Northwest", null, null ],
              "city" : "Washington",
              "state" : "DC",
              "postalCode" : "20422-0001"
            },
            "mobile" : false,
            "healthService" : [ "Audiology", "Cardiology", "CaregiverSupport", "Covid19Vaccine", "DentalServices", "Dermatology", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "Urology", "WomensHealth" ],
            "operatingStatus" : {
              "code" : "NORMAL"
            },
            "visn" : "5"
          }, {
            "id" : "688QA",
            "facilitiesApiId" : "vha_688QA",
            "vistaSite" : "688",
            "vastParent" : "688",
            "type" : "va_health_facility",
            "name" : "Franklin Street VA Clinic",
            "classification" : "Other Outpatient Services (OOS)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 38.926006,
            "long" : -76.98363,
            "website" : "htt[...]
