---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=455,16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"16","serviceName":"CHY LAB OUTPATIENT","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":674,"primaryStopCodeName":"ADMIN PAT
        ACTIVTIES (MASNONCT)","secondaryStopCode":108,"secondaryStopCodeName":"LABORATORY","futureBookingMaximumDays":365},{"vistaSite":983,"id":"455","serviceName":"CHY
        PC CASSIDY","stationId":"983","stationName":"CHYSHR-Cheyenne VA Medical Center","primaryStopCode":323,"primaryStopCodeName":"PRIMARY
        CARE/MEDICINE","secondaryStopCodeName":"*Missing*","patientDirectScheduling":true,"patientDisplay":true,"futureBookingMaximumDays":365}]}'
  recorded_at: Wed, 07 Jun 2023 15:08:03 GMT
recorded_with: VCR 6.1.0
