---
http_interactions:
- request:
    method: get
    uri: https://host.va.gov/facilities/v2/facilities/983/clinics/455
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.18.0
      B3:
      - 1f98ca75475e982a19dbbba67a57d52b-815f92b93c3e69cc-0
      X-Vamf-Build:
      - 72e09ad
      X-Vamf-Timestamp:
      - '2022-08-18T13:02:15+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "vistaSite" : 983,
            "clinicId" : "455",
            "serviceName" : "CHY PC CASSIDY",
            "medicalService" : "MEDICINE",
            "stationId" : "983",
            "institutionId" : "983",
            "stationName" : "CHYSHR-Cheyenne VA Medical Center",
            "primaryStopCode" : 323,
            "primaryStopCodeName" : "PRIMARY CARE/MEDICINE",
            "secondaryStopCodeName" : "*Missing*",
            "appointmentLength" : 20,
            "patientDirectScheduling" : true,
            "patientDisplay" : true,
            "institutionName" : "CHYSHR-CHEYENNE VAMC",
            "institutionIEN" : "442",
            "institutionSID" : "1400039290",
            "futureBookingMaximumDays" : 365
          }
        }
  recorded_at: Tue, 30 Aug 2022 22:37:16 GMT
- request:
    method: get
    uri: https://host.va.gov/facilities/v2/facilities/983/clinics/1053
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.18.0
      B3:
      - 1b2cdd1a95706cd824f5194751aaf8bf-0f41819ff1126085-0
      X-Vamf-Build:
      - 72e09ad
      X-Vamf-Timestamp:
      - '2022-08-18T13:02:15+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "vistaSite" : 983,
            "clinicId" : "1053",
            "serviceName" : "SID NURSE",
            "medicalService" : "MEDICINE",
            "physicalLocation" : "SIDNEY CLINIC",
            "stationId" : "983GB",
            "institutionId" : "983GB",
            "stationName" : "CHYSHR-Sidney VA Clinic",
            "primaryStopCode" : 324,
            "primaryStopCodeName" : "TELEPHONE/MEDICINE",
            "secondaryStopCode" : 179,
            "secondaryStopCodeName" : "RT CLIN VID CARE HOME",
            "appointmentLength" : 15,
            "patientDirectScheduling" : true,
            "patientDisplay" : true,
            "institutionName" : "CHYSHR-SIDNEY CBOC",
            "institutionIEN" : "451",
            "institutionSID" : "1400039291",
            "futureBookingMaximumDays" : 365
          }
        }
  recorded_at: Tue, 30 Aug 2022 22:46:53 GMT
recorded_with: VCR 6.1.0
