---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?ids=983,%20983GB,%20983GC,%20983GD&pageSize=0&schedulable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.21.0
      X-Vamf-Build:
      - 766d2f9
      X-Vamf-Timestamp:
      - '2023-06-02T17:17:53+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "983GD",
            "vistaSite" : "983",
            "vastParent" : "983",
            "type" : "va_health_facility",
            "name" : "Loveland VA Clinic",
            "classification" : "Primary Care CBOC",
            "timezone" : {
              "timeZoneId" : "America/Denver"
            },
            "lat" : 40.412647,
            "long" : -105.003815,
            "website" : "https://www.cheyenne.va.gov/locations/Loveland.asp",
            "phone" : {
              "main" : "970-962-4900"
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "5200 Hahns Peak Drive" ],
              "city" : "Loveland",
              "state" : "CO",
              "postalCode" : "80538-8852"
            },
            "healthService" : [ "Audiology", "EmergencyCare", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Podiatry", "PrimaryCare", "SpecialtyCare", "WomensHealth" ]
          }, {
            "id" : "983GC",
            "vistaSite" : "983",
            "vastParent" : "983",
            "type" : "va_facilities",
            "name" : "Fort Collins VA Clinic",
            "classification" : "Multi-Specialty CBOC",
            "timezone" : {
              "timeZoneId" : "America/Denver"
      [...]
