---
http_interactions:
- request:
    method: get
    uri: https://host.va.gov/vaos/v1/locations/983/clinics?clinicIds=455
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"455","serviceName":"CHY PC CASSIDY","stationId":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","primaryStopCode":323,"primaryStopCodeName":"PRIMARY CARE/MEDICINE","secondaryStopCodeName":"*Missing*","patientDirectScheduling":true,"patientDisplay":true,"futureBookingMaximumDays":365}]}'
  recorded_at: Mon, 05 Jun 2023 18:53:56 GMT
- request:
    method: get
    uri: https://host.va.gov/vaos/v1/locations/983/clinics?clinicIds=1053
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"vistaSite":983,"id":"1053","serviceName":"SID NURSE","physicalLocation":"SIDNEY
        CLINIC","stationId":"983GB","stationName":"CHYSHR-Sidney VA Clinic","primaryStopCode":324,"primaryStopCodeName":"TELEPHONE/MEDICINE","secondaryStopCode":323,"secondaryStopCodeName":"PRIMARY
        CARE","patientDirectScheduling":true,"patientDisplay":true,"futureBookingMaximumDays":365}]}'
  recorded_at: Mon, 05 Jun 2023 20:02:05 GMT
recorded_with: VCR 6.1.0
