---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/facilities/v2/scheduling/configurations?ccEnabled=false&facilityIds=489&pageSize=0
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: Success
      headers:
        Content-Type:
          - application/json
        Etag:
          - '"601db677-1493"'
      body:
        encoding: UTF-8
        string: |-
          {
            "data": [
              {
                "facilityId": "489",
                "services": [
                  {
                    "id": "",
                    "name": "Primary Care",
                    "stopCodes": [
                      {
                        "primary": "",
                        "secondary": ""
                      }
                    ],
                    "char4": "CDQC",
                    "direct": {
                      "patientHistoryRequired": true,
                      "patientHistoryDuration": 0,
                      "canCancel": true,
                      "enabled": true
                    },
                    "request": {
                      "patientHistoryRequired": true,
                      "patientHistoryDuration": 0,
                      "canCancel": true,
                      "submittedRequestLimit": 0,
                      "enterpriseSubmittedRequestLimit": 0,
                      "supported": true,
                      "schedulingDays": [
                        {
                          "day": "",
                          "canSchedule": true,
                          "startTime": "",
                          "endTime": ""
                        }
                      ]
                    }
                  }
                ],
                "communityCare": true
              }
            ]
          }
    recorded_at: Tue, 11 May 2021 19:08:53 GMT
recorded_with: VCR 6.0.0
