---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?ids=983,%20983GB,%20983GC,%20983GD&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.21.0
      X-Vamf-Build:
      - 766d2f9
      X-Vamf-Timestamp:
      - '2023-06-02T17:17:53+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 400,
          "message" : "missing required parameter",
          "errorCode" : 1001,
          "detail" : "ids",
          "meta" : { }
        }
  recorded_at: Fri, 09 Jun 2023 17:10:11 GMT
recorded_with: VCR 6.1.0
