---
http_interactions:
- request:
    method: get
    uri: https://host.va.gov/facilities/v2/facilities?children=false&ids=541QE,541QC&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "541QE",
            "facilitiesApiId" : "vha_541QE",
            "vistaSite" : "541",
            "type" : "va_health_facility",
            "name" : "Cleveland East Boulevard 3 VA Mobile Clinic",
            "classification" : "Other Outpatient Services (OOS)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 41.512665,
            "long" : -81.613304,
            "phone" : {
              "main" : "216-791-3800 x61054",
              "fax" : "216-421-3217",
              "pharmacy" : "216-791-3800 x61063",
              "afterHours" : "216-791-3800 x61054",
              "patientAdvocate" : "216-791-3800 x61700",
              "enrollmentCoordinator" : "216-791-3800 x63910"
            },
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "10701 East Boulevard", null, null ],
              "city" : "Cleveland",
              "state" : "OH",
              "postalCode" : "44106-1702"
            },
            "mobile" : true,
            "operatingStatus" : {
              "code" : "NORMAL"
            },
            "visn" : "10"
          }, {
            "id" : "541QC",
            "facilitiesApiId" : "vha_541QC",
            "vistaSite" : "541",
            "type" : "va_health_facility",
            "name" : "Cleveland 1 VA Mobile Clinic",
            "classification" : "Other Outpatient Services (OOS)",
            "timezone" : {
              "timeZoneId" : "America/New_York"
            },
            "lat" : 41.512665,
            "long" : -81.613304,
            "phone" : {
              "main" : "216-791-3800",
              "fax" : "216-421-3217",
              "pharmacy" : "216-791-3800 x61063",
              "afterHours" : "216-791-3800",
              "patientAdvocate" : "216-791-3800 x61700",
              "enrollmentCoordinator" : "216-791-3800 x63910"
            },
            "mailingAddress" : {
              "type" : "postal",
              "line" : [ null, null, null ]
            },
            "physicalAddress" : {
              "type" : "physical",
              "line" : [ "10701 East Boulevard", null, null ],
              "city" : "Cleveland",
              "state" : "OH",
              "postalCode" : "44106-1702"
            },
            "mobile" : true,
            "operatingStatus" : {
              "code" : "NORMAL"
            },
            "visn" : "10"
          } ]
        }
  recorded_at: Thu, 14 Sep 2023 18:50:17 GMT
recorded_with: VCR 6.2.0
