---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities?schedulable=true&pageSize=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.4.1
      B3:
      - 6026dc16944fc217-6516fde7c5515f93-0
      X-Vamf-Build:
      - 3c19730
      X-Vamf-Timestamp:
      - '2021-04-07T15:14:08+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 400,
          "message" : "missing required parameter",
          "errorCode" : 1001,
          "detail" : "ids",
          "meta" : { }
        }
  recorded_at: Fri, 21 May 2021 17:37:03 GMT
recorded_with: VCR 6.0.0
