---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123456/claims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblech
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '34'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      X-Git-Sha:
      - 46db541c4bbdedc0cdfbfcd8006319af45721497
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{
  "data": [
    {
      "id": "555555555",
      "type": "claim",
      "attributes": {
        "claimDate": "2017-05-02",
        "claimPhaseDates": {
          "phaseChangeDate": "2017-10-18"
        },
        "claimType": "Compensation",
        "closeDate": "2017-10-18",
        "decisionLetterSent": false,
        "developmentLetterSent": false,
        "documentsNeeded": false,
        "endProductCode": "404",
        "evidenceWaiverSubmitted5103": false,
        "lighthouseId": null,
        "status": "COMPLETE"
      }
    }
  ]
}'
  recorded_at: Fri, 11 Aug 2023 15:19:27 GMT
recorded_with: VCR 6.2.0
