---
http_interactions:
- request:
    method: get
    uri: https://api.wellhive.com/care-navigation/v1/provider-services?npi=7894563210
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Wellhive-Trace-Id:
        - c9182a0e90280e7cc9ea83a192c1b787
    body:
      encoding: UTF-8
      string: '{"count":1,"providerServices":[{"id":"53mL4LAZ","name":"Dr. Monty Graciano @ FHA Kissimmee Medical Campus","isActive":true,"individualProviders":[{"name":"Dr. Monty Graciano","npi":"7894563210"}],"providerOrganization":{"name":"Meridian Health (Sandbox 5vuTac8v)"},"location":{"name":"FHA Kissimmee Medical Campus","address":"2184 E Irlo Bronson, Kissimmee, FL, 34744-4415, US","latitude":28.30468,"longitude":-81.41667,"timezone":"America/New_York"},"networkIds":["sandbox-network-5vuTac8v"],"schedulingNotes":"Age Limitations: This provider does not see patients 60 years or older.","appointmentTypes":[{"id":"ov","name":"Office Visit","isSelfSchedulable":true}],"specialties":[{"id":"208800000X","name":"Urology"}],"visitMode":"in-person","features":{"isDigital":true,"directBooking":{"isEnabled":true,"requiredFields":["phone","address","name","birthdate","gender"]}}}]}'
  recorded_at: Sat, 11 Jan 2025 23:00:44 GMT
recorded_with: VCR 6.3.1