---
http_interactions:
- request:
    method: put
    uri: https://int.vet360.va.gov/contact-information-hub/cuf/contact-information/v1/emails
    body:
      encoding: UTF-8
      string: '{"bio":{"emailAddressText":"person42@example.com","emailId":42,"originatingSourceSystem":"VETSGOV","sourceSystemUser":"1234","sourceDate":"2018-06-06T15:35:55.000Z","vet360Id":"1","effectiveStartDate":"2018-06-06T15:35:55.000Z","effectiveEndDate":null}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"txAuditId":"0b6344e3-3348-419c-bad9-c1a634e3d621","status":"RECEIVED"}'
  recorded_at: Wed, 25 Apr 2018 18:16:06 GMT
recorded_with: VCR 3.0.3
