---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/status/1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '119'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Ratelimit-Reset:
      - '58'
      Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1012667145V762142","type":"veteran_status_confirmations","attributes":{"veteran_status":"confirmed"}}}'
  recorded_at: Wed, 30 Oct 2024 23:02:03 GMT
recorded_with: VCR 6.3.1
