---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/status/1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '1'
      X-Ratelimit-Remaining-Minute:
      - '113'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '113'
      Ratelimit-Limit:
      - '120'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "title": "Bad Request",
  "detail": "Bad Request",
  "code": "400",
  "status": "400"
}'
  recorded_at: Thu, 31 Oct 2024 18:08:59 GMT
recorded_with: VCR 6.3.1
