---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/status/1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '115'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '115'
      Ratelimit-Reset:
      - '3'
      X-Ratelimit-Limit-Minute:
      - '120'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "status": "403",
  "error": "Token not granted requested scope.",
  "path": "/veteran_verification/v2/status"
}'
  recorded_at: Thu, 31 Oct 2024 18:08:57 GMT
recorded_with: VCR 6.3.1
