---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/status/1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '117'
      Ratelimit-Reset:
      - '6'
      Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '117'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "errors": [
    {
      "title": "Bad Gateway",
      "detail": "Upstream Request Error.",
      "code": "502",
      "status": "502"
    }
  ]
}'
  recorded_at: Thu, 31 Oct 2024 18:08:54 GMT
recorded_with: VCR 6.3.1
