---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/veteran_verification/v2/status/1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '116'
      Ratelimit-Reset:
      - '5'
      Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '116'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "errors": [
    {
      "title": "Service Unavailable",
      "detail": "Backend Service Unavailable.",
      "code": "503",
      "status": "503"
    }
  ]
}'
  recorded_at: Thu, 31 Oct 2024 18:08:55 GMT
recorded_with: VCR 6.3.1
