---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Patient?identifier=identifier-value
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 404 
      message: Not Found 
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.5.0
      X-Vamf-Build:
      - 22ad543
      X-Vamf-Timestamp:
      - '2020-06-16T22:20:38+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "OperationOutcome",
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Failed to fetch veteran identifiers from Mobile MVI Service: ICN, identifier-value</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
          },
          "issue": [
            {
              "severity": "error",
              "code": "processing",
              "diagnostics": "Failed to fetch veteran identifiers from Mobile MVI Service: ICN, identifier-value"
            }
          ]
        }
  recorded_at: Mon, 06 Jul 2020 21:28:55 GMT
recorded_with: VCR 6.0.0
