---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Patient?identifier=200000008
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.5.0
      X-Vamf-Build:
      - 22ad543
      X-Vamf-Timestamp:
      - '2020-06-16T22:20:38+0000'
    body:
      encoding: UTF-8
      string: |-
        {
           "resourceType": "Bundle",
           "id": "0806aad5-1003-43c9-ba3d-98b2d5dcd492",
           "meta": {
             "lastUpdated": "2020-07-07T09:59:12.199+00:00"
           },
           "type": "searchset",
           "total": 1,
           "link": [ {
             "relation": "self",
             "url": "http://hapi.fhir.org/baseDstu2/Patient?_pretty=true&identifier=200000008"
           } ],
           "entry": [ {
             "fullUrl": "http://hapi.fhir.org/baseDstu2/Patient/165610",
             "resource": {
               "resourceType": "Patient",
               "id": "165610",
               "meta": {
                 "versionId": "1",
                 "lastUpdated": "2018-11-28T10:14:54.474+00:00"
               },
               "text": {
                 "status": "generated",
                 "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><div class=\"hapiHeaderText\">John <b>DOE </b></div><table class=\"hapiPropertyTable\"><tbody><tr><td>Identifier</td><td>200000008</td></tr><tr><td>Address</td><td></td></tr><tr><td>Date of birth</td><td><span>01 September 2000</span></td></tr></tbody></table></div>"
               },
               "identifier": [ {
                 "type": {
                   "coding": [ {
                     "code": "NID",
                     "display": "NID"
                   } ],
                   "text": "NID"
                 },
                 "system": "urn:oid:2.16.840.1.113883.4.1",
                 "value": "200000008"
               } ],
               "active": true,
               "name": [ {
                 "use": "usual",
                 "family": [ "Doe" ],
                 "given": [ "John" ]
               } ],
               "gender": "male",
               "birthDate": "2000-09-01",
               "deceasedBoolean": false,
               "address": [ {
                 "use": "home"
               } ],
               "multipleBirthBoolean": false,
               "contact": [ {
                 "relationship": [ {
                   "coding": [ {
                     "system": "http://hl7.org/fhir/patient-contact-relationship",
                     "code": "friend",
                     "display": "Friend"
                   } ],
                   "text": "Friend"
                 } ],
                 "name": {
                   "use": "usual",
                   "text": "Jane Doe",
                   "family": [ "Doe" ],
                   "given": [ "Jane" ]
                 },
                 "telecom": [ {
                   "system": "phone",
                   "value": "111-111-111",
                   "use": "home"
                 } ],
                 "address": {
                   "line": [ "1111 Main St." ],
                   "city": "Chicago",
                   "state": "Il",
                   "postalCode": "30732",
                   "country": "USA"
                 },
                 "gender": "female"
               } ],
               "communication": [ {
                 "language": {
                   "coding": [ {
                     "code": "en",
                     "display": "English"
                   } ],
                   "text": "English"
                 },
                 "preferred": true
               } ]
             },
             "search": {
               "mode": "match"
             }
           } ]
         }
  recorded_at: Mon, 06 Jul 2020 20:57:27 GMT
recorded_with: VCR 6.0.0
