---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/claims/v2/veterans/1008596379V859838/claims
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer abcdefghijklmnop
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Ratelimit-Remaining-Minute:
          - '59'
        Ratelimit-Limit:
          - '60'
        Ratelimit-Remaining:
          - '59'
        Ratelimit-Reset:
          - '21'
        X-Ratelimit-Limit-Minute:
          - '60'
        Etag:
          - W/"7db345ae00cfd8509278f84c36e5f5d4"
        X-Git-Sha:
          - 12e78331a5fccd2eb589b41ac396598a3bb33cca
        X-Github-Repository:
          - https://github.com/department-of-veterans-affairs/vets-api
      body:
        encoding: ASCII-8BIT
        string: '{
                 "data":[
                    {
                       "id":"600383363",
                       "type":"claim",
                       "attributes":{
                          "claimDate":"2022-09-27",
                          "claimPhaseDates":{
                             "phaseChangeDate":"2022-09-30"
                          },
                          "claimType":"Compensation",
                          "closeDate":null,
                          "decisionLetterSent":false,
                          "developmentLetterSent":true,
                          "documentsNeeded":false,
                          "endProductCode":"020",
                          "evidenceWaiverSubmitted5103":false,
                          "lighthouseId":null,
                          "status":"EVIDENCE_GATHERING_REVIEW_DECISION"
                       }
                    },
                    {
                       "id":"600323434",
                       "type":"claim",
                       "attributes":{
                          "claimDate":"2022-07-19",
                          "claimPhaseDates":{
                             "phaseChangeDate":"2022-08-10"
                          },
                          "claimType":"Compensa[...]
