---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RatingServiceBean/RatingService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.share.benefits.vba.va.gov/" name="RatingWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://services.share.benefits.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/RatingServiceBean/RatingWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findRatingData">
        <part name="parameters" element="tns:findRatingData"/>
        </message>
        <message name="findRatingDataResponse">
        <part name="parameters" element="tns:findRatingDataResponse"/>
        </message>
        <message name="ShareException">
        <part name="fault" element="tns:ShareException"/>
        </message>
        <message name="findRatingDataByPtcpntId">
        <part name="parameters" element="tns:findRatingDataByPtcpntId"/>
        </message>
        <message name="findRatingDataByPtcpntIdResponse">
        <part name="parameters" element="tns:findRatingDataByPtcpntIdResponse"/>
        </message>
        <portType name="RatingService">
        <operation name="findRatingData">
        <input wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataRequest" message="tns:findRatingData"/>
        <output wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataResponse" message="tns:findRatingDataResponse"/>
        <fault message="tns:ShareException" name="ShareException" wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingData/Fault/ShareException"/>
        </operation>
        <operation name="findRatingDataByPtcpntId">
        <input wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntIdRequest" message="tns:findRatingDataByPtcpntId"/>
        <output wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntIdResponse" message="tns:findRatingDataByPtcpntIdResponse"/>
        <fault message="tns:ShareException" name="ShareException" wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntId/Fault/ShareException"/>
        </operation>
        </portType>
        <binding name="RatingWebServicePortBinding" type="tns:RatingService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findRatingData">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="ShareException">
        <soap:fault name="ShareException" use="literal"/>
        </fault>
        </operation>
        <operation name="findRatingDataByPtcpntId">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="ShareException">
        <soap:fault name="ShareException" use="literal"/>
        </fault>
        </operation>
        </binding>
        <service name="RatingWebService">
        <port name="RatingWebServicePort" binding="tns:RatingWebServicePortBinding">
        <soap:address location="http://linktestbepbenefits.vba.va.gov:80/RatingServiceBean/RatingWebService"/>
        </port>
        </service>
        </definitions>
  recorded_at: Wed, 06 May 2020 13:57:19 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RatingServiceBean/RatingService?WSDL
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.0.2.15</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>53746376863068071</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findRatingData><fileNumber>796111863</fileNumber></tns:findRatingData></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findRatingData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMS4xMwAA</work:WorkContext></env:Header><S:Body><ns0:Fault
        xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://www.w3.org/2003/05/soap-envelope"><faultcode>ns0:Server</faultcode><faultstring>No
        record found for file number 796111863</faultstring><detail><ns0:ShareException
        xmlns:ns0="http://services.share.benefits.vba.va.gov/"><message>No record
        found for file number 796111863</message></ns0:ShareException></detail></ns0:Fault></S:Body></S:Envelope>
  recorded_at: Wed, 06 May 2020 13:57:19 GMT
recorded_with: VCR 5.1.0
