---
:services:

- :name: 'MHV_Rx'
  :base_uri: <%= "#{URI(Settings.mhv.rx.host).host}:#{URI(Settings.mhv.rx.host).port}" %>
  :endpoints:
    # data classes
    - :method: :get
      :path: "/mhv-api/patient/v1/bluebutton/geteligibledataclass"
      :file_path: "mhv/bluebutton/geteligibledataclass"
      :cache_multiple_responses:
        :uid_location: header
        :uid_locator: 'Token'
    # MHV rx active
    - :method: :get
      :path: "/mhv-api/patient/v1/prescription/getactiverx"
      :file_path: "mhv/prescription/getactiverx"
      :cache_multiple_responses:
        :uid_location: header
        :uid_locator: 'Token'
    # MHV rx history
    - :method: :get
      :path: "/mhv-api/patient/v1/prescription/gethistoryrx"
      :file_path: "mhv/prescription/gethistoryrx"
      :cache_multiple_responses:
        :uid_location: header
        :uid_locator: 'Token'
    # MHV Session
    - :method: :get
      :path: "/mhv-api/patient/v1/session"
      :file_path: "mhv/session"
      :cache_multiple_responses:
        :uid_location: 'header'
        :uid_locator: 'mhvCorrelationId'
    # MHV rx refill
    - :method: :post
      :path: "/mhv-api/patient/v1/prescription/rxrefill/*"
      :file_path: "mhv/prescription/rxrefill"
      :cache_multiple_responses:
        :uid_location: url
        :uid_locator: '\/rxrefill\/(.+)'
    # SM Session
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/session"
      :file_path: "mhv/session"
      :cache_multiple_responses:
        :uid_location: 'header'
        :uid_locator: 'mhvCorrelationId'
    # SM Folders
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/folder"
      :file_path: "mhv/secure_messaging/folders"
      :cache_multiple_responses:
        :uid_location: header
        :uid_locator: 'Token'
    # SM Folder/*
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/folder/*"
      :file_path: "mhv/secure_messaging/folder"
      :cache_multiple_responses:
        :uid_location: url
        :uid_locator: '\/folder\/(.+)'
    # SM Recipients
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/triageteam"
      :file_path: "mhv/secure_messaging/triageteam"
      :cache_multiple_responses:
        :uid_location: header
        :uid_locator: 'Token'
    # SM Folder messages
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/folder/*/message/page/*/pageSize/*"
      :file_path: "mhv/secure_messaging/folder_messages"
      :cache_multiple_responses:
        :uid_location: url
        :uid_locator: '\/folder\/(.+)\/message'
    # SM messages
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/message/*/read"
      :file_path: "mhv/secure_messaging/messages"
      :cache_multiple_responses:
        :uid_location: url
        :uid_locator: '\/message\/(.+)\/read'
    # SM thread
    - :method: :get
      :path: "/mhv-sm-api/patient/v1/message/*/history"
      :file_path: "mhv/secure_messaging/history"
      :cache_multiple_responses:
        :uid_location: url
        :uid_locator: '\/message\/(.+)\/history'
    # MHV account create
    - :method: :post
      :path: '/mhv-api/patient/v1/account/register'
      :file_path: 'mhv/account/register'
      :cache_multiple_responses:
        :uid_location: body
        :uid_locator: 'icn":"(\w+)"'
    # MHV account upgrade
    - :method: :post
      :path: '/mhv-api/patient/v1/account/upgrade'
      :file_path: 'mhv/account/upgrade'
      :cache_multiple_responses:
        :uid_location: body
        :uid_locator: 'userId":(\d+)'

# EVSS
- :name: 'EVSS'
  :base_uri: <%= "#{URI(Settings.evss.url).host}:#{URI(Settings.evss.url).port}" %>
  :endpoints:
  # PCIU email
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/emailAddress"
    :file_path: "evss/pciu/email"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/emailAddress"
    :file_path: "evss/pciu/post_email"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  # PCIU primary phone
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/primaryPhoneNumber"
    :file_path: "evss/pciu/primary_phone"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/primaryPhoneNumber"
    :file_path: "evss/pciu/post_primary_phone"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  # PCIU alternate phone
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/secondaryPhoneNumber"
    :file_path: "evss/pciu/alternate_phone"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/secondaryPhoneNumber"
    :file_path: "evss/pciu/post_alternate_phone"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  # PCIUAddress
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/states"
    :file_path: "evss/pciu_address/states"
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/countries"
    :file_path: "evss/pciu_address/countries"
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/mailingAddress"
    :file_path: "evss/pciu_address/address"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/mailingAddress"
    :file_path: "evss/pciu_address/address_update"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  # PPIU payment information
  - :method: :get
    :path: "/wss-ppiu-services-web/rest/ppiuServices/v1/paymentInformation"
    :file_path: "evss/ppiu/payment_information"
  - :method: :post
    :path: "/wss-ppiu-services-web/rest/ppiuServices/v1/paymentInformation"
    :file_path: "evss/ppiu/update_payment_information"

  # Intent To File
  - :method: :get
    :path: "/wss-intenttofile-services-web/rest/intenttofile/v1"
    :file_path: "evss/itf/all_itf"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :get
    :path: "/wss-intenttofile-services-web/rest/intenttofile/v1/compensation/active"
    :file_path: "evss/itf/active_itf"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-intenttofile-services-web/rest/intenttofile/v1/compensation"
    :file_path: "evss/itf/post_itf"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  # Disability Compensation Form
  - :method: :get
    :path: "/wss-form526-services-web/rest/form526/v1/ratedDisabilities"
    :file_path: "evss/disability_form/rated_disabilities"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :get
    :path: "/wss-form526-services-web-v2/rest/form526/v2/ratedDisabilities"
    :file_path: "evss/disability_form/rated_disabilities"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-form526-services-web/rest/form526/v1/submit"
    :file_path: "evss/disability_form/submit"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: <%= "/#{Settings.evss.alternate_service_name}/rest/form526/v2/submit" %>
    :file_path: "evss/disability_form/form526"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: <%= "/#{Settings.evss.alternate_service_name}/rest/form526/v2/validate" %>
    :file_path: "evss/disability_form/form526_validate"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  # Letters
  - :method: :get
    :path: "/wss-lettergenerator-services-web/rest/letters/v1"
    :file_path: "evss/letters/list"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :get
    :path: "/wss-lettergenerator-services-web/rest/letters/v1/letterBeneficiary"
    :file_path: "evss/letters/beneficiary"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
  - :method: :post
    :path: "/wss-lettergenerator-services-web/rest/letters/v1/*"
    :file_path: "evss/letters/download"

  # GIBS
  - :method: :get
    :path: "/wss-education-services-web/rest/education/chapter33/v1"
    :file_path: "evss/gibs"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  # Claims
  - :method: :get
    :path: <%= "/wss-claims-services-web-#{Settings.evss.versions.claims}/rest/vbaClaimStatusService/getClaims" %>
    :file_path: "evss/claims/index"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  - :method: :post
    :path: <%= "/wss-claims-services-web-#{Settings.evss.versions.claims}/rest/vbaClaimStatusService/getClaimDetailById" %>
    :file_path: "evss/claims/show"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'

  # VSO Search
  - :method: :post
    :path: <%= "/wss-common-services-web-#{Settings.evss.versions.common}/rest/vsoSearch/11.0/getCurrentInfo" %>
    :file_path: "evss/vso_search/get_current_info"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: 'va_eauth_pnid'
      :uid_location: header
      :uid_locator: 'ssn'

# MVI
- :name: 'MVI'
  :base_uri: <%= "#{URI(Settings.mvi.url).host}:#{URI(Settings.mvi.url).port}" %>
  :endpoints:
  - :method: :post
    :path: <%= URI(Settings.mvi.url).path %>
    :file_path: "mvi/profile"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '(?:root="2.16.840.1.113883.4.1" )?extension="(\d{9})"(?: root="2.16.840.1.113883.4.1")?'
  - :method: :post
    :path: <%= URI(Settings.mvi.url).path %>
    :file_path: "mvi/profile_icn"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: 'id extension="([V0-9]*)"(?: root="2.16.840.1.113883.4.349")'
  - :method: :post
    :path: <%= URI(Settings.mvi.url).path %>
    :file_path: "mvi/profile_icn"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: 'id (?:root="2.16.840.1.113883.4.349" )extension="([V0-9]*)"'
  - :method: :post
    :path: <%= URI(Settings.mvi.url).path %>
    :file_path: "mvi/profile_edipi"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '(?:root="2.16.840.1.113883.3.42.10001.100001.12" )?extension="(\d{10})"(?: root="2.16.840.1.113883.3.42.10001.100001.12")?'


# EMIS
- :name: 'EMIS'
  :base_uri: <%= "#{URI(Settings.emis.host).host}:#{URI(Settings.emis.host).port}" %>
  :endpoints:
  - :method: :post
    :path: "/VIERSService/eMIS/v1/VeteranStatusService"
    :file_path: "emis/veteran_status"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v13:edipiORicnValue>(\d+)<\/v13:edipiORicnValue>'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/military_service_episodes"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISserviceEpisodeRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/deployment"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISdeploymentRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/PaymentService"
    :file_path: "emis/combat_pay"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMIScombatPayRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/disabilities"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISdisabilitiesRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/guard_reserve_service_periods"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISguardReserveServicePeriodsRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/military_occupation"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISmilitaryOccupationRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/military_service_eligibility_info"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISmilitaryServiceEligibilityRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/PaymentService"
    :file_path: "emis/reserve_drill_days"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISreserveDrillDaysRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/retirement"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISretirementRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/PaymentService"
    :file_path: "emis/retirement_pay"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISretirementPayRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/PaymentService"
    :file_path: "emis/separation_pay"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISseparationPayRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

  - :method: :post
    :path: "/VIERSService/eMIS/v1/MilitaryInformationService"
    :file_path: "emis/unit_information"
    :cache_multiple_responses:
      :uid_location: body
      :uid_locator: '<v11:eMISunitInformationRequest>\s*<v12:edipiORicn>\s*<v13:edipiORicnValue>(\d+)'

# Appeals
- :name: 'Appeals'
  :base_uri: <%= "#{URI(Settings.appeals.host).host}:#{URI(Settings.appeals.host).port}" %>
  :endpoints:
  - :method: :get
    :path: "/api/v2/appeals"
    :file_path: "appeals/get_appeals"
    :cache_multiple_responses:
      :uid_location: header
      :uid_locator: ssn
  - :method: :get
    :path: "/health-check"
    :file_path: "appeals/health-check"

# IHUB
- :name: 'IHub'
  :base_uri: <%= "#{URI(Settings.ihub.url).host}:#{URI(Settings.ihub.url).port}" %>
  :endpoints:
  # Appointments
  - :method: :get
    :path: "/WebParts/DEV/api/Appointments/1.0/json/ftpCRM/*"
    :file_path: "ihub/appointments/default"

# Search
- :name: 'Search'
  :base_uri: <%= "#{URI(Settings.search.url).host}:#{URI(Settings.search.url).port}" %>
  :endpoints:
  # Search results
  - :method: :get
    :path: "/api/v2/search/i14y"
    :file_path: "search/default"

# Okta
- :name: 'Okta'
  :base_uri: <%= "#{URI(Settings.oidc.base_api_url).host}:#{URI(Settings.oidc.base_api_url).port}" %>
  :endpoints:
  # User
  - :method: :get
    :path: "/api/v1/users/*"
    :file_path: "okta/users"
    :cache_multiple_responses:
      :uid_location: url
      :uid_locator:  '\/api\/v1\/users\/(.*)'
  # Keys
  - :method: :get
    :path: "/oauth2/default/v1/keys"
    :file_path: "okta/keys"
  # Metadata
  - :method: :get
    :path: "/oauth2/default/.well-known/oauth-authorization-server"
    :file_path: "okta/metadata"

# VAOS
- :name: 'VAOS'
  :base_uri: <%= "#{URI(Settings.vaos.url).host}:#{URI(Settings.vaos.url).port}" %>
  :endpoints:
  - :method: :get
    :path: "/appointments/v1/patients/*/appointments"
    :file_path: "vaos/get_appointments"
    :cache_multiple_responses:
      :uid_location: url
      :uid_locator:  '\/appointments\/v1\/patients\/(.*)\/appointments'
