---
:services:

# EVSS::PCIUAddress::Service
- :base_uris:
  - csraciapp6.evss.srarad.com
  :endpoints:
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/states"
    :file_path: "evss/pciu_address"
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/countries"
    :file_path: "evss/pciu_address"
  - :method: :get
    :path: "/wss-pciu-services-web/rest/pciuServices/v1/mailingAddress"
    :file_path: "evss/pciu_address"
    :cache_multiple_responses: true

# MVI
- :base_uris:
  - ps-dev.commserv.healthevet.va.gov
  :endpoints:
  - :method: :post
    :path: "/psim_webservice/IdMWebService"
    :file_path: "mvi/find_profile"
    :cache_multiple_responses: true
    :timestamp_regex:
    - 'creationTime value="(\d{14})"'
    - 'extension="(200VGOV-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})"'
