personalIdentification:
  ssn: [identity_information, ssn_last_four]
  fileNumber: [va_file_number_last_four]
personalData:
  fullName: [identity_information, full_name]
  address: [contact_information, address]
  phone: [contact_information, us_phone]
  dateOfBirth: [identity_information, date_of_birth]
income:
  name: [va_awards_composite, name]
  amount: [va_awards_composite, amount]
