---
http_interactions:
- request:
    method: post
    uri: https://fake-carma.salesforce.com/services/data/v47.0/composite/tree/ContentVersion
    body:
      encoding: UTF-8
      string: '{"records":[{"attributes":{"type":"ContentVersion","referenceId":"1010CG"},"Title":"10-10CG_Jane_Doe_06-29-2020","PathOnClient":"10-10CG_c41b7fe0-f1f3-4611-9c56-a97fb3884cf8.pdf","CARMA_Document_Type__c":"1010CG","CARMA_Document_Date__c":"2020-06-29","FirstPublishLocationId":"aB935000000F3VnCAK","VersionData":"<PDF_AS_BASE64>"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <CARMA_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D3500000092vNm";
      Sforce-Limit-Info:
      - api-usage=3466/202580000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"hasErrors":true,"results":[{"referenceId":"1010CG","errors":[{"statusCode":"INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST","message":"Document
        Type: bad value for restricted picklist field: 1010CG","fields":["CARMA_Document_Type__c"]}]}]}'
  recorded_at: Mon, 29 Jun 2020 15:42:09 GMT
recorded_with: VCR 6.0.0
