---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/eligibility?clinicalServiceId=primaryCare&facilityId=100&type=direct
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        Content-Type:
          - text/html; charset=UTF-8
        Etag:
          - '"5fa5087d-3d6"'
      body:
        encoding: UTF-8
        string: '<html>\r\n<head><title>500 Internal Server Error</title></head>\r\n<body>\r\n<center><h1>500 Internal Server Error/html>\r\n'
    recorded_at: Fri, 30 Apr 2021 18:21:00 GMT
recorded_with: VCR 6.0.0
