---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vaos/v1/patients/1012845331V153043/eligibility?clinicalServiceId=primaryCare&facilityId=100&type=direct
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.11.0
      B3:
      - b274774f1605c25e-d41e0c5a618f000a-1
      X-Vamf-Build:
      - 1b19ecd
      X-Vamf-Timestamp:
      - '2021-10-12T15:44:47+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "decisionDate": "2021-10-14T18:14:03.135143Z",
          "clinicalServiceId": "primaryCare",
          "type": "direct",
          "eligible": false,
          "ineligibilityReasons": [
            {
              "coding": [
                {
                  "code": "facility-cs-direct-disabled",
                  "display":"direct booking is disabled for the clinical service at the facility"
                }
              ]
            }
          ]
        }
  recorded_at: Thu, 14 Oct 2021 18:14:03 GMT
recorded_with: VCR 6.0.0
