---
http_interactions:
- request:
    method: post
    uri: https://essapi-sysb.myhealth.va.gov/mhv-api/patient/v1/account/register
    body:
      encoding: UTF-8
      string: '{"icn":"1008704012V552302","isPatient":true,"isPatientAdvocate":false,"isVeteran":true,"isChampVaBeneficiary":false,"isServiceMember":false,"isEmployee":false,"isHealthCareProvider":false,"isOther":false,"city":"Laurel","country":"USA","zip":"12345","state":"MD","address1":"123
        Main St","email":"test@test.com","signInPartners":"VETS.GOV","termsVersion":"v3.2"}'
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - 3Olp2DAjWDaI8B4vV4cHzHRJTYZO+XfMWEiVSGzFDYg
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorCode":150,"developerMessage":"Error:MVI Response has error :
        Error Code: AE;","message":"MVI Unknown Issue Occurred"}'
  recorded_at: Mon, 20 Mar 2017 18:41:22 GMT
recorded_with: VCR 3.0.3
