---
http_interactions:
- request:
    method: post
    uri: https://test.vets.gov/wss-common-services-web-11.0/rest/ratingInfoService/11.0/findRatingInfoPID
    body:
      encoding: UTF-8
      string: '{"participantId":"123456789"}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Issueinstant:
      - '2016-09-28T23:34:29Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Pnid: []
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":null,"edi":"1105051936","firstName":"Jane","lastName":"Doe"}}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ratingRecord" : {
            "deathRatingRecord" : {
              "ratings" : [ ],
              "returnCode" : "SHAR 9999",
              "returnMessage" : "Records found"
            },
            "disabilityRatingRecord" : {
              "numberOfRecords" : "0",
              "ratings" : [ ],
              "returnCode" : "SHAR 9999",
              "returnMessage" : "Records found",
              "serviceConnectedCombinedDegree" : "2"
            },
            "familyMemberRatingRecord" : {
              "ratings" : [ ],
              "returnCode" : "SHAR 9999",
              "returnMessage" : "Records found"
            },
            "otherRatingRecord" : {
              "ratings" : [ ],
              "returnCode" : "SHAR 9999",
              "returnMessage" : "Records found"
            },
            "specialMonthlyCompensationRatingRecord" : {
              "numberOfSMCParagraphRecords" : "0",
              "numberOfSMCRecords" : "0",
              "returnCode" : "SHAR 9999",
              "returnMessage" : "Records found",
              "smcParagraphRatingsList" : [ ],
              "smcRatingsList" : [ ]
            }
          },
          "serviceConnectedCombinedDegree" : "2",
          "userPercentOfDisability" : "2"
        }
  recorded_at: Wed, 28 Sep 2016 23:34:29 GMT
recorded_with: VCR 3.0.3
