<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>

<h4>About this Document</h4>

<p>
  The Hypertension Rapid Ready for Decision system retrieves and summarizes
  VHA medical records related to hypertension claims for increase submitted on va.gov.
  VSRs and RVSRs can develop and rate this claim without ordering an exam if there is
  sufficient existing evidence to show predominance according to
  <a href="https://www.ecfr.gov/current/title-38/part-4">DC 7101 (Hypertension) Rating Criteria</a>.
  This is not new guidance, but rather a way to
  <a href="https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR7629a1b1e9bf6f8/section-3.159">
    operationalize existing statutory rules
  <a>
  in 38 U.S.C ยง 5103a(d).
</p>

<%#
  Due to a bug in prawn-markup, this is the only way to reliably generate spaces.
  See https://github.com/puzzle/prawn-markup/issues/33.
%>
<p><br/></p>

<h5>
  Some medical data are not included in this PDF. Please check for additional readings and sources.
</h5>

<p>
  This summary does not check all sources of medical information for Veterans that
  are necessary for you to rate this claim accurately.
  You will need to check these sources manually to gather all available evidence.
</p>

<p><br/></p>

<p>
  <b>Clinical notes.</b>
  This data may not match all the medical evidence in CAPRI. For example, it may not find blood
  pressure readings entered into clinical notes.
</p>

<p><br/></p>

<p>
  <b>Data outside of VAMC CAPRI or VistA.</b> This report does not check the following sources:
  <ul>
    <li>Private medical records</li>
    <li>VAMC data for clinics using CERNER EHR</li>
    <li>Department of Defense/JVL medical data</li>
    <li>Documents in the Veteran's VBMS eFolder</li>
  </ul>
</p>
