<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>

<h3>Hypertension Rating Schedule</h3>

<table>
  <tr>
    <td>10%</td>
    <td>
      Systolic pressure predominantly 160 or more; or diastolic pressure predominantly 100 or more; 
      or minimum evaluation for an individual with a history of diastolic pressure predominantly
      100 or more who requires continuous medication for control
    </td>
  </tr>
  <tr>
    <td>20%</td>
    <td>
      Systolic pressure predominantly 200 or more; or diastolic pressure predominantly 110 or more
    </td>
  </tr>
  <tr>
    <td>40%</td>
    <td>
      Diastolic pressure 120 or more
    </td>
  </tr>
  <tr>
    <td>60%</td>
    <td>
      Diastolic pressure 130 or more
    </td>
  </tr>
</table>

<p>
  <%= link_to('https://www.ecfr.gov/current/title-38/chapter-I/part-4') { 'View rating schedule' } %>
</p><br/>
