---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/profile-service/profile/v3/2.16.840.1.113883.3.42.10001.100001.12/1005123832%5ENI%5E200DOD%5EUSDOD
    body:
      encoding: UTF-8
      string: '{"bios":[{"bioPath":"genderIdentityTraits"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      - 'true'
      Vaprofiletxauditid:
      - 5474be78-a483-422d-b5a0-cdf49114fd64
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"genderIdentityTraits":{"sexualOrientation":[{"sexualOrientationCode":"STH","sexualOrientationName":"Straight
        or heterosexual"},{"sexualOrientationCode":"LGH","sexualOrientationName":"Lesbian,
        gay or homosexual"}],"pronoun":[{"pronounCode":"ZIR","pronounName":"Ze/zir/zirs"},{"pronounCode":"PTN","pronounName":"Patient
        Name"}],"preferredName":{"preferredName":"MRROBOT"}}}}'
  recorded_at: Wed, 14 Feb 2024 15:37:29 GMT
recorded_with: VCR 6.2.0
