---
http_interactions:
- request:
    method: post
    uri: https://int.vet360.va.gov/profile-service/profile/v3/2.16.840.1.113883.4.349/e444837a-e88b-4f59-87da-10d3c74c787b%5EPN%5E200VIDM%5EUSDVA
    body:
      encoding: UTF-8
      string: '{"bios":[{"bioPath":"healthBenefit"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      - 'true'
      Vaprofiletxauditid:
      - ebcbde1c-fcb4-4552-a2bc-fd2507c30a91
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"healthBenefit":{"identity":{"sensitivityInformation":{"sensitivityFlag":false,"sensitivityChangeSource":"HEC","sensitivityChangeSite":"742
        - HEALTH ELIGIBILITY CENTER"}},"associatedPersons":[{"contactType":"Primary
        Next of Kin","givenName":"Bob","familyName":"Hope","relationship":"UNRELATED
        FRIEND","addressLine1":"100 MAIN STREET","city":"PLANO","state":"TX","zipCode":"75024"},{"contactType":"Emergency
        Contact","givenName":"Bob","familyName":"Hope","relationship":"UNRELATED FRIEND","addressLine1":"100
        MAIN STREET","city":"PLANO","state":"TX","zipCode":"75024"}],"healthCareEligibilityFactors":{"eligibilityStatus":"PENDING
        VERIFICATION","veteran":true,"enrollmentEffectiveDate":"2023-08-31T21:39:13Z","ineligibleRecordCreateDate":"2023-08-23T18:48:20Z","eligibleForMedicaid":{"eligibleForMedicaid":false,"medicaidLastModifiedDate":"2023-08-23T18:06:00Z"},"clinicalDecisions":{"militarySexualTrauma":{"militarySexualTraumaStatus":"Unknown,
        Not Screened"},"spinalCordInjury":{"spinalCordInjuryType":"NOT APPLICABLE"}},"specialAuthority":{"agentOrangeIndicator":false,"environmentalContaminantsIndicator":false,"radiationExposureIndicator":false}},"healthCareCoverages":[{"insuredRelationship":"Veteran","companyName":"BCBS","groupNumber":"123456","policyEffectiveDate":"20221113","policyHolderName":"greg
        anderson","policyNumber":"12-99283","lastEditedDate":"2023-08-31T20:44:57Z","addressLine1":"100
        INSURANCE WAY","city":"PLANO","state":"TX","zipCode":"75024","country":"USA","insurancePhones":[{"phoneNumber":"(843)737-4291","phoneType":"Business"}]},{"insuredRelationship":"Veteran","companyName":"Medicare","groupName":"Part
        A","groupNumber":"Part A","enrolledInPartA":true,"partAEffectiveDate":"20220501000000","policyHolderName":"ANDERSON,
        GREG","policyNumber":"1A2B3C4D5E6","lastEditedDate":"2023-08-31T21:03:11Z"}],"veteranMedicalBenefitPlans":[{"veteranMedicalBenefitPlanName":"Applicant
        in Process","veteranMedicalBenefitPlanEffectiveDate":"2023-08-31T21:39:17Z","veteranMedicalBenefitPlanCopayEffectiveDate":"2023-08-31T21:39:17Z"}],"healthCare":{"appointmentRequestResponse":true,"appointmentRequestDate":"2023-11-01T05:00:00Z","appointmentRequestChangeDate":"2023-11-01T20:50:33Z","originalAppointmentRequestChangeDate":"2015-06-17T15:54:46Z","originalAppointmentRequestResponse":false,"preferredFacilities":[{"preferredFacility":"463GA
        - FAIRBANKS VA CLINIC"}]}}}}'
  recorded_at: Mon, 08 Jan 2024 16:01:24 GMT
recorded_with: VCR 6.2.0
