---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer blahblech
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '42'
      X-Ratelimit-Limit-Minute:
      - '120'
      X-Ratelimit-Remaining-Minute:
      - '119'
      Ratelimit-Limit:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "type": "https://api.va.gov/services/direct-deposit-management/errors/constraint-violation",
  "title": "Bad Request",
  "status": 400,
  "detail": "getDirectDeposit.icn must be between 17 and 17",
  "instance": "e48e3aeb-f312-11ec-88e8-f55e56a472a2",
  "errorCodes": []
}'
  recorded_at: Wed, 03 May 2023 19:59:49 GMT
recorded_with: VCR 6.1.0
