---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '7'
      X-Ratelimit-Limit-Minute:
      - '60'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: '{
  "type": "https://api.va.gov/services/direct-deposit-management/errors/generic/not-found",
  "title": "Person for ICN not found",
  "status": 404,
  "detail": "No data found for ICN",
  "instance": "e6d1119e-dc91-4b4d-b583-0f309de0807b"
}'
  recorded_at: Thu, 05 Oct 2023 18:00:52 GMT
recorded_with: VCR 6.2.0
