---
http_interactions:
- request:
    method: post
    uri: http://csraciapp6.evss.srarad.com:7003/wss-claims-services-web-3.1/rest/vbaClaimStatusService/getClaimDetailById
    body:
      encoding: UTF-8
      string: '{"id":"189625"}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Issueinstant:
      - '2015-04-17T14:52:48Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Pnid: []
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "claim" : {
            "appealPossible" : "No",
            "attentionNeeded" : "Yes",
            "baseEndProductCode" : "400",
            "benefitClaimTypeCode" : "400CORRC",
            "claimCompleteDate" : "08/10/2012",
            "claimConsolidatable" : true,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "latestPhaseType" : "Complete",
              "phase1CompleteDate" : "10/25/2012",
              "phase2CompleteDate" : "10/26/2012",
              "phase3CompleteDate" : "10/27/2012",
              "phase4CompleteDate" : "10/28/2012",
              "phase5CompleteDate" : "10/29/2012",
              "phase6CompleteDate" : "10/30/2012",
              "phase7CompleteDate" : "10/31/2012",
              "phaseChangeDate" : "10/31/2012",
              "phaseMaxEstDate" : "08/28/2012",
              "phaseMinEstDate" : "07/17/2012",
              "phaseTypeChangeInd" : "78"
            },
            "claimTrackedItems" : {
              "neverReceivedFromOthersList" : [ ],
              "neverReceivedFromYouList" : [ ],
              "receivedFromOthersList" : [ {
                "description" : "21-4142",
                "displayedName" : "Request 9",
                "overdue" : false,
                "receivedDate" : "02/17/2010",
                "trackedItemId" : 1,
                "trackedItemStatus" : "ACCEPTED",
                "uploaded" : false,
                "uploadsAllowed" : false
              }, {
                "description" : "What was received item one.",
                "displayedName" : "Request 10",
                "overdue" : false,
                "receivedDate" : "08/29/2012",
                "trackedItemId" : 2,
                "trackedItemStatus" : "ACCEPTED",
                "uploaded" : false,
                "uploadsAllowed" : false
              }, {
                "description" : "What was received item two.",
                "displayedName" : "Request 11",
                "overdue" : false,
                "receivedDate" : "09/24/2012",
                "trackedItemId" : 4,
                "trackedItemStatus" : "ACCEPTED",
                "uploaded" : true,
                "uploadsAllowed" : false,
                "vbaDocuments" : [ {
                  "corporateDocumentId" : 4,
                  "documentId" : "{uuid4}",
                  "documentSize" : 0,
                  "documentTypeCode" : "L102",
                  "documentTypeId" : "111",
                  "documentTypeLabel" : "pdf",
                  "fileName" : "SEP_41ba9424-e507-4e2c-80b4-01899826cab3.pdf",
                  "mimeType" : "application/pdf",
                  "originalFileName" : "name4",
                  "receiptDate" : 1427342400000,
                  "source" : "SEP",
                  "submitter" : {
                    "firstName" : "Andrew",
                    "lastName" : "Luck",
                    "personId" : "222"
                  },
                  "trackedItemId" : 4,
                  "uploadDate" : 1411474974000,
                  "veteran" : {
                    "fileNumber" : "796104437",
                    "firstName" : "MARK",
                    "lastName" : "WEBB"
                  }
                } ]
              }, {
                "description" : "What was received item three.",
                "displayedName" : "Request 12",
                "overdue" : false,
                "receivedDate" : "11/29/2012",
                "trackedItemId" : 41,
                "trackedItemStatus" : "ACCEPTED",
                "uploaded" : false,
                "uploadsAllowed" : false
              } ],
              "receivedFromYouList" : [ ],
              "stillNeedFromOthersList" : [ {
                "description" : "Requested verification of date of birth or age at time of entrance on active duty.",
                "displayedName" : "Request 3",
                "openedDate" : "03/21/2010",
                "overdue" : false,
                "suspenseDate" : "05/22/2010",
                "trackedItemId" : 31,
                "trackedItemStatus" : "NEEDED",
                "uploaded" : false,
                "uploadsAllowed" : true
              }, {
                "description" : "Requested personal history information.",
                "displayedName" : "Request 4",
                "openedDate" : "03/22/2010",
                "overdue" : false,
                "suspenseDate" : "05/24/2010",
                "trackedItemId" : 3,
                "t[...]
