---
http_interactions:
- request:
    method: get
    uri: http://csraciapp6.evss.srarad.com:7003/wss-claims-services-web-3.1/rest/vbaClaimStatusService/getOpenClaims
    body:
      encoding: UTF-8
      string: ''
    headers:
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Authenticationauthority:
      - eauth
      Iv-User:
      - dslogoneauthuser
      Va-Eauth-Emailaddress:
      - jane.doe@va.gov
      Va-Eauth-Birthdate:
      - '1999-10-09T08:06:12-04:00'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Issueinstant:
      - '2015-04-17T14:52:48Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Middlename:
      - A
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "allIntentToFiles" : [ ],
          "openClaims" : [ {
            "appealPossible" : "No",
            "attentionNeeded" : "No",
            "baseEndProductCode" : "020",
            "benefitClaimTypeCode" : "020NEW",
            "claimConsolidatable" : false,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "02/27/2015"
            },
            "claimStatus" : "PEND",
            "claimTrackedItems" : { },
            "consolidatedTrackedItemsList" : [ ],
            "date" : "02/01/2015",
            "dbqList" : [ ],
            "decisionNotificationSent" : "No",
            "developmentLetterSent" : "No",
            "endProductCode" : "025",
            "id" : "600022001",
            "latestEvidenceRecdDate" : "12/31/2013",
            "newEvidenceReceived" : false,
            "pastEstClaimDate" : false,
            "pastEvidenceDueDate" : false,
            "pastPhaseEstDate" : false,
            "programType" : "CPL",
            "status" : "UNDER REVIEW",
            "statusChanged" : false,
            "statusType" : "Compensation",
            "vbaDocumentList" : [ ],
            "waiver5103Submitted" : false
          }, {
            "appealPossible" : "No",
            "attentionNeeded" : "No",
            "baseEndProductCode" : "020",
            "benefitClaimTypeCode" : "020NEW",
            "claimConsolidatable" : false,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "02/27/2015"
            },
            "claimStatus" : "PEND",
            "claimTrackedItems" : { },
            "consol[...]
