---
http_interactions:
- request:
    method: get
    uri: https://test.vets.gov/wss-claims-services-web-3.1/rest/vbaClaimStatusService/getClaims
    body:
      encoding: UTF-8
      string: ''
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Issueinstant:
      - '2015-04-17T14:52:48Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Pnid: []
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":null,"edi":"1105051936","firstName":"Jane","lastName":"Doe"}}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "allIntentToFiles" : [ {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272786,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272787,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272788,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272788,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272789,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272789,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272789,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272790,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272790,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272790,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          } ],
          "anyHistoricalClaimsConsolidatable" : true,
          "historicalClaims" : [ {
            "appealPossible" : "Yes",
            "attentionNeeded" : "No",
            "claimCompleteDate" : "08/13/2012",
            "claimConsolidatable" : false,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "08/10/2012"
            },
            "claimStatus" : "CLR",
            "claimTrackedItems" : { },
            "closeDate" : "08/10/2012",
            "consolidatedTrackedItemsList" : [ ],
            "date" : "09/25/2012",
            "dbqList" : [ ],
            "decisionNotificationSent" : "Yes",
            "developmentLetterSent" : "Yes",
            "earliestEvidenceDueDate" : "06/21/2012",
            "id" : "183654",
            "latestEvidenceRecdDate" : "11/29/2012",
            "newEvidenceReceived" : false,
            "pastEstClaimDate" : false,
            "pastEvidenceDueDate" : false,
            "pastPhaseEstDate" : false,
            "programType" : "CPL",
            "status" : "COMPLETE",
            "statusChanged" : false,
            "statusType" : "Compensation",
            "vbaDocumentList" : [ ],
            "waiver5103Submitted" : false
          }, {
            "appealPossible" : "Yes",
            "attentionNeeded" : "No",
            "claimCompleteDate" : "08/10/2012",
            "claimConsolidatable" : false,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "08/10/2012"
            },
            "claimStatus" : "CLR",
            "claimTrackedItems" : { },
            "closeDate" : "08/11/2012",
            "consolidatedTrackedItemsList" : [ ],
            "date" : "09/25/2011",
            "dbqList" : [ ],
            "decisionNotificationSent" : "Yes",
            "developmentLetterSent" : "Yes",
            "earliestEvidenceDueDate" : "06/21/2012",
            "id" : "189655",
            "latestEvidenceRecdDate" : "11/29/2012",
            "newEvidenceReceived" : false,
            "pastEstClaimDate" : false,
            "pastEvidenceDueDate" : false,
            "pastPhaseEstDate" : false,
            "programType" : "CPL",
            "status" : "COMPLETE",
            "statusChanged" : false,
            "statusType" : "Compensation",
            "vbaDocumentList" : [ ],
            "waiver5103Submitted" : false
          }, {
            "appealPossible" : "Yes",
            "attentionNeeded" : "No",
            "benefitClaimTypeCode" : "400CORRC",
            "claimCompleteDate" : "08/10/2012",
            "claimConsolidatable" : true,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "08/10/2012"
            },
            "claimStatus" : "CLR",
            "claimTrackedItems" : { },
            "closeDate" : "08/12/2012",
            "consolidatedTrackedItemsList" : [ ],
            "date" : "09/02/2010",
            "dbqList" : [ ],
            "decisionNotificationSent" : "Yes",
            "developmentLetterSent" : "Yes",
            "earliestEvidenceDueDate" : "06/21/2012",
            "id" : "189625",
            "latestEvidenceRecdDate" : "11/29/2012",
            "newEvidenceReceived" : false,
            "pastEstClaimDate" : false,
            "pastEvidenceDueDate" : false,
            "pastPhaseEstDate" : false,
            "programType" : "CPL",
            "status" : "COMPLETE",
            "statusChanged" : false,
            "statusType" : "Compensation",
            "vbaDocumentList" : [ ],
            "waiver5103Submitted" : false
          } ],
          "openClaims" : [ {
            "appealPossible" : "No",
            "attentionNeeded" : "No",
            "baseEndProductCode" : "400",
            "benefitClaimTypeCode" : "400CORRC",
            "claimConsolidatable" : true,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "12/28/2012"
            },
            "claimStatus" : "PEND",
            "claimTrackedItems" : { },
            "consolidatedTrackedItemsList" : [ ],
            "date" : "12/01/2011",
            "dbqList" : [ {
              "dbqAdditionalDocumentationNeeded" : "N",
              "dbqFormNumber" : "21-0960P-3",
              "dbqFormTitle" : "Review Post Traumatic Stress Disorder (PTSD)",
              "dbqUrl" : "http://www.vba.va.gov/pubs/forms/VBA-21-0960P-3-ARE.pdf",
              "diagnosticCode" : "9411",
              "disabilityName" : "Post traumatic stress disorder",
              "id" : 189675
            } ],
            "decisionNotificationSent" : "No",
            "developmentLetterSent" : "No",
            "endProductCode" : "401",
            "id" : "189675",
            "latestEvidenceRecdDate" : "11/29/2012",
            "maxEstClaimDate" : "10/22/2013",
            "minEstClaimDate" : "04/11/2013",
            "newEvidenceReceived" : false,
            "pastEstClaimDate" : true,
            "pastEvidenceDueDate" : false,
            "pastPhaseEstDate" : false,
            "programType" : "CPL",
            "status" : "UNDER REVIEW",
            "statusChanged" : false,
            "statusType" : "Compensation",
            "submitterApplicationCode" : "EBN",
            "submitterRoleCode" : "VET",
            "vbaDocumentList" : [ ],
            "waiver5103Submitted" : false
          }, {
            "appealPossible" : "No",
            "attentionNeeded" : "Yes",
            "baseEndProductCode" : "400",
            "benefitClaimTypeCode" : "400CORRC",
            "claimConsolidatable" : true,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "phaseChangeDate" : "12/14/2012"
            },
            [...]
