---
http_interactions:
- request:
    method: post
    uri: https://test.vets.gov/wss-claims-services-web-3.0/rest/vbaClaimStatusService/getClaimDetailById
    body:
      encoding: UTF-8
      string: '{"id":189625}'
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Firstname:
      - JOHNNIE
      Va-Eauth-Lastname:
      - WEAVER
      Va-Eauth-Issueinstant:
      - '2016-10-24T21:51:58Z'
      Va-Eauth-Dodedipnid:
      - 1005169255
      Va-Eauth-Pid:
      - 600043180
      Va-Eauth-Pnid:
      - 796123607
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":796123607,"edi":1005169255,"firstName":"JOHNNIE","lastName":"WEAVER"}}'
      Content-Type:
      - application/json
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Token: "<SESSION_TOKEN>"
    body:
      encoding: UTF-8
      string: |-
        {
          "claim" : {
            "appealPossible" : "No",
            "attentionNeeded" : "Yes",
            "baseEndProductCode" : "110",
            "benefitClaimTypeCode" : "110LCOMP",
            "claimCompleteDate" : "08/10/2012",
            "claimConsolidatable" : false,
            "claimPhaseDates" : {
              "currentPhaseBack" : false,
              "everPhaseBack" : false,
              "latestPhaseType" : "Complete",
              "phase7CompleteDate" : "08/10/2012",
              "phaseChangeDate" : "08/10/2012",
              "phaseTypeChangeInd" : "78"
            },
            "claimTrackedItems" : {
              "neverReceivedFromOthersList" : [ ],
              "neverReceivedFromYouList" : [ {
                "closedDate" : "07/10/2011",
                "description" : "Continuity - med evid since service needed (Hearing Loss)",
                "displayedName" : "Request 3",
                "dvlpmtTc" : "CLMNTRQST",
                "overdue" : false,
                "requestedDate" : "03/23/2010",
                "trackedItemId" : 143315,
                "trackedItemStatus" : "NO_LONGER_REQUIRED",
                "uploaded" : false,
                "uploadsAllowed" : false
              } ],
              "receivedFromOthersList" : [ ],
              "receivedFromYouList" : [ ],
              "stillNeedFromOthersList" : [ {
                "description" : "Medical evidence from private provider",
                "displayedName" : "Request 4",
                "dvlpmtTc" : "3RDPRTYRQST",
                "itemDescription" : "jungle rot, skin condition, Hearing Loss",
                "openedDate" : "03/16/2010",
                "overdue" : false,
                "suspenseDate" : "03/25/2010",
                "thirdPartyName" : "VET CENTER",
                "trackedItemId" : 139813,
                "trackedItemStatus" : "NEEDED",
                "uploaded" : false,
                "uploadsAllowed" : true
              }, {
                "description" : "Requested personal history information.",
                "displayedName" : "Request 5",
                "dvlpmtTc" : "MANLPIESRQST",
                "openedDate" : "03/23/2010",
                "overdue" : false,
                "suspenseDate" : "05/22/2010",
      [...]
