---
http_interactions:
- request:
    method: post
    uri: https://test.vets.gov/wss-claims-services-web-3.0/rest/claimServicesExternalService/listAllIntentToFile
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Firstname:
      - JOHNNIE
      Va-Eauth-Lastname:
      - WEAVER
      Va-Eauth-Issueinstant:
      - '2016-10-24T21:52:14Z'
      Va-Eauth-Dodedipnid:
      - 1005169255
      Va-Eauth-Pid:
      - 600043180
      Va-Eauth-Pnid:
      - 796123607
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":796123607,"edi":1005169255,"firstName":"JOHNNIE","lastName":"WEAVER"}}'
      Content-Type:
      - application/json
      Token: "<SESSION_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Token: "<SESSION_TOKEN>"
    body:
      encoding: UTF-8
      string: |-
        {
          "allIntentToFiles" : [ {
            "associatedBenefitClaimId" : 600034191,
            "corpParticpantId" : 600043180,
            "expirationDate" : 1463601628000,
            "intentToFileID" : 4465,
            "receivedDate" : 1431979228000,
            "source" : "EBN",
            "status" : "CLAIM_RECEIVED",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 600034338,
            "corpParticpantId" : 600043180,
            "expirationDate" : 1472315891000,
            "intentToFileID" : 6867,
            "receivedDate" : 1440693491000,
            "source" : "EBN",
            "status" : "CLAIM_RECEIVED",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 0,
            "corpParticpantId" : 600043180,
            "[...]
