---
http_interactions:
- request:
    method: post
    uri: https://test.vets.gov/wss-claims-services-web-3.0/rest/claimServicesExternalService/listAllIntentToFile
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Firstname:
      - Jane
      Va-Eauth-Lastname:
      - Doe
      Va-Eauth-Authenticationauthority:
      - eauth
      Iv-User:
      - dslogoneauthuser
      Va-Eauth-Emailaddress:
      - jane.doe@va.gov
      Va-Eauth-Birthdate:
      - '1999-10-09T08:06:12-04:00'
      Va-Eauth-Pid:
      - '123456789'
      Va-Eauth-Issueinstant:
      - '2015-04-17T14:52:48Z'
      Va-Eauth-Dodedipnid:
      - '1105051936'
      Va-Eauth-Middlename:
      - A
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Assurancelevel:
      - '2'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "allIntentToFiles" : [ {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272786,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272787,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272788,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272788,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272789,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272789,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272789,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272790,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          }, {
            "associatedBenefitClaimId" : 123,
            "corpParticpantId" : 1,
            "expirationDate" : 1440791272790,
            "intentToFileID" : 1,
            "receivedDate" : 1440791272790,
            "source" : "VDC",
            "status" : "ACTIVE",
            "type" : "COMPENSATION",
            "vetParticipantId" : 0
          } ]
        }
  recorded_at: Fri, 19 Aug 2016 18:34:58 GMT
recorded_with: VCR 3.0.3
