mvi:
  url: http://ps-dev.commserv.healthevet.va.gov:8110/psim_webservice/IdMWebService
  mock: true
  processing_code: T
  client_cert_path: config/certs/vetsgov-localhost.crt
  client_key_path: config/certs/vetsgov-localhost.key

betamocks:
  enabled: true
  recording: false
  # the cache dir depends on how you run the api
  # cache_dir: ../vets-api-mockdata # via rails; e.g. bundle exec rails s or bundle exec rails c
  cache_dir: /cache # via docker; e.g. make up or make console
  services_config: config/betamocks/services_config.yml

saml_ssoe:
  idme_authn_context: https://eauth.va.gov/csp?Select=idme3

account:
  enabled: true

locators:
  mock_gis: true

web_origin_regex: \Ahttps?:\/\/.*\z

modules_appeals_api:
  documentation:
    notice_of_disagreements_v1: true
