hostname: www.example.com # possible fallback for unsafe request.host
virtual_hosts: ["www.example.com", "localhost", "127.0.0.1", "example.org"] # Safe host names
vsp_environment: ~

secret_key_base: be8e6b6b16993e899c2c4fd08f7c6a6e5ad5f295b369d22f126d4569d2a0e44c4f04b13c02d65ab701452ef0a24ed2db7af441214ed5ae98c6113442f5846605

mvi:
  url: http://www.example.com/
  mock: false

locators:
  providers_enabled: true

reports:
  aws:
    access_key_id: key
    bucket: bucket
    region: region
    secret_access_key: secret

saml:
  cert_path: spec/support/certificates/ruby-saml.crt
  key_path: spec/support/certificates/ruby-saml.key

saml_ssoe:
  cert_path: spec/support/certificates/ruby-saml.crt
  key_path: spec/support/certificates/ruby-saml.key

edu:
  prefill: true
  sftp:
    relative_path: 'spool_files'

pension_burial:
  prefill: true
  sftp:
    relative_path: 'VETSGOV_PENSION'

hca:
  prefill: true

shrine:
  claims:
    type: memory
    path: moot
  local:
    type: local
    path: testing-local
  remotes3:
    type: s3
    bucket: bucketname
    path: remote-testing
    region: us-gov-west-1
    access_key_id: ABCD1234
    secret_access_key: 1234ABCD

account:
  enabled: true

directory:
  url: http://example.com/services/apps/v0/
  apikey: <fake_api_key>

search:
  access_key: TESTKEY
  affiliate: va
  url: https://search.usa.gov/api/v2

search_typeahead:
  api_key: TEST_KEY
  name: va
  url: https://api.gsa.gov/technology/searchgov/v1

search_click_tracking:
  access_key: TESTKEY
  affiliate: va
  module_code: I14Y
  url: https://api.gsa.gov/technology/searchgov/v2

vba_documents:
  enable_download_endpoint: true

bgs:
  mock_response_location: /cache/bgs
  mock_responses: false
  application: VAgovAPI
  client_station_id: 281
  client_username: VAgovAPI
  url: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447

flipper:
  admin_user_emails:
    - abraham.lincoln@vets.gov

va_forms:
  drupal_username: ~
  drupal_password: ~
  drupal_url: http://internal-dsva-vagov-dev-cms-812329399.us-gov-west-1.elb.amazonaws.com

vanotify:
  client_url: http://fakeapi.com
  services:
    lighthouse:
      api_key: fake_api_key
      template_id:
        disconnection_template: fake_template_id
        connection_template: fake_template_id

veteran_readiness_and_employment:
  base_url: https://fake_url.com
  credentials: fake_auth
  auth_endpoint: https://fake_url.com/auth/oauth/token

hqva_mobile:
  url: "https://veteran.apps.va.gov"
  mock: false
  key_path: modules/health_quest/config/rsa/sandbox_rsa
  development_key_path: modules/health_quest/config/rsa/sandbox_rsa
  timeout: 15
  facilities:
    url: "https://staging-api.va.gov"
    ids_path: "/facilities_api/v1/va"
  lighthouse:
    url: "https://sandbox-api.va.gov"
    pgd_path: "/services/pgd/v0/r4"
    pgd_token_path: "/oauth2/pgd/v1/token"
    health_api_path: "/services/fhir/v0/r4"
    health_token_path: "/oauth2/health/system/v1/token"
    host: "sandbox-api.va.gov"
    pgd_aud_claim_url: "https://deptva-eval.okta.com/oauth2/aus8x27nv4g4BS01v2p7"
    health_aud_claim_url: "https://deptva-eval.okta.com/oauth2/aus8nm1q0f7VQ0a482p7"
    claim_common_id: "0oa9gvwf5mvxcX3zH2p7"
    grant_type: "client_credentials"
    client_assertion_type: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
    redis_session_prefix: "healthquest_lighthouse"
    health_api: "health_api"
    pgd_api: "pgd_api"
    mock: false
    key_path: modules/health_quest/config/rsa/sandbox_rsa
    pgd_api_scopes:
      - "launch/patient"
      - "patient/Observation.read"
      - "patient/Observation.write"
      - "patient/Questionnaire.read"
      - "patient/Questionnaire.write"
      - "patient/QuestionnaireResponse.read"
      - "patient/QuestionnaireResponse.write"
    health_api_scopes:
      - "launch/patient"
      - "patient/Appointment.read"
      - "patient/Location.read"
      - "patient/Organization.read"
      - "patient/Patient.read"

sidekiq:
  github_organization: "organization"
  github_team: 0000000
  github_oauth_key: xxx000
  github_oauth_secret: 000xxx

check_in:
  chip_api:
    url: ~
    host: ~
    mock: false
    key_path: ~
    timeout: 30

rack:
  cookie_secret: "xxxxx"

bid:
  awards:
    base_url: https://fake_url.com
    credentials: fake_auth

test_user_dashboard:
  env: staging
