hostname: www.example.com # possible fallback for unsafe request.host
virtual_hosts: ["www.example.com", "localhost", "127.0.0.1", "example.org"] # Safe host names
vsp_environment: test

secret_key_base: be8e6b6b16993e899c2c4fd08f7c6a6e5ad5f295b369d22f126d4569d2a0e44c4f04b13c02d65ab701452ef0a24ed2db7af441214ed5ae98c6113442f5846605

mvi:
  url: http://www.example.com/
  mock: false

locators:
  providers_enabled: true

reports:
  aws:
    access_key_id: key
    bucket: bucket
    region: region
    secret_access_key: secret

saml:
  cert_path: spec/support/certificates/ruby-saml.crt
  key_path: spec/support/certificates/ruby-saml.key

saml_ssoe:
  cert_path: spec/support/certificates/ruby-saml.crt
  key_path: spec/support/certificates/ruby-saml.key

sign_in:
  jwt_encode_key: 'spec/fixtures/sign_in/privatekey.pem'

edu:
  prefill: true
  sftp:
    relative_path: 'spool_files'

pension_burial:
  prefill: true
  sftp:
    relative_path: 'VETSGOV_PENSION'

hca:
  prefill: true

shrine:
  claims:
    type: memory
    path: moot
  local:
    type: local
    path: testing-local
  remotes3:
    type: s3
    bucket: bucketname
    path: remote-testing
    region: us-gov-west-1
    access_key_id: ABCD1234
    secret_access_key: 1234ABCD

account:
  enabled: true

directory:
  url: http://example.com/services/apps/v0/
  apikey: <fake_api_key>

search:
  access_key: TESTKEY
  affiliate: va
  url: https://search.usa.gov/api/v2

search_typeahead:
  api_key: TEST_KEY
  name: va
  url: https://api.gsa.gov/technology/searchgov/v1

search_click_tracking:
  access_key: TESTKEY
  affiliate: va
  module_code: I14Y
  url: https://api.gsa.gov/technology/searchgov/v2

vba_documents:
  enable_download_endpoint: true
  enable_validate_document_endpoint: true
  v2_enabled: true
  v2_upload_endpoint_enabled: true

modules_appeals_api:
  documentation:
    path_enabled_flag: true
  legacy_appeals_enabled: true

bd:
  base_name: staging-api.va.gov/services

# Put a real api_key in the BRD_API_KEY environment variable to record VCR cassettes
# Be sure to not commit the api key and the cassettes.
# If used the tunnel and localhost for the base_name, then you don't need an api key
# If you use localhost, uncomment `ssl: false`.
brd:
  # base_name: localhost:4451
  # ssl: false
  base_name: staging-api.va.gov/services
  api_key: testapikeyhere

bgs:
  mock_response_location: /cache/bgs
  mock_responses: false
  application: VAgovAPI
  client_station_id: 281
  client_username: VAgovAPI
  url: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447
  # To create a new VCR cassette:
  # 1. Uncomment these lines
  # 2. Create an empty cassette file
  # 3. Run the test against that file, VCR should fill it
  # 4. Replace localhost in the file with the url above
  # 5. Re-comment these lines:
  # url: https://localhost:4447
  # ssl_verify_mode: "none"

flipper:
  admin_user_emails:
    - abraham.lincoln@vets.gov

va_forms:
  drupal_username: ~
  drupal_password: ~
  drupal_url: http://internal-dsva-vagov-dev-cms-812329399.us-gov-west-1.elb.amazonaws.com

vanotify:
  client_url: http://fakeapi.com
  services:
    lighthouse:
      api_key: fake_api_key
      template_id:
        disconnection_template: fake_template_id
        connection_template: fake_template_id
    check_in:
      api_key: check-in_aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa-bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb
      sms_sender_id: fake_sms_sender_id
      template_id:
        claim_submission_success_text: fake_success_template_id
        claim_submission_duplicate_text: fake_duplicate_template_id
        claim_submission_error_text: fake_error_template_id

veteran_readiness_and_employment:
  base_url: https://fake_url.com
  credentials: fake_auth
  auth_endpoint: https://fake_url.com/auth/oauth/token

hqva_mobile:
  url: "https://veteran.apps.va.gov"
  mock: false
  key_path: modules/health_quest/config/rsa/sandbox_rsa
  development_key_path: modules/health_quest/config/rsa/sandbox_rsa
  timeout: 15
  facilities:
    url: "https://staging-api.va.gov"
    ids_path: "/facilities_api/v1/va"
  lighthouse:
    url: "https://sandbox-api.va.gov"
    pgd_path: "/services/pgd/v0/r4"
    pgd_token_path: "/oauth2/pgd/v1/token"
    health_api_path: "/services/fhir/v0/r4"
    health_token_path: "/oauth2/health/system/v1/token"
    host: "sandbox-api.va.gov"
    pgd_aud_claim_url: "https://deptva-eval.okta.com/oauth2/aus8x27nv4g4BS01v2p7"
    health_aud_claim_url: "https://deptva-eval.okta.com/oauth2/aus8nm1q0f7VQ0a482p7"
    claim_common_id: "0oa9gvwf5mvxcX3zH2p7"
    grant_type: "client_credentials"
    client_assertion_type: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
    redis_session_prefix: "healthquest_lighthouse"
    health_api: "health_api"
    pgd_api: "pgd_api"
    mock: false
    key_path: modules/health_quest/config/rsa/sandbox_rsa
    pgd_api_scopes:
      - "launch launch/patient"
      - "patient/Observation.read"
      - "patient/Observation.write"
      - "patient/Questionnaire.read"
      - "patient/Questionnaire.write"
      - "patient/QuestionnaireResponse.read"
      - "patient/QuestionnaireResponse.write"
    health_api_scopes:
      - "launch launch/patient"
      - "patient/Appointment.read"
      - "patient/Location.read"
      - "patient/Organization.read"
      - "patient/Patient.read"

# settings va.gov uses related to lighthouse api's
lighthouse:
  api_key: fake_key
  veterans_health:
    url: https://sandbox-api.va.gov
    fast_tracker:
      client_assertion_type: "urn:ietf:params:oauth:client-assertion-type:jwt-bearer"
      api_scope:
        - "launch"
        - "patient/Patient.read"
        - "system/Patient.read"
        - "patient/Observation.read"
        - "patient/Practitioner.read"
        - "patient/MedicationRequest.read"
      aud_claim_url: "https://deptva-eval.okta.com/oauth2/aus8nm1q0f7VQ0a482p7/v1/token"
      client_id: "fake_client_id"
      grant_type: "client_credentials"
      api_key: spec/support/fake_api_key_for_lighthouse.txt
  veteran_verification:
    host: https://sandbox-api.va.gov
    aud_claim_url: https://deptva-eval.okta.com/oauth2/ausi3u00gw66b9Ojk2p7/v1/token
    form526:
      host: https://sandbox-api.va.gov
      access_token:
        client_id: abc123456
        rsa_key: path/to/key
      use_mocks: false
  benefits_claims:
    host: https://sandbox-api.va.gov
    aud_claim_url: https://deptva-eval.okta.com/oauth2/ausi3u00gw66b9Ojk2p7/v1/token
    form526:
      host: https://sandbox-api.va.gov
      access_token:
        client_id: abc123456
        rsa_key: path/to/key
      use_mocks: false

rrd:
  alerts:
    recipients:
      - fake_email
  event_tracking:
    recipients:
      - fake_email

sidekiq:
  github_organization: "organization"
  github_team: 0000000
  github_oauth_key: xxx000
  github_oauth_secret: 000xxx

chip:
  url: https://vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
  base_path: dev
  api_gtwy_id: fake_gtwy_id
  redis_timeout: 30
  mock: true
  mobile_app:
    tenant_id: 12345678-aaaa-bbbb-cccc-269c51a7d380

check_in:
  travel_reimbursement_api:
    auth_url: https://login.microsoftonline.us
    tenant_id: fake_template_id
    client_id: fake_client_id
    client_secret: fake_client_secret
    scope: fake_scope/.default
    claims_url: https://dev.integration.d365.va.gov
    claims_base_path: EC/ClaimIngestSvc
    subscription_key: fake_subscription_key
    client_number: fake_cli_number
    redis_token_expiry: 3540 # 59 minutes
    service_name: BTSSS-API
  authentication:
    max_auth_retry_limit: 3
    retry_attempt_expiry: 604800 # 7 Days
  chip_api:
    url: https://vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    base_path: dev
    host: vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    tmp_api_user: TzY6DFrnjPE8dwxUMbFf9HjbFqRim2MgXpMpMciXJFVohyURUJAc7W99rpFzhfh2B3sVnn4
    tmp_api_id: 2dcdrrn5zc
    tmp_api_username: vetsapiTempUser
    service_name: CHIP-API
    mock: false
    key_path: fake_api_path
    redis_session_prefix: check_in
    timeout: 30
  chip_api_v2:
    url: https://vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    base_path: dev
    host: vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    tmp_api_user: TzY6DFrnjPE8dwxUMbFf9HjbFqRim2MgXpMpMciXJFVohyURUJAc7W99rpFzhfh2B3sVnn4
    tmp_api_id: 2dcdrrn5zc
    tmp_api_username: vetsapiTempUser
    service_name: CHIP-API
    mock: false
    key_path: fake_api_path
    redis_session_prefix: check_in_chip_v2
    timeout: 30
  lorota_v2:
    url: https://vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    host: vpce-06399548ef94bdb41-lk4qp2nd.execute-api.us-gov-west-1.vpce.amazonaws.com
    base_path: dev
    api_id: 22t00c6f97
    api_key: Xc7k35oE2H9aDeUEpeGa38PzAHyLT9jb5HiKeBfs
    service_name: LoROTA-API
    mock: false
    key_path: modules/health_quest/config/rsa/sandbox_rsa
    redis_session_prefix: check_in_lorota_v2
    redis_token_expiry: 43200 # 12 Hours

mcp:
  vbs:
    url: https://fake_url.com:9000
    host: fake_url.com:9000
    base_path: /base/path
    service_name: VBS
    mock: true
  vbs_v2:
    url: https://fake_url.com:9000
    host: fake_url.com:9000
    base_path: /base/path
    service_name: VBS
    mock: true
  notifications:
    job_interval: 90
    batch_size: 100
dgi:
  jwt:
    public_key_path: modules/meb_api/spec/fixtures/dgi_public_test.pem
    private_key_path: modules/meb_api/spec/fixtures/dgi_private_test.pem
  vets:
    url: "https://jenkins.ld.afsp.io:32512/vets-service/v1/" # Docker setup for microservice
    mock: false
rack:
  cookie_secret: "xxxxx"

bid:
  awards:
    base_url: https://fake_url.com
    credentials: fake_auth

test_user_dashboard:
  env: staging

lgy:
  base_url: https://fake_url.com
  app_id: fake_app_id
  api_key: fake_api_key

form_10_10cg:
  carma:
    mulesoft:
      mock: true
      host: "https://fake-mulesoft.vapi.va.gov"
      client_id: BEEFCAFE1234
      client_secret: C0FFEEFACE4321
      timeout: 10

vha:
  sharepoint:
    sharepoint_url: "fake_url.com"
    client_id: "51dadf135qwwc"
    client_secret: "xxxxxxxxx"
    tenant_id: "ad21angkl35dadf43ad56"
    resource: "23asdb54ada655a3"
    service_name: "VHA-SHAREPOINT"
    base_path: "/base"
    authentication_url: "https://fake_auth_url.com"
    mock: true

mhv:
  medical_records:
    app_id: 0
    app_token: xyz
    host: http://example.org
