---
http_interactions:
- request:
    method: post
    uri: https://fake2.com/api/data/v9.2//table_prefix_claimsqueries
    body:
      encoding: UTF-8
      string: '{"table_prefix_id":"conversation_id - 2022-10-13 20:52:49 UTC","table_prefix_icn":"icn","table_prefix_conversationid":"conversation_id","table_prefix_requestedtimestamp":"2022-10-13
        20:52:49 UTC"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Odata-Maxversion:
      - '4.0'
      Odata-Version:
      - '4.0'
      If-None-Match:
      - 'null'
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Allow:
      - OPTIONS,GET,HEAD,POST
      X-Ms-Service-Request-Id:
      - 25014c59-415e-4acb-b3cb-69a0bb613d05
      - c01c487a-21b9-40a0-9909-b57be45f11cb
      Www-Authenticate:
      - Bearer authorization_uri=https://fake.com,
        resource_id=https://fake2.com/
      Req-Id:
      - c01c487a-21b9-40a0-9909-b57be45f11cb
      Authactivityid:
      - ee92005a-94df-48d9-98c9-dd84a7e1d63f
      Nativewebsession-Version:
      - '2'
      X-Source:
      - '2371742381473122617592827142198255810778517324669202469831671741142326316113110'
      - '26182147114226122169993352552770188218202302447174331582401102068148236382122052'
      Public:
      - OPTIONS,GET,HEAD,POST
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Oct 2022 20:52:49 GMT
recorded_with: VCR 6.1.0
