---
http_interactions:
- request:
    method: get
    uri: https://api.wellhive.com/care-navigation/v1/provider-services/9mN718pH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Wellhive-Trace-Id:
        - c9182a0e90280e7cc9ea83a192c1b787
    body:
      encoding: UTF-8
      string: '{"id":"9mN718pH","name":"Dr. Moreen S. Rafa @ FHA South Melbourne Medical
      Complex","isActive":true,"individualProviders":[{"name":"Dr. Moreen S. Rafa","npi":"91560381x"}],"providerOrganization":{"name":"Meridian
      Health (Sandbox 5vuTac8v)"},"location":{"name":"FHA South Melbourne Medical
      Complex","address":"1105 Palmetto Ave, Melbourne, FL, 32901, US","latitude":28.08061,"longitude":-80.60322,"timezone":"America/New_York"},"networkIds":["sandbox-network-5vuTac8v"],"schedulingNotes":"New
      patients need to send their previous records to the office prior to their
      appt.","appointmentTypes":[{"id":"ov","name":"Office Visit","isSelfSchedulable":true}],"specialties":[{"id":"208800000X","name":"Urology"}],"visitMode":"phone","features":{"isDigital":true,"directBooking":{"isEnabled":true,"requiredFields":["phone","address","name","birthdate","gender"]}}}

      '
  recorded_at: Sat, 11 Jan 2025 23:00:44 GMT
recorded_with: VCR 6.3.1
