---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/cce/v1/patients/1012845331V153043/eligibility/PrimaryCare
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.2.0
      X-Vamf-Build:
      - fcd1945
      X-Vamf-Timestamp:
      - '2019-12-12T12:59:35+0000'
    body:
      encoding: UTF-8
      string: '{"patientRequest":{"patientIcn":"1012845331V153043","serviceType":"PrimaryCare","timestamp":"2019-12-13T09:19:34.308802Z"},"eligibilityCodes":[{"description":"Hardship","code":"H"}],"grandfathered":false,"noFullServiceVaMedicalFacility":false,"eligible":false}'
  recorded_at: Fri, 13 Dec 2019 09:19:34 GMT
recorded_with: VCR 3.0.3
