---
http_interactions:
- request:
    method: get
    uri: https://dsva-appeals-certification-dev-1895622301.us-gov-west-1.elb.amazonaws.com/api/v3/decision_reviews/appeals/contestable_issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=PUBLICDEMO123
      X-VA-SSN:
      - '872958715'
      X-VA-Receipt-Date:
      - '2019-12-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6bf72b7b802348bbd01a2bd9a2129c8"
      X-Meta-Request-Version:
      - 0.7.2
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"contestableIssue","attributes":{"ratingIssueSubjectText":"left knee","ratingIssueReferenceId":"826209597423","ratingIssueProfileDate":"2019-02-22","ratingIssueDiagnosticCode":null,"description":"Left
      knee","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2019-02-24"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2019-02-24","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true,"activeReview":false}},{"type":"contestableIssue","attributes":{"ratingIssueSubjectText":"right knee","ratingIssuePercentNumber":"10","ratingIssueReferenceId":"826209920000","ratingIssueProfileDate":"2019-02-22","ratingIssueDiagnosticCode":null,"description":"Right
        knee","isRating":true,"latestIssuesInChain":[{"id":null,"approxDecisionDate":"2019-02-26"}],"decisionIssueId":null,"ratingDecisionReferenceId":null,"approxDecisionDate":"2019-02-26","rampClaimId":null,"titleOfActiveReview":null,"sourceReviewType":null,"timely":true,"activeReview":false}},{"type":"contestableIssue","attributes":{"ratingIssueSubjectText":[...]
