audit_db:
  url: ~

idme:
  client_cert_path: spec/fixtures/sign_in/oauth.crt
  client_id: ef7f1237ed3c396e4b4a2b04b608a7b1
  client_key_path: spec/fixtures/sign_in/oauth.key
  client_secret: ~
  oauth_url: https://api.idmelabs.com
  redirect_uri: http://localhost:3000/v0/sign_in/callback

logingov:
  client_cert_path: spec/fixtures/sign_in/oauth.crt
  client_id: https://sqa.eauth.va.gov/isam/sps/saml20sp/saml20
  client_key_path: spec/fixtures/sign_in/oauth.key
  logout_redirect_uri: http://localhost:3000/v0/sign_in/logingov_logout_proxy
  oauth_public_key: spec/fixtures/logingov/logingov_oauth_pub.pem
  oauth_url: https://idp.int.identitysandbox.gov
  redirect_uri: http://localhost:3000/v0/sign_in/callback

map_services:
  appointments_client_id: 74b3145e1354555e
  chatbot_client_id: 2bb9803acfc3
  check_in_client_id: bc75b71c7e67
  client_cert_path: spec/fixtures/map/oauth.crt
  client_key_path: spec/fixtures/map/oauth.key
  oauth_url: https://veteran.apps-staging.va.gov
  secure_token_service:
    mock: true
  sign_up_service:
    mock: true
  sign_up_service_client_id: c7d6e0fc9a39
  sign_up_service_provisioning_api_key: ~
  sign_up_service_url: https://cerner.apps-staging.va.gov

mhv:
  account_creation:
    access_key: ~
    host: https://apigw-intb.aws.myhealth.va.gov
    mock: true
    sts:
      issuer: http://localhost:3000
      service_account_id: c34b86f2130ff3cd4b1d309bc09d8740

mvi:
  client_cert_path: config/certs/vetsgov-localhost.crt
  client_key_path: config/certs/vetsgov-localhost.key
  mock: true
  open_timeout: 15
  pii_logging: false
  processing_code: T
  timeout: 30
  url: http://www.example.com/psim_webservice/dev/IdMWebService

saml_ssoe:
  callback_url: http://localhost:3000/v1/sessions/callback
  cert_path: spec/support/certificates/ruby-saml.crt
  idp_metadata_file: config/ssoe_idp_int_metadata_isam.xml
  idp_sso_service_binding: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST
  issuer: https://ssoe-sp-localhost.va.gov
  key_path: spec/support/certificates/ruby-saml.key
  logout_app_key: https://ssoe-sp-dev.va.gov
  logout_url: https://int.eauth.va.gov/slo/globallogout
  request_signing: false
  response_encryption: false
  response_signing: false
  tou_decline_logout_app_key: https://dev-api.va.gov/agreements_declined

session_cookie:
  secure: false

sign_in:
  arp_client_id: arp
  auto_uplevel: false
  cookies_secure: false
  credential_attributes_digester:
    pepper: ~
  info_cookie_domain: localhost
  jwt_encode_key: spec/fixtures/sign_in/privatekey.pem
  jwt_old_encode_key: spec/fixtures/sign_in/privatekey_old.pem
  mock_auth_url: http://localhost:3000/mocked_authentication/profiles
  mock_redirect_uri: http://localhost:3000/v0/sign_in/callback
  mockdata_sync_api_key: ~
  sts_client:
    base_url: http://localhost:3000
    key_path: spec/fixtures/sign_in/sts_client.pem
  user_info_clients:
    - okta_test
    - okta_stg
  usip_uri: http://localhost:3001/sign-in
  vaweb_client_id: vaweb
  vamobile_client_id: vamobile
  web_origins:
    - http://localhost:4000

ssoe_eauth_cookie:
  domain: localhost
  name: vagov_saml_request_localhost
  secure: false

ssoe_get_traits:
  client_cert_path: spec/fixtures/certs/vetsgov-localhost.crt
  client_key_path: spec/fixtures/certs/vetsgov-localhost.key
  url: https://int.services.eauth.va.gov:9303/psim_webservice/dev/IdMSSOeWebService
  mock: true

terms_of_use:
  current_version: v1
  enabled_clients: mhv, myvahealth, vaweb
