find_candidate:
  "796126859":
    birth_date: '19320205'
    edipi: ~
    family_name: 'ALLEN'
    gender: 'M'
    given_names: ['HECTOR', 'J']
    icn: '1008704012V552302^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796126859'
    status: 'active'
  "796121200":
    birth_date: '19330405'
    edipi: '1005079124^NI^200DOD^USDOD^A'
    family_name: 'ANDERSON'
    gender: 'M'
    given_names: ['GREG', 'A']
    icn: '1008596379V859838^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796121200'
    status: 'active'
  "796127781":
    birth_date: '19591201'
    edipi: ~
    family_name: 'MITCHELL'
    gender: 'F'
    given_names: ['ANDREA', 'L']
    icn: '1008713769V295460^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796127781'
    status: 'active'
  "796295980":
    birth_date: '19900220'
    edipi: ~
    family_name: 'ANDREWS'
    gender: 'M'
    given_names: ['KENNETH', 'William']
    icn: '1008712062V663378^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32323473^PI^200CORP^USVBA^A'
    ssn: '796295980'
    status: 'active'
  "796012476":
    birth_date: '19930608'
    edipi: ~
    family_name: 'ARMSTRONG'
    gender: 'M'
    given_names: ['ALFREDO', 'M']
    icn: '1008714366V137722^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796012476'
    status: 'active'
  "796143510":
    birth_date: '19800220'
    edipi: ~
    family_name: 'ARNOLD'
    gender: 'M'
    given_names: ['FRANK', 'LEE']
    icn: '1008712353V735015^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796143510'
    status: 'active'
  "796169727":
    birth_date: '19630705'
    edipi: ~
    family_name: 'BISHOP'
    gender: 'M'
    given_names: ['ERIC', 'Victor']
    icn: '1008691287V879036^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796169727'
    status: 'active'
  "796148937":
    birth_date: '19470925'
    edipi: '1007451748^NI^200DOD^USDOD^A'
    family_name: 'BROOKS'
    gender: 'M'
    given_names: ['JERRY', 'M']
    icn: '1008709435V263289^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796148937'
    status: 'active'
  "796121086":
    birth_date: '19331027'
    edipi: '1005072030^NI^200DOD^USDOD^A'
    family_name: 'CALDWELL'
    gender: 'M'
    given_names: ['EDDIE', 'J']
    icn: '1008596380V707659^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32323479^PI^200CORP^USVBA^A'
    ssn: '796121086'
    status: 'active'
  "796249005":
    birth_date: '19630726'
    edipi: ~
    family_name: 'CAMPBELL'
    gender: 'F'
    given_names: ['DEBBIE', 'M']
    icn: '1008710255V058302^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600062099^PI^200CORP^USVBA^A'
    ssn: '796249005'
    status: 'active'
  "796263749":
    birth_date: '19750512'
    edipi: ~
    family_name: 'BARRETT'
    gender: 'M'
    given_names: ['CHAD', 'E']
    icn: '1008714328V191861^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796263749'
    status: 'active'
  "796131752":
    birth_date: '19361120'
    edipi: ~
    family_name: 'COLE'
    gender: 'M'
    given_names: ['KYLE', 'M']
    icn: '1008710012V828560^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796131752'
    status: 'active'
  "796163672":
    birth_date: '19530211'
    edipi: ~
    family_name: 'CURTIS'
    gender: 'F'
    given_names: ['MARGIE']
    icn: '1008711067V677657^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318135^PI^200CORP^USVBA^A'
    ssn: '796163672'
    status: 'active'
  "796127196":
    birth_date: '19370307'
    edipi: ~
    family_name: 'DANIELS'
    gender: 'M'
    given_names: ['WILLIAM', 'C']
    icn: '1008712744V146015^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600033523^PI^200CORP^USVBA^A'
    ssn: '796127196'
    status: 'active'
  "796143570":
    birth_date: '19870130'
    edipi: '1006467969^NI^200DOD^USDOD^A'
    family_name: 'DAVIS'
    gender: 'M'
    given_names: ['WALTER', 'TYLER']
    icn: '1008714607V082809^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043217^PI^200CORP^USVBA^A'
    ssn: '796143570'
    status: 'active'
  "796130115":
    birth_date: '19670619'
    edipi: ~
    family_name: 'ELLIS'
    gender: 'F'
    given_names: ['TAMARA', 'E']
    icn: '1008710221V418539^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796130115'
    status: 'active'
  "796043735":
    birth_date: '19860506'
    edipi: ~
    family_name: 'FORD'
    gender: 'M'
    given_names: ['WESLEY', 'Watson']
    icn: '1008710003V120120^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796043735'
    status: 'active'
  "796330625":
    birth_date: '19760609'
    edipi: ~
    family_name: 'FOSTER'
    gender: 'F'
    given_names: ['PAULINE', 'E']
    icn: '1008711068V745112^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318138^PI^200CORP^USVBA^A'
    ssn: '796330625'
    status: 'active'
  "796184750":
    birth_date: '19711119'
    edipi: ~
    family_name: 'FREEMAN'
    gender: 'M'
    given_names: ['MELVIN', 'V']
    icn: '1008711070V155561^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318143^PI^200CORP^USVBA^A'
    ssn: '796184750'
    status: 'active'
  "796149080":
    birth_date: '19691105'
    edipi: ~
    family_name: 'FREEMAN'
    gender: 'M'
    given_names: ['RUSSELL', 'James']
    icn: '1008692950V235502^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318142^PI^200CORP^USVBA^A'
    ssn: '796149080'
    status: 'active'
  "796122369":
    birth_date: '19830221'
    edipi: ~
    family_name: 'GARDNER'
    gender: 'M'
    given_names: ['HERBERT', 'MICHAEL']
    icn: '1008711071V330950^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318144^PI^200CORP^USVBA^A'
    ssn: '796122369'
    status: 'active'
  "796246997":
    birth_date: '19690623'
    edipi: ~
    family_name: 'GARDNER'
    gender: 'M'
    given_names: ['SAM', 'ROBERT']
    icn: '1008711072V462819^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318145^PI^200CORP^USVBA^A'
    ssn: '796246997'
    status: 'active'
  "796330163":
    birth_date: '19500131'
    edipi: ~
    family_name: 'GEORGE'
    gender: 'M'
    given_names: ['JESSE', 'J']
    icn: '1008709967V630431^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796330163'
    status: 'active'
  "796127094":
    birth_date: '19330804'
    edipi: ~
    family_name: 'GIBSON'
    gender: 'M'
    given_names: ['SIDNEY', 'A']
    icn: '1008711073V616774^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318146^PI^200CORP^USVBA^A'
    ssn: '796127094'
    status: 'active'
  "796378881":
    birth_date: '19541215'
    edipi: ~
    family_name: 'GRAY'
    gender: 'M'
    given_names: ['JESSE']
    icn: '1008711076V809443^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318149^PI^200CORP^USVBA^A'
    ssn: '796378881'
    status: 'active'
  "796184459":
    birth_date: '19551227'
    edipi: ~
    family_name: 'HARRIS'
    gender: 'F'
    given_names: ['JUNE', 'R']
    icn: '1008711077V588395^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318150^PI^200CORP^USVBA^A'
    ssn: '796184459'
    status: 'active'
  "796131729":
    birth_date: '19370925'
    edipi: ~
    family_name: 'HAYES'
    gender: 'M'
    given_names: ['JEFFERY', 'J']
    icn: '1008701807V660197^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043202^PI^200CORP^USVBA^A'
    ssn: '796131729'
    status: 'active'
  "796377148":
    birth_date: '19820423'
    edipi: ~
    family_name: 'HORTON'
    gender: 'M'
    given_names: ['EVERETT', 'Avery']
    icn: '1008711078V291287^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318151^PI^200CORP^USVBA^A'
    ssn: '796377148'
    status: 'active'
  "796131275":
    birth_date: '19270118'
    edipi: ~
    family_name: 'HOWELL'
    gender: 'M'
    given_names: ['MATHEW', 'A']
    icn: '1008711079V027032^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318153^PI^200CORP^USVBA^A'
    ssn: '796131275'
    status: 'active'
  "796378321":
    birth_date: '19511118'
    edipi: '1292690947^NI^200DOD^USDOD^A'
    family_name: 'HUNTER'
    gender: 'M'
    given_names: ['JULIO', 'E']
    icn: '1008596378V923986^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318156^PI^200CORP^USVBA^A'
    ssn: '796378321'
    status: 'active'
  "796127677":
    birth_date: '19490506'
    edipi: '1005396162^NI^200DOD^USDOD^A'
    family_name: 'MOORE'
    gender: 'F'
    given_names: ['JANET', 'L']
    icn: '1008710092V112476^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32317886^PI^200CORP^USVBA^A'
    ssn: '796127677'
    status: 'active'
  "796127587":
    birth_date: '19470629'
    edipi: ~
    family_name: 'BARRETT'
    gender: 'M'
    given_names: ['JESUS', 'A']
    icn: '1008701809V976331^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043193^PI^200CORP^USVBA^A'
    ssn: '796127587'
    status: 'active'
  "796153447":
    birth_date: '19530215'
    edipi: ~
    family_name: 'LAWRENCE'
    gender: 'M'
    given_names: ['DARYL', 'F']
    icn: '1008711082V575772^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318157^PI^200CORP^USVBA^A'
    ssn: '796153447'
    status: 'active'
  "796378782":
    birth_date: '19481030'
    edipi: ~
    family_name: 'LEE'
    gender: 'M'
    given_names: ['RALPH', 'E']
    icn: '1008711084V002120^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318159^PI^200CORP^USVBA^A'
    ssn: '796378782'
    status: 'active'
  "796147495":
    birth_date: '19920827'
    edipi: ~
    family_name: 'MARSHALL'
    gender: 'M'
    given_names: ['MELVIN', 'R']
    icn: '1008711085V186449^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318160^PI^200CORP^USVBA^A'
    ssn: '796147495'
    status: 'active'
  "796122472":
    birth_date: '19500114'
    edipi: '1005138104^NI^200DOD^USDOD^A'
    family_name: 'MORALES'
    gender: 'M'
    given_names: ['ALFREDO', 'J']
    icn: '1008703680V285027^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043169^PI^200CORP^USVBA^A'
    ssn: '796122472'
    status: 'active'
  "796136308":
    birth_date: '19790620'
    edipi: '1008346433^NI^200DOD^USDOD^A'
    family_name: 'OLSON'
    gender: 'M'
    given_names: ['HARRY', 'J']
    icn: '1008596381V985114^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796136308'
    status: 'active'
  "796218467":
    birth_date: '19640304'
    edipi: ~
    family_name: 'PATTERSON'
    gender: 'M'
    given_names: ['CHRISTIAN', 'Fitzgerald']
    icn: '1008691167V254462^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318091^PI^200CORP^USVBA^A'
    ssn: '796218467'
    status: 'active'
  "796126978":
    birth_date: '19340407'
    edipi: ~
    family_name: 'PRICE'
    gender: 'M'
    given_names: ['JESSIE', 'F']
    icn: '1008701880V790698^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796126978'
    status: 'active'
  "796025480":
    birth_date: '19940607'
    edipi: ~
    family_name: 'RAY'
    gender: 'F'
    given_names: ['ANA', 'D']
    icn: '1008712476V222549^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796025480'
    status: 'active'
  "796364561":
    birth_date: '19840219'
    edipi: ~
    family_name: 'REID'
    gender: 'F'
    given_names: ['JENNY', 'Kadeshia']
    icn: '1008702225V536415^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600017293^PI^200CORP^USVBA^A'
    ssn: '796364561'
    status: 'active'
  "796018229":
    birth_date: '19770704'
    edipi: ~
    family_name: 'REID'
    gender: 'M'
    given_names: ['MARTIN', 'Ray']
    icn: '1008701927V867370^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318168^PI^200CORP^USVBA^A'
    ssn: '796018229'
    status: 'active'
  "796109651":
    birth_date: '19640414'
    edipi: ~
    family_name: 'REID'
    gender: 'F'
    given_names: ['MATTIE', 'May']
    icn: '1008709764V627989^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318167^PI^200CORP^USVBA^A'
    ssn: '796109651'
    status: 'active'
  "796013145":
    birth_date: '19590225'
    edipi: ~
    family_name: 'RILEY'
    gender: 'M'
    given_names: ['WILLARD', 'J']
    icn: '1008691084V540033^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796013145'
    status: 'active'
  "796019724":
    birth_date: '19860228'
    edipi: ~
    family_name: 'ROBERTS'
    gender: 'M'
    given_names: ['THEODORE', 'Matthew']
    icn: '1008711090V693416^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318169^PI^200CORP^USVBA^A'
    ssn: '796019724'
    status: 'active'
  "796044205":
    birth_date: '19540927'
    edipi: ~
    family_name: 'ROBERTSON'
    gender: 'F'
    given_names: ['JO', 'M']
    icn: '1008691085V202565^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796044205'
    status: 'active'
  "796220828":
    birth_date: '19540526'
    edipi: ~
    family_name: 'ROSE'
    gender: 'M'
    given_names: ['ARTHUR', 'E']
    icn: '1008691040V020761^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796220828'
    status: 'active'
  "796013160":
    birth_date: '19331228'
    edipi: '1021267380^NI^200DOD^USDOD^A'
    family_name: 'SIMS'
    gender: 'M'
    given_names: ['SALVADOR', 'H']
    icn: '1008709835V747620^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318570^PI^200CORP^USVBA^A'
    ssn: '796013160'
    status: 'active'
  "796053870":
    birth_date: '19650326'
    edipi: ~
    family_name: 'SPENCER'
    gender: 'M'
    given_names: ['SAM', 'Lee']
    icn: '1008702103V181634^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796053870'
    status: 'active'
  "796128747":
    birth_date: '19930111'
    edipi: ~
    family_name: 'SCOTT'
    gender: 'M'
    given_names: ['FREDERICK', 'Bradley']
    icn: '1008711092V958203^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318171^PI^200CORP^USVBA^A'
    ssn: '796128747'
    status: 'active'
  "796128750":
    birth_date: '19611222'
    edipi: ~
    family_name: 'SCOTT'
    gender: 'F'
    given_names: ['PENNY', 'M']
    icn: '1008711093V831025^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318172^PI^200CORP^USVBA^A'
    ssn: '796128750'
    status: 'active'
  "796128748":
    birth_date: '19780419'
    edipi: ~
    family_name: 'SCOTT'
    gender: 'M'
    given_names: ['RAY', 'A']
    icn: '1008691082V917396^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318173^PI^200CORP^USVBA^A'
    ssn: '796128748'
    status: 'active'
  "796153369":
    birth_date: '19580224'
    edipi: ~
    family_name: 'SPENCER'
    gender: 'M'
    given_names: ['DWAYNE', 'E']
    icn: '1008691575V571431^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796153369'
    status: 'active'
  "796127242":
    birth_date: '19390820'
    edipi: '1005361920^NI^200DOD^USDOD^A'
    family_name: 'STEPHENS'
    gender: 'M'
    given_names: ['BRIAN', 'J']
    icn: '1008709838V592386^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32245561^PI^200CORP^USVBA^A'
    ssn: '796127242'
    status: 'active'
  "796018805":
    birth_date: '19820710'
    edipi: '1384220343^NI^200DOD^USDOD^A'
    family_name: 'STEPHENS'
    gender: 'F'
    given_names: ['RUTH', 'Reyes']
    icn: '1008709839V226238^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32238885^PI^200CORP^USVBA^A'
    ssn: '796018805'
    status: 'active'
  "796110951":
    birth_date: '19920422'
    edipi: '1077041105^NI^200DOD^USDOD^A'
    family_name: 'STEWART'
    gender: 'M'
    given_names: ['DAVE', 'A']
    icn: '1008709840V869759^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318572^PI^200CORP^USVBA^A'
    ssn: '796110951'
    status: 'active'
  "796140369":
    birth_date: '19650715'
    edipi: ~
    family_name: 'WAGNER'
    gender: 'M'
    given_names: ['VERNON', 'D']
    icn: '1008713407V668256^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796140369'
    status: 'active'
  "796127160":
    birth_date: '19360714'
    edipi: ~
    family_name: 'WARREN'
    gender: 'M'
    given_names: ['KENT', 'L']
    icn: '1008711094V567547^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318174^PI^200CORP^USVBA^A'
    ssn: '796127160'
    status: 'active'
  "796246757":
    birth_date: '19680105'
    edipi: ~
    family_name: 'WATSON'
    gender: 'M'
    given_names: ['JEFF', 'Terrel']
    icn: '1008711095V215992^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318189^PI^200CORP^USVBA^A'
    ssn: '796246757'
    status: 'active'
  "796079018":
    birth_date: '19610902'
    edipi: ~
    family_name: 'WATSON'
    gender: 'M'
    given_names: ['RUSSELL', 'Renee']
    icn: '1008691083V875288^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796079018'
    status: 'active'
  "796231077":
    birth_date: '19711208'
    edipi: ~
    family_name: 'WELLS'
    gender: 'M'
    given_names: ['GLEN', 'Lee']
    icn: '1008711097V142730^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318192^PI^200CORP^USVBA^A'
    ssn: '796231077'
    status: 'active'
  "796017172":
    birth_date: '19591101'
    edipi: ~
    family_name: 'WHEELER'
    gender: 'M'
    given_names: ['LEONARD', 'A']
    icn: '1008702155V142394^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32253559^PI^200CORP^USVBA^A'
    ssn: '796017172'
    status: 'active'
  "796066619":
    birth_date: '19480928'
    edipi: ~
    family_name: 'WILSON'
    gender: 'F'
    given_names: ['LEONA', 'C']
    icn: '1008691603V292665^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796066619'
    status: 'active'
  "796060339":
    birth_date: '19450524'
    edipi: '1025579697^NI^200DOD^USDOD^A'
    family_name: 'WOOD'
    gender: 'F'
    given_names: ['JAMIE', 'J']
    icn: '1008709398V910373^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: ~
    ssn: '796060339'
    status: 'active'
  "796030117":
    birth_date: '19961117'
    edipi: ~
    family_name: 'WRIGHT'
    gender: 'M'
    given_names: ['TOMMY', 'V']
    icn: '1008711105V820155^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '32318200^PI^200CORP^USVBA^A'
    ssn: '796030117'
    status: 'active'
  "796122306":
    birth_date: '19490304'
    edipi: '1005133340^NI^200DOD^USDOD^A'
    family_name: 'Jenkins'
    gender: 'M'
    given_names: ['Mitchell', 'G']
    icn: '1008714701V416111^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043167^PI^200CORP^USVBA^A'
    ssn: '796122306'
    status: 'active'
  "796184647":
    birth_date: '19640605'
    edipi: '1019031833^NI^200DOD^USDOD^A'
    family_name: 'Brooks'
    gender: 'F'
    given_names: ['Loretta', 'E']
    icn: '1008701808V712482^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600048569^PI^200CORP^USVBA^A'
    ssn: '796184647'
    status: 'active'
  "796140438":
    birth_date: '19660926'
    edipi: '1006467969^NI^200DOD^USDOD^A'
    family_name: 'Greene'
    gender: 'M'
    given_names: ['Gilbert', 'L']
    icn: ~
    mhv_id: ~
    vba_corp_id: '600043285^PI^200CORP^USVBA^A'
    ssn: '796140438'
    status: 'active'
  "796122076":
    birth_date: '19460725'
    edipi: '1005127285^NI^200DOD^USDOD^A'
    family_name: 'Moore'
    gender: 'M'
    given_names: ['Alex', 'L']
    icn: '1008691086V086957^NI^200M^USVHA^P'
    mhv_id: ~
    vba_corp_id: '600043164^PI^200CORP^USVBA^A'
    ssn: '796122076'
    status: 'active'
