find_candidate:
  birth_date: '19800101'
  edipi: '1234^NI^200DOD^USDOD^A'
  family_name: 'Smith'
  gender: 'M'
  given_names: ['John', 'William']
  icn: '1000123456V123456^NI^200M^USVHA^P'
  mhv_id: '123456^PI^200MHV^USVHA^A'
  ssn: '555-44-3333'
  status: 'active'
