---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities?facilityIds=vha_442
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - abcde
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '53'
      Ratelimit-Reset:
      - '27'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{
  "data": [],
  "links": {
    "self": "https://sandbox-api.va.gov/services/va_facilities/v1/facilities?page=1&per_page=10",
    "first": "https://sandbox-api.va.gov/services/va_facilities/v1/facilities?page=1&per_page=10",
    "next": "https://sandbox-api.va.gov/services/va_facilities/v1/facilities?page=2&per_page=10",
    "last": "https://sandbox-api.va.gov/services/va_facilities/v1/facilities?page=257&per_page=10"
  },
  "meta": {
    "pagination": {
      "currentPage": 1,
      "perPage": 10,
      "totalPages": 1,
      "totalEntries": 0
    }
  }
}'
  recorded_at: Wed, 20 Oct 2021 15:59:16 GMT
recorded_with: VCR 6.2.0
