---
http_interactions:
- request:
    method: post
    uri: https://fake-carma.salesforce.com/services/apexrest/carma/v1/1010-cg-submissions
    body:
      encoding: UTF-8
      string: "<CARMA_submission_with_metadata>"
    headers:
      Content-Type:
      - application/json
      Sforce-auto-assign:
      - "FALSE"
      Authorization:
      - OAuth <CARMA_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D350000008uALm";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message": "Application Received", "data": { "carmacase": { "id": "aB935000000F3VnCAK", "createdAt": "2020-03-09T10:48:59Z" }}}'
  recorded_at: Tue, 03 Mar 2020 22:20:38 GMT
recorded_with: VCR 5.1.0
