---
http_interactions:
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - fake-app-token
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - ah1R/Q3Www4=nQXpCcKnwaDXBjIhQ1GyYZ8a6C44t2D2o3ZPdrBF+Rs=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Sep 2016 16:16:45 GMT
- request:
    method: get
    uri: https://test.vets.gov/mhv-sm-api/patient/v1/triageteam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - ah1R/Q3Www4=nQXpCcKnwaDXBjIhQ1GyYZ8a6C44t2D2o3ZPdrBF+Rs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"triageTeam":[{"name":"Triage group 311070 test 1","relationType":"PATIENT","triageTeamId":585968},{"name":"Triage
        group 311070 test 2","relationType":"PATIENT","triageTeamId":585986},{"name":"Vets.gov
        Testing_DAYT29","relationType":"PATIENT","triageTeamId":613586}]}'
  recorded_at: Fri, 09 Sep 2016 16:16:45 GMT
recorded_with: VCR 3.0.3
