---
http_interactions:
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/session
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apptoken:
      - sjvlB75caM-O37hRpkDxV
      Mhvcorrelationid:
      - '10616687'
  response:
    status:
      code: 200
      message: OK
    headers:
      Token:
      - WWjjt4Xupiw=xE6/ZyYqxcfvfqSxNR8kRIf57E/K8e/A/Q9/E0nisdY=
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 Sep 2016 15:22:51 GMT
- request:
    method: get
    uri: https://smclinician-syst.myhealth.va.gov/mhv-sm-api/patient/v1/triageteam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - WWjjt4Xupiw=xE6/ZyYqxcfvfqSxNR8kRIf57E/K8e/A/Q9/E0nisdY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"triageTeam":[{"name":"Triage group 311070 test 1","relationType":"PATIENT","triageTeamId":585968},{"name":"Triage
        group 311070 test 2","relationType":"PATIENT","triageTeamId":585986},{"name":"Vets.gov
        Testing_DAYT29","relationType":"PATIENT","triageTeamId":613586}]}'
  recorded_at: Thu, 01 Sep 2016 15:22:54 GMT
recorded_with: VCR 3.0.3
