---
http_interactions:
- request:
    method: post
    uri: https://claimevidence-api-fake.fake.bip.va.gov/api/v1/rest/folders/files:search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not found
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
      Ssl-Env:
      - 'On'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [{
            "status": "404",
            "title": "Veteran not found",
            "detail": "A veteran with that SSN was not found in our systems."
          }]
        }
  recorded_at: Mon, 06 Oct 2025 17:03:17 GMT
recorded_with: VCR 6.3.1
