openapi: '3.0.0'
info:
  version: 0.0.1
  title: Apps
  description: |
    The Applications Api provides a list of applications and provides an endpoint to see what consent scopes an application will request.

    ## Design

    ### Authorization and Access

    This API is available publically without an API Key.

  termsOfService: 'https://developer.va.gov/terms-of-service'
  contact:
    name: va.gov
tags:
  - name: apps
    description: Applications API
servers:
  - url: https://sandbox-api.va.gov/services/apps/{version}
    description: VA.gov API sandbox environment
    variables:
      version:
        default: v0
  - url: https://api.va.gov/services/apps/{version}
    description: VA.gov API production environment
    variables:
      version:
        default: v0
paths:
  /directory:
    get:
      tags:
        - apps
      summary: Retrieve OAuth Applications available
      operationId: getApps
      responses:
        '200':
          description: Applications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/App"
                  #meta:
                    #type: object
                    #properties:
                      #count:
                        #type: number
                        #description: 'Counter used for pagination'
                        #example: 1
  /directory/{app_name}:
    get:
      parameters:
        - in: path
          name: app_name
          required: true
          schema:
            type: string
          description: The name of the app you want to query. If none is passed, the request will hit the  `GET /directory` endpoint above.
      tags:
        - apps
      summary: Retrieve information on a single application in the Application Directory. If there is no app by that name, `data` will be null.
      operationId: getApp
      responses:
        '200':
          description: Returns information on the `app_name` requested. If there is no app by that name, `data` will be null.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/App"

  /directory/scopes/{service_category}:
    get:
      parameters:
        - in: path
          name: service_category
          required: true
          schema:
            type: string
          description: the service category of an application
      tags:
        - apps
      summary: Retrieve the scopes an application of a given service category will request
      operationId: getScopes
      responses:
        '200':
          description: Scopes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Scope"
        '204':
          description: There are no scopes given for that category
components:
  schemas:
    App:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the application.
          example: '1'
        app_type:
          type: string
          description: The type of the application.
          example: 'Third-Party-OAuth'
        name:
          type: string
          description: The name of the application.
          example: 'Example Health'
        description:
          type: string
          description: The description of the application.
          example: 'Example Health is a app to help you manage your healthcare records.'
        platforms:
          type: array
          items:
            type: string
            description: The platforms the application is available on.
          example:
            - Web
            - IOS
        logo_url:
          type: string
          description: The source url of the application's logo.
          example: 'https://www.example.com/static/images/example.png'
        service_categories:
          type: array
          items:
            type: string
            description: An array of categories this application belongs to.
          example:
            - Health
        app_url:
          type: string
          description: The URL of the application.
          example: 'https://www.example.com'
        privacy_url:
          type: string
          description: The Applications Privacy Policy
          example: 'https://www.example.com/privacy'
        tos_url:
          type: string
          description: The Applications Terms of Service
          example: 'https://www.example.com/tos'
    Scope:
      type: object
      properties:
        name:
          type: string
          description: The name of the scope in Okta.
          example: 'patient/Condition.read'
        displayName:
          type: string
          description: The name of the scope as it would be displayed to users.
          example: 'Health conditions and diagnoses'
        description:
          type: string
          description: A description of the scope.
          example: 'A list of any conditions that impact your health.'
