---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/patient/ICN/1000123456V123456/booked-cc-appointments?endDate=2020-03-14T08:00:00Z&pageSize=0&startDate=2019-11-14T07:00:00Z&useCache=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Vamf-Version:
      - 1.10.0
      X-Vamf-Build:
      - 6b55567
      X-Vamf-Timestamp:
      - '2019-09-18T18:29:46+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "bookedAppointmentCollections": [
          {
            "collectionName": "bookedCCAppointments",
            "bookedCCAppointments": [
            {
              "appointmentRequestId": "8a48912a6c2409b9016c29cbeed0006a",
              "patientIdentifier": {
                "uniqueId": "1012853550V207686",
                "assigningAuthority": "ICN"
              },
              "distanceEligibleConfirmed": true,
              "name": {
                "firstName": "",
                "lastName": ""
              },
              "providerPractice": "test",
              "providerPhone": "(321) 230-0328",
              "address": {
                "street": "test",
                "city": "test",
                "state": "MA",
                "zipCode": "32826"
              },
              "instructionsToVeteran": "",
              "appointmentTime": "09/20/2020 16:29:00",
              "timeZone": "-04:00 EDT"
            },
            {
              "appointmentRequestId": "8a48912a6d02b0fc016d20b2aba40016",
              "patientIdentifier": {
                "uniqueId": "1012853550V207686",
                "assigningAuthority": "ICN"
              },
              "distanceEligibleConfirmed": true,
              "name": {
                "firstName": "Samatha",
                "lastName": "Girla"
              },
              "providerPractice": "test clinic 1",
              "prov[...]
