---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/appointments/v1/patients/1000123456V123456/appointments?endDate=2020-01-04T08:00:00Z&pageSize=0&startDate=2019-09-04T07:00:00Z&useCache=false
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "data": {
              "result": {
                "partial": false,
                "sources": [
                  "VVS",
                  "dfn-983",
                  "dfn-984"
                ],
                "pageCount": 1,
                "currentPage": 1
              },
              "appointmentList": [
                {
                  "startDate": "2019-10-30T20:00:00Z",
                  "clinicId": "308",
                  "clinicFriendlyName": "Green Team Clinic1",
                  "facilityId": "983",
                  "patientIcn": "1012845943V900681",
                  "communityCare": false,
                  "vdsAppointments": [
                    {
                      "appointmentLength": "20",
                      "appointmentTime": "2019-10-30T20:00:00Z",
                      "clinic": {
                        "name": "CHY PC KILPATRICK",
                        "askForCheckIn": false,
                        "facilityCode": "983"
                      },
                      "patientId": "7216690",
                      "type": "REGULAR",
                      "currentStatus": "FUTURE",
                      "bookingNote": "Testing"
                    }
                  ]
                },
                {
                  "startDate": "2019-11-11T13:00:00Z",
                  "clinicId": "945",
                  "clinicFriendlyName": "C&P BEV AUDIO FTC",
                  "facilityId": "983",
                  "patientIcn": "1012845943V900681",
                  "communityCare": false,
                  "vvsAppointments": [
                    {
                      "id": "MOBILEANY-201906-026",
                      "appointmentKind": "MOBILE_ANY",
                      "sourceSystem": "SM",
                      "dateTime": "2019-11-11T13:00:00Z",
                      "desiredDate": "2019-04-06T16:00:00Z",
                      "duration": 15,
                      "status": {
                        "description": "F",
                        "code": "FUTURE"
                      },
                      "schedulingRequestType": "NEXT_AVAILABLE_APPT",
                      "type": "REGULAR",
                      "bookingNotes": "2018-02-14T22:00-MOBILE_ANY",
                      "instruction": "this is a test of instruction",
                      "instructionsOther": false,
                      "patients": {
                        "patient": [
                          {
                            "id": {
                              "assigningAuthority": "ICN",
                              "uniqueId": "1012845943V900681"
                            },
                            "name": {
                              "firstName": "Cecil",
                              "lastName": "Morgan"
                            },
                            "contactInformation": {
                              "mobile": "1234567890",
                              "preferredEmail": "test@123.com",
                              "timeZone": "10"
                            },
                            "location": {
                              "type": "NonVA",
                              "facility": {
                                "name": "CHEYENNE VAMC",
                                "siteCode": "442",
                                "timeZone": "10"
                              },
                              "clinic": {
                                "ien": "442",
                                "name": "CHY PC PRINCE"
                              }
                            },
                            "patientAppointment": true,
                            "virtualMeetingRoom": {
                              "conference": "patientConference",
                              "pin": "12345",
                              "url": "http://patientConference.com"
                            }
                          }
                        ]
                      },
                      "providers": {
                        "provider": [
                          {
                            "name": {
                              "firstName": "provider firstName",
                              "lastName": "provider lastName",
                              "middleInitial": "provider middleInitial"
                            },
                            "id": {
                              "assigningAuthority": "dfn-983",
                              "uniqueId": "1013047827"
                            },
                            "contactInformation": {
                              "mobile": "9912567890",
                              "preferredEmail": "Farid.KhafajiZadeh@va.gov",
                              "timeZone": "10"
                            [...]
