---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/appointments/v1/patients/1012845331V153043/appointments?endDate=2020-07-02T08:00:00Z&pageSize=0&startDate=2020-06-02T07:00:00Z&useCache=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.23.0
      B3:
      - fd7698a87d175101-3cf345ac3ebf02c2-0
      X-Vamf-Build:
      - 8118a26
      X-Vamf-Timestamp:
      - '2020-11-24T14:50:36+0000'
    body:
      encoding: UTF-8
      string: '{"data":{"result":{"partial":false,"sources":["VVS","983","984"],"pageCount":1,"currentPage":1},"appointmentList":[{"id":"202006031600983000030800000000000000","startDate":"2020-06-03T16:00:00Z","clinicId":"308","clinicFriendlyName":"Green
        Team Clinic1","facilityId":"983","sta6aid":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","locationName":"CHY PC KILPATRICK","patientIcn":"1012845331V153043","communityCare":false,"vdsAppointments":[{"id":"308;20200603.100000","appointmentLength":"20","appointmentTime":"2020-06-03T16:00:00Z","clinic":{"name":"CHY
        PC KILPATRICK","askForCheckIn":false,"facilityCode":"983"},"patientId":"7216691","type":"SERVICE
        CONNECTED","currentStatus":"NO ACTION TAKEN"}]},{"id":"202006032020983000030800000000000000","startDate":"2020-06-03T20:20:00Z","clinicId":"308","clinicFriendlyName":"Green
        Team Clinic1","facilityId":"983","sta6aid":"983","stationName":"CHYSHR-Cheyenne
        VA Medical Center","locationName":"CHY PC KILPATRICK","patientIcn":"1012845331V153043","communityCare":false,"vdsAppointments":[{"id":"308;20200603.142000","appointmentTime":"2020-06-03T20:20:00Z","clinic":{"name":"CHY
        PC KILPATRICK","askForCheckIn":[...]
