---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/appointments/v1/patients/1000123456V123456/appointments?endDate=2020-03-14T08:00:00Z&pageSize=0&startDate=2019-11-14T07:00:00Z&useCache=false
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "data": {
              "result": {
                "partial": false,
                "sources": [
                  "VVS",
                  "dfn-983",
                  "dfn-984",
                  "dfn-989",
                  "dfn-979"
                ],
                "pageCount": 1,
                "currentPage": 1
              },
              "appointmentList": [
                {
                  "startDate": "2019-10-24T17:00:00Z",
                  "clinicId": "408",
                  "facilityId": "983",
                  "patientIcn": "1012853550V207686",
                  "communityCare": false,
                  "vdsAppointments": [
                    {
                      "appointmentLength": "60",
                      "appointmentTime": "2019-10-24T17:00:00Z",
                      "clinic": {
                        "name": "OPTOMETRY - GRUBBS",
                        "askForCheckIn": false,
                        "facilityCode": "983"
                      },
                      "patientId": "7219295",
                      "type": "REGULAR",
                      "currentStatus": "NO ACTION TAKEN/TODAY",
                      "bookingNote": "Testing the direct schedule"
                    }
                  ]
                },
                {
                  "startDate": "2019-10-28T15:00:00Z",
                  "clinicId": "945",
                  "clinicFriendlyName": "C&P BEV AUDIO FTC",
                  "facilityId": "983",
                  "patientIcn": "1012853550V207686",
                  "communityCare": false,
                  "vdsAppointments": [
                    {
                      "appointmentLength": "60",
                      "appointmentTime": "2019-10-28T15:00:00Z",
                      "clinic": {
                        "name": "ZZFTC C&P AUDIO BEV",
                        "askForCheckIn": false,
                        "facilit[...]
