---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/983/patient/ICN/1012845331V153043/booked-appointments
    body:
      encoding: UTF-8
      string: '{"schedulingRequestType":"NEXT_AVAILABLE_APPT","type":"REGULAR","appointmentKind":"TRADITIONAL","schedulingMethod":"direct","apptType":"P","purpose":"9","lvl":"1","ekg":"","lab":"","xRay":"","desiredDate":"2020-01-31T00:00:00.000+00:00","dateTime":"2020-01-31T21:00:00.000+00:00","duration":30,"bookingNotes":"Follow-up/Routine:
        abdominal pain","clinic":{"siteCode":"983","clinicId":"308","clinicName":"CHY
        PC KILPATRICK","clinicFriendlyLocationName":"Green Team Clinic1","institutionName":"CHYSHR-Cheyenne
        VA Medical Center","institutionCode":"983"},"patients":{"patient":[{"id":{"uniqueId":"1012845331V153043","assigningAuthority":"ICN"},"name":{"firstName":"JUDY","lastName":"MORRISON"},"contactInformation":{"preferredEmail":"test@va.gov","timeZone":"America/Denver"},"location":{"type":"VA","facility":{"name":"CHYSHR-Cheyenne
        VA Medical Center","siteCode":"983","timeZone":"America/Denver"},"clinic":{"ien":"308","name":"CHY
        PC KILPATRICK"}}}]},"direct":{"purpose":"Follow-up/Routine: abdominal pain","desiredDate":"01/31/2020
        00:00:00","dateTime":"01/31/2020 21:00:00","apptLength":30},"providers":{"provider":[{"location":{"type":"VA"}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: This appointment cannot be booked using VA Online Scheduling.  Please
        contact the site directly to schedule your appointment and advise them to
        <b>contact the VAOS Support Team for assistance with Clinic configuration.</b>
        <a class="external-link" href="https://www.va.gov/find-locations/">VA Facility
        Locator</a>
  recorded_at: Tue, 14 Jan 2020 19:36:14 GMT
recorded_with: VCR 5.0.0
