---
http_interactions:
  - request:
      method: put
      uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/983/patient/ICN/1012845331V153043/cancel-appointment
      body:
        encoding: UTF-8
        string: '{"appointmentTime":"11/15/19 20:00:00","clinicId":"408","cancelReason":"whatever","cancelCode":"5","remarks":null,"clinicName":null,"patientIdentifier":{"uniqueId":"1012845331V153043","assigningAuthority":"ICN"}}'
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 409
        message: Conflict
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      body:
        encoding: UTF-8
        string:
          This appointment cannot be cancelled using VA Online Scheduling.  Please
          contact the site directly to cancel your appointment. <a class="external-link"
          href="https://www.va.gov/find-locations/">VA Facility Locator</a>
    recorded_at: Fri, 15 Nov 2019 11:38:42 GMT
recorded_with: VCR 3.0.3
