---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/var/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/983/patient/ICN/1012845331V153043/cancel-appointment
    body:
      encoding: UTF-8
      string: '{"appointmentTime":"11/20/2019 17:00:00","clinicId":"437","cancelReason":"5","cancelCode":"PC","remarks":"","clinicName":"CHY
        VISUAL FIELD","patientIdentifier":{"uniqueId":"1012845331V153043","assigningAuthority":"ICN"}}'
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 15 Nov 2019 18:16:01 GMT
recorded_with: VCR 3.0.3
