---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/appointments/v1/patients/1012845331V153043/appointments/202006031600983000030800000000000000-aaaaaa
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        X-Vamf-Jwt:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.23.0
        B3:
          - "048345211d50b863-36ecd8a0c72b74e2-0"
        X-Vamf-Build:
          - 8118a26
        X-Vamf-Timestamp:
          - "2020-11-24T14:50:36+0000"
      body:
        encoding: UTF-8
        string:
          '{"id":"202006031600983000030800000000000000-aaaaaa","startDate":"2020-06-03T16:00:00Z","clinicId":"308","clinicFriendlyName":"Green
          Team Clinic1","facilityId":"983","sta6aid":"983","stationName":"CHYSHR-Cheyenne
          VA Medical Center","locationName":"CHY PC KILPATRICK","patientIcn":"1012845331V153043","communityCare":false,"vdsAppointments":[{"id":"308;20200603.100000","appointmentLength":"20","appointmentTime":"2020-06-03T16:00:00Z","clinic":{"name":"CHY
          PC KILPATRICK","askForCheckIn":false,"facilityCode":"983"},"patientId":"7216691","type":"SERVICE
          CONNECTED","currentStatus":"NO ACTION TAKEN"}]}'
    recorded_at: Thu, 14 Jan 2021 18:06:41 GMT
recorded_with: VCR 6.0.0
