---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/intent-to-file
    body:
      encoding: UTF-8
      string: '{"data":{"type":"intent_to_file","attributes":{"type":"compensation","claimantSsn":""}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 422
      message: Unprocessable entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining-Minute:
      - '119'
      Ratelimit-Reset:
      - '49'
      X-Ratelimit-Limit-Minute:
      - '120'
      Ratelimit-Remaining:
      - '119'
      Ratelimit-Limit:
      - '120'
      X-Git-Sha:
      - 87b5a2f2d08bc05205824e885d812aae2248f275
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Unprocessable entity","detail":"Invalid claimantSsn parameter"}]}'
  recorded_at: Wed, 26 Jun 2024 13:44:12 GMT
recorded_with: VCR 6.2.0
