---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/claims/v2/veterans/123498767V234859/intent-to-file
    body:
      encoding: UTF-8
      string: '{"data":{"type":"intent_to_file","attributes":{"type":"compensation","claimantSsn":""}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Reset:
      - '11'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Git-Sha:
      - 6ebccff8d7858ebdfc79da40bfd10fbcf7c11578
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{
        "data": {
          "id": "193685",
          "type": "intent_to_file",
          "attributes": {
            "creationDate": "2021-03-16T19:15:21.000-05:00",
            "expirationDate": "2022-03-16T19:15:20.000-05:00",
            "type": "compensation",
            "status": "active"
          }
        }
      }'
  recorded_at: Thu, 25 May 2023 17:29:49 GMT
recorded_with: VCR 6.1.0
