---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - eyJhbGciOiJSUzUxMiJ9.eyJhdXRoZW50aWNhdGVkIjp0cnVlLCJsYXN0TmFtZSI6Ik1vcnJpc29uIiwic3ViIjoiMTAxMjg0NTMzMVYxNTMwNDMiLCJhdXRoZW50aWNhdGlvbkF1dGhvcml0eSI6Imdvdi52YS52YW9zIiwiZ2VuZGVyIjoiRkVNQUxFIiwiaXNzIjoiZ292LnZhLnZhbWYudXNlcnNlcnZpY2UudjIiLCJ2YW1mLmF1dGgucmVzb3VyY2VzIjpbIl4uKihcLyk_c2l0ZVtzXT9cLyhkZm4tKT85ODRcL3BhdGllbnRbc10_XC81NTIxNjEwNTBcL2FwcG9pbnRtZW50cyhcLy4qKT8kIiwiXi4qKFwvKT9zaXRlW3NdP1wvKGRmbi0pPzk4M1wvcGF0aWVudFtzXT9cLzcyMTY2OTFcL2FwcG9pbnRtZW50cyhcLy4qKT8kIiwiXi4qKFwvKT9wYXRpZW[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/438
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.22.0
      X-Vamf-Build:
      - 3ca7eeb
      X-Vamf-Timestamp:
      - '2023-08-09T18:25:45+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "438",
          "facilitiesApiId" : "vha_438",
          "vistaSite" : "438",
          "vastParent" : "438",
          "type" : "va_health_facility",
          "name" : "Royal C. Johnson Veterans' Memorial Hospital",
          "classification" : "VA Medical Center (VAMC)",
          "timezone" : {
            "timeZoneId" : "America/Chicago"
          },
          "lat" : 43.531235,
          "long" : -96.75762,
          "website" : "https://www.va.gov/sioux-falls-health-care/locations/royal-c-johnson-veterans-memorial-hospital/",
          "phone" : {
            "main" : "605-336-3230",
            "fax" : "605-333-6878",
            "pharmacy" : "800-316-8387",
            "afterHours" : "605-336-3230",
            "patientAdvocate" : "605-336-3230 x6688",
            "mentalHealthClinic" : "605-336-3230 x 6890",
            "enrollmentCoordinator" : "605-373-4196"
          },
          "mailingAddress" : {
            "type" : "postal",
            "line" : [ null, null, null ]
          },
          "physicalAddress" : {
            "type" : "physical",
            "line" : [ "2501 West 22nd Street", null, null ],
            "city" : "Sioux Falls",
            "state" : "SD",
            "postalCode" : "57105-5046"
          },
          "mobile" : false,
          "healthService" : [ "Audiology", "Cardiology", "CaregiverSupport", "Covid19Vaccine", "DentalServices", "Dermatology", "EmergencyCare", "Gastroenterology", "Gynecology", "MentalHealthCare", "Nutrition", "Ophthalmology", "Optometry", "Orthopedics", "Podiatry", "PrimaryCare", "Urology", "WomensHealth" ],
          "operatingStatus" : {
            "code" : "NORMAL"
          },
          "visn" : "23"
        }
  recorded_at: Sat, 01 Jan 2022 19:25:00 GMT
[...]
- request:
    method: get
    uri: https://veteran.apps.va.gov/facilities/v2/facilities/983GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.8.0
      B3:
      - 531af1d2054d758c-b79b44f980a35120-0
      X-Vamf-Build:
      - '6026315'
      X-Vamf-Timestamp:
      - '2021-07-06T17:59:37+0000'
    body:
      encoding: UTF-8
      string: |-
        {
           "id" : "983GB",
           "vistaSite" : "983",
           "vastParent" : "983",
           "type" : "va_facilities",
           "name" : "Sidney VA Clinic",
           "classification" : "Other Outpatient Services (OOS)",
           "timezone" : {
             "timeZoneId" : "America/Denver"
           },
           "lat" : 41.142464,
           "long" : -102.97669,
           "website" : "https://www.cheyenne.va.gov/locations/Sidney_VA_MSOC.asp",
           "phone" : {
             "main" : "308-254-6085"
           },
           "physicalAddress" : {
             "type" : "physical",
             "line" : [ "1116 10th Avenue" ],
             "city" : "Sidney",
             "state" : "NE",
             "postalCode" : "69162-2001"
           },
           "healthService" : [ "EmergencyCare", "MentalHealthCare", "PrimaryCare" ]
        }
  recorded_at: Mon, 09 Aug 2021 17:48:58 GMT
recorded_with: VCR 6.0.0
