---
http_interactions:
- request:
    method: get
    uri:  https://veteran.apps.va.gov/vaos/v1/locations/983/clinics?clinicIds=455
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.18.0
      B3:
      - 1f98ca75475e982a19dbbba67a57d52b-815f92b93c3e69cc-0
      X-Vamf-Build:
      - 72e09ad
      X-Vamf-Timestamp:
      - '2022-08-18T13:02:15+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" :[{
           "vistaSite" : 983,
            "id" : "455",
            "serviceName" : "MTZ-LAB (BLOOD WORK)",
            "physicalLocation" : "MTZ OPC, LAB",
            "phoneNumber" : "800-382-8387",
            "stationId" : "983",
            "stationName" : "Martinez VA Medical Center",
            "primaryStopCode" : 108,
            "primaryStopCodeName" : "LABORATORY",
            "secondaryStopCodeName" : "*Missing*",
            "patientDirectScheduling" : false,
            "patientDisplay" : true,
            "futureBookingMaximumDays" : 390
          }]
        }
  recorded_at: Tue, 30 Aug 2022 22:37:16 GMT
- request:
    method: get
    uri: https://host.va.gov/vaos/v1/locations/983/clinics?clinicIds=1053
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 2.18.0
      B3:
      - 1b2cdd1a95706cd824f5194751aaf8bf-0f41819ff1126085-0
      X-Vamf-Build:
      - 72e09ad
      X-Vamf-Timestamp:
      - '2022-08-18T13:02:15+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [{
            "vistaSite" : 983,
            "id" : "455",
            "serviceName" : "LAB BLOOD WORK",
            "physicalLocation" : "MTZ OPC, LAB",
            "phoneNumber" : "800-382-8387",
            "stationId" : "983",
            "stationName" : "Martinez VA Medical Center",
            "primaryStopCode" : 108,
            "primaryStopCodeName" : "LABORATORY",
            "secondaryStopCodeName" : "*Missing*",
            "patientDirectScheduling" : false,
            "patientDisplay" : true,
            "futureBookingMaximumDays" : 390
          }]
        }
  recorded_at: Tue, 30 Aug 2022 22:46:53 GMT
recorded_with: VCR 6.1.0
