---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/appointments/v1/patients/1012845331V153043/appointments?endDate=2020-07-02T08:00:00Z&pageSize=0&startDate=2020-06-02T07:00:00Z&useCache=false
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Vamf-Version:
          - 1.9.0
        X-Vamf-Build:
          - b4a9910
        X-Vamf-Timestamp:
          - '2019-07-08T16:09:14+0000'
      body:
        encoding: UTF-8
        string: |-
          {
            "data" : {
              "result" : {
                "partial" : false,
                "sources" : [ "VVS", "983", "984", "757" ],
                "pageCount" : 1,
                "currentPage" : 1
              },
              "appointmentList" : [ {
                "startDate" : "2019-09-30T19:00:00Z",
                "facilityId" : "688",
                "patientIcn" : "1012853802V084487",
                "vvsAppointments" : [ {
                  "id" : "ADHOCGroupLastFourSSNTest-nags-983",
                  "appointmentKind" : "ADHOC",
                  "sourceSystem" : "VVS",
                  "dateTime" : "2019-09-30T19:00:00Z",
                  "desiredDate" : "2019-09-30T19:00:00Z",
                  "duration" : 20,
                  "status" : {
                    "description" : "F",
                    "code" : "FUTURE"
                  },
                  "schedulingRequestType" : "NEXT_AVAILABLE_APPT",
                  "type" : "REGULAR",
                  "bookingNotes" : "testing",
                  "instruction" : "this is a test of instruction",
                  "instructionsOther" : true,
                  "patients" : {
                    "patient" : [ {
                      "id" : {
                        "assigningAuthority" : "ICN",
                        "uniqueId" : "1012853802V084487"
                      },
                      "name" : {
                        "firstName" : "Meera",
                        "lastName" : "Bho",
                        "middleInitial" : "H"
                      },
                      "contactInformation" : {
                        "mobile" : "1234567890",
                        "preferredEmail" : "nageswara.lingineni@accenturefederal.com",
                        "timeZone" : "35"
                      },
                      "location" : {
                        "type" : "NonVA",
                        "facility" : {
                          "name" : "WASHINGTON",
                          "siteCode" : "688",
                          "timeZone" : "35"
                        }
                      },
                      "patientAppointment" : true,
                      "virtualMeetingRoom" : {
                        "conference" : "patientConference",
                        "pin" : "12345",
                        "url" : "http://patientConference.com"
                      }
                    }, {
                      "id" : {
                        "assigningAuthority" : "ICN",
                        "uniqueId" : "1013012762V562525"
                      },
                      "name" : {
                        "firstName" : "Meera",
                        "lastName" : "Pho",
                        "middleInitial" : "H"
                      },
                      "contactInformation" : {
                        "mobile" : "1234567890",
                        "preferredEmail" : "nageswara.lingineni@accenturefederal.com",
                        "timeZone" : "35"
                      },
                      "location" : {
                        "type" : "NonVA",
                        "facility" : {
                          "name" : "WASHINGTON",
                          "siteCode" : "688",
                          "timeZone" : "35"
                        }
                      },
                      "patientAppointment" : true,
                      "virtualMeetingRoom" : {
                        "conference" : "patientConference",
                        "pin" : "12345",
                        "url" : "http://patientConference.com"
                      }
                    } ]
                  },
                  "providers" : {
                    "provider" : [ {
                      "name" : {
                        "firstName" : "ADHOC_Group",
                        "lastName" : "Cho",
                        "middleInitial" : "H"
                      },
                      "id" : {
                        "assigningAuthority" : "dfn-983",
                        "uniqueId" : "520647606"
                      },
                      "contactInformation" : {
                        "mobile" : "9912567890",
                        "preferredEmail" : "nageswara.lingineni@accenturefederal.com",
                        "timeZone" : "35"
                      },
                      "location" : {
                        "type" : "VA",
                        "facility" : {
                          "name" : "WASHINGTON",
                          "siteCode" : "983",
                          "timeZone" : "35"
                        },
                        "clinic" : {
                          "ien" : "36",
                          "name" : "WASHINGTON"
                        }
                      },
                      "virtualMeetingRoom" : {
                        "conference" : "providerConference",
                        "pin" : "4321",
                        "url" : "http://provider.com"
                      }
                    } ]
                  },
                  "invities" : [ {
                    "email" : "nageswara.lingineni@accenturefederal.com",
                    "name" : {
                      "firstName" : "Nag1",
                      "lastName" : "Ling1"
                    },
                    "inviteType" : "STAFF"
                  }, {
                    "email" : "nageswara.lingineni@accenturefederal.com",
                    "name" : {
                      "firstName" : "Nag2",
                      "lastName" : "Ling2"
                    },
                    "inviteType" : "STAFF"
                  } ]
                } ]
              }, {
                "startDate" : "2019-09-30T19:00:00Z",
                "facilityId" : "688",
                "patientIcn" : "1012853802V084487",
     [...]
