---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/appointments/v1/patients/1012845331V153043/appointments/132
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vamf-Version:
      - 1.19.0
      B3:
      - 2b07fac081225fc7-b65d5c6db45cd0c5-0
      X-Vamf-Build:
      - 5336aa9
      X-Vamf-Timestamp:
      - '2020-08-20T20:49:02+0000'
    body:
      encoding: UTF-8
      string: 
        '{"id":"202008261500983000084800000000000000","startDate":"2020-08-26T15:00:00Z","clinicId":"848","clinicFriendlyName":"CHY PC VAR2","facilityId":"983","sta6aid":"983","stationName":"CHYSHR-Cheyenne VA Medical Center","patientIcn":"1013124304V115761","communityCare":false,"vdsAppointments":[{"id":"848;20200826.090000","appointmentLength":"20","appointmentTime":"2020-08-26T15:00:00Z","clinic":{"name":"CHY PC VAR2","askForCheckIn":false,"facilityCode":"983"},"patientId":"7219393","type":"REGULAR","currentStatus":"NO ACTION TAKEN/TODAY","bookingNote":"Follow-up/Routine: testing reason for visit field availability"}]}'
  recorded_at: Wed, 26 Aug 2020 22:23:25 GMT
recorded_with: VCR 6.0.0
