---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RatingServiceBean/RatingService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.share.benefits.vba.va.gov/" name="RatingWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://services.share.benefits.vba.va.gov/" schemaLocation="https://prepbepbenefits.vba.va.gov:443/RatingServiceBean/RatingWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findRatingData">
        <part name="parameters" element="tns:findRatingData"/>
        </message>
        <message name="findRatingDataResponse">
        <part name="parameters" element="tns:findRatingDataResponse"/>
        </message>
        <message name="ShareException">
        <part name="fault" element="tns:ShareException"/>
        </message>
        <message name="findRatingDataByPtcpntId">
        <part name="parameters" element="tns:findRatingDataByPtcpntId"/>
        </message>
        <message name="findRatingDataByPtcpntIdResponse">
        <part name="parameters" element="tns:findRatingDataByPtcpntIdResponse"/>
        </message>
        <portType name="RatingService">
        <operation name="findRatingData">
        <input wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataRequest" message="tns:findRatingData"/>
        <output wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataResponse" message="tns:findRatingDataResponse"/>
        <fault message="tns:ShareException" name="ShareException" wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingData/Fault/ShareException"/>
        </operation>
        <operation name="findRatingDataByPtcpntId">
        <input wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntIdRequest" message="tns:findRatingDataByPtcpntId"/>
        <output wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntIdResponse" message="tns:findRatingDataByPtcpntIdResponse"/>
        <fault message="tns:ShareException" name="ShareException" wsam:Action="http://services.share.benefits.vba.va.gov/RatingService/findRatingDataByPtcpntId/Fault/ShareException"/>
        </operation>
        </portType>
        <binding name="RatingWebServicePortBinding" type="tns:RatingService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findRatingData">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="ShareException">
        <soap:fault name="ShareException" use="literal"/>
        </fault>
        </operation>
        <operation name="findRatingDataByPtcpntId">
        <soap:operation soapAction=""/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        <fault name="ShareException">
        <soap:fault name="ShareException" use="literal"/>
        </fault>
        </operation>
        </binding>
        <service name="RatingWebService">
        <port name="RatingWebServicePort" binding="tns:RatingWebServicePortBinding">
        <soap:address location="https://prepbepbenefits.vba.va.gov:443/RatingServiceBean/RatingWebService"/>
        </port>
        </service>
        </definitions>
  recorded_at: Thu, 22 Feb 2024 23:24:41 GMT
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/RatingServiceBean/RatingService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.share.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>10.247.35.119</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>82836359962678900</vaws:ExternalUid>
            <vaws:ExternalKey>abraham lincoln Jr</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findRatingData><fileNumber>796104437</fileNumber></tns:findRatingData></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findRatingData"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMy4yNwAA</work:WorkContext></env:Header><S:Body><ns0:findRatingDataResponse
        xmlns:ns0="http://services.share.benefits.vba.va.gov/"><return><deathRatingRecord><numberOfRecords>0</numberOfRecords><returnCode>SHAR
        9999</returnCode><returnMessage>Records found</returnMessage></deathRatingRecord><disabilityRatingRecord><combinedDegreeEffectiveDate>08012017</combinedDegreeEffectiveDate><legalEffectiveDate>09012012</legalEffectiveDate><nonServiceConnectedCombinedDegree>50</nonServiceConnectedCombinedDegree><numberOfRecords>3</numberOfRecords><promulgationDate>03252019</promulgationDate><ratings><beginDate>09012012</beginDate><bilateralTypeName></bilateralTypeName><combatIndicator>N</combatIndicator><diagnosticPercent>50</diagnosticPercent><diagnosticText>headaches</diagnosticText><diagnosticTypeCode>8100</diagnosticTypeCode><diagnosticTypeName>Migraine</diagnosticTypeName><disabilityDate>07072017</disabilityDate><disabilityDecisionTypeCode>SVCCONNCTED</disabilityDecisionTypeCode><disabilityDecisionTypeName>Service
        Connected</disabilityDecisionTypeName><disabilityID>3393</disabilityID><endDate></endDate><futureExamDate></futureExamDate><hyphenatedDiagnosticTypeCode></hyphenatedDiagnosticTypeCode><hyphenatedDiagnosticTypeName></hyphenatedDiagnosticTypeName><hyphenatedRelatedDisabilityTypeName></hyphenatedRelatedDisabilityTypeName><lastExamDate></lastExamDate><majorIndicator>N</majorIndicator><militaryServicePeriodTypeName>Peacetime</militaryServicePeriodTypeName><paragraphTypeName></paragraphTypeName><previousServicePercent></previousServicePercent><relatedDisabilityTypeName></relatedDisabilityTypeName><supplementalDecisionTypeName></supplementalDecisionTypeName><withholdingPercent></withholdingPercent><withholdingTypeName></withholdingTypeName></ratings><ratings><beginDate>07072017</beginDate><bilateralTypeName>Left
        Lower</bilateralTypeName><combatIndicator>N</combatIndicator><diagnosticPercent>0</diagnosticPercent><diagnosticText>knee</diagnosticText><diagnosticTypeCode>5257</diagnosticTypeCode><diagnosticTypeName>Impairment
        of the knee, general</diagnosticTypeName><disabilityDate>07072017</disabilityDate><disabilityDecisionTypeCode>SVCCONNCTED</disabilityDecisionTypeCode><disabilityDecisionTypeN[...]
