---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v2/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v2" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v2" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v2" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v2">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>9eac7549-8c2e-4f83-8a5a-b33d326b0a6e</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISserviceEpisodeRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1007697216</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISserviceEpisodeRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - application/soap+xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getMilitaryServiceEpisodes/v2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?>
              <NS4:eMISdeploymentResponse xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v2">
                <NS5:ESSError xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v2">
                  <NS4:essTransactionID xmlns:NS4="http://viers.va.gov/cdi/CDI/commonService/v2">f834fbfa-f571-4efc-b724-829ddbccbae1</NS4:essTransactionID>
                  <NS5:ESSResponseCode xmlns:NS5="http://viers.va.gov/cdi/CDI/commonService/v2">ERROR</NS5:ESSResponseCode>
                  <NS6:code xmlns:NS6="http://viers.va.gov/cdi/CDI/commonService/v2">MIS-ERR-003</NS6:code>
                  <NS7:text xmlns:NS7="http://viers.va.gov/cdi/CDI/commonService/v2">INVALID_IDENTIFIER</NS7:text>
                  <NS8:essCode xmlns:NS8="http://viers.va.gov/cdi/CDI/commonService/v2">gov.va.ess.fault.io.InputOutputFault</NS8:essCode>
                  <NS9:essText xmlns:NS9="http://viers.va.gov/cdi/CDI/commonService/v2">EDIPI incorrectly formatted</NS9:essText>
                  <NS10:severity xmlns:NS10="http://viers.va.gov/cdi/CDI/commonService/v2">Error</NS10:severity>
                  <NS11:timestamp xmlns:NS11="http://viers.va.gov/cdi/CDI/commonService/v2">2017-04-19T14:19:32.823174-05:00</NS11:timestamp>
                  <NS12:serviceName xmlns:NS12="http://viers.va.gov/cdi/CDI/commonService/v2">Veteran Eligibility</NS12:serviceName>
                  <NS13:userId xmlns:NS13="http://viers.va.gov/cdi/CDI/commonService/v2">vets.gov</NS13:userId>
                  <NS14:codePackage xmlns:NS14="http://viers.va.gov/cdi/CDI/commonService/v2">gov.va.viers.emis.milinfo</NS14:codePackage>
                  <NS15:serviceDomain xmlns:NS15="http://viers.va.gov/cdi/CDI/commonService/v2">Military History</NS15:serviceDomain>
                  <NS16:businessDomain xmlns:NS16="http://viers.va.gov/cdi/CDI/commonService/v2">Enterprise Military Information</NS16:businessDomain>
                </NS5:ESSError>
              </NS4:eMISdeploymentResponse>
  recorded_at: Wed, 27 Nov 2019 19:29:59 GMT
recorded_with: VCR 3.0.3
