---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.us/test-tenant-id/oauth2/v2.0/token
    body:
      encoding: UTF-8
      string: client_id=test-client-id&client_secret=test-client-secret&scope=https://api.va.gov/.default&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.test-token"}'
  recorded_at: Thu, 26 Nov 2025 12:00:00 GMT
- request:
    method: get
    uri: https://api.vass.va.gov/api/GetVeteran
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Veteran retrieved successfully","correlationId":"test-correlation-id","timeStamp":"2025-11-26T12:00:00Z","data":{"firstName":"John","lastName":"Doe","middleName":"Michael","edipi":"1234567890","dateOfBirth":"1980-05-15","notificationEmail":"john.doe@example.com","notificationSMS":"555-123-4567"}}'
  recorded_at: Thu, 26 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.0.0
