---
http_interactions:
- request:
    method: get
    uri: https://api.vass.va.gov/api/GetVeteranAppointment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"An internal server error occurred","correlationId":"test-correlation-id","timeStamp":"2025-11-26T12:00:00Z"}'
  recorded_at: Thu, 26 Nov 2025 12:00:00 GMT
recorded_with: VCR 6.0.0
