---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/vsp/v1/Appointment
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "resourceType": "Appointment",
          "id": "1631",
          "meta": {
            "versionId": "1",
            "lastUpdated": "2018-11-16T23:37:36.339+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "pending",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15
        }
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json+fhir;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "OperationOutcome",
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Can not create resource with ID &quot;1631&quot;, an ID element must not be supplied in the resource body on a create (POST) operation</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
          },
          "issue": [ {
            "severity": "error",
            "code": "processing",
            "diagnostics": "Can not create resource with ID \"1631\", an ID element must not be supplied in the resource body on a create (POST) operation"
          } ]
        }
  recorded_at: Tue, 28 Jul 2020 04:59:25 GMT
recorded_with: VCR 6.0.0
