---
http_interactions:
- request:
    method: post
    uri: https://veteran.apps.va.gov/vsp/v1/Appointment
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "resourceType": "Appointment",
          "meta": {
            "versionId": "1",
            "lastUpdated": "2018-11-16T23:37:36.339+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "pending",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15,
          "participant": [ {
            "actor": {
              "display": "Dr Dave"
            },
            "status": "accepted"
          }, {
            "actor": {
              "reference": "Patient/1557"
            },
            "status": "accepted"
          } ]
        }
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json+fhir;charset=utf-8
      Etag:
      - W/"1"
      Content-Location:
      - http://hapi.fhir.org/baseDstu2/Appointment/261949/_history/1
      Last-Modified:
      - Mon, 27 Jul 2020 18:13:40 GMT
      Location:
      - https://veteran.apps.va.gov/vsp/v1/Appointment/261949/_history/1
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Appointment",
          "id": "261949",
          "meta": {
            "versionId": "1",
            "lastUpdated": "2020-07-27T18:13:40.864+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "pending",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15,
          "participant": [ {
            "actor": {
              "display": "Dr Dave"
            },
            "status": "accepted"
          }, {
            "actor": {
              "reference": "Patient/1557"
            },
            "status": "accepted"
          } ]
        }
  recorded_at: Mon, 27 Jul 2020 18:13:41 GMT
recorded_with: VCR 6.0.0
