---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/vsp/v1/Appointment/1631X
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "resourceType": "Appointment",
          "id": "1631",
          "meta": {
            "versionId": "2",
            "lastUpdated": "2020-08-03T07:56:06.634+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "pending",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15,
          "participant": [ {
            "actor": {
              "display": "Dr Dave"
            },
            "status": "rejected"
          }, {
            "actor": {
              "reference": "Patient/1557"
            },
            "status": "accepted"
          } ]
        }
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json+fhir;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "OperationOutcome",
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>Can not update resource, resource body must contain an ID element which matches the request URL for update (PUT) operation - Resource body ID of &quot;1631&quot; does not match URL ID of &quot;1631X&quot;</pre></td>\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t</tr>\n\t\t</table>\n\t</div>"
          },
          "issue": [ {
            "severity": "error",
            "code": "processing",
            "diagnostics": "Can not update resource, resource body must contain an ID element which matches the request URL for update (PUT) operation - Resource body ID of \"1631\" does not match URL ID of \"1631X\""
          } ]
        }
  recorded_at: Mon, 03 Aug 2020 10:17:23 GMT
recorded_with: VCR 6.0.0
