---
http_interactions:
- request:
    method: put
    uri: https://veteran.apps.va.gov/vsp/v1/Appointment/1631
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "resourceType": "Appointment",
          "id": "1631",
          "meta": {
            "versionId": "2",
            "lastUpdated": "2020-08-03T07:56:06.634+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "cancelled",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15,
          "participant": [ {
            "actor": {
              "display": "Dr Dave"
            },
            "status": "rejected"
          }, {
            "actor": {
              "reference": "Patient/1557"
            },
            "status": "accepted"
          } ]
        }
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json+fhir;charset=utf-8
      Etag:
      - W/"3"
      Content-Location:
      - https://veteran.apps.va.gov/vsp/v1/Appointment/1631/_history/3
      Last-Modified:
      - Tue, 04 Aug 2020 06:49:27 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Appointment",
          "id": "1631",
          "meta": {
            "versionId": "3",
            "lastUpdated": "2020-08-04T06:49:27.725+00:00"
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns='http://www.w3.org/1999/xhtml'><div>Routine checkup</div><div>Dr Dave</div></div>"
          },
          "status": "cancelled",
          "description": "Routine checkup",
          "start": "2018-11-23T18:37:38-05:00",
          "end": "2018-11-23T18:52:38-05:00",
          "minutesDuration": 15,
          "participant": [ {
            "actor": {
              "display": "Dr Dave"
            },
            "status": "rejected"
          }, {
            "actor": {
              "reference": "Patient/1557"
            },
            "status": "accepted"
          } ]
        }
  recorded_at: Tue, 04 Aug 2020 06:49:27 GMT
recorded_with: VCR 6.0.0
