---
http_interactions:
  - request:
      method: get
      uri: https://veteran.apps.va.gov/vsp/v1/Appointment?_include=Appointment:location&date=lt2010-08-31T17:00:00Z&patient:Patient.identifier=1012845331V153043
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json+fhir
        X-VAMF-JWT:
          - stubbed_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json+fhir;charset=UTF-8
        x-vamf-version:
          - 1.4.0
        x-vamf-build:
          - 648792d
        x-vamf-timestamp:
          - '2020-05-10T21:31:24+0000'
        last-modified:
          - Tue, 26 May 2020 22:40:33 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "3909224f-c7be-4fd3-89a1-35eba5b49e9a",
            "meta": {
              "lastUpdated": "2020-05-26T22:40:33.597+00:00"
            },
            "type": "searchset",
            "total": 0,
            "link": [
              {
                "relation": "self",
                "url": "https://veteran.apps-staging.va.gov/vsp/v1/Appointment?_include=Appointment%3Alocation&date=lt2010-08-31T17%3A00%3A00Z&patient%3APatient.identifier=1012845331V153043"
              }
            ]
          }
    recorded_at: Fri, 22 May 2020 22:05:02 GMT
recorded_with: VCR 5.1.0
