---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/thebravery/thebravery_project/issues
    body:
      encoding: UTF-8
      string: '{"assignee":"thebravery","labels":[],"title":"I liked this page very
        much.  I used it t","body":"I liked this page very much.  I used it to help
        me attain benefits and it was simple and intuitive\n\nTarget Page: /example/page\nEmail
        of Author: NOT PROVIDED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGhlYnJhdmVyeTpQYXNzdzByZCEh
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1502291600'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Wed, 09 Aug 2017 14:13:20 GMT
recorded_with: VCR 3.0.3
