---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/thebravery/thebravery_project/issues
    body:
      encoding: UTF-8
      string: '{"assignee":"thebravery","labels":[],"title":"I liked this page very
        much.  I used it t","body":"I liked this page very much.  I used it to help
        me attain benefits and it was simple and intuitive\n\nTarget Page: /example/page\nEmail
        of Author: NOT PROVIDED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGhlYnJhdmVyeTpQYXNzdzByZCE=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1502229219'
      Etag:
      - '"987eb6e17868649e8504869acd8a1e94"'
      Location:
      - https://api.github.com/repos/thebravery/thebravery_project/issues/14
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/thebravery/thebravery_project/issues/14","repository_url":"https://api.github.com/repos/thebravery/thebravery_project","labels_url":"https://api.github.com/repos/thebravery/thebravery_project/issues/14/labels{/name}","comments_url":"https://api.github.com/repos/thebravery/thebravery_project/issues/14/comments","events_url":"https://api.github.com/repos/thebravery/thebravery_project/issues/14/events","html_url":"https://github.com/thebravery/thebravery_project/issues/14","id":248843077,"number":14,"title":"I
        liked this page very much.  I used it t","user":{"login":"thebravery","id":30668697,"avatar_url":"https://avatars2.githubusercontent.com/u/30668697?v=4","gravatar_id":"","url":"https://api.github.com/users/thebravery","html_url":"https://github.com/thebravery","followers_url":"https://api.github.com/users/thebravery/followers","following_url":"https://api.github.com/users/thebravery/following{/other_user}","gists_url":"https://api.github.com/users/thebravery/gists{/gist_id}","starred_url":"https://api.github.com/users/thebravery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thebravery/subscriptions","organizations_url":"https://api.github.com/users/thebravery/orgs","repos_url":"https://api.github.com/users/thebravery/repos","events_url":"https://api.github.com/users/thebravery/events{/privacy}","received_events_url":"https://api.github.com/users/thebravery/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"thebravery","id":30668697,"avatar_url":"https://avatars2.githubusercontent.com/u/30668697?v=4","gravatar_id":"","url":"https://api.github.com/users/thebravery","html_url":"https://github.com/thebravery","followers_url":"https://api.github.com/users/thebravery/followers","following_url":"https://api.github.com/users/thebravery/following{/other_user}","gists_url":"https://api.github.com/users/thebravery/gists{/gist_id}","starred_url":"https://api.github.com/users/thebravery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thebravery/subscriptions","organizations_url":"https://api.github.com/users/thebravery/orgs","repos_url":"https://api.github.com/users/thebravery/repos","events_url":"https://api.github.com/users/thebravery/events{/privacy}","received_events_url":"https://api.github.com/users/thebravery/received_events","type":"User","site_admin":false},"assignees":[{"login":"thebravery","id":30668697,"avatar_url":"https://avatars2.githubusercontent.com/u/30668697?v=4","gravatar_id":"","url":"https://api.github.com/users/thebravery","html_url":"https://github.com/thebravery","followers_url":"https://api.github.com/users/thebravery/followers","following_url":"https://api.github.com/users/thebravery/following{/other_user}","gists_url":"https://api.github.com/users/thebravery/gists{/gist_id}","starred_url":"https://api.github.com/users/thebravery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thebravery/subscriptions","organizations_url":"https://api.github.com/users/thebravery/orgs","repos_url":"https://api.github.com/users/thebravery/repos","events_url":"https://api.github.com/users/thebravery/events{/privacy}","received_events_url":"https://api.github.com/users/thebravery/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2017-08-08T20:53:39Z","updated_at":"2017-08-08T20:53:39Z","closed_at":null,"body":"I
        liked this page very much.  I used it to help me attain benefits and it was
        simple and intuitive\n\nTarget Page: /example/page\nEmail of Author: NOT PROVIDED","closed_by":null}'
  recorded_at: Tue, 08 Aug 2017 20:53:39 GMT
recorded_with: VCR 3.0.3
