---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va-letter-generator/v1/letter-contents/proof_of_service?icn=24811694708759028
      body:
        encoding: UTF-8
        string: ''
      headers:
        Va-Eauth-Csid:
          - DSLogon
        Va-Eauth-Authenticationmethod:
          - DSLogon
        Va-Eauth-Pnidtype:
          - SSN
        Va-Eauth-Assurancelevel:
          - '3'
        Va-Eauth-Firstname:
          - abraham
        Va-Eauth-Lastname:
          - lincoln
        Va-Eauth-Issueinstant:
          - '2017-06-07T23:26:32Z'
        Va-Eauth-Dodedipnid:
          - '9294277224'
        Va-Eauth-Pid:
          - '9624259154'
        Va-Eauth-Pnid:
          - '272111863'
        Va-Eauth-Authorization:
          - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"272111863","edi":"9294277224","firstName":"abraham","lastName":"lincoln"}}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
          {
            "letterDescription": "This card verifies that you served honorably in the Armed Forces.",
            "letterContent":  [
              {
                "contentKey": "front-of-card",
                "contentTitle": "<front of card>",
                "content": "This card is to serve as proof the individual listed below served honorably in the Uniformed Services of the United States. Jesse Gray 1708 Tiburon Blvd Tiburon, CA 94921 Effective as of: June 08, 2023 DoD ID Number: 1293307390 Date of Birth: December 15, 1954 Branch Of Service: Army"
              },
              {
                "contentKey": "back-of-card",
                "contentTitle": "<back of card>",
                "content": "United States of America Department of Veterans Affairs General Benefit Information 1-800-827-1000 Health Care Information 1-877-222-VETS (8387) This card does not reflect entitlement to any benefits administered by the Department of Veterans Affairs or serve as proof of receiving such benefits."
              },
              {
                "contentKey": "contact-us",
                "contentTitle": "How You Can Contact Us",
                "content": "If you need general information about benefits and eligibility, please visit us at https://www.va.gov. Call us at 1-800-827-1000. Contact us using Telecommunications Relay Services (TTY) at 711 24/7. Send electronic inquiries through the Internet at https://www.va.gov/contact-us."
              }
            ]
          }
    recorded_at: Wed, 23 Nov 2022 23:26:33 GMT
recorded_with: VCR 3.0.3