---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va-letter-generator/v1/eligible-letters?icn=24811694708759028
      body:
        encoding: UTF-8
        string: ''
      headers:
        Va-Eauth-Csid:
          - DSLogon
        Va-Eauth-Authenticationmethod:
          - DSLogon
        Va-Eauth-Pnidtype:
          - SSN
        Va-Eauth-Assurancelevel:
          - '3'
        Va-Eauth-Firstname:
          - abraham
        Va-Eauth-Lastname:
          - lincoln
        Va-Eauth-Issueinstant:
          - '2017-06-07T23:26:32Z'
        Va-Eauth-Dodedipnid:
          - '9294277224'
        Va-Eauth-Pid:
          - '9624259154'
        Va-Eauth-Pnid:
          - '272111863'
        Va-Eauth-Authorization:
          - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"272111863","edi":"9294277224","firstName":"abraham","lastName":"lincoln"}}'
    response:
      status:
        code: 500
        message: 'Internal Server Error'
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
              {
                  "type": "https://api.va.gov/services/va-letter-generator/errors/required-connection-exception",
                  "title": "Required Backend Connection Error",
                  "status": 500,
                  "detail": "Backend Service Error BGS",
                  "instance": "11dcf8e5-d0c8-4a59-848c-8df0e2b6dcbd",
                  "debuggingPayload": "wjww382ndsnxzkjef832j"
              }
    recorded_at: Wed, 23 Nov 2022 23:26:33 GMT
recorded_with: VCR 3.0.3