---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va-letter-generator/v1/eligible-letters?icn=24811694708759028
    body:
      encoding: UTF-8
      string: ''
    headers:
      Va-Eauth-Csid:
      - DSLogon
      Va-Eauth-Authenticationmethod:
      - DSLogon
      Va-Eauth-Pnidtype:
      - SSN
      Va-Eauth-Assurancelevel:
      - '3'
      Va-Eauth-Firstname:
      - abraham
      Va-Eauth-Lastname:
      - lincoln
      Va-Eauth-Issueinstant:
      - '2017-06-07T23:26:32Z'
      Va-Eauth-Dodedipnid:
      - '9294277224'
      Va-Eauth-Pid:
      - '9624259154'
      Va-Eauth-Pnid:
      - '272111863'
      Va-Eauth-Authorization:
      - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"272111863","edi":"9294277224","firstName":"abraham","lastName":"lincoln"}}'
  response:
    status:
      code: 503
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"errors":
          [
            {
              "title": "Service unavailable",
              "detail": "Backend Service Outage",
              "code": "503",
              "status": "503"
            }
          ]
        }
  recorded_at: Wed, 23 Nov 2022 23:26:33 GMT
recorded_with: VCR 3.0.3
