---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-api.va.gov/services/va-letter-generator/v1/eligible-letters?icn=24811694708759028
      body:
        encoding: UTF-8
        string: ''
      headers:
        Va-Eauth-Csid:
          - DSLogon
        Va-Eauth-Authenticationmethod:
          - DSLogon
        Va-Eauth-Pnidtype:
          - SSN
        Va-Eauth-Assurancelevel:
          - '3'
        Va-Eauth-Firstname:
          - abraham
        Va-Eauth-Lastname:
          - lincoln
        Va-Eauth-Issueinstant:
          - '2017-06-07T23:26:32Z'
        Va-Eauth-Dodedipnid:
          - '9294277224'
        Va-Eauth-Pid:
          - '9624259154'
        Va-Eauth-Pnid:
          - '272111863'
        Va-Eauth-Authorization:
          - '{"authorizationResponse":{"status":"VETERAN","idType":"SSN","id":"272111863","edi":"9294277224","firstName":"abraham","lastName":"lincoln"}}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |-
          {
             "messages":[
                {
                  "key": "letterGeneration.letterEligibilityError",
                  "text": "string",
                  "severity": "WARN"
                }
             ],
             "letters":[
                {
                   "letterName":"Commissary Letter",
                   "letterType":"COMMISSARY"
                },
                {
                   "letterName":"Proof of Service Letter",
                   "letterType":"PROOF_OF_SERVICE"
                },
                {
                   "letterName":"Proof of Creditable Prescription Drug Coverage Letter",
                   "letterType":"MEDICARE_PARTD"
                },
                {
                   "letterName":"Proof of Minimum Essential Coverage Letter",
                   "letterType":"MINIMUM_ESSENTIAL_COVERAGE"
                },
                {
                   "letterName":"Service Verification Letter",
                   "letterType":"SERVICE_VERIFICATION"
                },
                {
                   "letterName":"Civil Service Preference Letter",
                   "letterType":"CIVIL_SERVICE"
                },
                {
                   "letterName":"Benefit Summary Letter",
                   "letterType":"BENEFIT_SUMMARY"
                },
                {
                   "letterName":"Benefit Verification Letter",
                   "letterType":"BENEFIT_VERIFICATION"
                },
                {
                   "letterName":"Benefit Summary Dependent Letter",
                   "letterType":"BENEFIT_SUMMARY_DEPENDENT"
                },
                {
                   "letterName":"Certificate of Eligibility",
                   "letterType":"CERTIFICATE_OF_ELIGIBILITY"
                }
             ],
            "letterDestination": {
              "country": "USA",
              "addressLine1": "2476 MAIN STREET",
              "addressLine2": "STE # 12",
              "addressLine3": "West",
              "city": "RESTON",
              "state": "VA",
              "zipCode": "12345",
              "fullName": "John A Smith"
            },
            "militaryServices": [
              {
                "branch": "Army",
                "characterOfService": "HONORABLE",
                "releasedDateTime": "2016-02-04T17:51:56Z",
                "enteredDateTime": "2016-02-04T17:51:56Z"
              }
            ],
            "benefitInformation": {
              "serviceConnectedPercentage": 2,
              "awardEffectiveDateTime": "2016-02-04T17:51:56Z",
              "monthlyAwardAmount": {
                "value": 2673,
                "currency": "USD"
              },
              "serviceConnectedDisabilities": true,
              "nonServiceConnectedPension": false,
              "individualUnemployabilityGranted": false,
              "chapter35Eligibility": true,
              "specialMonthlyCompensation": false,
              "adaptedHousing": false,
              "chapter35EligibilityDateTime": "2016-02-04T17:51:56Z",
              "hasDeathResultOfDisability": false,
              "hasSurvivorsIndemnityCompensationAward": false,
              "hasSurvivorsPensionAward": false
            }
          }
    recorded_at: Wed, 23 Nov 2022 23:26:33 GMT
recorded_with: VCR 3.0.3