---
http_interactions:
- request:
    method: post
    uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
    body:
      encoding: UTF-8
      string: '{"appId":"<APPID>","appToken":"<APPTOKEN>","subject":"Proxy Client","userType":"SYSTEM"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
      Authorization: Bearer <TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":702,"name":"VA.gov SCDF Proxy Client","permissions":["system/Practitioner.read","system/Condition.read","system/MedicationDispense.read","system/Appointment.read","system/ServiceRequest.read","Patient","system/Immunization.read","system/Person.read","system/MedicationRequest.read","system/Location.read","system/Procedure.read","System","system/DiagnosticReport.read","system/AllergyIntolerance.read","system/Patient.read","system/Organization.read","system/RelatedPerson.read","system/DocumentReference.read","PHR-RW","system/Observation.read","system/Binary.read","system/Encounter.read"]}'
  recorded_at: Wed, 10 Sep 2025 15:45:12 GMT
- request:
    method: get
    uri: "<MHV_UHD_HOST>/v1/medicalrecords/medications?patientId=1000123456V123456"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer <TOKEN>
      X-Api-Key:
      - <X_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 444338bb-ffa7-4c38-b54d-0b3c14826c56
      X-Amzn-Remapped-Content-Length:
      - '278575'
      X-Oneagent-Js-Injection:
      - 'true'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - QsV5lGccvHMFv9Q=
      X-Amzn-Remapped-Date:
      - Wed, 10 Sep 2025 15:45:13 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"vista":{"failedStationList":"","successfulStationList":null,"lastUpdatedTime":"Wed,
        10 Sep 2025 11:42:22 EDT","medicationList":{"medication":[]},"errors":[],"infoMessages":[]},"oracle-health":{"resourceType":"Bundle","total":46,"entry":[{"resource":{"resourceType":"Patient","id":"66889959","meta":{"versionId":"15","lastUpdated":"2025-07-03T17:28:11.000Z"},"text":{"status":"generated","div":"<div
        xmlns=\"http://www.w3.org/1999/xhtml\"><p><b>Patient</b></p><p><b>Name</b>:
        BPTESTSYSSEVEN, EASTON H</p><p><b>Status</b>: Active</p><p><b>DOB</b>: Nov  1,
        1989</p><p><b>Administrative Gender</b>: Male</p></div>"},"extension":[{"url":"http://hl7.org/fhir/us/core/StructureDefinition/us-core-race","extension":[{"url":"detailed","valueCoding":{"system":"urn:oid:2.16.840.1.113883.6.238","code":"2131-1","display":"Other
        Race","userSelected":false}},{"url":"text","valueString":"Prefer Not To Answer"}]},{"url":"http://hl7.org/fhir/us/core/StructureDefinition/us-core-ethnicity","extension":[{"url":"text","valueString":"Prefer
        Not To Answer"}]}],"identifier":[{"id":"CI-7546034934-0","use":"usual","type":{"coding":[{"system":"https://fhir.cerner.com/d45741b3-8335-463d-ab16-8c5f0bcf78ed/codeSet/4","code":"10","display":"MRN","userSelected":true},{"system":"http://terminology.hl7.org/CodeSystem/v2-0203","code":"MR","display":"Medical
        record number","userSelected":false}],"text":"MRN"},"_system":{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/data-absent-reason","valueCode":"unknown"}]},"value":"83620411000001","_value":{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/rendered-value","valueString":"83620411000001"}]},"period":{"start":"2025-04-01T21:21:39.000Z"}},{"id":"CI-7546034928-2","use":"usual","type":{"coding":[{"system":"https://fhir.cerner.com/d45741b3-8335-463d-ab16-8c5f0bcf78ed/codeSet/4","code":"22","display":"DOD
        ID","userSelected":true}],"text":"DOD ID"},"system":"urn:oid:2.16.840.1.113883.3.42.10001.100001.12","value":"2117100076","_value":{"extension":[{"url":"http://hl7.org/fhir/StructureDefinition/rendered-value","valueString":"2117100076"}]},"period":{"start":"2025-04-01T21:21:39.000Z"}},{"id":"CI-7[...]
