---
http_interactions:
- request:
    method: post
    uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
    body:
      encoding: UTF-8
      string: '{"appId":"test-app","appToken":"test-token","subject":"test-subject","userType":"test-user-type"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token-12345
    body:
      encoding: UTF-8
      string: '{"access_token":"test-access-token-12345","token_type":"Bearer","expires_in":3600}'
  recorded_at: Thu, 13 Feb 2026 14:03:53 GMT
- request:
    method: get
    uri: "<MHV_UHD_HOST>/v1/medicalrecords/imaging-study/oracle-health?patientId=123456789V012345&startDate=2026-01-01&endDate=2027-01-01&recordId=urn-vastudy-200CRNR-CM-6-ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWR"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test-access-token-12345
      X-Api-Key:
      - test-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "resourceType": "Bundle",
            "id": "e6295960-a86a-452c-a8cc-c8e174b83b63",
            "meta": {
                "versionId": "1770991112:dtagent10327251022105625r5JC",
                "lastUpdated": "2026-02-13T08:58:32.078-05:00"
            },
            "type": "searchset",
            "total": 1,
            "link": [
                {
                    "relation": "self",
                    "url": "https://mhv-sysb-api.myhealth.va.gov/du/fhir/ImagingStudy?_pretty=true&identifier=urn-vastudy-200CRNR-CM-6-ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWR"
                }
            ],
            "entry": [
                {
                    "fullUrl": "https://mhv-sysb-api.myhealth.va.gov/du/fhir/ImagingStudy/10",
                    "resource": {
                        "resourceType": "ImagingStudy",
                        "id": "10",
                        "meta": {
                            "versionId": "1",
                            "lastUpdated": "2026-01-23T14:08:28.108-05:00",
                            "source": "#777e9a14f1468c5a"
                        },
                        "identifier": [
                            {
                                "use": "usual",
                                "system": "urn:oid:2.16.840.1.113883.3.8901.2",
                                "value": "urn:vastudy:200CRNR-CM_6_ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWRkLTg0LWNiLTljLTQxLTQxLTg0fQ%7e%7e-1012740414V122180"
                            },
                            {
                                "system": "urn:oid:2.16.840.1.113883.3.8901.2",
                                "value": "urn-vastudy-200CRNR-CM-6-ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWR"
                            }
                        ],
                        "status": "available",
                        "subject": {
                            "reference": "Patient/21"
                        },
                        "started": "2026-01-07T18:00:47+00:00",
                        "note": [
                            {
                                "text": "CCIA P3721 EDIPI Ingest test 1-7-26"
                            }
                        ],
                        "description": "CCIA P3721 EDIPI Ingest test 1-7-26",
                        "series": [
                            {
                                "number": 1,
                                "modality": {
                                    "system": "http://dicom.nema.org/resources/ontology/DCM"
                                },
                                "instance": [
                                    {
                                        "extension": [
                                            {
                                                "url": "http://hl7.org/fhir/StructureDefinition/imagingstudy-instance-uid",
                                                "valueString": "urn:vaimage:200CRNR-CM_7_ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWRkLTg0LWNiLTljLTQxLTQxLTg0fQ%7e%7e-CM_7_ezJjLWI2LWQwLWVkLWE0LTQ0LTQwLWVlLWI0LWRkLTg0LWNiLTljLTQxLTQxLTg0fQ%7e%7e-1012740414V122180"
                                            }
                                        ],
                                        "sopClass": {
                                            "system": "http://dicom.nema.org/resources/ontology/DCM"
                                        },
                                        "number": 0,
                                        "title": "PDF"
                                    }
                                ]
                            }
                        ]
                    },
                    "search": {
                        "mode": "match"
                    }
                },
                {
                    "resource": {
                        "resourceType": "OperationOutcome",
                        "id": "268c9f42-c8a2-413b-bddf-03c97540a0db",
                        "issue": [
                            {
                                "severity": "information",
                                "code": "informational",
                                "diagnostics": "Success"
                            },
                            {
                                "severity": "information",
                                "code": "informational",
                                "diagnostics": "Overall message outcome"
                            }
                        ]
                    }
                },
                {
                    "resource": {
                        "resourceType": "OperationOutcome",
                        "id": [...]
