---
http_interactions:
- request:
    method: post
    uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
    body:
      encoding: UTF-8
      string: '{"appId":1000,"appToken":"example token","subject":"VA.gov SCDF Proxy Client","userType":"SYSTEM"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Oneagent-Js-Injection:
      - 'true'
      Authorization: Bearer <TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":702,"name":"VA.gov SCDF Proxy Client","permissions":["system/Practitioner.read","system/Condition.read","system/ServiceRequest.read","Patient","system/Immunization.read","system/Person.read","system/Location.read","system/Procedure.read","System","system/DiagnosticReport.read","system/AllergyIntolerance.read","system/Patient.read","system/Organization.read","system/RelatedPerson.read","system/DocumentReference.read","system/Observation.read","system/Binary.read","system/Encounter.read"]}'
  recorded_at: Mon, 02 Jun 2025 15:11:24 GMT
- request:
    method: get
    uri: "<MHV_UHD_HOST>/v1/medicalrecords/vitals?endDate=2025-06-02&patientId=1000123456V123456&startDate=1900-01-01"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer <TOKEN>
      X-Api-Key:
      - fakeapikey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 70384c50-e1ab-4e0f-a9c0-acbfeb8c133d
      X-Amzn-Remapped-Content-Length:
      - '81542'
      X-Oneagent-Js-Injection:
      - 'true'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - LirMyGJLPHMFVmw=
      X-Amzn-Remapped-Date:
      - Mon, 02 Jun 2025 15:11:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{
        "vista": {
            "resourceType": "Bundle",
            "type": "searchset",
            "total": 2,
            "entry": [
            {
                "resource": {
                "resourceType": "Observation",
                "id": "554488e2-e6a6-487f-b928-2ab94acf6b3b",
                "meta": {
                    "profile": [
                    "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.vitals"
                    ]
                },
                "contained": [
                    {
                    "resourceType": "Location",
                    "id": "location-1416",
                    "meta": {
                        "profile": [
                        "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.location"
                        ]
                    },
                    "identifier": [
                        {
                        "use": "usual",
                        "system": "urn:oid:2.16.840.1.113883.4.349.4.989",
                        "value": "HospitalLocationTO.1416"
                        }
                    ],
                    "name": "CHY ANOTHER TEST CLINIC"
                    }
                ],
                "identifier": [
                    {
                    "use": "usual",
                    "system": "urn:oid:2.16.840.1.113883.4.349.4.989.983",
                    "value": "VitalSignTO.983"
                    }
                ],
                "status": "final",
                "category": [
                    {
                    "coding": [
                        {
                        "system": "http://terminology.hl7.org/CodeSystem/v2-0074",
                        "code": "vital-signs",
                        "display": "Vital Signs"
                        }
                    ]
                    }
                ],
                "code": {
                    "coding": [
                    {
                        "system": "http://loinc.org",
                        "code": "29463-7",
                        "display": "Body weight"
                    }
                    ],
                    "text": "WEIGHT"
                },
                "subject": {
                    "reference": "Patient/24643801"
                },
                "effectiveDateTime": "2025-08-22T22:13:18Z",
                "performer": [
                    {
                    "extension": [
                        {
                        "url": "http://hl7.org/fhir/StructureDefinition/alternate-reference",
                        "valueReference": {
                            "reference": "#location-1416"
                        }
                        }
                    ],
                    "display": "Location 1416"
                    }
                ],
                "valueQuantity": {
                    "value": 68.0,
                    "unit": "lb",
                    "system": "http://unitsofmeasure.org",
                    "code": "[lb_av]"
                }
                }
            },
            {
                "resource": {
                "resourceType": "Observation",
                "id": "ab512a04-f9d6-4100-972c-6a5364451c54",
                "meta": {
                    "profile": [
                    "https://department-of-veterans-affairs.github.io/mhv-fhir-phr-mapping/StructureDefinition/VA.MHV.PHR.vitalsBP"
 [...]
