# @format
---
http_interactions:
  - request:
      method: post
      uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
      body:
        encoding: UTF-8
        string: '{"appId":"test-app","appToken":"test-token","subject":"test-subject","userType":"test-user-type"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer test-access-token-12345
      body:
        encoding: UTF-8
        string: '{"access_token":"test-access-token-12345","token_type":"Bearer","expires_in":3600}'
    recorded_at: Tue, 04 Feb 2026 15:22:00 GMT
  - request:
      method: get
      uri: "<MHV_UHD_HOST>/v1/medicalrecords/imaging-study/oracle-health?patientId=1234567890V012345&startDate=2026-01-01&endDate=2027-01-01&recordId=urn-vastudy-200CRNR-CM-6-ezFkLTc0LTZmLWNlLWY5LTBkLTQ1LWJlLWE1LTY"
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer test-access-token-12345
        X-Api-Key:
          - test-api-key
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: |
          {
              "resourceType": "Bundle",
              "id": "5fb7731f-e66c-4aff-9ef8-b759d4833bc4",
              "meta": {
                  "versionId": "1770218510:dtagent10323250822043923XVuO",
                  "lastUpdated": "2026-02-04T10:21:50.931-05:00"
              },
              "type": "searchset",
              "total": 1,
              "link": [
                  {
                      "relation": "self",
                      "url": "https://mhv-sysb-api.myhealth.va.gov/du/fhir/ImagingStudy?_pretty=true&identifier=urn-vastudy-200CRNR-CM-6-ezFkLTc0LTZmLWNlLWY5LTBkLTQ1LWJlLWE1LTY"
                  }
              ],
              "entry": [
                  {
                      "fullUrl": "https://mhv-sysb-api.myhealth.va.gov/du/fhir/ImagingStudy/13",
                      "resource": {
                          "resourceType": "ImagingStudy",
                          "id": "13",
                          "meta": {
                              "versionId": "1",
                              "lastUpdated": "2026-01-23T14:08:28.108-05:00",
                              "source": "#777e9a14f1468c5a"
                          },
                          "identifier": [
                              {
                                  "use": "usual",
                                  "system": "urn:oid:2.16.840.1.113883.3.8901.2",
                                  "value": "urn:vastudy:200CRNR-CM_6_ezFkLTc0LTZmLWNlLWY5LTBkLTQ1LWJlLWE1LTY1LWVhLTE4LTI0LTRjLWY2LTAxfQ%7e%7e-1234567890V012345"
                              },
                              {
                                  "system": "urn:oid:2.16.840.1.113883.3.8901.2",
                                  "value": "urn-vastudy-200CRNR-CM-6-ezFkLTc0LTZmLWNlLWY5LTBkLTQ1LWJlLWE1LTY"
                              }
                          ],
                          "status": "available",
                          "subject": {
                              "reference": "Patient/21"
                          },
                          "started": "2025-10-28T15:04:44+00:00",
                          "note": [
                              {
                                  "text": "Multum.SDK.Image.Error.jpg"
                              }
                          ],
                          "description": "Multum.SDK.Image.Error.jpg",
                          "series": [
                              {
                                  "number": 1,
                                  "modality": {
                                      "system": "http://dicom.nema.org/resources/ontology/DCM"
                                  },
                                  "instance": [
                                      {
                                          "extension": [
                                              {
                                                  "url": "http://hl7.org/fhir/StructureDefinition/imagingstudy-instance-uid",
                                                  "valueString": "urn:vaimage:200CRNR-CM_7_test-image-id"
                                              },
                                              {
                                                  "url": "http://va.gov/mhv/fhir/StructureDefinition/presigned-url",
                                                  "valueUrl": "https://test-cvix-thumbnails.s3.us-gov-west-1.amazonaws.com/hashed-test-hash1/hashed-test-hash2/hashed-test-hash3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260204T152200Z&X-Amz-Expires=1800&X-Amz-Signature=test-signature"
                                              }
                                          ],
                                          "sopClass": {
                                              "system": "http://dicom.nema.org/resources/ontology/DCM"
                                          },
                                          "number": 0,
                                          "title": "JPEG"
                                      }
                                  ]
                              }
                          ]
                      },
                      "search": {
                          "mode": "match"
                      }
                  },
                  {
                      "resource": {
                          "resourceType": "OperationOutcome",
                          "id": "a91239df-e5ba-4504-9e02-e7c0fe17890d",
                          "issue": [
                              {
                                  "severity": "information",
                                  "code": "informational",
                                  "diagnostics": "Success"
                              },
                              {
                                  "severity": "information",
                                  "code": "informational",
                                  "diagnostics": "Overall message outcome"
                              }
                          ]
                      }
                  },
                  {
                      "resource": {
                          "resourceType": "OperationOutcome",
                          "id": "ce7d3313-6a71-4cdd-a5dc-2bd1fe61ad1f",
                          "issue": [
                              {
                                  "severity": "information",
                                  "code": "informational",
                                  "diagnostics": "Success"
                              },
                              {
                                  "severity": "information",
                                  "code": "informational",
                                  "diagnostics": "Overall message outcome"
                              }
                          ]
                      }
                  }
              ]
          }
    recorded_at: Tue, 04 Feb 2026 15:22:00 GMT
recorded_with: VCR 6.3.1
