---
http_interactions:
- request:
    method: post
    uri: https://staging-api.va.gov/mhvapi/security/v1/login
    body:
      encoding: UTF-8
      string: '{"appId":"MHV","appToken":"test-token","subject":"MHV","userType":"PATIENT"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
    body:
      encoding: UTF-8
      string: '{"access_token":"test-access-token"}'
  recorded_at: Thu, 08 Sep 2025 14:00:00 GMT
- request:
    method: get
    uri: https://staging-api.va.gov/v1/medicalrecords/conditions?patientId=1014135410V826374
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test-access-token
      X-Api-Key:
      - test-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "vista": {
            "entry": [
              {
                "resource": {
                  "id": "condition-1",
                  "resourceType": "Condition",
                  "onsetDateTime": "2025-01-15T10:30:00Z",
                  "code": {
                    "coding": [
                      {
                        "display": "Test Condition"
                      }
                    ]
                  },
                  "asserter": {
                    "display": "Dr. Test"
                  },
                  "encounter": {
                    "display": "Test Facility"
                  },
                  "note": [
                    {
                      "text": "Test comments"
                    },
                    {
                      "text": "Follow-up needed"
                    }
                  ]
                }
              }
            ]
          },
          "oracle-health": {
            "entry": []
          }
        }
  recorded_at: Thu, 08 Sep 2025 14:00:00 GMT
recorded_with: VCR 6.1.0
