---
http_interactions:
- request:
    method: post
    uri: "<MHV_UHD_SECURITY_HOST>/mhvapi/security/v1/login"
    body:
      encoding: UTF-8
      string: '{"appId":"test-app","appToken":"test-token","subject":"test-subject","userType":"test-user-type"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token-12345
    body:
      encoding: UTF-8
      string: '{"access_token":"test-access-token-12345","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 25 Aug 2025 19:00:00 GMT
- request:
    method: get
    uri: "<MHV_UHD_HOST>/v1/medicalrecords/imaging-studies/oracle-health?patientId=123456789V012345&startDate=2024-01-01&endDate=2025-05-31"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test-access-token-12345
      X-Api-Key:
      - test-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
            "resourceType": "Bundle",
            "entry": [
                {
                    "resource": {
                        "resourceType": "ImagingStudy",
                        "id": "urn-vastudy-200CRNR-CM-4-ezg2LWY1LTliLTkzLWY3LTZjLTQxLTgzLTgwLWU",
                        "identifier": [
                            {
                                "use": "usual",
                                "system": "urn:oid:2.16.840.1.113883.3.8901.2",
                                "value": "urn:vastudy:200CRNR-CM_4_ezg2LWY1LTliLTkzLWY3LTZjLTQxLTgzLTgwLWU1LTMzLTA5LTc5LTU0LWE5LWZifQ%7e%7e-1012740414V122180"
                            }
                        ],
                        "status": "available",
                        "subject": {
                            "reference": "Patient/1012740414V122180"
                        },
                        "started": "2026-01-07T19:56:24+00:00",
                        "note": [
                            {
                                "text": "CCIA P3721 EDIPI Ingest test 1-7-26"
                            }
                        ],
                        "description": "CCIA P3721 EDIPI Ingest test 1-7-26",
                        "series": [
                            {
                                "number": 5,
                                "modality": {
                                    "system": "http://dicom.nema.org/resources/ontology/DCM"
                                },
                                "instance": [
                                    {
                                        "extension": [
                                            {
                                                "url": "http://hl7.org/fhir/StructureDefinition/imagingstudy-instance-uid",
                                                "valueString": "urn:vaimage:200CRNR-CM_7_ezg2LWY1LTliLTkzLWY3LTZjLTQxLTgzLTgwLWU1LTMzLTA5LTc5LTU0LWE5LWZifQ%7e%7e-CM_4_ezg2LWY1LTliLTkzLWY3LTZjLTQxLTgzLTgwLWU1LTMzLTA5LTc5LTU0LWE5LWZifQ%7e%7e-1012740414V122180"
                                            }
                                        ],
                                        "sopClass": {
                                            "system": "http://dicom.nema.org/resources/ontology/DCM"
                                        },
                                        "number": 0,
                                        "title": "PDF"
                                    }
                                ]
                            },
                            {
                                "number": 6,
                                "modality": {
                                    "system": "http://dicom.nema.org/resources/ontology/DCM"
                                },
                                "instance": [
                                    {
                                        "extension": [
  [...]
