---
http_interactions:
- request:
    method: get
    uri: https://maps.va.gov/server/rest/services/PROJECTS/Facility_Locator/MapServer?f=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - 7a5cec03
    body:
      encoding: ASCII-8BIT
      string: '{"currentVersion":10.3,"serviceDescription":"VHA Facilities for the
        VA Facility Locator","mapName":"Layers","description":"","copyrightText":"VSSC","supportsDynamicLayers":false,"layers":[{"id":0,"name":"GIS_VA.DBO.FacilityLocator","parentLayerId":-1,"defaultVisibility":true,"subLayerIds":null,"minScale":0,"maxScale":0}],"tables":[],"spatialReference":{"wkid":4326,"latestWkid":4326},"singleFusedMapCache":false,"initialExtent":{"xmin":-125.24908472295178,"ymin":35.92224388587604,"xmax":-66.52438982870885,"ymax":59.36242534577838,"spatialReference":{"wkid":4326,"latestWkid":4326}},"fullExtent":{"xmin":-170.68800339999996,"ymin":-14.278233439999951,"xmax":145.72940300000005,"ymax":64.82780256000007,"spatialReference":{"wkid":4326,"latestWkid":4326}},"minScale":0,"maxScale":0,"units":"esriDecimalDegrees","supportedImageFormatTypes":"PNG32,PNG24,PNG,JPG,DIB,TIFF,EMF,PS,PDF,GIF,SVG,SVGZ,BMP","documentInfo":{"Title":"","Author":"","Comments":"","Subject":"","Category":"","AntialiasingMode":"None","TextAntialiasingMode":"Force","Keywords":"va,facility
        locator,facilitiy,vha"},"capabilities":"Map,Query,Data","supportedQueryFormats":"JSON,
        AMF","exportTilesAllowed":false,"maxRecordCount":3000,"maxImageHeight":4096,"maxImageWidth":4096,"supportedExtensions":""}'
  recorded_at: Thu, 29 Sep 2016 20:39:16 GMT
- request:
    method: post
    uri: https://maps.va.gov/server/rest/services/PROJECTS/Facility_Locator/MapServer/0/query
    body:
      encoding: US-ASCII
      string: f=json&geometry=-122.440689%2C45.451913%2C-122.786758%2C45.64&geometryType=esriGeometryEnvelope&where=EyeCare%3D%27YES%27&inSR=4326&outSR=4326&returnGeometry=true&returnCountOnly=false&outFields=*&resultRecordCount&returnDistinctValues=false&orderByFields=StationID
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - 1514234f
    body:
      encoding: ASCII-8BIT
      string: '{"displayFieldName":"StationName","fieldAliases":{"OBJECTID":"OBJECTID","FacilityDataDate":"FacilityDataDate","OutpatientServicesDataDate":"OutpatientServicesDataDate","StationID":"StationID","VisnID":"VisnID","StationNumber":"StationNumber","StationName":"StationName","CommonStationName":"CommonStationName","CocClassification":"CocClassification","CocClassificationAttribute":"CocClassificationAttribute","Building":"Building","Street":"Street","Suite":"Suite","City":"City","State":"State","Zip":"Zip","Zip4":"Zip4","MainPhone":"MainPhone","MainFax":"MainFax","AfterHoursPhone":"AfterHoursPhone","PatientAdvocatePhone":"PatientAdvocatePhone","EnrollmentCoordinatorPhone":"EnrollmentCoordinatorPhone","PharmacyPhone":"PharmacyPhone","Monday":"Monday","Tuesday":"Tuesday","Wednesday":"Wednesday","Thursday":"Thursday","Friday":"Friday","Saturday":"Saturday","Sunday":"Sunday","Latitude":"Latitude","Longitude":"Longitude","Audiology":"Audiology","ComplementaryAlternativeMed":"ComplementaryAlternativeMed","DentalServices":"DentalServices","DiagnosticServices":"DiagnosticServices","ImagingAndRadiology":"ImagingAndRadiology","LabServices":"LabServices","EmergencyDept":"EmergencyDept","EyeCare":"EyeCare","MentalHealthCare":"MentalHealthCare","OutpatientMHCare":"OutpatientMHCare","OutpatientSpecMHCare":"OutpatientSpecMHCare","VocationalAssistance":"VocationalAssistance","OutpatientMedicalSpecialty":"OutpatientMedicalSpecialty","AllergyAndImmunology":"AllergyAndImmunology","CardiologyCareServices":"CardiologyCareServices","DermatologyCareServices":"DermatologyCareServices","Diabetes":"Diabetes","Dialysis":"Dialysis","Endocrinology":"Endocrinology","Gastroenterology":"Gastroenterology","Hematology":"Hematology","InfectiousDisease":"InfectiousDisease","InternalMedicine":"InternalMedicine","Nephrology":"Nephrology","Neurology":"Neurology","Oncology":"Oncology","PulmonaryRespiratoryDisease":"PulmonaryRespiratoryDisease","Rheumatology":"Rheumatology","SleepMedicine":"SleepMedicine","OutpatientSurgicalSpecialty":"OutpatientSurgicalSpecialty","CardiacSurgery":"CardiacSurgery","ColoRectalSurgery":"ColoRectalSurgery","ENT":"ENT","GeneralSurgery":"GeneralSurgery","Gynecology":"Gynecology","Neurosurgery":"Neurosurgery","Orthopedics":"Orthopedics","PainManagement":"PainManagement","PlasticSurgery":"PlasticSurgery","Podiatry":"Podiatry","ThoracicSurgery":"ThoracicSurgery","Urology":"Urology","VascularSurgery":"VascularSurgery","PrimaryCare":"PrimaryCare","Rehabilitation":"Rehabilitation","UrgentCare":"UrgentCare","WellnessAndPreventativeCare":"WellnessAndPreventativeCare"},"geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID"},{"name":"FacilityDataDate","type":"esriFieldTypeString","alias":"FacilityDataDate","length":1024},{"name":"OutpatientServicesDataDate","type":"esriFieldTypeDate","alias":"OutpatientServicesDataDate","length":36},{"name":"StationID","type":"esriFieldTypeInteger","alias":"StationID"},{"name":"VisnID","type":"esriFieldTypeSmallInteger","alias":"VisnID"},{"name":"StationNumber","type":"esriFieldTypeString","alias":"StationNumber","length":1024},{"name":"StationName","type":"esriFieldTypeString","alias":"StationName","length":1024},{"name":"CommonStationName","type":"esriFieldTypeString","a[...]
