<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      header {
        background-color: #112E50;
        padding: 10px 0px 10px 25px;
      }

      body {
        background-color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <header>
      <img alt="VA Seal" src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/header-logo.png">
    </header>

    <h1>We've added you to our VA coronavirus research volunteer list</h1>

    <p>Thank you again for joining us in this important effort.</p>

    <p>If we think you may be eligible for one of our research studies, we'll call you at the number you listed in the sign-up form. We’ll talk with you about all of the details of the study, including possible risks, to help you decide whether you want to join.</p>

    <p><strong>Remember:</strong></p>
    <ul>
      <li>Some studies have specific requirements. So it may be weeks or months before there's a study that you may be eligible to join.</li>

      <li>We'll never ask for an ID number or for your financial, credit, or bank account information over the phone.</li>
      <li>It's always your choice to join a study, and you can leave a study at any time. Your decision to join a study or not won’t affect your VA health care or any of your VA benefits or services in any way.</li>
    </ul>

    <p><a href="va.gov/coronavirus-research/">Learn more about volunteering for coronavirus research</a></p>

    <p><strong>If you have questions about being part of this volunteer list,</strong> send us an email at <a href="mailto:feedback@va.gov">feedback@va.gov</a>.</p>

    <p><strong>If you'd like us to remove you from this list,</strong> send us an email at <a href="mailto:research@va.gov">research@va.gov</a>. You can ask us to remove you from the list at any time. In your email, tell us your name, phone number, and email you listed on the volunteer form. We'll remove you from the list and we won't contact you again about these research studies.</p>
  </body>
</html>
