---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows?filter=open&offset=0&service_ids%5B%5D=P2477T3&service_ids%5B%5D=P2U58SM&service_ids%5B%5D=P3DA6C8&service_ids%5B%5D=P5D8NB6&service_ids%5B%5D=P5HBHUX&service_ids%5B%5D=P5Q2OCZ&service_ids%5B%5D=PAWZGRJ&service_ids%5B%5D=PB6MPB5&service_ids%5B%5D=PE2MKLT&service_ids%5B%5D=PFBSPDV&service_ids%5B%5D=PH2Y1LE&service_ids%5B%5D=PH3B0G9&service_ids%5B%5D=PHQI9WA&service_ids%5B%5D=PK8LY9N&service_ids%5B%5D=PKA5T1V&service_ids%5B%5D=PLPSIB0&service_ids%5B%5D=PLRWIVM&service_ids%5B%5D=PM1JRF8&service_ids%5B%5D=PQP2NX2&service_ids%5B%5D=PRBIKQ4&service_ids%5B%5D=PT9I57Q&service_ids%5B%5D=PTWP2HL&service_ids%5B%5D=PWGA814
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<PD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d4a06adabca9d467f70bee042541c472"
    body:
      encoding: ASCII-8BIT
      string: '{"maintenance_windows":[],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 12 Oct 2021 02:16:03 GMT
recorded_with: VCR 6.0.0
