---
http_interactions:
- request:
    method: get
    uri: https://internal-staging-services-1341723990.us-gov-west-1.elb.amazonaws.com/api/refdata/v1/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcd12345asd
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "timestamp" : 1517549445809,
          "status" : 401,
          "error" : "Unauthorized",
          "message" : "Authentication Failed: Malformed Token",
          "path" : "/api/refdata/v1/countries"
        }
  recorded_at: Fri, 02 Feb 2018 05:31:41 GMT
recorded_with: VCR 3.0.3
