---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Slot?schedule=no-such-resource
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - stubbed_token
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.5.0
      X-Vamf-Build:
      - 22ad543
      X-Vamf-Timestamp:
      - '2020-06-16T22:20:38+0000'
    body:
      encoding: UTF-8
      string: |-
        {
          "resourceType": "Bundle",
          "id": "d99cc5b8-6376-4aa1-b369-83767ba7dd95",
          "meta": {
            "lastUpdated": "2020-07-14T14:46:47.922+00:00"
          },
          "type": "searchset",
          "total": 0,
          "link": [ {
            "relation": "self",
            "url": "https:///veteran.apps.va.gov/vsp/v1/Slot?_pretty=true&schedule=no-such-resource"
          } ]
        }
  recorded_at: Mon, 06 Jul 2020 20:57:27 GMT
recorded_with: VCR 6.0.0
