---
http_interactions:
- request:
    method: get
    uri: https://veteran.apps.va.gov/vsp/v1/Slot?schedule=Schedule/sch.nep.AVT987.20191208
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json+fhir
      X-Vamf-Jwt:
      - eyJhbGciOiJSUzUxMiJ9.eyJsYXN0TmFtZSI6IkNhcnRlciIsInN1YiI6IjEzNjY1OTU0NTc1OTk5NDYwIiwiYXV0aGVudGljYXRlZCI6dHJ1ZSwiYXV0aGVudGljYXRpb25BdXRob3JpdHkiOiJnb3YudmEudmFvcyIsImlkVHlwZSI6IklDTiIsImdlbmRlciI6Ik1BTEUiLCJpc3MiOiJnb3YudmEudmFtZi51c2Vyc2VydmljZS52MSIsImRhdGVPZkJpcnRoIjoiMTk1NDExMTUiLCJ2ZXJzaW9uIjoyLjEsImVkaXBpZCI6IjI1MzY2ODgyMDkiLCJzc24iOiIzNjgwNDMzMTIiLCJmaXJzdE5hbWUiOiJDaGkiLCJuYmYiOjE1OTQwNjg4NjYsInNzdCI6MTU5NDA2OTA0NSwiZG9iIjoiMTk1NDExMTUiLCJwYXRpZW50Ijp7ImZpcnN0TmFtZSI6IkNoaSIsImxhc3ROYW1lIjoiQ2FydGVyIiwiZ2VuZGVyIjoiTUFMRSIsImljbiI6IjEzNjY1OTU0NTc1OTk5NDYwIiwiZG9iIjoiMTk1NC0xMS0xNSIsImRhdGVPZkJpcnRoIjoiMTk1NC0xMS0xNSIsInNzbiI6IjM2ODA0MzMxMiJ9LCJ2YW1mLmF1dGgucm9sZXMiOlsidmV0ZXJhbiJdLCJleHAiOjE1OTQwNjk5NDYsImp0aSI6IjAxZTU4ZDBiLTNlZWUtNDQzMi04NmE4LWE4ODAzNWQ2MGE5ZCIsImxvYSI6Mn0.GdwyF-GpFQYbPiT_iS7sm7G3xTFt-J6nmDCLR7o9qBCbjf1hYVAe15H7TGFIQdt7S5nMJGEB-4m8AxuvZPmua_n--P2sdgCGXwWofLOLnfX4_Zt7-c5GZEWAXdrCSfVli2BrntlZPafU8h6ggDJUvpC1u_EFXaJUF1OT7BqrR8bZM4w--76DZhcA7UGrewMsnpQKD_gHJRuucJCzOP-_m11XsAuZ-3CdW8SKp_UtdiXzeDQqdB0OZLA8I5SE4569kMMBcJG-F0ViArjdSfjJ9UL54K5ydFt6e8G3GApNpM3jHAGG-Fjk4c6z1pS2OH2BOFaUErC4NN_SegXwv9u2cw
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json+fhir;charset=UTF-8
      X-Vamf-Version:
      - 1.5.0
      X-Vamf-Build:
      - 22ad543
      X-Vamf-Timestamp:
      - '2020-06-16T22:20:38+0000'
    body:
      encoding: UTF-8
      string: |-
        {
            "resourceType": "Bundle",
            "id": "e507d986-dccc-491a-9209-5fa0930b016a",
            "meta": {
              "lastUpdated": "2020-07-14T15:35:50.348+00:00"
            },
            "type": "searchset",
            "total": 2,
            "link": [ {
              "relation": "self",
              "url": "http://veteran.apps.va.gov/vsp/v1/Slot?_pretty=true&schedule=Schedule%2Fsch.nep.AVT987.20191208"
            } ],
            "entry": [ {
              "fullUrl": "http://veteran.apps.va.gov/vsp/Slot/2726094",
              "resource": {
                "resourceType": "Slot",
                "id": "2726094",
                "meta": {
                  "extension": [ {
                    "url": "http://verteran.apps.va.gov/fhir/StructureDefinition/resource-meta-source",
                    "valueUri": "#AOO44ca7UZ2Cm7El"
                  } ],
                  "versionId": "1",
                  "lastUpdated": "2020-07-09T09:16:16.451+00:00"
                },
                "appointmentType": {
                  "coding": [ {
                    "system": "http://whateverappointmenttypetest",
                    "code": "12323",
                    "display": "Appointment Type search test"
                  } ]
                },
                "schedule": {
                  "reference": "Schedule/sch.nep.AVT987.20191208"
                },
                "status": "free",
                "start": "2019-12-08T09:15:00Z",
                "end": "2019-12-08T09:30:00Z",
                "comment": "Appointment type testing search"
              },
              "search": {
                "mode": "match"
              }
            }, {
              "fullUrl": "http://veteran.apps.va.gov/vsp/Slot/slt.nep.AVT987.20191208",
              "resource": {
                "resourceType": "Slot",
                "id": "slt.nep.AVT987.20191208",
                "meta": {
                  "extension": [ {
                    "url": "http:///fhir/StructureDefinition/resource-meta-source",
                    "valueUri": "#RuCRfRJQGYzuTqj3"
                  } ],
                  "versionId": "1",
                  "lastUpdated": "2019-11-22T13:11:39.328+00:00"
                },
                "text": {
                  "status": "generated",
                  "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">\n\t\t\t25 Dec 2013 9:15am - 9:30am: \n\t\t</div>"
                },
                "serviceCategory": {
                  "coding": [ {
                    "code": "27",
                    "display": "Specialist Medical"
                  } ]
                },
                "serviceType": [ {
                  "coding": [ {
                    "code": "165",
                    "display": "Cardiology"
                  } ]
                } ],
                "specialty": [ {
                  "coding": [ {
                    "code": "394579002",
                    "display": "Cardiology"
                  } ]
                } ],
                "appointmentType": {
                  "coding": [ {
                    "system": "http://terminology.hl7.org/CodeSystem/v2-0276",
                    "code": "WALKIN",
                    "display": "A previously unscheduled walk-in visit"
                  } ]
                },
                "schedule": {
                  "reference": "Schedule/sch.nep.AVT987.20191208"
                },
                "status": "free",
                "start": "2019-12-08T09:15:00Z",
                "end": "2019-12-08T09:30:00Z",
                "comment": "Assessments should be performed before requesting appointments in this slot."
              },
              "search": {
                "mode": "match"
              }
            } ]
          }
  recorded_at: Mon, 06 Jul 2020 20:57:27 GMT
recorded_with: VCR 6.0.0
