---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/benefits-reference-data/v1/intake-sites
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - bad_key
  response:
    status:
      code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{
  "totalItems": 0,
  "totalPages": 0,
  "links": [
    {
      "href": "https://sandbox-api.va.gov/services/benefits-reference-data/v1/intake-sites",
      "rel": "self"
    }
  ],
  "items": [
    {
      "id": 5674661,
      "description": "AF Academy"
    }
  ]
}'
  recorded_at: Mon, 25 Mar 2024 17:55:43 GMT
recorded_with: hand-made file, not recorded