---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/benefits-reference-data/v1/disabilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - bad_key
  response:
    status:
      code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalItems":9,"totalPages":1,"links":[{"href":"https://sandbox-api.va.gov/services/benefits-reference-data/v1/disabilities","rel":"self"}],"items":[{"id":10,"name":"abnormal heart","endDateTime":"2016-02-04T17:51:56Z"},{"id":190,"name":"ALS","endDateTime":"2016-02-04T17:51:56Z"},{"id":2650,"name":"foot condition, bilateral","endDateTime":"2016-02-04T17:51:56Z"},{"id":6880,"name":"tooth condition","endDateTime":"2016-02-04T17:51:56Z"},{"id":8987,"name":"Leg Condition - Heart/Veins/Arteries","endDateTime":null},{"id":9014,"name":"Scars (Head, Face, Or Neck)","endDateTime":null},{"id":7290,"name":"PTSD personal trauma","endDateTime":"2016-02-04T17:51:56Z"},{"id":249483,"name":"Aid & Attendance Spouse","endDateTime":null},{"id":249479,"name":"Cyst/Benign Growth - Heart/Veins/Arteries","endDateTime":null}]}'
  recorded_at: Mon, 19 Sep 2022 17:55:43 GMT
recorded_with: hand-made file, not recorded