---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/benefits-reference-data/v1/a_non_existing_end_point
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - bad_key
  response:
    status:
      code: 404
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "errors": [ { "title": "Resource not found", "detail": "Resource not found", "code": "404", "status": "404" } ] }'
  recorded_at: Mon, 19 Sep 2022 17:55:43 GMT
recorded_with: hand-made file, not recorded