---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.va.gov/services/vba_documents/v1/uploads
    headers:
      Content-Type:
      - application/pdf
      Apikey:
      - <LIGHTHOUSE_API_KEY>
  response:
    status:
      code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6d8433c1-cd55-4c24-affd-f592287a7572","type":"document_upload","attributes":{"guid":"6d8433c1-cd55-4c24-affd-f592287a7572","status":"pending","code":"string","detail":"string","location":"https://sandbox-api.va.gov/services_user_content/vba_documents/id-path-doesnt-matter","updated_at":"2018-07-30T17:31:15.958Z","uploaded_pdf":null}}}'
  recorded_at: Fri, 09 Dec 2022 00:00:01 GMT
recorded_with: hand-made file, not recorded 