---
http_interactions:
- request:
    method: post
    uri: https://api.wellhive.com/care-navigation/v1/appointments
    body:
      encoding: UTF-8
      string: '{"patientId":"care-nav-patient-casey","referralId":"ref-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Wellhive-Trace-Id:
      - 32074bba21ef7d7988e01e29e229def0
    body:
      encoding: UTF-8
      string: '{"id":"EEKoGzEf","state":"draft","patientId":"care-nav-patient-casey"}

        '
  recorded_at: Sat, 11 Jan 2025 02:58:31 GMT
recorded_with: VCR 6.3.1
