---
http_interactions:
- request:
    method: post
    uri: https://api.wellhive.com/care-navigation/v1/appointments
    body:
      encoding: UTF-8
      string: '{"patientId":"1012845331V153043","referralId":"ref-123"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Bearer <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Goa-Error:
      - Bad Request
      X-Wellhive-Trace-Id:
      - f2febe1c93219db9e208a8f1422d1d04
    body:
      encoding: UTF-8
      string: '{"message":"invalid patientId","name":"Bad Request"}

        '
  recorded_at: Sat, 11 Jan 2025 02:22:03 GMT
recorded_with: VCR 6.3.1
