---
http_interactions:
- request:
    method: post
    uri: https://vaausvrsapp81.aac.va.gov/VIERSService/eMIS/v1/MilitaryInformationService
    body:
      encoding: ASCII-8BIT
      string: |2

        <soap:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:v1="http://viers.va.gov/cdi/CDI/commonService/v1" xmlns:v12="http://viers.va.gov/cdi/eMIS/RequestResponse/v1" xmlns:v13="http://viers.va.gov/cdi/eMIS/commonService/v1" xmlns:v11="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1">
          <soap:Header>
            <v1:inputHeaderInfo>
              <v1:userId>vets.gov</v1:userId>
              <v1:sourceSystemName>vets.gov</v1:sourceSystemName>
              <v1:transactionId>98f0a7de-dd54-454c-b15d-a84db63d7da5</v1:transactionId>
            </v1:inputHeaderInfo>
          </soap:Header>
          <soap:Body>
            <v11:eMISdeploymentRequest>
              <v12:edipiORicn>
                <v13:edipiORicnValue>1607472595</v13:edipiORicnValue>
                <v13:inputType>EDIPI</v13:inputType>
              </v12:edipiORicn>
            </v11:eMISdeploymentRequest>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - http://viers.va.gov/cdi/eMIS/getDeployment/v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><NS1:Envelope xmlns:NS1="http://www.w3.org/2003/05/soap-envelope"><NS1:Header><NS2:essResponseCode
        xmlns:NS2="http://va.gov/ess/message/v1">Success</NS2:essResponseCode><NS3:inputHeaderInfo
        xmlns:NS3="http://viers.va.gov/cdi/CDI/commonService/v1"><NS3:userId>vets.gov</NS3:userId><NS3:sourceSystemName>vets.gov</NS3:sourceSystemName><NS3:transactionId>98f0a7de-dd54-454c-b15d-a84db63d7da5</NS3:transactionId></NS3:inputHeaderInfo></NS1:Header><NS1:Body><NS4:eMISdeploymentResponse
        xmlns:NS4="http://viers.va.gov/cdi/eMIS/RequestResponse/MilitaryInfo/v1"><NS5:deployment
        xmlns:NS5="http://viers.va.gov/cdi/eMIS/RequestResponse/v1"><NS6:edipi xmlns:NS6="http://viers.va.gov/cdi/eMIS/commonService/v1">1607472595</NS6:edipi><NS7:keyData
        xmlns:NS7="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS7:personnelOrganizationCode>22</NS7:personnelOrganizationCode><NS7:personnelCategoryTypeCode>V</NS7:personnelCategoryTypeCode><NS7:personnelSegmentIdentifier>1</NS7:personnelSegmentIdentifier></NS7:keyData><NS8:deploymentData
        xmlns:NS8="http://viers.va.gov/cdi/eMIS/commonService/v1"><NS8:deploymentSegmentIdentifier>1</NS8:deploymentSegmentIdentifier><NS8:deploymentStartDate>2008-09-08</NS8:deploymentStartDate><NS8:deploymentEndDate>2009-04-18</NS8:deploymentEndDate><NS8:deploymentProjectCode>9GF</NS8:deploymentProjectCode><NS8:deploymentTerminationReason>C</NS8:deploymentTerminationReason><NS8:deploymentTransactionDate>2016-05-18</NS8:deploymentTransactionDate><NS8:DeploymentLocation><NS8:deploymentLocationSegmentIdentifier>1</NS8:deploymentLocationSegmentIdentifier><NS8:deploymentCountry>AE</NS8:deploymentCountry><NS8:deploymentISOAlpha3Country>ARE</NS8:deploymentISOAlpha3Country><NS8:deploymentLocationBeginDate>2008-09-08</NS8:deploymentLocationBeginDate><NS8:deploymentLocationEndDate>2009-04-18</NS8:deploymentLocationEndDate><NS8:deploymentLocationTerminationReasonCode>C</NS8:deploymentLocationTerminationReasonCode><NS8:deploymentLocationTransactionDate>2016-05-14</NS8:deploymentLocationTransactionDate></NS8:DeploymentLocation></NS8:deploymentData></NS5:deployment></NS4:eMISdeploymentResponse></NS1:Body></NS1:Envelope>
  recorded_at: Wed, 19 Apr 2017 19:17:24 GMT
recorded_with: VCR 3.0.3
