name: Push CODEOWNERS to Platform Atlas
on:
  workflow_call:
  push:
    branches:
      - master
    paths:
      - '.github/CODEOWNERS'
permissions:
  id-token: write
  contents: read
  checks: write
jobs:
  copy-codeowners:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ vars.AWS_ASSUME_ROLE }}
          aws-region: "us-gov-west-1"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get bot token from Parameter Store
        uses: department-of-veterans-affairs/action-inject-ssm-secrets@latest
        with:
          ssm_parameter: /devops/VA_VSP_BOT_GITHUB_TOKEN
          env_variable_name: VA_VSP_BOT_GITHUB_TOKEN

      - name:  Check codeowner changes
        id: check-codeowner-changes
        uses: tj-actions/changed-files@v47.0.1 # v46 has a CVE
        with:
          files: |
            .github/CODEOWNERS

      - name: Pushes CODEOWNERS updates to Atlas
        if: steps.check-codeowner-changes.outputs.any_changed == 'true'
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ env.VA_VSP_BOT_GITHUB_TOKEN }}
        with:
          source_file: '.github/CODEOWNERS'
          destination_repo: 'department-of-veterans-affairs/platform-atlas'
          destination_folder: '/lib/codeowners/vets-api'
          destination_branch: 'master'
          user_email: '70344339+va-vsp-bot@users.noreply.github.com'
          user_name: 'va-vsp-bot'
          commit_message: 'Auto update Atlas with Vets-API CODEOWNERS'
