name: 'Check Stale PRs'
on:
  schedule:
    - cron: '30 * * * *'
permissions:
  contents: write
  pull-requests: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-pr-message: 'This PR is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 7 days.'
          close-pr-message: 'This PR has been closed because it has had no activity for 37 days'
          days-before-pr-stale: 30
          days-before-pr-close: 7
          days-before-issue-stale: -1
          days-before-issue-close: -1
          operations-per-run: 1000
          delete-branch: true
