name: Code Checks
on: [push]
jobs:
  linting_and_security:
    name: Linting and Security
    env:
      BUNDLE_ENTERPRISE__CONTRIBSYS__COM: ${{ secrets.BUNDLE_ENTERPRISE__CONTRIBSYS__COM }}
      RAILS_ENV: test 
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install System Packages (pdftk, poppler, imagemagick)
        run: sudo apt install imagemagick pdftk poppler-utils
          
      - name: Run bundle-audit (checks gems for CVE issues)
        run:  bundle exec bundle-audit check --update
 
      - name: Run Rubocop
        run: bundle exec rubocop --parallel --format progress --format json --out rubocop.json
        
      - name: Run Brakeman
        run:  bundle exec brakeman --ensure-latest --confidence-level=2 -o brakeman.json

      - uses: duderman/rubocop-annotate-action@v0.1.0
        with:
          path: rubocop.json
        if: ${{ failure() }}

      - uses: devmasx/brakeman-linter-action@v1.0.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          REPORT_PATH: brakeman.json
        if: ${{ failure() }}

      - name: Publish Test Results
        uses: docker://ghcr.io/enricomi/publish-unit-test-result-action:v1
        if: always()
        with:
          check_name: Test Results
          comment_on_pr: false
          files: log/*.xml
          github_token: ${{ secrets.GITHUB_TOKEN }}
