name: Danger
on: [pull_request]
permissions:
  contents: read
  pull-requests: write
  statuses: write
jobs:
  danger:
    name: Danger

    env:
      BUNDLE_ENTERPRISE__CONTRIBSYS__COM: ${{ secrets.BUNDLE_ENTERPRISE__CONTRIBSYS__COM }}
      DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run Danger
        run: bundle exec danger --head=${{ github.sha }} --base=${{ github.event.pull_request.base.sha }} --verbose
