name: 'Update DataDog Service Catalog'

on:
  pull_request:
    types:
      - merged
    branches:
      - master
    paths:
      - "datadog-service-catalog/**.yml"

jobs:
  get_files:
    name: 'Get all modified and added files'
    runs-on: ubuntu-latest
    outputs:
      files: ${{steps.one.outputs.files}}
    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - id: one
        name: 'Git diff for changes and output matrix of file names'
        run: |
              git fetch origin master
              arr=$(jq -ncR '[inputs]' <<< $(git diff --diff-filter=d --name-only origin/master... -- "datadog-service-catalog/**.yml"))
              out=$(echo $arr | jq '.[] | select(. !="datadog-service-catalog/datadog-service-catalog.yml")| [.]')
              echo ::set-output name=files::$out
  update_dd:
    name: 'Update DD with changes'
    runs-on: ubuntu-latest
    needs:
      - get_files
    strategy:
      matrix:
        file: ${{fromJSON(needs.get_files.outputs.files)}}
    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@v6
      - id: read_yaml
        name: 'Read in the Service Catalog data'
        uses: mikefarah/yq@master
        with:
          cmd: yq '.' ${{matrix.file}}
      - name: 'Update Service Catalog in DataDog'
        run: |
          curl --location --request POST 'https://api.ddog-gov.com/api/v2/services/definitions?schema_version=v2.2' \
          --header 'Accept: application/json' \
          --header 'DD-API-KEY: ${{ secrets.DD_API_KEY }}' \
          --header 'DD-APPLICATION-KEY: ${{ secrets.DD_APP_KEY }}' \
          --header 'Content-Type: text/plain' \
          --data "${{ steps.read_yaml.outputs.result}}"
