name: 'Delete Stale Branches'
on:
  schedule:
    - cron: '0 0 * * 2' # Run once a week on Tuesday at 0:00
permissions:
  contents: write
jobs:
  delete-branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run delete-old-branches-action
        uses: beatlabs/delete-old-branches-action@v0.0.9
        with:
          repo_token: ${{ github.token }}
          date: '6 months ago'
          dry_run: false
          delete_tags: false
          exclude_open_pr_branches: true
