name: Release and Update Manifests

on:
  push:
    branches:
      - k8s
  workflow_dispatch:
  workflow_run:
    workflows: [Code Checks, Build & Push to ECR]
    types: [completed]
    branches: [k8s]

jobs:
  deploy:
    uses: department-of-veterans-affairs/vets-api/.github/workflows/deploy-template.yml@k8s #change to master after testing is successful
    with:
      ecr_repository: 'vets-api'
      manifests_directory: 'vsp-tools-backend/vets-api'
      auto_deploy_envs: 'dev'
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
