name: Helm Chart Prompt

on:
  pull_request:
    branches:
      - parent-helm-charts
jobs:
  settings-sync-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: "us-gov-west-1"

      - name: Get changed files in the chart folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v15.1
        with:
          files: |
            chart/templates/**


      - name: Comment on PR if any of the settings file (above) changed
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Looks like you've updated vets-api parent helm chart template(s). Please add any new values in the chart/values.yaml.
            ex:
            chart/values.yaml
              newValue: ""

            Before PR approval, please confirm the new templates can be locally rendered with the following command:

            $ helm template chart

            If there are any 'Error: template: vets-api/templates/' messages, please fix those errors before merging this PR.

            Additional context:
              Helm docs: https://helm.sh/docs/helm/helm_template/#helm
              Helm Confluence: https://vfs.atlassian.net/wiki/spaces/TT1/pages/2400256031/Parent+Helm+Chart+Setup

          GITHUB_TOKEN: ${{ env.VA_VSP_BOT_GITHUB_TOKEN }}
