name: "PR Labeler"
on: pull_request
permissions:
  contents: read
  pull-requests: write
jobs:
  label:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/labeler.yml
        sync-labels: true
