name: Library SBOM Generation

on:
  push:
    branches:
      - master
      - eb-sbom-trivy-workflow  # TODO: remove after testing
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  generate-sbom:
    uses: department-of-veterans-affairs/vsp-github-actions/.github/workflows/library-sbom-generation.yml@main
    with:
      artifact_name: sbom
      output_bucket: s3://vagov-infra-sbom-bucket/library/vets-api
