name: Preview Environment - Update main image

on:
  push:
    branches:
      - 'master'

jobs:
  update-preview-environment-main-image:
    name: Update preview environment main image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Environment
        run: echo "VETS_API_USER_ID=$(id -u)" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-gov-west-1

      - name: Login to ECR # Update ECR credentials if necessary
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker Image #use "file" input to designate alternate dockerfile path. Defaults to "Dockerfile": https://github.com/docker/build-push-action
        uses: docker/build-push-action@v2
        with:
          build-args: |
            BUNDLE_ENTERPRISE__CONTRIBSYS__COM=${{ env.BUNDLE_ENTERPRISE__CONTRIBSYS__COM }}
            USER_ID=${{ env.VETS_API_USER_ID }}
            RAILS_ENV=production
          context: .
          # target: production
          push: true
          # Update tags and ECR Repository
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/dsva/preview-environment/vets-api:latest
          # cache-from: type=registry,ref=$ECR_REGISTRY/$ECR_REPOSITORY
          # cache-to: type=inline
