name: Require backend-review-group approval  
on:
  pull_request_review:
    types: [submitted]

jobs:
  check-approvals:
    name: Succeed if backend approval is confirmed
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - name: Get GitHub Bot Token
        uses: marvinpinto/action-inject-ssm-secrets@v1.2.1
        with:
          ssm_parameter: /devops/VA_VSP_BOT_GITHUB_TOKEN
          env_variable_name: VA_VSP_BOT_GITHUB_TOKEN
          
      - name: Check for required approvals
        id: check-approvals
        uses: skymoore/required-approvals@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          read_org_scoped_token: ${{ env.VA_VSP_BOT_GITHUB_TOKEN }}
          org_name: department-of-veterans-affairs
          min_approvals: 1
          limit_org_teams_to_codeowners_file: true
          approval_mode: ALL
          require_all_approvals_latest_commit: true

      - name: Run action if all required approvals are met
        if: ${{ steps.check-approvals.outputs.approved == 'true' }}
        run: |
          echo "All required approvals are met. Running the action."
