name: Yardoc

# check documentation in specified paths
on: # `on` parses to `true` in ruby
  pull_request:
    paths:
      # https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths
      - modules/burials/**/*.rb
      - modules/pensions/**/*.rb
      - modules/income_and_assets/**/*.rb
      
permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  yardoc:
    name: Yardoc

    env:
      BUNDLE_ENTERPRISE__CONTRIBSYS__COM: ${{ secrets.BUNDLE_ENTERPRISE__CONTRIBSYS__COM }}
      COVERBAND_DISABLE_AUTO_START: true

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Fetch target branch
        run: git fetch origin "${GITHUB_BASE_REF}" --depth=1

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run Yardoc
        run: bundle exec rake yardoc
