---
http_interactions:
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://person.services.vetsnet.vba.va.gov/" name="PersonWebService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://person.services.vetsnet.vba.va.gov/" schemaLocation="http://linktestbepbenefits.vba.va.gov:80/PersonWebServiceBean/PersonWebService?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="findDependents">
        <part name="parameters" element="tns:findDependents"/>
        </message>
        <message name="findDependentsResponse">
        <part name="parameters" element="tns:findDependentsResponse"/>
        </message>
        <message name="MessageException">
        <part name="fault" element="tns:MessageException"/>
        </message>
        <message name="findDependentsByPtcpntId">
        <part name="parameters" element="tns:findDependentsByPtcpntId"/>
        </message>
        <message name="findDepe[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/PersonWebServiceBean/PersonWebService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://person.services.vetsnet.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>69700018842970585</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:findPersonByPtcpntId><ptcpntId>600061742</ptcpntId></tns:findPersonByPtcpntId></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"findPersonByPtcpntId"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><work:WorkContext
        xmlns:work="http://oracle.com/weblogic/soap/workarea/">rO0ABXdUAB13ZWJsb2dpYy5hcHAuQ29ycG9yYXRlRGF0YUVBUgAAANYAAAAjd2VibG9naWMud29ya2FyZWEuU3RyaW5nV29ya0NvbnRleHQABjMuMS4yNAAA</work:WorkContext></env:Header><S:Body><ns0:findPersonByPtcpntIdResponse
        xmlns:ns0="http://person.services.vetsnet.vba.va.gov/"><PersonDTO><brthdyDt>1986-05-06T00:00:00-05:00</brthdyDt><deathDtEnterdDt>2019-06-06T00:00:00-05:00</deathDtEnterdDt><deathDtUpdatdDt>2019-06-06T00:00:00-05:00</deathDtUpdatdDt><deathHistInd>Y</deathHistInd><deathNotfcnSourceTypeCd>CORP</deathNotfcnSourceTypeCd><emailAddr>test@cococococo.com</emailAddr><empInd>N</empInd><fileNbr>796043735</fileNbr><firstNm>WESLEY</firstNm><firstNmKey>-1</firstNmKey><genderCd>M</genderCd><insFileNbr></insFileNbr><jrnDt>2020-10-05T16:02:53-05:00</jrnDt><jrnExtnlApplcnNm>eBenefits                    </jrnExtnlApplcnNm><jrnExtnlKeyTxt>piv.beatrice.stroud44.va.gov           </jrnExtnlKeyTxt><jrnExtnlUserId>piv.beatrice.stroud44.va.gov           </jrnExtnlUserId><jrnLctnId>281</jrnLctnId><jrnObjId>EBENEFITS  -
        BUPD</jrnObjId><jrnPersonId>217164146</jrnPersonId><jrnStatusTypeCd>U</jrnStatusTypeCd><jrnUserId>VAEBENEFITS</jrnUserId><lastNm>FORD</lastNm><lastNmKey>-1</lastNmKey><middleNm>WATSON</middleNm><middleNmKey>-2</middleNmKey><mltyPersonInd>Y</mltyPersonInd><potntlDngrsInd>N</potntlDngrsInd><ptcpntDTO><blockAutoEnrlmtCd>U</blockAutoEnrlmtCd><blockCaddInd>U</blockCaddInd><ptcpntId>600061742</ptcpntId><ptcpntTypeNm>Person</ptcpntTypeNm></ptcpntDTO><ptcpntId>600061742</ptcpntId><serousEmplmtHndcapInd>N</serousEmplmtHndcapInd><ssnNbr>796043735</ssnNbr><ssnVrfctnStatusTypeCd>0</ssnVrfctnStatusTypeCd><stationOfJurisdiction>499</stationOfJurisdiction><termnlDigitNbr>35</termnlDigitNbr><vetInd>Y</vetInd></PersonDTO></ns0:findPersonByPtcpntIdResponse></S:Body></S:Envelope>
  recorded_at: Tue, 06 Oct 2020 19:10:31 GMT
- request:
    method: get
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/vrm-ws/PaymentInformationService?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). R[...]
- request:
    method: post
    uri: https://internal-dsva-vagov-dev-fwdproxy-1893365470.us-gov-west-1.elb.amazonaws.com:4447/vrm-ws/PaymentInformationService
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ws.vrm.benefits.vba.va.gov/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
          <wsse:UsernameToken>
            <wsse:Username>VAgovAPI</wsse:Username>
          </wsse:UsernameToken>
          <vaws:VaServiceHeaders xmlns:vaws="http://vbawebservices.vba.va.gov/vawss">
            <vaws:CLIENT_MACHINE>192.168.0.95</vaws:CLIENT_MACHINE>
            <vaws:STN_ID>281</vaws:STN_ID>
            <vaws:applicationName>VAgovAPI</vaws:applicationName>
            <vaws:ExternalUid>69700018842970585</vaws:ExternalUid>
            <vaws:ExternalKey>abraham.lincoln@vets.gov</vaws:ExternalKey>
          </vaws:VaServiceHeaders>
        </wsse:Security>
        </env:Header><env:Body><tns:retrievePaymentSummaryWithBDN><ParticipantId>600061742</ParticipantId><FileNumber>796043735</FileNumber><PayeeCode>00</PayeeCode></tns:retrievePaymentSummaryWithBDN></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"retrievePaymentSummaryWithBDN"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><env:Header/><S:Body><ns0:retrievePaymentSummaryWithBDNResponse
        xmlns:ns0="http://ws.vrm.benefits.vba.va.gov/"><PaymentSummaryResponse>
        <payments>
        <payment><beneficiaryParticipantID>600061742</beneficiaryParticipantID><fileNumber>796043735</fileNumber><payeeType>Veteran</payeeType><paymentAmount>3444.7</paymentAmount><paymentDate></paymentDate><paymentStatus>Scheduled</paymentStatus><paymentType>Compensation
        &amp; Pension - Recurring</paymentType><paymentTypeCode>1</paymentTypeCode><programType>Compensation</programType><recipientName>WESLEYFORD</recipientName><recipientParticipantID>600061742</recipientParticipantID><scheduledDate>2019-12-12T00:00:00-06:00</scheduledDate><veteranName>WESLEYFORD</veteranName><veteranParticipantID>600061742</veteranParticipantID><addressEFT><accountNumber>123456</accountNumber><accountType>Checking</accountType><bankName>BANK
        OF AMERICA, N.A.</bankName><routingNumber>111000025</routingNumber></addressEFT><checkAddress><addressLine1></addressLine1><addressLine2></addressLine2><addressLine3></addressLine3><addressLine4></addressLine4><addressLine5></addressLine5><addressLine6></addressLine6><addressLine7></addressLine7><zipCode></zipCode></checkAddress><paymentRecordIdentifier><paymentID>11213114</paymentID></paymentRecordIdentifier><returnPayment><checkTraceNumber></checkTraceNumber><returnReason></returnReason></returnPayment></payment>
        <payment><beneficiaryParticipantID>600061742</beneficiaryParticipantID><fileNumber>796043735</fileNumber><payeeType>Veteran</payeeType><paymentAmount>113.99</paymentAmount><paymentDate></paymentDate><paymentStatus>Scheduled</paymentStatus><paymentType>Compensation
        &amp; Pension - Retroactive</paymentType><paymentTypeCode>3</paymentTypeCode><programType>Compensation</programType><recipientName>WESLEYFORD</recipientName><recipientParticipantID>600061742</recipientParticipantID><scheduledDate>2019-11-26T00:00:00-06:00</scheduledDate><veteranName>WESLEYFORD</veteranName><veteranParticipantID>600061742</veteranParticipantID><addressEFT><accountNumber>123456</accountNumber><accountType>Checking</accountType><bankName>BANK
        OF AMERICA, N.A.</bankName><routingNumber>111000025</routingNumber></addressEFT><checkAddress><addressLine1></addressLine1><addressLine2></addressLine2><addressLine3></addressLine3><addressLine4></addressLine4><addressLine5></addressLine5><addressLine6></addressLine6><addressLine7></addressLine7><zipCode></zipCode></checkAddress><paymentRecordIdentifier><paymentID>11122622</paymentID></paymentRecordIdentifier><returnPayment><checkTraceNumber></checkTraceNumber><returnReason></returnReason></returnPayment></payment>
        </payments>
        <response><responseCode>0</responseCode><responseText>Success</responseText></response></PaymentSummaryResponse></ns0:retrievePaymentSummaryWithBDNResponse></S:Body></S:Envelope>
  recorded_at: Tue, 06 Oct 2020 19:10:33 GMT
recorded_with: VCR 6.0.0
