---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/sms
    body:
      encoding: UTF-8
      string: '{"phone_number":"714-123-1234","template_id":"fake","sms_sender_id":"fake"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer token
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"billing_code":null,"content":{"body":"We received your travel reimbursement claim for
        your VA appt on 123. Claim number,  1234. Status updates will be available online.","from_number":"53079"}'
  recorded_at: Sat, 29 Apr 2023 05:01:44 GMT
recorded_with: VCR 6.1.0
