---
http_interactions:
- request:
    method: post
    uri: http://fakeapi.com/v2/notifications/sms
    body:
      encoding: UTF-8
      string: '{"phone_number":"714-123-1234","template_id":"fake","sms_sender_id":"fake"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer token
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"error":"AuthError","message":"Invalid token: signature, api token not found"}],"status_code":403}'
  recorded_at: Sat, 29 Apr 2023 05:07:56 GMT
recorded_with: VCR 6.1.0
