---
http_interactions:
- request:
    method: get
    uri: https://dev-api.va.gov/services/va_facilities/v0/facilities/vha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - V6qamcNcmk6xbT2sStDcvurVqH3OM27v
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"vha_358","type":"va_facilities","attributes":{"name":"Manila
        VA Clinic","facility_type":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","website":null,"lat":14.544080000000065,"long":120.99139000000002,"address":{"mailing":{},"physical":{"zip":"01302","city":"Pasay
        City","state":"PH","address_1":"1501 Roxas Boulevard","address_2":"NOX3 Seafront
        Compound","address_3":null}},"phone":{"fax":"632-310-5962","main":"632-550-3888","pharmacy":"632-550-3888
        x5029","after_hours":"000-000-0000","patient_advocate":"632-550-3888 x3716","enrollment_coordinator":"632-550-3888
        x3780"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"services":{"other":[],"health":["Audiology","Cardiology","Dermatology","EmergencyCare","Gastroenterology","MentalHealthCare","Ophthalmology","Orthopedics","PrimaryCare","SpecialtyCare"],"last_updated":"2020-04-06"},"satisfaction":{"health":{"specialty_care_routine":0.9100000262260437},"effective_date":"2019-06-20"},"wait_times":{"health":[{"service":"Audiology","new":158.0,"established":14.352941},{"service":"Cardiology","new":66.75,"established":34.034482},{"service":"Dermatology","new":123.5,"established":3.4},{"service":"Gastroenterology","new":208.0,"established":null},{"service":"MentalHealthCare","new":134.222222,"established":24.228571},{"service":"Ophthalmology","new":154.6,"established":10.111111},{"service":"Orthopedics","new":122.0,"established":25.17647},{"service":"PrimaryCare","new":28.8125,"established":18.927083},{"service":"SpecialtyCare","new":75.317073,"established":19.22807}],"effective_date":"2020-04-06"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"21"}}}'
  recorded_at: Tue, 14 Apr 2020 18:58:03 GMT
- request:
    method: get
    uri: https://dev-api.va.gov/services/va_facilities/v0/facilities/bha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - V6qamcNcmk6xbT2sStDcvurVqH3OM27v
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by bha_358 could not be found","code":"404","status":"404"}]}'
  recorded_at: Tue, 14 Apr 2020 19:00:03 GMT
- request:
    method: get
    uri: https://dev-api.va.gov/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - V6qamcNcmk6xbT2sStDcvurVqH3OM27v
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Git-Sha:
      - ''
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Not found","detail":"There are no routes matching
        your request: va_facilities/v0/facilities","code":"411","status":"404"}]}'
  recorded_at: Wed, 15 Apr 2020 13:10:13 GMT
- request:
    method: get
    uri: https://dev-api.va.gov/services/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - V6qamcNcmk6xbT2sStDcvurVqH3OM27v
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[]\" OR \"ids\" OR \"lat, long\" OR \"state\" OR \"zip\" not met for
        actual request parameters: taco={true}","code":"108","status":"400"}]}'
  recorded_at: Wed, 15 Apr 2020 13:13:54 GMT
- request:
    method: get
    uri: https://dev-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=10.54&bbox%5B%5D=180.0&bbox%5B%5D=20.55&bbox%5B%5D=60.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - V6qamcNcmk6xbT2sStDcvurVqH3OM27v
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ra[...]
