---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/nca_9999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by nca_9999999 could not be found","code":"404","status":"404"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:17 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_358AB","type":"va_facilities","attributes":{"name":"Manila
        VA Clinic","parent":{"id":"vha_358"},"facility_type":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","website":null,"lat":14.54408,"long":120.99139,"address":{"mailing":{},"physical":{"zip":"01302","city":"Pasay
        City","state":"PH","address_1":"1501 Roxas Boulevard","address_2":"NOX3 Seafront
        Compound","address_3":null}},"phone":{"fax":"632-310-5962","main":"632-550-3888","pharmacy":"632-550-3888
        x5029","after_hours":null,"patient_advocate":"632-550-3888 x3716","enrollment_coordinator":"632-550-3888
        x3780"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Audiology","Cardiology","Dermatology","EmergencyCare","Ophthalmology","PrimaryCare","SpecialtyCare"],"last_updated":"2021-04-05"},"satisfaction":{"health":{"primary_care_urgent":0.0,"primary_care_routine":0.9100000262260437,"specialty_care_urgent":0.0,"specialty_care_routine":0.0},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Audiology","new":103.0,"established":73.833333},{"service":"Cardiology","new":42.285714,"established":19.053571},{"service":"Dermatology","new":140.25,"established":18.666666},{"service":"Ophthalmology","new":131.0,"established":33.333333},{"service":"PrimaryCare","new":30.111111,"established":29.153846},{"service":"SpecialtyCare","new":76.986666,"established":38.891509}],"effective_date":"2021-04-05"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"detailed_services":null,"visn":"21"}}}'
  recorded_at: Tue, 13 Apr 2021 15:00:18 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122&bbox%5B%5D=-123&bbox%5B%5D=45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Invalid field value","detail":"''[-122, 45, -123]''
        is not a valid value for ''bbox''","code":"103","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:19 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.78675&bbox%5B%5D=45.451913&bbox%5B%5D=45.64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"vba_348e","type":"va_facilities","attributes":{"name":"VetSuccess
        on Campus at Portland Community College Cascade Campus","facility_type":"va_benefits_facility","classification":"Vetsuccess
        On Campus","website":null,"lat":45.56273715,"long":-122.6676496,"address":{"mailing":{},"physical":{"zip":"97217","city":"Portland","state":"OR","address_1":"75
        N. Killingsworth St.","address_2":null,"address_3":null}},"phone":{"fax":null,"main":"503-412-4577"},"hours":{"friday":"8:00AM-4:30PM","monday":"8:00AM-4:30PM","sunday":"Closed","tuesday":"8:00AM-4:30PM","saturday":"Closed","thursday":"8:00AM-4:30PM","wednesday":"8:00AM-4:30PM"},"operational_hours_special_instructions":null,"services":{"benefits":["ApplyingForBenefits","EducationAndCareerCounseling","TransitionAssistance","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":"T","operating_status":{"code":"CLOSED","additional_info":"We''re
        not open for in-person service at this time. Our staff are still available
        by phone and by our online customer service tool."},"detailed_services":null,"visn":null}},{"id":"vha_648GI","type":"va_facilities","attributes":{"name":"Portland
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.portland.va.gov/locations/crrc.asp","lat":45.52023504,"long":-122.6721943,"address":{"mailing":{},"physical":{"zip[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=Haircut&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: services[]={Haircut}, type={benefits}","code":"108","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:28 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=OilChange&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '54'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: services[]={OilChange}, type={health}","code":"108","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:29 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '52'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters:","code":"108","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:31 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?type=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '51'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: type={bogus}","code":"108","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:00:31 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"vha_644BY","type":"va_facilities","attributes":{"name":"Southeast
        VA Clinic","facility_type":"va_health_facility","classification":"Multi-Specialty
        CBOC","website":"https://www.phoenix.va.gov/locations/Southeast.asp","lat":33.293214,"long":-111.754251,"address":{"mailing":{},"physical":{"zip":"85297-7000","city":"Gilbert","state":"AZ","address_1":"3285
        South Val Vista Drive","address_2":null,"address_3":null}},"phone":{"fax":"602-222-6496","main":"480-397-2800","pharmacy":"800-359-8262","after_hours":"888-214-7264","patient_advocate":"602-222-2774","mental_health_clinic":"480-397-2800","enrollment_coordinator":"602-277-5551
        x6508"},"hours":{"friday":"600AM-545PM","monday":"600AM-545PM","sunday":"Closed","tuesday":"600AM-545PM","saturday":"600AM-545PM","thursday":"600AM-545PM","wednesday":"600AM-545PM"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Audiology","DentalServices","Dermatology","EmergencyCare","MentalHealthCare","PrimaryCare","SpecialtyCare"],"last_updated":"2021-04-05"},"satisfaction":{"health":{"primary_care_urgent":0.7200000286102295,"primary_care_routine":0.7400000095367432},"effective_date":"2021-03-05"},"wait_times":{"health":[{"service":"Audiology","new":24.318367,"established":6.34942},{"service":"Dermatology","new":20.846153,"established":23.25},{"service":"MentalHealthCare","new":8.393258,"established":3.691546},{"service":"PrimaryCare","new":19.118988,"established":3.184337},{"service":"SpecialtyCare","new":22.331786,"established":12.885462}],"effective_date":"2021-04-05"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"detailed_services":null,"visn":"22"}}],"links":{"self":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297&page=1&per_page=10","first":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297&page=1&per_page=10","prev":null,"next":null,"last":"https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297&page=1&per_page=10"},"meta":{"pagination":{"current_page":1,"per_page":10,"total_pages":1,"total_entries":1},"distances":[]}}'
  recorded_at: Tue, 13 Apr 2021 15:00:33 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_552,vha_552GB,vha_442GC,vha_442GB,vha_552GA,vha_552GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Rateli[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&exclude_mobile=true&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minut[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '45'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
 [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&mobile=true&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
     [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&mobile=false&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648A4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '39'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: taco={true}","code":"108","status":"400"}]}'
  recorded_at: Tue, 13 Apr 2021 15:01:05 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=10.54&bbox%5B%5D=180.0&bbox%5B%5D=20.55&bbox%5B%5D=60.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=13.54&long=121.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/bha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by bha_358 could not be found","code":"404","status":"404"}]}'
  recorded_at: Tue, 13 Apr 2021 15:01:09 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vc_0617V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities/nca_9999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '44'
      Ratelimit-Reset:
      - '20'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by nca_9999999 could not be found","code":"404","status":"404"}]}'
  recorded_at: Tue, 14 May 2024 19:07:40 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '43'
      Ratelimit-Reset:
      - '19'
      Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"vha_358","type":"va_facilities","attributes":{"name":"Manila
        VA Clinic","facilityType":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","parent":{"id":"vha_358","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358"},"lat":14.54408,"long":120.99139,"timeZone":"Asia/Manila","address":{"physical":{"zip":"01302","city":"Pasay
        City","state":"PH","address1":"1501 Roxas Boulevard","address2":"NOX3 Seafront
        Compound"}},"phone":{"main":"808-433-5254","pharmacy":"808-433-5254","patientAdvocate":"808-433-5254","enrollmentCoordinator":"808-433-5254"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"services":{"health":[{"name":"Audiology","serviceId":"audiology","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/audiology"},{"name":"Cardiology","serviceId":"cardiology","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/cardiology"},{"name":"Dermatology","serviceId":"dermatology","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/dermatology"},{"name":"Gastroenterology","serviceId":"gastroenterology","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/gastroenterology"},{"name":"MentalHealth","serviceId":"mentalHealth","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/mentalHealth"},{"name":"Ophthalmology","serviceId":"ophthalmology","link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services/ophthalmology"}],"link":"https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services","lastUpdated":"2024-05-12"},"satisfaction":{"health":{"specialtyCareUrgent":0.0,"specialtyCareRoutine":0.8399999737739563},"effectiveDate":"2024-02-08"},"mobile":false,"operatingStatus":{"code":"NORMAL"},"visn":"21"}}}'
  recorded_at: Tue, 14 May 2024 19:07:41 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v1/facilities/vha_358/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "message":"Invalid authentication credentials"
        }
  recorded_at: Fri, 26 Jul 2024 20:45:34 GMT
recorded_with: VCR 6.2.0
