---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648A4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_648A4","type":"va_facilities","attributes":{"name":"Portland
        VA Medical Center-Vancouver","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.portland.va.gov/locations/vancouver.asp","lat":45.63938186,"long":-122.65538544,"address":{"mailing":{},"physical":{"zip":"98661-3753","city":"Vancouver","state":"WA","address_1":"1601
        East 4th Plain Boulevard","address_2":null,"address_3":null}},"phone":{"fax":"360-690-0864","main":"360-759-1901","pharmacy":"503-273-5183","after_hours":"360-696-4061","patient_advocate":"503-273-5308","mental_health_clinic":"503-273-5187","enrollment_coordinator":"503-273-5069"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"services":{"other":[],"health":["Audiology","DentalServices","Dermatology","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Podiatry","PrimaryCare","SpecialtyCare"],"last_updated":"2020-09-14"},"satisfaction":{"health":{"primary_care_urgent":0.8100000023841858,"primary_care_routine":0.9200000166893005},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"Audiology","new":55.40625,"established":54.988095},{"service":"Dermatology","new":41.826086,"established":14.304347},{"service":"MentalHealthCare","new":14.888888,"established":0.865256},{"service":"Ophthalmology","new":35.0,"established":5.923076},{"service":"Optometry","new":15.615384,"established":9.194656},{"service":"PrimaryCare","new":10.383928,"established":7.072874},{"service":"SpecialtyCare","new":22.0,"established":14.042572}],"effective_date":"2020-09-14"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"20"}}}'
  recorded_at: Tue, 22 Sep 2020 20:36:59 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?type=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: type={bogus}","code":"108","status":"400"}]}'
  recorded_at: Tue, 22 Sep 2020 20:37:18 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"!bbox[], ids, !lat, !long, !state, !zip\" OR \"!bbox[], lat, long, !state,
        !zip\" OR \"!bbox[], !lat, !long, state, !zip\" OR \"!bbox[], !lat, !long,
        !state, zip\" OR \"bbox[], !lat, !long, !state, !zip\" not met for actual
        request parameters:","code":"108","status":"400"}]}'
  recorded_at: Tue, 22 Sep 2020 20:37:19 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=OilChange&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"!bbox[], ids, !lat, !long, !state, !zip\" OR \"!bbox[], lat, long, !state,
        !zip\" OR \"!bbox[], !lat, !long, state, !zip\" OR \"!bbox[], !lat, !long,
        !state, zip\" OR \"bbox[], !lat, !long, !state, !zip\" not met for actual
        request parameters: services[]={OilChange}, type={health}","code":"108","status":"400"}]}'
  recorded_at: Tue, 22 Sep 2020 20:37:20 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=Haircut&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: services[]={Haircut}, type={benefits}","code":"108","status":"400"}]}'
  recorded_at: Tue, 22 Sep 2020 20:37:21 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"vba_348e","type":"va_facilities","attributes":{"name":"VetSuccess
        on Campus at Portland Community College Cascade Campus","facility_type":"va_benefits_facility","classification":"Vetsuccess
        On Campus","website":null,"lat":45.56273715,"long":-122.6676496,"address":{"mailing":{},"physical":{"zip":"97217","city":"Portland","state":"OR","address_1":"75
        N. Killingsworth St.","address_2":null,"address_3":null}},"phone":{"fax":null,"main":"503-412-4577"},"hours":{"friday":"8:00AM-4:30PM","monday":"8:00AM-4:30PM","sunday":"Closed","tuesday":"8:00AM-4:30PM","saturday":"Closed","thursday":"8:00AM-4:30PM","wednesday":"8:00AM-4:30PM"},"services":{"benefits":["ApplyingForBenefits","EducationAndCareerCounseling","TransitionAssistance","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":"T","operating_status":{"code":"CLOSED","additional_info":"We''re
        not open for in-person service at this time. Our staff are still available
        by phone and by our online customer service tool."},"visn":null}},{"id":"vha_648GI","type":"va_facilities","attributes":{"name":"Portland
        VA Clinic","facility_type":"va_health_facility","classification":"Primary
        Care CBOC","website":"https://www.portland.va.gov/locations/crrc.asp","lat":45.52023504,"long":-122.6721943,"address":{"mailing":{},"physical":{"zip":"97204-3432","city":"Po[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
 [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '49'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_552,vha_552GB,vha_442GC,vha_442GB,vha_552GA,vha_552GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Rateli[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/nca_888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"nca_888","type":"va_facilities","attributes":{"name":"Ft.
        Logan","facility_type":"va_cemetery","classification":"National Cemetery","website":null,"lat":39.64557400,"long":-105.05285940,"address":{"mailing":{"zip":"80236","city":"Denver","state":"CO","address_1":"4400
        W Kenyon Ave","address_2":null,"address_3":null},"physical":{"zip":"80236","city":"Denver","state":"CO","address_1":"4400
        W Kenyon Ave","address_2":null,"address_3":null}},"phone":{"fax":"303-781-9378","main":"303-761-0117"},"hours":{"monday":"Sunrise
        - Sunset","tuesday":"Sunrise - Sunset","wednesday":"Sunrise - Sunset","thursday":"Sunrise
        - Sunset","friday":"Sunrise - Sunset","saturday":"Sunrise - Sunset","sunday":"Sunrise
        - Sunset"},"services":{},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Tue, 22 Sep 2020 20:39:23 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_314c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vc_0543V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648GI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '54'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '51'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '49'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '40'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '37'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '34'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '31'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122&bbox%5B%5D=-123&bbox%5B%5D=45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Invalid field value","detail":"''[-122, 45, -123]''
        is not a valid value for ''bbox''","code":"103","status":"400"}]}'
  recorded_at: Tue, 22 Sep 2020 20:59:13 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/bha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by bha_358 could not be found","code":"404","status":"404"}]}'
  recorded_at: Thu, 24 Sep 2020 20:51:32 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=10.54&bbox%5B%5D=180.0&bbox%5B%5D=20.55&bbox%5B%5D=60.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=13.54&long=121.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: taco={true}","code":"108","status":"400"}]}'
  recorded_at: Thu, 24 Sep 2020 20:55:51 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&exclude_mobile=true&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minut[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&exclude_mobile=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-M[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&exclude_mobile=true&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratel[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&exclude_mobile=true&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Rat[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&exclude_mobile=true&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-T[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?exclude_mobile=true&lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minut[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?exclude_mobile=true&zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    b[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?exclude_mobile=true&ids=vha_442,vha_552,vha_552GB,vha_442GC,vha_442GB,vha_552GA,vha_552GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      -[...]
