---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_358","type":"va_facilities","attributes":{"name":"Manila
        VA Clinic","facility_type":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","website":null,"lat":14.544080000000065,"long":120.99139000000002,"address":{"mailing":{},"physical":{"zip":"01302","city":"Pasay
        City","state":"PH","address_1":"1501 Roxas Boulevard","address_2":"NOX3 Seafront
        Compound","address_3":null}},"phone":{"fax":"632-310-5962","main":"632-550-3888","pharmacy":"632-550-3888
        x5029","after_hours":"000-000-0000","patient_advocate":"632-550-3888 x3716","enrollment_coordinator":"632-550-3888
        x3780"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"services":{"other":[],"health":["Audiology","Cardiology","Dermatology","EmergencyCare","Gastroenterology","MentalHealthCare","Ophthalmology","Orthopedics","PrimaryCare","SpecialtyCare"],"last_updated":"2020-04-06"},"satisfaction":{"health":{"specialty_care_routine":0.9100000262260437},"effective_date":"2019-06-20"},"wait_times":{"health":[{"service":"Audiology","new":158.0,"established":14.352941},{"service":"Cardiology","new":66.75,"established":34.034482},{"service":"Dermatology","new":123.5,"established":3.4},{"service":"Gastroenterology","new":208.0,"established":null},{"service":"MentalHealthCare","new":134.222222,"established":24.228571},{"service":"Ophthalmology","new":154.6,"established":10.111111},{"service":"Orthopedics","new":122.0,"established":25.17647},{"service":"PrimaryCare","new":28.8125,"established":18.927083},{"service":"SpecialtyCare","new":75.317073,"established":19.22807}],"effective_date":"2020-04-06"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"21"}}}'
  recorded_at: Tue, 14 Apr 2020 18:58:03 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/bha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by bha_358 could not be found","code":"404","status":"404"}]}'
  recorded_at: Tue, 14 Apr 2020 19:00:03 GMT
- request:
    method: get
    uri: https://dev-api.va.gov/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Git-Sha:
      - ''
      X-Github-Repository:
      - https://github.com/department-of-veterans-affairs/vets-api
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Not found","detail":"There are no routes matching
        your request: va_facilities/v0/facilities","code":"411","status":"404"}]}'
  recorded_at: Wed, 15 Apr 2020 13:10:13 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[]\" OR \"ids\" OR \"lat, long\" OR \"state\" OR \"zip\" not met for
        actual request parameters: taco={true}","code":"108","status":"400"}]}'
  recorded_at: Wed, 15 Apr 2020 13:13:54 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=10.54&bbox%5B%5D=180.0&bbox%5B%5D=20.55&bbox%5B%5D=60.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=13.54&long=121.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - ta1aGrN8CNI7ftatfbCyKnC5y9gI9xCJ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648A4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_648A4","type":"va_facilities","attributes":{"name":"Portland
        VA Medical Center-Vancouver","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.portland.va.gov/locations/vancouver.asp","lat":45.63942553000004,"long":-122.65533567999995,"address":{"mailing":{},"physical":{"zip":"98661-3753","city":"Vancouver","state":"WA","address_1":"1601
        East 4th Plain Boulevard","address_2":null,"address_3":null}},"phone":{"fax":"360-690-0864","main":"360-759-1901","pharmacy":"503-273-5183","after_hours":"360-696-4061","patient_advocate":"503-273-5308","mental_health_clinic":"503-273-5187","enrollment_coordinator":"503-273-5069"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-630PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"services":{"other":[],"health":["Audiology","DentalServices","Dermatology","EmergencyCare","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Podiatry","PrimaryCare","SpecialtyCare"],"last_updated":"2020-04-13"},"satisfaction":{"health":{"primary_care_urgent":0.85000002384185791,"primary_care_routine":0.88999998569488525},"effective_date":"2019-06-20"},"wait_times":{"health":[{"service":"Audiology","new":5.5,"established":null},{"service":"Dermatology","new":4.25,"established":10.0},{"service":"MentalHealthCare","new":13.714285,"established":2.497297},{"service":"Ophthalmology","new":null,"established":0.764705},{"service":"Optometry","new":0.8,"established":1.347826},{"service":"PrimaryCare","new":5.12,"established":1.289215},{"service":"SpecialtyCare","new":4.76,"established":3.416666}],"effective_date":"2020-04-13"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"20"}}}'
  recorded_at: Tue, 21 Apr 2020 15:47:46 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/nca_888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_314c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vba_314c","type":"va_facilities","attributes":{"name":"VetSuccss
        on Campus at Norfolk State University","facility_type":"va_benefits_facility","classification":"Outbased","website":null,"lat":36.847657500000025,"long":-76.269505119999963,"address":{"mailing":{},"physical":{"zip":"23504","city":"Norfolk","state":"VA","address_1":"700
        Park Avenue","address_2":null,"address_3":null}},"phone":{"fax":"757-823-2078","main":"757-823-8551"},"hours":{"monday":"Closed","tuesday":"Closed","wednesday":"7:00AM-4:30PM","thursday":"7:00AM-4:30PM","friday":"Closed","saturday":"Closed","sunday":"Closed"},"services":{"benefits":["ApplyingForBenefits","EducationAndCareerCounseling","HomelessAssistance","TransitionAssistance","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Tue, 21 Apr 2020 15:48:22 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vc_0543V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vc_0543V","type":"va_facilities","attributes":{"name":"Fort
        Collins Vet Center","facility_type":"vet_center","classification":null,"website":null,"lat":40.552718430000027,"long":-105.08768014999998,"address":{"mailing":{},"physical":{"zip":"80526","city":"Fort
        Collins","state":"CO","address_1":"702 West Drake Road","address_2":"Building
        C","address_3":null}},"phone":{"main":"970-221-5176"},"hours":{"monday":"700AM-530PM","tuesday":"700AM-800PM","wednesday":"700AM-800PM","thursday":"700AM-800PM","friday":"700AM-530PM","saturday":"800AM-1200PM","sunday":"Closed"},"services":{},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Tue, 21 Apr 2020 15:48:33 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648GI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '54'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '51'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vba_348d","type":"va_facilities","attributes":{"name":"VetSuccess
        on Campus at Portland State University","facility_type":"va_benefits_facility","classification":"Vetsuccess
        On Campus","website":null,"lat":45.511442720000048,"long":-122.68447749999996,"address":{"mailing":{},"physical":{"zip":"97204","city":"Portland","state":"OR","address_1":"724
        SW Harrison","address_2":null,"address_3":null}},"phone":{"fax":null,"main":"503-412-4577"},"hours":{"monday":"8:00AM-4:30PM","tuesday":"8:00AM-4:30PM","wednesday":"8:00AM-4:30PM","thursday":"8:00AM-4:30PM","friday":"8:00AM-4:30PM","saturday":"Closed","sunday":"Closed"},"services":{"benefits":["ApplyingForBenefits","EducationAndCareerCounseling","TransitionAssistance","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Tue, 21 Apr 2020 15:48:49 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '49'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vba_306b","type":"va_facilities","attributes":{"name":"New
        York Regional Office at Albany VAMC Hicksville","facility_type":"va_benefits_facility","classification":"Outbased","website":null,"lat":42.651408840000045,"long":-73.776232849999985,"address":{"mailing":{},"physical":{"zip":"12208","city":"Albany","state":"NY","address_1":"113
        Holland Avenue","address_2":"Room C308","address_3":null}},"phone":{"fax":"518-626-5695","main":"518-626-5692"},"hours":{"monday":"8:30AM-4:00PM","tuesday":"8:30AM-4:00PM","wednesday":"8:30AM-4:00PM","thursday":"8:30AM-4:00PM","friday":"8:30AM-4:00PM","saturday":"Closed","sunday":"Closed"},"services":{"benefits":["EducationAndCareerCounseling","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Tue, 21 Apr 2020 15:49:12 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&controller=v0/facilities/va&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - applicati[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&controller=v0/facilities/va&format=json&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
     [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&controller=v0/facilities/va&format=json&lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&controller=v0/facilities/va&format=json&zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Rem[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&controller=v0/facilities/va&format=json&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&controller=v0/facilities/va&format=json&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?action=index&controller=v0/facilities/va&format=json&vha_644BY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: action={index}, controller={v0/facilities/va}, format={json},
        vha_644BY={}","code":"108","status":"400"}]}'
  recorded_at: Fri, 01 May 2020 15:54:33 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
 [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding:[...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=OilChange&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: services[]={OilChange}, type={health}","code":"108","status":"400"}]}'
  recorded_at: Tue, 19 May 2020 17:26:16 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters:","code":"108","status":"400"}]}'
  recorded_at: Tue, 19 May 2020 17:26:18 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=Haircut&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: services[]={Haircut}, type={benefits}","code":"108","status":"400"}]}'
  recorded_at: Tue, 19 May 2020 17:26:19 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?type=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !zip\" OR \"!bbox[], ids, !lat, !long, !state,
        !zip\" OR \"!bbox[], lat, long, !state, !zip\" OR \"!bbox[], !lat, !long,
        state, !zip\" OR \"!bbox[], !lat, !long, !state, zip\" not met for actual
        request parameters: type={bogus}","code":"108","status":"400"}]}'
  recorded_at: Tue, 19 May 2020 17:26:20 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_552,vha_552GB,vha_442GC,vha_442GB,vha_552GA,vha_552GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Rateli[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
[...]
