---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_358","type":"va_facilities","attributes":{"name":"Manila
        VA Clinic","facility_type":"va_health_facility","classification":"Other Outpatient
        Services (OOS)","website":null,"lat":14.54408,"long":120.99139,"address":{"mailing":{},"physical":{"zip":"01302","city":"Pasay
        City","state":"PH","address_1":"1501 Roxas Boulevard","address_2":"NOX3 Seafront
        Compound","address_3":null}},"phone":{"fax":"632-310-5962","main":"632-550-3888","pharmacy":"632-550-3888
        x5029","after_hours":null,"patient_advocate":"632-550-3888 x3716","enrollment_coordinator":"632-550-3888
        x3780"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"operational_hours_special_instructions":null,"services":{"other":[],"health":["Audiology","Cardiology","Dermatology","Gastroenterology","Ophthalmology","PrimaryCare","SpecialtyCare"],"last_updated":"2021-02-15"},"satisfaction":{"health":{},"effective_date":null},"wait_times":{"health":[{"service":"Audiology","new":81.333333,"established":63.361702},{"service":"Cardiology","new":128.0,"established":52.26},{"service":"Dermatology","new":165.333333,"established":95.916666},{"service":"Gastroenterology","new":273.0,"established":null},{"service":"Ophthalmology","new":65.25,"established":32.64},{"service":"PrimaryCare","new":43.56,"established":27.230158},{"service":"SpecialtyCare","new":95.230769,"established":53.319796}],"effective_date":"2021-02-15"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"21"}}}'
  recorded_at: Wed, 24 Feb 2021 17:39:42 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vc_0617V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/bha_358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Record not found","detail":"The record identified
        by bha_358 could not be found","code":"404","status":"404"}]}'
  recorded_at: Wed, 24 Feb 2021 17:39:45 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=10.54&bbox%5B%5D=180.0&bbox%5B%5D=20.55&bbox%5B%5D=60.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=13.54&long=121.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?taco=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '54'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: taco={true}","code":"108","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:39:50 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648A4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vha_648A4","type":"va_facilities","attributes":{"name":"Portland
        VA Medical Center-Vancouver","facility_type":"va_health_facility","classification":"VA
        Medical Center (VAMC)","website":"https://www.portland.va.gov/locations/vancouver.asp","lat":45.63938186,"long":-122.65538544,"address":{"mailing":{},"physical":{"zip":"98661-3753","city":"Vancouver","state":"WA","address_1":"1601
        East 4th Plain Boulevard","address_2":null,"address_3":null}},"phone":{"fax":"360-690-0864","main":"360-759-1901","pharmacy":"503-273-5183","after_hours":"360-696-4061","patient_advocate":"503-273-5308","mental_health_clinic":"503-273-5187","enrollment_coordinator":"503-273-5069"},"hours":{"monday":"730AM-430PM","tuesday":"730AM-430PM","wednesday":"730AM-430PM","thursday":"730AM-430PM","friday":"730AM-430PM","saturday":"Closed","sunday":"Closed"},"operational_hours_special_instructions":"Expanded
        or Nontraditional hours are available for some services on a routine and or
        requested basis. Please call our main phone number for details. |","services":{"other":[],"health":["Audiology","DentalServices","Dermatology","MentalHealthCare","Nutrition","Ophthalmology","Optometry","Podiatry","PrimaryCare","SpecialtyCare"],"last_updated":"2021-02-15"},"satisfaction":{"health":{"primary_care_urgent":0.8100000023841858,"primary_care_routine":0.9200000166893005},"effective_date":"2020-04-16"},"wait_times":{"health":[{"service":"Audiology","new":46.619047,"established":51.410526},{"service":"Dermatology","new":20.277777,"established":22.076923},{"service":"MentalHealthCare","new":13.941176,"established":0.872781},{"service":"Ophthalmology","new":null,"established":3.238532},{"service":"Optometry","new":34.921052,"established":30.927184},{"service":"PrimaryCare","new":8.582677,"established":3.297883},{"service":"SpecialtyCare","new":29.614754,"established":21.455078}],"effective_date":"2021-02-15"},"mobile":false,"active_status":"A","operating_status":{"code":"NORMAL"},"visn":"20"}}}'
  recorded_at: Wed, 24 Feb 2021 17:39:58 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/nca_888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_314c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vba_314c","type":"va_facilities","attributes":{"name":"VetSuccess
        on Campus at Norfolk State University","facility_type":"va_benefits_facility","classification":"Outbased","website":null,"lat":36.8476575,"long":-76.26950512,"address":{"mailing":{},"physical":{"zip":"23504","city":"Norfolk","state":"VA","address_1":"700
        Park Avenue","address_2":null,"address_3":null}},"phone":{"fax":"757-823-2078","main":"757-823-8551"},"hours":{"monday":"Closed","tuesday":"Closed","wednesday":"7:00AM-4:30PM","thursday":"7:00AM-4:30PM","friday":"Closed","saturday":"Closed","sunday":"Closed"},"operational_hours_special_instructions":null,"services":{"benefits":["ApplyingForBenefits","EducationAndCareerCounseling","HomelessAssistance","TransitionAssistance","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Wed, 24 Feb 2021 17:40:02 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vha_648GI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '55'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '54'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '53'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '52'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_348h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '41'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '40'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '34'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"vba_306b","type":"va_facilities","attributes":{"name":"New
        York Regional Office at Albany VAMC Hicksville","facility_type":"va_benefits_facility","classification":"Outbased","website":null,"lat":42.65140884,"long":-73.77623285,"address":{"mailing":{},"physical":{"zip":"12208","city":"Albany","state":"NY","address_1":"113
        Holland Avenue","address_2":"Room C308","address_3":null}},"phone":{"fax":"518-626-5695","main":"518-626-5692"},"hours":{"monday":"8:30AM-4:00PM","tuesday":"8:30AM-4:00PM","wednesday":"8:30AM-4:00PM","thursday":"8:30AM-4:00PM","friday":"8:30AM-4:00PM","saturday":"Closed","sunday":"Closed"},"operational_hours_special_instructions":null,"services":{"benefits":["EducationAndCareerCounseling","VocationalRehabilitationAndEmploymentAssistance"]},"satisfaction":{},"wait_times":{},"mobile":null,"active_status":null,"operating_status":{"code":"NORMAL"},"visn":null}}}'
  recorded_at: Wed, 24 Feb 2021 17:40:38 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities/vba_306i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '33'
    body:
      encoding: [...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.78675&bbox%5B%5D=45.451913&bbox%5B%5D=45.64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
 [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122&bbox%5B%5D=-123&bbox%5B%5D=45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '30'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Invalid field value","detail":"''[-122, 45, -123]''
        is not a valid value for ''bbox''","code":"103","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:40:50 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?type=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: type={bogus}","code":"108","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:41:05 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '58'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters:","code":"108","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:41:08 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=OilChange&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '57'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: services[]={OilChange}, type={health}","code":"108","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:41:11 GMT
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?services%5B%5D=Haircut&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '56'
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Missing parameter","detail":"Parameter conditions
        \"bbox[], !lat, !long, !state, !visn, !zip\" OR \"!bbox[], ids, !lat, !long,
        !state, !visn, !zip\" OR \"!bbox[], lat, long, !state, !visn, !zip\" OR \"!bbox[],
        !lat, !long, state, !visn, !zip\" OR \"!bbox[], !lat, !long, !state, !type,
        visn, !zip\" OR \"!bbox[], !lat, !long, !state, !visn, zip\" not met for actual
        request parameters: services[]={Haircut}, type={benefits}","code":"108","status":"400"}]}'
  recorded_at: Wed, 24 Feb 2021 17:41:13 GMT
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
 [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-122.440689&bbox%5B%5D=-122.786758&bbox%5B%5D=45.451913&bbox%5B%5D=45.64&services%5B%5D=DisabilityClaimAssistance&type=benefits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?lat=33.298639&long=-111.789659
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '50'
    [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?zip=85297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '49'
    body:
      encoding:[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?ids=vha_442,vha_552,vha_552GB,vha_442GC,vha_442GB,vha_552GA,vha_552GD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Rateli[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&exclude_mobile=true&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minut[...]
[...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&mobile=true&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
     [...]
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va_facilities/v0/facilities?bbox%5B%5D=-73.231&bbox%5B%5D=-74.73&bbox%5B%5D=40.015&bbox%5B%5D=41.515&mobile=false&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "<LIGHTHOUSE_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Minute:
    [...]
